<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
				"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.zigbee.manage.dao.CommentMapper">

<select id="findLastNComment" parameterType="map" resultType="CommentEntity">
	SELECT *
	FROM `ColdStorageComment` WHERE `rdcID` = #{rdcID}
	order by `addTime` desc
	limit #{npoint}
</select>

<insert id="insertComment" parameterType="CommentEntity" 
  useGeneratedKeys="true" keyProperty="id">
	INSERT INTO `ColdStorageComment` (
	`rdcid`, 
	`commerid`, 
	`content`, 
	`grade`, 
	`locationGrade`, 
	`facilityGrade`, 
	`serviceGrade`, 
	`sanitaryGrade`, 
	`piclocation`, 
	`addTime`
	)
	VALUES
	(
	#{rdcID}, 
	#{commerID},
	#{content},
	#{grade},
	#{locationGrade},
	#{facilityGrade},
	#{serviceGrade},
	#{sanitaryGrade},
	#{piclocation},
	now()
	);

</insert>

	<select id="findCommentsByRdcId" parameterType="map" resultType="CommentEntity">
		SELECT *
		FROM `ColdStorageComment` WHERE `rdcID` = #{rdcID}
		order by `addTime` desc
	</select>

	<update id="addUsefulCnt" parameterType="int" >
		update ColdStorageComment
		set usefulcnt = usefulcnt+1
		where id=#{id};
	</update>

</mapper>