<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.zigbee.manage.dao.ComMessageReadMapper">

    <insert id="insertComMessageRead" parameterType="ComMessageReadEntity">
        INSERT INTO `message`(
		`userid`,
		`commessageid`
		)
		VALUE 
		(
		#{userid},
		#{commessageid}
		)
    </insert>
    
	<select id="findComMessageReadByUserID" parameterType="map" resultType="ComMessageReadEntity">
		SELECT * FROM `commessageread`
		WHERE `userid` = #{userID}
	</select>
	
</mapper>