<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.zigbee.manage.dao.InformationMapper">

    <insert id="insertInformation" parameterType="InformationEntity">
        INSERT INTO `information`(
		`title`,
		`keywords`,
		`category`,
		`posterid`,
		`browsenum`,
		`content`,
		`coverpic`,
		`posttime`
		)
		VALUE 
		(
		#{title},
		#{keywords},
		#{category},
		#{posterid},
		#{browsenum},
		#{content},
		#{coverpic},
		now()
		)
    </insert>
    
    <update id="updateInformation" parameterType="InformationEntity" >
        update information
        <set >
            <if test="title != null" >
                title = #{title},
            </if>
            <if test="keywords != null" >
                keywords = #{keywords},
            </if>
            <if test="category != null" >
                category = #{category},
            </if>
            <if test="posterid != null" >
                posterid = #{posterid},
            </if>
            <if test="browsenum != null" >
                browsenum = #{browsenum},
            </if>
            <if test="content != null" >
                content = #{content},
            </if>
            <if test="coverpic != null" >
                coverpic = #{coverpic},
            </if>
        </set>
        where id = #{id}
    </update>
	
	<select id="findAllInformation" parameterType="map" resultType="InformationEntity">
         SELECT * FROM `information`
		 <where> 1=1
		    <if test="keyword != null">
		        AND title like "%"#{keyword}"%"
		    </if>
		 </where>
         order by `posttime` desc
    </select>
    
     <select id="findInformationByID" parameterType="map" resultType="InformationEntity">
		SELECT *
		FROM `information` WHERE `id` = #{inforID}
	</select>
	
	<select id="findInformationByPosterID" parameterType="map" resultType="InformationEntity">
		SELECT *
		FROM `information`
		<where> `posterid` = #{posterID}
		    <if test="keyword != null">
		        AND title like "%"#{keyword}"%"
		    </if>
		 </where>
         order by `posttime` desc 
	</select>
	
	<select id="findInformationByCategory" parameterType="map" resultType="InformationEntity">
		SELECT *
		FROM `information` WHERE `category` = #{categoryID} order by `posttime` desc 
	</select>
	<select id="findInformationList" parameterType="map" resultType="InformationEntity">
		SELECT id,`title` ,`coverpic` ,`posttime`  FROM `information` WHERE `category` = 1 order by `posttime` desc 
	</select>
	
	<delete id="deleteInformation" parameterType="map">
	    DELETE FROM information WHERE `id` = #{inforID}
	</delete>
	
	
</mapper>