<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.zigbee.manage.dao.MessageMapper">

    <insert id="insertMessage" parameterType="MessageEntity">
        INSERT INTO `message`(
		`oid`,
		`userid`,
		`msgcount`,
		`msgdata`,
		`msgcategory`,
		`msgpic`,
		`msgurl`,
		`isread`,
		`informtime`
		)
		VALUE 
		(
		#{oid},
		#{userid},
		#{msgcount},
		#{msgdata},
		#{msgcategory},
		#{msgpic},
		#{msgurl},
		#{isread},
		now()
		)
    </insert>
    
    
    <update id="updateMessage" parameterType="MessageEntity" >
        update message
        <set >
            <if test="userid != null" >
                userid = #{userid},
            </if>
            <if test="msgcount != null" >
                msgcount = #{msgcount},
            </if>
            <if test="msgdata != null" >
                msgdata = #{msgdata},
            </if>
            <if test="msgcategory != null" >
                msgcategory = #{msgcategory},
            </if>
            <if test="msgpic != null" >
                msgpic = #{msgpic},
            </if>
            <if test="msgurl != null" >
                msgurl = #{msgurl},
            </if>
            <if test="isread != null" >
                isread = #{isread},
            </if>
        </set>
        where id = #{id}
    </update>
	
	<select id="findAllMessage" parameterType="map" resultType="MessageEntity">
         SELECT * FROM `message`
		 <where> 1=1
		    <if test="keyword != null">
		        AND msgdata like "%"#{keyword}"%"
		    </if>
		 </where>
         order by `informtime` desc
    </select>
    
     <select id="findMessageByID" parameterType="map" resultType="MessageEntity">
		SELECT *
		FROM `message` WHERE `id` = #{msgID}
	</select>
	

	<select id="findMessageByUserID" parameterType="map" resultType="MessageEntity">
		SELECT * FROM `message`
		WHERE `userid` = #{userID} order by `informtime` desc 
	</select>
	
	<select id="findMessageByCategory" parameterType="map" resultType="MessageEntity">
		SELECT *
		FROM `message` WHERE `category` = #{categoryID} order by `informtime` desc 
	</select>
	
	<delete id="deleteMessage" parameterType="map">
	    DELETE FROM message WHERE `id` = #{msgID}
	</delete>
	
	
	
	<select id="getMsgCountByUID" parameterType="map" resultType="Integer">
		SELECT  COUNT(*) FROM `message` WHERE `userid` = #{userID}  and isread=0;
	</select>
	<update id="updateMsgStaus" parameterType="map">
       update `message` SET isread=1 where  `userid` =#{userID}  <if test="ids!=null and ids!=''"> and id in(${ids})</if>;
    </update>
	
</mapper>