<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.zigbee.manage.dao.MsgCategoryMapper">

    <insert id="insertMsgCategory" parameterType="MsgCategoryEntity">
        INSERT INTO `msgcategory`(
		`categoryname`,
		`orderid`,
		`categorypic`,
		`inserttime`
		)
		VALUE 
		(
		#{categoryname},
		#{orderid},
		#{categorypic},
		now()
		)
    </insert>
    
    <update id="updateMsgCategory" parameterType="MsgCategoryEntity" >
        update msgcategory
        <set >
            <if test="categoryname != null" >
                categoryname = #{categoryname},
            </if>
            <if test="orderid != null" >
                orderid = #{orderid},
            </if>
            <if test="categorypic != null" >
                categorypic = #{categorypic},
            </if>
        </set>
        where id = #{id}
    </update>
	
	<select id="findAllMsgCategory" parameterType="map" resultType="MsgCategoryEntity">
         SELECT * FROM `msgcategory` order by `inserttime` desc
    </select>
    
     <select id="findMsgCategoryByID" parameterType="map" resultType="MsgCategoryEntity">
		SELECT *
		FROM `msgcategory` WHERE `id` = #{categoryID}
	</select>
	
	<delete id="deleteMsgCategory" parameterType="map">
	    DELETE FROM msgcategory WHERE `id` = #{categoryID}
	</delete>
	
	
</mapper>