<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.zigbee.manage.dao.OrdersMapper">

    <insert id="insertOrder" parameterType="OrdersEntity">
      <selectKey resultType="java.lang.Short" order="AFTER" keyProperty="id">
           SELECT LAST_INSERT_ID() AS id
          </selectKey>
        INSERT INTO `orders`(
		`orderid`,
		`ordername`,
		`ownerid`,
		`ownername`,
		`ownertele`,
		`userid`,
		`username`,
		`usertele`,
		`shareinfoid`,
		`state`,
		`number`,
		`generatetime`
		)
		VALUE 
		(
		#{orderid},
		#{ordername},
		#{ownerid},
		#{ownername},
		#{ownertele},
		#{userid},
		#{username},
		#{usertele},
		#{shareinfoid},
		#{state},
		#{number},
		now()
		)
    </insert>
    <delete id="deleteByOrderID">
		delete from orders where id = #{orderID}
	</delete>

    <select id="findOrdersByPersonId" parameterType="map" resultType="OrdersEntity">
		SELECT * FROM `orders`
		WHERE 1=1
	        <if test="userid !=0"> and (`userid` = #{userid} OR `ownerid` = #{userid}) </if> <!--  关键字 -->
	        <if test="keyword != null">
		        AND orderid  = #{keyword}
		    </if>
		      ORDER BY generatetime DESC
	</select>

    <select id="findOrdersByUserId" parameterType="map" resultType="OrdersEntity">
		SELECT * FROM `orders` WHERE `userid` = #{userid} ORDER BY generatetime DESC
	</select>
	
	<select id="findOrdersByOwnerId" parameterType="map" resultType="OrdersEntity">
		SELECT * FROM `orders` WHERE `ownerid` = #{ownerid} ORDER BY generatetime DESC
	</select>
	
	<select id="findOrderByOrderId" parameterType="map" resultType="OrdersEntity">
		SELECT * FROM `orders` WHERE `id` = #{orderid} ORDER BY generatetime DESC
	</select>
	
	<select id="findOrdersByOrderName" parameterType="map" resultType="OrdersEntity">
		SELECT * FROM `orders` WHERE `ordername` = #{ordername} ORDER BY generatetime DESC
	</select>


</mapper>