<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.zigbee.manage.dao.RdcShareMapper">

    <!--     获得睿库信息 -->
	<select id="getRdcList" parameterType="map" resultType="com.smartcold.zigbee.manage.dto.RdcShareDTO">
	      select    r.id rdcID, r.name,r.provinceid,r.cityid, r.address from rdc r where 1=1 <if test="userid !=null and  userid != ''"> and r.userid=#{userid} </if> GROUP BY r.id ORDER BY r.addtime 
	</select>

	<!-- 根据rdcid查询下面全部信息 -->
	<select id="getSEListByRdcID" parameterType="map" resultType="com.smartcold.zigbee.manage.dto.RdcShareDTO">
		SELECT
		s.id,
		s.rdcID,
		s.dataType,
		s.releaseID,
		s.title,
		s.unitPrice,
		s.unit1,
		s.typeText,
		s.sqm,
		date_format(s.validStartTime,'%Y-%m-%d') validStartTime,
		date_format(s.validEndTime,'%Y-%m-%d') validEndTime,
		s.applyID,
		s.bookings,
		s.stauts,s.detlAddress,
		<!-- date_format(s.addtime, '%Y-%m-%d %H:%i:%s') addtime, -->
		<!-- date_format(s.updatetime,'%Y-%m-%d %H:%i:%s') updatetime, -->
		r. NAME,
		r.address,
		r.coldtype,
		(SELECT location FROM filedata f WHERE f.belongid = r.id AND f.category = 'storagePic' ORDER BY id DESC LIMIT 1 ) AS logo
		FROM
		shared_info s
		LEFT JOIN rdc r ON s.rdcID = r.id
		WHERE
		s.stauts = #{sstauts} 
		<if test="type !=null and  type != ''"> and s.typeCode=#{type}</if>
		<if test="dataType !=null and  dataType != ''"> and s.dataType in (${dataType}) </if>
		<if test="keyword !=null and  keyword != ''"> and s.title like '%${keyword}%' </if>  <!-- 关键字 -->
		<if test="rdcID !=null and  rdcID != ''"> and r.id in (${rdcID}) </if> 
		GROUP BY
		s.id
		ORDER BY
		s.updatetime DESC
	</select>
	<!-- 商品共享查询 -->
	<select id="getSEGDList" parameterType="map" resultType="com.smartcold.zigbee.manage.dto.RdcShareDTO">
		SELECT
		s.id,
		s.rdcID,
		s.releaseID,
		s.title,
		s.unitPrice,
		s.unit1,
		s.typeText,
		s.sqm,
		date_format(s.validStartTime,'%Y-%m-%d') validStartTime,
		date_format(s.validEndTime,'%Y-%m-%d') validEndTime,
		s.applyID,
		s.bookings,
		s.stauts,s.detlAddress,
		<!-- date_format(s.addtime, '%Y-%m-%d %H:%i:%s') addtime, -->
		<!-- date_format(s.updatetime,'%Y-%m-%d %H:%i:%s') updatetime, -->
		r.address,
		r. NAME,
		(SELECT location FROM filedata f WHERE f.belongid = r.id AND f.category =
		'storagePic' ORDER BY id DESC LIMIT 1 ) AS logo
		FROM
		shared_info s
		LEFT JOIN rdc r ON s.rdcID = r.id
		<!-- LEFT JOIN comm_mata_data c ON s.codeLave = c.type_code -->
		WHERE
		s.stauts = #{sstauts} and s.dataType=#{datatype}
<!--     	AND (CURRENT_TIMESTAMP () BETWEEN s.validStartTime AND s.validEndTime )  -->
		<if test="type !=null and  type != ''"> and s.typeCode=#{type} </if>
		<if test="keyword !=null and  keyword != ''"> and s.title like '%${keyword}%' </if>  <!-- 关键字 -->
		<if test="provinceid !=null and  provinceid != ''"> and r.provinceid = #{provinceid} </if> <!-- 区域 -->
		<if test="goodtype !=null and  goodtype != ''"> and s.codeLave1 in (${goodtype})</if> <!-- 品类类型 -->
		GROUP BY
		s.id
		ORDER BY
		s.updatetime DESC
	</select>
	<!-- 配送查询 -->
	<select id="getSEPSList" parameterType="map"
		resultType="com.smartcold.zigbee.manage.dto.RdcShareDTO">
		<!-- SELECT type_name FROM comm_mata_data f WHERE f.source_type='ps_fm_type' 
			and f.type_code=1 LIMIT 1; SELECT s.id, s.rdcID, s.releaseID, s.title, s.note, 
			s.unit1, s.unit2, s.typeText, date_format(s.validStartTime,'%Y-%m-%d %H:%i:%s') 
			validStartTime, date_format(s.validEndTime,'%Y-%m-%d %H:%i:%s') validEndTime, 
			s.applyID, s.bookings, s.stauts, r.address, r.name, f.type_name codeLave1,f1.type_name 
			codeLave2, (SELECT location FROM filedata f WHERE f.belongid = r.id AND f.category 
			= 'storagePic' ORDER BY id DESC LIMIT 1) logo FROM shared_info s LEFT JOIN 
			rdc r ON s.rdcID = r.id left join comm_mata_data f on f.type_code=s.codeLave1 
			and f.source_type='ps_fm_type' left join comm_mata_data f1 on f1.type_code=s.codeLave2 
			and f.source_type='ps_cl_type' WHERE s.stauts = 1 and s.dataType=2 AND (CURRENT_TIMESTAMP 
			() BETWEEN s.validStartTime AND s.validEndTime) GROUP BY s.id ORDER BY s.updatetime 
			DESC -->
		SELECT
		s.id,
		s.rdcID,
		s.releaseID,
		s.title,
		s.unit1,
		s.unit2,
		s.typeText,
<!-- 		s.attrvalue, -->
		date_format(s.validStartTime,'%Y-%m-%d') validStartTime,
		date_format(s.validEndTime,'%Y-%m-%d') validEndTime,
		s.applyID,
		s.bookings,
		s.stauts,
		s.detlAddress,
		<!-- r.address, -->
		<!-- r.name, -->
		(SELECT type_name FROM comm_mata_data f WHERE f.source_type='ps_fm_type' and f.type_code=s.codeLave1 LIMIT 1 )codeLave1,
	    (select type from storagetruck k where k.id=s.codeLave3 LIMIT 1 ) codeLave3,
		(SELECT location FROM filedata f WHERE f.belongid = r.id AND f.category ='storagePic' ORDER BY id DESC LIMIT 1 ) logo
		FROM
		shared_info s 
		LEFT JOIN rdc r ON s.rdcID = r.id
		WHERE
		s.stauts = #{sstauts} and s.dataType=#{datatype} 
<!-- 	   AND (CURRENT_TIMESTAMP () BETWEEN s.validStartTime AND s.validEndTime )   -->
        <if test="type !=null and  type != ''"> and s.typeCode=#{type} </if>
		<if test="keyword !=null and  keyword != ''"> and s.title like '%${keyword}%' </if>  <!-- 关键字 -->
		<if test="carType !=null and  carType != ''"> and s.codeLave3 in (${carType}) </if>  <!-- codeLave3:车型 -->
		<if test="businessType !=null and  businessType != ''"> and s.codeLave1 in (${businessType}) </if>  <!-- codeLave1:业务类型 -->
		<if test="storagetempertype !=null and  storagetempertype != ''"> and s.codeLave2 in(${storagetempertype}) </if>  <!-- codeLave2:温度类型 -->
		<if test="stprovinceID !=null and  stprovinceID != ''"> and s.stprovinceID in(${stprovinceID}) </if>  <!-- codeLave2:温度类型 -->
		<if test="stcityID !=null and  stcityID != ''"> and s.stcityID in(${stcityID}) </if>  <!-- codeLave2:温度类型 -->
		<if test="toprovinceID !=null and  toprovinceID != ''"> and s.toprovinceID in(${toprovinceID}) </if>  <!-- codeLave2:温度类型 -->
		<if test="tocityID !=null and  tocityID != ''"> and s.tocityID in(${tocityID}) </if>  <!-- codeLave2:温度类型 -->
		<if test="validStartTime !=null and  validStartTime != ''"> and ( s.validStartTime &lt;=#{validStartTime} AND s.validEndTime &gt;=#{validEndTime} ) </if>  <!-- 时间范围 -->
		GROUP BY s.id
		ORDER BY s.updatetime DESC
	</select>
	<!-- 睿库共享查询 -->
	<select id="getSERDCList" parameterType="map"
		resultType="com.smartcold.zigbee.manage.dto.RdcShareDTO">
		SELECT
		s.id,
		s.rdcID,
	    s.releaseID, 
		s.title,
		s.typeCode, 
		s.typeText,
		s.unitPrice,
		s.unit,
		s.sqm,
		date_format(s.validStartTime,'%Y-%m-%d') validStartTime,
		date_format(s.validEndTime,'%Y-%m-%d') validEndTime,
<!-- 		s.applyID, -->
<!-- 		s.bookings, -->
<!-- 		s.stauts, -->
		s.detlAddress,
		<!-- date_format(s.addtime,'%Y-%m-%d %H:%i:%s') addtime, -->
		<!-- date_format(s.updatetime,'%Y-%m-%d %H:%i:%s') updatetime, -->
		r.address,
		r.name,
		r.coldtype,
		(SELECT location FROM filedata f WHERE f.belongid = r.id AND f.category =
		'storagePic' ORDER BY id DESC LIMIT 1 ) as logo
		FROM
		shared_info s
		LEFT JOIN rdc r ON s.rdcID = r.id
		LEFT JOIN rdcext t on s.rdcID=t.RDCID
		WHERE
		s.stauts = #{sstauts} and s.dataType=#{datatype} 
<!-- 		AND (CURRENT_TIMESTAMP () BETWEEN s.validStartTime AND s.validEndTime) -->
		<if test="managetype !=null and  managetype != ''"> and t.managetype in (${managetype})</if> <!-- 经营类型 -->
		<if test="type !=null and  type != ''"> and s.typeCode=#{type} </if>
		<if test="sqm !=null and  sqm != ''"> and ${sqm} </if>
		<if test="keyword !=null and  keyword != ''"> and s.title like '%${keyword}%' </if>  <!-- 关键字 -->
		<if test="provinceid !=null and  provinceid != ''"> and r.provinceid = #{provinceid} </if> <!-- 区域 -->
		<if test="managetype !=null and  managetype != ''"> and t.managetype in (${managetype})</if> <!-- 经营类型 -->
		<if test="storagetempertype !=null and  storagetempertype != ''"> and t.storagetempertype in (${storagetempertype})</if><!--  温度类型 -->
		GROUP BY
		s.id
		ORDER BY
		s.updatetime DESC
	</select>
	<insert id="addshareInfo" parameterType="com.smartcold.zigbee.manage.dto.RdcShareDTO">
		INSERT INTO shared_info   
		 <set > 
								<if test=" rdcID         !=0">                          rdcID           =#{rdcID            }  ,</if>
								<if test=" releaseID     !=0">	                        releaseID       =#{releaseID        }  ,</if>
								<if test=" codeLave1     !=null and codeLave1  !=''">	codeLave1       =#{codeLave1        }  ,</if>
								<if test=" codeLave2     !=null and codeLave1  !=''">	codeLave2       =#{codeLave2        }  ,</if>
								<if test=" codeLave3     !=null and codeLave2  !=''">	codeLave3       =#{codeLave3        }  ,</if>
								<if test=" codeLave4     !=null and codeLave3  !=''">	codeLave4       =#{codeLave4        }  ,</if>
								<if test=" title         !=null and codeLave4  !=''">	title           =#{title            }  ,</if>
								<if test=" typeCode      !=0">                          typeCode        =#{typeCode         }  ,</if>
								<if test=" typeText      !=null and typeText   !=''">	typeText        =#{typeText         }  ,</if>
								<if test=" unitPrice     !=0 ">	                        unitPrice       =#{unitPrice        }  ,</if>
								<if test=" sqm           !=0 ">                         sqm             =#{sqm              }  ,</if>
								<if test=" unit          !=null and unit       !=''">	unit            =#{unit             }  ,</if>
								<if test=" unit1         !=null and unit1      !=''">	unit1           =#{unit1            }  ,</if>
								<if test=" unit2         !=null and unit2      !=''">	unit2           =#{unit2            }  ,</if>
								<if test=" validStartTime!=null and validStartTime!=''">validStartTime  =#{validStartTime   }  ,</if>
								<if test=" validEndTime  !=null and validEndTime  !=''">validEndTime    =#{validEndTime     }  ,</if>
								<if test=" applyID       !=0">	                        applyID         =#{applyID          }  ,</if>
								<if test=" bookings      !=0">	                        bookings        =#{bookings         }  ,</if>
								<if test=" attrvalue     !=null and attrvalue  !=''">	attrvalue       =#{attrvalue        }  ,</if>
								<if test=" telephone     !=null and telephone  !=''">	telephone       =#{telephone        }  ,</if>
								<if test=" note          !=null and note       !=''">	note            =#{note             }  ,</if>
								<if test=" stauts        !=0">	                        stauts          =#{stauts           }  ,</if>
								<if test=" stprovinceID  !=0">	                        stprovinceID    =#{stprovinceID     }  ,</if>
								<if test=" stcityID      !=0">	                        stcityID        =#{stcityID         }  ,</if>
								<if test=" staddress     !=null and telephone  !=''">	staddress       =#{staddress        }  ,</if>
								<if test=" toprovinceID  !=0">	                        toprovinceID    =#{toprovinceID     }  ,</if>
								<if test=" tocityID      !=0">	                        tocityID        =#{tocityID         }  ,</if>
								<if test=" toaddress     !=null and telephone  !=''">	 toaddress       =#{toaddress       }  ,</if>
								<if test=" provinceid    !=0">	                        provinceid      =#{provinceid       }  ,</if>
								<if test=" cityid        !=0">	                        cityid          =#{cityid           }  ,</if>
								<if test=" address       !=null and address    !=''">	address         =#{address          }  ,</if>
								<if test=" detlAddress   !=null and detlAddress!=''">	detlAddress     =#{detlAddress      }  ,</if>
								<if test=" dataType      !=0">	                        dataType        =#{dataType         }   </if>
		</set>                                                                                                                       
	</insert>
</mapper>