<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartcold.zigbee.manage.dao.UserOpenIdMapper">

    <select id="selectByUserId" resultType="java.lang.String">
        SELECT w.`openid` FROM `useropenid` o LEFT JOIN `wxuser` w ON o.`wxuserid`=w.`id` WHERE `userid`=#{userid}
    </select>
</mapper>