<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.zigbee.manage.dao.UserMapper">

    <insert id="insertUser" parameterType="UserEntity">
        INSERT INTO `user`(
		`username`,
		`password`,
		`telephone`,
		`email`,
		`realname`,
		`addTime`
		)
		VALUE 
		(
		#{username},
		#{password},
		#{telephone},
		#{email},
		#{realname},
		now()
		)
    </insert>
    
      <update id="updateUser" parameterType="com.smartcold.zigbee.manage.entity.UserEntity" >
        update user
        <set>
	         <if test="role       !=null">role       =#{role      },</if>
	         <if test="sex        !=null">sex        =#{sex       },</if>
	         <if test="addressid  !=null">addressid  =#{addressid },</if>
	         <if test="hometownid !=null">hometownid =#{hometownid},</if>
	         <if test="username   !=null and username !=''">username   =#{username  },</if>
	         <if test="password   !=null and password !=''">password   =#{password  },</if>
	         <if test="telephone  !=null and telephone!=''">telephone  =#{telephone },</if>
	         <if test="realname   !=null and realname !=''"> realname  =#{realname  },</if>
	         <if test="nickname   !=null and nickname !=''"> nickname  =#{nickname  },</if>
	         <if test="email      !=null and email    !=''">   email   =#{email     },</if>
	         <if test="avatar     !=null and avatar   !=''">   avatar  =#{avatar    },</if>
	         <if test="addTime    !=null and addTime  !=''">addTime    =#{addTime   },</if>
	         <if test="updateTime !=null and updateTime!=''">updateTime=#{updateTime}</if>
        </set>
        where id = ${id}
    </update>

    <select id="findUser" parameterType="map" resultType="UserEntity">
					SELECT u.*,p1.ProvinceName address,p2.ProvinceName hometown FROM user u LEFT JOIN provincelist p1 on p1.ProvinceID=u.addressid LEFT JOIN provincelist p2 on p2.ProvinceID=u.hometownid WHERE u.`username` = #{username} AND u.`password` = #{password}
	</select>
	
	
	<select id="findUserByName" parameterType="map" resultType="UserEntity">
			SELECT u.*,p1.ProvinceName address,p2.ProvinceName hometown FROM user u LEFT JOIN provincelist p1 on p1.ProvinceID=u.addressid LEFT JOIN provincelist p2 on p2.ProvinceID=u.hometownid WHERE u.`username` = #{username}
	</select>

    <select id="findUserById" parameterType="map" resultType="UserEntity">
		SELECT u.*,p1.ProvinceName address,p2.ProvinceName hometown FROM user u LEFT JOIN provincelist p1 on p1.ProvinceID=u.addressid LEFT JOIN provincelist p2 on p2.ProvinceID=u.hometownid  WHERE u.id = #{id}
	</select>

</mapper>