<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.zigbee.manage.dao.WebvisitMapper">

    <update id="updateWebvisits" parameterType="map" > 
		update `webvisits` set `count`=`count`+${value} where `idx` = ${id};
	</update> 
   <insert id="addwebAcces" parameterType="map">
      insert INTO webacces (ip,sysinfo,browinfo,userinfo,online)VALUES(#{ip},#{sysinfo},#{browinfo},#{userinfo},#{online});
   </insert>
   
    <insert id="addwebAcceslist">
	 insert INTO webacces (ip,sysinfo,browinfo,userinfo,online)VALUES
	  <foreach item="item" collection="list" separator=",">
	  (#{item.ip},#{item.sysinfo},#{item.browinfo},#{item.userinfo},#{item.online})
	  </foreach>
	</insert>
   
   
</mapper>