<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.zigbee.manage.dao.WebvisitMapper">

    <update id="updateWebvisits" parameterType="map" > 
		update `webvisits` set `count`=`count`+${value} where `idx` = ${id};
	</update> 
    <insert id="addwebAcceslist">
    	insert INTO webacces (sid ,uid ,ip ,dev ,au ,url ,online)VALUES
	  <foreach item="item" collection="list" separator=",">
	        (#{item.sid},#{item.uid},#{item.ip},#{item.dev},#{item.au}, #{item.url},#{item.online})
	  </foreach>
	</insert>
   
   
</mapper>