html{
	height: 100%;;
}
body{
	width: 100%;
	height: 100%;
    background: #F4F8FB;
	padding:0;
}
.login{
	margin-top: 1rem;
    padding: 0 0.9rem;
    box-sizing: border-box;
}
.inputBd{
	position: relative;
}
.inputBd input{
	display: block;
	width: 100%;
	padding: 0.8rem 0;
	font-size: 0.8rem;
	border-bottom: 1px solid #E1E4E5;
	background-color: transparent;
    box-sizing: border-box;
}
.login .inputBd input{
	padding-left:2rem;
    box-sizing: border-box;
}
.inputBd>i{
	position: absolute;
	top: 50%;
	left: 0.5rem;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 1rem;
	color: #BDBDBE;
}
.mybtn{
	display: block;
	width: 100%;
	margin: 1.5rem auto 0.5rem;
	font-size: 0.8rem;
}
#btn_login,#app_but1{
	background: -webkit-linear-gradient(left,rgba(52, 193, 255, 0.8),rgba(105, 114, 254, .8)); /* Safari 5.1 - 6.0 */
	background: -ms-linear-gradient(left,rgba(52, 193, 255, 0.8),rgba(105, 114, 254, .8)); /* ie */
	background: -moz-linear-gradient(right,rgba(52, 193, 255, 0.8),rgba(105, 114, 254, .8)); /* Firefox 3.6 - 15 */
	background: linear-gradient(to left,rgba(52, 193, 255, 0.8),rgba(105, 114, 254, .8)); /* 标准的语法 */
	-webkit-border-radius: .4rem;
	border-radius: .4rem;
	margin-top: 0;
}
#app_but1{
	margin-top: 1.5rem;
}
.register{
	height: 2rem;
	margin-top: 0.5rem;
	line-height: 2rem;
}
.register div{
	width:50%;
}
.register div:last-child{
	text-align: right;
}
.register div a{
	display: block;
	font-size: .8rem;
	color: #6ab3de;
}
figcaption{
	font-size: .75rem;
}
footer{
	width: 100%;
    padding: 0 0.9rem;
    box-sizing: border-box;
}
.line{
	margin: 0 auto 1rem;
	border-bottom: 1px solid #E1E4E5;
	text-align: center;
}
.line span{
	display: inline-block;
	font-size: .65rem;
	color: #8D8D8E;
	padding: 0.5rem;
	background-color: #F4F8FB;
	position: relative;
	top: .9rem;
}
.three{
	height:2.5rem;
}
.three>div{
	width:33.3333%;
	float:left;
	text-align: center;
}
.three>div a{
	display: inline-block;
	width: 4.5rem;
	height: 4.5rem;
	border-radius: 50%;
	line-height: 2.5rem;
	text-align: center;
	color: #fff;
}
/*注册*/
header{
	background-color: transparent;
	position: static;
}
.area.fl a i{
	color: #4287ff;
}
.txt{
	height: 100%;
	margin:0 1rem;
	color: #333;
	font-size:1rem;
	color: #555;
}
section{
	padding:0.3rem 0.9rem;
	box-sizing:border-box;	
	width:100%;
	position: relative;
	z-index: 3;
	margin-top: .3rem;
}
section .inputBd input{
	text-indent: 0;
	padding-left: 2rem;
}
#code2{
	padding: 0.8rem 5.5rem  0.8rem 2rem;
}
#yzm{
	padding-right: 4rem;
	box-sizing: border-box;
}
.notTop{
	margin-top: 0.3rem;
}
.getNum{
	position: absolute;
	top: 50%;
	right: 0.2rem;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 0.7rem;
	color: #4287ff!important;
	padding:0.3rem 0.5rem;
	border-radius:4px;
	color:#333;
}
.blueBg{
	background-color: #438BCB;
}
.blueBg .txt,.blueBg div>a>.iconfont{
	color: #fff;
}
.telShow{
	font-size: 0.8rem;
	color: #666;
	margin-bottom: 0.5rem;
}
.warnInfo{
	text-indent:2rem;
	height:1.5rem;
	line-height:1.5rem;
}
.warnInfo+.mybtn{
	margin-top:1rem;
}
.warnInfo a{
	color:#f80;
	font-size:0.75rem;
}
.userRadio{
	font-size: .75rem;
	margin: .5rem 0;
}
.userRadio label{
	display: inline-block;
	width: 30%;
	color: #8d8d8d;
}
input[type='radio']{
	width: 0.8rem;
	height: 0.8rem;
	-webkit-appearance:none;
	appearance:none;
	border: 1px solid #ccc;
	background-color: #fff;
	box-sizing: border-box;
	border-radius: 50%;
	position: relative;	
}
input[type='radio']:checked:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	width: 70%;
	height: 70%;
	background-color: #438BCB;
	border-radius: 50%;
	border: 0;
}
input[type='radio']:checked{
	border-color: #438BCB;
}
.check_icon{
	height: 1rem;
	position: relative;
	padding: 0;
	overflow: hidden;
	margin-right: .5rem;
}
.check_icon input {
	width: 100%;
	height: 100%;
	margin: 0!important;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
	filter: alpha(opacity=0);
	opacity: 0;
	cursor: pointer;
	display: block;
	-webkit-box-sizing: border-box!important;
	-moz-box-sizing: border-box!important;
	box-sizing: border-box!important;
}
.check_icon i {
	width: 1rem;
	height: 1rem;
	line-height: 1rem;
	display: inline-block;
	background-color: #fff;
	text-align: center;
	font-size: 0.6rem;
	color: #DFDFDF;
	text-align: center;
	float: left;
	border-radius: 50%;
}
.check_icon.on i {
	background-color: #55adf2;
	color: #fff;
}
/*新版登录*/
.loginBg{
	text-align: center;
}
.loginBg h1{
	display: inline-block;
	background: url("../img/logo.png") no-repeat center;
	background-size: cover;
	width: 5.551rem;
	height:2rem;
}
#regAgreement{
	color:#55adf2;
}