/*冷库列表页  
 * administrator:jinghiayang
 * date:2016.7.14
 */
section{
	margin: 2.5rem 0 0.1rem;
	height: 2rem;
	display: table;
	table-layout: fixed;
	width:100%;
	position: relative;
	z-index: 2;
	padding:0 0.9rem;
	box-sizing: border-box;
}
/*grid*/
.grid{
	width: 100%;
	margin-bottom: 0.5rem;
	overflow: hidden;
	box-sizing: border-box;
}
.grid_kid{
	height: 8rem;
	background-color: #fff;
	box-sizing: border-box;
	font-size: 0.7rem;
}
.grid_kid a{
	display: block;
	width: 100%;
	height: 100%;
	line-height:7.6rem;
	box-sizing: border-box;
	border:5px solid #F4F4F4;
}
.grid_kid .info{
	color: #222;
	font-size: 1.2rem;
	line-height:7.8rem;
	display: inline-block;
	width:30%;
	text-align: center;
	position: relative;
	top: -.2rem;
}
.grid_kid i{
	font-size: 2rem;	
	display: inline-block;
	width:35%;
	text-align: center;
}
.grid_4 .grid_kid{
	height: 6rem;
}
.grid_4 a{
	line-height:5.6rem;
	box-sizing: border-box;
	border:5px solid #F4F4F4;
}
.grid_4 .info{
	font-size: 1.2rem;
	line-height:5.6rem;
}
.grid_4 i{
	font-size: 2rem;
}
.left,.right{
	width: 49%;
	text-align: center;
	color: #fff;
}
.up a,.right a,.down a{
	display: inline-block;
	width: 100%;
	height: 100%;
	color: #222;
}
.up a:link,.right a:link,.down a:link,
.up a:hover,.right a:hover,.down a:hover
.up a:active,.right a:active,.down a:active
.up a:visited,.right a:visited,.down a:visited{
	color: #222;
}
.left{	
	height:12rem;
	margin-right: 2%;
}
.right{
	height:12rem;
	background: #fff;
}
.up,.down{
	background: #fff;
	height: 5.8rem;	
}
.up a,.down a{
	padding-top: 1.3rem;
	box-sizing: border-box;	
}
.right a{
	padding-top: 4.2rem;
	box-sizing: border-box;	
}
.up{
	margin-bottom: 0.4rem;
}
.up i,.down i,.right i{
	font-size: 1.5rem;
	margin-top: 1.6rem;
}
.up i{
	color:#F1594B ;
}
.down i{
	color:#F39826 ;
}
.right i{
	color:#4287ff ;
}
.iconTxt{
	font-size: 0.8rem;
	margin-top: 0.3rem;
}
/*.grid_kid.share_cold i{
	color:#4287ff;
}
.grid_kid.share_goods i{
	color:#F39826;
}
.grid_kid.share_store i{
	color:#F1594B;
}
.share_cold,.share_goods,.share_store{
	width: 100%;
	height: 4rem;
}
.share_cold i,.share_goods i,.share_store i{
	float: left;
	width: 30%;
	text-align: center;
}
.share_cold p.info,.share_goods p.info,.share_store p.info{
	margin-top: 0;
	text-align: left;
}
.share_cold a,.share_goods a,.share_store a{
	padding-top: 0;
	line-height: 3.5rem;
}*/
/*发布库*/
.main{
	padding:0.5rem 0.9rem;
	box-sizing: border-box;
	background-color: #fff;
	margin-bottom: 2rem; 
}
.houseinfo>li{
	margin: 0.2rem 0;
	border-bottom: 1px solid #eaeae9;
	line-height: 2rem;
	font-size: 0.75rem;
	width: 100%;
}
.houseinfo>li:first-child input{
	width:70%;
}
input[type="text"]:disabled{
	background:transparent
}
.houseinfo>li label{
	display: inline-block;
	color: #999;
	vertical-align: middle;
}
.houseinfo>li label>.pic{
	width:2rem;
	height:2rem;
	margin-left:0.5rem;
}
.mySelect{
	min-width: 60%;
	height: 100%;
	display: inline-block;
	/* overflow: hidden; */
	border: 1px solid transparent;
	vertical-align: middle;
	/* height: 2rem; */
    line-height: 2rem;
}
.mySelect textarea{
	background: transparent;
	width:120%;
	height:2.5rem;
	vertical-align:middle;
	border:1px solid #ccc;
	resize:none;
}
body,html{
	overflow-x:hidden;
	width:100%;
}
.houseinfo>li select{
	width:150%;
	height: 100%;
	font-size: 0.75rem;
	color: #555;
	vertical-align: middle;
	outline: none;
    line-height: 2rem;
    text-indent: 1rem;
	/*666*/
	-webkit-appearance:none;
	appearance:none;
	border:none;
	display:block;
	background-color: transparent
}
.houseinfo>li>.fr>input[type='text'],
.houseinfo>li>input[type='text'],
.houseinfo>li>input[type='date'],
.houseinfo>li>input[type='number'],
.houseinfo>li>.mySelect>input[type='text'],
.autoText{
	text-indent: 10px;
	display: inline-block;
	vertical-align:middle;
	min-width: 60%;
	font-size: 0.75rem;
	color: #555;
    line-height: 2rem;
   background-color: transparent;
}
.autoText{
	width: 100%;
	height:4rem;
	font-size: .6rem;
	line-height: 1.75;
	border:1px solid #eee
}
.tac input[type='number']{
	text-align: center;
}
.houseinfo>li>input[type='date']{
	line-height: 1.75;
	background-color: #eee;
}
.houseinfo>.bg{
	position: relative;
	overflow:hidden;
}
.houseinfo>.bg:before{
	content: "";
	position: absolute;
	width: 13%;
	height: 10%;
	background: #fff;
	bottom: -5%;
	left: 0;
}
.houseinfo>.bg select{
	border-bottom:1px solid #eaeae9;
}
input[type='radio']{
	width: 0.8rem;
	height: 0.8rem;
	-webkit-appearance:none;
	appearance:none;
	border: 1px solid #ccc;
	background-color: #fff;
	box-sizing: border-box;
	border-radius: 50%;
	position: relative;	
}
input[type='radio']:checked:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	width: 70%;
	height: 70%;
	background-color: #4287ff;
	border-radius: 50%;
	border: 0;
}
input[type='radio']:checked{
	border-color: #4287ff;
}
.iconfont.fr{
	display: inline-block;
	width: 1rem;
	height: 2rem;
	line-height: 2rem;
	font-size: 0.9rem;
	color: #999;
	text-align: center;
}
.number{
	display: table;
}
.number>div{
	display: table-cell;	
	position: relative;
}
.number>div>div{
	margin:0.3rem 0;
	border: 1px solid #ddd;
	border-radius: 4px;
	line-height: 1.5rem;
}
.number>div span{
	display: inline-block;
	width:4rem;
	background-color: #DDDDDD;
	text-align: center;
}
.number>div span:last-child{
	width:1rem;
	color: #999;
	background-color: transparent;
}
.number>div input{
	width: 6rem;
	font-size: 0.75rem;
	background: transparent;
}
.nowrap{
	white-space: nowrap;
	width:2.5rem!important;
    font-size: .7rem!important;
    line-height: 1.7rem!important;
}
.nowrap+input{
	width:3rem!important;
	text-align: center;
}
.number>div span.nowrap:first-child{
	width:3.6rem!important;
}
.number>div span.nowrap:last-child{
	background-color: #DDDDDD;
	width:1.5rem!important;
	color:#555!important;
}
.num:before{
	content: "辆";
	position: absolute;
	width: 1rem;
	height: 100%;
	top: 0;
	right: 0;
}
.next{
	width: 100%;
	padding: 0.4rem 0;
	height: 1rem;
	line-height: 1rem;
	text-align: center;
}
.next>i{	
	font-size: 1.5rem;
	color: #CCCCCC;
	cursor: pointer;
	-webkit-animation:mynext 2s alternate ease-in-out infinite;
	animation: mynext 2s alternate ease-in-out infinite;
	position: relative;
	top: 0;
}
@-webkit-keyframes mynext{
	0%{top: -0.2rem;}
	50%{top:0.3rem;}
	100%{top: -0.2rem;}
}
@keyframes mynext{
	0%{top: -0.2rem;}
	50%{top:0.3rem;}
	100%{top: -0.2rem;}
}
form+.mybtn,.next+.mybtn{	
	display: block;
	padding:0.3rem 0;
	font-size: 0.9rem;
	line-height: 1.5rem;
	width: 90%;
	margin: 0.5rem auto;
	box-sizing: border-box;
}
/*发布仓位样式*/
.toggle{
	padding: 0;
	box-sizing: border-box;
	background-color: #fff;
	margin-bottom: 0.5rem;
	font-size: 0.8rem;
	text-align: center;
}
.toggle>div{
	width: 50%;
	height: 2rem;
	line-height: 2rem;
	border-bottom: 3px solid #BDBDBD;
	color: #BDBDBD;
}
.toggle i{
	font-size: 1.2rem;
	margin: 0.1rem 0.5rem 0;
}
.rent>i{
	line-height: 2.1rem;
}
.toggle>.current{
	color: #4287ff;
	border-bottom: 3px solid #4287ff;
}
/*图文列表*/
.coldlist{
	margin-bottom: 3rem;
}
.gpy{
	display: inline-block;
	width:0.45rem;
	height: 0.6rem;
	background: #eee;
	background-size: cover;
}
.imgCell .ellipsis{
	margin: 0.2rem;
	color: #333;
	font-size: 0.7rem;
	/*text-indent: -0.05rem;*/
}
.position{
	color: #999;
	font-size: 0.6rem;
}
.star{
	font-size: 0.8rem;
	margin: 0.1rem;
	color: #CACACA;
	overflow: hidden;
}
.star li{
	float: left;
}
/*黄色星星*/
.filled{
	color: #F59000;
}
/*黄色星星*/
.imgCell{
	border-bottom: 4px solid #F5F5F9;
	padding:0.2rem 0.9rem; 
	position: relative;
}
.imgCell a{
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	vertical-align: middle;
	color: #333;
}
.imgCell a>img{
	line-height: 3rem;
	max-width: 3rem;
	height: 3rem;
	margin: 0 0.5rem 0 0.25rem;
	border-radius: .2em;
}
.imgCell a>img+div{
	font-size: 0.5rem;
	padding-left:3.4rem;
}
.grab{
	width: 4rem;
	height: 1.2rem;
	font-size: 0.7rem;
	text-align: center;
	line-height: 1.2rem;
	color: #fff;
	background-color: #4287ff;
	border-radius: 3px;
	margin-right: 0.9rem;
	position: absolute;
	bottom: 0.2rem;
	right: 0;
}
.ellipsis{
	color: #999;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/*图文列表*/
/*发布库图片样式*/
.nostorage{
	text-align: center;
	font-size: 1rem;
	margin-bottom: 0.5rem;	
}
.nostorage>img{	
	width: 7.075rem;
	height: 6.125rem;
}
.success{
	font-size: 0.8rem;
	margin: 1.5rem 0;
}
.nostorage .mybtn{
	display: inline-block;
	width: 4rem;
	padding: 0.3rem 0.8rem;
}
.nostorage .mybtn i{
	font-size: 1.0rem;
	margin: 0 0.3rem;
}
.toggle+.coldlist,.radiocar+.coldlist{
	margin-bottom: 0;
}
.maindetail{
	margin-top: 0;
}
/*发布冷运样式*/
.radiocar{
	display: table;
	table-layout: fixed;
	text-align: center;
	width: 100%;
	vertical-align: middle;
	margin: 0.3rem 0;
	background-color: #fff;
	padding: 0.5rem 0.9rem;
	box-sizing: border-box;
}
.radiocar button{
	width:90%;
}
.radiocar input{
	width: 0.8rem;
	height: 0.8rem;
}
.relate,.norelate{
	display: table-cell;
	font-size: 0.8rem;
}
/*map*/
#main{
	width: 90%;
	min-height: 15rem;
	margin: 0 auto;
}
.pic{
	display: inline-block;
	width: 1.5rem;
	height:1.5rem;
	margin-top:0.3rem;
	border: 3px dotted #ccc;
	background: url(../img/plus.png) no-repeat center;
}
.pic+span{
	display: inline-block;
	vertical-align: middle;
	font-size:0.8rem;
	color:#aaa;
}
.pic input{
	width: 0;
	height:0;
}
em{
	color: red;
	font-size: 0.8rem;
}
.newsList{
	padding-left: 0.5rem;
}
.newsList li{
	line-height: 1.5rem;
	list-style: circle;
	font-size: 0.75rem;
}
.text-warning{
	font-size:0.6rem;
	color:#8a6d3b;
}
.sorry{
    text-align: center;
    font-size: 0.7rem;
    line-height:1.75;
    margin: 0.5rem 0;
    padding:0.5rem 0.9rem 0;
}
.sorry button{
	padding:0.2rem 0.8rem;
	margin-bottom:.5rem;
}
/* 资讯css -------------------------------------- */
.newsImgList{
	margin-top: 2.5rem;
	margin-bottom: 3rem;
	background: #fff;
}
.tabBox .hd {
	height: 2rem;
	background: #fff;
	box-sizing: border-box;
	border-bottom: .15rem solid #F6F5FA;
}
.tabBox .hd ul{
	text-align: center;
}
.tabBox .hd ul li {
	display: inline-block;
	vertical-align: super;
}
.tabBox .hd ul li a{
	display: block;
	height: 2rem;
	line-height: 1.9rem;
	padding: 0 .5rem;
	box-sizing: border-box;
	font-size: 0.8rem;
	color: #939393;
	border-bottom: .15rem solid transparent;
}
.tabBox .hd ul li.on a {
	color: #4287ff;
	border-bottom: .15rem solid #4287ff;
}		
.tabBox .bd ul {
	padding: .3rem .9rem;
	
}		
.tabBox .bd ul li {
	border-bottom: 1px dotted #ddd;
}

.tabBox .bd li a {
	color: #555;
	font-size: .7rem;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* 去掉链接触摸高亮 */	
.newsImg li{
	border-bottom: 2px solid #F6F5FA;
	padding: 0.4rem;
}
.newsImg li a{
	display: block;
	position: relative;
}
.imgFl{
	width: 3rem;
	height: 3rem;
	margin-right: .3rem;
	background-size:cover;
	overflow: hidden;
	border-radius:.2em;
}
.imgFl img{
	width:100%;
	/* min-height: 100%*/
	height: auto; 
}
.newsTitle{
	font-size: 0.7rem;
	line-height: 1.525;
	padding-left: 3px;
	text-align: center;
	overflow : hidden;
    text-overflow: ellipsis;
  	display: -webkit-box;
	color:#333;
  	-webkit-line-clamp: 2;
  	-webkit-box-orient: vertical;
} 
.newsTxt span{
	font-size: .6rem;
	color: #999;
	margin-right: .2rem;
}
.newsDate{
	position: absolute;
	bottom: 0;
	left: 3.8rem;
	font-size:.7rem;
	color:#999;
}
.newsTxt .newsBd{
	color: #BB2626;
	border: 1px solid #BB2626;
	border-radius: 3px;
	display: inline-block;
	padding: 0 .3rem;
} 
/*date*/
.datainp{
	width:100%;
	height:2rem;
	line-height: 2rem;	
	text-indent: 4.5rem;
	margin-left: .2rem;
	color:#555;
	-webkit-appearance: none;
	appearance: none;
	font-size: .75rem;
}
.jedatebox .next{padding: 0}
.jedatebox em{color:inherit}
.jedatebox{
	width: 90%;
	left: 50%!important;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.jedateblue .jedatesetm .ymdropul li,
.jedateblue .jedatesety .ymdropul li{
	height: 2rem;
	line-height: 2rem;
	font-size: .7rem;
}
.jedateblue .jedatesety .ymdropul,
.jedateblue .jedatesetm .ymdropul{
	height: auto;
}
.weekBox{
	width: 100%;
	border-radius:.3rem;
	margin-top: .2rem;
	padding-left: 4rem;
}
.weekBox li{
	float:left;
	width: 10%;
	background: #ccc;
	border-left:1px solid #eee;
	text-align: center;
}
.weekBox li.active{
	background: #4287ff;
	color:#fff;
}
.weekBox li:first-child{
	border-bottom-left-radius: .3rem;
	border-top-left-radius: .3rem;
	border-left:0;
}
.weekBox li:last-child{
	border-bottom-right-radius: .3rem;
	border-top-right-radius: .3rem;
}
.jedateblue .jedaul li{
	height:1.5rem;
}
.jedateblue .jedaul li .nolunar{
	line-height: 1.5rem;
	font-size: .75rem;
}
#sl_attrvalue2{
	width:28%;
	float: left;
	text-indent: 0.7rem;
	border:0;
}
