<!doctype html>
<html>
   <head>
        <title>链库后台管理系统</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <link rel="shortcut icon" href="assets/img/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" type="text/css" href="assets/css/index.css">
        <link rel="stylesheet" type="text/css" href="app/css/role.css">
        <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="bower_components/angular-multi-select-master/isteven-multi-select.css" />
        <script id="ckecklogin" type="text/javascript"> if(window.sessionStorage.asikey==undefined){ document.location.href = "/login.html";}</script>
		<script type="text/javascript" src="assets/js/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="assets/js/smartpaginator.js"></script>
    </head>
    <body>
    	<!-- head部分结构开始 -->
			<div class="head omg">
				<div class="logoArea pull-left" onclick="location.href='index.html'">
					<h1 class="logo  pull-left"></h1>
					<h3 class="manage  pull-left">链库后台管理系统</h3>
				</div>
				<div class="userArea pull-right">
					<div class="admin  pull-left h4">
						<span class="hi"><font style="size:14px">您好，</font></span> 
						<span class="user" ng-model="admin"><font style="size:14px">{{admin.adminname}}</font></span>
						<!-- 用户浏览量提醒207-02-18 AM-->
						<a href="#" title="您有新的消息，请查看^_^"  onclick="secLi($('#alarm'),'#/systemInform')" style="text-decoration: none;position: relative;">
							<i class="fa fa-bell"></i>
							<span class="count">10</span>
						</a>
					</div>
					<!-- <div class="smartColdManage  pull-left h4">链库后台管理</div> -->
					<div class="back  pull-left">
						<span class="glyphicon glyphicon-log-out" title="退出登录" aria-hidden="true" ng-click="logout()"></span>
					</div>
				</div>
			</div>
			<div class="side_toggle">
				<span class="glyphicon glyphicon-th-large"></span>
			</div>
    	<!-- head部分结构结束 -->
		
		<!-- 主体区域结构开始 -->
    		<div class="content clearfix">
    			<!-- 侧栏区域结构开始 -->
    				<div class="sidebar pull-left" >
    					<div class="functionColumn">
    						<span class="glyphicon glyphicon-th-large"></span>
    						<span>功能栏目</span>
    					</div>
    					<ul class="list" ng-controller="index">
    					
    						<li onclick="secLi(this,'#/home')" id ="usermanage">
    							<span class="glyphicon glyphicon-user"></span>
    							<a>用户管理</a>
    							<span class="glyphicon glyphicon-chevron-right pull-right"></span>
    						</li>
    					
    						<li onclick="secLi(this,'#/adminlist')" ng-if="admin.role==1" >
    							<i class="fa fa-users"></i>
    							<a>管理员管理</a>
    							<span class="glyphicon glyphicon-chevron-right pull-right"></span>
    						</li>
							<li onclick="secLi(this,'#/companylist')">
								<i class="fa fa-bank"></i>
								<a>集团管理</a>
								<span class="glyphicon glyphicon-chevron-right pull-right"></span>
							</li>
    						<li onclick="secLi(this,'#/roleManage')">
    							<i class="fa fa-gears"></i>
    							<a>权限配置</a>
    							<span class="glyphicon glyphicon-chevron-right pull-right"></span>
    						</li>
    						<li onclick="secLi(this,'#/storageManage')">
    							<span class="glyphicon glyphicon-cog"></span>
    							<a>冷库管理</a>
    							<span class="glyphicon glyphicon-chevron-right pull-right"></span>
    						</li>
    						<li onclick="secLi(this,'#/storageAuthentication ')">
    							<span class="glyphicon glyphicon-cog"></span>
    							<a>冷库认证管理</a>
    							<span class="glyphicon glyphicon-chevron-right pull-right"></span>
    						</li>
    						<li onclick="secLi(this,'#/storageConfig')">
    							<span class="glyphicon glyphicon-th-list"></span>
    							<a>冷库配置信息</a>
    							<span class="glyphicon glyphicon-chevron-right pull-right"></span>
    						</li>
    						<li onclick="secLi(this,'#/spiderConfig')">
    							<span class="glyphicon glyphicon-wrench"></span>
    							<a>冷库360配置</a>
    							<span class="glyphicon glyphicon-chevron-right pull-right"></span>
    						</li>
    						<li onclick="secLi(this,'#/monthlyReportList')">
    							<span class="glyphicon glyphicon-stats"></span>
    							<a>冷库报表管理</a>
    							<span class="glyphicon glyphicon-chevron-right pull-right"></span>
    						</li>
    						<li onclick="secLi(this,'#/deviceConfig')">
    							<span class="glyphicon glyphicon-th"></span>
    							<a>Device配置</a>
    							<span class="glyphicon glyphicon-chevron-right pull-right"></span>
                            </li>
    						<li onclick="secLi(this,'#/commentManage')">
    							<span class="glyphicon glyphicon-pencil"></span>
    							<a>评价管理</a>
    							<span class="glyphicon glyphicon-chevron-right pull-right"></span>
    						</li>
    						<li onclick="secLi(this,'#/infoManage')">
    							<i class="fa fa-file"></i>
    							<a>资讯管理</a>
    							<span class="glyphicon glyphicon-chevron-right pull-right"></span>
    						</li>
    						<li onclick="secLi(this,'#/webSiteVisits')">
    							<span class="glyphicon glyphicon-stats"></span>
    							<a>网站统计</a>
    							<span class="glyphicon glyphicon-chevron-right pull-right"></span>
    						</li>
    						<li onclick="secLi(this,'#/operationLog')">
    							<i class="fa fa-file-text"></i>
    							<a>操作日志</a>
    							<span class="glyphicon glyphicon-chevron-right pull-right"></span>
    							<!-- <ul class="liSon">
    								<li>children</li>
    								<li>children</li>
    								<li>children</li>
    							</ul> -->
    						</li>
							<li id="alarm" onclick="secLi(this,'#/systemInform')">
								<span class="glyphicon glyphicon-exclamation-sign"></span>
								<a>报警列表</a>
								<span class="glyphicon glyphicon-chevron-right pull-right"></span>
							</li>
    					</ul>
    				</div>
				<!-- 侧栏区域结构结束-->

				<!-- 内容区域结构开始-->
    			<div  ui-view style="overflow: hidden">
	            </div>
    			<!-- 内容区域结构结束-->
    		</div>
    	<!-- 主体区域结构结束-->
    	<!-- <footer>
    		<p class="copyRight"> &copy;2016&nbsp;Smartcold&nbsp;&nbsp;&nbsp;&nbsp;沪ICP备　16004753</p>
    	</footer> -->
    	<!-- 按钮触发模态框 -->
		<!-- 告警和通知 模态框（Modal） -->
    </body>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js?"></script>
<script src="bower_components/angular/ng-file-upload.min.js"></script>
<script src="bower_components/angular/ng-file-upload-shim.min.js"></script>
<script src="bower_components/highlightjs/highlight.pack.js"></script>
<script src="bower_components/angular-bootstrap-checkbox/angular-bootstrap-checkbox.js"></script>
<script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
<script src="bower_components/angular-multi-select-master/isteven-multi-select.js"></script>
<script src="bower_components/angucomplete/angucomplete.js"></script>
<script src="bower_components/at-table/dist/angular-table.min.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/js/carousel.js"></script>
<script src="bower_components/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
<script src="bower_components/angular/ngRemoteValidate.0.6.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="ueditor/ueditor.all.min.js"> </script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="ueditor/lang/zh-cn/zh-cn.js"></script>
<!-- app js -->

<script src="app/js/app.js?v=1.1.2"></script>
<script type="text/javascript" src="app/js/index.js?v=1.1.2"></script>
<script src="app/js/controller-base.js?v=1.1.2"></script>
<script src="app/js/controller-search.js?v=1.1.2"></script>
<script src="app/js/controller-review.js?v=1.1.2"></script>
<script src="app/js/storageManage.js?v=1.1.2"></script>
<script src="app/js/commentManage.js?v=1.1.2"></script>
<script src="app/js/home.js?v=1.1.2"></script>
<script src="app/js/coldStorageAdd.js?v=1.1.2"></script>
<script src="app/js/coldStorageEdit.js?v=1.1.2"></script>
<script src="app/js/coldStorageMap.js?v=1.1.2"></script>
<script src="app/js/adminList.js?v=1.1.2"></script>
<script src="app/js/home.js?v=1.1.2"></script>
<script src="app/js/infoManage.js?v=1.1.2"></script>
<script src="app/js/storageConfig.js?v=1.1.2"></script> 
<script src="app/js/spiderConfig.js?v=1.1.2"></script> 
<script src="app/js/operationLog.js?v=1.1.2"></script> 
<script src="app/js/coldStorageAudit.js?v=1.1.2"></script>
<script src="app/js/coldStorageHonorAudit.js?v=1.1.2"></script>
<script src="app/js/coldStorageAuthAudit.js?v=1.1.2"></script>
<script src="app/js/companyList.js?v=1.1.2"></script>
<script src="app/js/storageRelate.js?v=1.1.2"></script>
<script src="app/js/userRelate.js?v=1.1.2"></script>

<script src="app/js/deviceConfig.js?v=1.1.2"></script>
<script src="app/js/storageAuthentication.js?v=1.1.2"></script>
<script src="app/js/monthReport.js?v=1.1.2"></script>
<script src="app/js/monthlyReportList.js?v=1.1.2"></script>
<script src="app/js/webSiteVisits.js?v=1.1.2"></script>
<script src="app/js/roleManage.js?v=1.1.2"></script>
<script src="app/js/systemInform.js?v=1.1.2"></script>
<script src="app/js/systemInformInfo.js?v=1.1.2"></script>



</html>