/*
*2017-6-20
*different themes
*class = smartcold is default
*
*/
.smartCold .iconfont {
    font-family: iconfont !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale
}

.smartCold .login_new {
    background: #fff;
    font-family: "微软雅黑", Microsoft YaHei, Helvetica, '宋体', Tahoma, Arial, sans-serif
}

.smartCold .loginDiv {
    width: 100%;
    text-align: left;
}

.smartCold .loginBody, .loginCopyR, .loginDiv h2 {
    width: 90%;
    margin: 0 auto
}

.smartCold .loginDiv h2 {
    height: 75px;
    line-height: 75px;
    font-family: "微软雅黑", Microsoft YaHei, Helvetica, '宋体', Tahoma, Arial, sans-serif
}

.smartCold .loginBody {
    min-height: 500px;
    margin: 20px auto;
    background: url(../../assets/img/login_bg.png) no-repeat center;
    background-size: cover;
    text-align: right
}

.smartCold .loginCopyR {
    text-align: right
}

.smartCold .loginArea {
    display: inline-block;
    width: 325px;
    height: 360px;
    border: 1px solid #dbdbdb;
    background: rgba(255, 255, 255, .6);
    margin: 90px 10vh 0 0;
    padding: 50px 20px 0;
    box-sizing: border-box
}

.smartCold .userinfo {
    position: relative;
    margin-bottom: 20px
}

.smartCold .userinfo input {
    width: 100%;
    padding-left: 2em;
    border-radius: 3px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #ccc;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
    -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
    -ms-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
    outline: 0
}

.smartCold .userinfo input:focus {
    border: 2px solid #428CCB
}

.smartCold .userinfo .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 20px;
    color: #999;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}

.smartCold .loginArea .clearfix {
    margin: 40px 0 0
}

.smartCold .loginArea .clearfix a {
    color: #666
}

.smartCold .noM {
    margin: 0
}

.smartCold .loginBtn {
    padding: 0
}

.smartCold .loginBtn .btn {
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 3px
}

@media screen and (min-width: 1367px) {
    .smartCold .loginArea {
        width: 360px;
        height: 430px;
    }

    .smartCold .loginArea .clearfix {
        margin: 80px 0 0
    }
}

.smartCold .divide-wrap {
    position: relative;
    height: 1px;
    z-index: 1;
}

.smartCold .colorbar {
    width: 100%;
    height: 100%;
    z-index: 11;
    background: url(../../img/com/lop.png) center no-repeat;
    position: relative;
}