/*cold360Physical.html css*/
.black {
	display: none;
}

.cold_bg {
	width: 100%;
	height: 100%;
	background: #528EC8;
	position: relative;
	padding-top: 70px;
	text-align: center;
	padding-top: 120px;
	box-sizing: border-box;
}

.cold_bg:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 177px;
	height: 68px;
	background-image: url(../../assets/img/leftTop.png);
}

.radius_bg {
	margin: 0 auto;
	width: 240px;
	height: 80px;
	background: #fff;
	border-radius: 40px;
	box-shadow: 0 2px 4px #484747;
	line-height: 80px;
	margin-top: 12%;
}

.cold_bg h1,.radius_bg a,.sys_group,.sys_group .box-title {
	font-family: "微软雅黑", Microsoft YaHei, Helvetica, '宋体', Tahoma, Arial,
		sans-serif !important;
}

.radius_bg a i {
	position: absolute;
	top: 50%;
	left: 20px;
	margin-top: -15px;
	font-size: 30px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	color: #227ed2;
}

.radius_bg a {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 28px;
	color: #227ed2;
}
/*cold360PhysicalList.html css*/
.sys_group {
	text-align: center;
	margin: 0;
}
.goback.page-header{
	text-align: left;
	margin: 0 0 20px 0;
	padding: 15px;
}
.goback.page-header a{
	color:#fff;
	display:inline-block;
	width:200px;
	height:100%;
	font-weight: 400;
	font-family: '宋体', Tahoma, Arial,sans-serif !important;
}
.goback.page-header a:hover{
	color:#3C8DBC;
}
.sys_group .btn {
	padding: 6px 75px;
	color: #fff;	
	border-radius: 6px;
}

.circle+a {
	margin-top: 30px;
	display: block;
}

.noDevice .btn {
	padding: 6px 45px;
}
.sys_group .box {
	width:30%;
	display:inline-block;
	margin-left:2%; 
	height:400px;
	overflow: hidden;
}
.sys_group .box-title {
	color: #000;
}

.circle {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	line-height: 200px;
	margin: 0 auto;
	font-size: 70px;
}

.haveDevice .circle span {
	font-size: 14px;
}

.bgBlue {
	background-color: #0065C1!important;
}

.bgGold {
	background-color: #FF5001!important;
}

.bgGreen {
	background-color: #2A972C!important;
}

.fontBlue {
	color: #0065C1!important;
}

.fontGold {
	color: #FF5001!important;
}

.fontGreen {
	color: #2A972C!important;
}

.haveDevice .circle.fontBlue {
	background: url(../../assets/img/blue_circle.png) no-repeat center;
	background-size: cover;
}

.haveDevice .circle.fontGold {
	background: url(../../assets/img/gold_circle.png) no-repeat center;
	background-size: cover;
}

.haveDevice .circle.fontGreen {
	background: url(../../assets/img/green_circle.png) no-repeat center;
	background-size: cover;
}

.noDevice .circle.bluePlus {
	background: url(../../assets/img/blue_plus.png) no-repeat center;
	background-size: cover;
}

.noDevice .circle.goldPlus {
	background: url(../../assets/img/gold_plus.png) no-repeat center;
	background-size: cover;
}

.noDevice .circle.greenPlus {
	background: url(../../assets/img/green_plus.png) no-repeat center;
	background-size: cover;
}
@media screen and (max-width: 780px) {
	.sys_group .box{
		width:100%;margin: 0;
	}
}
/*cold360PhysicalDetail.html css*/
.coldName {
	text-align: center;
}
.coldName a{
	width:120px;
	display:inline-block;
	line-height: 24px;
	border:1px solid #0172db;
	color:#0172db;
	border-radius:3px;
}
.progress,.progress-bar {
	padding: 0;
	border-radius: 10px !important
}
.score_list ul{
	padding:0;
}
ul,li {
	list-style: none;
}

.coldName-60 {
	color: #F90001;
}

.coldName-70 {
	color: #01B7CE;
}

.coldName-80 {
	color: #990085;
}

.coldName-90 {
	color: #6AC83B;
}

.coldName-100 {
	color: #00B347;
}

.progress-bar-60 {
	background-color: #F90001;
}

.progress-bar-70 {
	background-color: #01B7CE;
}

.progress-bar-80 {
	background-color: #990085;
}

.progress-bar-90 {
	background-color: #6AC83B;
}

.progress-bar-100 {
	background-color: #00B347;
}
/*baoyangReminder.html css*/
.baoyang_bg{
	margin:15px;
	background: #D1D5DE;
	padding: 15px;
}
.baoyang_bg .row{
	margin: 0;
}
.binglian{
	margin-bottom: 60px;
}
.blysj{
	display: inline-block;
	padding:3px 20px;
	line-height: 24px;
	text-align: center;
	font-size: 14px;
	color: #2b3046;
	border: 1px solid #2b3046;
	border-radius: 3px;
}
.alarm_bg{
	width: 270px;
	height: 100px;
	background: url(../../assets/img/alarm.png);
	background-size: cover;
	margin: 0 20px 50px;
	position: relative;
}

.remain{
	display: inline-block;
	width: 270px;
	line-height: 120px;
	height: 120px;
	text-align: center;
	font-size: 18px;
}
.remain+p{
	font-size: 14px;
	color: #2b3046;
	text-align: center;
}
/*保养维修提醒警示灯 2016-12-28*/
.by_myicon{
	position: absolute;
	top:-20%;
	font-size: 50px!important;
	right:0;
	z-index: 3;
	color: rgba(0,0,0,0)
}

.warnIcon{
	color:#f80;
}
/*报警时间小于0小时红色报警*/
.dangerIcon{
	color:red;
}
/*保养维修提醒警示灯 2016-12-28*/
/*优化部分css*/
.tNum,.tUiit{
	color: coral
}
@media (max-width: 460px){/*  <768 */
	.tNum{font-size:3em;}
	.tUiit{font-size:2em;}
}
@media (min-width: 460px){/*  <768 */
	.tNum{font-size:4em;}
	.tUiit{font-size:3em;}
}
@media (min-width: 768px){/* 768<**<992 */
	.tNum{font-size:3em;}
	.tUiit{font-size:2em;}
}
@media (min-width: 992px){/* 992<**<1200 */
	.tNum{font-size:4em;}
	.tUiit{font-size:3m;}
}
 @media (min-width: 1200px){/* >1200  */
	.tNum{font-size:5em;}
	.tUiit{font-size:3.5em;}
} 
.cover_bg{
	background: rgba(0,0,0,.8);
	width:100%;
	height:100%;
	position: fixed;
	top:0;
	left:0;
	padding-left: 230px; 
	z-index: 3;
}
.cover_bg .loader {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 25%;
    max-width: 25%;
    height: 200px;
    align-items: center;
    justify-content: center;
    margin: 300px auto;
}
@-webkit-keyframes line-scale {
  0% {
    -webkit-transform: scaley(1);
            transform: scaley(1); }

  50% {
    -webkit-transform: scaley(0.4);
            transform: scaley(0.4); }

  100% {
    -webkit-transform: scaley(1);
            transform: scaley(1); } }
@keyframes line-scale {
  0% {
    -webkit-transform: scaley(1);
            transform: scaley(1); }

  50% {
    -webkit-transform: scaley(0.4);
            transform: scaley(0.4); }

  100% {
    -webkit-transform: scaley(1);
            transform: scaley(1); } }
.line-scale>div:nth-child(1) {
	-webkit-animation: line-scale 1s 0.1s infinite
		cubic-bezier(.2, .68, .18, 1.08);
	animation: line-scale 1s 0.1s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.line-scale>div:nth-child(2) {
	-webkit-animation: line-scale 1s 0.2s infinite
		cubic-bezier(.2, .68, .18, 1.08);
	animation: line-scale 1s 0.2s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.line-scale>div:nth-child(3) {
	-webkit-animation: line-scale 1s 0.3s infinite
		cubic-bezier(.2, .68, .18, 1.08);
	animation: line-scale 1s 0.3s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.line-scale>div:nth-child(4) {
	-webkit-animation: line-scale 1s 0.4s infinite
		cubic-bezier(.2, .68, .18, 1.08);
	animation: line-scale 1s 0.4s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.line-scale>div:nth-child(5) {
	-webkit-animation: line-scale 1s 0.5s infinite
		cubic-bezier(.2, .68, .18, 1.08);
	animation: line-scale 1s 0.5s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.line-scale>div {
	background-color: #fff;
	width: 4px;
	height: 35px;
	border-radius: 2px;
	margin: 2px;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	display: inline-block;
}
/*报表功能*/
html, body {
    -ms-overflow-style: scrollbar;
}
#rpt_asis_table th,#rpt_asis_table td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.myrecord {
	color: #333;
	background: #D1D5DE;
	margin: 10px 15px;
	padding-right: 15px;
	font-size: 12px;
}
.myrecord td{
	vertical-align: middle!important;
	padding: 0 5px!important;
}
#applyRecords td{
	vertical-align: middle!important;
	padding: 5px!important;
}
.myrecord textarea{
 	resize: vertical;
}
 #records td>input, #records td>textarea{
 	width:100%;
 	height: 100%;
 	border:0;
 	background-color: transparent;
}
#myApply{
	color: #333;
}
#myApply .modal-dialog {
     width:800px;
 }
#myApply .modal-content{
     border-radius:5px;
	
}
/*compressorBlower*/
#blowerPage>div{
	margin-bottom: 10px;
}
.mybox .box-header,.mybox .box-body{
	padding: 4px 10px;
}
.mybox .box-header>.box-tools{
	top:0;
}
.myTopbg{
	margin-top: 40px;
	padding: 15px 0;
}
 .myTopbg .info-box-text span:first-child{
 	font-size: 20px;
    color: #FF7F50;
 }
  .myTopbg .info-box-text span:last-child{
 	font-size: 40px;
    color: #FF7F50;
    position: relative;
    top: 5px;    
 }
  .myTopbg .info-box-text{
  line-height: 40px;
  }
.littlebg{
	width:85px;
	height: 50px;
	line-height: 50px;
}
.littlebg i{
	font-size: 35px;
}
.littlebg+.info-box-content{
	padding: 0
}
/*月度报表css*/
.tac{text-align:center;}
.clearfix:after {
	content: "";
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}
.clearfix {
	zoom: 1;
}
#print{
	background: #fff;
	color:#000;
	padding:0 20px 50px;
	box-sizing:border-box;
}
#print,#print h1,#print h2,#print h3,#print h4{
	font-family: "微软雅黑", Microsoft YaHei, Helvetica, '宋体', Tahoma, Arial,
		sans-serif !important;
}
.print_header{
	height: 50px;
}
.print_header>h3{
	margin:0;
	height: 50px;
	line-height:50px;
	font-size: 24px;
	text-align: center;
}
.print_header hr{
	margin:10px 0;
	border-top: 3px solid #A34039;
}
.lianku_logo{
	vertical-align:middle;
	width:100px;
	height: 35px;
	margin-top: 8px;
}
.print_title,.print_name{
	margin-top: 30px;
}
.print_title h2{
	font-size: 24px;
}
.print_name>div{
	width:50%;
	height: 40px;
	font-size: 12px;
}
.print_name>div>input{
	border:0;
	border-bottom:1px solid #333;
	width: 65%;
}
.partP>p{
	text-indent: 2em;
	font-size: 12px;
}
.chart_gap>p{
	margin: 10px 0;
}
.chart_gap>p>span{
	display: inline-block;
	width:140px;
	height:26px;
	line-height:26px;
	font-weight: 700;
	padding: 0 15px;
	color:#fff!important;
	font-size: 14px;
	border-radius:15px;
}
.intro{
	color:coral!important;
}
.chartHight{
	height: 400px;
	border:1px solid #eee
}
.chartPart{	
	border:1px solid #ccc;
}
.chart_gap>div{
	margin-bottom: 5px;
}
.bgPurple{
	background: #5AB1EF!important;
}
.bgPink{
	background: #2EC7C9!important;
}
.bgRed{
	background: #EC594A!important;
}
.nobg{
	background: transparent!important;
	position: relative;
	height: 160px;
	line-height: 160px;
	font-size: 56px;
} 
.nobg b{
	font-weight: 400;
}
.nobg img{
	position: absolute;
	top:0;
	left:50%;
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	transform:translateX(-50%);
	z-index: 1;
} 
.w60,.w40,.w50{
	width:60%;
	float:left;
	margin-left: 0;
	margin-right: 0;
}
.w40{
	width: 40%;
	padding-left: 15px;
}
.w50{
	width: 50%;
}
.w100{
	width:100%;
	float:left;
}
#print p{	
	font-size: 12px!important;
	padding: 2px!important;
	margin-bottom: 2px;
}
.partP>p{
	font-size: 12px!important;
}
.textPart p>span.font10,.textPart>ul>li span.font10{
	font-size: 10px!important;
	-webkit-transform:scale(0.875);
	-moz-transform:scale(0.875);
	-ms-transform:scale(0.875);
	-o-transform:scale(0.875);
	transform:scale(0.875);
	display:block;
}
.textPart p>strong.font10{
	text-indent:0;
	-webkit-transform:scale(0.875);
	-moz-transform:scale(0.875);
	-ms-transform:scale(0.875);
	-o-transform:scale(0.875);
	transform:scale(0.875);
	display:block;
} 
#print .sys_group .box{
	height: 220px;
	margin-bottom: 0;
}
.chartHight+div img{
	width:100%;
	height:auto;
}
.textPart>ul{
	padding-left: 0;
}
.textPart>ul>li{
	line-height: 2;
	font-size:12px!important;
}
.print_part>h4,#print .box-title{
	font-size: 14px;
}
.print_part+hr,.clearfix+hr{
	margin: 5px 0;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
#rpt_asis_coment .page-header input{
	text-indent: 1em;
}
#physicalstep2>.box{
	border:1px solid #ccc;
}
/*风机旋转*/
.running{
    -webkit-animation:rotate 1s infinite linear;
	-moz-animation:rotate 1s infinite linear;
    -ms-animation:rotate 1s infinite linear;
	animation:rotate 1s infinite linear;
	border-radius:50%;
}
@-moz-keyframes rotate{
  0%{
    -moz-transform:rotate(0deg);
   }
   100%{
     -moz-transform:rotate(360deg);
   }
}
 @-ms-keyframes rotate{
  0%{
    -ms-transform:rotate(0deg);
   }
   100%{
     -ms-transform:rotate(360deg);
   }
}
@-webkit-keyframes rotate{
  0%{
    -webkit-transform:rotate(0deg);
   }
   100%{
     -webkit-transform:rotate(360deg);
   }
}
@keyframes rotate{
  0%{
    transform:rotate(0deg);
   }
   100%{
     transform:rotate(360deg);
   }
}

/*维修确认单*/
legend{
	font-size: 16px;
}
.applyConfirm {
	padding: 15px;
	border-radius: 4px;
	background: #D1D5DE; 
	
	color: #555;
	margin: 0 15px;
}
.applyConfirm label{
	font-weight: 400;
}
.applyConfirm textarea{
	resize: vertical;
}
.applyConfirm .table>thead>tr>th,
.applyConfirm .table>tbody>tr>th,
.applyConfirm .table>tfoot>tr>th,
.applyConfirm .table>thead>tr>td,
.applyConfirm .table>tbody>tr>td,
.applyConfirm .table>tfoot>tr>td
{
	border-top: 1px solid #d0d0d0;
	vertical-align: middle!important;
}
.applyConfirm td>button{
	margin-right: 15px;
}
.wx_file{
	position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    line-height: 29px;
    width: 85px;
    height: 29px;
    text-indent: 2em;
    font-size: 9pt;
    background: url(../../assets/img/image-upload.png) #f7f7f7 no-repeat center;
}
.wx_file input{
	position: absolute;
    font-size: 75pt;
    right: 0;
    top: 0;
    opacity: 0;
}
.addBtn{
	display: inline-block;
	width: 30px!important;
	height: 30px;
	background: #00c0ef;
	color:#fff;
	text-align: center;
	line-height: 30px;
	border-radius: 50%;
	font-size: 28px;
	cursor: pointer;
	padding: 0;
	border:0;
}
.db{
	display: table;
}
.dbc{
	display: table-cell;
	vertical-align: middle;
}
.addSeclect{
	margin-bottom: 10px;
}
.addSeclect select{
	margin-right: 10px;
}
.stars li{
	float: left;
	font-size: 28px;
	color:#999;
	cursor: pointer;
}
.stars li.gold{
	color:#f80;
}
/*个人中心*/
.person_a{
	display: inline-block!important;
	padding: 0!important;
}
.person_a:hover{
	background-color: transparent!important;
}
/*温度报警2017-5-18*/
#timeline{
	position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
}
#timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 90px;
  height: 100%;
  width: 2px;
  background: #029df4;
}
.timeline-block{
    position: relative;
    margin: 2em 0;
}
.timeline-txt {
  position: absolute;
  top: 13px;
  left: -10px;
  width: 80px;
  text-align: right;
}
.timeline-dot {
  position: absolute;
  top: 13px;
  left: 81px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #75ce66;
  box-shadow: 0 0 0 2px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.timeline-content {
  position: relative;
  margin-left: 115px;
  margin-right: 15px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
}
.timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
.timeline-title{
	height: 22px;
}
.timeline-title h4{
	margin: 0;
	padding: 0;
}
.timeline-content-more{
	display: none;
	margin-top: 10px;
}
.goTop{
	display:none;
	position: fixed;
	bottom: 5em;
	right:10px;
	cursor:pointer;
	width: 2.5rem;
	height:3em;
	line-height: 3em;
	background: #00a1cb;
	border-radius: 3px;
}
.goTop .iconfont{
	font-size: 2em;
	color: #f4f4f4;	
}
.warnUl{
	padding-left: 0;
}
.warnUl li{
	border-bottom: 1px dashed #777;
}
.warnUl li p:nth-child(1){
	color: #ec594a;
}
.warnUl li p{
	margin-bottom: 0;
	margin-top:5px;
}
.warnUl li p>span{
	padding-right: 20px;
}