/*各大模块css*/
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side{
    -webkit-box-shadow: 3px 0 4px #0d1215;
    -moz-box-shadow: 3px 0 4px #0d1215;
    -ms-box-shadow: 3px 0 4px #0d1215;
    box-shadow: 3px 0 4px #0d1215;
}
.myBg{background-color: #233038!important;}
.body-color,
.main-footer,
.skin-blue .main-header .navbar,
.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side,
.skin-blue .sidebar-menu > li > .treeview-menu,
.skin-blue .main-header .logo
{
    background: #233038;
}
.main-header{
    border-bottom: 2px solid #0d1215;
}
.skin-blue .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li.active > a{
    background: #4d779f;
}
.skin-blue .sidebar-menu > li > .treeview-menu{
    color: #4086aa;
}
.myDefault{
    background: #303e47!important;
    -webkit-box-shadow: 0px 1px 2px #0d1215;
    -moz-box-shadow: 0px 1px 2px #0d1215;
    -ms-box-shadow: 0px 1px 2px #0d1215;
    box-shadow: 0px 1px 2px #0d1215;
}
.myColor{
    color: #8eaab9;
}
#lefaside{
    position: fixed;
    bottom: 0;
    left:0;
    z-index:10;
    overflow-x: hidden;
    overflow-y: auto;
}
.main-header{
    width: 100%;
    position: fixed;
    top:0;
    z-index:11;
    left:0;
}
.content-wrapper{
    padding-top: 52px;
}
/*滚动条样式*/
#lefaside::-webkit-scrollbar,body::-webkit-scrollbar {/*滚动条整体样式*/
    width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}
#lefaside::-webkit-scrollbar-thumb,body::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}
#lefaside::-webkit-scrollbar-track,body::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}
#lefaside,body{
    scrollbar-arrow-color: #f4ae21; /**//*三角箭头的颜色*/
    scrollbar-face-color: #333; /**//*立体滚动条的颜色*/
    scrollbar-3dlight-color: #666; /**//*立体滚动条亮边的颜色*/
    scrollbar-highlight-color: #666; /**//*滚动条空白部分的颜色*/
    scrollbar-shadow-color: #999; /**//*立体滚动条阴影的颜色*/
    scrollbar-darkshadow-color: #666; /**//*立体滚动条强阴影的颜色*/
    scrollbar-track-color: #666; /**//*立体滚动条背景颜色*/
    scrollbar-base-color:#f8f8f8; /**//*滚动条的基本颜色*/
}
/*以上是对皮肤默认颜色的设定===========*/
/*以下是对模块内容颜色的设定========================================*/
.previewBox{
    padding: 0 15px 10px;
    color: #e5e6e9;
}
.previewModel,.bodyModel{
    margin-top: 15px;
}
.headerModel{
    height:40px;
    line-height:40px;
    padding:0 20px;
}
.previewName{
    position: relative;
    padding-left: 10px;
}
.previewName:before{
    content: '';
    position: absolute;
    top: 12px;
    left:0;
    width: 4px;
    height: 16px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    background: #199a5e;
}
.bodyModel>div{
    width: 24%;
    float: left;
    margin-right: 1.333333%;
    margin-bottom: 15px;
    min-height: 80px;
    text-align: center;
    position: relative;
}
.bodyModel .unitModel{
    background: #303e47;
    -webkit-box-shadow: 0px 1px 2px #0d1215;
    -moz-box-shadow: 0px 1px 2px #0d1215;
    -ms-box-shadow: 0px 1px 2px #0d1215;
    box-shadow: 0px 1px 2px #0d1215;
}
.bodyModel>div:nth-child(4n+4){
    margin-right: 0;
}
.unitIcon{
    width: 100%;
    margin-top: 10px;
}
.unitIcon>i{
    font-size: 3em;
    color: #568ed2;
    border: 1px solid #568ed2;
    background: #3a526c;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: inline-block;
    line-height: 60px;
}
.unitModel h2
{
    padding: 0;
    margin-top: 15px;
    line-height: 2;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 30px;
}
.unitModel p{
    font-size: 12px;
    line-height: 1.8;
    margin-top: 6px;
}
/*电量模块*/
.electricModel{
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
}
.electricModel>.previewName{
    text-align: left;
}
.txtModel{
    min-height: 40px;
    line-height: 40px;
}
.txtModel>h2{
    margin: 0;
}
.chartModel {
    height: 240px;
    margin-top: 1em;
}
.bodyModel>div>img{
    width: 20%;
    float: left;
    margin: 0 5% 15px 5%;
}
.bodyModel>div>h6{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
}
.previewModel .text-center{
    height: 40px;
}
.previewModel .text-center span{
    margin: 0 10px;
    height: 20px;
    line-height: 20px;
}
.previewModel .text-center span b{
    display: inline-block;
    width: 30px;
    height: 16px;
    background-color: #ff723a;
    margin-right: 5px;
    vertical-align: middle;
}
.previewModel .text-center span:last-child b{
    background-color: #8e8e8e;
}
.txtModel .unitIcon{
    margin-top: 0;
}
.txtModel .unitIcon>span{
    width: 30px;
    height: 30px;
    border-radius: 6px;
    background: #10c469;
    text-align: center;
    border: none;
    display: inline-block;
}
.txtModel .unitIcon>span i{
    font-size: 22px;
    color: #fff;
    position: relative;
    top:-2px;
}
.txtModel p{
    margin: 0;
    color: #fff;
    line-height: 1.4;
    text-align: right;
}
.txtModel .unitIcon>span.danger{
    background: #d93f3f;
}
.txtModel .unitIcon>span.warnings{
    background: #f39938;
}
.txtModel .unitIcon>span.runnings{
    background: #10c469;
}
.txtModel .unitIcon>span.runnings i{
    -webkit-animation:myfirsts 0.5s infinite; /* Safari and Chrome */
    -moz-animation:myfirsts 0.5s infinite; /* Safari and Chrome */
    -ms-animation:myfirsts 0.5s infinite; /* Safari and Chrome */
    animation:myfirsts 0.5s infinite; /* Safari and Chrome */
    display: inline-block;
}
@-webkit-keyframes myfirsts
{
    0%{
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    25%{
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    50%{
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    75%{
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes myfirsts
{
    0%{
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    25%{
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    50%{
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    75%{
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.ysj{
    height: 140px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    padding: 10px 0;
    overflow: hidden;
}
/*工具按钮*/
.toolbar{
    position: fixed;
    top:67px;
    right: 0;
    width: 32px;
    height: 32px;
    z-index: 999999999999;
    overflow: hidden;
}
.toolI{
    position: absolute;
    top:0;
    right: 0;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    font-size: 24px;
    background-color: #7a6e6e;
    cursor: pointer;
    z-index: 2;
}
#tool{
    position: absolute;
    top:0;
    right: -200px;
    z-index:1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    background: #7a6e6e;
    height: 32px;
    line-height: 32px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.toolbar:hover{
    width: 222px;
}
.toolbar:hover .toolI{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.toolbar:hover #tool{
    right: 32px;
}
#tool span{
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}
/*工具按钮 end*/
/*rdc select*/
.rdcBox {
    position: relative;
    margin-bottom: 15px;
    color: #555;
}

.rdcSecList {
    text-align: center;
    background-color: #f4f4f4;
    padding: 3px;
    position: absolute;
    top: 110%;
    left: 0;
    z-index: 300;
}

.rdcBox li {
    color: #000;
    min-width: 250px;
}

.rdcSpan {
    margin: 0 5px 2px;
    display: inline-block;
    position: relative;
    padding: 4px;
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*padding-right: 30px;*/
}
/*.rdcSpan i{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #e4e4e4;
    text-align: center;
    line-height: 26px;
    height: 100%;
    width: 26px;
    cursor: pointer;
    font-size: 18px;
}
.rdcSpan i:hover{
    background-color: #f4f4f4;
    color: #f00;
}*/
.showRdcDiv {
    width: 250px;
    padding:5px;
    text-align: center;
    background-color: #f4f4f4;
    cursor: pointer;
    border-radius: 3px;
}
.showRdcDiv i{
    font-size: 10px;
}