<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>冷库</title>
	    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
	    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
	    <!--<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">-->
	    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
	    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
	    <link rel="stylesheet" href="../com/css/coldlist.css" />
	    <script type="text/javascript" src="../com/js/jquery-1.12.0.min.js"></script>
	    <script type="text/javascript" src="../com/js/common.js"></script>
	    <script type="text/javascript" src="../com/js/index.js" ></script>
	</head>
	<body>
		<!-- header -->
		    <header>
	    		
	        	<div class="area fl">
	        		<a href="../index.html"><i class="iconfont">&#xe60e;</i></a>
	        	</div>
	        	<div class="zoom fr">
	        		<a href="search.html"><i class="iconfont">&#xe62f;</i></a>
	        	</div>
	        	<div class="txt">
	        		冷库
	        	</div>
		    </header>
		<!-- header end-->
		<section>
			<div class="droplist">
				<a href="javascript:;"><span>经营</span><i class="iconfont">&#xe62d;</i></a>
				<div class="listcontain">
					<div class="type">经营</div>
					<ul class="list">
						<li class="disabled">经营类型</li>
						<li class="active">不限</li>
						<li>产地型</li>
						<li>市场型</li>
						<li>仓储型</li>
						<li>配送型</li>
						<li>生产型</li>
						<li>中央厨房</li>
					</ul>
				</div>
			</div>
			<div class="droplist">
				<a href="javascript:;"><span>温度</span><i class="iconfont">&#xe62d;</i></a>
				<div class="listcontain">
					<div class="type">温度</div>
					<ul class="list">
						<li class="active">不限</li>
						<li>冷藏库</li>
						<li>冷冻库</li>
					</ul>
				</div>
			</div>
			<div class="droplist">
				<a href="javascript:;"><span>面积</span><i class="iconfont">&#xe62d;</i></a>
				<div class="listcontain">
					<div class="type">面积</div>
					<ul class="list">
						<li class="active">不限</li>
						<li>1000㎡以下</li>
						<li>1000~3000㎡</li>
						<li>3000~6000㎡</li>
					</ul>
				</div>
			</div>
			<div class="droplist">
				<a href="javascript:;"><span>车辆</span><i class="iconfont">&#xe62d;</i></a>
				<div class="listcontain">
					<div class="type">车辆</div>
					<ul class="list">
						<li class="active">不限</li>
						<li>有</li>
						<li>无</li>
					</ul>
				</div>
			</div>
		</section>
		<div class="backDrop"></div>
		<!--coldlist-->
        <div class="coldlist">
	        <ul class="imgTable">
	        	<li class="imgCell">
					<a href="colddetail.html">
						<img class="fl" src="../com/img/muwu.jpg">
						<div class="">
							<p class='ellipsis'>莱芜嘉禾冷链物流有限公司</p>
							<p class='position'>
								<i class="iconfont">&#xe66e;</i>
								上海-长宁区-中山公园
							</p>
							<ul class='star'>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li>★</li>
							</ul>
						</div>		
					</a>
					<button class="grab" onclick="location.href='storehousedetail.html'">立即抢单</button>
				</li>
	        	<li class="imgCell">
					<a href="colddetail.html">
						<img class="fl" src="../com/img/cbd.jpg">
						<div class="">
							<p class='ellipsis'>莱芜嘉禾冷链物流有限公司</p>
							<p class='position'>
								<i class="iconfont">&#xe66e;</i>
								上海-长宁区-中山公园
							</p>
							<ul class='star'>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li>★</li>
							</ul>
						</div>		
					</a>
					<button class="grab" onclick="location.href='storehousedetail.html'">立即抢单</button>
				</li>
	        	<li class="imgCell">
					<a href="javascript:;">
						<img class="fl" src="../com/img/muwu.jpg">
						<div class="">
							<p class='ellipsis'>莱芜嘉禾冷链物流有限公司</p>
							<p class='position'>
								<i class="iconfont">&#xe66e;</i>
								上海-长宁区-中山公园
							</p>
							<ul class='star'>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li>★</li>
							</ul>
						</div>		
					</a>
					<button class="grab" onclick="location.href='storehousedetail.html'">立即抢单</button>
				</li>	
	        </ul>
        </div>
	</body>
</html>
