<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>确认抢单</title>
	    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
	    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
	    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
	    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
	    <link rel="stylesheet" href="../com/css/confirm.css" />
	    <script type="text/javascript" src="../com/js/jquery-1.12.0.min.js"></script>
	    <script type="text/javascript" src="../com/js/common.js"></script>
	</head>
	<body>
	<!-- header -->
	    <header>
	    	
        	<div class="area fl">
        		<a onclick="goback()"><i class="iconfont">&#xe60e;</i></a>
        	</div>
        	<!--<div class="zoom fr">
        		<a href=""><i class="iconfont">&#xe62f;</i></a>
        	</div>-->
	    </header>
	<!-- header end-->
		<div class="input">
			<div class="tel">
				<i class="iconfont">&#xe608;</i>
				<input type="tel" placeholder="请输入您的手机号"/>
				<button class="mybtn fr" onclick="setTime(this)">获取验证码</button>
			</div>
			<div class="tel">
				<i class="iconfont ">&#xe639;</i>
				<input type="tel" placeholder="请输入手机验证码"/>
			</div>
		</div>
		<button class="mybtn" onclick="location.href='success.html'">确认抢单</button>		
		<script>
			var countdown=60; 
			function setTime(obj) { 
			    if (countdown == 0) { 
			        obj.removeAttribute("disabled");    
			        obj.style.background='#438BCB';
			        obj.innerHTML="获取验证码"; 
			        countdown = 60; 
			        return;
			    } else { 
			        obj.setAttribute("disabled", true); 
			        obj.style.background='#ccc';
			        obj.innerHTML="重新发送(" + countdown + ")"; 
			        countdown--; 
			    } 
			setTimeout(function() { 
			    setTime(obj) }
			    ,1000) 
			}
		</script>
	</body>
</html>
