<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
	<title>客服</title>
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
    <link rel="stylesheet" type="text/css" href="../com/css/admin.css">
    <script type="text/javascript" src="../com/js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
</head>
<body>
    <header>
    	<div class="area fl">
    		<a onclick="goback()"><i class="iconfont">&#xe60e;</i></a>
    	</div>
    	<div class="txt">
    		客服
    	</div>
    </header>
    <section class="tel clearfix">
    	<p>欢迎致电：</p>
    	<p>021-25360067　　021-25360068</p>
    </section>    
    
    <ul class="footer">
        <li>           
            <a href="../index.html">
                <i class="iconfont">&#xe65a;</i>
                <p class="info">首页</p>
            </a>
        </li>
        <li>            
            <a href="release.html">
                <i class="iconfont">&#xe666;</i>
                <p class="info">发布</p>
            </a>
        </li>
        <li>          
            <a href="share.html">
                <i class="iconfont">&#xe6bc;</i>
                <p class="info">共享</p>
            </a>
        </li>
        <li class="active">            
            <a href="admin.html">
                <i class="iconfont">&#xe65e;</i>
                <p class="info">我的</p>
            </a>
        </li>
    </ul>
    <script>
    	$(function(){
    		$(".btnGroup").children().click(function(){
    			$(this).addClass('current').siblings().removeClass('current')
    		})
    	})
    </script>
</body>
</html>