<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <meta content="telephone=no" name="format-detection" />
	<title>修改手机</title>
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
    <link rel="stylesheet" type="text/css" href="../com/css/admin.css">
    <script type="text/javascript" src="../com/js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
</head>
<body>
    <header>
    	<div class="area fl">
    		<a onclick="goback()"><i class="iconfont">&#xe60e;</i></a>
    	</div>
    	<!--<div class="zoom fr">
    		<a href="javascript:;">保存</a>
    	</div>-->
    	<div class="txt">
    		修改手机
    	</div>
    </header>
    <section class="clearfix show">
    	<div class="editarea">
    		<span class="fl">手机号</span>
    		<p class="input">15655972560</p>
    	</div>
    </section>
    <button class="mybtn show edit1">修改手机号</button>
    
    <div class="inputs show1">
		<div class="tel">
			<i class="iconfont">&#xe608;</i>
			<input type="tel" value="15655972560" disabled=""/>
			<button class="idcode fr" onclick="setTime(this)">获取验证码</button>
		</div>
		<div class="tel">
			<i class="iconfont ">&#xe639;</i>
			<input type="tel" placeholder="请输入手机验证码"/>
		</div>
	</div>
	<button class="mybtn edit2 show1">验证</button>	
	
	
    <div class="inputs show2">
		<div class="tel">
			<i class="iconfont">&#xe608;</i>
			<input type="tel" placeholder="请输入新手机号"/>
			<button class="idcode fr" onclick="setTime(this)">获取验证码</button>
		</div>
		<div class="tel">
			<i class="iconfont ">&#xe639;</i>
			<input type="tel" placeholder="请输入手机验证码"/>
		</div>
	</div>
	<button class="mybtn edit3 show2" onclick="location.href='personal.html'">提交</button>	
   <script>
   	$(function(){
   		$('.edit1').click(function(){
   			$(".show").hide();
   			$(".show1").show();
   		});
   		$('.edit2').click(function(){
   			$(".show1").hide();
   			$(".show2").show();
   		});
   		
   	})
   </script>
</body>
</html>