<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>货品</title>
	    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
	    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
	    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
	    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
	    <link rel="stylesheet" href="../com/css/coldlist.css" />
	    <script type="text/javascript" src="../com/js/jquery-1.12.0.min.js"></script>
	    <script type="text/javascript" src="../com/js/common.js"></script>
	    <script type="text/javascript" src="../com/js/index.js" ></script>
	</head>
	<body>
		<!-- header -->
		    <header>
		    	
	        	<div class="area fl">
	        		<a href="../index.html"><i class="iconfont">&#xe60e;</i></a>
	        	</div>
	        	<div class="zoom fr">
	        		<a href="search.html"><i class="iconfont">&#xe62f;</i></a>
	        	</div>
	        	<div class="txt">
	        		货品
	        	</div>
		    </header>
		<!-- header end-->
		<section>
			<div class="droplist">
				<a href="javascript:;"><span>品类</span><i class="iconfont">&#xe62d;</i></a>
				<div class="listcontain">
					<div class="type">
						品类
					</div>
					<ul class="list">
						<li class="active">不限</li>
						<li>鲜肉/-2~4℃</li>
						<li>鲜鱼/-1~1℃</li>
						<li>熟肉制品/0~5℃</li>
						<li>冻牛羊猪肉、冻鱼虾/-1~1℃</li>
						<li>食用菌/0~4℃</li>
						<li>水果、蔬菜/0~5℃</li>
					</ul>
				</div>
			</div>
			
		</section>
		<!--黑色遮罩-->
		<div class="backDrop"></div>
		<!--出租/求租切换按钮-->
		<div class="rent">
			<button class="rentKId btn">出货</button><button class="wanted">求货</button>
		</div>
		<!--coldlist-->
        <div class="coldlist">
	        <ul class="imgTable">
	        	<li class="imgCell">
					<a href="goodsdetail.html">
						<img class="fl" src="../com/img/muwu.jpg">
						<div class="">
							<p class='ellipsis'>莱芜嘉禾冷链物流有限公司</p>
							<p class='position'>
								<i class="iconfont">&#xe66e;</i>
								上海-长宁区-中山公园
							</p>
							<ul class='star'>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li>★</li>
							</ul>
							<button class="grab" onclick="location.href='confirm.html'">立即抢单</button>
						</div>						
                        
					</a>
				</li>
	        	<li class="imgCell">
					<a href="goodsdetail.html">
						<img class="fl" src="../com/img/cbd.jpg">
						<div class="">
							<p class='ellipsis'>莱芜嘉禾冷链物流有限公司</p>
							<p class='position'>
								<i class="iconfont">&#xe66e;</i>
								上海-长宁区-中山公园
							</p>
							<ul class='star'>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li>★</li>
							</ul>
							<button class="grab">立即抢单</button>
						</div>						
                        
					</a>
				</li>
	        	<li class="imgCell">
					<a href="javascript:;">
						<img class="fl" src="../com/img/muwu.jpg">
						<div class="">
							<p class='ellipsis'>莱芜嘉禾冷链物流有限公司</p>
							<p class='position'>
								<i class="iconfont">&#xe66e;</i>
								上海-长宁区-中山公园
							</p>
							<ul class='star'>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li>★</li>
							</ul>
							<button class="grab">立即抢单</button>
						</div>						
                        
					</a>
				</li>
	        	<li class="imgCell">
					<a href="javascript:;">
						<img class="fl" src="../com/img/muwu.jpg">
						<div class="">
							<p class='ellipsis'>莱芜嘉禾冷链物流有限公司</p>
							<p class='position'>
								<i class="iconfont">&#xe66e;</i>
								上海-长宁区-中山公园
							</p>
							<ul class='star'>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li>★</li>
							</ul>
							<button class="grab">立即抢单</button>
						</div>						
                        
					</a>
				</li>
	        	<li class="imgCell">
					<a href="javascript:;">
						<img class="fl" src="../com/img/shuijiao.jpg">
						<div class="">
							<p class='ellipsis'>莱芜嘉禾冷链物流有限公司</p>
							<p class='position'>
								<i class="iconfont">&#xe66e;</i>
								上海-长宁区-中山公园
							</p>
							<ul class='star'>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li>★</li>
							</ul>
							<button class="grab">立即抢单</button>
						</div>						
                        
					</a>
				</li>   
	        	<li class="imgCell">
					<a href="javascript:;">
						<img class="fl" src="../com/img/muwu.jpg">
						<div class="">
							<p class='ellipsis'>莱芜嘉禾冷链物流有限公司</p>
							<p class='position'>
								<i class="iconfont">&#xe66e;</i>
								上海-长宁区-中山公园
							</p>
							<ul class='star'>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li>★</li>
							</ul>
							<button class="grab">立即抢单</button>
						</div>						
                        
					</a>
				</li>  	
	        </ul>
        </div>
	</body>
</html>
