<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>发布仓位</title>
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
    <link rel="stylesheet" type="text/css" href="../com/css/release.css">
    <script type="text/javascript" src="../com/js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
    <script>
    	$(function() {
			$(".offershow").hide();
			$('.toggle').children('div').click(function(){
				$(this).addClass('current').siblings().removeClass('current')
				if($(this).index()==1){
					$('#name').attr('placeholder','货品求货')
					$(".offershow").show();
					$('.coldlist').hide();
				}else{
					$('#name').attr('placeholder','货品出货')
					$(".offershow").hide();
					$('.coldlist').show();
				}
			})
		});
    </script>
</head>
<body>
     <!-- header -->
        <header>
        	
            <div class="area fl">
                <a onclick="goback()"><i class="iconfont">&#xe60e;</i></a>
            </div>
            <div class="txt">
                发布货品
            </div>
        </header>
    <!-- header end-->
    <section class="toggle clearfix">
    	<div class="rent current fl"><i class="iconfont">&#xe64e;</i>出货</div>
    	<div class="offer fl"><i class="iconfont">&#xe64f;</i>求货</div>
    </section>
    <!--coldlist-->
    <div class="coldlist">
        <ul class="imgTable">
        	<li class="imgCell">
				<a href="javascript:;">
					<img class="fl" src="../com/img/muwu.jpg">
					<div class="">
						<p class='ellipsis'>莱芜嘉禾冷链物流有限公司</p>
						<p class='position'>
							<i class="iconfont">&#xe66e;</i>
							上海-长宁区-中山公园
						</p>
						<ul class='star'>
							<li class="filled">★</li>
							<li class="filled">★</li>
							<li class="filled">★</li>
							<li class="filled">★</li>
							<li>★</li>
						</ul>
					</div>		
				</a>
			</li>
        </ul>
    </div>
    <section class="main maindetail">
        <form>
            <ul class="houseinfo">
                <li>
                    <label for="name">描述</label>
                    <input type="text"  id="name" placeholder="货品出货"/>
                </li>
                <li>
                    <label for="boss">供应商</label>
                    <input type="text"  id="boss"/>
                </li>
                 <li class="offershow">
                     <label for="province">省</label>
                     <input type="text" id="province" />
                     <i class="iconfont fr moreinfo">&#xe60d;</i>
                 </li>
                 <li class="offershow">
                     <label for="city">市</label>
                     <input type="text" id="city" />
                     <i class="iconfont fr moreinfo">&#xe60d;</i>
                 </li>
                <li>
                    <label for="category">品类</label>
                    <div class="mySelect">
	                    <select id="category">
	                        <option>不限</option>
	                        <option>鲜肉/-2~4℃</option>
	                    </select>
	                </div>
                    <i class="iconfont fr moreinfo">&#xe60d;</i>
                </li>
                <li>
                    <label for="num">数量</label>
                    <input type="text" id="num" placeholder="吨"/>
                </li>
                <li>
                    <label for="price">单价</label>
                    <input type="text"  id="price" placeholder="元/吨"/>
                </li>
                <li>
                    <label for="time">信息有效期</label>
                    <input type="date"  id="time" />
                    <i class="iconfont fr">&#xe63a;</i>
                </li>
                <li>
                    <label for="phone">联系电话</label>
                    <input type="text" id="phone"  placeholder="18863699825"/>
                </li>
                <li>
                    <label for="note">备注</label>
                    <input type="text"  id="note" placeholder="（选填）"/>
                </li>
            </ul>
        </form>
        <button class="mybtn" onclick="location.href='releasesuccess.html'">确认发布</button>
    </section>
    <ul class="footer">
        <li>           
            <a href="../index.html">
                <i class="iconfont">&#xe65a;</i>
                <p class="info">首页</p>
            </a>
        </li>
        <li class="active">            
            <a href="release.html">
                <i class="iconfont">&#xe666;</i>
                <p class="info">发布</p>
            </a>
        </li>
        <li>          
            <a href="cold360.html">
                <i class="iconfont">&#xe66c;</i>
                <p class="info">冷库360</p>
            </a>
        </li>
        <li>            
            <a href="admin.html">
                <i class="iconfont">&#xe65e;</i>
                <p class="info">我的</p>
            </a>
        </li>
    </ul>
</body>
</html>