<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>共享</title>
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
    <link rel="stylesheet" type="text/css" href="../com/css/release.css">
    <script type="text/javascript" src="../com/js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
</head>
<body>
    <!-- header -->
        <header>
            <div class="txt">
                共享
            </div>
        </header>
    <!-- header end-->
    
    <section class="grid">
        <div class="grid_kid share_store">
            <a href="storehouse.html">
                <i class="iconfont">&#xe661;</i>
                <p class="info">仓位</p>
            </a>
        </div>
        <div class="grid_kid share_goods">
            <a href="goodslist.html">                   
                <i class="iconfont">&#xe667;</i>
                <p class="info">货品</p>
            </a>
        </div>
        <div class="grid_kid share_cold">
            <a href="coldtransportlist.html">
                <i class="iconfont">&#xe66b;</i>
                <p class="info">冷运</p>              
            </a>
        </div>
    </section>

    <ul class="footer">
        <li>           
            <a href="../index.html">
                <i class="iconfont">&#xe65a;</i>
                <p class="info">首页</p>
            </a>
        </li>
        <li>           
            <a href="release.html">
                <i class="iconfont">&#xe666;</i>
                <p class="info">发布</p>
            </a>
        </li>
        <li class="active">         
            <a href="share.html">
                <i class="iconfont">&#xe6bc;</i>
                <p class="info">共享</p>
            </a>
        </li>
        <li>            
            <a href="admin.html">
                <i class="iconfont">&#xe65e;</i>
                <p class="info">我的</p>
            </a>
        </li>
    </ul>
</body>
</html>