/*

自定义样式
jhy
2017-5-14

*/


/*头部样式*/
.panel-header,.panel-title{
	height: 40px;
	line-height: 40px;
}
.panel-header{padding:0 0 0 15px;}
#cc>div>div{background: #fff!important;}
#cc>div>.modal{background: rgba(0,0,0,0.1)!important;}
.logo{
	width:45px;
	height: 45px;
	border-radius: 50%;
	margin-top: 0;
	margin-bottom: 0;
	margin-top: 7px;
	cursor: pointer;
	background-image: url(../img/logo.png);
}
.manage{
	line-height: 60px;
	margin: 0;
	padding-left:17px;
	color: #4B4B4B;
	cursor: pointer;
}
.home,.back{
	width: 60px;
	height:60px;
	text-align: center;
	cursor: pointer;
}
.home span,.back span{
	width: 22px;
	height:24px;
	margin-top: 24px;
	font-size: 16px;
	line-height: 24px;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #909090;
}
.back:hover span{
	color:#337AB7;
	border-color:#337AB7;
}
.userArea .h4{
	margin-top:25px;
}
.hi,.user{	
	color: #4B4B4B;
}
/*侧栏样式*/
.list{margin-bottom: 0;}
.list li{
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	padding-left: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list li:hover{background: #777;color: #fff;}
.list li:hover a{color: #fff;text-decoration: none;}
.current { background:#f00} 
.list li,.list li a{
	font-size: 13px;
	color:#0E2D5F;
}
.list li a:focus{
  color : #642100;
}
.list li:active,
.highlight,
.list li.highlight:hover{
	color : #fff!important;
	background : #31708f;
}
.highlight a{
	color: #fff!important;
}
.liSon{
	background : #F1F1F1;
	display : none;
	width:100%;
}
.liSon li{
	color: #333;
	text-indent: 2em;
	line-height: 30px;
}
.highlight li{
	color: #FFF;
}
.list li a+span{
	line-height: 40px;
	margin-right: 12px;
}
