.head{
	width: 100%;
	height: 60px;
	background-color: #fff;
}
.logoArea,.userArea{
	height: 100%;
	line-height: 60px;
	padding:0 20px;
}
.logo{
	width:45px;
	height: 45px;
	border-radius: 50%;
	margin-top: 0;
	margin-bottom: 0;
	margin-top: 7px;
	cursor: pointer;
	background-image: url(../img/logo.png);
}
.manage{
	line-height: 60px;
	margin-top: 0;
	padding-left:17px;
	color: #4B4B4B;
	cursor: pointer;
}
.home,.back{
	width: 60px;
	height:60px;
	text-align: center;
	cursor: pointer;
}
.home span,.back span{
	width: 26px;
	height:26px;
	margin-top: 17px;
	font-size: 20px;
	line-height: 26px;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #909090;
}
.userArea .h4{
	margin-top:25px;
}
.hi,.user{	
	color: #4B4B4B;
}
.smartColdManage{
	color: #B42521;
	margin-left: 20px;
}
.content{
	background-color: #303A44;
	height: 100%;
	width: 100%;
}
.sidebar{
	width: 220px;
}
.sidebar+div{
	min-height:850px;
	background-color:#F1F1F1;
}
.main{
	margin-left: 220px;	height: 100%;
	background-color: #F1F1F1;
	padding:28px 30px 0 70px;
}
.functionColumn{
	height: 70px;
	line-height: 70px;
	color: #fff;
	font-size: 22px;
	padding-left: 32px;
}
.list li{
	line-height: 60px;
	cursor: pointer;
	padding-left: 32px;
}
.list li,.list li a{
	font-size: 18px;
	color: #949494;
}
.list li a:hover{
	color: #fff;
	text-decoration: none;
}
.highlight{
	color : #fff!important;
	background : #D55A1F;
}
.highlight a{
	color: #fff!important;
}
.liSon{
	background : #F1F1F1;
	display : none;
	width:100%;
}
.liSon li{
	color: #333;
	text-indent: 2em;
	line-height: 30px;
}
.highlight li{
	color: #FFF;
}
.list li a+span{
	line-height: 60px;
	margin-right: 12px;
}
.operation{
	height: 34px;
}
#plusCold{
	background-color: #767E81;
	color: #fff;
	width: 150px;
}
#plusCold span{
	display: inline-block;
	margin-right: 10px;
}
#status{
	padding-left: 50px;
	width: 150px;
}
#status .btn{
	width: 100px;
}
#search{
	margin-left: 350px;
	position: relative;
}
#myText{
	width: 100%;
    height: 32px;
    border: 1px solid #767e81;
    border-radius: 3px;
    line-height: 32px;
    padding-left: 10px;
    color: #666;
    outline: none;
}
#searchImg{
	position: absolute;
	top: 0;
	right: 20px;
	line-height: 32px;
}
#searchImg span{
	cursor: pointer;
}
.tableArea{
	margin-top: 50px;
}
.tableArea thead th{
	background-color: #E4E4E4;
	font-size: 20px;
	font-weight: 400;
}
.tableArea thead th:first-child,.tableArea thead th:last-child{
	width:150px;
}
.tableArea thead th{	
	text-align: center;
}
.topHead{
	font-size: 20px;
	background-color: #E4E4E4;
	line-height: 50px;
}
input[type='checkbox']{
	width: 20px;
	height: 20px;
}
#allSec{
	width: 100%;
	height: 100%;
	font-size: 20px;
	font-weight: 400;
	position: relative;
	cursor: pointer;
}
#allSec label{
	font-weight: 400;
}
tbody tr td{
	text-align: center;
	position: relative;
	vertical-align:middle!important;
}
.edit,.delete{
	display: inline-block;
	width: 25px;
	height:25px;
	vertical-align:middle;
	margin-right: 10px;
	background: url(../img/edit.png) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	cursor: pointer;
}
.editCur{
	background: url(../img/editCur.png) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.delete{
	background-image: url(../img/delete.png);
}
/* 翻页按钮样式 */
.myGreen.pager{width: 100%;margin:5px 0;}
.myGreen.pager ul{width: 280px;}
.myGreen.pager ul li a{padding:0;}
.myGager div.short { float: left; margin:0 20px;}
.myGreen.pager div.short input { width: 40px; height: 22px;text-align: center;line-height: 22px; border:1px solid #ccc; margin-left: 8px; float: left;padding:0;margin-bottom: 0;}
.myGreen.pager ul { list-style: none; padding: 0; margin: 0; float: left; margin-right: 4px; }
.myGreen.pager ul li { display: inline; margin-left: 2px; }
.myGreen.pager ul li a { text-decoration: none; display: inline-table; width: 20px; height: 20px; text-align: center; border-radius: 4px; }
.myGreen.pager span { margin-left: 4px; color: #333; float: left; height: 22px;line-height: 22px;}
.myGreen.pager .myBtn { display: block; text-align: center; padding: 0 8px; float: left; margin: 0; margin-left: 4px; border: 1px solid #ccc; cursor: pointer; border-radius: 4px; }
.myGreen.pager .myBtn:active{background-color: #3B3B41;color: #fff;}
.myGreen.pager .disabled { color: #A0A0A0 !important; text-shadow: 1px 1px 1px #FFFFFF; }
/* 翻页按钮样式 */

.dropdown-menu{
	left: 20px;
	text-align: center;
}

.three{
	text-align:center;
	height: 40px;
	margin: 20px 0;
}
.three button{
	width: 150px;
	height: 40px;
	font-size: 18px;
	line-height: 40px;
	padding: 0;
}
.three button:focus{
	background-color: #767E81;
	color: #fff;
}
.content .panel{
	width:30%;
	margin:0 auto;
	position: absolute;
	top: 40%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.content .panel .panel-title{
	text-align: center;
	line-height: 40px;
	font-size: 26px;
}
#submit{
	background-color: #9BC200;
	color: #fff;
	height: 50px;
	line-height: 50px;
	padding: 0;
	font-size: 26px;
}
#username,#password{
	height: 40px;
}
.checkbox-inline{
	font-size: 16px;
}

.rdc {
}

.rdc label {
    text-align: right;
    position: relative;
    top:2px;
    font: 14px/1.5 Arial,sans-serif;
}

.rdc em {
    position: relative;
    top: 3px;
    margin: 0 1px;
    color: #C00;
}

.rdc input {
    width: 400px;
}

.rdc textarea {
    max-height: 200px;
    width: 400px;
}

.rdc select {
    width: 400px;
}

.rdcRadio {

}

.rdcRadio .labelText {
    text-align: right;
    position: relative;
    top:2px;
    font: 14px/1.5 Arial,sans-serif;
}

.rdc .labelButton {
    position: relative;
    top: 3px;
    margin: 0 1px;
}

.rdcRadio em {
    position: relative;
    top: 3px;
    margin: 0 1px;
    color: #C00;
}

.addMore {
    text-align: right;
}

.rdcRadio label {
    text-align: right;
    position: relative;
    top:2px;
    font: 14px/1.5 Arial,sans-serif;
}

.rdcRadio input{

}

.minInput label {
    text-align: right;
    position: relative;
    top:2px;
    font: 14px/1.5 Arial,sans-serif;
}

.minInput input{
    text-align: right;
    position: relative;
    margin: 0 0px;
    width: 30px;
}

.minInput .divCSS {
    text-align: right;
}


.minInput em {
    position: relative;
    top: 3px;
    margin: 0 1px;
    color: #C00;
}
/* 添加冷库 */
.addcold{
	width: 60%;
	height: 100%;
	background-color: pink;
	margin:0 auto;
}
