.langouter{
    position: relative;
}
.langbox{
    cursor: pointer;
}
.langbox div{
    display: inline-block;
    vertical-align: middle;
}
.imgUS{
    background: url(../img/media/appoverview.png) no-repeat;
    background-position:-449px -250px;width: 23px;height: 22px;
}
.imgCN{
    background: url(../img/media/appoverview.png) no-repeat;
    background-position:-9px -289px;width: 23px;height: 22px;
}
.langbox .rightlabel{
    font-size: 14px;
    color: #ffffff;
}
.langbox.selected .rightlabel{
    color: #666;
}
.hidebox{
    display: none;
    background-color: #333;
    border-radius: 4px;
    position: absolute;
    top: 26px;
    left: -10px;
    padding: 10px;
    line-height: 22px;
}
.lang-tri-bottom {
    border-color: transparent transparent #333;
    border-style: solid;
    border-width: 7px 9px;
    height: 0;
    margin-top: -24px;
    position: absolute;
    width: 0;
    left: 40px;
}
