<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yananxu.smartcold">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_lianku_new"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
<!--        <activity android:name=".MenuMainActivity"> -->
        <!--        <activity android:name=".MainActivity"> -->
        <activity android:name=".com.example.yananxu.smartcold.frame.guide.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".com.example.yananxu.smartcold.frame.guide.GuideActivity"></activity>
        <activity android:name=".com.example.yananxu.smartcold.frame.guide.WelcomeActivity"></activity>
        <activity android:name=".com.example.yananxu.smartcold.frame.MenuMainActivity"></activity>
        <activity android:name=".com.example.yananxu.smartcold.rdcresource.RdcActivity"></activity>
        <activity android:name=".com.example.yananxu.smartcold.share.ShareActivity"></activity>
        <activity android:name=".com.example.yananxu.smartcold.rdcresource.RdcDetailActivity"></activity>
        <activity android:name=".com.example.yananxu.smartcold.frame.MainActivity"></activity>
        <activity android:name=".com.example.yananxu.smartcold.frame.MeActivity"></activity>
        <activity android:name=".com.example.yananxu.smartcold.frame.InfoActivity"></activity>
        <activity android:name=".com.example.yananxu.smartcold.frame.NewsActivity"></activity>
        <activity android:name=".com.example.yananxu.smartcold.publish.PublishActivity"></activity>
        <activity android:name=".com.example.yananxu.smartcold.rdcmap.RdcMapActivity"></activity>
        <activity android:name=".com.example.yananxu.smartcold.rdc360.RdcThreeSixZeroActivity"></activity>
        <activity android:name=".com.example.yananxu.smartcold.rdctempget.TempGetActivity"></activity>
        <activity android:name=".com.example.yananxu.smartcold.share.HuopinActivity"></activity>
        <activity android:name=".com.example.yananxu.smartcold.share.CangweiActivity"></activity>
        <activity android:name=".com.example.yananxu.smartcold.share.LengyunActivity"></activity>
        <activity android:name=".com.example.yananxu.smartcold.publish.HuopinActivity"></activity>
        <activity android:name=".com.example.yananxu.smartcold.publish.CangweiActivity"></activity>
        <activity android:name=".com.example.yananxu.smartcold.publish.LengyunActivity"></activity>
        <activity android:name=".com.example.yananxu.smartcold.publish.RdcActivity"></activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 加入在SDCard中创建与删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <!-- 加入在SDCard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>


</manifest>