<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>360维护</title>
	<link rel="stylesheet" type="text/css" href="../com/css/common.css">
	<link rel="stylesheet" href="../com/css/swiper.min.css" />
	<link rel="stylesheet" type="text/css" href="../com/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../com/css/baguettebox.min.css">
	<link rel="stylesheet" type="text/css" href="../com/css/layer.css">
	<link rel="stylesheet" href="../com/css/cold360.css" />
	<script type="text/javascript" src="../com/js/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="../com/js/baguettebox.min.js"></script>
	<script type="text/javascript" src="../com/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../com/js/layer.js"></script>
	<script type="text/javascript" src="../com/js/angular.min.js"></script>
	<script type="text/javascript" src="../bower_components/ng-file-upload/ng-file-upload-all.min.js"></script>
	<script type="text/javascript" src="../com/js/swiper.min.js" ></script>
	<script type="text/javascript" src="../com/js/common.js"></script>
	<script type="text/javascript" src="../com/js/jquery.raty.js"></script>
	<script type="text/javascript" src="../com/js/cold360.js" ></script>
	<script type="text/javascript" src="../com/js/jedate/jedate.js"></script>
	<script type="text/javascript" src="../app/js/maintain.js" ></script>
    <style>
		-m-layerchild h3{margin:0;font-size:.8rem}
		ol,p,ul{margin-bottom:0}
		.applyKid>p{font-size: .7rem!important;}
		.applyKid{position: relative;}
		._error{position: absolute;top: 2rem;right:0.5rem;font-size: .65rem;color:red;}
		.oTd{    min-width: 8rem;; max-width: 8rem;; width: 8rem;;white-space: normal;word-break: break-all;}
    </style>
</head>
<body ng-app="app" ng-controller="maintain" ng-cloak>
    <!-- header -->
         <header class="one">
            <div class="area fl">
                <a href="../view/personal.html"><img class="userImg"></a>
            </div>
            <div class="zoom fr" ng-show="user.roleid == 2 || user.roleid == 3">
                <a class="transion"><i class="iconfont">&#xe73c;</i></a>
            </div>
            <div class="txt omg" ng-bind="rdcName">
            </div>
            <ul class="rdcDropList" ng-repeat="storage in storages">
                <li ng-click="viewStorage(storage.id)">{{storage.name}}</li>
            </ul>
        </header>
        <header class="two">
        	<div class="area fl">
        		<a class="cancel"><i class="iconfont">&#xe60e;</i></a>
        	</div>

        	<div id="searchDara_div" class="search">
        		<input type="text" style="color: #555;" placeholder="查找RDC..." ng-model="searchContent" ng-change="searchRdcs(searchContent)" ng-model-options="{debounce: 700}"/>
        		<i class="iconfont" >&#xe62f;</i>
        	</div>
	    </header>
    <!-- header end-->
    <section class="toggle">
		<div class="tempture current mylog"><i class="iconfont">&#xe79c;</i>维护提醒</div>
		<div class="apply_log mylog"><i class="iconfont" style="color: #F39826;">&#xe639;</i>维修</div>
		<div class="light mylog"><i class="iconfont">&#xe7c9;</i>维修记录</div>
	</section>
    <div class="backDrop"></div>
	<div class="mainTainBottomL">
		<!-- 维护提醒html ===================*********==========***********=========-->
		<div class="swiper-container chart temperature maintain">
			<div class="swiper-wrapper">
				<div class="swiper-slide" ng-repeat="(key,value) in  compressorGroups" ng-show="rdcId">
					<p class="actually">{{value.name}}</p>
					<div class="alarm_bg" ng-repeat="obj in  value.compressors">
						<strong class="remain" oid="{{obj.id}}">{{obj.sytm}}</strong>
						<p>{{obj.name}}距离下次定期保养</p>
					</div>
				</div>
			</div>
			<!-- Add Pagination -->
			<div class="swiper-pagination"></div>
			<!-- Add Arrows -->
			<div class="swiper-button-next"><i class="iconfont">&#xe691;</i></div>
			<div class="swiper-button-prev"><i class="iconfont">&#xe692;</i></div>
		</div>
		<!-- 维护提醒html  end -->
		<!--告警列表  =============-->
		<div class="wxRecords black">
			<!------------------ 维修商-------------------->
			<div ng-if="user.type==2">
				<div ng-if="st!=0&&st!=1">
					<p style="text-align: left;">维修列表</p>
					<div class="analysis alarmLog">
						<table class="cold_warn">
							<thead>
							<tr>
								<th>
									<div class="check_icon" ng-class="{true: 'on', false: ''}[isselall]">
										<input ng-model="isselall" type="checkbox" ng-click="tol_selall_wx(isselall)" >
										<i class="iconfont">&#xe6e3;</i>
									</div>
								</th>
								<th>序号</th>
								<th>故障消息</th>
								<th>分析结果</th>
								<th>状态</th>
								<th>告警时间</th>
								<th >操作</th>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="obj in maintdata_notice">
								<td>
									<div class="check_icon"  ng-class="{true: 'on', false: ''}[obj.state]">
										<input id="ckobj_{{obj.id}}" name="ck_obj" ng-model="obj.state" ng-checked="isselall" value="{{obj.id}}" type="checkbox">
										<i class="iconfont">&#xe6e3;</i>
									</div>
								</td>
								<td>{{obj.id}}</td>
								<td class="oTd">{{obj.warningmsg}}</td>
								<td  class="oTd">{{obj.analysismsg}}</td>
								<td>{{stmode[obj.status]}}</td>
								<td>{{obj.addtime.substring(0,19)}}</td>
								<td class="text-center">
							        <span ng-if="obj.status==1">
								        <button  class="btn btn-xs btn-primary " ng-click="tol_forMaint_notice(obj.id,0,0)">维修确认</button>
								        <button class="btn btn-xs btn-warning " ng-click="tol_ignore_notice(obj.id,-2,'确定要解除故障吗?')">解除故障</button>
							        </span>
									<span ng-if="obj.status==2">
								        <button  class="btn btn-xs btn-primary " style="width: 120px;" ng-click="tol_forMaint_notice(obj.id,1,0)">详情</button>
							        </span>
									<span ng-if="obj.status==3">
								        <button  class="btn btn-xs btn-primary " style="width: 120px;" ng-click="tol_gotRepair_notice(obj.id,0,1)">维修清单确认</button>
							        </span>
									<span ng-if="obj.status==5">
								        <button  class="btn btn-xs btn-primary " style="width: 120px;" ng-click="tol_gotRepair_notice(obj.id,1,1)">查看维修清单</button>
							        </span>
								</td>
							</tr>
							</tbody>
							<tr>
						</table>
					</div>
					<button class="btn btn-info btn-block" ng-click="tol_batch_notice()">合并维修</button>
				</div>
				<!------------------ 维修通知单---------------------->
				<div ng-if="rep==0">
					<p>维修通知单</p>
					<form onsubmit="return false;" name="oForm" novalidate>
						<div class="applyKid textA">
							<p>单位名称:</p>
							<input class="datainp" type="text" name="name" ng-model="company.name" required/>
							<span class="_error" ng-show="oForm.name.$dirty && oForm.name.$invalid">单位名称是必须的</span>
						</div>
						<div class="applyKid textA">
							<p>单位地址:</p>
							<input class="datainp" type="text" name="address" name="address" ng-model="company.address" required/>
							<span class="_error" ng-show="oForm.address.$dirty && oForm.address.$invalid">单位地址是必须的</span>
						</div>
						<div class="applyKid">
							<p>联系人:</p>
							<input class="datainp" type="text" name="username" ng-model="wuser.username" required />
							<span class="_error" ng-show="oForm.username.$dirty && oForm.username.$invalid">联系人是必须的</span>
						</div>
						<div class="applyKid">
							<p>联系电话:</p>
							<input class="datainp" type="text" ng-model="wuser.telephone" name="tel" ng-pattern="/(^1\d{10}$)|(^0\d{2,3}-?\d{7,8}$)/"  required/>
							<span class="_error" ng-show="oForm.tel.$dirty && oForm.tel.$invalid">联系电话必须合法</span>
						</div>
						<div class="applyKid">
							<p>报修时间:</p>
							<input class="datainp" id="wx" readonly type="text" ng-model="maintenance.repairtime" />
						</div>
						<div class="applyKid">
							<p>备注:</p>
							<input class="datainp" id="wx" readonly type="text" name="desc" ng-model="desc" />
						</div>
						<div class="applyKid clearfix baguetteBoxOne gallery" on-finish-render-filters><!--&lt;!&ndash;图片list&ndash;&gt;-->
							<a ng-repeat="obj in picPath" href="{{obj}}"
							   style="width: 60px;height: 60px;float: left;margin-right: 10px;margin-bottom: 10px;"
							   data-caption="{{($index+1)+'/'+picPath.length}}">
								<img ng-src="{{obj}}"/>
							</a>
						</div>
						<div class="applyKid">
							<p>故障现象:</p>
							<div class="addSeclect form-inline" ng-repeat="item in wardata">
							<span ng-repeat="item in wardata">
								<select disabled="disabled">
									<option value="0">{{item.analysismsg}}</option>
								</select>
								<select disabled="disabled">
									<option value="0">{{item.warningmsg}}</option>
								</select>
	                          </span>
								<span ng-if="st==0&&user.type==2" class="addBtn btn btn-info" ng-click="addSelect(this)">+</span>
							</div>
							<div class="addSeclect form-inline" ng-repeat="item in nwardata" >
							<span >
								<select ng-model="item.pid"  ng-options="obj.id as obj.name for obj in pwartype" ng-change="changepwartype($index,item)" ng-disabled="st==1"></select>
								<select ng-model="item.id"   ng-options="obj.id as obj.name for obj in swartype[$index]" ng-disabled="st==1"></select>
	                         </span>
								<span ng-if="st==0&&user.type==2" class="addBtn btn btn-primary" ng-click="removerSelect($index)">-</span>
							</div>
						</div>
						<div class="applyKid">
							<p>故障补充:</p>
							<input class="datainp" type="text" ng-model="maintenance.note" />
						</div>
						<div class="applyKid">
							<p>预约上门时间:</p>
							<input class="datainp" id="orderTime" readonly type="text" ng-model="maintenance.bookingtime" />
						</div>
						<div class="applyKid">
							<p>预估维修费用:</p>
							<input class="datainp" type="number" ng-model="maintenance.cost" name="cost" ng-pattern="/^[+]{0,1}(\d+)$|^[+]{0,1}(\d+\.\d+)$/"/>
							<span class="_error" ng-show="oForm.cost.$dirty && oForm.cost.$invalid">费用不能小于0元</span>
						</div>
						<div class="applyKid">
							<p>选择服务性质:</p>
							<label class="checkbox-inline check_icon" ng-class="{true: 'on', false: ''}[ischeck1]">
								<input ng-model="ischeck1" type="checkbox" id="ck_server1" name="service" value="1">
								<i class="iconfont">&#xe6e3;</i>
								<span class="check-text">三包</span>
							</label>
							<label class="checkbox-inline check_icon" ng-class="{true: 'on', false: ''}[ischeck2]">
								<input ng-model="ischeck2" type="checkbox" id="ck_server2" name="service" value="2">
								<i class="iconfont">&#xe6e3;</i>
								<span class="check-text">改造</span>
							</label>
							<label class="checkbox-inline check_icon" ng-class="{true: 'on', false: ''}[ischeck3]">
								<input ng-model="ischeck3" type="checkbox" id="ck_server3" name="service" value="3">
								<i class="iconfont">&#xe6e3;</i>
								<span class="check-text">维修</span>
							</label>
							<label class="checkbox-inline check_icon" ng-class="{true: 'on', false: ''}[ischeck4]">
								<input ng-model="ischeck4" type="checkbox" id="ck_server4" name="service" value="4">
								<i class="iconfont">&#xe6e3;</i>
								<span class="check-text">零件</span>
							</label>
							<label class="checkbox-inline check_icon" ng-class="{true: 'on', false: ''}[ischeck5]">
								<input ng-model="ischeck5" type="checkbox" id="ck_server5" name="service" value="5">
								<i class="iconfont">&#xe6e3;</i>
								<span class="check-text">保养</span>
							</label>
							<label class="checkbox-inline check_icon" ng-class="{true: 'on', false: ''}[ischeck6]">
								<input ng-model="ischeck6" type="checkbox" id="ck_server6" name="service" value="6">
								<i class="iconfont">&#xe6e3;</i>
								<span class="check-text">巡检</span>
							</label>
							<label class="checkbox-inline check_icon" ng-class="{true: 'on', false: ''}[ischeck7]">
								<input ng-model="ischeck7" type="checkbox" id="ck_server7" name="service" value="7">
								<i class="iconfont">&#xe6e3;</i>
								<span class="check-text">移交</span>
							</label>
						</div>
						<div class="applyKid textA">
							<p>流程当前状态:<span style="color: green;">{{stmode[cuttstatus]}}</span></p>
						</div>
						<div class="applyKid textA clearfix">
							<button ng-if="st==0&&user.type==2" class="btn btn-success btn-block"
									ng-disabled="oForm.name.$dirty && oForm.name.$invalid ||
						 oForm.address.$dirty && oForm.address.$invalid ||
						 oForm.username.$dirty && oForm.username.$invalid ||
						 oForm.cost.$dirty && oForm.cost.$invalid ||
						 oForm.tel.$dirty && oForm.tel.$invalid"
									ng-click="submit()">发送维修申请</button>
							<button ng-if="st==1&&user.type!=2" class="btn btn-success col-xs-5 col-sm-5" ng-click="tol_advice(false,3,'您确定要提交该维修确认单吗？')">同意</button>
							<button ng-if="st==1&&user.type!=2" class="btn btn-danger col-xs-5 col-sm-5 col-xs-offset-2" ng-click="tol_advice(true,1,'您确定驳回该维修确认单吗？')">驳回</button>
						</div>
					</form>
				</div>
				<!------------------ 维修通知单end---------------------->
				<!------------------ 维修清单确认---------------------->
				<div ng-if="rep==1">
					<p>维修清单确认</p>
					<form onsubmit="return false;" name="aForm" novalidate>
						<div class="applyKid textA">
							<p>单位名称:</p>
							<input class="datainp" type="text" name="name" ng-model="company.name" required/>
							<span class="_error" ng-show="aForm.name.$dirty && aForm.name.$invalid">单位名称是必须的</span>
						</div>
						<div class="applyKid textA">
							<p>单位地址:</p>
							<input class="datainp" type="text" name="address" ng-model="company.address" required />
							<span class="_error" ng-show="aForm.address.$dirty && aForm.address.$invalid">单位地址是必须的</span>
						</div>
						<div class="applyKid">
							<p>联系人:</p>
							<input class="datainp" type="text" name="username" ng-model="wuser.username" required/>
							<span class="_error" ng-show="aForm.username.$dirty && aForm.username.$invalid">联系人是必须的</span>
						</div>
						<div class="applyKid">
							<p>联系电话:</p>
							<input class="datainp" type="text" ng-model="wuser.telephone" name="tel"
								   ng-pattern="/(^1\d{10}$)|(^0\d{2,3}-?\d{7,8}$)/"  required/>
							<span class="_error" ng-show="aForm.tel.$dirty && aForm.tel.$invalid">联系电话必须合法</span>
						</div>
						<div class="applyKid">
							<p>开工时间:</p>
							<input class="datainp" id="begin" readonly type="text"/>
						</div>
						<div class="applyKid">
							<p>结束时间:</p>
							<input class="datainp" id="end" readonly type="text" />
						</div>
						<div class="applyKid">
							<p>实际故障现象:</p>
							<div class="addSeclect form-inline" ng-repeat="item in wardata">
							<span ng-repeat="item in wardata">
								<select disabled="disabled">
									<option value="0">{{item.analysismsg}}</option>
								</select>
								<select disabled="disabled">
									<option value="0">{{item.warningmsg}}</option>
								</select>
	                          </span>
								<span ng-if="st==0" class="addBtn btn btn-info" ng-click="addfSelect()">+</span>
							</div>
							<div class="addSeclect form-inline" ng-repeat="item in faultmapper" >
							<span >
								<select ng-model="item.pid"  ng-options="obj.id as obj.name for obj in pwartype" ng-change="changefselecttype($index,item)" ng-disabled="st==1"></select>
								<select ng-model="item.id"   ng-options="obj.id as obj.name for obj in swartype[$index]" ng-disabled="st==1"></select>
	                         </span>
								<span ng-if="st==0" class="addBtn btn btn-primary" ng-click="removerfSelect($index)">-</span>
							</div>
						</div>
						<div class="applyKid">
							<p style="margin-bottom: 0.5rem;">维修处理结果:<span ng-if="st==0" class="addBtn btn btn-info" style="float: none;" ng-click="addmSelect()">+</span></p>
							<div class="addSeclect form-inline" ng-repeat="item in maintresult">
							<span >
								<select ng-model="item.pid"  ng-options="obj.id as obj.name for obj in pwartype" ng-change="changemselecttype($index,item)" ng-disabled="st==1"></select>
								<select ng-model="item.id"   ng-options="obj.id as obj.name for obj in mwartype[$index]" ng-disabled="st==1"></select>
	                         </span>
								<span ng-if="st==0" class="addBtn btn btn-primary" ng-click="removermSelect($index)">-</span>
							</div>
						</div>
						<div class="applyKid table-responsive">
							<p>维修费用清单:</p>
							<table class="table table-bordered">
								<thead>
								<tr class="success">
									<th>序号</th>
									<th>一级项目</th>
									<th>二级项目</th>
									<th>数量</th>
									<th>单位</th>
									<th>单价/元</th>
									<th>小计金额</th>
									<th>操作<span class="btn btn-info" ng-click="uplist(true,$index)" ng-if="st==0">+</span></th>
								</tr>
								</thead>
								<tbody>
								<tr class="warning" ng-repeat="obj in detailedList">
									<td>{{$index+1}}</td>
									<td>
										<select ng-model="obj.wpid" ng-options="item.id as item.name for item in pwartype"  ng-change="changeordertype($index,obj)"  ng-disabled="st==1"></select>
									</td>
									<td>
										<select ng-model="obj.wid"   ng-options="item.id as item.name for item in ordertype[$index]" ng-disabled="st==1"></select>
									</td>
									<td style="position: relative;">
										<input type="number" placeholder="1" ng-model="obj.number" name="costNUm"
											   ng-pattern="/^[+]{0,1}(\d+)$|^[+]{0,1}(\d+\.\d+)$/" ng-disabled="st==1" style=" appearance:none;-webkit-appearance:none;width: 100%; height: 100%;">
										<span class="_error" ng-show="aForm.costNUm.$dirty && aForm.costNUm.$invalid" style="right:0;top:75%;font-size: 10px;z-index: 1;">数量不能小于0</span>
									</td>
									<td>
										<select ng-model="obj.unit" ng-options="obj.id as obj.name for obj in unit" ng-disabled="st==1"></select>
									</td>
									<td style="position: relative;">
										<input type="number" placeholder="0" ng-model="obj.price" name="price"
											   ng-pattern="/^[+]{0,1}(\d+)$|^[+]{0,1}(\d+\.\d+)$/" ng-disabled="st==1" style=" appearance:none;-webkit-appearance:none;width: 100%; height: 100%;">
										<span class="_error" ng-show="aForm.price.$dirty && aForm.price.$invalid" style="right:0;top:75%;font-size: 10px;z-index: 1;">价格不能小于0</span>
									</td>
									<td>{{obj.number*obj.price}}<span class="hide" > </span></td>
									<td>
										<span ng-if="st==0" class="btn btn-primary" ng-click="uplist(false,$index)">-</span>
									</td>
								</tr>
								</tbody>
								<tfoot>
								<tr class="success">
									<td>合计金额</td>
									<td colspan="8">{{cost}}</td>
								</tr>
								</tfoot>
							</table>
						</div>
						<div class="applyKid">
							<p>维修补充:</p>
							<input class="datainp" type="text" id="notes" ng-model="note"/>
						</div>
						<div class="applyKid">
							<p>选择服务性质:</p>
							<div class="checkbox userRadio"><label><input id="radio_service1" type="radio" name="service" checked value="1">三包，工作完成</label></div>
							<div class="checkbox userRadio"><label><input id="radio_service2" type="radio" name="service" value="2">维修，工作完成，不收费</label></div>
							<div class="checkbox userRadio"><label><input id="radio_service3" type="radio" name="service" value="3">维修，工作完成，待开票</label></div>
							<div class="checkbox userRadio"><label><input id="radio_service4" type="radio" name="service" value="4">维修，工作完成，现场支付</labe></div>
						</div>
						<div class="applyKid textA">
							<p>流程当前状态:<span style="color: green;">{{stmode[cuttstatus]}}</span></p>
						</div>
						<div ng-if="cuttusertype" class="form-group db" style="width: 50%;">
							<label class="dbc control-label" style="width: 20%;">评分：&nbsp;</label>
							<div class="dbc" style="width: 80%;">
								<div id="star"></div>
							</div>
						</div>
						<div ng-if="cuttusertype" class="form-group db" style="width: 50%;">
							<label class="dbc control-label" style="width: 20%;">评价：&nbsp;</label>
							<div class="dbc" style="width: 80%;">
							<textarea id="txt_evaluate" placeholder="请输入文字/选填" class="form-control" >
							</textarea>
							</div>
						</div>
						<button class="btn btn-success btn-block" ng-if="rep==1" ng-click="golist(1)">返回列表</button>
						<div class="applyKid textA clearfix">
							<button ng-if="st==0&&user.type==2" class="btn btn-success btn-block"
									ng-disabled="aForm.name.$dirty && aForm.name.$invalid ||
						 aForm.address.$dirty && aForm.address.$invalid ||
						 aForm.username.$dirty && aForm.username.$invalid ||
						 aForm.costNUm.$dirty && aForm.costNUm.$invalid ||
						 aForm.price.$dirty && aForm.price.$invalid ||
						 aForm.tel.$dirty && aForm.tel.$invalid"
									ng-click="addMaintenance()">发送维修申请</button>
							<button ng-if="cuttusertype" class="btn btn-success col-lg-4 col-md-4 col-sm-12 col-xs-12 col-md-offset-1" style="margin-bottom: 5px;" ng-click="tol_advice(false,6,'您确定签字？')">同意</button>
						</div>
					</form>
				</div>
				<!------------------ 维修清单确认end---------------------->
			</div>
			<!---------------------------------- 维修商 end----------------------------------------------------------------------->
			<!------------------------------------冷库主 start---------------------------------------------------------------------------------->
			<div ng-if="user.type!=2">
				<div ng-if="setp==1&&st!=1">
					<p style="text-align: left;">告警列表</p>
					<div class="analysis alarmLog">
						<table class="cold_warn">
							<thead>
							<tr>
								<th>
									<div class="check_icon" ng-class="{true: 'on', false: ''}[isselall]">
										<input ng-model="isselall" type="checkbox" ng-click="tol_selallevt(isselall)" >
										<i class="iconfont">&#xe6e3;</i>
									</div>
								</th>
								<th>告警ID</th>
								<th>告警消息</th>
								<th>分析结果</th>
								<th>告警时间</th>
								<th>状态</th>
								<th >操作</th>
							</tr>
							</thead>
							<tbody id="tb_body">
							<tr ng-repeat="obj in maintdata">
								<td>
									<div class="check_icon"  ng-class="{true: 'on', false: ''}[obj.state]">
										<input id="ckobj_{{obj.id}}" name="ck_obj" ng-model="obj.state" ng-checked="isselall" value="{{obj.id}}" type="checkbox">
										<i class="iconfont">&#xe6e3;</i>
									</div>
								</td>
								<td>{{obj.id}}</td>
								<td  class="oTd">{{obj.warningmsg}}</td>
								<td  class="oTd">{{obj.analysismsg}}</td>
								<td>{{obj.addtime.substring(0,19)}}</td>
								<td>{{stmode[obj.status]}}</td>
								<td class="text-center">
						           <span ng-if="obj.status==0">
								        <button class="btn btn-xs btn-primary " ng-click="tol_forMaint(obj)">申维</button>
								        <button class="btn btn-xs btn-danger"  ng-click="tol_del(obj.id)">删除</button>
								        <button class="btn btn-xs btn-info"  ng-click="tol_ignore(obj.id,-1,'您确信要忽略这条告警吗？')">忽略</button>
						           </span>
									<span  ng-if="obj.status==1">
						             <button class="btn btn-xs btn-warning" style="width:114px" ng-click="tol_ignore(obj.id,0,'您确定要撤回这条维修申请吗？')">撤回</button>
						           </span>
									<span  ng-if="obj.status==2">
						             <button class="btn btn-xs btn-success" style="width:114px" ng-click="tol_goMaint(obj.id,1,1)">查看/确认</button>
						           </span>
									<span  ng-if="obj.status==3">
						             <span class="btn btn-xs btn-success" style="width:114px">请等待</span>
						           </span>
									<span  ng-if="obj.status==5">
						             <span class="btn btn-xs btn-success"  style="width: 120px;"  ng-click="tol_goMaintRepair(obj.id,1,2)" >维修清单审核</span>
						           </span>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
					<button class="btn btn-info btn-block"  ng-click="tol_batch()">合并申维</button>
				</div>
				<!--告警列表 end  =============-->
				<!------------------ 告警消息---------------------->
				<div ng-if="setp==2">
					<div class="applyKid textA">
						<p>告警消息:</p>
						<input class="datainp" type="text" disabled ng-model="sqobj.warningmsg" />
					</div>
					<div class="applyKid textA">
						<p>分析结果:</p>
						<input class="datainp" type="text" disabled ng-model="sqobj.analysismsg" />
					</div>
					<div class="applyKid">
						<p>告警时间:</p>
						<input class="datainp" type="type" disabled value="{{sqobj.addtime.substring(0,19)}}" />
					</div>
					<div class="applyKid textA">
						<p>附件:(<small class="text-warning">*最多10张</small>)</p>
						<label class="pic" style="width: 2rem;height: 2rem;border-width: .1rem;">
							<input input type="file" id="files"
								   ngf-select="addFiles($files)"
								   ng-model="files" ngf-multiple="true" name="files"/>
						</label>
						<output id="img_list1" class="img_list">
							<span ng-repeat="honorfile in totalfiles" style="margin-bottom: .5rem;">
								<img class="thumb" ngf-src="honorfile" title="{{honorfile.name}}">
								<i ng-click="drophonor(honorfile)">×</i>
							</span>
						</output>
					</div>
					<div class="applyKid textA">
						<p>备注:</p>
						<textarea colspan="10" rowspan="10" id="tex_node" placeholder="请输入文字"></textarea>
					</div>
					<div class="form-group text-center clearfix">
						<button class="btn  btn-success col-xs-5 col-sm-5" ng-click="tol_submit()">提交</button>
						<button class="btn btn-primary col-xs-5 col-sm-5 col-xs-offset-2" ng-click="tol_back()">返回</button>
					</div>
				</div>
				<!------------------ 告警消息end---------------------->
				<!------------------查看/确认---------------------->
				<div ng-if="st==1&&rep==1">
					<p>维修通知单</p>
					<div class="applyKid textA">
						<p>单位名称:</p>
						<input class="datainp" type="text" disabled ng-model="company.name" />
					</div>
					<div class="applyKid textA">
						<p>单位地址:</p>
						<input class="datainp" type="text" disabled ng-model="company.address" />
					</div>
					<div class="applyKid">
						<p>联系人:</p>
						<input class="datainp" type="text" disabled ng-model="wuser.username" />
					</div>
					<div class="applyKid">
						<p>联系电话:</p>
						<input class="datainp" type="text" disabled ng-model="wuser.telephone" />
					</div>
					<div class="applyKid">
						<p>报修时间:</p>
						<input class="datainp" id="wx" readonly type="text" ng-model="maintenance.repairtime" />
					</div>
					<div class="applyKid">
						<p>故障现象:</p>
						<div class="addSeclect form-inline" ng-repeat="item in wardata">
							<span ng-repeat="item in wardata">
								<select disabled="disabled">
									<option value="0">{{item.analysismsg}}</option>
								</select>
								<select disabled="disabled">
									<option value="0">{{item.warningmsg}}</option>
								</select>
	                          </span>
							<span ng-if="st==0&&user.type==2" class="addBtn btn btn-primary" ng-click="addSelect(this)">+</span>
						</div>
						<div class="addSeclect form-inline" ng-repeat="item in nwardata" >
							<span >
								<select ng-model="item.pid"  ng-options="obj.id as obj.name for obj in pwartype" ng-change="changepwartype($index,item)" ng-disabled="st==1"></select>
								<select ng-model="item.id"   ng-options="obj.id as obj.name for obj in swartype[$index]" ng-disabled="st==1"></select>
	                         </span>
							<span ng-if="st==0&&user.type==2" class="addBtn btn btn-primary" ng-click="removerSelect($index)">-</span>
						</div>
					</div>
					<div class="applyKid">
						<p>故障补充:</p>
						<input class="datainp" type="text" disabled ng-model="maintenance.note" />
					</div>
					<div class="applyKid">
						<p>预约上门时间:</p>
						<input class="datainp" id="orderTime" readonly type="text" ng-model="maintenance.bookingtime" />
					</div>
					<div class="applyKid">
						<p>预估维修费用:</p>
						<input class="datainp" type="number" disabled ng-model="maintenance.cost" />
					</div>
					<div class="applyKid">
						<p>选择服务性质:</p>
						<label class="checkbox-inline check_icon" ng-class="{true: 'on', false: ''}[ischeck1]">
							<input ng-model="ischeck1" type="checkbox" id="ck_server1" name="service" value="1">
							<i class="iconfont">&#xe6e3;</i>
							<span class="check-text">三包</span>
						</label>
						<label class="checkbox-inline check_icon" ng-class="{true: 'on', false: ''}[ischeck2]">
							<input ng-model="ischeck2" type="checkbox" id="ck_server2" name="service" value="2">
							<i class="iconfont">&#xe6e3;</i>
							<span class="check-text">改造</span>
						</label>
						<label class="checkbox-inline check_icon" ng-class="{true: 'on', false: ''}[ischeck3]">
							<input ng-model="ischeck3" type="checkbox" id="ck_server3" name="service" value="3">
							<i class="iconfont">&#xe6e3;</i>
							<span class="check-text">维修</span>
						</label>
						<label class="checkbox-inline check_icon" ng-class="{true: 'on', false: ''}[ischeck4]">
							<input ng-model="ischeck4" type="checkbox" id="ck_server4" name="service" value="4">
							<i class="iconfont">&#xe6e3;</i>
							<span class="check-text">零件</span>
						</label>
						<label class="checkbox-inline check_icon" ng-class="{true: 'on', false: ''}[ischeck5]">
							<input ng-model="ischeck5" type="checkbox" id="ck_server5" name="service" value="5">
							<i class="iconfont">&#xe6e3;</i>
							<span class="check-text">保养</span>
						</label>
						<label class="checkbox-inline check_icon" ng-class="{true: 'on', false: ''}[ischeck6]">
							<input ng-model="ischeck6" type="checkbox" id="ck_server6" name="service" value="6">
							<i class="iconfont">&#xe6e3;</i>
							<span class="check-text">巡检</span>
						</label>
						<label class="checkbox-inline check_icon" ng-class="{true: 'on', false: ''}[ischeck7]">
							<input ng-model="ischeck7" type="checkbox" id="ck_server7" name="service" value="7">
							<i class="iconfont">&#xe6e3;</i>
							<span class="check-text">移交</span>
						</label>
					</div>
					<div class="applyKid textA">
						<p>流程当前状态:<span style="color: green;">{{stmode[cuttstatus]}}</span></p>
					</div>
					<div class="applyKid textA clearfix">
						<button ng-if="st==0&&user.type==2" class="btn btn-success btn-block" ng-click="submit()">发送维修申请</button>
						<button ng-if="st==1&&user.type!=2" class="btn btn-success col-xs-5 col-sm-5" ng-click="tol_advice(false,3,'您确定要提交该维修确认单吗？')">同意</button>
						<button ng-if="st==1&&user.type!=2" class="btn btn-danger col-xs-5 col-sm-5 col-xs-offset-2" ng-click="tol_advice(true,1,'您确定驳回该维修确认单吗？')">驳回</button>
					</div>
				</div>
				<!------------------ 查看/确认end---------------------->
				<!------------------ 维修清单确认---------------------->
				<div ng-if="st==1&&cuttusertype&&rep==2">
					<p>维修清单确认</p>
					<div class="applyKid textA">
						<p>单位名称:</p>
						<input class="datainp" type="text" disabled ng-model="company.name" />
					</div>
					<div class="applyKid textA">
						<p>单位地址:</p>
						<input class="datainp" type="text" disabled ng-model="company.address" />
					</div>
					<div class="applyKid">
						<p>联系人:</p>
						<input class="datainp" type="text" disabled ng-model="wuser.username" />
					</div>
					<div class="applyKid">
						<p>联系电话:</p>
						<input class="datainp" type="text" disabled ng-model="wuser.telephone" />
					</div>
					<div class="applyKid">
						<p>开工时间:</p>
						<input class="datainp" id="begin" readonly type="text"/>
					</div>
					<div class="applyKid">
						<p>结束时间:</p>
						<input class="datainp" id="end" readonly type="text" />
					</div>
					<div class="applyKid">
						<p>实际故障现象:</p>
						<div class="addSeclect form-inline" ng-repeat="item in wardata">
							<span ng-repeat="item in wardata">
								<select disabled="disabled">
									<option value="0">{{item.analysismsg}}</option>
								</select>
								<select disabled="disabled">
									<option value="0">{{item.warningmsg}}</option>
								</select>
	                          </span>
							<span ng-if="st==0" class="addBtn btn btn-info" ng-click="addfSelect()">+</span>
						</div>
						<div class="addSeclect form-inline" ng-repeat="item in faultmapper" >
							<span >
								<select ng-model="item.pid"  ng-options="obj.id as obj.name for obj in pwartype" ng-change="changefselecttype($index,item)" ng-disabled="st==1"></select>
								<select ng-model="item.id"   ng-options="obj.id as obj.name for obj in swartype[$index]" ng-disabled="st==1"></select>
	                         </span>
							<span ng-if="st==0" class="addBtn btn btn-primary" ng-click="removerfSelect($index)">-</span>
						</div>
					</div>
					<div class="applyKid">
						<p style="margin-bottom: 0.5rem;">维修处理结果:<span ng-if="st==0" class="addBtn btn btn-info" style="float: none;" ng-click="addmSelect()">+</span></p>
						<div class="addSeclect form-inline" ng-repeat="item in maintresult">
							<span >
								<select ng-model="item.pid"  ng-options="obj.id as obj.name for obj in pwartype" ng-change="changemselecttype($index,item)" ng-disabled="st==1"></select>
								<select ng-model="item.id"   ng-options="obj.id as obj.name for obj in mwartype[$index]" ng-disabled="st==1"></select>
	                         </span>
							<span ng-if="st==0" class="addBtn btn btn-primary" ng-click="removermSelect($index)">-</span>
						</div>
					</div>
					<div class="applyKid table-responsive">
						<p>维修费用清单:</p>
						<table class="table table-bordered">
							<thead>
							<tr class="success">
								<th>序号</th>
								<th>一级项目</th>
								<th>二级项目</th>
								<th>数量</th>
								<th>单位</th>
								<th>单价/元</th>
								<th>小计金额</th>
								<th>操作<span class="btn btn-info" ng-click="uplist(true,$index)" ng-if="st==0">+</span></th>
							</tr>
							</thead>
							<tbody>
							<tr class="warning" ng-repeat="obj in detailedList">
								<td>{{$index+1}}</td>
								<td>
									<select ng-model="obj.wpid" ng-options="item.id as item.name for item in pwartype"  ng-change="changeordertype($index,obj)"  ng-disabled="st==1"></select>
								</td>
								<td>
									<select ng-model="obj.wid"   ng-options="item.id as item.name for item in ordertype[$index]" ng-disabled="st==1"></select>
								</td>
								<td><input type="number" placeholder="1" ng-model="obj.number"  ng-disabled="st==1" style=" appearance:none;-webkit-appearance:none;width: 100%; height: 100%;"></td>
								<td>
									<select ng-model="obj.unit" ng-options="obj.id as obj.name for obj in unit" ng-disabled="st==1"></select>
								</td>
								<td><input type="number" placeholder="0" ng-model="obj.price"  ng-disabled="st==1" style=" appearance:none;-webkit-appearance:none;width: 100%; height: 100%;"></td>
								<td>{{obj.number*obj.price}}<span class="hide" > </span></td>
								<td>
									<span ng-if="st==0" class="btn btn-primary" ng-click="uplist(false,$index)">-</span>
								</td>
							</tr>
							</tbody>
							<tfoot>
							<tr class="success">
								<td>合计金额</td>
								<td colspan="8">{{cost}}</td>
							</tr>
							</tfoot>
						</table>
					</div>
					<div class="applyKid">
						<p>维修补充:</p>
						<input class="datainp" type="text" disabled ng-model="note"/>
					</div>
					<div class="applyKid">
						<p>选择服务性质:</p>
						<label class="checkbox-inline">
							<input id="radio_service1" type="radio" disabled name="service" value="1">三包，工作完成
						</label>
						<label class="checkbox-inline">
							<input id="radio_service2" type="radio" disabled name="service" value="2">维修，工作完成，不收费
						</label>
						<label class="checkbox-inline">
							<input id="radio_service3" type="radio" disabled name="service" value="3">维修，工作完成，待开票
						</label>
						<label class="checkbox-inline">
							<input id="radio_service4" type="radio" disabled name="service" value="4">维修，工作完成，现场支付
						</label>
					</div>
					<div class="applyKid textA">
						<p>流程当前状态:<span style="color: green;">{{stmode[cuttstatus]}}</span></p>
					</div>
					<div ng-if="cuttusertype">
						<label>评分：&nbsp;</label>
						<div>
							<div id="star"></div>
						</div>
					</div>
					<div ng-if="cuttusertype">
						<label>评价：&nbsp;</label>
						<div>
							<textarea id="txt_evaluate" placeholder="请输入文字/选填" class="datainp"></textarea>
						</div>
					</div>
					<div class="applyKid textA clearfix">
						<button ng-if="st==0&&user.type==2" class="btn btn-success btn-block" ng-click="addMaintenance()">发送维修申请</button>
						<button ng-if="cuttusertype" class="btn btn-success col-lg-4 col-md-4 col-sm-12 col-xs-12 col-md-offset-1" style="margin-bottom: 5px;" ng-click="tol_advice(false,6,'您确定签字？')">同意</button>
					</div>
				</div>
				<!------------------ 维修清单确认end---------------------->
			</div>
		</div>
		<div class="wxRecords black">
			<!-- 维修历史记录 -->
			<div ng-if="st!=1">
				<p style="text-align: left;">维修历史记录</p>
				<div class="analysis alarmLog">
					<table class="cold_warn">
						<thead>
						<tr>
							<th>告警ID</th>
							<th>告警消息</th>
							<th>分析结果</th>
							<th>告警时间</th>
							<th>状态</th>
							<th >操作</th>
						</tr>
						</thead>
						<tbody id="tb_body">
						<tr ng-repeat="obj in maintdata">
							<td>{{obj.id}}</td>
							<td class="oTd">{{obj.warningmsg}}</td>
							<td class="oTd">{{obj.analysismsg}}</td>
							<td>{{obj.addtime.substring(0,19)}}</td>
							<td>{{stmode[obj.status]}}</td>
							<td class="text-center">
								<span ng-if="obj.status==6" class="btn btn-xs btn-success"  style="width: 120px;"  ng-click="tol_gotRepair_notice(obj.id,1,10)" >查看</span>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div>
				<div ng-if="st==1&&rep==10"><!-- 查看维修历史 -->
					<p>维修清单确认</p>
					<div class="applyKid textA">
						<p>单位名称:</p>
						<input class="datainp" type="text" ng-model="company.name" />
					</div>
					<div class="applyKid textA">
						<p>单位地址:</p>
						<input class="datainp" type="text" ng-model="company.address" />
					</div>
					<div class="applyKid">
						<p>联系人:</p>
						<input class="datainp" type="text" ng-model="wuser.username" />
					</div>
					<div class="applyKid">
						<p>联系电话:</p>
						<input class="datainp" type="text" ng-model="wuser.telephone" />
					</div>
					<div class="applyKid">
						<p>开工时间:</p>
						<input class="datainp" id="begin" readonly type="text"/>
					</div>
					<div class="applyKid">
						<p>结束时间:</p>
						<input class="datainp" id="end" readonly type="text" />
					</div>
					<div class="applyKid">
						<p>实际故障现象:</p>
						<div class="addSeclect form-inline" ng-repeat="item in wardata">
						<span ng-repeat="item in wardata">
							<select disabled="disabled">
								<option value="0">{{item.analysismsg}}</option>
							</select>
							<select disabled="disabled">
								<option value="0">{{item.warningmsg}}</option>
							</select>
                          </span>
							<span ng-if="st==0" class="addBtn btn btn-info" ng-click="addfSelect()">+</span>
						</div>
						<div class="addSeclect form-inline" ng-repeat="item in faultmapper" >
						<span >
							<select ng-model="item.pid"  ng-options="obj.id as obj.name for obj in pwartype" ng-change="changefselecttype($index,item)" ng-disabled="st==1"></select>
							<select ng-model="item.id"   ng-options="obj.id as obj.name for obj in swartype[$index]" ng-disabled="st==1"></select>
                         </span>
							<span ng-if="st==0" class="addBtn btn btn-primary" ng-click="removerfSelect($index)">-</span>
						</div>
					</div>
					<div class="applyKid">
						<p style="margin-bottom: 0.5rem;">维修处理结果:<span ng-if="st==0" class="addBtn btn btn-info" style="float: none;" ng-click="addmSelect()">+</span></p>
						<div class="addSeclect form-inline" ng-repeat="item in maintresult">
						<span >
							<select ng-model="item.pid"  ng-options="obj.id as obj.name for obj in pwartype" ng-change="changemselecttype($index,item)" ng-disabled="st==1"></select>
							<select ng-model="item.id"   ng-options="obj.id as obj.name for obj in mwartype[$index]" ng-disabled="st==1"></select>
                         </span>
							<span ng-if="st==0" class="addBtn btn btn-primary" ng-click="removermSelect($index)">-</span>
						</div>
					</div>
					<div class="applyKid table-responsive">
						<p>维修费用清单:</p>
						<table class="table table-bordered">
							<thead>
							<tr class="success">
								<th>序号</th>
								<th>一级项目</th>
								<th>二级项目</th>
								<th>数量</th>
								<th>单位</th>
								<th>单价/元</th>
								<th>小计金额</th>
								<th>操作<span class="btn btn-info" ng-click="uplist(true,$index)" ng-if="st==0">+</span></th>
							</tr>
							</thead>
							<tbody>
							<tr class="warning" ng-repeat="obj in detailedList">
								<td>{{$index+1}}</td>
								<td>
									<select ng-model="obj.wpid" ng-options="item.id as item.name for item in pwartype"  ng-change="changeordertype($index,obj)"  ng-disabled="st==1"></select>
								</td>
								<td>
									<select ng-model="obj.wid"   ng-options="item.id as item.name for item in ordertype[$index]" ng-disabled="st==1"></select>
								</td>
								<td><input type="number" placeholder="1" ng-model="obj.number"  ng-disabled="st==1" style=" appearance:none;-webkit-appearance:none;width: 100%; height: 100%;"></td>
								<td>
									<select ng-model="obj.unit" ng-options="obj.id as obj.name for obj in unit" ng-disabled="st==1"></select>
								</td>
								<td><input type="number" placeholder="0" ng-model="obj.price"  ng-disabled="st==1" style=" appearance:none;-webkit-appearance:none;width: 100%; height: 100%;"></td>
								<td>{{obj.number*obj.price}}<span class="hide" > </span></td>
								<td>
									<span ng-if="st==0" class="btn btn-primary" ng-click="uplist(false,$index)">-</span>
								</td>
							</tr>
							</tbody>
							<tfoot>
							<tr class="success">
								<td>合计金额</td>
								<td colspan="8">{{cost}}</td>
							</tr>
							</tfoot>
						</table>
					</div>
					<div class="applyKid">
						<p>维修补充:</p>
						<input class="datainp" type="text" id="notes" ng-model="note"/>
					</div>
					<div class="applyKid">
						<p>选择服务性质:</p>
						<div class="checkbox userRadio"><label><input id="radio_service1" type="radio" name="service" value="1">三包，工作完成</label></div>
						<div class="checkbox userRadio"><label><input id="radio_service2" type="radio" name="service" value="2">维修，工作完成，不收费</label></div>
						<div class="checkbox userRadio"><label><input id="radio_service3" type="radio" name="service" value="3">维修，工作完成，待开票</label></div>
						<div class="checkbox userRadio"><label><input id="radio_service4" type="radio" name="service" value="4">维修，工作完成，现场支付</labe></div>
					</div>
					<div class="applyKid textA">
						<p>流程当前状态:<span style="color: green;">{{stmode[cuttstatus]}}</span></p>
					</div>
					<div ng-if="cuttusertype">
						<label>评分：&nbsp;</label>
						<div>
							<div id="star"></div>
						</div>
					</div>
					<div ng-if="cuttusertype">
						<label>评价：&nbsp;</label>
						<div>
							<textarea id="txt_evaluate" placeholder="请输入文字/选填" class="datainp"></textarea>
						</div>
					</div>
					<button class="btn btn-success btn-block" ng-if="st==1&&rep==10" ng-click="golist(2)">返回列表</button>
				</div>
			</div>
		</div>
	</div>
	<!--rdc列表-------------------------------------------------->
	<section class="searchTop">
		<ul class="rdcList">
			<li class="omg" ng-repeat="rdclist in storages | filter:searchContent" ng-click="changeRdc(rdclist)"><i class='iconfont'>&#xe62f;</i><span>{{rdclist.name}}</span></li>
		</ul>
		<p>没有找到您要的信息~~~<br />请检查您的输入条件是否有误^_^</p>
	</section>
	<!--rdc列表----------------------------------------------->
	<ul class="footer">
		<li id="ml_acl1">
			<a href="cold360.html">
				<i class="iconfont">&#xe68d;</i>
				<p class="info">监控</p>
			</a>
		</li>
		<li id="ml_acl70">
			<a href="analysisQuery.html">
				<i class="iconfont">&#xe7c6;</i>
				<p class="info">查询</p>
			</a>
		</li>
		<li id="ml_acl200">
			<a href="alarmLog.html">
				<i class="iconfont"><!--&#xe698;-->&#xe697;</i>
				<p class="info">告警</p>
				<span class="countNum" ng-if="alarmTotalCnt > 0" ng-bind="alarmTotalCnt"></span>
			</a>
		</li>
		<li class="active" id="ml_acl300">
			<a href="maintain.html">
				<i class="iconfont">&#xe6a5;</i>
				<p class="info">维护</p>
			</a>
		</li>
	</ul>
</body>
</html>