<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.bgzigbee.manage.dao.ACLMapper">



    <select id="getCompany" resultType="com.smartcold.bgzigbee.manage.entity.TeamTreeNode">
       SELECT * from `sc360`.company ;
    </select>
    <select id="getRoleUserByType" resultType="com.smartcold.bgzigbee.manage.entity.TeamTreeNode">
      SELECT u.id,u.`username` name  FROM  `roleuser` r LEFT JOIN  `user`  u on r.`userid` =u.id  where `roleid` =#{roletype} and u.`username`  IS NOT NULL ;
    </select>
    <select id="getComptuserByCompanyId" resultType="com.smartcold.bgzigbee.manage.entity.TeamTreeNode">
      SELECT u.id,u.`username` name FROM `sc360`.`companyuser` c LEFT JOIN `smartcold`.`user` u on u.id=c.`userid`   where  c.`companyid` =#{companyid} ;
    </select>
    

    <select id="getRdcACLByFilter" parameterType="map" resultType="map">
      SELECT id,`name`   FROM `rdc` where id in (SELECT `rdcid`  FROM `sc360`.deviceobjectmapping union  SELECT `rdcid`  FROM `smartcold`.spidercollectionconfig )
        <if test="keyword!=null">
         and `name`  LIKE  "%"#{keyword}"%" or id LIKE  "%"#{keyword}"%" 
       </if>
        ORDER BY addTime DESC LIMIT #{row};
    </select>
    
   <insert id="adduserAcl" parameterType="map">
      INSERT INTO `acl_user` (uid,roleid,nacl)VALUES(#{uid},#{roleid},#{nacl});
   </insert>
   <update id="upuserAcl"  parameterType="map">
      update `acl_user` set roleid=#{roleid} ,nacl=#{nacl} where uid=#{uid};
   </update>
    
    
    <select id="getRUCByFilter" parameterType="map" resultType="map">
      select id,rdcid,mapper `name` from acl_ruacl
        <if test="keyword!=null">
         where `mapper` LIKE "%"#{keyword}"%" 
       </if>
        ORDER BY addTime DESC LIMIT #{row};
    </select>
    
    <select id="getUserACLByFilter" parameterType="map" resultType="map">
       select id, `username` `name`  from `user` where id in(SELECT userid FROM `roleuser` ) 
        <if test="keyword!=null">
         and `username` LIKE "%"#{keyword}"%"  or `telephone` like "%"#{keyword}"%"  or `nickname` like "%"#{keyword}"%" 
       </if>
        ORDER BY addTime DESC LIMIT #{row};
    </select>
    
    
    
    <select id="getRoleACLByFilter" parameterType="map" resultType="map">
      SELECT id,`name`,`gid`   FROM `acl_role` 
        <if test="keyword!=null">
         where `name`  LIKE "%"#{keyword}"%" 
       </if>
        ORDER BY id ASC LIMIT #{row};
    </select>
    
    <select id="getGroupACLByFilter" parameterType="map" resultType="map">
      SELECT id,`name`   FROM `acl_group` 
        <if test="keyword!=null">
         where `name`  LIKE "%"#{keyword}"%" 
       </if>
        ORDER BY id ASC LIMIT #{row};
    </select>
    

      <select id="getTreeACLGroupBypid" parameterType="map" resultType="com.smartcold.bgzigbee.manage.entity.TeamTreeNode"> 
         SELECT g.`id`,g.`pid`, g.`name`,g.`icon`  , (SELECT COUNT(*) from `acl_group`  g1 WHERE g1.`pid` =g.id )>0  hastc   FROM `acl_group` g WHERE `pid` = #{oid} ORDER BY g.id ASC;
     </select> 
     <select id="getTreeRoleBypid" parameterType="map" resultType="com.smartcold.bgzigbee.manage.entity.TeamTreeNode"> 
        SELECT g.id,g.`name`,g.`pid`,g.`gid`,g.`type` rtype ,g.`icon`, (SELECT COUNT(*) from `acl_role`  g1 WHERE g1.`pid` =g.id )>0  hastc    FROM `acl_role`   g
      where  g.gid=#{gid} and  g.pid=#{pid} 
          ORDER BY id ASC ; 
     </select> 
     <select id="getTreeUserBypid" parameterType="map" resultType="com.smartcold.bgzigbee.manage.entity.TeamTreeNode"> 
       SELECT id,`name`   FROM `acl_user`   where  roleid=#{roleid}   ORDER BY id ASC ;
    </select> 
    
    
    
    <insert id="addNaclByOid" parameterType="map">
      INSERT INTO `${table}` (${column},nacl)VALUES(#{oid},#{nacl});
    </insert>
    
    <select id="isextruByRUID" parameterType="map" resultType="map">
     select * from acl_ruacl where rdcid=#{rdcid} and userid=#{userid};
    </select>
    <insert id="addMapperByOid" parameterType="map">
      INSERT INTO `acl_ruacl` (rdcid,userid,mapper)VALUES(#{rdcid},#{userid},#{mapper});
    </insert>
    
    <delete id="delACLById" parameterType="map">
      DELETE from `${table}` where id=#{id};
    </delete>
    
<!--     <insert id="addRdcAcl" parameterType="map"> -->
<!--       INSERT INTO acl_rdc(rdcid,nacl)VALUES(#{rdcid},#{nacl}); -->
<!--     </insert> -->
    
    <select id="getNACLByID" parameterType="map" resultType="map">
         select id,nacl from `${table}` where `${column}`=#{id};
    </select>
    
    <update id="upACLByID" parameterType="map">
     update `${table}` set nacl=#{nacl} where id=#{id};
    </update>
    
    <select id="getAllNode" parameterType="map" resultType="com.smartcold.bgzigbee.manage.entity.ACLTreeNode">
	  SELECT * from coldmenus ;
	</select>
    
    <select id="getACLNodeByPid" parameterType="map" resultType="com.smartcold.bgzigbee.manage.entity.ACLTreeNode">
	  SELECT m.* ,  if(find_in_set(m.id,#{nacl})>0 or find_in_set(m.pid,#{nacl})>0,0,1)  as acl from coldmenus m where pid=#{pid} ;
	</select>
    
</mapper>