<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.bgzigbee.manage.dao.AdminMapper">

    <insert id="insertAdmin" parameterType="AdminEntity">
        INSERT INTO `admin`(
		`adminname`,
		`adminpwd`,
		`telephone`,
		`email`,
		`addTime`
		)
		VALUE 
		(
		#{adminname},
		#{adminpwd},
		#{telephone},
		#{email},
		now()
		)
    </insert>

    <select id="findAdmin" parameterType="map" resultType="AdminEntity">
		SELECT *
		FROM `admin` WHERE `adminname` = #{adminname} AND `adminpwd` = #{adminpwd} AND `role` = #{adminRole}
	</select>
	
	
	<select id="findAllAdmin" parameterType="int" resultType="AdminEntity">
         SELECT * FROM `admin`
		 <where> 
		    `role` = '0'
		    <if test="keyword != null">
		        AND adminname like "%"#{keyword}"%"
		    </if>
		 </where>
         order by `addTime` desc
    </select>
	
	
	<select id="findAdminByName" parameterType="map" resultType="AdminEntity">
		SELECT *
		FROM `admin` WHERE `adminname` = #{adminname}
	</select>

    <select id="findAdminById" parameterType="map" resultType="AdminEntity">
		SELECT *
		FROM `admin` WHERE `id` = #{id}
	</select>
	<delete id="deleteAdmin" parameterType="map">
	    DELETE FROM admin WHERE `id` = #{id}
	</delete>
</mapper>