<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.smartcold.bgzigbee.manage.dao.AuthenMapper">
  <select id="getRdcAuthList" parameterType="map" resultType="RdcAuthEntity">
    select * from `rdcauth` WHERE `type` =#{type} AND `state`=#{type} 
     <if test="coleam!=null and coleam !='' and colval!=''">  and  `${coleam}` like "%"#{colval}"%"   </if>
    ORDER BY `id` DESC; 
  </select>
  
  <update id="updateAuthstate">
    update rdcauth set `state`=#{state} where id=#{id};
  </update>
  
</mapper>