<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.bgzigbee.manage.dao.ColdStorageDoorSetMapper">

	<select id="findDoorByStorageId" parameterType="map"
		resultType="com.smartcold.bgzigbee.manage.entity.ColdStorageDoorSetEntity">
		SELECT *
		FROM `ColdStorageDoorSet` WHERE `coldStorageId` = #{coldStorageId}
	</select>

	<update id="updateMappingById" parameterType="map">
		UPDATE `ColdStorageDoorSet` SET mapping=#{mapping}
		WHERE `id` = #{coldStorageDoorId}
	</update>
	<update id="updateDoor">
		UPDATE `coldstoragedoorset` SET
		`name` = #{name},
		`length` = #{length},
		`width` = #{width},
		`blowerpower` = #{blowerpower}
		WHERE id=#{id}
	</update>

	<insert id="insertDoor" parameterType="com.smartcold.bgzigbee.manage.entity.ColdStorageDoorSetEntity">
	  INSERT INTO `coldstoragedoorset` 
	  (
	  `name`,
	  `rdcid`, 
	  `coldstorageid`, 
	  `length`, 
	  `width`,
	  `blowerpower`
	  )
	  VALUES
	  (
	  #{name},
	  #{rdcId},
	  #{coldStorageId},
	  #{length},
	  #{width},
	  #{blowerpower}
	  );
	  
	</insert>

    <delete id="deleteDoor" parameterType="map">
      DELETE FROM `coldstoragedoorset`
      WHERE `id` = #{id}
    </delete>
</mapper>