<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.bgzigbee.manage.dao.ColdStorageSetMapper">

    <select id="findLastNPoint" parameterType="map" resultType="ColdStorageSetEntity">
        SELECT *
        FROM `ColdStorageSet` WHERE `coldStorageID` = #{storageID} limit #{npoint}
    </select>

    <select id="findByRdcId" parameterType="map" resultType="ColdStorageSetEntity">
        SELECT *
        FROM `ColdStorageSet` WHERE `rdcId` = #{rdcId}
    </select>
    
    <update id="updateMappingById" parameterType="map">
		UPDATE `ColdStorageSet` SET mapping=#{mapping}
		WHERE `id` = #{coldStorageId}
	</update>
	
	<insert id="insertColdStorage" parameterType="ColdStorageSetEntity">
	    INSERT INTO `coldstorageset` 
	    (
	    `RDCID`, 
	    `name`, 
	    `startTemperature`, 
	    `energyCost`, 
	    `longitude`, 
	    `latitude`, 
	    `location`
	    )
	    VALUES
	    (
	    #{rdcId},
	    #{name},
	    #{startTemperature},
	    #{energyCost},
	    #{longitude},
	    #{latitude},
	    #{location}
	    )
	</insert>

</mapper>