<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.bgzigbee.manage.dao.ColdStorageDoorSetMapper">

	<select id="findDoorByStorageId" parameterType="map"
		resultType="ColdStorageDoorSetEntity">
		SELECT *
		FROM `ColdStorageDoorSet` WHERE `coldStorageId` = #{coldStorageId}
	</select>

	<update id="updateMappingById" parameterType="map">
		UPDATE `ColdStorageDoorSet` SET mapping=#{mapping}
		WHERE `id` = #{coldStorageDoorId}
	</update>

</mapper>