<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.bgzigbee.manage.dao.CompressorGroupSetMapper">

    <select id="findByRdcId" parameterType="map" resultType="CompressorGroupSetEntity">
        SELECT *
        FROM `CompressorGroupSet` WHERE `rdcId` = #{rdcId}
        order by `addTime` asc
    </select>
    
    <update id="updateMappingById" parameterType="map">
		UPDATE `CompressorGroupSet` SET mapping=#{mapping}
		WHERE `id` = #{id}
	</update>
	<update id="updateById">
		UPDATE `CompressorGroupSet` SET
        `name` = #{name},
        `lowPress` = #{lowPress},
        `pressDiff` = #{pressDiff},
        `meltFrostTemperature` = #{meltFrostTemperature},
        `crashStopPress` = #{crashStopPress},
        `highPressAlarm` = #{highPressAlarm},
        `highTempAlarm` = #{highTempAlarm},
        `lowTempAlarm` = #{lowTempAlarm}
        WHERE id = #{id}
	</update>

	<insert id="insertCompressorGroup" parameterType="CompressorGroupSetEntity">
	  INSERT INTO `compressorgroupset` 
	  (
	  `name`,
	  `rdcid`, 
	  `lowPress`, 
	  `pressDiff`, 
	  `meltFrostTemperature`,
	  `crashStopPress`,
	  `highPressAlarm`,
	  `highTempAlarm`,
	  `lowTempAlarm`,
	  `addTime`
	  )
	  VALUES
	  (
	  #{name},
	  #{rdcId}, 
	  #{lowPress}, 
	  #{pressDiff}, 
	  #{meltFrostTemperature},
	  #{crashStopPress},
	  #{highPressAlarm},
	  #{highTempAlarm},
	  #{lowTempAlarm},
	  now()
	  );
	  
	</insert>
	
	<delete id="deleteCompressorGroup" parameterType="map">
	  DELETE FROM `compressorgroupset`
	  WHERE `id` = #{id}
	</delete>

</mapper>