<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.bgzigbee.manage.dao.CompressorSetMapper">
	<insert id="insert">
		INSERT INTO `compressorset` (`compressorgroupid`, `name`,`power`, `waterRatio`,`type`,`maintenancetime`)
		VALUES (#{compressorgroupid}, #{name}, #{power}, #{waterRatio},#{type},#{maintenancetime})
	</insert>
	<update id="updateById">
		UPDATE `compressorset` SET
		`name` = #{name},
		`power` = #{power},
		`waterRatio` = #{waterRatio},
		`maintenancetime` =#{maintenancetime},
		`type` = #{type}
		WHERE `id` = #{id}
	</update>
	<delete id="deleteById">
		DELETE FROM `compressorset` WHERE `id` = #{id}
	</delete>


	<select id="findById" parameterType="map" resultType="com.smartcold.bgzigbee.manage.entity.CompressorSetEntity">
		SELECT *
		FROM `compressorset` WHERE `id` = #{id}
	</select>
	
	<select id="findCompressorByGroupid" parameterType="map" resultType="com.smartcold.bgzigbee.manage.entity.CompressorSetEntity">
		SELECT *
		FROM `compressorset` WHERE `compressorgroupid` = #{groupId}
	</select>

</mapper>