<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.bgzigbee.manage.dao.CompleteInfoMapper">

	<select id="findInfoByKey" parameterType="map" resultType="CompleteInfoEntity">
		SELECT k.`key`,k.`deviceid`,a.`apid`,d.`TIME`,d.`temperature`,a.`location` 
		FROM dataCollection d 
		LEFT JOIN keyDeviceMapping k 
		  ON d.deviceid = k.deviceid 
		  LEFT JOIN apInfo a 
		    ON a.apid = d.apid 
	    WHERE k.key = #{key}
	</select>

</mapper>