<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.bgzigbee.manage.dao.DataCollectionMapper">

	<select id="findByDeviceID" parameterType="map" resultType="DataCollectionEntity">
		SELECT *
		FROM `dataCollection` 
		WHERE `deviceid` = #{deviceID}
	</select>

	<select id="findByDeviceApID" parameterType="map"
		resultType="DataCollectionEntity">
		SELECT *
		FROM `dataCollection` 
		WHERE `deviceid` = #{deviceID} AND `apid` = #{apID}
	</select>

	<insert id="add" parameterType="DataCollectionEntity"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `dataCollection`
		(
		`deviceid`,
		`apid`,
		`time`,
		`temperature`,
		`addtime`
		)
		VALUES
		(
		#{devID},
		#{apID},
		#{time},
		#{temperature},
		NOW()
		)
	</insert>

</mapper>