<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.bgzigbee.manage.dao.FileDataMapper">
    <select id="getAuthByFile" resultType="com.smartcold.bgzigbee.manage.entity.FileDataEntity">
		SELECT * FROM `filedata` WHERE 1=1
		<if test="belongid!=null"> and  belongid=#{belongid}</if>
		<if test="category!=null"> and  category=#{category}</if>
		<if test="description!=null and description==0"> and description is null or description=0</if>
		<if test="description!=null and description==1"> and description= 1 </if>
		ORDER BY id DESC
	</select>
    <select id="findByBelongIdAndCategory" resultType="com.smartcold.bgzigbee.manage.entity.FileDataEntity">
		SELECT *
		FROM `filedata` WHERE `belongid` = #{belongid} AND `category` = #{category}
		ORDER BY id DESC
	</select>
	
	<insert id="saveFileData" parameterType="com.smartcold.bgzigbee.manage.entity.FileDataEntity">
		INSERT into `filedata`(`type`, `location`, `category`, `belongid`, `name`, `description`) values
		(#{type}, #{location}, #{category}, #{belongid}, #{name}, #{description})
	</insert>
	
	<insert id="saveFileDatas">
	  INSERT into `filedata`(`type`, `location`, `category`, `belongid`, `name`, `description`) values
	  <foreach item="item" collection="list" separator=",">
	    (#{item.type}, #{item.location}, #{item.category}, #{item.belongid}, #{item.name}, #{item.description})
	  </foreach>
	</insert>

	<delete id="deleteByBelongIdAndCategory">
		DELETE FROM `filedata` WHERE `belongid` = #{belongid} AND `category` = #{category}
	</delete>
	
	<delete id="deleteById">
		DELETE FROM `filedata` WHERE `id` = #{id} 
	</delete>
</mapper>