<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.zigbee.manage.dao.KeyDeviceMappingMapper">

	<select id="findByKey" parameterType="map" resultType="KeyDeviceMappingEntity">
		SELECT *
		FROM `keyDeviceMapping` 
		WHERE `key` = #{key}
	</select>
	
	<select id="findByKeypre" parameterType="map" resultType="KeyDeviceMappingEntity">
		SELECT *
		FROM `keyDeviceMapping` 
		WHERE `key` like '${keypre}%'
	</select>

	<select id="findByDevice" parameterType="map"
		resultType="KeyDeviceMappingEntity">
		SELECT *
		FROM `KeyDeviceMapping` 
		WHERE `deviceid` = #{deviceid} AND `key` = #{key}
	</select>

</mapper>