<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartcold.bgzigbee.manage.dao.RdcAuthMapper" >
    <delete id="delStandByRdcId">
        DELETE FROM `rdcauth` WHERE `rdcid`=#{rdcId} and `type`=5 and `ishandle`=1
    </delete>
    <delete id="delVipByUid">
        DELETE FROM `rdcauth` WHERE `uid`=#{userId} and (`type`=3 or `type`=4) and `ishandle`=1
    </delete>
    <delete id="delByRdcId">
        DELETE FROM `shared_info` WHERE `rdcID`=#{rdcId}
    </delete>
</mapper>