<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.bgzigbee.manage.dao.RdcreportsisMapper">
  <select id="getMothReportsisByrdcId" resultType="com.smartcold.bgzigbee.manage.entity.RdcreportsisEntity">
    select * from rdcreportsis  where rdcId=#{rdcId} and time BETWEEN #{startTime} and #{endTime};
  </select>
  <update id="updateRdcreportsis" parameterType="com.smartcold.bgzigbee.manage.entity.RdcreportsisEntity">
    update rdcreportsis set rdcsis =#{rdcsis},chillersis=#{chillersis} where id=#{id};
  </update>
  <insert id="addRdcreportsis">
    INSERT INTO `rdcreportsis` ( `rdcId`,`rdcsis`,`chillersis`,`time`)VALUE(#{rdcId},#{rdcsis},#{chillersis},#{time});
  </insert>
    
</mapper>