<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.bgzigbee.manage.dao.RdcWeightSetMapper">

	<select id="findRdcWeightSetByRdcId" parameterType="map"
		resultType="com.smartcold.bgzigbee.manage.entity.RDCWeightSetEntity">
		SELECT *
		FROM `weightset` WHERE `rdcid` = #{rdcid}
	</select>

	<insert id="insertRdcWeight" parameterType="com.smartcold.bgzigbee.manage.entity.RDCWeightSetEntity">
	  INSERT INTO `weightset` 
	  (
	  `rdcid`,
	  `factor1`, 
	  `factor2`, 
	  `factor3`, 
	  `factor4`,
	  `transport1`,
	  `transport2`, 
	  `transport3`, 
	  `crew1`, 
	  `crew2`,
	  `crew3`
	  )
	  VALUES
	  (
	  #{rdcid},
	  #{factor1},
	  #{factor2},
	  #{factor3},
	  #{factor4},
	  #{transport1},
	  #{transport2},
	  #{transport3},
	  #{crew1},
	  #{crew2},
	  #{crew3}
	  );
	  
	</insert>
<update id="updateWeight" parameterType="com.smartcold.bgzigbee.manage.entity.RDCWeightSetEntity" >
  UPDATE `weightset` set
     `rdcid`          =       #{rdcid},
	  `factor1`       =     	  #{factor1},
	  `factor2`       =     	  #{factor2},
	  `factor3`       =     	  #{factor3},
	  `factor4`       =     	  #{factor4},
	  `transport1`    =     	  #{transport1},
	  `transport2`    =     	  #{transport2},
	  `transport3`   =     	  #{transport3},
	  `crew1`         =     	  #{crew1},
	  `crew2`         =     	  #{crew2},
	  `crew3`          =     	  #{crew3}
		WHERE `id` = #{id}
</update>

    <delete id="deleteRdcWeight" parameterType="map">
      DELETE FROM `weightset`
      WHERE `id` = #{id}
    </delete>
</mapper>