<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.bgzigbee.manage.dao.SpiderItemConfigMapper">

    <insert id="addItem" parameterType="com.smartcold.bgzigbee.manage.entity.SpiderItemConfigEntity">
        INSERT INTO `spideritemconfig` 
        (
        `type`, 
        `columnkey`, 
        `columnvalue`, 
        `addtime`)
        VALUE
        (
        #{type},
        #{columnkey},
        #{columnvalue}, 
        now()
        );
    </insert>

    <select id="findItemByType" parameterType="map" resultType="com.smartcold.bgzigbee.manage.entity.SpiderItemConfigEntity">
		SELECT *
		FROM `spideritemconfig` WHERE `type` = #{type}
	</select>

</mapper>