<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.bgzigbee.manage.dao.StorageTemperTypeMapper">

	<select id="findAll" parameterType="map" resultType="StorageTemperTypeEntity">
		SELECT *
		FROM `storagetempertype` order by `id` ASC
	</select>
   <insert id="addStorageTemperType" parameterType="StorageTemperTypeEntity"
    useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `storagetempertype`(
		`type`,
		`addTime`
		)
		VALUE 
		(
		#{type},
		now()
		)
    </insert>
    <delete id="deleteStorageTemperType" parameterType="map">
	    DELETE FROM storagetempertype WHERE `id` = #{id}
	</delete>
</mapper>