<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.bgzigbee.manage.dao.UserMapper">

    <insert id="insertUser" parameterType="UserEntity">
        INSERT INTO `user`(
		`username`,
		`password`,
		`telephone`,
		`email`,
		`addTime`
		)
		VALUE 
		(
		#{username},
		#{password},
		#{telephone},
		#{email},
		now()
		)
    </insert>

    <select id="findUser" parameterType="map" resultType="UserEntity">
		SELECT *
		FROM `user` WHERE `username` = #{username} AND `password` = #{password}
	</select>
	
	<select id="findAllUser" parameterType="map" resultType="UserEntity">
	   SELECT * FROM `user` order by `id` ASC
	</select>
	
	<select id="findUserByName" parameterType="map" resultType="UserEntity">
		SELECT *
		FROM `user` WHERE `username` = #{username}
	</select>

    <select id="findUserById" parameterType="map" resultType="UserEntity">
		SELECT *
		FROM `user` WHERE `id` = #{id}
	</select>

</mapper>