<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.bgzigbee.manage.dao.VisitLogMapper">

	<select id="findLastLog" parameterType="map" resultType="com.smartcold.bgzigbee.manage.entity.VisitLogEntity">
		SELECT *
		FROM visitlog order by addtime desc limit 1
	</select>

	<select id="insertNewLog" parameterType="map" resultType="com.smartcold.bgzigbee.manage.entity.UserEntity">
		INSERT
		INTO visitlog
		(
		`visitpeoples`,
		`addtime`
		)
		VALUE
		(
		#{visitpeoples},
		#{addtime}
		)
	</select>

</mapper>