<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartcold.bgzigbee.manage.dao.WallSetMapper">
    <insert id="insert" parameterType="WallSetEntity">
        INSERT INTO `wallset` 
        (
        `name`,
        `coldstorageid`,
        `length`,
        `width`,
        `a`,
        `aw`,
        `an`,
        `thick`,
        `daorexishu`,
        `b`,
        `tw`,
        `outsidecoldstorageid`
        )
        VALUES 
        (
        #{name}, 
        #{coldstorageid},
        #{length},
        #{width},
        #{a},
        #{aw},
        #{an},
        #{thick},
        #{daorexishu},
        #{b},
        #{tw},
        #{outsidecoldstorageid}
        )
    </insert>

    <select id="findByStorageId" parameterType="map" resultType="com.smartcold.bgzigbee.manage.entity.WallSetEntity">
        SELECT *
        FROM `wallset` WHERE `coldstorageid` = #{coldstorageid}
    </select>
    
    <delete id="delete" parameterType="map">
        DELETE FROM `wallset` WHERE `id` = #{id}
    </delete>
    
    <update id="update" parameterType="WallSetEntity">
        UPDATE `wallset`
        SET
	        `name` = #{name},
	        `length` = #{length},
	        `width` = #{width},
	        `a` = #{a},
	        `aw` = #{aw},
	        `an` = #{an},
	        `thick` = #{thick},
	        `daorexishu` = #{daorexishu},
	        `b` = #{b},
	        `tw` = #{tw},
	        `outsidecoldstorageid` = #{outsidecoldstorageid}
        WHERE `id` = #{id}
    </update>
</mapper>