<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.bgzigbee.manage.dao.WebSiteVisitsMapper">
	
	<select id="getModular" resultType="map">
	   SELECT `modular`,`count` FROM `webvisits` ;
	</select>
	
	<select id="getVisits" resultType="Integer">
	  SELECT SUM(`count` ) FROM `webvisits` ;
	</select>
	
	<select id="getCountUsers" resultType="Integer">
      SELECT COUNT(*)  FROM  `user` ;
	</select>
	<select id="getPLCCount" resultType="Integer">
      SELECT COUNT(*) FROM `spidercollectionconfig`  ;
	</select>
	<select id="getRSCount" resultType="Integer">
      SELECT COUNT(*)  FROM rdc;
	</select>
	<select id="getWRCount" resultType="Integer" parameterType="map">
      select COUNT(*)  from rdc  where DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(`addtime`); 
	</select>
	
	
	
	
	<select id="getDEVCount" resultType="Integer">
     SELECT COUNT(*)  FROM ( SELECt * from `sc360`.`deviceobjectmapping` GROUP BY `rdcid` ) as c  ;
	</select>
	
	<!-- 一周注訪問量 -->
	<select id="getWeeklyVisits" parameterType="map" resultType="Integer">
       select count(*) count from `webacces` where `addtime` >=#{startTime}  and  `addtime` &lt;=#{endTime} ; 
	</select>
	<!-- 一周注冊量 -->
	<select id="getEnrollments" parameterType="map" resultType="Integer">
       select count(*) count from `user`  where `addtime` >=#{startTime}  and  `addtime` &lt;=#{endTime}  ; 
	</select>
    <!--网站浏览量（PV） -->
	<select id="getPVVisits" parameterType="map" resultType="Integer">
      select  COUNT(w.`online`)  count from `webacces` w where w.`addtime` >=#{startTime} and  `addtime` &lt;=#{endTime}  ; 
	</select>
	
    <!-- 独立访客（UV）  -->
	<select id="getAUVisits" parameterType="map" resultType="Integer">
      select COUNT(*)  from(SELECT count(*) count FROM `webacces` where `addtime` >=#{startTime} and  `addtime` &lt;=#{endTime}  GROUP BY ip) as c ;  
	</select>
	

	
	
	
	
</mapper>