/*tab二级下拉样式*/
.topTab{
	top: 0;
	bottom: auto;
}
.mui-slider-indicator .mui-icon{
	border: 0;
	width: auto;
	height: auto;
}
.mui-content{
	padding-top: 40px;
}
.rlTab{
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 40px;
	line-height: 40px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background: #efeff4;
}
.rlTab>a{
	display: table-cell;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #555;
	border-bottom: 2px solid #C0C0C0;
}
.rlTab>a:first-child>span+b{
	color: #EB5A4A;
}
.rlTab>a.activeTab{
	border-color: #4287ff;
}
.rlTab>a>span{
	font-size: 18px;
}
.rlTab>a>b{
	font-weight: 400;
	font-size: 15px;
	margin-left: 2px;
}
/*主显示区域样式*/
#box li{
	display: none;
}
#box li:first-child{
	display: block;
}
.curTxt{
	padding: 10px 10px 0;
}
.curTxt .blue{
	font-weight: bold;
	font-size: 1em;
}
.curTxt .red{
	font-size: 1.6em;
	word-break: break-all;
	line-height: 1.5;
	margin-bottom: 0;
}
@-webkit-keyframes magentaPulse {
    from {background-color: #630030;}
    50% {background-color: #a9014b;}
    to {background-color: #630030;}
}
@keyframes magentaPulse {
     from {background-color: #630030;}
    50% {background-color: #a9014b;}
    to {background-color: #630030;}
}
.overTemp{
	-webkit-animation: magentaPulse 3s infinite;
	animation: magentaPulse 3s infinite;
	padding: 10px;
	font-size: 14px;
	margin-top: 10px;
}
