.topTab{
	top: 0;
	bottom: auto;
}
.mui-slider-indicator .mui-icon{
	border: 0;
	width: auto;
	height: auto;
}
.rlTab{
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 40px;
	line-height: 40px;
}
.rlTab>a{
	display: table-cell;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #555;
	border-bottom: 2px solid #C0C0C0;
}
.rlTab>a:first-child>span+b{
	color: #EB5A4A;
}
.rlTab>a.activeTab{
	border-color: #4287ff;
}
.rlTab>a>span{
	font-size: 18px;
}
.rlTab>a>b{
	font-weight: 400;
	font-size: 15px;
	margin-left: 2px;
}
