#project button{
	margin-bottom: 10px;
}
ul,li{
	list-style: none;
	padding: 0;
	margin: 0;
}
.dateUl{
	margin-bottom: 10px;
}
.dateUl li{
	height: 36px;
	line-height: 36px;
}
#start,#end{
	background: #ddd;
	padding-left: 20px;
	color: #555;
}
#btnSubmit{
	padding: 5px 0;
}
.query{
	padding: 0 5px;
}
.query h4{
	padding-top: 10px;
	font-size: 16px;
}
#historyChart{
	height: 360px;
	background: #007AFF;
}
#formDiv{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: fixed;
	z-index: 10;	
}
#btnSure{
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	text-align: center;
}
#btnSure button{
	padding: 5px 0;
	display: inline-block;
	width: 45%;
}
