<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>分析--报表功能</title>
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
    <link rel="stylesheet" href="../com/css/swiper.min.css" />
    <link rel="stylesheet" type="text/css" href="../com/css/layer.css">
    <link rel="stylesheet" href="../com/css/cold360.css" />
    <link rel="stylesheet" href="../com/css/bootstrap.min.css">
    <link rel="stylesheet" href="../com/css/font-awesome.min.css">
    <script type="text/javascript" src="../com/js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="../com/js/angular.min.js"></script>
    <script type="text/javascript" src="../com/js/swiper.min.js" ></script>
    <script type="text/javascript" src="../com/js/echarts-all.js" ></script>
	<script type="text/javascript" src="../com/js/highcharts.js"></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
    <script type="text/javascript" src="../com/js/layer.js"></script>
    <script type="text/javascript" src="../com/js/jedate/jedate.js"></script>
    <script type="text/javascript" src="../com/js/cold360.js" ></script>
    <script type="text/javascript" src="../app/js/analysisReport.js" ></script>
</head>
<body ng-app="app" ng-controller="analysisReport" ng-cloak>
    <!-- header -->
         <header class="one">
            <div class="area fl">
                <a href="personal.html"><img class="userImg"></a>
            </div>
            <div class="zoom fr" ng-show="user.roleid == 2 || user.roleid == 3">
                <a class="transion"><i class="iconfont">&#xe73c;</i></a>
            </div>
            <div class="txt omg">
                {{rdcName}}
            </div>
            <ul class="rdcDropList" ng-repeat="storage in storages">
                <li ng-click="viewStorage(storage.id)">{{storage.name}}</li>
            </ul>
        </header>
        <header class="two">
        	<div class="area fl">
        		<a class="cancel"><i class="iconfont">&#xe60e;</i></a>
        	</div>

        	<div id="searchDara_div" class="search">
        		<input type="text" placeholder="查找RDC..." ng-model="searchContent" ng-change="searchRdcs(searchContent)" ng-model-options="{debounce: 700}"/>
        		<i class="iconfont" >&#xe62f;</i>
        	</div>
	    </header>
    <!-- header end-->
    <section class="toggle">
        <div class="tempture other" id="ml_acl110" ng-click="goTemperature()"><i class="iconfont">&#xe67f;</i>
            <span class="dropNext">
    			<b>温度</b><i class="iconfont">&#xe6f7;</i>
    		</span>
            <ul class="otherList black">
                <li><a href="javascript:;">超温时长统计</a></li>
                <li><a href="javascript:;">超温因子统计</a></li>
                <li><a href="javascript:;">保温因子统计</a></li>
                <li><a href="javascript:;">温度周期因子统计</a></li>
            </ul>
        </div>
        <div class="light" id="ml_acl120" ng-click="goTransport()"><i class="iconfont">&#xe6ed;</i>
            <span class="dropNext">
                <b>运管</b><i class="iconfont">&#xe6f7;</i>
            </span>
            <ul class="otherList black">
                <li><a href="javascript:;"  id="door" ng-click="goDoor()">冷库门运行分析</a></li>
                <li><a href="javascript:;" id="goods">货物因子分析</a></li>
                <li><a href="javascript:;" id="hot">冷库日热量分析</a></li>
            </ul>
        </div>
        <div class="door" id="ml_acl130" ng-click="goCooling()"><i class="iconfont">&#xe7b6;</i>
            <span class="dropNext">
                <b>制冷</b><i class="iconfont">&#xe6f7;</i>
            </span>
            <ul class="otherList black">
                <li><a href="javascript:;"  id="efficiency" ng-click="goDoor()">效率分析</a></li>
                <li><a href="javascript:;" id="warn" ng-click="goWarnCount()">告警统计</a></li>
                <li><a href="javascript:;" id="running">运行分析</a></li>
            </ul>
        </div>
        <div class="current other" id="ml_acl140" ng-click="goReport()"><i class="iconfont">&#xe7cc;</i><b>报表</b></div>
    </section>
	<div class="chart temperature historyData">
		<div class="filter">
			<p><strong>请选择需要查询的项目：</strong></p>
			<div class="project clearfix">
                <div ng-disabled="!aclmap[20]" style="{{aclmap[20]?'':'background: grey!important; color: #ccc!important;pointer-events: none!important;'}}"  disid="{{aclmap[20]}}" ng-click="showkeyli($event,0,0)" class="default">日耗电量</div>
                <div ng-disabled="!aclmap[20]" style="{{aclmap[20]?'':'background: grey!important; color: #ccc!important;pointer-events: none!important;'}}"  disid="{{aclmap[20]}}" ng-click="showkeyli($event,1,0)" class="default">日耗水量</div>
                <div ng-disabled="!aclmap[121]" style="{{aclmap[121]?'':'background: grey!important; color: #ccc!important;pointer-events: none!important;'}}"  disid="{{aclmap[121]}}" ng-click="showkeyli($event,2,1)" class="default">冷  库  门</div>
                <div ng-disabled="!aclmap[110]" style="{{aclmap[110]?'':'background: grey!important; color: #ccc!important;pointer-events: none!important;'}}"  disid="{{aclmap[110]}}" ng-click="showkeyli($event,3,1)" class="default">温度分析</div>
                <div ng-disabled="!aclmap[123]" style="{{aclmap[123]?'':'background: grey!important; color: #ccc!important;pointer-events: none!important;'}}"  disid="{{aclmap[123]}}" ng-click="showkeyli($event,4,1)" class="default">热　　量</div>
                <div ng-disabled="!aclmap[62]" style="{{aclmap[62]?'':'background: grey!important; color: #ccc!important;pointer-events: none!important;'}}"  disid="{{aclmap[62]}}" ng-click="showkeyli($event,5,1)" class="default">冷风机</div>
                <div ng-disabled="!aclmap[130]" style="{{aclmap[130]?'':'background: grey!important; color: #ccc!important;pointer-events: none!important;'}}"  disid="{{aclmap[130]}}" ng-click="showkeyli($event,6,0)" class="default">系统效率</div>
                <div ng-disabled="!aclmap[122]" style="{{aclmap[122]?'':'background: grey!important; color: #ccc!important;pointer-events: none!important;'}}"  disid="{{aclmap[122]}}" ng-click="showkeyli($event,7,0)" class="default">货物因子</div>
                <div ng-disabled="!aclmap[130]" style="{{aclmap[130]?'':'background: grey!important; color: #ccc!important;pointer-events: none!important;'}}"  disid="{{aclmap[130]}}" ng-click="showkeyli($event,8,1)" class="default">制冷运行分析</div>
			</div>	
			<p><strong>请选择时间范围</strong></p>
            <p>开始时间<input class="datainp" id="startTime" type="text" placeholder="请选择开始时间" ng-model="begin" readonly></p>
            <p>结束时间<input class="datainp" id="endTime" type="text" placeholder="请选择结束时间" ng-model="end" readonly></p>
		</div>		
       	<p class="chaxun"><button class="mybtn" ng-click="search()">查询</button></p>
       	<h3 class="box-title" id="rpt_asistb_tit"> </h3>
		<div class="analysis alarmLog" style="border:0"><!--   ng-show="slindex !== -1" -->
			<div id="rpt_asis_coment" class="table-responsive" ng-show="!rs_msg">
				<table id="rpt_asis_table" class="table table-bordered cold_warn">
					<thead id="rpt_asistb_thead">
					</thead>
					<tbody id="rpt_asistb_tbody">
					</tbody>
				</table>
			</div>
			<div ng-show="rs_msg" >
				<div class="alert alert-warning text-center">{{rs_msg}}</div>
			</div>
       	</div>
 	</div>
	<!--rdc列表-------------------------------------------------->
	 <section class="searchTop">
	 	<ul class="rdcList">
	 		<li class="omg" ng-repeat="rdclist in storages | filter:searchContent" ng-click="changeRdc(rdclist)"><i class='iconfont'>&#xe62f;</i><span>{{rdclist.name}}</span></li>
	 	</ul>
	 	<p>没有找到您要的信息~~~<br />请检查您的输入条件是否有误^_^</p>
	 </section>
	 <div id="datePlugin"></div>
	 <!--rdc列表----------------------------------------------->
    <ul class="footer">
        <li id="ml_acl1">
            <a href="cold360.html">
                <i class="iconfont">&#xe68d;</i>
                <p class="info">监控</p>
            </a>
        </li>
        <li id="ml_acl70">
            <a href="analysisQuery.html">
                <i class="iconfont">&#xe7c6;</i>
                <p class="info">查询</p>
            </a>
        </li>
        <li class="active" id="ml_acl100">
            <a href="analysis.html">
                <i class="iconfont">&#xe682;</i>
                <p class="info">分析</p>
            </a>
        </li>
        <li id="ml_acl200">
            <a href="alarmLog.html">
                <i class="iconfont"><!--&#xe698;-->&#xe697;</i>
                <p class="info">告警</p>
                <span class="countNum" ng-if="alarmTotalCnt > 0" ng-bind="alarmTotalCnt"></span>
            </a>
        </li>
        <li id="ml_acl300">
            <a href="maintain.html">
                <i class="iconfont">&#xe6a5;</i>
                <p class="info">维护</p>
            </a>
        </li>
    </ul>
    <div class="goTop"><i class="iconfont">&#xe747;</i></div>
    <div id="alarmBill" style="height:40px;width:50px;position: relative;left: 200px;top: -525px;z-index: 100;opacity: 0.5;"><i class="fa fa-bell-o fa-2x" style="color: red;margin-top: 9px"></i><span id="alarmBillCount" class="badge" style="float: right;margin-right:2px;margin-top: -38px">21</span></div>
</body>
</html>