<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="”X-UA-Compatible”" content="”IE=Edge,chrome=1″" /
    <meta name="renderer" content="webkit|ie-stand" />
    <meta name="renderer" content="webkit" />
    <title>冷库360使用协议</title>
    <meta charset="utf-8" name="keywords" content="冷库360,冷库监控,冷库智能管理,冷库能效评估，冷库认证与能耗管理" />
    <meta charset="utf-8" name="description" content="冷库360-冷库能效在线管理系统" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <link rel="shortcut icon" href="assets/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
    <script type="text/javascript" src="../com/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
    <style>
        body{
            padding: 3vw 5vw;
        }
        p{
            text-indent:2em;
            font-size: .7rem;
        }
        b{
            font-size: .7rem;
        }
    </style>
</head>
<body>
    <header>
        <div class="area fl">
            <a href="register.html"><i class="iconfont">&#xe60e;</i></a>
        </div>
        <div class="txt">
            冷库360使用协议
        </div>
    </header>
    <p style="margin-top: 2.3rem;">欢迎您使用冷库360的服务！</p>
    <p>欢迎您使用冷库360的服务！</p>
    <p><b>为使用冷库360的服务，您应当阅读并遵守《冷库360使用协议》和《冷库360隐私权条款》。本协议是用户与冷库360之间的法律协议，是用户注册冷库360平台账号并使用冷库360服务时使用的通用条款。请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款、管辖与法律适用条款。限制、免责条款可能以黑体加粗或加下划线的形式提示您重点注意。除非您已阅读并接受本协议所有条款，否则您无权使用冷库360提供的服务。您使用冷库360的服务即视为您已阅读并同意上述协议的约束。</b>
    </p>
    <div><b>一、定义</b></div>
    <p>冷库360平台，是指睿冷信息技术(上海)有限公司之冷库360网站（smartcold.org.cn)及冷库360移动应用软件（APP）。</p>
    <p>用户，包含注册用户和非注册用户，以下亦称为“您”。注册用户是指通过冷库360平台完成全部注册程序后，使用冷库360平台服务或冷库360网站资料的用户。非注册用户是指未进行注册、直接登录冷库360平台或通过其他网站进入冷库360平台直接或间接地使用冷库360平台服务或冷库360网站资料的用户。</p>
    <p>协议方，本协议中协议双方合称“协议方”。睿冷信息技术(上海)有限公司及其相关服务可能存在的运营关联单位、冷库360平台在协议中统称为"冷库360"。</p>
    <div><b>二、协议的效力</b></div>
    <p><b>1、在您按照注册页面提示填写信息、阅读并同意本协议并完成全部注册程序后或以其他冷库360允许的方式实际使用冷库360平台服务时，您即受本协议的约束。</b></p>
    <p><b>2、本协议内容包括本协议正文、《冷库360隐私权条款》，且您在使用冷库360某一特定服务时，该服务可能会另有单独的协议、相关业务规则等（以下统称为“规则”）。所有冷库360已经发布的或将来可能发布的规则为本协议不可分割的组成部分，与本协议具有同等法律效力。除另行明确声明外，任何冷库360及其关联公司提供的服务（以下称为“冷库360平台服务”）均受本协议约束。您承诺接受并遵守本协议的约定。如果您不同意本协议的约定，您应立即停止注册程序或停止使用冷库360平台服务；如您继续访问和使用冷库360平台服务，即视为您已确知并完全同意本协议各项内容。</b></p>
    <p><b>3、冷库360有权根据国家法律法规的更新、产品和服务规则的调整需要不时地制订、修改本协议及/或各类规则，并以网站公示的方式进行公示。如您继续使用冷库360平台服务的，即表示您接受经修订的协议和规则。如发生有关争议时，以冷库360最新的相关协议和规则为准。</b></p>
    <div><b>三、注册</b></div>
    <p>1、您确认，在您完成注册程序或以其他冷库360允许的方式实际使用冷库360平台服务时，您应当是具备相应民事行为能力的自然人、法人或其他组织。若您不具备前述主体资格，则您及您的家长或法定监护人（以下统称"监护人"）应承担因此而导致的一切后果，且冷库360有权注销您的账户，并向您及您的监护人索偿。</p>
    <p>2、冷库360非常重视对青少年个人信息搜集和使用的安全性的保护。冷库360建议，任何未满18周岁的未成年人参加网上活动应事先取得其监护人可经查证的同意并遵守《青少年网络文明公约》。监护人应承担未成年人网络活动风险及保护未成年人相关网络隐私的首要责任。</p>
    <p><b>3、在您签署本协议，完成注册程序时，冷库360会向您提供唯一编号的冷库360账户。您应对您的用户账户、登录密码、支付密码（如有）、验证码的安全，以及对通过您的账户和密码实施的行为负责；因此所衍生的任何损失或损害，冷库360无法也不承担任何责任。除非有法律规定或行政司法机关的指令，且征得冷库360的同意，否则您的用户账户、登录密码、支付密码（如有）和验证码不得以任何方式转让、借用、赠与或继承（与账户相关的财产权益除外）。否则，由此给您（或冷库360、任何第三方）造成的一切损失，概由您自行承担（或者负责赔偿）。</b></p>
    <p>4、如果发现任何人不当使用您的账户或有任何其他可能危及您的账户安全的情形时，您应当立即以有效方式通知冷库360，要求冷库360暂停相关服务。您理解冷库360对您的请求采取行动需要合理时间，冷库360对在采取行动前已经产生的后果（包括但不限于您的任何损失）不承担任何责任。</p>
    <p>5、您在注册帐号或使用冷库360平台服务的过程中，可能需要填写一些必要的信息。若国家法律法规有特殊规定的，您需要填写您的真实的身份信息。若您填写的信息不完整，则无法使用冷库360平台服务或在使用过程中受到限制。</p>
    <p>6、您了解并同意，如您符合并且遵守本协议条款，在通过冷库360平台完成注册程序之后，即可成为冷库360平台用户。对于您主动提交的相关信息，您授权冷库360及/或冷库360网站运营者及关联服务提供方委托的第三方通过合法渠道（包括但不限于征信机构等）了解、咨询、审查您的个人市场交易风险的真实情况，并据此判断您的风险状况。</p>
    <p>7、您了解并同意，一经注册用户账号，即视为您同意冷库360及/或其关联公司通过短信或者电子邮件的方式向您注册时填写的手机号码或者电子邮箱发送相应的产品服务广告信息、促销优惠等营销信息；您如果不同意发送，您可以通过相应的退订功能进行退订。</p>
    <div><b>四、冷库360平台服务使用规范</b></div>
    <p>1、通过冷库360平台，您可以按照冷库360的规则发布各种生活信息。但所发布之信息不得含有如下内容：</p>
    <p>1) 反对宪法所确定的基本原则，煽动抗拒、破坏宪法和法律、行政法规实施的；</p>
    <p>2)煽动危害国家安全、泄露国家秘密、颠覆国家政权，推翻社会主义制度的；</p>
    <p>3)煽动分裂国家、破坏国家统一、损害国家荣誉和民族利益的；</p>
    <p>4)煽动民族仇恨、民族歧视，破坏民族团结的；</p>
    <p>5)捏造或者歪曲事实，散布谣言，扰乱社会秩序的；</p>
    <p>6)进行政治宣传或破坏国家宗教政策、宣扬封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；</p>
    <p>7)公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；</p>
    <p>8)损害国家机关信誉的；</p>
    <p>9)其他违反宪法和法律法规的；</p>
    <p>5、您了解并同意：</p>
    <p>1)您违反上述承诺时，冷库360有权依据本协议的约定，做出相应处理或终止向您提供服务，且无须征得您的同意或提前通知于您。</p>
    <p>2)根据相关法令的指定或者冷库360服务规则的判断，您的行为涉嫌违反法律法规的规定或违反本协议和/或规则的条款的，冷库360有权采取相应措施，包括但不限于直接屏蔽、删除侵权信息、降低您的信用值或直接停止提供服务。</p>
    <p>3)对于您在冷库360平台上实施的行为，包括您未在冷库360平台上实施但已经对冷库360平台及其用户产生影响的行为，冷库360有权单方认定您行为的性质及是否构成对本协议和/或规则的违反，并据此采取相应的处理措施。您应自行保存与您行为有关的全部证据，并应对无法提供充要证据承担不利后果。</p>
    <p>4)对于您涉嫌违反承诺的行为对任意第三方造成损害的，您均应当以自己的名义独立承担所有的法律责任，并应确保冷库360免于承担因此产生的损失或增加的费用。</p>
    <p>5)如您涉嫌违反有关法律或者本协议之规定，使冷库360遭受任何损失，或受到任何第三方的索赔，或受到任何行政管理部门的处罚，您应当赔偿冷库360因此造成的损失及（或）发生的费用，包括合理的律师费用。</p>
    <div><b>五、协议终止</b></div>
    <p>1、您同意，冷库360基于平台服务的安全性，有权中止向您提供部分或全部冷库360平台服务，暂时冻结您的账户，待安全问题解决后及时恢复，并对中止、冻结及恢复的事实及时通知。如果网站的安全问题是由于您的违法行为引起，冷库360有权终止向您提供部分或全部冷库360平台服务，永久冻结（注销）您的帐户，并有权向您对损失进行索赔。</p>
    <p>2、您同意，您与冷库360的协议关系终止后，冷库360仍享有下列权利：</p>
    <p>1) 继续保存您未及时删除的注册信息及您使用冷库360平台服务期间发布的所有信息至法律规定的记录保存期满。</p>
    <p>2）您在使用冷库360平台服务期间存在违法行为或违反本协议和/或规则的行为的，冷库360仍可依据本协议向您主张权利、追究责任。</p>
    <div><b>六、隐私权政策</b></div>
    <p>1、冷库360将在冷库360平台公布并不时修订隐私权条款，隐私权条款构成本协议的有效组成部分。</p>
    <p>2、您知悉并认可：冷库360可能会与第三方合作向用户提供相关的网络服务，在此情况下，如冷库360旗下相应主体已与该第三方签署了适当的保密条款，则冷库360有权将用户的注册资料等提供给该第三方。另外，在不透露单个用户隐私资料的前提下，冷库360有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。</p>
    <p>3、冷库360将运用各种安全技术和程序建立完善的管理制度来保护您的个人信息，以免遭受未经授权的访问、使用或披露。对此您表示理解和认同。</p>
    <div><b>七、知识产权声明</b></div>
    <p>1、冷库360所在公司及其关联公司的商标，受法律保护，任何人不得擅自使用。凡侵犯本公司版权等知识产权的，冷库360将依法追究其相关法律责任。</p>
    <p>2、冷库360平台所刊登的资料信息（包括但不限于编码、文字、图表、标识、按钮图标、图像、声音文件片段、数字下载、数据编辑和软件），均是冷库360或其内容提供者的财产，受中国和国际版权法的保护。本平台上所有内容的汇编是冷库360的排他财产，受中国和国际版权法的保护。本平台上所有软件都是冷库360或其关联公司或其软件供应商的财产，受中国和国际版权法的保护。任何被授权的浏览、复制、打印和传播属于冷库360平台网站内信息内容都不得用于商业目的且所有信息内容及其任何部分的使用都必须包括此版权声明。</p>
    <p>3、用户一旦接受本协议，即表明该用户主动将其在任何时间段在本平台发表的任何形式的信息内容（包括但不限于用户评价、用户咨询、各类话题文章等信息内容）的财产性权利等任何可转让的权利，如著作权财产权（包括并不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、翻译权、汇编权以及应当由著作权人享有的其他可转让权利），全部独家且不可撤销地转让给冷库360所有，用户同意冷库360有权就任何主体侵权而单独提起诉讼。</p>
    <p>4、本协议已经构成《中华人民共和国著作权法》第二十五条（条文序号依照2011年版著作权法确定）及相关法律规定的著作财产权等权利转让书面协议，其效力及于用户在冷库360平台上发布的任何受著作权法保护的作品内容，无论该等内容形成于本协议订立前还是本协议订立后。</p>
    <p>5、用户同意并已充分了解本协议的条款，承诺不将已发表于本站的信息，以任何形式发布或授权其它主体以任何方式使用（包括但不限于在各类网站、媒体上使用）。</p>
    <p>6、用户通过冷库360平台发布的信息或内容，并不代表冷库360之意见及观点，也不意味着冷库360赞同其观点或证实其内容的真实性。</p>
    <p>7、用户通过冷库360平台发布的信息、文字、图片等资料均由冷库360用户提供，其真实性、准确性和合法性由信息发布人负责。冷库360不提供任何保证，并不承担任何法律责任。如果以上资料侵犯了第三方的知识产权或其他权利，责任由信息发布者本人承担，冷库360对此不承担责任。</p>
    <p>8、除法律另有强制性规定外，未经冷库360明确的特别书面许可，任何单位或个人不得以任何方式非法地全部或部分复制、传播、展示、镜像、上载、下载、转载、引用、链接、抓取或以其他方式使用本站的信息内容，否则，冷库360有权追究其法律责任。</p>
    <p>9、对于不当引用冷库360网站内容而引起的纷争等或因纠纷等造成的任何损失，冷库360不承担相关法律责任。对不遵守本声明的用户或其他违法、恶意使用冷库360网站内容者，冷库360保留追究其法律责任的权利。</p>
    <p>10、冷库360平台相关声明版权及其修改权、更新权和法律允许范围内的最终解释权均属冷库360所有。</p>
    <br>
    <p><b>为维护网民和相关权利人利益，睿冷信息技术(上海)有限公司已经以公示的方式，为用户及相关权利人提供了丰富、便捷的线上线下投诉渠道。基于网络用户间的公平考量，同时也为了使网络用户的投诉能够及时得到处理，避免被当做垃圾邮件屏蔽，睿冷信息技术(上海)有限公司拒绝接收和处理所有以电子邮件形式发送给本公司员工个人的网络侵权通知，更不承诺对发送给本公司员工个人的电子邮件侵权通知进行优先处理，特此告知。</b></p>
</body>
</html>