<!DOCTYPE html>
<html>
  <head>
    <title>Temp.html</title>
    <meta charset="UTF-8">
    <meta name="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../com/css/swiper.min.css" />
    <script type="text/javascript" src="../com/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="../com/js/swiper.min.js" ></script>
<!--     <script type="text/javascript" src="../com/js/echarts.min.js" ></script> -->
	<script type="text/javascript" src="../com/js/highcharts.js"></script>
  </head>
  <body>
    <div class="swiper-container chart temperature">
        <div class="swiper-wrapper" id="chartView"></div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"><i class="iconfont">&#xe691;</i></div>
        <div class="swiper-button-prev"><i class="iconfont">&#xe692;</i></div>
    </div>
  </body>
  <script type="text/javascript" src="Temp.js"></script>
</html>
