/*
*   lianku new version style
*   author:wellsea
*   date:2017-06-20插件
*/
/* 初始化 */
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p,
dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside,
details, figcaption, figure, footer, header, hgroup, menu, nav, section { margin: 0;padding: 0; border: none;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;}
body{font: 14px Microsoft YaHei, HELVETICA, sans-serif, Arial, Tahoma; color: #656565;}
em, i{font-style: normal;}
strong{font-weight: normal;}
input[type='text'],input[type='number'],input[type='tel'],input[type='email'],textarea,select{width: 100%;padding: 0 15px;height: 38px;font-size: 14px; line-height: 1.42857143; color: #656565; background-color: #fff;
    background-image: none; border: 1px solid #ccc; border-radius: 4px; }
a{cursor: pointer;text-decoration: none; color: #4F4F4F; font-family: Microsoft YaHei,HELVETICA, sans-serif,Tahoma, Arial;}
a:hover{color: #2763cc; text-decoration: none;}
a:active{color: #656565;}
table{border: solid 1px #e8eef4; border-collapse: collapse;}
table td{padding: 5px; border: solid 1px #e8eef4;}
table th{padding: 6px 5px; text-align: left; background-color: #e8eef4; border: solid 1px #e8eef4;}
ul, ol,dl,li{list-style: none;}
h1, h2, h3, h4, h5, h6{font-size: 100%; font-family: Microsoft YaHei,HELVETICA,sans-serif,Tahoma, Arial;}
img{border: none;width: 100%;height: 100%;}
/* 设置HTML5元素为块 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;  }

/*清浮动*/
.clearfix:after{content: ""; display: block; visibility: hidden; height: 0; clear: both;}
.clearfix{zoom: 1;}
.fl{float: left;*display: inline-block;}
.fr{float: right;*display: inline-block;}
/*连续英文、数字换行*/
.wordwrap { word-break: break-all; word-wrap: break-word; }
/*单行文字超出显示省略号*/
.omg{overflow: hidden; text-overflow: ellipsis; white-space:nowrap;}
/*文字对齐*/
.txt-center{text-align: center;}
.txt-left{text-align: left;}
.txt-right{text-align: right;}
/*iconfot 字体*/
@font-face {
    font-family: 'iconfont';
    src: url('../plugins/fonts/iconfont.eot');
    src: url('../plugins/fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../plugins/fonts/iconfont.woff') format('woff'),
    url('../plugins/fonts/iconfont.ttf') format('truetype'),
    url('../plugins/fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
}
html,body,header{
    width: 100%;
    min-width: 600px;
}
/*颜色 背景*/
/*<b class="approve"><i class="iconfont">&#xe6ac;</i>已认证</b>*/
.approve{
    font-size: 12px!important;
    color: #54c849!important;
    font-weight:400!important;
}
.approve i,.reachStand i{
    margin-right: 5px;
    font-size: 14px!important;
}
.reachStand{
    font-size: 12px!important;
    color: #f57f1f!important;
    font-weight:400!important;
}
.orange{
    color: #f57e1e;
}
.blue{
    color: #2763cc;
}
.oBtn{
    padding: 8px 24px;
    color: #fff!important;
    background-color: #186efe;
    border-radius: 4px;
    cursor: pointer;
    line-height: 1.42857143;
    text-align: center;
}
.hide{
    display: none;
}
.flex{
    display: -webkit-flex;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;

}
.item{
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
}
/*公共头部和版权*/
.header{
    width: 100%;
    height: 116px;
    background: #2763cc;
}
.footer{
    width: 100%;
    padding: 30px 5% 0;
    background-color: #2e3033;
}
.section{
    /*width: 1210px;*/
    width: 80%;
    margin: 15px auto;
    background-color: #fff;
    position: relative;
}
.hotLine{
    padding: 0 5%;
    height: 30px;
    line-height: 28px;
    background-color: #363636;
    color: #e8eef4;
    font-size: 12px;
}
.hotLine a{
    color: #e8eef4;
    margin-left: 30px;
}
.hotLine a i{
    font-size: 12px;
    margin-left:5px;
}
.nav{
    width: 90%;
    height: 86px;
    margin:0 auto;
}
.nav h1>a{
    display: block;
    width: 300px;
    height: 100%;
    background: url("../img/logo.png") left center no-repeat;
    color: #fff;
    text-indent: 150px;
    font-size: 20px;
    line-height:86px;
    font-weight: 700;
}
.nav h1{
    display: inline-block;
    height: 86px;
    width: 300px;
}
.navLogin li,
.navUl li{
    float: left;
    height: 86px;
}
.navUl li a:hover,
.navSmall:hover,
.navUl li.activeNav a,
.navUlList li.activeNav{
    background-color: #186eff;
}
.navUl li a,
.navLogin li a{
    display: block;
    height: 86px;
    width: 80px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    line-height: 86px;
}
.navLogin li a{
    text-align: right;
}
.navUl{
    margin-right: 30px;
}
.navSmall{
    display: none;
}
.navLogin i{font-size: 18px}
.navSmall span{
    display: block;
    text-align: center;
    width: 100px;
    height: 86px;
    line-height: 86px;
    color: #fff;
}
.navUlList{
    position: fixed;
    left: 0;
    top: 116px;
    display: none;
    box-shadow: 0 2px 5px #333;
    background-color: rgba(0,0,0,.65);
    z-index:99;
}
.navUlList li a{
    display: block;
    height: 40px;
    line-height: 40px;
    width: 100vw;
    text-align: right;
    padding-right: 20vw;
    color: #fff;
}
.navUlList li a:hover{
    background: #186eff;
}
.fixed{
    position: fixed;
    top:0;
    left: 0;
    z-index: 10000;
}
#loginUser{
    width: 100px;
    height:86px;
    cursor: pointer;
    position: relative;
    display: none;
    text-align: center;
    z-index:1;
}
#loginUser .nameDiv{
    height: 100%;
    line-height: 86px;
    cursor: pointer;
}
#loginUser img{
    vertical-align:middle ;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#loginUser dl{
    position: absolute;
    top:100%;
    right:0;
    width: 100px;
}
#loginUser dl li a{
    display: block;
    padding: 8px 15px;
    width: auto;
    color: #fff;
    cursor: pointer;
    background-color: rgba(0,0,0,.6);
}
#loginUser dl li a:hover{
    color: #fff;
    background: #186eff;
}
/*版权信息css*/
#QRcode{
    padding: 15px 5%;
}
#QRcode ul>li{
    width: 25%;
    color: #fff;
    text-align: center;
}
#QRcode ul>li:nth-child(1),
#QRcode ul>li:nth-child(2),
#QRcode ul>li:nth-child(3){
    border-right: 1px solid #414245;
    box-sizing: border-box;
}
#QRcode ul>li>div,#QRcode ul>li>ol{
    display: inline-block;
    padding: 0 20px;
}
#QRcode ul>li>div>i{
    font-size: 4em;
}
#QRcode ul>li>ol>li{
    padding: 5px;
}
#QRcode ul>li>ol a{
    color: #949596;
}
#QRcode dl{
}
#QRcode dl li{
    width: 50%;
  /*  margin-bottom: 20px;*/
}
#QRcode dl li:last-child{
    padding-right: 5%;
}
#QRcode dl li p{
    line-height:2.2;
}
#QRcode dl li p a{
    color: #f57e1e;
}
.codeImg{
    text-align: center;
    display: inline-block;
    width: 30%;
}
.codeImg img{
    width: 80px;
}
/*上传图片按钮样式*/
.ofile {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}

.ofile input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    width: 100%!important;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

.ofile:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}