/*
*   lianku new version style
*   author:wellsea
*   date:2017-06-20插件
*/
header{
    height: 86px;
    background: #2763cc;
    width: 100vw;
}
footer{
    height:240px;
    background-color: #2e3033;
}
section{
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
}
.nav{
    width: 90%;
    height: 86px;
    margin: 0 auto;
}
.nav h1>a{
    display: block;
    width: 300px;
    height: 100%;
    background: url("../img/logo.png") left center no-repeat;
    color: #fff;
    text-indent: 150px;
    font-size: 20px;
    line-height:100px;
}
.nav h1{
    display: inline-block;
    height: 86px;
    width: 300px;
}
.navLogin li,
.navUl li{
    float: left;
    height: 86px;
}
.navUl li a:hover,
.navSmall:hover{
    background-color: #4b4b4c;
}
.navUl li a,
.navLogin li a{
    display: block;
    height: 86px;
    padding: 0 15px;
    font-size: 16px;
    color: #fff;
    line-height: 100px;
}
.navUl{
    margin-right: 30px;
}
.navSmall{
    display: none;
}
.navLogin i{font-size: 18px}
/*banner*/
.navSmall span{
    display: block;
    text-align: center;
    width: 100px;
    height: 86px;
    line-height: 100px;
    color: #fff;
}
.navUlList{
    position: fixed;
    left: 0;
    top: 86px;
    display: none;
    box-shadow: 0 2px 5px #333;
    background-color: rgba(0,0,0,.65);
    z-index:99;
}
.navUlList li a{
    display: block;
    height: 40px;
    line-height: 40px;
    width: 100vw;
    text-align: right;
    padding-right: 20vw;
    color: #fff;
}
.navUlList li a:hover{
    background: #2763cc;
}
.fixed{
    position: fixed;
    top:0;
    left: 0;
    z-index: 10000;
}
.banner,.imgList li{
    width: 100%;
    height: 520px;
}
.banner{
    position: relative;
}
.imgList li{
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    display: none;
}
.imgList li img{
    position: absolute;
    width: 1920px;
    height: 520px;
    left: 50%;
    top: 0;
    margin-left: -960px;
}

.dianList{
    height: 16px;
    position: absolute;
    left: 50%;
    margin-left: -38px;
    bottom: 66px;
    z-index: 10;
}
.dianList li{
    cursor: pointer;
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 20px;
    background: #ddd;
    border-radius: 50%;
}
.dianList li.current{
    background: #2763cc;
}
/*banner end*/
.rdc{
    position: relative;
    top:-50px;
    width: 100%;
}
.rdc>div{
    width: 50%;
    height: 274px;
}
.rdc>div:first-child{
    background: #2561cc url("../img/lookrdc.png") left center no-repeat;
}
.rdc>div:last-child{
    background: #79d0ff url("../img/rentrdc.png") left center no-repeat;
}
.rdc>div ul{
    margin: 60px 60px 0 0;
}
.rdc>div ul li{
    border-bottom: 1px solid #64a7f6;
    color: #fff;
    margin: 10px 0;
}
.rdc>div ul li a{
    display: inline-block;
    width: 140px;
    color: #fff;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
}
.rdc>div:last-child ul li a{
    color: #1200ff;
}
/*图文列表样式*/
.imgTxtList{
    padding-top: -10px;
    padding-bottom: 40px;
}
.imgTxtList>div,.imgTxtList>ul{
    margin-bottom: 20px;
}
.listTitle{
    height:60px;
    line-height: 60px;
    background-color: #9bc2f6;
}
.listTitle>div{
    width: 33.33%;
}
.listTitle p{
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
}
.listTitle p a{
    color: #fff;
}
.listBox li{
    float: left;
    width: 25%;
    margin-bottom: 10px;
    overflow: hidden;
}
.listBox li div{
    width: 280px;
    height:150px;
    overflow: hidden;
    position: relative;
}
.nums{
    position: absolute;
    min-width: 60px;
    height: 20px;
    line-height:20px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding: 0 8px;
    border-radius: 10px;
    bottom:16px;
    left: 16px;
    background-color: #1874ff;
}
.imgTxtList li a{
    display: block;
    width: 100%;
    height: 100%;
}
.listBox li p{
    padding: 5px 0 2px 16px;
}
.price{
    font-size: 16px;
    color: #1874ff;
}
.cityName{
    font-size: 12px;
}
.listTxt li{
    float: left;
    width: 50%;
}
.listTxt li a{
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
}
.listInfo{
    padding: 0 80px;
}
.listTxt li a i{
    color: #1d77ff;
}
.listTxt li a:hover{
    color: #f40;
}















@media only screen and (max-width: 1300px){
    .navUl{
        display: none;
    }
    .navSmall{
        display: block;
        cursor: pointer;
        text-align: left;
        margin-right: 20px;
        position: relative;
    }
}