/*
*   lianku new version style
*   author:wellsea
*   date:2017-06-20插件
*/
.header{
    width: 100%;
    height: 116px;
    background: #2763cc;
}
.footer{
    width: 100%;
    background-color: #2e3033;
}
.section{
    width: 90%;
    margin: 15px auto;
    background-color: #fff;
    position: relative;
}
.hotLine{
    padding: 0 5%;
    height: 30px;
    line-height: 28px;
    background-color: #363636;
    color: #e8eef4;
    font-size: 12px;
}
.hotLine a{
    color: #e8eef4;
    margin-left: 30px;
}
.hotLine a i{
    font-size: 12px;
    margin-left:5px;
}
.nav{
    width: 90%;
    height: 86px;
    margin:0 auto;
}
.nav h1>a{
    display: block;
    width: 300px;
    height: 100%;
    background: url("../img/logo.png") left center no-repeat;
    color: #fff;
    text-indent: 150px;
    font-size: 20px;
    line-height:86px;
}
.nav h1{
    display: inline-block;
    height: 86px;
    width: 300px;
}
.navLogin li,
.navUl li{
    float: left;
    height: 86px;
}
.navUl li a:hover,
.navSmall:hover{
    background-color: #186eff;
}
.navUl li a,
.navLogin li a{
    display: block;
    height: 86px;
    width: 94px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    line-height: 86px;
}
.navLogin li a{
    text-align: right;
}
.navUl{
    margin-right: 30px;
}
.navSmall{
    display: none;
}
.navLogin i{font-size: 18px}
/*banner*/
.navSmall span{
    display: block;
    text-align: center;
    width: 100px;
    height: 86px;
    line-height: 86px;
    color: #fff;
}
.navUlList{
    position: fixed;
    left: 0;
    top: 116px;
    display: none;
    box-shadow: 0 2px 5px #333;
    background-color: rgba(0,0,0,.65);
    z-index:99;
}
.navUlList li a{
    display: block;
    height: 40px;
    line-height: 40px;
    width: 100vw;
    text-align: right;
    padding-right: 20vw;
    color: #fff;
}
.navUlList li a:hover{
    background: #186eff;
}
.fixed{
    position: fixed;
    top:0;
    left: 0;
    z-index: 10000;
}
.banner,.imgList li{
    width: 100%;
    height: 330px;
}
.banner{
    position: relative;
}
.imgList li{
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    display: none;
}
.imgList li img{
    position: absolute;
    width: 1920px;
    height: 330px;
    left: 50%;
    top: 0;
    margin-left: -960px;
}
.dianList{
    height: 16px;
    position: absolute;
    right: 10%;
    margin-left: -38px;
    bottom: 66px;
    z-index: 10;
}
.dianList li{
    cursor: pointer;
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 20px;
    background: #fff;
    border-radius: 50%;
}
.dianList li.current{
    background: #2763cc;
}
.leftBtn,.rightBtn{
    width: 40px;
    height: 70px;
    line-height: 70px;
    background: rgba(0,0,0,.65);
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    color: #fff;
    text-align: center;
    margin-top: -35px;
    display: none;
}
.leftBtn{
    left: 2%;
}
.rightBtn{
    right:2%;
}
.leftBtn i,.rightBtn i{
    font-size: 3em;
}
.filter{
    position: absolute;
    bottom: 0;
    left: 5%;
    border-bottom: 2px solid #186eff;
    border-top: 2px solid #186eff;
    width: 360px;
    height: 260px;
    background-color: #fff;
}
.filter>.fl{
    width: 66px;
    height: 100%;
    background-color: #186eff;
}
.filterBox{
    padding-left: 66px;
    width: 100%;
    height: 100%;
}
.filterDiv{
    padding: 14px 22px;
    word-break: break-all;
    word-wrap: break-word;
    color: #fff;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}
.filterDiv i{
    font-size: 24px;
    margin-bottom: 5px;
}
.filter>ul>li.activeA{
    background-color: #fff;
    color: #186eff;
}
.filterBox>ul>li>a{
    display: block;
    height: 65px;
    line-height: 65px;
    text-align: center;
    padding: 0 30px;
    border-bottom: 1px solid #d7e6ff;
    color: #1d71ff;
    font-size: 18px;
}
.filterBox>ul>li>a i{
    font-size: 24px;
    color: #484848;
}
.filterBox>ul>li>a i:first-child{
    color: #1d71ff;
}
.filterBox>ul>li.activeA>a,
.filterBox>ul>li.activeA>a i:first-child{
    color: #f58b34!important;
}
/*banner end*/

/*图文列表样式*/
.imgTxtList h1{
    color: #1d71ff;
    font-size: 18px;
    line-height: 2;
    border-bottom: 2px solid #1d71ff;
}
.imgTxtList h1 i{
    font-size: 18px;
}
.imglist{
    width: 60%;
    margin-top:15px ;
}
.txtlist{
    width: 40%;
    border:1px solid #f2f2f2;
}
.imglist li{
    width: 32%;
    height: 236px;
    margin-right: 1%;
    margin-bottom: 15px;
    padding-bottom:10px;
    position: relative;
    border:1px solid #f2f2f2;
}
.imglist li a{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.imglist li:hover{
    border-color: #ff9342;
}
.img{
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;
}
.lt{
    position: absolute;
    top:0;
    left: -9px;
    z-index:1;
    width: 76px;
    height: 31px;
    background: url("../img/lt.png") no-repeat center;
    background-size: cover;
    text-align: center;
    color: #fff;
    line-height: 31px;
}
.bg{
    background: rgba(0,0,0,.6);
    width: 100%;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom:0;
    left:0;
}
.price,.city{
    padding: 8px 5px;
}
.price{
    color: #f57e1e;
}
/*版权信息css*/
#QRcode{
    padding: 20px 5%;
}
#QRcode ul>li{
    width: 25%;
    color: #fff;
    text-align: center;
}
#QRcode ul>li:nth-child(1),
#QRcode ul>li:nth-child(2),
#QRcode ul>li:nth-child(3){
    border-right: 1px solid #414245;
    box-sizing: border-box;
}
#QRcode ul>li>div,#QRcode ul>li>ol{
    display: inline-block;
    padding: 0 20px;
}
#QRcode ul>li>div>i{
    font-size: 4em;
}
#QRcode ul>li>ol>li{
    padding: 5px;
}
#QRcode ul>li>ol a{
    color: #949596;
}
#QRcode dl{
    margin-top: 30px;
}
#QRcode dl li{
    width: 50%;
}
#QRcode dl li:last-child{
    padding-right: 5%;
}
#QRcode dl li p{
    line-height:2.2;
}
#QRcode dl li p a{
    color: #f57e1e;
}
.codeImg{
    text-align: center;
    display: inline-block;
    width: 30%;
}
.codeImg img{
    width: 100px;
}
/*通栏广告*/
.bigAd{
}













@media only screen and (max-width: 1300px){
    .navUl{
        display: none;
    }
    .navSmall{
        display: block;
        cursor: pointer;
        text-align: left;
        margin-right: 20px;
        position: relative;
    }
    #QRcode dl li,.imglist,.txtlist{
        width: 100%;
    }
}