/*
*   lianku new version style
*   author:wellsea
*   date:2017-06-20插件
*/

/*banner*/
.banner,.imgList li{
    width: 100%;
    height: 330px;
}
.banner{
    position: relative;
}
.imgList li{
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    display: none;
}
.imgList li img{
    position: absolute;
    width: 1920px;
    height: 330px;
    left: 50%;
    top: 0;
    margin-left: -960px;
}
.dianList{
    height: 16px;
    position: absolute;
    right: 10%;
    margin-left: -38px;
    bottom: 20px;
    z-index: 10;
}
.dianList li{
    cursor: pointer;
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 20px;
    background: #fff;
    border-radius: 50%;
}
.dianList li.current{
    background: #2763cc;
}
.leftBtn,.rightBtn{
    width: 40px;
    height: 70px;
    line-height: 70px;
    background: rgba(0,0,0,.65);
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    color: #fff;
    text-align: center;
    margin-top: -35px;
    display: none;
}
.leftBtn{
    left: 2%;
}
.rightBtn{
    right:2%;
}
.leftBtn i,.rightBtn i{
    font-size: 3em;
}
.filter{
    position: absolute;
    bottom: 0;
    left: 5%;
    z-index:11;
    border-bottom: 2px solid #186eff;
    border-top: 2px solid #186eff;
    width: 310px;
    height: 160px;
    background-color: #fff;
}
.filter>.fl{
    width: 66px;
    height: 100%;
    background-color: #186eff;
}
.filterBox{
    padding-left: 66px;
    width: 100%;
    height: 100%;
    position: relative;
}
.filterDiv{
    padding: 14px 22px;
    word-break: break-all;
    word-wrap: break-word;
    color: #fff;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    height: 100%;
}
.filterDiv i{
    font-size: 24px;
    margin-bottom: 5px;
}
.filter>ul>li.activeA{
    background-color: #fff;
    color: #186eff;
}
.filterBox>ul>li>a{
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0 30px;
    border-bottom: 1px solid #d7e6ff;
    color: #1d71ff;
    font-size: 16px;
}
.filterBox>ul>li>a i{
    font-size: 22px;
    color: #484848;
}
.filterBox>ul>li>a i:first-child{
    color: #1d71ff;
}
.filterBox>ul>li.activeA>a,
.filterBox>ul>li.activeA>a i:first-child{
    color: #f58b34!important;
}
.filterTxt{
    position: absolute;
    top:-2px;
    left: 100%;
    height: 160px;
    width: 320px;
    background-color: #fff;
    display: none;
}
.filterTxt>li li{
    padding: 2px 5px;
    border-radius: 3px;
    margin: 10px 10px 0 0;
    cursor: pointer;
}
.filterTxt>li li:hover,.filterTxt>li li.activeLi{
    color: #fff;
    background: #f58b34;
}
.filterTxt>li h3{
    background-color: #f58b34;
    color: #fff;
    height: 40px;
    line-height:40px;
}
.filterTxt>li{
    display: none;
}
.filterTxt>li li ul{
    margin-top: 10px;
}
.filterTxt>li h3,.filterTxt>li ul{
    padding: 0 8px;
}
/*banner end*/

/*图文列表样式*/
.imgTxtList h1{
    font-size: 18px;
    border-bottom: 2px solid #4286ff;
}
.imgTxtList h1,.imgTxtList h3{
    color: #4286ff;
    line-height: 2;
}
.imgTxtList h1 i{
    font-size: 18px;
}
.imglist{
    width: 60%;
    margin-top:15px ;
}
.txtlist{
    width: 40%;
    margin-top:15px ;
    border:1px solid #f2f2f2;
}
.imglist li{
    width: 32%;
    height: 236px;
    margin-right: 1%;
    margin-bottom: 15px;
    padding-bottom:10px;
    position: relative;
    border:1px solid #f2f2f2;
    transition: all 1s;
}
.imglist li a{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.imglist li:hover{
    border-color: #f57e1e;
    position: relative;
}
.img>img:hover{
    transform: scale(1.2);
    -ms-transform: scale(1.2);	/* IE 9 */
    -webkit-transform: scale(1.2);	/* Safari 和 Chrome */
    -o-transform: scale(1.2);	/* Opera */
    -moz-transform: scale(1.2);	/* Firefox */
}
.img{
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;
}
.img>img{
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;	/* Firefox 4 */
    -webkit-transition: all 0.5s ease;	/* Safari 和 Chrome */
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.lt{
    position: absolute;
    top:0;
    left: -4px;
    z-index:1;
    width: 100px;
    height: 31px;
    background: url("../img/lt.png") no-repeat center;
    background-size: cover;
    text-align: center;
    color: #fff;
    line-height: 26px;
    font-size: 12px;
}
.bg{
    background: rgba(0,0,0,.6);
    width: 100%;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom:0;
    left:0;
}
.price,.city{
    padding: 8px 5px;
}
.price{
    color: #f57e1e;
}
.imgTxtList h3{
    background-color: #f2f2f2;
    padding: 5px 10px;
}
.txtlist li>a{
    display: block;
    width: 100%;
    padding: 15px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    border-bottom: 1px solid #f2f2f2;
}
.txtlist li>a:hover{
    color: #f57e1e;
}
.txtlist a span{
    display: inline-block;
    margin-right:1em;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
    color: #fff;
    background-color: #4286ff;
}
.imgTxtList a.fr{
    width: 80px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    background-color: #4286ff;
    color: #fff;
    text-align: center;
    font-size: 12px;
}
.imgTxtList a.fr i{
    font-size: 12px;
}
.adDouble{
    margin: 32px 0;
}
.adDouble ul li{
    float: left;
    width: 50%;
    height: 80px;
    overflow: hidden;
    text-align: center;
}
.adDouble ul li a{
    display: inline-block;
    padding: 0;
    width: 204px;
    height: 80px;
}
.chartList li{
    margin-right: 0;
    margin-left: 1%;
}
.adOne ul li{
    width: 100%;
    padding: 10px;
}
.adOne ul li a{
    width: 100%;
}
.leftList,.rightList{
    float: left;
}
.leftList{
    width:40%;
}
.rightList{
    width:60%;
}
/*ad*/
.adbanner{
    padding: 30px 5%;
    position: relative;
}
.lists{
    width: 100%;
    height: 151px;
    overflow: hidden;
    position: relative;
}
.lists ul {
    width: 9999px;
    height: 151px;
    position: absolute;
    top: 0;
    left: 0;
}
.lists ul li{
    float: left;
    width: 300px;
    padding:0 10px;
    margin-right: 1px;
}
.lists ul li a{
    border:2px solid #f9f9fb;
    padding: 3px;
    display: inline-block;
}
.adbanner i{
    width: 26px;
    height: 62px;
    position: absolute;
    top: 50%;
    margin-top: -31px;
    color: #cccccc;
    text-align: center;;
    font-size: 24px;
    line-height: 62px;
    cursor: pointer;
}
i.left{left: 20px;}
i.right{right: 20px;}
.adbanner i:hover{color: #4790ff;}
.list3,.list2,.list1{
    width: 32.333%;
    float: left;
    margin-right: 1.5%;
}
.list3{
    margin-right: 0;
}
.list2 .imglist{
    width: 100%;
}
.list2 .imglist li{
    float: left;
    width: 50%;
    padding: 14px 0;
    text-align: center;
    vertical-align: middle;
    height: inherit;
    margin: 0;
}
.list2 .imglist li a{
    width: 186px;
    height:117px;
    display: inline-block;
}