/*登录注册css*/
.section{
    min-height: 100%;
    padding: 130px 0 190px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
}
.loginBg{
    float: left;
    width: 697.32px;/*w/h=2.388*/
    height: 300px;
    background: url("../img/loginbg.png") no-repeat center center;
    background-size: cover;
}
.login{
    float: right;
    width: 400px;
}
.footer,.header{
    position: fixed;
    bottom:0;
    left:0;
    z-index:20;
}
.header{
    bottom:auto;
    top:0;
}
.login h2{
    color: #64a9d2;
    line-height: 3;
    border-bottom:  1px solid #64a9d2;
    margin-bottom: 1em;
}
.layui-form-pane .layui-form-label{
    border: 1px solid #e6e6e6;
    border-right: 0;
    box-sizing: border-box;
    padding: 8px 15px;
    width: 75px;
    color: #c5c5c5;
}
.layui-form-pane .layui-form-label>i{
    font-size: 20px;
}
.layui-form-pane .layui-input-block{
    margin-left: 75px;
}
.btnSubmit .layui-btn{
    width:100%;
    background-color: #4090db;
    border-color: #4090db;
}
.layui-form-item{
    margin-bottom: 15px;
}
.layui-form-pane .layui-form-checkbox{
    margin:0;
}
.layui-input{
    line-height: 1.75;
}
#getCode.layui-disabled:hover{
    border-color: #C9C9C9;
}
/*冷库认证*/
.loginDiv>.txt-left{
    width: 56%;
    line-height: 2;
    padding: 0 2%;
}
.loginDiv>.fr{
    width:38%;
    height: 300px;
    padding: 20px;
}
.upFile{
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    border: 2px dashed #4090db;
}
.upFile>input{
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
.upFile>i{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 5em;
    line-height: 3;
    z-index:0;
    color: #228fea;
}
.upFile>i:before{
    content: '上传营业执照';
    position: absolute;
    bottom:20%;
    left: 50%;
    background: #228fea;
    line-height:2.5;
    width: 150px;
    border-radius: 20px;
    margin-left: -75px;
    color: #fff;
    font-size: 14px;
}
.fileImg{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}
.fileImg>img{
    height: 100%;
}
/*实名认证css*/
.authen .layui-form-item{
    width: 70%;
}
.authen .layui-tab > p{
    margin:15px 0;
}
.authen .layui-form-item .layui-form-label{
     width: 150px;
}
.authen .layui-form-item .layui-input-block{
    margin-left: 180px;
}
.imgShow{
    max-width: 300px;
    height: 150px;
}
.upLabel{
    width: 100px;
    height: 38px;
    text-align: center;
    line-height:38px;
    position: relative;
    display: inline-block;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
}
.upLabel:hover{
    border-color: #009688;
}
.upLabel>input{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    opacity:0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}