/*
*   lianku new version style
*   author:wellsea
*   date:2017-06-26
*   mark:所有媒体查询文件都在此处
*   媒体查询兼容性：i9+
*/


@media only screen and (max-width: 1300px){
    .navUl{
        display: none;
    }
    .navSmall{
        display: block;
        cursor: pointer;
        text-align: left;
        position: relative;
    }
    .navUl li a, .navLogin li a{
        width: 70px;
        text-align: center;
    }
    .filterBox>ul>li.activeA:before{
        border: none;
    }
}
@media only screen and (max-width: 980px){

    .imglist,.txtlist{
        width: 100%;
    }
    .codeImg img{
        width: 50px;
    }
    .leftList,.rightList,.list3,.list2,.list1{
        width: 100%;
    }
    .filterTxt{
        top:100%;
        left:0;
    }
    .rdcCol>li .rdcImg{
        width: 35%;
        overflow: hidden;
    }
    .rdcCol>li .rdcInfo{
        width: 60%;
    }
    .rdcCol>li .rdcPrice,.rdcCol>li .rdcBtn{
        width: 50%;
    }
    .rdcInfoRight table td{
        max-width: inherit;
    }
}











