/*
*   lianku new version style
*   author:wellsea
*   date:2017-06-26
*   mark:cold list
*/
.rdcInfo {
    padding: 8px;
    border: 1px solid #ccc;
    position: relative;
}
.rdcInfoLeft,.rdcInfoRight{
    float: left;
    margin-bottom: 20px;
}
 .rdcInfoRight{
     padding-left: 20px;
     white-space: normal;
     word-wrap: break-word;
     word-break: break-word;
     width:375px;
    /* margin-right: 110px;*/
 }
.rdcInfoRight h2{
    font-size: 18px;
}
.rdcInfoRight table{
    table-layout: fixed;
    border: none;
}
.rdcInfoRight table td{
    text-align: left;
    padding: 10px 0;
    min-width: 200px;
    max-width: 300px;
    border: none;
}
.rdcInfoRight table td.orange b{
    font-size: 16px;
}
.rdcInfoRight table td button{
    width: 266px;
    background-color:#f57f1f;
    margin-left: 100px;
}
.rdcCode{
    position: absolute;
    top:10px;
    right: 8px;
    width: 100px;
    padding: 5px;
    border: 1px solid #eee;
    text-align: center;
    font-size: 12px;
}
.rdcInfoTxt table,.rdcInfoTxt table caption{
    width: 100%;
    border:none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.rdcInfoTxt{
    border: 1px solid #ccc;
}
.rdcInfoTxt table caption{
    background-color:#f4f4f4;
    font-weight: 700;
    text-align: left;
    padding: 8px 20px;
    border-bottom: 1px solid #ccc;
}
.rdcInfoTxt table td{
    padding: 5px 0 5px 20px;
    border: none;
}
.rdcInfoTxt table td>span{
    color: #868686;
    display: inline-block;
    width: 120px;
    text-align: right;
}
/*
*添加冷库
**/
.section>h1.orange{
    font-size: 16px;
}
.section>h1.orange>button{
    font-size: 14px;
}
.section>h1.orange i{
    margin-right:8px;
}
.rdcAdd table,.rdcAdd table caption{
    width: 100%;
    position: relative;
}
.rdcAdd table,.rdcAdd table td{
    border: none;
    padding: 8px 0;
}
.rdcAdd table tr td:first-child{
    min-width:200px;
    vertical-align: top;
    text-align: right;
    line-height: 36px;
}
.rdcAdd table caption{
    text-align: center;
    background-color: #4178d9;
    color: #fff;
    line-height:40px;
    font-size: 16px;
}
.rdcAdd input, .rdcAdd textarea,.rdcAdd select{
   /* width: 80%;*/
    width: 330px;
    margin-left: 3%;
}
.rdcImg div{
    margin-bottom: 10px;
}
.rdcImg div:last-child{
    margin-top: 10px;
}
.rdcImg a,.rdcImg p,.rdcImg div{
    margin-left: 3%;
}
.rdcImg label{
    display: inline-block;
    margin-right: 15px;
}
.rdcImg label>input{
    width: 20px;
    margin: 0;
    padding:0;
    height: initial;
}
.rdcImg label>.numInput{
    width: 100%;
    padding: 0 15px;
    height: 38px;
}
/*文字+输入框*/
.oInline{
    float: left;
    *display: inline-block;
    border:1px solid #78C3F3;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    overflow: hidden;
    margin-bottom: 8px;
}
.oInline{
    margin-right: 5px;
}
.oInline span{
    background-color: #99D3F5;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    color:#004974;
}
.oInline .compare{
    padding: 8px 0;
    width: 76px;
}
.oInline input{
    width: 150px;
    border: 0;
    border-radius: 0;
    margin: 0;
    border-left: 1px solid #78C3F3;
    border-right: 1px solid #78C3F3;
}
.oInline .oUnit{
    padding: 8px;
}
.rdcAdd table .oTd{
    padding-left: 3%;
}
.oC .oInline{
    min-width: 491px;
}
/*文字+输入框 end*/
.moreInfo textarea{
    resize: vertical;
}
.rdcAdd table .oBtn{
    width: 30%;
    display: block;
    margin: 0 auto;
}
.rdcAdd table .moreBtn{
    background-color: #ccc;
    color: #6b6b6b;
}
.imgTd ul{
    padding-left:27%;
}
.imgBox{
    float: left;
    width: 82px;
    height: 62px;
    position: relative;
    border: 1px solid #eee;
    margin: 0 10px 3px 0;
    overflow: hidden;
}
.imgBox i{
    position: absolute;
    top:0;
    right: 0;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background: rgba(0,0,0,.7);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}
.imgBox i:hover{
    color: red;
}

/*
*添加冷库end
**/
/*
*需求匹配发布
*/
.rdcList ul{
    border-bottom: 8px solid #f7f7f7;
}
.rdcList ul > li{
    float: left;
    width: 10%;
    line-height: 58px;
    margin: 8px 0;
}
.rdcList ul > li:nth-child(2),
.rdcList ul > li:nth-child(3){
    width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}
.rdcList ul > li>img{
    width:80px;
    height: 60px;
}
.noRdc h1{
    margin: 30px 0;
}
.infoImg{
    width: 100%;
    overflow: hidden;
    margin: 8px 0;
}
.infoImg li{
    float: left;
    width: 30%;
    margin-right:3%;
}