/*
*   lianku new version style
*   author:wellsea
*   date:2017-06-26
*   mark:cold list
*/
.layui-laypage input{
    width: 80px;
    padding: 0;
}
.adbanner{
    position: relative;
}
.lists{
    width: 100%;
    height: 151px;
    overflow: hidden;
    position: relative;
}
.lists ul {
    width: 9999px;
    height: 151px;
    position: absolute;
    top: 0;
    left: 0;
}
.lists ul li{
    float: left;
    width: 200px;
    padding: 0 5px;
}
.lists ul li a{
    border:1px solid #eee;
    display: inline-block;
    transition: all 1s;
}
.lists ul li a:hover{
    border-color: #ff4400;
}
.adbanner i{
    height: 150px;
    position: absolute;
    top: 0;
    color: #cccccc;
    text-align: center;;
    font-size: 3em;
    line-height: 190px;
    cursor: pointer;
}
i.left{left: 20px;}
i.right{right: 20px;}
.adbanner i:hover{color: #4790ff;}
.oFilter .select{
    width: 20%;
}

.oFilter .search{
    width: 40%;
    position: relative;
    margin-right: 10px;
}
.search span{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border:1px solid #186eff;
    border-left:0;
    line-height: 1.42857143;
}
.search input{
    padding-left: 30px;
    width: 50%;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-color:#186eff;
}
.search i{
    position: absolute;
    top:12px;
    left:10px;
    cursor: pointer;
}
/*筛选条件*/
.oType{
    padding:15px 20px;
    border: 1px solid #eeeeee;
    background-color: #fbfbfb;
    border-top: 2px solid #186eff;
    position: relative;
    margin-bottom: 50px;
}
.typeList{
    padding: 8px 0;
    border-bottom: 1px dashed #eee;
}
.typeList span{
    width: 120px;
    text-align: right;
    padding: 3px 15px ;
    margin: 5px 10px 5px 0;
}
.typeList ul{
    padding-left: 150px;
}
.typeList ul li{
    padding: 3px 15px ;
    margin: 5px 10px 5px 0;
    cursor: pointer;
}
.typeList ul li:hover{
    color: #186eff;
}
.typeList ul li.activeType{
    color: #fff;
    background-color:#186eff;
    border-radius: 2px;
}
.moreBtn{
    position: absolute;
    bottom: -30px;
    left:50%;
    margin-left: -70px;
    width: 140px;
    height: 30px;
    line-height: 30px;
    color: #ff4400;
    text-align: center;
    background-color: #eee;
    cursor: pointer;
    border:1px solid #d0d0d0;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
}
/*ad banner*/
.picScroll-left{ overflow:hidden; position:relative;margin-top: 50px;}
.picScroll-left .prev,.picScroll-left .next{position: absolute;top:40px;right: 2%;overflow:hidden;cursor:pointer;z-index:2;}
.picScroll-left .next{left:2%;right: auto;}
.picScroll-left .prev i,.picScroll-left .next i{font-size: 3em!important;}
.picScroll-left .prev i:hover,.picScroll-left .next i:hover{color: #186efe;}
.picScroll-left .bd{ width: 80%;margin: 0 auto;overflow:hidden;}
.picScroll-left .bd ul{ overflow:hidden; zoom:1; }
.picScroll-left .bd ul li{ margin:0 8px; float:left; _display:inline; overflow:hidden; text-align:center;padding:2px;border:1px solid #d4d4d4;  }
.picScroll-left .pic img{height:120px; display:inline-block; }
.picScroll-left .bd ul li:hover{ border-color:#f40;  }
/*rdclist css*/
.rdcCol>li{
    overflow: hidden;
    zoom: 1;
    border: 1px solid #ccc;
    padding: 8px;
    margin-bottom: 10px;
}
.rdcCol>li:hover{
    border-color: #186eff;
}
.rdcCol>li>div{
    float:left;
    _display:inline;
    height: 150px;
}
.rdcCol{
    margin: 20px auto;
}
.rdcImg{
    position: relative;
    margin-right: 10px;
    overflow: hidden;
}
.rdcImg a{
    display: block;
    width: 290px;
    height:160px;
    padding: 5px;
    display: table;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}
.rdcImg img{
    vertical-align: middle;
    transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;	/* Firefox 4 */
    -webkit-transition: all 1.5s ease;	/* Safari 和 Chrome */
    -ms-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    position: relative;
    overflow: hidden;
}
.rdcImg img:hover{
    transform: scale(1.2);
    -ms-transform: scale(1.2);	/* IE 9 */
    -webkit-transform: scale(1.2);	/* Safari 和 Chrome */
    -o-transform: scale(1.2);	/* Opera */
    -moz-transform: scale(1.2);	/* Firefox */
}
.rdcImg>i{
    position: absolute;
    top: 0;
    left: -4px;
    z-index: 1;
    width: 100px;
    height: 31px;
    background: url(../img/lt.png) no-repeat center;
    background-size: cover;
    text-align: center;
    color: #fff;
    line-height: 26px;
    font-size: 12px;
}
.rdcInfo{
    width: 36%;
    line-height: 2.2;
}
.rdcApprove a:hover{
    color: #306dc2;
}
.rdcName a{
    display: inline-block;
    color: #306dc2;
    font-weight: 700;
}
.infoPercenty{
    font-size: 12px;
    display: inline-block;
    margin: 0 15px;
}
.infoPercenty b,
.rdcPosition i{
    color: #306dc2;
}
.stars li{
    float: left;
    margin: 0 3px;
    color: #f57f1f;
}
.stars li i{
    font-size: 14px;
}
.rdcArea span{
    margin: 5px 3px;
}
.rdcApprove b{
    margin-right: 10px;
}
.rdcPrice{
    width: 20%;
    padding: 30px 5px;
}
.rdcPrice h3{
    font-weight: 700;
    width: 50px;
    color: #999;
    line-height: 1.8;
    letter-spacing: 3px;
    display: inline-block;
    font-size: 16px;
    word-wrap: break-word;
    white-space: normal;
    word-break: break-all;
}
.rdcPrice .rdcPriceNum{
    font-size: 2em;
}
.rdcBtn{
    width: 120px;
    word-wrap: break-word;
    padding-top: 40px;
}
.rdcBtn button{
    padding: 3px 0;
    width: 120px;
    display: inline-block;
    border: 1px solid #306dc2;
    text-align: center;
    background-color: #fff;
    border-radius:3px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 5px;
}
.rdcBtn button i{
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
}
.rdcBtn .collect{
    color: #f57f1f;
    border-color: #f57f1f;
}
.rdcBtn .ask{
    color: #186eff;
    border-color: #186eff;
}
.rdcBtn .look{
    background-color: #186eff;
    color: #fff;
}
.rdcBtn .look i{
    color: #fff;
}
.rdcBtn .look a{
    display: block;
    color: #fff;
}





