/*个人中心css*/
.tabLeft{
    background-color: #fbfbfb;
    width: 220px;
    margin-top: 20px;
}
.userBox{
    padding-left: 280px;
    padding-top: 20px;
    min-width: 400px;
}
.tabHeader{
    border-bottom: 2px solid #eee;
}
.headImg{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin:0 auto 15px;
    border: 1px solid #eee8d5;
    overflow: hidden;
}
.headImg img{
    min-height:100%;
}
.tabHeader p{
    margin-top: 5px;
}
.tabHeader p>a{
    display: inline-block;
    padding: 0 8px;
    height: 20px;
    line-height: 20px;
    border-radius: 15px;
    background: #186eff;
    color: #fff;
    font-size: 12px;
}
.tabHeader p>a i{
    color: #ff4400;
    font-size: 12px;
    background: #fff;
    border-radius: 50%;
    margin-right:10px;
}
.tabNav,.tabHeader{
    padding: 24px 0;
}
.tabNav li{
    text-align: center;
    height: 50px;
    line-height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 700;
}
.tabNav li>a{
    display: block;
    height:100%;
}
.tabNav li.current>a{
    color: #186eff;
    position: relative;
}
.tabNav li.current>a:before{
    content: '';
    position: absolute;
    top:50%;
    left: 0;
    margin-top: -12px;
    width: 4px;
    height: 24px;
    background-color: #186eff;
}
.tabNav li i,.userInfo h3>i{
    margin-right: 18px;
    font-size: 20px;
    vertical-align: bottom;
}
.userBox ol>li{
    display: none;
}
.userBox ol>li:first-child{
    display: block;
}
/*主要区域css*/
.userInfo h3{
    font-size: 14px;
    color: #186eff;
    height: 30px;
    line-height: 30px;
    border-bottom: 2px solid #186eff;
}
.layui-tab-title .layui-this:after{
    border-bottom-width: 2px;
}
label>em{
    color: red;
    font-size: 16px;
    font-weight: 700;
}
.layui-form>div{
    margin-top: 20px;
    min-width: 360px;
}
.layui-input-inline{
    width: 50%;
}
.getCode{
    width: 25%;
}
.headerDiv{
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: inline-block;
    border: 3px solid #e6e6e6;
}
#headerEdit{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left:0;
    z-index:1;
    opacity:0;
    cursor: pointer;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
.headerDiv>img{
    height: 100%;
    width: 100%;
    z-index:3;
}
.headerDiv>label{
    position: absolute;
    width: 100%;
    bottom:0;
    left: 0;
    height: 20px;
    background-color: rgba(0,0,0,.6);
    text-align: center;
    color: #fff;
    line-height: 20px;
    font-size: 12px;
    display: none;
    z-index:1;
}
.headerDiv:hover label{
    display: block;
}
.customer>p{
    line-height: 30px;
    margin-top: 15px;
}
/*我的冷库*/
.search{
    margin: 20px 0;
    height: 40px;
}
.oList li{
    float: left;
    width: 49%;
    padding: 10px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f8f8f8;
    margin-bottom: 20px;
}
.oList li:nth-child(2n+1){
    margin-right: 2%;
}
.oImg{
    width: 25%;
    height: 80px;
    overflow: hidden;
}
.oTxt{
    margin-left: 5%;
    width: 70%;
}
.oTxt h4,
.oTxt p{
    font-size: 12px;
    margin: 5px 0;
}
.oTxt h4>i{
    font-size: 14px;
}
.oTxt button{
    padding:0;
}
.oTxt button>a{
    display: block;
    color: #fff;
    padding:0 8px;
}
.page{
    text-align: center;
}
