<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>实时报警</title>
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
     <link rel="stylesheet" href="../com/css/swiper.min.css" />
    <link rel="stylesheet" href="../com/css/cold360.css" />
    <script type="text/javascript" src="../com/js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="../com/js/angular.min.js"></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
    <script type="text/javascript" src="../com/js/swiper.min.js" ></script>
    <script type="text/javascript" src="../com/js/cold360.js" ></script>
    <script type="text/javascript" src="../app/js/alarmLog.js"></script>
</head>
<body ng-app="app" ng-controller="alarmLog" ng-cloak>
    <!-- header -->
         <header class="one">
            <div class="area fl">
                <a href="../index.html"><i class="iconfont">&#xe60e;</i></a>
            </div>
            <div class="zoom fr" ng-show="user.roleid == 2 || user.roleid == 3">
                <a class="transion"><i class="iconfont">&#xe73c;</i></a>
            </div>
            <div class="txt omg">
                {{rdcName}}
            </div>
            <ul class="rdcDropList" ng-repeat="storage in storages">
                <li ng-click="viewStorage(storage.id)">{{storage.name}}</li>
            </ul>
        </header>
        <header class="two">
        	<div class="area fl">
        		<a class="cancel"><i class="iconfont">&#xe60e;</i></a>
        	</div>

        	<div id="searchDara_div" class="search">
        		<input type="text" placeholder="查找RDC..." ng-model="searchContent" ng-change="searchRdcs(searchContent)" ng-model-options="{debounce: 700}"/>
        		<i class="iconfont" >&#xe62f;</i>
        	</div>
	    </header>
    <!-- header end-->
    <section class="warn_sec alarmLog">
    	<p class="actually">报警日志</p>
    	<table class="cold_warn">
			<tbody>
				<tr>
					<th>序号</th>
					<th>报警信息</th>
					<th>报警时间</th>
				</tr>
				<tr ng-repeat="alarmMsg in alarmMsgs">
					<td>{{$index+1}}</td>
					<td>{{alarmMsg.msg}}</td>
					<td>{{alarmMsg.addtime}}</td>
				</tr>
			</tbody>
		</table>
    </section>
<!--rdc列表-------------------------------------------------->
	 <section class="searchTop">
	 	<ul class="rdcList">
	 		<li class="omg" ng-repeat="rdclist in storages | filter:searchContent" ng-click="changeRdc(rdclist)"><i class='iconfont'>&#xe62f;</i><span>{{rdclist.name}}</span></li>
	 	</ul>
	 	<p>没有找到您要的信息~~~<br />请检查您的输入条件是否有误^_^</p>
	 </section>
	 <!--rdc列表----------------------------------------------->
    <ul class="footer">
        <li>           
            <a href="cold360.html">
                <i class="iconfont">&#xe695;</i>
                <p class="info">监控</p>
            </a>
        </li>
        <li>            
            <a href="analysis.html">
                <i class="iconfont">&#xe682;</i>
                <p class="info">分析</p>
            </a>
        </li>
        <li class="active">       
            <a href="alarmLog.html">
                <i class="iconfont"><!--&#xe698;-->&#xe697;</i>
                <p class="info">告警</p>
                <span class="countNum" ng-if="alarmTotalCnt > 0">{{alarmTotalCnt}}</span>
            </a>
        </li>
        <li>            
            <a href="maintain.html">
                <i class="iconfont">&#xe6a5;</i>
                <p class="info">维护</p>
            </a>
        </li>
    </ul>
    <div class="goTop"><i class="iconfont">&#xe747;</i></div>
    <script type="text/javascript">

		$(function() {
			
			var viewHeight=$(window).height();

			$(window).scroll(function(event) {
				
				//如果浏览器卷去了一屏的高
				if($(window).scrollTop()>=viewHeight){
					$('.goTop').show();
				}else{
					$('.goTop').hide();
				}
				console.log(viewHeight+'***'+$(window).scrollTop())

			});

			$('.goTop').click(function(event) {
				$('html,body').stop().animate({
					'scrollTop':0
				}, 800); 				
			});

		});

	</script>
</body>
</html>