<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>分析--报表功能</title>
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
    <link rel="stylesheet" href="../com/css/swiper.min.css" />
	<link rel="stylesheet" type="text/css" href="../com/datepicker/date.css">
    <link rel="stylesheet" href="../com/css/cold360.css" />
    <script type="text/javascript" src="../com/js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="../com/js/angular.min.js"></script>
    <script type="text/javascript" src="../com/js/swiper.min.js" ></script>
    <script type="text/javascript" src="../com/js/echarts-all.js" ></script>
	<script type="text/javascript" src="../com/js/highcharts.js"></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
	<script type="text/javascript" src="../com/datepicker/date.js"></script>
	<script type="text/javascript" src="../com/datepicker/iscroll.js" ></script>
    <script type="text/javascript" src="../com/js/cold360.js" ></script>
    <script type="text/javascript" src="../app/js/analysisQuery.js" ></script>
    <script>
    $(function(){
		$('#startTime').date({theme:"datetime"});
		$('#endTime').date({theme:"datetime"});
	})
    </script>
</head>
<body ng-app="app" ng-controller="analysisQuery" ng-cloak>
    <!-- header -->
         <header class="one">
            <div class="area fl">
                <a href="../index.html"><i class="iconfont">&#xe60e;</i></a>
            </div>
            <div class="zoom fr" ng-show="user.roleid == 2 || user.roleid == 3">
                <a class="transion"><i class="iconfont">&#xe73c;</i></a>
            </div>
            <div class="txt omg">
                {{rdcName}}
            </div>
            <ul class="rdcDropList" ng-repeat="storage in storages">
                <li ng-click="viewStorage(storage.id)">{{storage.name}}</li>
            </ul>
        </header>
        <header class="two">
        	<div class="area fl">
        		<a class="cancel"><i class="iconfont">&#xe60e;</i></a>
        	</div>

        	<div id="searchDara_div" class="search">
        		<input type="text" placeholder="查找RDC..." ng-model="searchContent" ng-change="searchRdcs(searchContent)" ng-model-options="{debounce: 700}"/>
        		<i class="iconfont" >&#xe62f;</i>
        	</div>
	    </header>
    <!-- header end-->
    <section class="toggle">
    	<div class="tempture other" id="temperature" ng-click="goTemperature()"><i class="iconfont">&#xe67f;</i>
    		<span class="dropNext">
    			<b>温度</b><i class="iconfont">&#xe6f7;</i>
    		</span>
            <ul class="otherList black">
                <li><a href="javascript:;">超温时长统计</a></li>
                <li><a href="javascript:;">超温因子统计</a></li>
                <li><a href="javascript:;">保温因子统计</a></li>
                <li><a href="javascript:;">温度周期因子统计</a></li>
            </ul>
    	</div>
        <div class="light" id="runDoor" ng-click="goTransport()"><i class="iconfont">&#xe76b;</i>
            <span class="dropNext">
                <b>运管</b><i class="iconfont">&#xe6f7;</i>
            </span>
            <ul class="otherList black">
                <li><a href="javascript:;"  id="door" ng-click="goDoor()">冷库门运行分析</a></li>
                <li><a href="javascript:;" id="goods">货物因子分析</a></li>
                <li><a href="javascript:;" id="hot">冷库日热量分析</a></li>
            </ul>
        </div>
        <div class="door" id="makeCold" ng-click="goCooling()"><i class="iconfont">&#xe7b6;</i>
            <span class="dropNext">
                <b>制冷</b><i class="iconfont">&#xe6f7;</i>
            </span>
            <ul class="otherList black">
                <li><a href="javascript:;"  id="efficiency" ng-click="goDoor()">效率分析</a></li>
                <li><a href="javascript:;" id="warn" ng-click="goWarnCount()">告警统计</a></li>
                <li><a href="javascript:;" id="running">运行分析</a></li>
            </ul>
        </div>
        <div class="other current" id="runQuery"><i class="iconfont">&#xe7a2;</i>
    		<span class="dropNext">
    			<b>查询</b><i class="iconfont">&#xe6f7;</i>
    		</span>
            <ul class="otherList black">
                <li><a href="analysisHistoryData.html">历史数据查询</a></li>
                <li><a href="analysisReport.html">报表功能</a></li>
            </ul>
        </div>
    </section>
    <div class="backDrop"></div>
    <div class="coverBg">
    	<!-- 冷库温度list -->
    	<div class="my_list temperatureList">
    		<ul>
    			<li>低温库</li>
    			<li>变温库</li>
    			<li>高温库</li>
    			<li>预冷间</li>
    			<li>理货间</li>
    			<li>冰鲜库</li>
    		</ul>    		
    	</div>
    	<!-- 冷库电量list -->
    	<div class="my_list lightList">
    		<ul>
    			<li>电表1</li>
    			<li>电表2</li>
    			<li>电表3</li>
    			<li>电表4</li>
    		</ul>    		
    	</div>
    	<!-- 冷库门list -->
    	<div class="my_list doorList">
    		<ul>
    			<li>低温库-门1</li>
    			<li>变温库-门2</li>
    			<li>高温库-门3</li>
    			<li>预冷间-门5</li>
    			<li>冰鲜库-门4</li>
    		</ul>    		
    	</div>
    	
    	<!-- 月台门list -->
    	<div class="my_list platdoorList">
    		<ul>
    			<li>月台门1</li>
    			<li>月台门2</li>
    			<li>月台门3</li>
    		</ul>    		
    	</div>
    	
    	<!-- 压缩机list -->
    	<div class="my_list ysjList">
    		<label><input type="radio" name="press" checked>高压</label>
    		<label><input type="radio" name="press">低压</label>
    		<ul>
    			<li>螺杆低温并联机组（2-120）</li>
    			<li>活塞高温并联机组（4-35）</li>
    			<li>活塞高温并联机组（3-35）</li>
    		</ul>    		
    	</div>
    	
    	<!-- 排气温度list -->
    	<div class="my_list ysjPqList">
    		<label><input type="radio" name="press" checked>螺杆低温并联机组（2-120）</label>
    		<label><input type="radio" name="press">活塞高温并联机组（4-35）</label>
    		<label><input type="radio" name="press">活塞高温并联机组（3-35）</label>
    		<ul>
    			<li>压缩机1</li>
    			<li>压缩机2</li>
    		</ul>    		
    	</div>
    	<span class="closeCover">&times;</span>
    	<div class="bottomBtn"><button class="mybtn">确定</button></div>    	
    </div>
    <!-- <div class="anotherCover">
    	
    	<span class="closeCover">&times;</span>
    </div> -->
	<div class="chart temperature historyData">
		<div class="filter">
			<p><strong>请选择需要查询的项目：</strong></p>
			<div class="project clearfix">
				<div class="default defaultSelect">冷库温度</div>
				<div class="default">冷库电量</div>
				<div class="default">冷库门</div>
				<div class="default">月台门</div>
				<div class="default">压缩机组</div>
				<div class="default">压缩机-排气温度</div>
			</div>	
			<p><strong>您所选的项目是：</strong></p>
			<p class="selectInfo br">冷库温度温度-{低温库温度,变温库温度,高温库温度,预冷间温度,理货间温度,冰鲜库温度}</p>
			<p><strong>请选择时间范围</strong></p>
       		<p>开始时间<input type="text" placeholder="请选择开始时间" id="startTime" class="kbtn"/></p>
       		<p>结束时间<input type="text" placeholder="请选择结束时间" id="endTime" class="kbtn"/></p>
		</div>		
       	<p class="chaxun"><button class="mybtn">查询</button></p>    
       	<!-- 图表区域 -->   	
       	<div id="historyChart" style="height:18rem"></div>
 	</div>
 	
	<!--rdc列表-------------------------------------------------->
	 <section class="searchTop">
	 	<ul class="rdcList">
	 		<li class="omg" ng-repeat="rdclist in storages | filter:searchContent" ng-click="changeRdc(rdclist)"><i class='iconfont'>&#xe62f;</i><span>{{rdclist.name}}</span></li>
	 	</ul>
	 	<p>没有找到您要的信息~~~<br />请检查您的输入条件是否有误^_^</p>
	 </section>
	 <div id="datePlugin"></div>
	 <!--rdc列表----------------------------------------------->
    <ul class="footer">
        <li>           
            <a href="cold360.html">
                <i class="iconfont">&#xe695;</i>
                <p class="info">监控</p>
            </a>
        </li>
        <li class="active">            
            <a href="analysis.html">
                <i class="iconfont">&#xe682;</i>
                <p class="info">分析</p>
            </a>
        </li>
        <li>
            <a href="alarmLog.html">
                <i class="iconfont"><!--&#xe698;-->&#xe697;</i>
                <p class="info">告警</p>
                <span class="countNum">99</span>
            </a>
        </li>
        <li>            
            <a href="maintain.html">
                <i class="iconfont">&#xe6a5;</i>
                <p class="info">维护</p>
            </a>
        </li>
    </ul>
</body>
<script type="text/javascript">
	$(function(){
		var $index='';
		/*选择一级项目*/
		$(".project .default").click(function(){
			$index = $(this).index();
			$(this).addClass('defaultSelect').siblings().removeClass('defaultSelect');
			$(".coverBg").fadeIn();
			$(".coverBg").children('.my_list').eq($index).show().siblings().not('.bottomBtn').not('.closeCover').hide();		
		})
		/*选择二级项目*/
		$(".my_list ul li").click(function(){
			$(this).parents('.my_list').siblings().find('li').removeClass('selectLi');
			$(this).toggleClass('selectLi');
		})
		/*点击确定  + X 隐藏遮罩*/
		$('.bottomBtn .mybtn,.closeCover').click(function(){
			$(".coverBg").hide();
		})
		/*chart demo*/
		var myChart = echarts.init(document.getElementById('historyChart'));
		var option = {
			backgroundColor: '#D2D6DE',
		    tooltip : {
		        trigger: 'axis'
		    },
		    title:{
		    	text:"冷库温度"
		    },
		    grid:{
		    	x:40,
		    	width:'80%'
		    },
		    xAxis : [
		        {
		            type : 'category',
		            boundaryGap : false,
		            data : ['周一','周二','周三','周四','周五','周六','周日']
		        }
		    ],
		    yAxis : [
		        {
		            type : 'value'
		        }
		    ],
		    series : [
		        {
		            name:'邮件营销',
		            type:'line',
		            stack: '总量',
		            data:[120, 132, 101, 134, 90, 230, 210]
		        },
		        {
		            name:'联盟广告',
		            type:'line',
		            stack: '总量',
		            data:[220, 182, 191, 234, 290, 330, 310]
		        },
		        {
		            name:'视频广告',
		            type:'line',
		            stack: '总量',
		            data:[150, 232, 201, 154, 190, 330, 410]
		        },
		        {
		            name:'直接访问',
		            type:'line',
		            stack: '总量',
		            data:[320, 332, 301, 334, 390, 330, 320]
		        },
		        {
		            name:'搜索引擎',
		            type:'line',
		            stack: '总量',
		            data:[820, 932, 901, 934, 1290, 1330, 1320]
		        }
		    ]
		};
		myChart.setOption(option);
	})
</script>
</html>