<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>360用户角色</title>
    <link rel="shortcut icon" href="../com/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
    <link rel="stylesheet" href="../com/css/cold360.css" />
    <script type="text/javascript" src="../com/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
</head>
<body class="obg">
<header>
   <!-- <div class="zoom fr"> <a href="../index.html"> <i class="iconfont">&#xe65a;</i> </a></div>-->
    <div class="txt">360账户认证</div>
</header>
<section>
    <div class="role_img">
        <img src="../com/img/releasesuccess.png" alt="">
    </div>
    <p class="audit_p">您提交的申请正在处理中，请您耐心等待！^_^</p>
    <button class="rolo_btn" onclick="location.href='login.html'">切换账户</button>
</section>
</body>
</html>