<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>冷运详情</title>
	    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
	    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
	    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
	    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
	    <link rel="stylesheet" href="../com/css/coldlist.css" />
	    <script src="../com/js/jquery.min.js"></script>
	    <script src="../com/js/jquery.imgbox.pack.js"></script>
	    <script type="text/javascript" src="../com/js/common.js"></script>
	</head>
	<body style="background-color: #fff;">
		<!-- header -->
		    <header>
		    	
	        	<div class="area fl">
	        		<a onclick="goback()"><i class="iconfont">&#xe60e;</i></a>
	        	</div>
	        	<div class="txt">
	        		冷运详情
	        	</div>
		    </header>
		<!-- header end-->
		<section class="main">
			<ul class="compantDetail clearfix">
				<li class="fl">
					<p class='ellipsis'>【找货】qqqq<!--<span class="gold">【出售】</span>--></p>
					<!--<p class='position'>
						<i class="iconfont">&#xe66e;</i>
						上海-长宁区-中山公园
					</p>-->
				</li>
			</ul>
			<ul class="imglist">
				<li><a href="../com/img/list_03.png"><img src="../com/img/list_03.png"/></a></li>
				<li><a href="../com/img/list_05.png"><img src="../com/img/list_05.png"/></a></li>
				<li><a href="../com/img/list_07.png"><img src="../com/img/list_07.png"/></a></li>	
			</ul>
			<ul class="infolist clearfix">
				<li><span class="type">冷库温度类型：</span><span class="text">冷冻</span></li>		
				<li><span class="type">单价：</span><span class="text">面议</span></li>
				<li><span class="type">始发地：</span><span class="text">北京-北京</span></li>
				<li><span class="type">目的地：</span><span class="text">北京-北京</span></li>
				<li><span class="type">地理位置：</span><span class="text">北京-北京</span></li>
				<li><span class="type">备注：</span><span class="text">求快</span></li>
			</ul>
			<p class="dateline"><span class="type">有效期：</span><span class="text">2016年5月6日-2017年8月12日</span></p>
			<!--============抢单=============-->
			<div class="input">
				<div class="tel">
					<i class="iconfont">&#xe608;</i>
					<input type="tel" placeholder="请输入您的手机号"/>
					<button class="idcode fr" onclick="setTime(this)">获取验证码</button>
				</div>
				<div class="tel">
					<i class="iconfont ">&#xe639;</i>
					<input type="tel" placeholder="请输入手机验证码"/>
				</div>
			</div>
			<button class="mybtn" onclick="location.href='success.html'">确认抢单</button>	
			<!--=============抢单============-->
		</section>
		
		<script>
		$(function(){
		//点击图片看大图
			$(".imglist li a").imgbox({
				'speedIn'		: 0,
				'speedOut'		: 0,
				'alignment'		: 'center',
				'overlayShow'	: true,
				'allowMultiple'	: false
			});
		});
		</script>
	</body>
</html>

