<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>冷运列表</title>
	    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
	    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
	    <!--<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">-->
	    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
	    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
	    <link rel="stylesheet" href="../com/css/coldlist.css" />
	    <script type="text/javascript" src="../com/js/jquery-1.12.0.min.js"></script>
	    <script type="text/javascript" src="../com/js/common.js"></script>
	    <script type="text/javascript" src="../com/js/index.js" ></script>
	</head>
	<body>
		<!-- header -->
		    <header>
	    		
	        	<div class="area fl">
	        		<a onclick="goback()"><i class="iconfont">&#xe60e;</i></a>
	        	</div>
	        	<div class="zoom fr">
	        		<a href="search.html"><i class="iconfont">&#xe62f;</i></a>
	        	</div>
	        	<div class="txt">
	        		冷运
	        	</div>
		    </header>
		<!-- header end-->
		<section class="fixed">			
			<div class="droplist">
				<a href="javascript:;"><span>区域</span><i class="iconfont">&#xe62d;</i></a>
				<div class="listcontain">
					<div class="type">区域</div>
					<ul class="list">
						<li class="active">不限</li>
						<li>安徽</li>
						<li>江苏</li>
					</ul>
				</div>
			</div>
			<div class="droplist">
				<a href="javascript:;"><span>业务类型</span><i class="iconfont">&#xe62d;</i></a>
				<div class="listcontain">
					<div class="type">业务类型</div>
					<ul class="list">
						<li class="active">不限</li>
						<li>零租</li>
						<li>整车</li>
					</ul>
				</div>
			</div>
			<div class="droplist">
				<a href="javascript:;"><span>温度类型</span><i class="iconfont">&#xe62d;</i></a>
				<div class="listcontain">
					<div class="type">温度类型</div>
					<ul class="list">
						<li class="active">不限</li>
						<li>冷藏</li>
						<li>冷冻</li>
						<li>常温</li>
						<li>多温</li>
					</ul>
				</div>
			</div>
			<div class="droplist">
				<a href="javascript:;"><span>车型</span><i  class="iconfont">&#xe62d;</i></a>
				<div class="listcontain">
					<div class="type">车型</div>
					<ul class="list">
						<li class="active">不限</li>
						<li><1.8T</li>
						<li>1.8T-6T</li>
						<li>6T-14T</li>
						<li><1.8T</li>
						<li>>14T</li>
					</ul>
				</div>
			</div>
		</section>
		<div class="backDrop"></div>
		<!--coldlist-->
        <div class="coldlist fixtop">
	        <ul class="imgTable">
	        	<li class="imgCell">
					<a href="colddetail.html">
						<img class="fl" src="../com/img/muwu.jpg">
						<div class="">
							<p class='ellipsis'>莱芜嘉禾冷链物流有限公司</p>
							<p class='position'>
								<i class="iconfont">&#xe66e;</i>
								上海-长宁区-中山公园
							</p>
							<ul class='star'>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li>★</li>
							</ul>
						</div>		
					</a>
					<button class="grab" onclick="location.href='coldtransportdetail.html'">立即抢车</button>
				</li>
	        	<li class="imgCell">
					<a href="colddetail.html">
						<img class="fl" src="../com/img/cbd.jpg">
						<div class="">
							<p class='ellipsis'>莱芜嘉禾冷链物流有限公司</p>
							<p class='position'>
								<i class="iconfont">&#xe66e;</i>
								上海-长宁区-中山公园
							</p>
							<ul class='star'>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li>★</li>
							</ul>
						</div>		
					</a>
					<button class="grab" onclick="location.href='coldtransportdetail.html'">立即抢车</button>
				</li>
	        	<li class="imgCell">
					<a href="javascript:;">
						<img class="fl" src="../com/img/muwu.jpg">
						<div class="">
							<p class='ellipsis'>莱芜嘉禾冷链物流有限公司</p>
							<p class='position'>
								<i class="iconfont">&#xe66e;</i>
								上海-长宁区-中山公园
							</p>
							<ul class='star'>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li>★</li>
							</ul>
						</div>		
					</a>
					<button class="grab" onclick="location.href='coldtransportdetail.html'">立即抢车</button>
				</li>
	        	<li class="imgCell">
					<a href="javascript:;">
						<img class="fl" src="../com/img/muwu.jpg">
						<div class="">
							<p class='ellipsis'>莱芜嘉禾冷链物流有限公司</p>
							<p class='position'>
								<i class="iconfont">&#xe66e;</i>
								上海-长宁区-中山公园
							</p>
							<ul class='star'>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li>★</li>
							</ul>
						</div>		
					</a>
					<button class="grab" onclick="location.href='coldtransportdetail.html'">立即抢车</button>
				</li>
	        	<li class="imgCell">
					<a href="javascript:;">
						<img class="fl" src="../com/img/shuijiao.jpg">
						<div class="">
							<p class='ellipsis'>莱芜嘉禾冷链物流有限公司</p>
							<p class='position'>
								<i class="iconfont">&#xe66e;</i>
								上海-长宁区-中山公园
							</p>
							<ul class='star'>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li>★</li>
							</ul>
						</div>		
					</a>
					<button class="grab" onclick="location.href='coldtransportdetail.html'">立即抢车</button>
				</li>   
	        	<li class="imgCell">
					<a href="javascript:;">
						<img class="fl" src="../com/img/muwu.jpg">
						<div class="">
							<p class='ellipsis'>莱芜嘉禾冷链物流有限公司</p>
							<p class='position'>
								<i class="iconfont">&#xe66e;</i>
								上海-长宁区-中山公园
							</p>
							<ul class='star'>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li>★</li>
							</ul>
						</div>		
					</a>
					<button class="grab" onclick="location.href='coldtransportdetail.html'">立即抢车</button>
				</li>  	
	        </ul>
        </div>
	</body>
</html>
