<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>监控--温度</title>
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
    <link rel="stylesheet" href="../com/css/swiper.min.css" />
    <link rel="stylesheet" href="../com/css/cold360.css" />
    <script type="text/javascript" src="../com/js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="../com/js/swiper.min.js" ></script>
    <script type="text/javascript" src="../com/js/echarts.min.js" ></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
    <script type="text/javascript" src="../com/js/cold360.js" ></script>
</head>
<body>
    <!-- header -->
         <header>
            <div class="area fl">
                <a href="../index.html"><i class="iconfont">&#xe60e;</i></a>
            </div>
            <!--<div class="zoom fr">
                <a href="search.html"><i class="iconfont">&#xe62f;</i></a>
            </div>-->
            <div class="txt">
                监控
            </div>
        </header>
    <!-- header end-->
    <section class="toggle">
    	<div class="tempture current" id="temperature" onclick="location.href='cold360.html'"><i class="iconfont">&#xe67f;</i>温度</div>
    	<div class="light other" id="electric" onclick="location.href='electric.html'"><i class="iconfont">&#xe6f1;</i>
    		<span class="dropNext">
    			能耗<i class="iconfont">&#xe6f7;</i>
    		</span>
    		 <ul class="otherList black">
    			<li><a href="javascript:;" id="">电耗</a></li>
    			<li><a href="javascript:;" id="">能耗</a></li>
    		</ul> 
    	</div>
    	<div class="door other" id="opendoor"><i class="iconfont">&#xe6ed;</i>
    		<span class="dropNext">
    			设施<i class="iconfont">&#xe6f7;</i>
    		</span>
    		 <ul class="otherList black">
    			<li><a href="javascript:;" id="">冷库门监控</a></li>
    			<li><a href="javascript:;" id="">月台门监控</a></li>
    			<li><a href="javascript:;" id="">照明系统</a></li>
    			<li><a href="javascript:;" id="">其他设施</a></li>
    		</ul>
    	</div>
    	<div class="other" id="other" ><i class="iconfont">&#xe69f;</i> 
    		<span class="dropNext">
    			其他<i class="iconfont">&#xe6f7;</i>
    		</span>
    		<ul class="otherList black">
    			<li><a href="javascript:;" id="hwlt">货物流通</a></li>
    			<li>
    				<a href="javascript:;" id="zlxt">
    					制冷系统
    				</a>
    					<ul class="inner">
	    					<li><a href="javascript:;">制冷机组</a></li>
	    					<li><a href="javascript:;">冷凝系统</a></li>
	    					<li><a href="javascript:;">蒸发系统</a></li>
	    				</ul>
    			</li>
    		</ul>    		
    	</div>
    </section>
    <div class="backDrop"></div>
	<div class="swiper-container chart temperature">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
            	<p class="actually">冷库实时温度</p>
            	<p class="temperaturenum">-15℃</p>
            	 <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    			<div id="main"></div>    
            </div>
            <div class="swiper-slide">
            	请耐心等待......
            </div>
            <div class="swiper-slide">
            	请耐心等待......
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"><i class="iconfont">&#xe691;</i></div>
        <div class="swiper-button-prev"><i class="iconfont">&#xe692;</i></div>
  </div>
    <ul class="footer">
        <li class="active">           
            <a href="">
                <i class="iconfont">&#xe695;</i>
                <p class="info">监控</p>
            </a>
        </li>
        <li>            
            <a href="">
                <i class="iconfont">&#xe682;</i>
                <p class="info">分析</p>
            </a>
        </li>
        <li>          
            <a href="">
                <i class="iconfont"><!--&#xe698;-->&#xe697;</i>
                <p class="info">告警</p>
            </a>
        </li>
        <li>            
            <a href="">
                <i class="iconfont">&#xe69a;</i>
                <p class="info">配置</p>
            </a>
        </li>
    </ul>
    <script>
	      // 基于准备好的dom，初始化echarts图表
        var myChart = echarts.init(document.getElementById('main')); 
        
        option = {
		    title : {
		        text: '冷库历史温度',
		        y:15,
		        textStyle:{
			    	fontSize: 16,
				    fontWeight: 'normal',
				    color: '#333',
				    fontFamily :"'微软雅黑', Microsoft YaHei, Helvetica, '宋体',Tahoma, Arial, sans-serif"
			    }
		    },
		     tooltip : {
		        textStyle:{
			    	fontSize:'12'
			    }
		    },
		    xAxis : [
		        {
		            type : 'category',
		            boundaryGap : false,
		            data : ['1：00','2：00','3：00','4：00','5：00','6：00','7：00']
		        }
		    ],
		    yAxis : [
		        {
		            type : 'value',
		            axisLabel : {
		                formatter: '{value} °C'
		            }
		        }
		    ],
		     grid :{
			  		x:50
			  },
		    series : [
		        {
		            type:'line',
		            data:[-11, -15, -10, -13, -9, -12, -7],
		            /*markPoint : {
		                data : [
		                    {type : 'max', name: '最大值'},
		                    {type : 'min', name: '最小值'}
		                ]
		            },*/
		            markLine : {
		                data : [
		                    {type : 'average', name: '启动温度'}
		                ]
		            }
		        }
		    ]
		};                   
        // 为echarts对象加载数据 
        myChart.setOption(option); 
    </script>
</body>
</html>