<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>冷库</title>
	    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
	    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
	    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
	    <link rel="stylesheet" type="text/css" href="../com/css/layer.css"> 
	    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
	    <link rel="stylesheet" type="text/css" href="../com/css/coldlist.css" />
	    <script type="text/javascript" src="../com/js/jquery-3.1.0.min.js"></script>
	    <script type="text/javascript" src="../com/js/common.js"></script>
	    <script type="text/javascript" src="../com/js/layer.js"></script>
	    <script type="text/javascript" src="../app/js/coldlist.js" ></script>
	</head>
	<body ng-app="app"  ng-controller="coldListController">
		<!-- header -->
		    <header class="one">
	        	<div class="area fl"><a href="../index.html"><i class="iconfont">&#xe60e;</i></a></div>
	        	<!--<div class="zoom fr"><a href="search.html"><i class="iconfont">&#xe62f;</i></a></div>-->
	        	<div class="zoom fr"><a class="transion"><i class="iconfont">&#xe62f;</i></a></div>
	        	<div class="txt">冷库</div>
		    </header>
		    <header class="two">
	        	<div class="area fl">
	        		<a class="cancel"><i class="iconfont">&#xe60e;</i></a>
	        	</div>
	        	
	        	<div id="searchDara_div" class="search" style="margin-right:0">
	        		<input type="text" onkeyup="searchFilter()" placeholder="请输入搜索内容..."/>
	        		<i class="iconfont" onclick="searchFilters()">&#xe62f;</i>
	        	</div>
		    </header>
		<!-- header end-->
		
		<section id="filter_section" class="fixed">
		  <div class="droplist">
				<a href="javascript:;"><span>区域</span><i class="iconfont">&#xe62d;</i></a>
				<div class="listcontain">
					<div class="type">区域</div>
					<ul id="ul_address_list" class="list">
						<li class="active" value="">不限</li>
					</ul>
				</div>
			</div>
			<div class="droplist">
				<a href="javascript:;"><span>经营</span><i class="iconfont">&#xe62d;</i></a>
				<div class="listcontain">
					<div class="type">经营类型</div>
					<ul id="ul_mtty_list" class="list">
						<li class="active" value="">不限</li>
					</ul>
				</div>
			</div>
			<div class="droplist">
				<a href="javascript:;"><span>温度</span><i class="iconfont">&#xe62d;</i></a>
				<div class="listcontain">
					<div class="type">温度</div>
					<ul id="ul_stty_list" class="list">
						<li class="active" value="">不限</li>
					</ul>
				</div>
			</div>
			<div class="droplist">
				<a href="javascript:;"><span>面积</span><i class="iconfont">&#xe62d;</i></a>
				<div class="listcontain">
					<div class="type">面积</div>
					<ul id="ul_sqm_list" class="list">
						<li class="active" value=""> 不限</li>
						<li value="<1000">1000㎡以下</li>
						<li value="1000~3000" >1000~3000㎡</li>
						<li value="3000~6000">3000~6000㎡</li>
						<li value="6000~12000">6000~12000㎡</li>
						<li value="12000~20000">12000~20000㎡</li>
						<li value=">20000">20000㎡以上</li>
					</ul>
				</div>
			</div>
		</section>
		<!--筛选之后无数据时显示下面图片-->
		<div class="nodata">
			<img src="../com/img/nodata.jpg" alt="" />
			<p>没有符合筛选条件的数据哦~~</p>
		</div>
		<!--筛选之后无数据时显示下面图片-->
		<div class="backDrop"></div>
		<!--coldlist-->
        <div class="coldlist fixtop">
	        <ul id="ul_rdcsL_list" class="imgTable" ></ul>
             <a id="loading" href="javascript:;" onclick="getPageData();"></a>  
        </div>
	</body>
</html>
