<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
	<title>我的联络单</title>
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
	<link rel="stylesheet" type="text/css" href="../com/css/layer.css">
	<link rel="stylesheet" href="../com/css/baguettebox.min.css">
    <link rel="stylesheet" type="text/css" href="../com/css/admin.css">
    <script type="text/javascript" src="../com/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="../com/js/angular.min.js"></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
    <script type="text/javascript" src="../com/js/layer.js"></script>
	<script type="text/javascript" src="../com/js/baguettebox.min.js" ></script>
    <script type="text/javascript">checkLogin();</script>
    <script type="text/javascript">
      var app = angular.module("app", []).controller("commentInfo", function($http, $location,$scope) {
		  $http.defaults.withCredentials=true;$http.defaults.headers={"Content-Type": "application/x-www-form-urlencoded"};
		  
	      $scope.initdata=function(){
			$http.get(ER.root+"/i/comment/getCommentById", { params:{id:getUrlParam("id")}}).success(function(data) { //获得数据
			    if(data.success){
			       var obj = data.entity;
			       $scope.id=obj.id;
				   $scope.rdcLogo=obj.rdc.logo;//冷库图片
				   $scope.name=obj.rdc.name;//冷库名
				   $scope.content=obj.content; //评价具体内容
				   $scope.time=formatCSTDate(obj.addTime,"yyyy-MM-dd hh:mm:ss"); //评价具体时间
				   $scope.pics=obj.img; //评价图片
			   }else{
			       $("#ul_rdcsL_list").html("获取数据失败！");// goback();
			   } 
           });
			$scope.initevg=function(){
				 baguetteBox.run('.baguetteBoxOne', {animation: 'slideIn', buttons: true});
			};
			
		};
		
		
		$scope.initdata();
		$scope.initevg();
		$scope.$on('ngRepeatFinished', function (ngRepeatFinishedEvent) {/*alert("33");*/ baguetteBox.run('.baguetteBoxOne', {buttons:true});});
	});
      app.directive('onFinishRenderFilters', function ($timeout) { return { restrict: 'A', link: function(scope, element, attr) {   $timeout(function() { scope.$emit('ngRepeatFinished');  },100); } };});
      var delrdc = function( em) {
			if (confirm('确定删除该条评论吗？')) {
				$.ajax({
					url : ER.root + "/i/comment/deleteByCommentID",
					type : "post",//DELETE
					data : {"commentID" :$(em).val()},
					success : function(data) {
						 if (data.status == 0 || data.success) {
							goback();
						} else {
							 layer.open({content: '删除失败！请稍后重试吧' ,btn: '确定' });
						} 
					}
				});
			}
		};
      </script>
</head>
	<body  ng-app="app"  ng-controller="commentInfo" ng-cloak on-finish-render-filters>
	    <header>
	    	<div class="area fl">
	    		<a onclick="goback()"><i class="iconfont">&#xe60e;</i></a>
	    	</div>
	    	<div class="txt">点评详情</div>
	    </header>
	    <ul id="ul_rdcsL_list" class="commentList">
			<li style="min-height:25rem ">
				<div class="clearfix">
					<div class="img fl" style="width: 2.5rem;height:2.5rem">
						<img ng-src="{{rdcLogo}}" style="border-radius:50%">
					</div>
					<p class="company" style="line-height: 1.75;">{{name}}</p>
					<p style="color:#999;font-size:.6rem;line-height: 1.75">{{time}}</p>
				</div>
				<p class="position" style="word-break: break-all;margin-top: .3rem;text-indent: 2em;font-size: .7rem;color:#666">{{content}}</p>
				<!--点击图片循环展示-->
				<div class="baguetteBoxOne gallery" ng-if="pics.length>0"style="margin-top: 1rem;">
			         <a ng-repeat="pic in pics" ng-href="{{pic.location}}" ><img ng-src="{{pic.location}}"/></a>
				</div>
<!-- 				<p class="btnGroup"><button value="{{id}}" onclick="delrdc(this)">删除</button></p> -->
		</li>
		</ul>
	</body>
</html>
