<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
	<meta name = "format-detection" content="telephone = no" />
	<title>联系我们</title>
    <link rel="stylesheet" type="text/css" href="../com/css/baguettebox.min.css">  
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
    <link rel="stylesheet" type="text/css" href="../com/css/admin.css">
    <script type="text/javascript" src="../com/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
    <script type="text/javascript" src="../com/js/baguettebox.min.js"></script>
</head>
<body >
    <header>
    	<div class="area fl">
    		<a onclick="goback()"><i class="iconfont">&#xe60e;</i></a>
    	</div>
    	<div class="txt">
    		联系我们
    	</div>
    </header>
    <section class="tel rel clearfix">
    	<div class="logo">
    		<img src="../com/img/logo.png" alt="" />
   		</div>
    	<h4 id="version">链库&nbsp;v1.6.2.105</h4>
    	<p class="contact">联系方式：</p>
    	<p>电      话：<span>021-23560067</span>　　<span>021-23560068</span><br/>
    		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #999">(办公时间：周一至周五&nbsp;&nbsp;9:30--17:30)</span><br/>
    		<span>QQ群：461450534</span><br/>
    	</p>
    	
    	<p class="contact">官方网站：</p>
    	<p><a href="http://liankur.com/" target="_blank">www.liankur.com</a></p>
    	
    	<p class="contact">电子邮箱：</p>
    	<p>kefu@smartcold.cn</p>
    	
    	<p class="contact" style="margin-bottom: .3rem">扫码下载APP或关注链库：</p>
		<div class="gallery">
				<!-- iPhone -->
				<!-- https://itunes.apple.com/us/app/lian-ku/id1142867105?l=zh&ls=1&mt=8 -->
				<a href="../com/img/ios.png" data-caption="iPhone下载" data-font="iPhone下载"><img
					src="../com/img/ios.png"></a>
				<!-- 安卓 -->
				<a href="../com/img/android.png" data-caption="Android下载" data-font="Android下载"><img
					src="../com/img/android.png"></a>
				<!-- 链库公众号 -->
				<a href="../com/img/weixin_lianku.png" data-caption="扫码关注链库公众号" data-font="链库公众号"><img
					src="../com/img/weixin_lianku.png"></a>
			</div>
		</div>
	</section>    
    
    <ul class="footer">
        <li>           
            <a href="../index.html">
                <i class="iconfont">&#xe65a;</i>
                <p class="info">首页</p>
            </a>
        </li>
        <li>          
             <a href="news.html">
                <i class="iconfont">&#xe6f8;</i>
                <p class="info">资讯</p>
            </a>
        </li>
        <li id="msgTotalNumReset">            
            <a href="messages.html">
                <i class="iconfont">&#xe71c;</i>
                <p class="info">消息</p>
            </a>
        </li>
        <li class="active">            
            <a href="user.html">
                <i class="iconfont">&#xe6fd;</i>
                <p class="info">我的</p>
            </a>
        </li>
    </ul>
    <script>
    	$(function(){
    		baguetteBox.run('.gallery', {
    		    buttons:'true'
    		});
    		imgBoxHide(); 
    	})
    </script>
</body>
</html>