<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
	<title>联系我们</title>
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
    <link rel="stylesheet" type="text/css" href="../com/css/admin.css">
    <script type="text/javascript" src="../com/js/jquery-3.1.0.min.js"></script>
     <script src="../bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
     <script type="text/javascript" src="../app/js/customer.js" ></script>
</head>
<body ng-app="app" ng-controller="ctrl">
    <header>
    	<div class="area fl">
    		<a onclick="goback()"><i class="iconfont">&#xe60e;</i></a>
    	</div>
    	<div class="txt">
    		联系我们
    	</div>
    </header>
    <section class="tel rel clearfix">
    	<div class="logo"><img src="../com/img/logo.png" alt="" /></div>
    	<p class="contact">联系电话：</p>
    	<p ><span>021-25360067</span>　　<span>021-25360068</span></p>
    	
    	<p class="contact">官方网站：</p>
    	<p><a href="http://liankur.com/" target="_blank">www.liankur.com</a></p>
    	
    	<p class="contact">电子邮箱：</p>
    	<p>postmaster@smartcold.cn</p>
    	
    	<p class="contact">扫码下载链库APP：</p>
		<p class="fl">
			<a href="https://itunes.apple.com/us/app/lian-ku/id1142867105?l=zh&ls=1&mt=8">
				<img src="../com/img/ios.png"><br>
				<img src="../com/img/iphone.png">			
			</a>
		</p>
		<p class="fl">
			<img src="../com/img/ios.png"><br>
			<img src="../com/img/android.png">
		</p>
    </section>    
    
    <ul class="footer">
        <li>           
            <a href="../index.html">
                <i class="iconfont">&#xe65a;</i>
                <p class="info">首页</p>
            </a>
        </li>
        <li>          
             <a href="news.html">
                <i class="iconfont">&#xe6f8;</i>
                <p class="info">资讯</p>
            </a>
        </li>
        <li>            
            <a href="messages.html">
                <i class="iconfont">&#xe71c;</i>
                <p class="info">消息</p>
                  <span class="countNum">{{msgTotalNum}}</span>
            </a>
        </li>
        <li class="active">            
            <a href="user.html">
                <i class="iconfont">&#xe6fd;</i>
                <p class="info">我的</p>
            </a>
        </li>
    </ul>
    <script>
    	$(function(){
    		$(".btnGroup").children().click(function(){
    			$(this).addClass('current').siblings().removeClass('current')
    		})
    	})
    </script>
</body>
</html>