<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>冷库360首页</title>
    <link rel="stylesheet" type="text/css" href="../com/css/idangerous.swiper.css">
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
    <link rel="stylesheet" type="text/css" href="../com/css/index.css">
    <script type="text/javascript" src="../com/js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="../com/js/idangerous.swiper.min.js"></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
</head>
<body>
<!-- header -->
    <div class="header">    	
    	
    	<div class="area fl">
    		<a class="city fl"  id="city" href="javascript:;">上海</a>
    		<i class="iconfont fl">&#xe62d;</i>
    	</div>
    	<div class="barCode fr">
    		<i class="iconfont">&#xe63f;</i>
    	</div>
    	<div class="search">
    		<input type="text" placeholder="请输入搜索内容"/>
    		<i class="iconfont">&#xe62f;</i>
    	</div>
    </div>
<!-- header end-->
<!-- session -->
    <div class="section">
        <div class="banner swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide blue-slide"></div>
                <div class="swiper-slide red-slide"></div>
                <div class="swiper-slide orange-slide"></div>
            </div>
            <!-- 分页器 -->
            <div class="pagination"></div>
        </div>
	<!--grid-->	
		<section class="grid">
			<div class="grid_kid">
				<a href="coldlist.html">
					<i class="iconfont">&#xe669;</i>
					<p class="info">冷库</p>
				</a>
			</div>
			<div class="grid_kid">
				<a href="review.html">
					<i class="iconfont">&#xe664;</i>
					<p class="info">追溯</p>					
				</a>
			</div>
			<div class="grid_kid">
				<a href="#">
					<i class="iconfont">&#xe660;</i>
					<p class="info">地图</p>					
				</a>
			</div>
			<div class="grid_kid">
				<a href="storehouse.html">					
					<i class="iconfont">&#xe661;</i>
					<p class="info">仓位</p>					
				</a>
			</div>
			<div class="grid_kid">
				<a href="goodslist.html">					
					<i class="iconfont">&#xe667;</i>
					<p class="info">货品</p>
				</a>
			</div>
			<div class="grid_kid">
				<a href="#">
					<i class="iconfont">&#xe66b;</i>
					<p class="info">冷运</p>				
				</a>
			</div>
		</section>
	<!--grid-->
	<!--coldlist-->
        <div class="coldlist">
	        <ul class="imgTable">
	        	<li class="imgCell">
					<a href="colddetail.html">
						<img class="fl" src="../com/img/muwu.jpg">
						<div class="">
							<p class='ellipsis'>莱芜嘉禾冷链物流有限公司 【出租库】</p>
							<p class='position'>
								<i class="iconfont">&#xe66e;</i>
								上海-长宁区-中山公园
							</p>
							<ul class='star'>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li>★</li>
							</ul>
						</div>	
					</a>
					<button class="grab" onclick="location.href='confirm.html'">立即抢单</button>
				</li>
	        	<li class="imgCell">
					<a href="javascript:;">
						<img class="fl" src="../com/img/cbd.jpg">
						<div class="">
							<p class='ellipsis'>莱芜嘉禾冷链物流有限公司 【出租库】</p>
							<p class='position'>
								<i class="iconfont">&#xe66e;</i>
								上海-长宁区-中山公园
							</p>
							<ul class='star'>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li>★</li>
							</ul>
						</div>	
					</a>
					<button class="grab" onclick="location.href='confirm.html'">立即抢单</button>
				</li>
	        	<li class="imgCell">
					<a href="javascript:;">
						<img class="fl" src="../com/img/muwu.jpg">
						<div class="">
							<p class='ellipsis'>莱芜嘉禾冷链物流有限公司 【出租库】</p>
							<p class='position'>
								<i class="iconfont">&#xe66e;</i>
								上海-长宁区-中山公园
							</p>
							<ul class='star'>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li>★</li>
							</ul>
						</div>	
					</a>
					<button class="grab" onclick="location.href='confirm.html'">立即抢单</button>
				</li>
	        	<li class="imgCell">
					<a href="javascript:;">
						<img class="fl" src="../com/img/muwu.jpg">
						<div class="">
							<p class='ellipsis'>莱芜嘉禾冷链物流有限公司 【出租库】</p>
							<p class='position'>
								<i class="iconfont">&#xe66e;</i>
								上海-长宁区-中山公园
							</p>
							<ul class='star'>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li>★</li>
							</ul>
						</div>	
					</a>
					<button class="grab" onclick="location.href='confirm.html'">立即抢单</button>
				</li>
	        	<li class="imgCell">
					<a href="javascript:;">
						<img class="fl" src="../com/img/shuijiao.jpg">
						<div class="">
							<p class='ellipsis'>莱芜嘉禾冷链物流有限公司 【出租库】</p>
							<p class='position'>
								<i class="iconfont">&#xe66e;</i>
								上海-长宁区-中山公园
							</p>
							<ul class='star'>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li>★</li>
							</ul>
						</div>	
					</a>
					<button class="grab" onclick="location.href='confirm.html'">立即抢单</button>
				</li>   
	        	<li class="imgCell">
					<a href="javascript:;">
						<img class="fl" src="../com/img/muwu.jpg">
						<div class="">
							<p class='ellipsis'>莱芜嘉禾冷链物流有限公司 【出租库】</p>
							<p class='position'>
								<i class="iconfont">&#xe66e;</i>
								上海-长宁区-中山公园
							</p>
							<ul class='star'>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li class="filled">★</li>
								<li>★</li>
							</ul>
						</div>	
					</a>
					<button class="grab" onclick="location.href='confirm.html'">立即抢单</button>
				</li>  	
	        </ul>
        </div>
    </div>
<!-- session end-->
<!-- footer -->
    <ul class="footer">
        <li class="active">           
            <a href="../index.html">
                <i class="iconfont">&#xe65a;</i>
                <p class="info">首页</p>
            </a>
        </li>
        <li>            
            <a href="release.html">
                <i class="iconfont">&#xe666;</i>
                <p class="info">发布</p>
            </a>
        </li>
        <li>          
            <a href="cold360.html">
                <i class="iconfont">&#xe66c;</i>
                <p class="info">冷库360</p>
            </a>
        </li>
        <li>            
            <a href="admin.html">
                <i class="iconfont">&#xe65e;</i>
                <p class="info">我的</p>
            </a>
        </li>
    </ul>
<!-- footer end-->
    <script type="text/javascript" src="../com/js/Popt.js"></script>
    <script type="text/javascript" src="../com/js/cityJson.js"></script>    
    <script type="text/javascript" src="../com/js/citySet.js"></script>
    <script type="text/javascript">
     var mySwiper = new Swiper('.swiper-container',{
	    loop:true,
	    autoplay : 1500,
	    pagination: ".pagination",
	  });
	  $("#city").click(function (e) {
		SelCity(this,e);
		$("#city").siblings('i').html('&#xe62e;')
	  });
	</script>
</body>
</html>