<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
	<title>修改昵称</title>
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
    <link rel="stylesheet" type="text/css" href="../com/css/admin.css">
    <script type="text/javascript" src="../com/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
    <script type="text/javascript">
     function initdata(){
      	$("#txt_nickname").val(window.user.nickname);
   		$('.deleteEdit').click(function(){$(".input input").val("").focus();});
   		$(".zoom").click(function(){
   		  var nickname=  $("#txt_nickname").val();
   			if (nickname&&nickname!="") {
		        var formdata = new FormData();
		        formdata.append("id", window.user.id);
		        formdata.append("nickname", nickname);
		        $.ajax({
		        	type: 'POST',
		            url: ER.root+"/i/user/updateUser",
		            data: formdata,processData: false, contentType: false,
		            success: function(data){
		                 if(!data){alert("修改失败哟~请稍后重试~");}else{
		                   window.location.href="personal.html";
		                 }}
		          });
   			} else{
   				alert("昵称不能为空哦~");
   			}
   		});
   	}
   	checkLogin(null,initdata);
    </script>
</head>
<body>
    <header>
    	<div class="area fl">
    		<a onclick="goback()"><i class="iconfont">&#xe60e;</i></a>
    	</div>
    	<div class="zoom fr">
    		<a href="javascript:;">保存</a>
    	</div>
    	<div class="txt">
    		修改昵称
    	</div>
    </header>
    <section class="clearfix">
    	<div class="editarea">
    		<span class="fl">昵称</span>
    		<p class="input"><input id="txt_nickname" name="nickname" type="text" /></p>
    		<i class="deleteEdit">&times;</i>
    	</div>
    </section>
</body>
</html>