<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta charset="utf-8" name="keywords"
	content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商" />
<meta charset="utf-8" name="description"
	content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。" />
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
<title>发布仓位</title>
<link rel="stylesheet" type="text/css" href="../com/css/common.css">
	    <link rel="stylesheet" type="text/css" href="../com/css/layer.css">
	    <link rel="stylesheet" type="text/css" href="../com/js/jedate/skin/jedate1.css">
<link rel="stylesheet" type="text/css" href="../com/css/release.css">
<link rel="stylesheet" type="text/css" href="../com/datepicker/date.css">
<script type="text/javascript" src="../com/js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="../com/js/jquery.city.select.min.js"></script>
<script type="text/javascript" src="../com/js/common.js"></script>
<script type="text/javascript" src="../com/js/layer.js"></script>
<!-- <script type="text/javascript" src="../com/datepicker/date.js"></script> -->
<script type="text/javascript" src="../com/js/jedate/jquery.jedate.js"></script>
<script type="text/javascript" src="../com/datepicker/iscroll.js" ></script>
<script src="../bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="../bower_components/ng-file-upload/ng-file-upload-all.min.js"></script>
<script type="text/javascript" src="../app/js/editshareinfo.js"></script>
</head>
<body ng-app="app" ng-controller="ctrl">
	<!-- header -->
	<header>

		<div class="area fl">
			<a onclick="goback()"><i class="iconfont">&#xe60e;</i>
			</a>
		</div>
		<div class="txt">发布冷运信息修改</div>
	</header>
	
	<section class="main maindetail" style="margin-top:2.5rem">
	<div class="coldlist" style="margin-bottom: 0" ng-if="rdcsharedto.rdcID!=undefined&&rdcsharedto.rdcID!=0">
      <ul class="imgTable">
			<li class="imgCell"><a href="javascript:;"> <img class="fl"
					ng-src="{{rdcdto.logo}}">
					<div class="">
						<p class='ellipsis'>{{rdcdto.name}}</p>
						<p class='position'>
							<i class="iconfont">&#xe66e;</i> {{rdcdto.address}}
						</p>
						<ul class='star'>
							<li class="filled">★</li>
							<li class="filled">★</li>
							<li class="filled">★</li>
							<li class="filled">★</li>
							<li>★</li>
						</ul>
					</div> </a></li>
		</ul>
    </div>
		<form id="release_item_from" name="itemform" >
            <ul class="houseinfo">
                <li>
                    <label for="name">描述</label><em>*</em>
                    <input type="text"  id="name" ng-model="title" placeholder="发布冷运描述"/>
                </li>
                <li>
                    <label for="businessType">业务类型</label><em>*</em>
                    <div class="mySelect">
	                    <select id="businessType" name="codeLave1" ng-model="codeLave11">
	                      <option ng-repeat="x in  codeLave1" value="{{x.type_code}}">{{x.type_name}}</option>
	                    </select>
	                </div>
                    <i class="iconfont fr moreinfo">&#xe60d;</i>
                </li>
                <li>
                    <label for="temperatureType">温度类型</label><em>*</em>                                      
                    <div class="mySelect">
	                    <select id="temperatureType" name="codeLave2" ng-model="codeLave22">
	                        	<option ng-repeat="x in  codeLave2" value="{{x.type_code}}">{{x.type_name}}</option>
	                    </select>
	                </div>
                    <i class="iconfont fr moreinfo">&#xe60d;</i>
                </li>
                <li>
                    <label for="carType">车型</label><em>*</em>                                      
                    <div class="mySelect">
	                    <select id="carType" name="codeLave3" ng-model="codeLave33">
	                       <option ng-repeat="x in  ps_cr_type" value="{{x.id}}">{{x.type}}</option>
	                    </select>
	                </div>
                    <i class="iconfont fr moreinfo">&#xe60d;</i>
                </li>
                <li>
                    <label for="price">价格</label>
                    <input type="text" name="unitPrice" ng-model="unitprice" id="price" placeholder="面议"/>
                </li>
                 <!-- <li>
                     <label for="start" class="bg">出发地</label>
                     <input type="text" id="start" name="staddress" ng-model="staddress" placeholder="（选填）" />
                     <i class="iconfont fr moreinfo">&#xe60d;</i>
                 </li> -->
                 <li class="bg">
                     <label for="arrow">出发地</label><em>*</em>
                      <div class="mySelect">
	                    <select id="stprovince" ng-model="stprovinceID" ng-disabled="editable" name="provinceId"
                                    ng-change="stprovinceSelected(stprovinceID)"
                                    ng-options="x.provinceId as x.provinceName for x in provinces"></select>
	                    <select id="stcity" ng-model="stcityID" name="cityid"
                                    ng-disabled="editable" ng-change="citySelected(stcityID)"
                                    ng-options="x.cityID as x.cityName for x in stcitys"></select>
	                    <input type="text" placeholder="请输入详细地址" ng-model="staddress" style="min-width:130%;"/>
	                </div>
                 </li>
<!--                  <li> -->
<!--                      <label for="startTime">出发时间</label><em>*</em> -->
<!--                      <div class="mySelect"> -->
                         
<!-- 						<input type="text" id="startTime" placeholder="请选择出发时间" class="kbtn" ng-model="validStartTime"/> -->
<!-- 					</div> -->
<!-- 					<i class="iconfont fr">&#xe63a;</i> -->
<!--                  </li> -->
              <li class="bg">
                     <label for="startTime">出发时间</label><em>*</em>
                     <div class="mySelect">
						<select id="sl_attrvalue1" onchange="releaseCarInfo.changtimemode(this.value);" ng-model="attrvalue1" style="border-bottom:1px solid #ccc">
	                         <option value="1">每天</option>
	                         <option value="2">每周</option>
	                         <option value="3">单次</option>
	                         <option value="4">每隔</option>
		                     <option value="5">自定义</option>
	                     </select>
					</div>
					<i class="iconfont fr moreinfo">&#xe60d;</i>
					<div class="opIndex"><!-- 每周 -->						
					   <ul id="ul_work" class="weekBox clearfix black ">
					   		<li value="一">一</li>
					   		<li value="二">二</li>
					   		<li value="三">三</li>
					   		<li value="四">四</li>
					   		<li value="五">五</li>
					   		<li value="六">六</li>
					   		<li value="日">日</li>
					   </ul>
					   <div  class="btn-group shar_none obj_hide time_mod4 pull-left clearfix black" data-toggle="buttons" style="margin-right:5px;text-indent: 4rem;">
								    每<input  id="sl_attrvalue1_4" name="sl_attrvalue1_4" type="text" placeholder="二" style="width:50px;font-size: .75rem;text-align: center;" maxlength="1"/>天一次
							  </div>
						<div  class="btn-group shar_none obj_hide time_mod5 pull-left clearfix black" data-toggle="buttons" style="margin-right:5px;">
								  <input id="sl_attrvalue1_5" name="sl_attrvalue1_5" type="text" style="width:100%;font-size: .75rem" style="width:100%;font-size: .75rem" maxlength="20"/>
						</div>
						<input  id="startTime" class="datainp"  type="text" placeholder="请选择出发时间"  ng-model="validStartTime" readonly>
					</div>
                 </li>
                 <li class="bg">
                     <label for="arrow">目的地</label><em>*</em>
                      <div class="mySelect">
	                    <select id="toprovince" ng-model="toprovinceID" ng-disabled="editable" name="provinceId"
                                    ng-change="toprovinceSelected(toprovinceID)"
                                    ng-options="x.provinceId as x.provinceName for x in provinces"></select>
	                    <select id="tocity" ng-model="tocityID" name="cityid"
                                    ng-disabled="editable" ng-change="citySelected(tocityID)"
                                    ng-options="x.cityID as x.cityName for x in tocitys"></select>
	                    <input type="text" placeholder="请输入详细地址" ng-model="toaddress" style="min-width:130%;"/>
	                </div>
                 </li>
                 <li id="li_end_time">
                     <label for="arriveTime">到达时间</label><em>*</em>
                     <div class="mySelect">
                        <select id="sl_attrvalue2"  ng-model="attrvalue2" class="form-control ">
		                         <option value="1">当天</option>
		                         <option value="2">次日</option>
		                 </select>
						<input type="text" id="arriveTime" placeholder="请选择到达时间" class="datainp" ng-model="validEndTime"  style="width:60%;float: left;margin-left: 0;"/>
					</div>
<!-- 					<i class="iconfont fr">&#xe63a;</i> -->
                    
                 </li>
				<li><label for="phone">联系电话</label><em>*</em>
				 <input type="text" name="telephone"
					id="phone" ng-model="telephone"/></li>
				<li><label for="note">备注</label> <input type="text" id="note"
					placeholder="（选填）" ng-model="note" name="note"/></li>
				<li><label class="pic"> <input input type="file" id="files" ngf-select="addFiles($files)" ng-model="files"  ngf-multiple="true" name="files"  />
				 </label> <span id="">上传图片<small class="text-warning">*最多十张</small></span><br>
	             <output id="img_list1" class="img_list"><span ng-repeat="honorfile in totalfiles"><img class="thumb" ngf-src="honorfile" title="{{honorfile.name}}"><i ng-click="drophonor(honorfile)">×</i></span></output>
            </ul>
        </form>
        <button class="mybtn" ng-click="carSubmit()">确认修改</button>
	</section>
	<div id="datePlugin"></div>
	
</body>
</html>