<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>监控--电耗</title>
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
    <link rel="stylesheet" href="../com/css/swiper.min.css" />
    <link rel="stylesheet" href="../com/css/cold360.css" />
    <script type="text/javascript" src="../com/js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="../com/js/swiper.min.js" ></script>
    <script type="text/javascript" src="../com/js/echarts.min.js" ></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
    <script type="text/javascript" src="../com/js/cold360.js" ></script>
</head>
<body>
     <!-- header -->
        <header>
        	
            <div class="area fl">
                <a href="../index.html"><i class="iconfont">&#xe60e;</i></a>
            </div>
            <!--<div class="zoom fr">
                <a href="search.html"><i class="iconfont">&#xe62f;</i></a>
            </div>-->
            <div class="txt">
                监控
            </div>
        </header>
    <!-- header end-->
    <section class="toggle">
    	<div class="tempture" id="temperature" onclick="location.href='cold360.html'"><i class="iconfont">&#xe67f;</i>温度</div>
    	<div class="light current" id="electric" onclick="location.href='electric.html'"><i class="iconfont">&#xe685;</i>电耗</div>
    	<div class="door" id="opendoor" onclick="location.href='door.html'"><i class="iconfont">&#xe688;</i>开门</div>
    	<div class="other" id="other" ><i class="iconfont">&#xe69f;</i> 
    		<span class="dropNext">其他</span>
    		<ul class="otherList black">
    			<li><a href="javascript:;" id="ysj">压缩机</a></li>
    			<li><a href="javascript:;" id="fj">风机</a></li>
    		</ul>    		
    	</div>
    </section>
    <div class="backDrop"></div>
	<div class="swiper-container chart temperature">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
            	<p class="actually">RDC电量监控</p>
            	 <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    			<div id="main"></div>
    
            </div>
            <div class="swiper-slide">
            	请耐心等待......
            </div>
            <div class="swiper-slide">
            	请耐心等待......
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"><i class="iconfont">&#xe691;</i></div>
        <div class="swiper-button-prev"><i class="iconfont">&#xe692;</i></div>
  </div>
    <ul class="footer">
        <li class="active">           
            <a href="">
                <i class="iconfont">&#xe695;</i>
                <p class="info">监控</p>
            </a>
        </li>
        <li>            
            <a href="">
                <i class="iconfont">&#xe682;</i>
                <p class="info">分析</p>
            </a>
        </li>
        <li>          
            <a href="">
                <i class="iconfont"><!--&#xe698;-->&#xe697;</i>
                <p class="info">告警</p>
            </a>
        </li>
        <li>            
            <a href="">
                <i class="iconfont">&#xe69a;</i>
                <p class="info">配置</p>
            </a>
        </li>
    </ul>
    
    <script>
	    // 基于准备好的dom，初始化echarts实例
		var myChart = echarts.init(document.getElementById('main'));
		var dataAll = [
		    [
		        [10.0, 8.04],
		        [8.0, 6.95],
		        [13.0, 7.58],
		        [9.0, 8.81],
		        [11.0, 8.33],
		        [14.0, 9.96],
		        [6.0, 7.24],
		        [4.0, 4.26],
		        [12.0, 10.84],
		        [7.0, 4.82],
		        [5.0, 5.68]
		    ]
		];
		
		var markLineOpt = {
		    animation: false,
		    label: {
		        normal: {
		            formatter: 'y = 0.5 * x + 3',
		            textStyle: {
		                align: 'right'
		            }
		        }
		    },
		    lineStyle: {
		        normal: {
		            type: 'solid'
		        }
		    },
		    tooltip: {
		        formatter: 'y = 0.5 * x + 3'
		    },
		    data: [[{
		        coord: [0, 3],
		        symbol: 'none'
		    }, {
		        coord: [20, 13],
		        symbol: 'none'
		    }]]
		};
		
		option = {
		    /*title: {
		        text: 'RDC电量监控',
		        x: 'left',
		        y: 1,
		        textStyle:{
			    	fontSize: 16,
				    fontWeight: 'normal',
				    color: '#333',
				    fontFamily :"'微软雅黑', Microsoft YaHei, Helvetica, '宋体',Tahoma, Arial, sans-serif"
			    },
		    },*/
		    grid: [
		        {x: '7%', y: '7%', width: '90%', height: '80%'}
		    ],
		    tooltip: {
		        formatter: 'Group {a}: ({c})'
		    },
		    xAxis: [
		        {gridIndex: 0, min: 0, max: 20}
		    ],
		    yAxis: [
		        {gridIndex: 0, min: 0, max: 15}
		    ],
		    series: [
		        {
		            name: 'I',
		            type: 'scatter',
		            xAxisIndex: 0,
		            yAxisIndex: 0,
		            data: dataAll[0],
		            markLine: markLineOpt
		        }
		    ]
		};
		// 使用刚指定的配置项和数据显示图表。
		myChart.setOption(option);
    </script>
</body>
</html>