<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <meta content="telephone=no" name="format-detection" />
	<title>忘记密码</title>
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
	    <link rel="stylesheet" type="text/css" href="../com/css/layer.css">
    <link rel="stylesheet" type="text/css" href="../com/css/admin.css">
    <script type="text/javascript" src="../com/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
        <script type="text/javascript" src="../com/js/layer.js"></script>
    <script type="text/javascript" src="../com/js/angular.min.js"></script>
    <script type="text/javascript" src="../app/js/findPassword.js" ></script>
</head>
<body ng-app="app"  ng-controller="findPassword" ng-cloak>
    <header>
    	<div class="area fl"><a onclick="goback()"><i class="iconfont">&#xe60e;</i></a></div>
    	<div id="title_div" class="txt">忘记密码</div>
    </header>
    <div id="stup1">
	     <div class="inputs ">
			 <div class="tel">
				<form id="datafrom" action="">		
				<i class="iconfont">&#xe608;</i>
					<input type="tel" id="telNum" name="telephone" placeholder="请输入注册时的手机号" ng-model="telephone" ng-change="vertelephone();"/>
				<button id="but_vercode" class="idcode fr gray " draggable="false" ng-click="getVerCode();" disabled="disabled" style="background-color: #cccccc;">获取验证码</button>
				</form>
			</div>
			<div class="tel">
				<i class="iconfont ">&#xe639;</i>
				<input type="text" id="code2" placeholder="请输入手机验证码" ng-model="verrcode"  ng-change="veteleCode()" />
			</div>
	    </div>
	    <div class="col-xs-8"><a style="color:red;font-size:0.7rem;margin-left:.9rem" id="mention1"></a></div>
	    <button id="app_but1" class="mybtn edit3  gray" disabled="disabled" >提交</button>	
	</div>
	<div id="stup2" class="black">
	    <section class="nopad">
    	<div class="editarea clearfix">
    	<span class="fl">新密码</span>
    		<p class="input bd"><input type="password" id="txt_password" placeholder="新密码"/></p>
    		<span class="fl">再次输入</span>
    		<p class="input"><input type="password" id="txt_repsword" placeholder="再次输入"/></p>
    	</div>
   	    <div class="row">
          <div class="col-xs-8">
            <a style="color:red;font-size:0.7rem;" hidden=true id="mention"></a>
          </div>
	    </div>
       </section>
       <div><a style="color:red;font-size:0.7rem;margin-left:.9rem"  id="mention2"></a></div>
       <button class="mybtn edit3  "  ng-click ="checkData();">确定</button>
	</div>
</body>
</html>