<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>360维护</title>
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
    <link rel="stylesheet" href="../com/css/swiper.min.css" />
    <link rel="stylesheet" href="../com/css/cold360.css" />
    <script type="text/javascript" src="../com/js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="../com/js/angular.min.js"></script>
    <script type="text/javascript" src="../com/js/swiper.min.js" ></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
    <script type="text/javascript" src="../com/js/jedate/jedate.js"></script>
    <script type="text/javascript" src="../com/js/cold360.js" ></script>
    <script type="text/javascript" src="../app/js/maintain.js" ></script>
</head>
<body ng-app="app" ng-controller="maintain" ng-cloak>
    <!-- header -->
         <header class="one">
            <div class="area fl">
                <a href="../index.html"><i class="iconfont">&#xe60e;</i></a>
            </div>
            <div class="zoom fr" ng-show="user.roleid == 2 || user.roleid == 3">
                <a class="transion"><i class="iconfont">&#xe73c;</i></a>
            </div>
            <div class="txt omg" ng-bind="rdcName">
            </div>
            <ul class="rdcDropList" ng-repeat="storage in storages">
                <li ng-click="viewStorage(storage.id)">{{storage.name}}</li>
            </ul>
        </header>
        <header class="two">
        	<div class="area fl">
        		<a class="cancel"><i class="iconfont">&#xe60e;</i></a>
        	</div>

        	<div id="searchDara_div" class="search">
        		<input type="text" placeholder="查找RDC..." ng-model="searchContent" ng-change="searchRdcs(searchContent)" ng-model-options="{debounce: 700}"/>
        		<i class="iconfont" >&#xe62f;</i>
        	</div>
	    </header>
    <!-- header end-->
    <section class="toggle">
    	<div class="tempture current mylog"><i class="iconfont">&#xe79c;</i>维护提醒</div>
    	<div class="light mylog"><i class="iconfont">&#xe7c9;</i>维修记录</div>  
    	<div class="applyLog mylog"><i class="iconfont" style="color: #438BCB;">&#xe639;</i>维修申请</div>    	
    </section>
    <div class="backDrop"></div>
    <div class="mainTainBottomL">
	    <!-- 维护提醒html ===================*********==========***********=========-->
		<div class="swiper-container chart temperature maintain">
	        <div class="swiper-wrapper">
	            <div class="swiper-slide" ng-repeat="(key,value) in  compressorGroups">
	            	 <p class="actually">{{value.name}}</p>
	            	 <div class="alarm_bg" ng-repeat="obj in  value.compressors">
	            	 	<strong class="remain" oid="{{obj.id}}">{{obj.sytm}}</strong>
	            	 	<p>{{obj.name}}距离下次定期保养</p>
	            	 </div>
	            </div>
	        </div>
	        <!-- Add Pagination -->
	        <div class="swiper-pagination"></div>
	        <!-- Add Arrows -->
	        <div class="swiper-button-next"><i class="iconfont">&#xe691;</i></div>
	        <div class="swiper-button-prev"><i class="iconfont">&#xe692;</i></div>
	    </div>
	  <!-- 维护提醒html  end -->
	  
	  <!-- 维护记录html ===================*********============*********==========-->
		<div class="wxRecords black">
			<p>维修完结记录</p>
			<div class="analysis alarmLog">
				<table class="cold_warn">
					<thead>
						<tr>
							<th>序号</th>
							<th>机组名称</th>
							<th>维修原因/保养要求</th>
							<th>预约维修时间</th>
							<th>实际维修时间</th>
							<th>维修详情</th>
							<th>备注</th>
							<th>维修评价</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>机组1，1号压缩机</td>
							<td>常规检查，更换冷冻油</td>
							<td>2016-07-02</td>
							<td>2016-07-03</td>
							<td>油污染已更换，其他过滤器已检查</td>
							<td></td>
							<td contenteditable="true">服务好</td>
						</tr>

						<tr>
							<td>2</td>
							<td>机组1，2号压缩机</td>
							<td>常规检查，更换冷冻油，压缩机排温高</td>
							<td>2016-07-02</td>
							<td>2016-07-03</td>
							<td>油污染已更换，吸气过滤芯已清洗，其他过滤器已检查</td>
							<td>下次藏堵需更换新的吸气过滤芯</td>
							<td contenteditable="true"></td>
						</tr>

						<tr>
							<td>3</td>
							<td>机组2，1号压缩机</td>
							<td>常规检查，油压差报警</td>
							<td>2016-07-29</td>
							<td>2016-07-30</td>
							<td>油槽过滤网已清洗</td>
							<td></td>
							<td contenteditable="true">现场测试正常</td>
						</tr>

						<tr>
							<td>4</td>
							<td>机组2，2号压缩机</td>
							<td>常规检查</td>
							<td>2016-08-05</td>
							<td>2016-08-06</td>
							<td>已更换干燥过滤芯</td>
							<td></td>
							<td contenteditable="true">服务好</td>
						</tr>

						<tr>
							<td>5</td>
							<td>机组2，3号压缩机</td>
							<td>低油位报警</td>
							<td>2016-09-15</td>
							<td>2016-09-17</td>
							<td>已检查，清洗油过滤器，测试油位控制器性能</td>
							<td></td>
							<td contenteditable="true">现场测试正常</td>
						</tr>
						<tr>
							<td>6</td>
							<td>机组2，4号压缩机</td>
							<td>接触器吸合时有杂音</td>
							<td>2016-09-15</td>
							<td>2016-09-17</td>
							<td>已检查，接触器松动，积灰导致线圈衔铁接触面毛糙，已更换新接触器。</td>
							<td></td>
							<td contenteditable="true">现场测试正常</td>
						</tr>
						<tr>
							<td>7</td>
							<td>机组2</td>
							<td>储液器液位低，各项保护是否有效</td>
							<td>2016-09-15</td>
							<td>2016-09-17</td>
							<td>已检查，增补制冷剂</td>
							<td></td>
							<td contenteditable="true">服务好，收费合理。</td>
						</tr>
					</tbody>
				</table>
			</div>
			<p>待维修记录</p>
			<div class="analysis alarmLog">
				<table class="cold_warn">
					<thead>
						<tr>
							<th>序号</th>
							<th>机组名称</th>
							<th>维修原因/保养要求</th>
							<th>预约维修时间</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>机组2，1号压缩机</td>
							<td>常规检查，更换冷冻油</td>
							<td>2016-11-05</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- 维护记录html end-->  
	  
	  <!-- 维护申请html ===================*********============*********==========-->
	  <div class="mainApply black">
	  		<div class="applyKid">
	  			<p>机组名称:</p>
  				<textarea placeholder="请输入需要维修机组的名称"></textarea>
	  			
	  		</div>
	  		<div class="applyKid">
	  			<p>维修原因/保养要求:</p>
  				<textarea colspan="10" rowspan="10" placeholder="请输入维修原因/保养要求"></textarea>	  			
	  		</div>
	  		<div class="applyKid">
	  			<p>预约维修时间:</p>
	  			<input id="applyTime" class="datainp" type="text" placeholder="请选择预约时间" readonly/>
	  		</div>
	  		<button class="mybtn">提交</button>
	  </div>
	  <!-- 维护申请html end-->   
  </div>
  <!--rdc列表-------------------------------------------------->
	 <section class="searchTop">
	 	<ul class="rdcList">
	 		<li class="omg" ng-repeat="rdclist in storages | filter:searchContent" ng-click="changeRdc(rdclist)"><i class='iconfont'>&#xe62f;</i><span>{{rdclist.name}}</span></li>
	 	</ul>
	 	<p>没有找到您要的信息~~~<br />请检查您的输入条件是否有误^_^</p>
	 </section>
	 <!--rdc列表----------------------------------------------->
    <ul class="footer">
        <li>           
            <a href="cold360.html">
                <i class="iconfont">&#xe695;</i>
                <p class="info">监控</p>
            </a>
        </li>
        <li>            
            <a href="analysis.html">
                <i class="iconfont">&#xe682;</i>
                <p class="info">分析</p>
            </a>
        </li>
        <li>          
            <a href="alarmLog.html">
                <i class="iconfont"><!--&#xe698;-->&#xe697;</i>
                <p class="info">告警</p>
                <span class="countNum" ng-if="alarmTotalCnt > 0">{{alarmTotalCnt}}</span>
            </a>
        </li>
        <li class="active">            
             <a href="maintain.html">
                <i class="iconfont">&#xe6a5;</i>
                <p class="info">维护</p>
            </a>
        </li>
    </ul>
    <div class="goTop"><i class="iconfont">&#xe747;</i></div>
</body>
</html>