<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>我的消息</title>
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
    <link rel="stylesheet" type="text/css" href="../com/css/admin.css">
    <script type="text/javascript" src="../com/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
<!--     <script type="text/javascript" src="../app/js/message.js"></script> -->
	</head>
	<body  ng-app="app" ng-controller="ctrl">
		<!-- header -->
        <header>
        	<div class="area fl">
                <a onclick="goback()"><i class="iconfont">&#xe60e;</i></a>
            </div>
<!--             <div class="zoom fr"><a class="transion"><i class="iconfont">&#xe62f;</i></a></div> -->
            <div class="txt">
               链库上线仪式流程
            </div>
        </header>
    <!-- header end-->
		<div class="body">
			<img src="../com/img/water
			.png" alt="图片加载失败了...." style="width:100%" />               
        </div>
		<!--消息列表无数据时显示下面图片-->
		<div class="nodata">
			<img src="../com/img/nodata.jpg" alt="" />
			<p>暂时还没有消息通知哦~~</p>
		</div>
		<!--消息列表无数据时显示下面图片end-->
	<ul class="footer">
        <li>           
            <a href="../index.html">
                <i class="iconfont">&#xe65a;</i>
                <p class="info">首页</p>
            </a>
        </li>
        <li>
             <a href="news.html">
                <i class="iconfont">&#xe6f8;</i>
                <p class="info">资讯</p>
            </a>
        </li>
        <li id="msgTotalNumReset" class="active">         
            <a href="messages.html">
                <i class="iconfont">&#xe71c;</i>
                <p class="info">消息</p>
                <!-- 暂时隐藏 -->
                 <!-- <span ng-if="msgTotalNum!=null&&msgTotalNum!=undefined&&msgTotalNum!=''" class="countNum" ng-bind="msgTotalNum"></span> -->
            </a>
        </li>
        <li>            
            <a href="user.html">
                <i class="iconfont">&#xe6fd;</i>
                <p class="info">我的</p>
            </a>
        </li>
    </ul>
	</body>
</html>
