<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>资讯</title>
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
    <link rel="stylesheet" type="text/css" href="../com/css/release.css">
    <script type="text/javascript" src="../com/js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
    <script type="text/javascript" src="../com/js/TouchSlide.1.1.source.js" ></script>
    <style type="text/css">	
		
	</style>
</head>
<body>
    <!-- header -->
        <header>
            <div class="txt">
                资讯
            </div>
        </header>
    <!-- header end-->
    <article>
		<!-- Tab切换 -->
		<div id="tabBox1" class="tabBox">
			<div class="hd">
				<ul class="clearfix">
					<li><a href="javascript:void(0)">行业咨询</a></li>
					<li><a href="javascript:void(0)">冷链知识</a></li>
					<li><a href="javascript:void(0)">其他</a></li>
				</ul>
			</div>
			<div class="bd" id="tabBox1-bd"><!-- 添加id，js用到 -->
				<div class="con newsImg"><!-- 高度自适应需添加外层 -->
					<ul>
						<li>
							<a href="http://www.cclcn.com/shtmlnewsfiles/ecomnews/458/2016/201671412034032172.shtml" class="clearfix">
								<div class="imgFl fl">
									<img src="../com/img/fruit_13.png"/>
								</div>
								<div class="newsTxt">
									<p class="newsTitle">低温食品常温运输储藏？严查！</p>
									<p class="newsDate">
										<span>2016/8/20</span>
										<span>15:20:30</span>
										<span class="newsBd">热门</span>
									</p>
								</div>
							</a>
						</li>
						<li>
							<a href="http://www.cclcn.com/shtmlnewsfiles/ecomnews/458/2016/201671915222030041.shtml" class="clearfix">
								<div class="imgFl fl">
									<img src="../com/img/cbd.jpg"/>
								</div>
								<div class="newsTxt">
									<p class="newsTitle">生鲜电商行业频遭打击 紫云冷链呼吁</p>
									<p class="newsDate">
										<span>2016/8/20</span>
										<span>15:20:30</span>
										<span class="newsBd">推荐</span>
									</p>
								</div>
							</a>
						</li>
						<li>
							<a href="http://www.cclcn.com/shtmlnewsfiles/ecomnews/458/2016/201662217032085285.shtml" class="clearfix">
								<div class="imgFl fl">
									<img src="../com/img/fruit_15.png"/>
								</div>
								<div class="newsTxt">
									<p class="newsTitle">农产品冷链流通标准化工作会议推动体</p>
									<p class="newsDate">
										<span>2016/8/20</span>
										<span>15:20:30</span>
									</p>
								</div>
							</a>
						</li>
						<li>
							<a href="http://www.cclcn.com/shtmlnewsfiles/ecomnews/453/2016/201681615551400663.shtml" class="clearfix">
								<div class="imgFl fl">
									<img src="../com/img/muwu.jpg"/>
								</div>
								<div class="newsTxt">
									<p class="newsTitle">吉林西瓜滞销，复合型冷库建设刻不容</p>
									<p class="newsDate">
										<span>2016/8/20</span>
										<span>15:20:30</span>
									</p>
								</div>
							</a>
						</li>
						<li>
							<a href="http://www.cclcn.com/shtmlnewsfiles/ecomnews/453/2016/201680812253416631.shtml" class="clearfix">
								<div class="imgFl fl">
									<img src="../com/img/list_07.png"/>
								</div>
								<div class="newsTxt">
									<p class="newsTitle">oTMS：互联网+驱动冷链物流站上价值高峰</p>
									<p class="newsDate">
										<span>2016/8/20</span>
										<span>15:20:30</span>
									</p>
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="con"><!-- 高度自适应需添加外层 -->
					<ul>
						<li><a href="#">1000吨以上冷库设计选型计算</a></li>
						<li><a href="#">2016小型冷库维修知识大全</a></li>
						<li><a href="#">冷库制冷设备的中小修内容有哪些?</a></li>
						<li><a href="#">冷库及物流存在哪些问题?</a></li>
						<li><a href="#">组合冷库安装要求</a></li>
						<li><a href="#">冷库制冷设备的中小修内容有哪些?</a></li>
						<li><a href="#">冷库及物流存在哪些问题?</a></li>
						<li><a href="#">组合冷库安装要求</a></li>
						<li><a href="#">冷库制冷设备的中小修内容有哪些?</a></li>
						<li><a href="#">冷库及物流存在哪些问题?</a></li>
						<li><a href="#">组合冷库安装要求</a></li>
					</ul>
				</div>
				<div class="con"><!-- 高度自适应需添加外层 -->
					<ul>
						<li><a href="#">组合冷库安装要求</a></li>
						<li><a href="#">传统制冷节流机构的工作原理及匹配</a></li>
						<li><a href="#">冷库制冷设备的中小修内容有哪些?</a></li>
						<li><a href="#">冷库及物流存在哪些问题?</a></li>
						<li><a href="#">组合冷库安装要求</a></li>
						<li><a href="#">冷库及物流存在哪些问题?</a></li>
						<li><a href="#">组合冷库安装要求</a></li>
					</ul>
				</div>

			</div>
		</div>
		<a class="readMore" href="#">更多&gt;&gt;</a>
		<script type="text/javascript">
		TouchSlide({ slideCell:"#tabBox1",
			endFun:function(i){ //高度自适应
				var bd = document.getElementById("tabBox1-bd");
				bd.parentNode.style.height = bd.children[i].children[0].offsetHeight+"px";
				if(i>0)bd.parentNode.style.transition="200ms";//添加动画效果
			}
		});
		</script>
		<!-- TAB主要代码 End ================================ -->
    </article>

    <ul class="footer">
        <li>           
            <a href="../index.html">
                <i class="iconfont">&#xe65a;</i>
                <p class="info">首页</p>
            </a>
        </li>
        <li class="active">         
            <a href="news.html">
                <i class="iconfont">&#xe6f8;</i>
                <p class="info">资讯</p>
            </a>
        </li>
        <li>            
            <a href="messages.html">
                <i class="iconfont">&#xe71c;</i>
                <p class="info">消息</p>
            </a>
        </li>
        <li>            
            <a href="user.html">
                <i class="iconfont">&#xe6fd;</i>
                <p class="info">我的</p>
            </a>
        </li>
    </ul>
</body>
</html>