<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>资讯</title>
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
    <link rel="stylesheet" type="text/css" href="../com/css/release.css">
    <script type="text/javascript" src="../com/js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
</head>
<body>
    <!-- header -->
        <header>
            <div class="txt">
                资讯
            </div>
        </header>
    <!-- header end-->

    <section class="grid">
    	<ul class="newsList">
    		<li>冷库中制冷设备选配知识</li>
    		<li>1000吨以上冷库设计选型计算</li>
    		<li>2016小型冷库维修知识大全</li>
    		<li>冷库制冷设备的中小修内容有哪些?</li>
    		<li>冷库及物流存在哪些问题?</li>
    		<li>组合冷库安装要求</li>
    		<li>传统制冷节流机构的工作原理及匹配</li>
    	</ul>
    </section>

    <ul class="footer">
        <li>           
            <a href="../index.html">
                <i class="iconfont">&#xe65a;</i>
                <p class="info">首页</p>
            </a>
        </li>
        <li class="active">         
            <a href="news.html">
                <i class="iconfont">&#xe6f8;</i>
                <p class="info">资讯</p>
            </a>
        </li>
        <li>            
            <a href="messages.html">
                <i class="iconfont">&#xe71c;</i>
                <p class="info">消息</p>
            </a>
        </li>
        <li>            
            <a href="user.html">
                <i class="iconfont">&#xe6fd;</i>
                <p class="info">我的</p>
            </a>
        </li>
    </ul>
</body>
</html>