<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>资讯</title>
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
    <link rel="stylesheet" type="text/css" href="../com/css/release.css">
    <script type="text/javascript" src="../com/js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
    <script type="text/javascript" src="../com/js/TouchSlide.1.1.source.js" ></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../app/js/information.js"></script>
    <style type="text/css">	
		
	</style>
</head>
<body>
    <!-- header -->
        <header>
            <div class="txt">
                资讯
            </div>
        </header>
    <!-- header end-->
    <article class="newsImgList">
		<!-- Tab切换 -->
		<div id="tabBox1" class="tabBox">
			<div class="hd">
				<ul class="clearfix">
					<li><a href="javascript:void(0)">行业资讯</a></li>
					<li><a href="javascript:void(0)">冷链知识</a></li>
					<li><a href="javascript:void(0)">其他</a></li>
				</ul>
			</div>
			<div class="bd" id="tabBox1-bd">
				<!-- 添加id，js用到 -->
				<div class="con newsImg">
					<!-- 高度自适应需添加外层 -->
					<ul id="ul_newsL_list1"></ul>
					<a id="loading" href="javascript:;" onclick="getPageData1();"></a>
				</div>
				
				<div class="con newsImg">
					<!-- 高度自适应需添加外层 -->
					 <ul id="ul_newsL_list2">
					</ul>
					<a id="loading" href="javascript:;" onclick="getPageData2();"></a>
				</div>
				<div class="con newsImg">
					<!-- 高度自适应需添加外层 -->
					 <ul id="ul_newsL_list3">
					</ul>
					<a id="loading" href="javascript:;" onclick="getPageData3();"></a>
				</div>

			</div>
		</div>
		<script type="text/javascript">
		TouchSlide({ slideCell:"#tabBox1",
			endFun:function(i){ //高度自适应
				var bd = document.getElementById("tabBox1-bd");
				bd.parentNode.style.height = bd.children[i].children[0].offsetHeight+"px";
				if(i>0)bd.parentNode.style.transition="200ms";//添加动画效果
			}
		});
		</script>
		<!-- TAB主要代码 End ================================ -->
    </article>
    <div class="nodata">
   		 <img src="../com/img/nodata.jpg" alt="" />
    	<p>暂时没有资讯信息哦~~</p>
    </div>

    <ul class="footer">
        <li>           
            <a href="../index.html">
                <i class="iconfont">&#xe65a;</i>
                <p class="info">首页</p>
            </a>
        </li>
        <li class="active">         
            <a href="news.html">
                <i class="iconfont">&#xe6f8;</i>
                <p class="info">资讯</p>
            </a>
        </li>
        <li>            
            <a href="messages.html">
                <i class="iconfont">&#xe71c;</i>
                <p class="info">消息</p>
            </a>
        </li>
        <li>            
            <a href="user.html">
                <i class="iconfont">&#xe6fd;</i>
                <p class="info">我的</p>
            </a>
        </li>
    </ul>
</body>
</html>