<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
	<title>我的联络单</title>
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
	<link rel="stylesheet" type="text/css" href="../com/css/layer.css">
	<link rel="stylesheet" href="../com/css/baguettebox.min.css">
    <link rel="stylesheet" type="text/css" href="../com/css/admin.css">
    <script type="text/javascript" src="../com/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="../com/js/angular.min.js"></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
    <script type="text/javascript" src="../com/js/layer.js"></script>
	<script type="text/javascript" src="../com/js/baguettebox.min.js" ></script>
    <script type="text/javascript">checkLogin();</script>
    <script type="text/javascript">
      var app = angular.module("app", []).controller("orderdetail", function($http, $location,$scope) {
      var id  = getUrlParam("id");
      if(id==null||id==""||id=="undefined"){return;}
      $scope.appmode=[{title:["","货品","配送","冷库"]}];//1:货品 2：配送 3:仓库
	  $http.defaults.withCredentials=true;$http.defaults.headers={"Content-Type": "application/x-www-form-urlencoded"};
      $scope.initdata=function(){
			$http.get(ER.root+"/i/orders/findOrderByOrderId",  { params: {id:id,uid:window.user.id}  }).success(function(data) { //获得数据
			 if(data.success){
				   $scope.rsd=data.entity.rsd; //发布的信息
				   $scope.orders=data.entity.orders; //联络单信息
				   $scope.ownerUser=data.entity.ownerUser; //发布者信息
				   $scope.orderUser=data.entity.orderUser; //联络单者信息
				    if($scope.rsd){
				       $scope.datatype=$scope.rsd.dataType;
				       $scope.typetitle=$scope.appmode[0].title[$scope.datatype]+data.entity.rsd.typeText;
				    }else{
				      $("#sec_content").html("商品信息已失效！");
				    }
			   }else{
			       $("#sec_content").html("获取数据失败！");// goback();
			   }
			  
             });
	};
	 $scope.getTeleNum = function () {
    	$http.get(ER.root+"/i/orders/getTelephone", {
    	    params: {
    	    	ownerTele: $scope.orders.ownertele,
    	    	userTele : $scope.orders.usertele,
    	    	ownerName : $scope.orders.ownername,
    	    	userName : $scope.orders.username
    	    }
    	}).success(function (data) {
//     		alert("对方联系人的手机号已经发送到您的手机，请及时联系");
			layer.open({content: '对方联系人的手机号已经发送到您的手机，请及时联系~',btn: '确定'});
    	});
    };
	$scope.initevg=function(){
		  baguetteBox.run('.baguetteBoxOne', {
				    animation: 'slideIn',
				    buttons: true
				});
				
				if ($('.gallery').children().length==0) {
// 					如果没有图片，则隐藏
					$('.gallery').hide();
					$('.gallery').prev().css({
						'marginBottom':'0.3rem'
					});
				}
	};
	$scope.initdata();
	$scope.initevg();
});
    </script>
</head>
	<body  ng-app="app"  ng-controller="orderdetail" ng-cloak >
	    <header>
	    	<div class="area fl">
	    		<a onclick="goback()"><i class="iconfont">&#xe60e;</i></a>
	    	</div>
	    	<div class="txt">我的联络单</div>
	    </header>
	    <section id="sec_content" class="content "><!--  -->
	    	<p class="order">
		   		<span class="num">联络单号：{{orders.orderid}}</span>
		    </p>
		    <p class="order">
		   		<span class="orderName">联络单名称：<span>({{appmode[0].title[datatype]}})</span>{{rsd.title}}</span>
		    </p>
		<!-- 联络单详情区域 -->
			<h4>联络单详情 <span class="date">{{orders.generatetime}}</span></h4>
			<p class="infos">
				<i class="dot"></i><span class="first">联络单类型:</span><span class="second">{{typetitle}}</span>
			</p>
			<div ng-if="datatype==3">
			   <p class="infos"><i class="dot"></i><span class="first">温度类型:</span><span class="second">{{rsd.codeLave2}}</span></p>
			   <p class="infos"><i class="dot"></i><span class="first">冷库名称:</span><span class="second">{{rsd.name}}</span></p>
			   <p class="infos"><i class="dot"></i><span class="first">冷库地址:</span><span class="second">{{rsd.address}}</span></p>
			</div>
			<div ng-if="datatype==2">
			   <p class="infos"><i class="dot"></i><span class="first">始发地:</span><span class="second">{{rsd.unit1}}</span></p>
			   <p class="infos"><i class="dot"></i><span class="first">目的地:</span><span class="second">{{rsd.unit2}}</span></p>
			   <p class="infos"><i class="dot"></i><span class="first">业务类型:</span><span class="second">{{rsd.codeLave1}}</span></p>
			   <p class="infos"><i class="dot"></i><span class="first">车辆类型:</span><span class="second">{{rsd.codeLave3}}</span></p>
			   <p class="infos"><i class="dot"></i><span class="first">冷库温度类型:</span><span class="second">{{rsd.codeLave2}}</span></p>
			</div>
			
			<div ng-if="datatype==1">
		        <p class="infos"><i class="dot"></i><span class="first">品类:</span><span class="second">{{rsd.codeLave1}}</span></p>
			    <p class="infos"><i class="dot"></i><span class="first">供应商:</span><span class="second">{{rsd.unit1?rsd.unit1:'不详' }}</span></p>
			    <p class="infos"><i class="dot"></i><span class="first">最大预定量:</span><span class="second">{{rsd.sqm }}吨</span></p>
			    <p class="infos"><i class="dot"></i><span class="first">单价:</span><span class="second">{{rsd.unitPrice == 0.00 ?"面议":rsd.unitPrice+'元/吨'}}</span></p>
			</div>
			<h4>其他信息 <span class="date">{{orders.generatetime}}</span></h4>
			<div>
			   <p class="infos"><i class="dot"></i><span class="first">有效期:</span><span class="second">{{rsd.validStartTime}}至{{rsd.validEndTime}}</span></p>
			   <p class="infos"><i class="dot"></i><span class="first">备注:</span><span class="second">{{rsd.note?rsd.note:'无'}}</span></p>
			</div>
			<!--点击图片循环展示-->
			<div class="baguetteBoxOne gallery" ng-if="rsd.files">
		         <a ng-repeat="fl in rsd.files" ng-href="{{fl}}"><img ng-src="{{fl}}"/></a>
			</div>
			<ul class="object">
				<li>
					<p>出租方</p>
					<p><span>姓名：</span>{{ownerUser.nickname}}</p>
<!-- 					<p><span>联系电话：</span>{{ownerUser.telephone}}</p> -->
					<p><span>地址：</span>{{ownerUser.address}}</p>
				</li>
				<li>
					<p>租入方</p>
					<p><span>姓名：</span>{{orderUser.nickname}}</p>
<!-- 					<p><span>联系电话：</span>{{orderUser.telephone}}</p> -->
					<p><span>地址：</span>{{orderUser.address}}</p>
				</li>
			</ul>
			<button id="app_order" class="mybtn" ng-click="getTeleNum();"  >获取联系方式</button>
	    </section>
	    <ul class="footer">
        <li>           
            <a href="../index.html">
                <i class="iconfont">&#xe65a;</i>
                <p class="info">首页</p>
            </a>
        </li>
        <li>         
            <a href="news.html">
                <i class="iconfont">&#xe6f8;</i>
                <p class="info">资讯</p>
            </a>
        </li>
        <li>            
            <a href="messages.html">
                <i class="iconfont">&#xe71c;</i>
                <p class="info">消息</p>
            </a>
        </li>
        <li class="active">            
            <a href="user.html">
                <i class="iconfont">&#xe6fd;</i>
                <p class="info">我的</p>
            </a>
        </li>
    </ul>
	</body>
</html>
