<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
	<title>我的订单</title>
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
	    <link rel="stylesheet" href="../com/css/baguettebox.min.css">
    <link rel="stylesheet" type="text/css" href="../com/css/admin.css">
	    <script src="../com/js/jquery.min.js"></script>
		<script type="text/javascript" src="../com/js/baguettebox.min.js" ></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
</head>
	<body>
	    <header>
	    	<div class="area fl">
	    		<a onclick="goback()"><i class="iconfont">&#xe60e;</i></a>
	    	</div>
	    	<div class="txt">
	    		我的订单
	    	</div>
	    </header>
	    <section class="content">
	    	<p class="order">
		   		<span class="num">订单号：4654654654121</span>
		    </p>
		    <p class="order">
		   		<span class="orderName">订单名称：<span>(仓库)</span>上海批发市场</span>
		    </p>
		<!-- 订单详情区域 -->
			<h4>订单详情 <span class="date">2016-07-23</span></h4>
			<p class="infos">
				<i class="dot"></i>
				<span class="first">订单类型:</span>
				<span class="second">冷库出租</span>
			</p>
			<p class="infos">
				<i class="dot"></i>
				<span class="first">冷库名称:</span>
				<span class="second">莱芜嘉禾冷链物流有限公司 </span>
			</p>
			<p class="infos">
				<i class="dot"></i>
				<span class="first">冷库地址:</span>
				<span class="second">上海-长宁区-中山公园</span>
			</p>
			<!--点击图片循环展示-->
			<div class="baguetteBoxOne gallery">
		        <a href="../com/img/list_03.png"><img src="../com/img/list_03.png" alt="" /></a>
		        <a href="../com/img/cbd.jpg"><img src="../com/img/cbd.jpg" alt="" /></a>
		        <a href="../com/img/list_07.png"><img src="../com/img/list_07.png" alt="" /></a>
		        <a href="../com/img/muwu.jpg"><img src="../com/img/muwu.jpg" alt="" /></a>
		        <a href="../com/img/list_05.png"><img src="../com/img/list_05.png" alt="" /></a>
		        <a href="../com/img/list_07.png"><img src="../com/img/list_07.png" alt="" /></a>
		        <a href="../com/img/list_03.png"><img src="../com/img/list_03.png" alt="" /></a>
		        <a href="../com/img/list_05.png"><img src="../com/img/list_05.png" alt="" /></a>
		        <a href="../com/img/list_07.png"><img src="../com/img/list_07.png" alt="" /></a>
			</div>
			<ul class="object">
				<li>
					<p>出租方</p>
					<p><span>姓名：</span>王晓明</p>
					<p><span>联系电话：</span>12646542165</p>
					<p><span>地址：</span>上海市长宁区中山公园</p>
				</li>
				<li>
					<p>租入方</p>
					<p><span>姓名：</span>王晓明</p>
					<p><span>联系电话：</span>12646542165</p>
					<p><span>地址：</span>上海市长宁区中山公园</p>
				</li>
			</ul>
	    </section>
	    <ul class="footer">
        <li>           
            <a href="../index.html">
                <i class="iconfont">&#xe65a;</i>
                <p class="info">首页</p>
            </a>
        </li>
        <li>            
            <a href="release.html">
                <i class="iconfont">&#xe666;</i>
                <p class="info">发布</p>
            </a>
        </li>
        <li>          
            <a href="share.html">
                <i class="iconfont">&#xe6bc;</i>
                <p class="info">共享</p>
            </a>
        </li>
        <li class="active">            
            <a href="admin.html">
                <i class="iconfont">&#xe65e;</i>
                <p class="info">我的</p>
            </a>
        </li>
    </ul>
    <script>
			$(function(){
			//点击图片看大图
				baguetteBox.run('.baguetteBoxOne', {
				    animation: 'slideIn',
				    buttons: true
				});
				
				if ($('.gallery').children().length==0) {
					//如果没有图片，则隐藏
					$('.gallery').hide();
					$('.gallery').prev().css({
						'marginBottom':'0.3rem'
					})
				}
				
			});
		</script>
	</body>
</html>
