<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
	<title>修改密码</title>
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
    <link rel="stylesheet" type="text/css" href="../com/css/admin.css">
    <script type="text/javascript" src="../com/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
    <script type="text/javascript">checkLogin();</script>
    <script type="text/javascript">
       var ckolpwd=false;
       function ckolpwdf(){
       var oldpw= $("#old_password").val();
           if(oldpw==""){showErrorInfo("请正确输入旧密码~");return; }
           $.post(ER.root+"/i/user/checkOldPassword", {pwd : $("#old_password").val()}, function(data) {
                if(data){
				    ckolpwd=true; 
				    showErrorInfo("");
				}else{
				   ckolpwd=false; 
				   showErrorInfo("旧密码不匹配哟~");
				}
			});//
       }
     	function check(){ 
     	   if(ckolpwd){
     	     var password = $("#txt_password").val(); 
             var repsword = $("#txt_repsword").val(); 
		           if (password.length!=0 && repsword.length!=0) {
		           	   if(password != repsword) {
				        showErrorInfo("两次密码不同，请重新输入");
				         return false;
				       }
				       else {
				           savedata();
				       }
		           } else{
		           	  showErrorInfo("密码不能为空哦，请输入密码~");
		           }
     	   }else{
     	      showErrorInfo("旧密码输入错误~");
     	   }
	    }
	    function  savedata(){
	           $.post(ER.root+"/i/user/checkOldPassword", {pwd : $("#old_password").val()}, function(data) {
                if(data){
				    ckolpwd=true; 
				    showErrorInfo("");
				     var formdata = new FormData();
	                 formdata.append("id", window.user.id);
	                 formdata.append("password", $("#txt_repsword").val());
				     $.ajax({type: 'POST',
			            url: ER.root+"/i/user/updateUser",
			            data:formdata,processData: false,contentType: false,
			            success: function(data){
			                 if(!data){alert("修改失败~请稍后重试~");}else{ window.location.href="personal.html";} }
			          });
				}else{
				   ckolpwd=false; 
				   showErrorInfo("旧密码不匹配哟~");
				}
			});//
	    };
     </script>
</head>
<body >
    <header>
    	<div class="area fl">
    		<a onclick="goback()"><i class="iconfont">&#xe60e;</i></a>
    	</div>
    	<div class="txt">
    		链库网
    	</div>
    </header>
    <section class="nopad">
    	<div class="editarea clearfix">
    		<span class="fl">旧密码</span>
    		<p class="input bd"><input type="password" id="old_password" placeholder="旧密码" onblur="ckolpwdf();"/></p>
    		<span class="fl">新密码</span>
    		<p class="input bd"><input type="password" id="txt_password" placeholder="新密码"/></p>
    		<span class="fl">再次输入</span>
    		<p class="input"><input type="password" id="txt_repsword" placeholder="再次输入"/></p>
    	</div>
   	    <div class="row">
          <div class="col-xs-8">
            <a style="color:red;font-size:0.7rem;" hidden=true id="mention"></a>
          </div>
	    </div>
    </section>
     <button class="mybtn" onclick ="check()">确定</button>
</body>
</html>