<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <meta content="telephone=no" name="format-detection" />
     <title>我的</title>
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
    <link rel="stylesheet" type="text/css" href="../com/css/admin.css">
    <script type="text/javascript" src="../com/js/jquery-1.12.0.min.js"></script>
   <script type="text/javascript" src="../com/js/common.js"></script>

</head>
<body>
    <header>
    	<div class="area fl">
    		<a onclick="goback()"><i class="iconfont">&#xe60e;</i></a>
    	</div>
    	<div class="txt">
    		我的
    	</div>
    </header>
    <section class="clearfix" onclick="">
    	<div class="img fl">
    		<img src="../com/img/women.png"/>
    	</div>
    	<div class="rightArrow fr">
    		<a href=""><i class="iconfont">&#xe60d;</i></a>
    	</div>    	
    	<input type="file" name="" id="headImg" value="" />
    	<!--<div class="name" >
    		<p class="nameinfo">木棉先森</p>
    		<p class="position">
    			<i class="iconfont">&#xe66e;</i>
				上海-长宁区-中山公园
    		</p>
    	</div>-->
    </section>
    <ul class="list adminInfo">
    	<li class="clearfix" onclick="location.href='editname.html'">
    		<div class="myicon fl">
	    		<span class="fl">昵称</span>
	    	</div>
	    	<div class="rightArrow fr">
	    		<a href=""><i class="iconfont">&#xe60d;</i></a>
	    	</div>
	    	<div class="name">
	    		<p class="list_name">木棉先森</p>
	    	</div>
    	</li>
    	<li class="clearfix">
    		<div class="myicon fl">
	    		<span>性别</span>
	    	</div>
	    	<div class="rightArrow fr">
	    		<a href=""><i class="iconfont">&#xe60d;</i></a>
	    	</div>
	    	<div class="name">
	    		<p class="list_name set">
	    			<select class="sex_set">
		    			<option value="男">男</option>
		    			<option value="女">女</option>
		    			<option value="保密">保密</option>
		    		</select>
	    		</p>	    		
	    	</div>
    	</li>
    	<li class="clearfix">
    		<div class="myicon fl">
	    		<span>家乡</span>
	    	</div>
	    	<div class="rightArrow fr">
	    		<a href=""><i class="iconfont">&#xe60d;</i></a>
	    	</div>
	    	<div class="name">
	    		<p class="list_name">北京</p>
	    	</div>
    	</li>
    	<li class="clearfix">
    		<div class="myicon fl">
	    		<span>常居地</span>
	    	</div>
	    	<div class="rightArrow fr">
	    		<a href=""><i class="iconfont">&#xe60d;</i></a>
	    	</div>
	    	<div class="name">
	    		<p class="list_name">上海</p>
	    	</div>
    	</li>
    	<li class="clearfix" onclick="location.href='editphone.html'">
    		<div class="myicon fl">
	    		<span>手机号</span> 
	    	</div>
	    	<div class="rightArrow fr">
	    		<a href=""><i class="iconfont">&#xe60d;</i></a>
	    	</div>
	    	<div class="name">
	    		<p class="list_name">15655972560</p>
	    	</div>
    	</li>
    	<li class="clearfix" onclick="location.href='password.html'">
    		<div class="myicon fl">
	    		<span>密码</span>
	    	</div>
	    	<div class="rightArrow fr">
	    		<a href=""><i class="iconfont">&#xe60d;</i></a>
	    	</div>
	    	<div class="name">
	    		<p class="list_name set">修改</p>
	    	</div>
    	</li>
    </ul>
    <button class="mybtn" onclick="location.href='login.html'">退出登录</button>
    <ul class="footer">
        <li>           
            <a href="../index.html">
                <i class="iconfont">&#xe65a;</i>
                <p class="info">首页</p>
            </a>
        </li>
        <li>            
            <a href="release.html">
                <i class="iconfont">&#xe666;</i>
                <p class="info">发布</p>
            </a>
        </li>
        <li>          
             <a href="news.html">
                <i class="iconfont">&#xe6f8;</i>
                <p class="info">资讯</p>
            </a>
        </li>
        <li class="active">            
            <a href="admin.html">
                <i class="iconfont">&#xe65e;</i>
                <p class="info">我的</p>
            </a>
        </li>
    </ul>

</body>
</html>