<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>发布失败</title>
	    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
	    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
	    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
	    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
	    <link rel="stylesheet" href="../com/css/coldlist.css" />
	    <script type="text/javascript" src="../com/js/jquery-1.12.0.min.js"></script>
	    <script type="text/javascript" src="../com/js/common.js"></script>
	</head>
	<body style="background-color: #fff;">
		<!-- header -->
		    <header>
		    	
	        	<div class="area fl">
	        		<a  onclick="goback()"><i class="iconfont">&#xe60e;</i></a>
	        	</div>
	        	<div class="zoom fr">
	        		<a href="#">我的发布</a>
	        	</div>
	        	<!-- <div class="txt">
	        		抢单成功
	        	</div> -->
		    </header>
		<!-- header end-->
		<section class="main victory releasefail">
			<img src="../com/img/releasefail.png"/>
			<p class="success">很抱歉，发布失败了</p>
			<p class="backhome"><a href="../index.html">返回首页>></a></p>
		</section>
		
	</body>
</html>

