<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title> 发布冷运</title>
    <link rel="stylesheet" type="text/css" href="../com/css/common.css"> 
	    <link rel="stylesheet" type="text/css" href="../com/css/layer.css">
    <link rel="stylesheet" type="text/css" href="../com/css/release.css">
<link rel="stylesheet" type="text/css" href="../com/datepicker/date.css">
<script type="text/javascript" src="../com/js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="../com/js/jquery.city.select.min.js"></script>
<script type="text/javascript" src="../com/js/common.js"></script>
        <script type="text/javascript" src="../com/js/layer.js"></script>
<script type="text/javascript" src="../com/datepicker/date.js"></script>
<script type="text/javascript" src="../com/datepicker/iscroll.js" ></script>
<script src="../bower_components/angular/angular.min.js"></script>
<script type="text/javascript"
	src="../bower_components/ng-file-upload/ng-file-upload-all.min.js"></script>
<script type="text/javascript" src="../app/js/releaseStorageList.js"></script>
</head>
<body ng-app="app" ng-controller="ctrl">
<script>
       $.ajax({ url: ER.root+"/i/UtilController/setVisited",type: "POST",data:{type:9}});
    	$(function() {
			$('.toggle').children('div').click(function(){
				$(this).addClass('current').siblings().removeClass('current');
				if($(this).index()==1){
                    window.flag1 = 1;
				}else{
                     window.flag1 = 0;
				}
			});
            $('.radiocar button').click(function(event){
                $(".main").show();
                $('.coldlist').hide();
                $(this).parent().hide()
            });
			/*date*/
			$('#startTime').date();
			$('#arriveTime').date();
		});
    </script>
    <!-- header -->
        <header>
        	
            <div class="area fl">
                <a href="release.html"><i class="iconfont">&#xe60e;</i></a>
            </div>
            <div class="zoom fr"> <a href="../index.html"> <i class="iconfont">&#xe65a;</i> </a></div>
            <div class="txt">
                发布冷运
            </div>
        </header>
    <!-- header end-->
    <section class="toggle clearfix">
    	<div class="rent current fl"><i class="iconfont">&#xe658;</i>找货</div>
    	<div class="offer fl"><i class="iconfont" style="position:relative;top:.2rem;">&#xe656;</i>找车</div>
    </section>
     <div class="radiocar">
        <button class="mybtn">不关联库发布</button>
     </div>
    <!--coldlist-->
    <div class="coldlist">
      <div class="nodata" style="background:#F6F5FA;">
			<p class="sorry">抱歉！ 系统未找到您的冷库的信息，如需出租或发布关联库信息请先添加冷库！</p>
			<p class="sorry">
				<button class="mybtn" onclick="location.href='releasekutable.html'">添加冷库信息</button>
		</div>
       <div>
			<ul id="ul_rdcsL_list" class="imgTable"></ul>
			<a id="loading" href="javascript:;" onclick="getPageData();"></a>
		</div>
    </div>
    <section class="main maindetail black">
      <form id="release_item_from" name="itemform" >
      <input type="hidden" id="dataType" ng-model="dataType" value="2">
			      <input type="hidden" id="typeCode" ng-model="typeCode" value="1">
			      <input type="hidden" id="typeText" ng-model="typeText" value="找货">
			       <input type="hidden" id="rdcflag" ng-model="rdcflag" value="0">
            <ul class="houseinfo">
                <li>
                    <label for="name">描述</label><em>*</em>
                    <input type="text"  id="name" ng-model="title" placeholder="发布冷运描述"/>
                </li>
                <li>
                    <label for="businessType">业务类型</label><em>*</em>
                    <div class="mySelect">
	                    <select id="businessType" name="codeLave1" ng-model="codeLave11">
	                      <option ng-repeat="x in  codeLave1" value="{{x.type_code}}">{{x.type_name}}</option>
	                    </select>
	                </div>
                    <i class="iconfont fr moreinfo">&#xe60d;</i>
                </li>
                <li>
                    <label for="temperatureType">温度类型</label><em>*</em>                                      
                    <div class="mySelect">
	                    <select id="temperatureType" name="codeLave2" ng-model="codeLave22">
	                        	<option ng-repeat="x in  codeLave2" value="{{x.type_code}}">{{x.type_name}}</option>
	                    </select>
	                </div>
                    <i class="iconfont fr moreinfo">&#xe60d;</i>
                </li>
                <li>
                    <label for="carType">车型</label><em>*</em>                                      
                    <div class="mySelect">
	                    <select id="carType" name="codeLave3" ng-model="codeLave33">
	                       <option ng-repeat="x in  ps_cr_type" value="{{x.id}}">{{x.type}}</option>
	                    </select>
	                </div>
                    <i class="iconfont fr moreinfo">&#xe60d;</i>
                </li>
                <li>
                    <label for="price">价格</label>
                    <input type="text" name="unitPrice" ng-model="unitPrice" id="price" placeholder="面议"/>
                </li>
                 <!-- <li>
                     <label for="start" class="bg">出发地</label>
                     <input type="text" id="start" name="staddress" ng-model="staddress" placeholder="（选填）" />
                     <i class="iconfont fr moreinfo">&#xe60d;</i>
                 </li> -->
                 <li class="bg">
                     <label for="arrow">出发地</label><em>*</em>
                      <div class="mySelect">
	                    <select id="stprovince" ng-model="stprovinceID" ng-disabled="editable" name="provinceId"
                                    ng-change="stprovinceSelected(stprovinceID)"
                                    ng-options="x.provinceId as x.provinceName for x in provinces">
                                    <option value="">省份</option>
                        </select>
	                    <select id="stcity" ng-model="stcityID" name="cityid"
                                    ng-disabled="editable" ng-change="citySelected(cityId)"
                                    ng-options="x.cityID as x.cityName for x in stcitys">
                                    <option value="">城市</option>
                                    </select>
	                    <input type="text" placeholder="请输入详细地址" ng-model="staddress" style="min-width:130%;"/>
	                </div>
                 </li>
                 <li>
                     <label for="startTime">出发时间</label><em>*</em>
                     <div class="mySelect">
						<input type="text" id="startTime" placeholder="请选择出发时间" class="kbtn" ng-model="startTime"/>
					</div>
					<i class="iconfont fr">&#xe63a;</i>
                 </li>
                 <li class="bg">
                     <label for="arrow">目的地</label><em>*</em>
                      <div class="mySelect">
	                    <select id="toprovince" ng-model="toprovinceID" ng-disabled="editable" name="provinceId"
                                    ng-change="toprovinceSelected(toprovinceID)"
                                    ng-options="x.provinceId as x.provinceName for x in provinces">
                                    <option value="">省份</option></select>
	                    <select id="tocity" ng-model="tocityID" name="cityid"
                                    ng-disabled="editable" ng-change="citySelected(cityId)"
                                    ng-options="x.cityID as x.cityName for x in tocitys">
                                    <option value="">城市</option></select>
	                    <input type="text" placeholder="请输入详细地址" ng-model="toaddress" style="min-width:130%;"/>
	                </div>
                 </li>
                 <li>
                     <label for="arriveTime">到达时间</label><em>*</em>
                     <div class="mySelect">
						<input type="text" id="arriveTime" placeholder="请选择到达时间" class="kbtn" ng-model="arriveTime"/>
					</div>
					<i class="iconfont fr">&#xe63a;</i>
                    
                 </li>
				<li><label for="phone">联系电话</label><em>*</em>
				 <input type="text" name="telephone"
					id="phone" ng-model="telephone"/></li>
				<li><label for="note">备注</label> <input type="text" id="note"
					placeholder="（选填）" ng-model="note" name="note"/></li>
				<li><label class="pic"> <input input type="file" id="files" ngf-select="addFiles($files)" ng-model="files"  ngf-multiple="true" name="files"  />
				 </label> <span id="">上传图片<small class="text-warning" style="width: 100px">(最多十张)</small></span><br>
	             <output id="img_list1" class="img_list"><span ng-repeat="honorfile in totalfiles"><img class="thumb" ngf-src="honorfile" title="{{honorfile.name}}"><i ng-click="drophonor(honorfile)">×</i></span></output>
            </ul>
        </form>
        <button class="mybtn" ng-click="carSubmit()">确认发布</button>
    </section>
	<div id="datePlugin"></div>
    <!--<ul class="footer">
        <li>           
            <a href="../index.html">
                <i class="iconfont">&#xe65a;</i>
                <p class="info">首页</p>
            </a>
        </li>
        <li>         
            <a href="news.html">
                <i class="iconfont">&#xe6f8;</i>
                <p class="info">资讯</p>
            </a>
        </li>
        <li>            
            <a href="messages.html">
                <i class="iconfont">&#xe71c;</i>
                <p class="info">消息</p>
            </a>
        </li>
        <li>            
            <a href="user.html">
                <i class="iconfont">&#xe6fd;</i>
                <p class="info">我的</p>
            </a>
        </li>
    </ul>-->
</body>
<script type="text/javascript" src="../app/js/releasestorage.js"></script>
</html>