<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <!--  <meta http-equiv="refresh" content="10"> -->
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>发布库</title>
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
    <link rel="stylesheet" type="text/css" href="../com/css/release.css">
    <script type="text/javascript" src="../com/js/data.js" ></script>
    <script type="text/javascript" src="../com/js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="../com/js/jquery.city.select.min.js" ></script>
    <script type="text/javascript" src="../com/js/prettify.js" ></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
</head>
<body>
    <!-- header -->
        <header>
        	
            <div class="area fl">
                <a  onclick="goback()"><i class="iconfont">&#xe60e;</i></a>
            </div>
            <div class="txt">
                发布库
            </div>
        </header>
    <!-- header end-->
    <section class="main">
        <form>
            <ul class="houseinfo">
                <li>
                    <label for="name">名称</label>
                    <input type="text"  id="name" placeholder="睿冷科技"/>
                </li>
                <li>
                    <label for="province">省</label>
                    <div class="mySelect">
                    	<select id="province">
	                        <option value="载入中">载入中</option>
	                    </select>
                    </div>
                    <i class="iconfont fr moreinfo">&#xe60d;</i>                    
                </li>
                <li>
                    <label for="city">市</label>
                    <div class="mySelect">
	                    <select id="city">
	                        <option value="载入中">载入中</option>
	                    </select>
	                </div>
	                <i class="iconfont fr moreinfo">&#xe60d;</i>
                </li>
                <li>
                    <label for="geographic">地理位置</label>
                    <input type="text"  id="geographic" />
                </li>
                <li>
                    <label for="area">面积</label>
                    <input type="text"  id="area" placeholder="冷库面积(㎡)" />
                </li>
                <li>
                    <label for="operateType">冷库经营类型</label>                    
                    <div class="mySelect">
	                    <select id="operateType">
	                        <option>不限</option>
	                        <option>产地型</option>
	                        <option>市场型</option>
	                        <option>仓储型</option>
	                        <option>配送型</option>
	                        <option>生产型</option>
	                        <option>中央厨房</option>
	                    </select>
	                </div>
                    <i class="iconfont fr moreinfo">&#xe60d;</i>
                </li>
                <li>
                    <label for="storageType">商品存放类型</label>                    
                    <div class="mySelect">
	                    <select id="storageType">
	                        <option>不限</option>
	                        <option>货架存放</option>
	                        <option>非货架存放</option>
	                    </select>
	                </div>
                    <i class="iconfont fr moreinfo">&#xe60d;</i>
                </li>
                <li>
                    <label for="temperatureType">冷库温度类型</label>                    
                    <div class="mySelect">
	                    <select id="temperatureType">
	                        <option>不限</option>
	                        <option>冷藏库</option>
	                        <option>冷冻库</option>
	                        <option>超低温库</option>
	                        <option>恒温库</option>
	                        <option>多温区库</option>
	                    </select>
	                </div>
                    <i class="iconfont fr moreinfo">&#xe60d;</i>
                </li>
                <li class="number">
                    <div>冷藏车数量</div>
                    <div>
                        <div><span><1.8T</span><input type="text"><span>量</span></div>
                        <div><span>1.8T-6T</span><input type="text"><span>量</span></div>
                        <div><span>6T-14T</span><input type="text"><span>量</span></div>
                        <div><span>>14T</span><input type="text"><span>量</span></div>
                    </div>
                </li>
                <li>
                    <label for="phone">联系电话</label>
                    <input type="text"  id="phone"/>
                </li>
                <li>
                    <label for="note">备注</label>
                    <input type="text"  id="note"/>
                </li>
                <li>
                    <label for="kg">吨位</label>                    
                    <div class="mySelect">
	                    <select id="kg">
	                        <option>(选填)</option>
	                    </select>
	                </div>
                    <i class="iconfont fr moreinfo">&#xe60d;</i>
                </li>
                <li>
                    <label for="structure">结构</label>                    
                    <div class="mySelect">
	                    <select id="structure">
	                        <option>(选填)</option>
	                    </select>
	                </div>
                    <i class="iconfont fr moreinfo">&#xe60d;</i>
                </li>
                <li>
                    <label for="deviceType">冷链设施类型</label>                    
                    <div class="mySelect">
	                    <select id="deviceType">
	                        <option>(选填)</option>
	                    </select>
	                </div>
                    <i class="iconfont fr moreinfo">&#xe60d;</i>
                </li>
                <li>
                    <label for="moon">是否有月台</label>                    
                    <div class="mySelect">
	                    <select id="moon">
	                        <option>(选填)</option>
	                    </select>
	                </div>
                    <i class="iconfont fr moreinfo">&#xe60d;</i>
                </li>
                <li>
                    <label for="cleanroom">是否有理货间</label>
                    <input type="text" id="cleanroom" placeholder="(选填)"/>
                </li>
                <li>
                    <label for="cleanarea">理货区面积</label>                    
                    <div class="mySelect">
	                    <select id="cleanarea">
	                        <option>(选填)</option>
	                    </select>
	                </div>
                    <i class="iconfont fr moreinfo">&#xe60d;</i>
                </li>
                <li>
                    <label for="temperatureTypeCtr">有无温控</label>                    
                    <div class="mySelect">
	                    <select id="temperatureTypeCtr">
	                        <option>(选填)</option>
	                    </select>
	                </div>
                    <i class="iconfont fr moreinfo">&#xe60d;</i>
                </li>
                <li>
                    <label for="cryogen">制冷剂类型</label>                    
                    <div class="mySelect">
	                    <select id="cryogen">
	                        <option>(选填)</option>
	                    </select>
	                </div>
                    <i class="iconfont fr moreinfo">&#xe60d;</i>
                </li>
                <li>
                    <label for="temperatureRecord">有无温度记录</label>                    
                    <div class="mySelect">
	                    <select id="temperatureRecord">
	                        <option>(选填)</option>
	                    </select>
	                </div>
                    <i class="iconfont fr moreinfo">&#xe60d;</i>
                </li>
                <li>
                    <label class="pic">
		    			<input type="file" id="files" name="files[]" multiple />
		    		</label>
		    		<span id="">上传图片</span>		    		
		   			<output id="list"></output>
                </li>
            </ul>
            <ul class="houseinfo black">
                 <li>
                     <label for="name">名称</label>
                     <input type="text"  id="name" placeholder="睿冷科技"/>
                 </li>
                <li>
                    <label for="Cryogen">制冷剂类型</label>                    
                    <div class="mySelect">
	                    <select id="Cryogen">
	                    </select>
	                </div>
                    <i class="iconfont fr moreinfo">&#xe60d;</i>
                </li>
                <li>
                    <label for="TemperatureRecord">有无温度记录</label>                    
                    <div class="mySelect">
	                    <select id="TemperatureRecord">
	                        <option>不限</option>
	                    </select>
	                </div>
                    <i class="iconfont fr moreinfo">&#xe60d;</i>
                </li>
             </ul>
            <!--双箭头下拉-->
            <div class="next"><i class="iconfont">&#xe649;</i></div>
        </form>
        <button class="mybtn" onclick="location.href='releasesuccess.html'">确认发布</button>
    </section>

    <ul class="footer">
        <li>           
            <a href="../index.html">
                <i class="iconfont">&#xe65a;</i>
                <p class="info">首页</p>
            </a>
        </li>
        <li class="active">            
            <a href="release.html">
                <i class="iconfont">&#xe666;</i>
                <p class="info">发布</p>
            </a>
        </li>
        <li>          
            <a href="share.html">
                <i class="iconfont">&#xe6bc;</i>
                <p class="info">共享</p>
            </a>
        </li>
        <li>            
            <a href="admin.html">
                <i class="iconfont">&#xe65e;</i>
                <p class="info">我的</p>
            </a>
        </li>
    </ul>
    <script type="text/javascript" src="../com/js/file_load.js" ></script>
<script type="text/javascript">
	$(function(){
		$('#province, #city').citylist({
            data: data,
            id: 'id',
            children: 'cities',
            name: 'name',
            metaTag: 'name'
        });
        /*$(".mySelect").click(function(){
        	$(this).siblings('i').html('&#xe607;')
        })*/
        
	})
</script>
</body>
</html>