<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>发布仓位</title>
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
<link rel="stylesheet" type="text/css" href="../com/datepicker/date.css">
    <link rel="stylesheet" type="text/css" href="../com/css/release.css">
   <script type="text/javascript" src="../com/js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="../com/js/jquery.city.select.min.js"></script>
<script type="text/javascript" src="../com/js/common.js"></script>
<script type="text/javascript" src="../com/datepicker/date.js"></script>
<script type="text/javascript" src="../com/datepicker/iscroll.js" ></script>
<script src="../bower_components/angular/angular.min.js"></script>
<script type="text/javascript"
	src="../bower_components/ng-file-upload/ng-file-upload-all.min.js"></script>
<script type="text/javascript" src="../app/js/releasestorage.js"></script>
    <script>
    	$(function() {
			$(".offershow").hide();
			$('.toggle').children('div').click(function(){
				$(this).addClass('current').siblings().removeClass('current')
				if($(this).index()==1){
					$('#name').attr('placeholder','货品求货')
					$(".offershow").show();
                    $(".bossToggle").hide();
					$('.coldlist').hide();
				}else{
					$('#name').attr('placeholder','货品出货')
					$(".offershow").hide();
                    $(".bossToggle").show();
					$('.coldlist').show();
				}
			});
			/*date*/
			$('#time').date();
		});
    </script>
</head>
<body ng-app="app" ng-controller="ctrl">
     <!-- header -->
        <header>
        	
            <div class="area fl">
                <a onclick="goback()"><i class="iconfont">&#xe60e;</i></a>
            </div>
            <div class="txt">
                发布货品
            </div>
        </header>
    <!-- header end-->
    <section class="toggle clearfix">
    	<div class="rent current fl"><i class="iconfont">&#xe64e;</i>出售</div>
    	<div class="offer fl"><i class="iconfont">&#xe64f;</i>求购</div>
    </section>
    <!--coldlist-->
    <div class="coldlist">
      <ul class="imgTable">
			<li class="imgCell"><a href="javascript:;"> <img class="fl"
					src="{{rdcdto.logo}}">
					<div class="">
						<p class='ellipsis'>{{rdcdto.name}}</p>
						<p class='position'>
							<i class="iconfont">&#xe66e;</i> {{rdcdto.address}}
						</p>
						<ul class='star'>
							<li class="filled">★</li>
							<li class="filled">★</li>
							<li class="filled">★</li>
							<li class="filled">★</li>
							<li>★</li>
						</ul>
					</div> </a></li>
		</ul>
    </div>
    <section class="main maindetail">
      <form id="release_item_from" name="itemform" >
        <input type="hidden" id="dataType" ng-model="dataType" value="1">
			      <input type="hidden" id="typeCode" ng-model="typeCode" value="1">
			      <input type="hidden" id="typeText" ng-model="typeText" value="出售">
			      <input type="hidden" id="rdcflag" ng-model="rdcflag" value="1">
            <ul class="houseinfo">
                <li>
                    <label for="name">描述</label>
                    <input type="text" ng-model="title"  id="name" placeholder="货品出售"/>
                </li>
                <li class="bossToggle">
                    <label for="boss">供应商</label>
                    <input type="text" ng-model="unit1" id="boss"/>
                </li>
                 <li class="offershow">
                    <label for="province">省</label>
                    <div class="mySelect">
                    	<select id="province" ng-model="provinceId" ng-disabled="editable" name="provinceId"
                                    ng-change="provinceSelected(provinceId)"
                                    ng-options="x.provinceId as x.provinceName for x in provinces"></select>
                    </div>
                     <i class="iconfont fr moreinfo">&#xe60d;</i>
                 </li>
                 <li class="offershow">
                    <label for="city">市</label>
                    <div class="mySelect">
	                    <select ng-model="cityId" name="cityid"
                                    ng-disabled="editable" ng-change="citySelected(cityId)"
                                    ng-options="x.cityID as x.cityName for x in citys"></select>
	                </div>
                     <i class="iconfont fr moreinfo">&#xe60d;</i>
                 </li>
                <li>
                    <label for="category">品类</label>
                    <div class="mySelect">
	                    <select id="category" id="good_type" name="codeLave1" ng-model="codeLave1">
	                       <option ng-repeat="x in  good_type" value="{{x.type_code}}">{{x.type_name}}</option>
	                    </select>
	                </div>
                    <i class="iconfont fr moreinfo">&#xe60d;</i>
                </li>
                <li>
                    <label for="num">数量</label>
                    <input type="text" id="num" placeholder="吨" ng-model="sqm"/>
                </li>
                <li>
                    <label for="price">单价</label>
                    <input type="text" ng-model="unitprice" id="price" placeholder="元/吨"/>
                </li>
                <li>
                    <label for="time">信息有效期</label>
                    <div class="mySelect">
						<input type="text" id="time" class="kbtn" ng-model="reservationtime"/>
					</div>
                    <i class="iconfont fr">&#xe63a;</i>
                </li>
                <li>
                    <label for="phone">联系电话</label>
                    <input type="text" id="phone" ng-model="telephone" />
                </li>
                <li>
                    <label for="note">备注</label>
                    <input type="text" ng-model="note" id="note" placeholder="（选填）"/>
                </li>
                <li>
                    <label class="pic">
		    			<input input type="file" id="files" ngf-select="addFiles($files)" ng-model="files"  ngf-multiple="true" name="files"  />
				 </label> <span id="">上传图片</span><br>
	            <output id="list"></output>
                </li>
            </ul>
        </form>
        <button class="mybtn" ng-click="goodSubmit()" >确认发布</button>
    </section>
    <div id="datePlugin"></div>
    <!--<ul class="footer">
        <li>           
            <a href="../index.html">
                <i class="iconfont">&#xe65a;</i>
                <p class="info">首页</p>
            </a>
        </li>
        <li>          
             <a href="news.html">
                <i class="iconfont">&#xe6f8;</i>
                <p class="info">资讯</p>
            </a>
        </li>
        <li class="active">            
            <a href="release.html">
                <i class="iconfont">&#xe6ff;</i>
                <p class="info">发布</p>
            </a>
        </li>
        <li>          
            <a href="review.html">
                <i class="iconfont">&#xe642;</i>
                <p class="info">追溯</p>
            </a>
        </li>
        <li>            
            <a href="user.html">
                <i class="iconfont">&#xe6fd;</i>
                <p class="info">我的</p>
            </a>
        </li>
    </ul>-->
    <script type="text/javascript" src="../com/js/file_upload.js" ></script>
</body>
</html>