<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta charset="utf-8" name="keywords"
	content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商" />
<meta charset="utf-8" name="description"
	content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。" />
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
<title>发布仓位</title>
<link rel="stylesheet" type="text/css" href="../com/css/common.css">
<link rel="stylesheet" type="text/css" href="../com/css/release.css">
<!-- <link rel="stylesheet" type="text/css" href="../com/css/coldlist.css" /> -->
<script type="text/javascript" src="../com/js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="../com/js/jquery.city.select.min.js"></script>
<script type="text/javascript" src="../com/js/common.js"></script>
<script src="../bower_components/angular/angular.min.js"></script>
<script type="text/javascript"
	src="../bower_components/ng-file-upload/ng-file-upload-all.min.js"></script>
<script type="text/javascript" src="../app/js/releaseStorageList.js"></script>
<script type="text/javascript" src="../app/js/releasestorage.js"></script>
<script>
        
    	$(function() {
			$('.toggle').children('div').click(function(){
				$(this).addClass('current').siblings().removeClass('current');
				if($(this).index()==1){
					$(".main").show();
					$('.coldlist,.radiocar').hide();
				}else{
					$(".main").hide();
					$('.coldlist,.radiocar').show();
				}
			})
			$('.radiocar').children('div').click(function(){
				/*alert(event.target.nodeName);*/
				if(event.target.nodeName !== "DIV"){					
					$('input[type="radio"]').removeClass('blue');					
					$(this).children('input').addClass("blue")
				}
			})
		});
    </script>
</head>
<body ng-app="app" ng-controller="ctrl">
	<!-- header -->
	<header>

		<div class="area fl">
			<a onclick="goback()"><i class="iconfont">&#xe60e;</i>
			</a>
		</div>
		<div class="txt">发布仓位</div>
	</header>
	<!-- header end-->
	<section class="toggle clearfix">
		<div class="rent current fl">
			<i class="iconfont">&#xe675;</i>出租
		</div>
		<div class="offer fl">
			<i class="iconfont">&#xe673;</i>求租
		</div>
	</section>
	<!--coldlist-->
	<div class="coldlist">
		<!-- 仓储信息区域start -->
		<div ng-show="rdcsList.length<=0">
			<p class="sorry">抱歉！ 系统未找到您的冷库的信息，如需出租或发布关联库信息请先添加冷库！</p>
			<p class="sorry">
				<button class="mybtn" ng-click="goaddrdcpag();">添加冷库信息</button>
		</div>
		<!--coldlist-->
		<div>
			<ul id="ul_rdcsL_list" class="imgTable"></ul>
			<a id="loading" href="javascript:;" onclick="getPageData();"></a>
		</div>
	</div>
	<!--求租-->
	<section class="main maindetail  black">
		<form id="release_item_from" name="itemform" >
		          <input type="hidden" id="dataType" ng-model="dataType" value="3">
			      <input type="hidden" id="typeCode" ng-model="typeCode" value="2">
			      <input type="hidden" id="typeText" ng-model="typeText" value="求租">
			       <input type="hidden" id="rdcflag" ng-model="rdcflag" value="0">
			<ul class="houseinfo">
				<li><label for="name">描述</label> <input type="text" id="name" ng-model="title"
					placeholder="求租仓位" /></li>
				<li><label for="province">省</label>
					<div class="mySelect">
						<select id="province" ng-model="provinceId" ng-disabled="editable" name="provinceId"
                                    ng-change="provinceSelected(provinceId)"
                                    ng-options="x.provinceId as x.provinceName for x in provinces"></select>
					</div> <i class="iconfont fr moreinfo">&#xe60d;</i></li>
				<li><label for="city">市</label>
					<div class="mySelect">
						<select id="city" ng-model="cityId" name="cityid"
                                    ng-disabled="editable" ng-change="citySelected(cityId)"
                                    ng-options="x.cityID as x.cityName for x in citys"></select>
					</div> <i class="iconfont fr moreinfo">&#xe60d;</i></li>
				<li><label for="temperatureType">冷库温度类型</label>
					<div class="mySelect">
						<select ng-model="temperType" name="temperType"
                                    ng-change="TemperTypeSelected(temperType)"
                                    ng-options="x.id as x.type for x in temperTypes"></select>
					</div> <i class="iconfont fr moreinfo">&#xe60d;</i></li>
				<li><label for="storageType">经营类型</label>
					<div class="mySelect">
						<select ng-model="storageType" name="storageType"
                                    ng-change="StorageTypeSelected(storageType)"
                                    ng-options="x.id as x.type for x in storageTypes"></select>
					</div> <i class="iconfont fr moreinfo">&#xe60d;</i></li>
				<li><label>数/质/量</label> 
					<input type="text" id="sqm" ng-model="sqm" style="min-width:4rem;width:5rem;"/>
					<label><input type="radio" name="quality" ng-model="unit" name="unit"
					value="吨" />吨</label>
			    	<label><input type="radio" name="quality" value="平方米" ng-model="unit" name="unit"
					checked />平方米 </label>
			   		<label><input type="radio" name="quality" value="其他"  ng-model="unit" name="unit" />其他</label>
				</li>
			    
				<li><label for="price">单价</label> <input type="text" id="price" name="unitPrice"
					placeholder="元/天·平方米" ng-model="unitprice"/></li>
				<li><label for="time">信息有效期</label> <input type="date" name="reservationtime"
					id="time" ng-model="reservationtime"/> <i class="iconfont fr">&#xe63a;</i></li>
				<li><label for="phone">联系电话</label> <input type="text" name="telephone"
					id="phone"  ng-model="telephone"/></li>
				<li><label for="note">备注</label> <input type="text" id="note"
					placeholder="（选填）" ng-model="note" name="note"/></li>
				<li><label class="pic"> <input input type="file" id="files" ngf-select="addFiles($files)" ng-model="files"  ngf-multiple="true" name="files"  />
				 </label> <span id="">上传图片</span><br>
	            <output id="list"></output>
			</ul>
		</form>
		<button class="mybtn" ng-click="submit()">确认发布</button>
	</section>
	<ul class="footer">
		<li><a href="../index.html"> <i class="iconfont">&#xe65a;</i>
				<p class="info">首页</p> </a></li>
		<li><a href="news.html"> <i class="iconfont">&#xe6f8;</i>
				<p class="info">资讯</p> </a></li>
		<li class="active"><a href="release.html"> <i
				class="iconfont">&#xe6ff;</i>
				<p class="info">发布</p> </a></li>
		<li><a href="review.html"> <i class="iconfont">&#xe642;</i>
				<p class="info">追溯</p> </a></li>
		<li><a href="user.html"> <i class="iconfont">&#xe6fd;</i>
				<p class="info">我的</p> </a></li>
	</ul>
</body>
</html>