<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta charset="utf-8" name="keywords"
	content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商" />
<meta charset="utf-8" name="description"
	content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。" />
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
<title>发布仓位</title>
<link rel="stylesheet" type="text/css" href="../com/css/common.css">
<link rel="stylesheet" type="text/css" href="../com/css/release.css">
<link rel="stylesheet" type="text/css" href="../com/datepicker/date.css">
<script type="text/javascript" src="../com/js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="../com/js/jquery.city.select.min.js"></script>
<script type="text/javascript" src="../com/js/common.js"></script>
<script src="../bower_components/angular/angular.min.js"></script>
<script type="text/javascript"
	src="../bower_components/ng-file-upload/ng-file-upload-all.min.js"></script>
<script type="text/javascript" src="../app/js/releasestorage.js"></script>
<script type="text/javascript" src="../com/datepicker/date.js"></script>
<script type="text/javascript" src="../com/datepicker/iscroll.js" ></script>
<script type="text/javascript"> 
    	$(function() {
			$(".offershow").hide();
			$('.toggle').children('div').click(function(){
				$(this).addClass('current').siblings().removeClass('current')
				if($(this).index()==1){
					$('#name').attr('placeholder','仓位求租')
					$(".offershow").show();
					$('.coldlist').hide();
				}else{
					$('#name').attr('placeholder','仓位出租')
					$(".offershow").hide();
					$('.coldlist').show();
				}
			});
			 $('#sttime').date();
			 $('#endtime').date();
		});
		function radioFn(ops){
			$('input[type="radio"]').removeClass('blue');					
			$(ops).addClass("blue");
		};
    </script>
</head>
<body ng-app="app" ng-controller="ctrl">
	<!-- header -->
	<header>

		<div class="area fl">
			<a onclick="goback()"><i class="iconfont">&#xe60e;</i>
			</a>
		</div>
		<div class="zoom fr"> <a href="../index.html"> <i class="iconfont">&#xe65a;</i> </a></div>
		<div class="txt">发布仓位</div>
	</header>
	<!-- header end-->
	<section class="toggle clearfix">
		<div class="rent current fl">
			<i class="iconfont">&#xe675;</i>出租
		</div>
		<div class="offer fl">
			<i class="iconfont">&#xe673;</i>求租
		</div>
	</section>
	<!--coldlist-->
	<div class="coldlist">
		<ul class="imgTable">
			<li class="imgCell"><a href="javascript:;"> <img class="fl"
					src="{{rdcdto.logo}}">
					<div class="">
						<p class='ellipsis'>{{rdcdto.name}}</p>
						<p class='position'>
							<i class="iconfont">&#xe66e;</i> {{rdcdto.address}}
						</p>
						<ul class='star'  ng-repeat="item in star">
							<li class="filled">★</li>
							<!-- <li ng-repeat="item in nostar">★</li> -->
						</ul>
					</div> </a></li>
		</ul>
	</div>
	<section class="main maindetail">
	<form id="release_item_from" name="itemform" >
		          <input type="hidden" id="dataType" ng-model="dataType" value="3">
			      <input type="hidden" id="typeCode" ng-model="typeCode" value="2">
			      <input type="hidden" id="typeText" ng-model="typeText" value="求租">
			       <input type="hidden" id="rdcflag" ng-model="rdcflag" value="0">
			<ul class="houseinfo">
				<li><label for="name">描述</label><em>*</em> <input type="text" id="name"
					placeholder="仓位出租" ng-model="title"/></li>
				<li class="offershow"><label for="province">省</label><em>*</em>
					<div class="mySelect">
						<select id="province" ng-model="provinceId" ng-disabled="editable" name="provinceId"
                                    ng-change="provinceSelected(provinceId)"
                                    ng-options="x.provinceId as x.provinceName for x in provinces"></select>
					</div> <i class="iconfont fr moreinfo">&#xe60d;</i></li>
				<li class="offershow"><label for="city">市</label><em>*</em>
					<div class="mySelect">
						<select id="city" ng-model="cityId" name="cityid"
                                    ng-disabled="editable" ng-change="citySelected(cityId)"
                                    ng-options="x.cityID as x.cityName for x in citys"></select>
					</div> <i class="iconfont fr moreinfo">&#xe60d;</i></li>
				<li><label for="temperatureType">冷库温度类型</label><em>*</em>
					<div class="mySelect">
						<select id="temperatureType" ng-model="temperType" name="temperType"
                                    ng-change="TemperTypeSelected(temperType)"
                                    ng-options="x.id as x.type for x in temperTypes"></select>
					</div> <i class="iconfont fr moreinfo">&#xe60d;</i></li>
				<li><label for="storageType">经营类型</label><em>*</em>
					<div class="mySelect">
						<select ng-model="storageType" name="storageType"
                                    ng-change="StorageTypeSelected(storageType)"
                                    ng-options="x.id as x.type for x in storageTypes"></select>
					</div> <i class="iconfont fr moreinfo">&#xe60d;</i></li>
				<li><label>数/质/量</label> <em>*</em>
				<input type="text" id="sqm" ng-model="sqm" style="min-width:4rem;width:4rem;"/>
				<label><input type="radio" name="quality" ng-model="unit" name="unit"
					value="元/天·吨" />吨</label>&nbsp;&nbsp;
			    <label><input type="radio" name="quality" value="元/天·平方米" ng-model="unit" name="unit"
					checked />平方米 </label> &nbsp;&nbsp;
			    <label><input type="radio" name="quality" value="元/天·其他"  ng-model="unit" name="unit" />其他</label> </li>
					
				<li><label for="price">单价</label> <input type="text" id="price" name="unitPrice"
					placeholder="元/天·单位（面议）" ng-model="unitprice"/></li>
					
				<li>
					<label for="time">有效开始时间</label><em>*</em>
					<div class="mySelect">
						<input type="text" id="sttime" placeholder="请选择开始时间" class="kbtn"/>
					</div>
					<i class="iconfont fr">&#xe63a;</i>
				</li>
				
				<li>
					<label for="time">有效结束时间</label><em>*</em>
					<div class="mySelect">
						<input type="text" id="endtime" placeholder="请选择结束时间" class="kbtn"/>
					</div>
					<i class="iconfont fr">&#xe63a;</i>
				</li>
					
				<li><label for="phone">联系电话</label><em>*</em>  <input type="text" name="telephone"
					id="phone"  ng-model="telephone"/></li>
					
				<li><label for="note">备注</label> <input type="text" id="note"
					placeholder="（选填）" ng-model="note" name="note"/></li>
				<li><label class="pic"> <input input type="file" id="files" ngf-select="addFiles($files)" ng-model="files"  ngf-multiple="true" name="files"  />
				 </label> <span id="">上传图片</span><br>
	              <output id="img_list1" class="img_list"><span ng-repeat="honorfile in totalfiles"><img class="thumb" ngf-src="honorfile" title="{{honorfile.name}}"><i ng-click="drophonor(honorfile)">×</i></span></output>
			</ul>
		</form>
	<button class="mybtn" ng-click="submit()">确认发布</button>
	</section>
	<div id="datePlugin"></div>
	<!--<ul class="footer">
		<li><a href="../index.html"> <i class="iconfont">&#xe65a;</i>
				<p class="info">首页</p> </a></li>
		<li><a href="news.html"> <i class="iconfont">&#xe6f8;</i>
				<p class="info">资讯</p> </a></li>
		<li class="active"><a href="release.html"> <i
				class="iconfont">&#xe6ff;</i>
				<p class="info">发布</p> </a></li>
		<li><a href="review.html"> <i class="iconfont">&#xe642;</i>
				<p class="info">追溯</p> </a></li>
		<li><a href="user.html"> <i class="iconfont">&#xe6fd;</i>
				<p class="info">我的</p> </a></li>
	</ul>-->
	<script type="text/javascript" src="../com/js/file_upload.js"></script>
</body>
</html>