<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>发布库</title>
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
    <link rel="stylesheet" type="text/css" href="../com/css/release.css">
    <script type="text/javascript" src="../com/js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
</head>
<body style="background: #fff;">
    <!-- header -->
        <header>
        	
            <div class="area fl">
                <a onclick="goback()"><i class="iconfont">&#xe60e;</i></a>
            </div>
            <div class="txt">
                发布库
            </div>
        </header>
    <section class="nostorage" style="margin-top: 6rem;">
        <img src="../com/img/no.png" height="265" width="303"/>
        <p class="success">很抱歉，没有相关的库</p>
        <div class="mybtn" onclick="location.href='releasekutable.html'"><i class="iconfont">&#xe666;</i>发布库</div>
    </section>
    <ul class="footer">
        <li>           
            <a href="../index.html">
                <i class="iconfont">&#xe65a;</i>
                <p class="info">首页</p>
            </a>
        </li>
        <li class="active">            
            <a href="release.html">
                <i class="iconfont">&#xe666;</i>
                <p class="info">发布</p>
            </a>
        </li>
        <li>          
             <a href="news.html">
                <i class="iconfont">&#xe6f8;</i>
                <p class="info">资讯</p>
            </a>
        </li>
        <li>            
            <a href="user.html">
                <i class="iconfont">&#xe65e;</i>
                <p class="info">我的</p>
            </a>
        </li>
    </ul>
</body>
</html>