<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>追溯</title>
	    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
	    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
	    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
	    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
	    <link rel="stylesheet" href="../com/css/coldlist.css" />
	    <script type="text/javascript" src="../com/js/jquery-1.12.0.min.js"></script>
	    <script type="text/javascript" src="../com/js/common.js"></script>
	</head>
	<body style="background: #fff">
		<!-- header -->
		    <header>
		    	
	        	<div class="area fl">
	        		<a onclick="goback()"><i class="iconfont">&#xe60e;</i></a>
	        	</div>
	        	
	        	<div class="search review_s">
	        		<input type="text" onclick="inputFocus(this)" placeholder="请输入订单号或商品编号"/>
	        		<i class="iconfont">&#xe62f;</i>
	        		<ul class="searchList">
	        			<li><a href="javaScript:;" onclick="tapA (this)">按订单号或商品编号搜索</a></li>
	        			<li><a href="javaScript:;" onclick="tapA (this)">按车辆编号、冷库/冷柜编号搜索</a></li>
	        		</ul>
	        	</div>
		    </header>
		<!-- header end-->
<!-- 		<section class="main codeMain"> -->
			<section class="main">
<!-- 			<img src="../com/img/code.jpg"/> -->
			<ul class="listDad clearfix">
				<li class="fl" style="color:#666">最近查询</li>
			</ul>
			<p style="font-size: .75rem" class="delete">暂无查询记录</p>

		</section>
		<script>
			function inputFocus (ops) {
				$(".searchList").show()
				event.stopPropagation();
			};
			function tapA (ops){
				var $val = $(ops).html();
				$(".search input").attr("placeholder",$val);
				$(".search input").val("");
				$(".search input").focus()
				$(".searchList").hide();
			}

			$(function() {
				$(document).click(function(){
					$(".searchList").hide();
					event.stopPropagation();
				})
				$(".search i").click(function(event) {
					$(".searchList").hide();
					if($('.search input').val() != "" || $('.search input').val() != undefined){
						alert('抱歉，没有查询到相关信息');
					}
					event.stopPropagation();
				});
			});
		</script>
	</body>
</html>

