<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>搜索</title>
	    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
	    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
	    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
	    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
	    <link rel="stylesheet" href="../com/css/coldlist.css" />
	    <script type="text/javascript" src="../com/js/jquery-1.12.0.min.js"></script>
	    <script type="text/javascript" src="../com/js/common.js"></script>
	    <script type="text/javascript">
		$().ready(function() { 
			  var ul_select=$("#ul_rdcsL_list");
			  var maxSize=10,totalPages=  currentPage=  1,isLoadRB=false;  
			  $("#searchDara_div input").val(window.sessionStorage.getItem("shdatakey"));window.sessionStorage.removeItem("shdatakey");
		      gosharedile=function(sharid){window.location.href ="colddetail.html?id="+sharid;};
		      initevg=function(){
		   		$(".droplist a").click(function(e){//条件过滤
		   			$(this).children('i').addClass('current').html('&#xe62e;');
		   			$(this).addClass('current').next('.listcontain').slideDown().parent().siblings().children('a').removeClass('current').children('i').removeClass('current').html('&#xe62d;').parent().siblings('.listcontain').hide();
		   			$(".backDrop").show();
		   		});
		   	    $(".backDrop").click(function(){
					$(".droplist a").removeClass('current').children('i').removeClass('current').html('&#xe62d;');
					$('.listcontain').hide();
					$(this).hide();
				});
		   	    $("#searchDara_div i").click(function(e){//搜索
		   	    	currentPage=1;
		 	  		ul_select.empty();
		   	  	    getPageData();
		   	    });
		   	    $(window).scroll(function(){
		     	    var scrollTop = $(this).scrollTop();
			     	var scrollHeight = $(document).height();
			     	var windowHeight = $(this).height();
			     	if(scrollTop + windowHeight > scrollHeight-30){
			     		if(isLoadRB==false&&currentPage<totalPages){
			     		   getPageData();
			     		}
			     	};
		     	});
		     };
		      addfilter= function(em){
		  		var $this = $(em).html();
		  		$(em).addClass('active').siblings().removeClass('active').parent().parent().hide();
		  		$(em).parent().parent().siblings('a').children('span').html($this);
		  		$(".backDrop").hide();
		  		$(em).parent().parent().siblings().removeClass('current').children('i').removeClass('current').html('&#xe62d;');
		  		currentPage=1;
		  		ul_select.empty();
		  		getPageData();
		  	 };
		  	 initFilter=function(){
		  		   var mtlist=[],stlist=[],prove=[];
		  		   $.get(ER.root+'/i/city/findProvinceList',function(data) {
						 $.each(data, function(i, vo){prove.push("<li value='"+vo.provinceId+"' >"+vo.provinceName+"</li>"); });
						 $("#ul_address_list").append(prove.join("")); 
						 $("#filter_section li").click(function(event) {addfilter(this);});
		  		   });
		  		 
		  	 };
		  	 getFilter=function(pageNum,pageSize){
		  			var datatype =$("#ul_data_type li.active").attr("value");//类型
		  			var orderby =$("#ul_order_list li.active").attr("value");//排序
		  			var adds=$("#ul_address_list li.active").attr("value");////地区
		  			var keyword=$("#searchDara_div input").val();////关键字搜索
		  		    var _options={ datatype:datatype, orderby: orderby,provinceid:adds,keyword:keyword};
		  		    var _filter={pageNum : pageNum,pageSize : pageSize};jQuery.extend(_filter, _options);
		  		    return _filter;
		  	};
		  	function getcolhtml(rdc){
		  		  var score=["<li class='imgCell' ><a href='colddetail.html?id="+rdc.id+"'><img class='fl' src='"+rdc.logo+"'><div><p class='ellipsis'>"+rdc.name+"</p><p class='position omg'><i class='iconfont'>&#xe66e;</i>"+rdc.address+"</p><ul class='star' value='"+rdc.score+"'>"];
		  		  for ( var i = 1; i <= 5; i++) { score.push(i<=rdc.score?"<li class='filled'>★</li>":"<li>★</li>"); }
		  		  score.push('</ul></div></a><button class="grab" onclick="gosharedile('+rdc.id+');" >详情</button></li>');
		  		  return score.join("");
		  	}
		  	function getshehtml(rdc){
		  		  var score=['<li class="imgCell" ><a href="storehousedetail.html?id='+rdc.id+'"><img class="fl" src="'+rdc.logo+'"><div><p class="ellipsis">【'+rdc.typeText+"】"+rdc.title+'</p><p class="position omg"><i class="iconfont">&#xe66e;</i>'+rdc.detlAddress+'</p><ul class="star" value="'+rdc.score+'">'];
		  		  for ( var i = 0; i < 5; i++) { score.push(i<=rdc.score&&i!=0?'<li class="filled">★</li>':"<li class='filled'>★</li>"); }
		  		  score.push('</ul></div></a><button class="grab" onclick="gosharedile('+rdc.id+');" >立即联系</button></li>');
		  		 return score.join("");
		  	}
		  	function getPageData(){//启用无限加载
		        isLoadRB=true;
		  	   var _filter=  getFilter(currentPage,maxSize);
	            $.ajax({
	              type: "POST",
	              url:ER.root+"/i/UtilController/searchdata",
	              data:_filter,//
	              success: function(data) {
	                 if(data.success){
	                	 var vo=data.entity;
	                	 var rdcList=vo.rdcList;
	                	 var sharList=vo.sharList;
	                	 var html=[];
	                	 if(rdcList){
	     	   	         	  var   rdcsList = rdcList.list;//
	     	   	              $.each(rdcsList, function(index, item) {
	     	   	                   html.push( getcolhtml(item));
	     	   	               });
	                	 }
	                	 if(sharList){
	     	   	         	  var   rdcsList = sharList.list;//
	     	   	              $.each(rdcsList, function(index, item) {
	     	   	                 html.push( getshehtml(item));
	     	   	               });
	                	 }
	                	  ul_select.append(html.join(""));
	                	  $(".nodata").hide();
	                 }else{
	                	$(".nodata").show();
	                 }
	                  isLoadRB=false;
	              }
	          });
		  	};
		  	getPageData();
		  	initFilter();
		  	initevg();
		});	
	    </script>
	</head>
	<body style="background-color: #fff;">
		<!-- header -->
		    <header>
	        	<div class="area fl">
	        		<a onclick="goback()"><i class="iconfont">&#xe60e;</i></a>
	        	</div>
	        	<div id="searchDara_div" class="search">
	        		<input type="text" placeholder="请输入关键字"/>
	        		<i class="iconfont">&#xe62f;</i>
	        	</div>
		    </header>
		<!-- header end-->
		<section id="filter_section" class="fixed">
			  <div class="droplist">
					<a href="javascript:;"><span>分类</span><i class="iconfont">&#xe62d;</i></a>
					<div class="listcontain">
						<div class="type">分类</div>
						<ul id="ul_data_type" class="list">
							<li class="active" value="">不限</li>
							<li value="1">冷库信息</li>
							<li value="2">共享信息</li>
						</ul>
					</div>
				</div>
				<div class="droplist">
					<a href="javascript:;"><span>区域</span><i class="iconfont">&#xe62d;</i></a>
					<div class="listcontain">
						<div class="type">区域</div>
						<ul id="ul_address_list" class="list">
							<li class="active" value="">不限</li>
						</ul>
					</div>
				</div>
				<div class="droplist">
					<a href="javascript:;"><span>智能排序</span><i class="iconfont">&#xe62d;</i></a>
					<div class="listcontain">
						<div class="type">智能排序</div>
						<ul id="ul_order_list" class="list">
							<li class="active" value="">智能排序</li>
							<li value="1">好评优先</li>
							<li value="2">离我最近</li>
						</ul>
					</div>
				</div>
		</section>
		<!--筛选之后无数据时显示下面图片-->
		<div class="nodata">
			<img src="../com/img/nodata.jpg" alt="" />
			<p>没有符合筛选条件的数据哦~~</p>
		</div>
		<!--筛选之后无数据时显示下面图片-->
		<div class="backDrop"></div>
		<!--coldlist-->
        <div class="coldlist fixtop">
	        <ul id="ul_rdcsL_list" class="imgTable" ></ul>
             <a id="loading" href="javascript:;" onclick="getPageData();"></a>  
        </div>
		
	</body>
</html>

