<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>详情</title>
	    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
	    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
	    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
	    <link type="text/css" rel="stylesheet" href="../com/css/common.css">
    <link rel="stylesheet" type="text/css" href="../com/css/layer.css">
        <link rel="stylesheet" type="text/css" href="../com/css/baguettebox.min.css">  
	    <link type="text/css" rel="stylesheet" href="../com/css/coldlist.css" />
	    <script type="text/javascript" src="../com/js/jquery-3.1.0.min.js"></script>
	    <script type="text/javascript" src="../com/js/angular.min.js"></script>
	    <script type="text/javascript" src="../com/js/jquery.imgbox.pack.js"></script>
	    <script type="text/javascript" src="../com/js/common.js"></script>
        <script type="text/javascript" src="../com/js/layer.js"></script>
	    <script type="text/javascript" src="../com/js/baguettebox.min.js"></script>
	    <script type="text/javascript" src="../app/js/storehousedetail.js"></script>
	</head>
	<body style="background-color: #fff;display: none;" ng-app="app"  ng-controller="storehousedetail" on-finish-render-filters>
		<!-- header -->
		    <header>
	        	<div class="area fl">
	        		<a onclick="goback()"><i class="iconfont">&#xe60e;</i></a>
	        	</div>
	        	<div class="zoom fr">
	        		<a href="../index.html"><i class="iconfont">&#xe65a;</i></a>
	        	</div>
	        	<div class="txt">{{appmode[0].title[datatype]}}</div>
		    </header>
		<!-- header end-->
		<section class="main">
		
			<ul class="compantDetail clearfix">
				<li>
					<p class='ellips'>{{vo.title}}<span class="gold">【{{vo.typeText}}】</span></p>
					<p class='position' ng-if="vo.detlAddress!=''&&vo.detlAddress!=undefined">
						<i class="iconfont">&#xe66e;</i>{{vo.detlAddress}}
					</p>
				</li>
			</ul>
			 <div id="she_imglist" class="baguetteBoxOne gallery" ng-if="vo.files">
                <a ng-repeat="fl in vo.files" href="{{fl}}"><img ng-src="{{fl}}"/></a>
            </div>
			<!-- <ul id="she_imglist" class="imglist">
				<li ng-repeat="fl in vo.files"><a href="{{fl}}"><img ng-src="{{fl}}" alt="" /></a></li>
			</ul> -->
			<!-- ======================================================================================= 冷仓信息共享-->
			<div ng-if="vo.dataType==3">
			<ul class="infolist clearfix">
				<li class="widthL" ng-if="vo.rdcID!=0"><span class="type">冷库名称：</span><span class="text">{{vo.name}}</span></li>
				<li class="widthL" ng-if="vo.detlAddress!=''&&vo.detlAddress!=undefined"><span class="type">冷库地址:</span><span class="text">{{vo.detlAddress}}</span></li>
				<li  ng-if="vo.codeLave1!=''&&vo.codeLave1!=undefined"><span class="type">经营类型：</span><span class="text">{{vo.codeLave1}}</span></li>
				<li ng-if="vo.codeLave2!=''&&vo.codeLave2!=undefined"><span class="type">温度类型：</span><span class="text">{{vo.codeLave2}}</span></li>
				<li>
					<span class="type fl">星级：</span>
					<ul class='star fl'>
						<li class="filled">★</li>
						<li class="filled">★</li>
						<li class="filled">★</li>
						<li class="filled">★</li>
						<li class="filled">★</li>
					</ul>
				</li>
				<li><span class="type">{{appmode[datatype].lab[0][0]}}：</span><span class="text">{{vo.sqm}}{{vo.unit!=null?vo.unit.substr(4):appmode[datatype].lab[0][1] }}</span></li>
				<li><span class="type">{{appmode[datatype].lab[1][0]}}：</span><span class="text">{{vo.unitPrice == '0.00' ?"面议":vo.unitPrice}}</span><span ng-if="vo.unitPrice != '0.00'"> {{vo.unit!=null?vo.unit:appmode[datatype].lab[1][1] }}</span></li>
				<li  style="width:100%;"><span class="type">有效开始时间：</span><span class="text">{{vo.validStartTime |date:"yyyy-MM-dd" }}</span></li>
				<li  style="width:100%;"><span class="type">有效结束时间：</span><span class="text">{{vo.validEndTime |date:"yyyy-MM-dd" }}</span></li>
				<!--<li><span class="type">电话：</span><span class="text">{{vo.telephone}}</span></li>-->
			</ul>
			</div>
			<!-- =======================================================================================货物信息共享 -->
			<div ng-if="vo.dataType==1">
			<ul class="infolist clearfix">
				<li class="widthL" ng-if="vo.rdcID!=0"><span class="type">冷库名称：</span><span class="text">{{vo.name}}</span></li>
				<li class="widthL" ng-if="vo.detlAddress!=''&&vo.detlAddress!=undefined"><span class="type">冷库地址:</span><span class="text">{{vo.detlAddress}}</span></li>
				<li ng-if="vo.unit1!=''&&vo.unit1!=undefined"><span class="type">供应商：</span><span class="text">{{vo.unit1}}</span></li>
				<li ng-if="vo.codeLave1!=''&&vo.codeLave1!=undefined"><span class="type">品类：</span><span class="text">{{vo.codeLave1}}</span></li>
				<li>
					<span class="type fl">星级：</span>
					<ul class='star fl'>
						<li class="filled">★</li>
						<li class="filled">★</li>
						<li class="filled">★</li>
						<li class="filled">★</li>
						<li>★</li>
					</ul>
				</li>
				<li><span class="type">{{appmode[datatype].lab[0][0]}}：</span><span class="text">{{vo.sqm}}{{vo.unit!=null?vo.unit.substr(4):appmode[datatype].lab[0][1] }}</span></li>
				<li><span class="type">{{appmode[datatype].lab[1][0]}}：</span><span class="text">{{vo.unitPrice == '0.00' ?"面议":vo.unitPrice}}</span><span ng-if="vo.unitPrice != '0.00'"> {{vo.unit!=null?vo.unit:appmode[datatype].lab[1][1] }}</span></li>
				<li  style="width:100%;"><span class="type">有效开始时间：</span><span class="text">{{vo.validStartTime |date:"yyyy-MM-dd" }}</span></li>
				<li  style="width:100%;"><span class="type">有效结束时间：</span><span class="text">{{vo.validEndTime |date:"yyyy-MM-dd" }}</span></li>
				<!--<li><span class="type">电话：</span><span class="text">{{vo.telephone}}</span></li>-->
			</ul>
			</div>
			<!-- ======================================================================================= 冷运信息共享-->
			<div ng-if="vo.dataType==2">
			<ul class="infolist clearfix">
				<li class="widthL" ng-if="vo.rdcID!=0"><span class="type">冷库名称：</span><span class="text">{{vo.name}}</span></li>
				<li class="widthL" ng-if="vo.detlAddress!=''&&vo.detlAddress!=undefined"><span class="type">冷库地址:</span><span class="text">{{vo.detlAddress}}</span></li>
				<li ng-if="vo.codeLave1!=''&&vo.codeLave1!=undefined"><span class="type">业务类型：</span><span class="text">{{vo.codeLave1}}</span></li>
				<li ng-if="vo.codeLave2!=''&&vo.codeLave2!=undefined"><span class="type">温度类型：</span><span class="text">{{vo.codeLave2}}</span></li>
				<li ng-if="vo.codeLave3!=''&&vo.codeLave3!=undefined"><span class="type">车型：</span><span class="text">{{vo.codeLave3}}</span></li>
				<li>
					<span class="type fl">星级：</span>
					<ul class='star fl'>
						<li class="filled">★</li>
						<li class="filled">★</li>
						<li class="filled">★</li>
						<li class="filled">★</li>
						<li>★</li>
					</ul>
				</li>
				<li><span class="type">{{appmode[datatype].lab[1][0]}}：</span><span class="text">{{vo.unitPrice == '0.00' ?"面议":vo.unitPrice}}</span><span ng-if="vo.unitPrice != '0.00'"> {{vo.unit!=null?vo.unit:appmode[datatype].lab[1][1] }}</span></li>
				<li style="width:100%;"><span class="type">出发地址：</span><span class="text">{{vo.unit1}}</span></li>
				<li style="width:100%;"><span class="type">目的地址：</span><span class="text">{{vo.unit2}}</span></li>
				<li style="width:100%;"><span class="type">出发时间：</span><span class="text">{{vo.validStartTime |date:"yyyy-MM-dd" }}</span></li>
				<li style="width:100%;"><span class="type">目的时间：</span><span class="text">{{vo.validEndTime |date:"yyyy-MM-dd" }}</span></li>
				<!--<li><span class="type">电话：</span><span class="text">{{vo.telephone}}</span></li>-->
<!-- 				<li><span class="type">{{appmode[datatype].lab[0][0]}}：</span><span class="text">{{vo.sqm}}{{vo.unit!=null?vo.unit.substr(4):appmode[datatype].lab[0][1] }}</span></li> -->
				
			</ul>
			</div>
			<!-- ======================================================================================= -->
			<p class="dateline"><span class="type">备注：</span><span class="text">{{vo.note?vo.note:'无'}}</span></p>
<!-- 			<p class="dateline"><span class="type">有效期：</span><span class="text">{{vo.validStartTime}}至{{vo.validEndTime}}</span></p> -->
		
			<!--============抢单=============-->
<!-- 			<div class="input"> -->
<!-- 				<div class="tel"> -->
<!-- 					<i class="iconfont">&#xe608;</i> -->
<!-- 					<input id="txt_telephone" type="tel" placeholder="请输入您的手机号" ng-model="telephone" ng-change="vertelephone()" /> -->
<!-- 					<button id="but_vercode" class="idcode fr gray" disabled="disabled" ng-click="getVerCode();">获取验证码</button> -->
<!-- 				</div> -->
<!-- 				<div class="tel"> -->
<!-- 					<i class="iconfont ">&#xe639;</i> -->
<!-- 					<input id="txt_vcode" type="text" placeholder="请输入手机验证码"  ng-model="verrcode"  ng-change="veteleCode()"/> -->
<!-- 				</div> -->
<!-- 			</div> -->
			<button id="app_order" class="mybtn" ng-click="getOrder();"  >确认抢单</button>	<!-- disabled="disabled" -->
			<!--=============抢单============-->
			<!--<button class="mybtn" onclick="location.href='confirm.html'">立即抢单</button>-->
		</section>
	</body>
</html>