<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>系统通知</title>
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
    <link rel="stylesheet" type="text/css" href="../com/css/admin.css">
    <script type="text/javascript" src="../com/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
    <script type="text/javascript" src="../app/js/sys_message.js" ></script>
</head>
<body>
<header class="one prevpage">
    <div class="area fl">
        <a onclick="goback()"><i class="iconfont">&#xe60e;</i></a>
    </div>
    <div class="zoom fr searchZoom">
        <a class="transion" onclick="searchRdcs('')"><i class="iconfont">&#xe73c;</i></a>
    </div>
    <div class="txt omg" id="rdcName">
    </div>
</header>
<header class="two black">
    <div class="area fl">
        <a class="cancel"><i class="iconfont">&#xe60e;</i></a>
    </div>
    <div id="searchDara_div" class="search">
        <input type="text" placeholder="查找RDC..." onkeyup="searchRdcs()"/>
        <i class="iconfont" >&#xe62f;</i>
    </div>
</header>
<!----------------------prev==1-->
<header class="three nextpage">
    <div class="area fl">
        <a onclick="goprev()"><i class="iconfont">&#xe60e;</i></a>
    </div>
    <div class="zoom fr">
        <a class="myedit" onclick="edit()">编辑</a>
    </div>
    <div class="txt omg" id="infoTxt">
        全部
    </div>
</header>
<div class="searchArea">
    <input type="text" class="searchInput" onkeyup="searchSys()" placeholder="搜索消息">
    <i class="iconfont">&#xe62f;</i>
</div>
<!--rdc列表-------------------------------------------------->
<section class="searchTop">
    <ul class="rdcList">
    </ul>
    <p>没有找到您要的信息~~~<br />请检查您的输入条件是否有误^_^</p>
</section>
<!--rdc列表----------------------------------------------->
<section class="sys prevpage">
    <div class="allMsg">
        <div class="msgStatus"><a onclick="allmsg(this)"><i class="all"></i><p class="info">全部</p></a></div>
        <div class="msgStatus"><a onclick="changeStatus(0,this,0)"><i class="noread"></i><p class="info">未读</p><span class="counts" id="noread"></span></a></div>
        <div class="msgStatus"><a onclick="changeStatus(1,this,null)"><i class="isread"></i><p class="info">已读</p></a></div>
        <div class="msgStatus"><a onclick="syswarn()"><i class="system"></i><p class="info">系统消息</p></a></div>
    </div>
    <div class="allMsg">
        <div class="msgStatus"><a onclick="changeStatus(null,this,0)"><i class="deal"></i><p class="info">待处理</p><span class="counts" id="nodeal"></span></a></div>
        <div class="msgStatus"><a onclick="changeStatus(1,this,1)"><i class="isdeal"></i><p class="info">已处理</p></a></div>
        <div class="msgStatus"><a onclick="syswarn()"><i class="syswarn"></i><p class="info">系统警告</p></a></div>
        <div class="msgStatus"><a onclick="syswarn()"><i class="otherwarn"></i><p class="info">其他警告</p></a></div>
    </div>
</section>
<p class="newmsg prevpage">最新消息</p>
<ul id="twoList" class="prevpage"></ul>
<!--点击顶部模块显示-->
<div class="sysNo black"><!--没有消息-->
    <div class="nowarn">
        <img src="../com/img/nomsg.png" style="width: 11.2rem;height:10rem;">
    </div>
</div>
<div class="nextpage">
    <ul id="allList"></ul>
</div>
<div class="checkAll black">
    <label class="check_icon on fl" ng-class="{true: 'on', false: ''}[ischeck]">
        <input ng-model="ischeck" type="checkbox">
        <i class="iconfont"></i>全选
    </label>
    <button class="fr">删除</button>
</div>
<!--点击顶部模块显示-->
<div class="sysModal black"><!--遮罩层-->
    <div class="sysModalMain"><!--主题区域显示-->
        <div class="sysModalHeader">
            <img src="../com/img/modalBg.png" style="width: 11rem;" alt="">
            <h4>{{currmsg.title}}</h4>
            <p>{{currmsg.message}}</p>
        </div>
        <div class="sysModalBody">
            <div ng-if="currmsg.type==1&&currmsg.sType==1" >
                <ul id="ul_storage" class="clearfix">
                    <li ng-repeat="storage in mystorages" class="fl">
                        <label> <input type="checkbox"  value="{{storage.id}}">{{storage.name}}</label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sysModalFooter clearfix">
            <div class="fl" ng-click="off()">关闭</div>
            <div class="fl"  ng-click="agree()">同意</div>
            <div class="fl" ng-click="refuse()">拒绝</div>
        </div>
        <div class="sysClose" ng-click="off()">&times;</div>
    </div>
</div>
</body>
</html>