<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>我的</title>
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
    <link rel="stylesheet" type="text/css" href="../com/css/admin.css">
    <script type="text/javascript" src="../com/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
    <script type="text/javascript" src="../app/js/user.js" ></script>
</head>
<body ng-app="app"  ng-controller="usercl" >
    <header>
    	<div class="txt">
    		我的
    	</div>
    </header>
    <div id="userinfo" ng-cloak>
	    <section class="clearfix" ng-show="userinfo.id" onclick="location.href='personal.html'">
	    	<div class="img fl">
	    		<img ng-src="{{userinfo.avatar}}"/>
	    	</div>
	    	<div class="rightArrow fr">
	    		<a href=""><i class="iconfont">&#xe60d;</i></a>
	    	</div>
	    	<div class="name">
	    		<p class="nameinfo omg">{{userinfo.nickname}}</p>
	    		<p class="position omg">
	    			<i class="iconfont">&#xe66e;</i>{{userinfo.address}}
	    		</p>
	    	</div>
	    </section>
	    <section class="clearfix" ng-if="!userinfo.id">    
	    	<div class="img fl">
	    		<img src="../com/img/success.png"/>
	    	</div>
	    	<div class="rightArrow fr">
	    		<a href=""><i class="iconfont">&#xe60d;</i></a>
	    	</div>
	        <div class="name nameLogin" onclick="gologin();">点此登录</div>
	    </section>
    </div>
    <ul class="list list_icon">
    	<li class="clearfix" ng-login="user-mycold.html">
    		<div class="myicon fl">
	    		<i class="iconfont">&#xe6d3;</i>
	    	</div>
	    	<div class="rightArrow fr">
	    		<a href=""><i class="iconfont">&#xe60d;</i></a>
	    	</div>
	    	<div class="name">
	    		<p class="list_name">我的冷库</p>
	    	</div>
    	</li>
    	<li class="clearfix" ng-login="user-myrelease.html">
    		<div class="myicon fl">
	    		<i class="iconfont">&#xe666;</i>
	    	</div>
	    	<div class="rightArrow fr">
	    		<a href=""><i class="iconfont">&#xe60d;</i></a>
	    	</div>
	    	<div class="name">
	    		<p class="list_name">我的发布</p>
	    	</div>
    	</li>
    	<li class="clearfix" ng-login="user-myorder.html">
    		<div class="myicon fl">
	    		<i class="iconfont">&#xe6a4;</i>
	    	</div>
	    	<div class="rightArrow fr">
	    		<a href=""><i class="iconfont">&#xe60d;</i></a>
	    	</div>
	    	<div class="name">
	    		<p class="list_name">我的联络单</p>
	    	</div>
    	</li>
    	<li class="clearfix" ng-login="user-comment.html">
    		<div class="myicon fl">
	    		<i class="iconfont">&#xe6b7;</i>
	    	</div>
	    	<div class="rightArrow fr">
	    		<a href=""><i class="iconfont">&#xe60d;</i></a>
	    	</div>
	    	<div class="name">
	    		<p class="list_name">我的点评</p>
	    	</div>
    	</li>
    	<li class="clearfix" ng-login="recenscan.html">
    		<div class="myicon fl">
	    		<i class="iconfont">&#xe6b8;</i>
	    	</div>
	    	<div class="rightArrow fr">
	    		<a href=""><i class="iconfont">&#xe60d;</i></a>
	    	</div>
	    	<div class="name">
	    		<p class="list_name">最近浏览</p>
	    	</div>
    	</li>
    	
    	<li class="clearfix" onclick="confirm('正在开发中，敬请期待……')">
    		<div class="myicon fl">
	    		<i class="iconfont">&#xe731;</i>
	    	</div>
	    	<div class="rightArrow fr">
	    		<a href=""><i class="iconfont">&#xe60d;</i></a>
	    	</div>
	    	<div class="name">
	    		<p class="list_name">申请金融贷</p>
	    	</div>
    	</li>
    	<li class="clearfix" onclick="confirm('正在开发中，敬请期待……')">
    		<div class="myicon fl">
	    		<i class="iconfont">&#xe735;</i>
	    	</div>
	    	<div class="rightArrow fr">
	    		<a href=""><i class="iconfont">&#xe60d;</i></a>
	    	</div>
	    	<div class="name">
	    		<p class="list_name">申请冷链保险</p>
	    	</div>
    	</li>
    	
    	<li class="clearfix" onclick="location.href='customer.html'">
    		<div class="myicon fl">
	    		<i class="iconfont">&#xe6d1;</i>
	    	</div>
	    	<div class="rightArrow fr">
	    		<a href=""><i class="iconfont">&#xe60d;</i></a>
	    	</div>
	    	<div class="name">
	    		<p class="list_name">联系我们</p>
	    	</div>
    	</li>
    	<!-- <li class="clearfix">
    		<div class="myicon fl">
	    		<i class="iconfont">&#xe6a5;</i>
	    	</div>
	    	<div class="rightArrow fr">
	    		<a href=""><i class="iconfont">&#xe60d;</i></a>
	    	</div>
	    	<div class="name">
	    		<p class="list_name">设置</p>
	    	</div>
    	</li> -->
    </ul>
    <ul class="footer">
        <li>           
            <a href="../index.html">
                <i class="iconfont">&#xe65a;</i>
                <p class="info">首页</p>
            </a>
        </li>
        <li>          
             <a href="news.html">
                <i class="iconfont">&#xe6f8;</i>
                <p class="info">资讯</p>
            </a>
        </li>
        <li>            
            <a href="messages.html">
                <i class="iconfont">&#xe71c;</i>
                <p class="info">消息</p>
            </a>
        </li>
        <li class="active">            
            <a href="user.html">
                <i class="iconfont">&#xe6fd;</i>
                <p class="info">我的</p>
            </a>
        </li>
    </ul>
</body>
</html>