<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
	<title>我的冷库</title>
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
    <link rel="stylesheet" type="text/css" href="../com/css/admin.css">
    <script type="text/javascript" src="../com/js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
</head>
<body>
    <header>
    	<div class="area fl">
    		<a onclick="goback()"><i class="iconfont">&#xe60e;</i></a>
    	</div>
    	<div class="txt">
    		我的冷库
    	</div>
    </header>
    <section class="clearfix">
    	<div class="img fl">
    		<img src="../com/img/women.png"/>
    	</div>
    	<!--<div class="name" onclick="location.href='personal.html'">-->
    	<div class="name">
    		<p class="nameinfo">木棉先森</p>
    		<p class="position">
    			<i class="iconfont">&#xe66e;</i>
				上海-长宁区-中山公园
    		</p>
    	</div>
    </section>
    <ul class="commentList">
    	<li class="clearfix">
    		<div class="img fl" onclick="location.href='colddetail.html'"><img src="../com/img/list_03.png"/></div>
    		<p class="company">莱芜嘉禾冷链物流有限公司</p>
    		<p class="position">
    			<i class="iconfont">&#xe66e;</i>
				上海-长宁区-中山公园
    		</p>
    		<p class="btnGroup">
    			<button onclick="location.href='editkutable.html'">修改</button>
    			<button>删除</button>
    		</p>
    	</li>
    	<li class="clearfix">
    		<div class="img fl" onclick="location.href='colddetail.html'"><img src="../com/img/list_03.png"/></div>
    		<p class="company">青岛恒路物流有限公司</p>
    		<p class="position">
    			<i class="iconfont">&#xe66e;</i>
				青岛正阳西路物流分拨中心大户区三号库东侧
    		</p>
    		<p class="btnGroup">
    			<button onclick="location.href='editkutable.html'">修改</button>
    			<button>删除</button>
    		</p>
    	</li>
    </ul>
    
    <ul class="footer">
        <li>           
            <a href="../index.html">
                <i class="iconfont">&#xe65a;</i>
                <p class="info">首页</p>
            </a>
        </li>
        <li>            
            <a href="release.html">
                <i class="iconfont">&#xe666;</i>
                <p class="info">发布</p>
            </a>
        </li>
        <li>          
            <a href="news.html">
                <i class="iconfont">&#xe6f8;</i>
                <p class="info">资讯</p>
            </a>
        </li>
        <li class="active">            
            <a href="user.html">
                <i class="iconfont">&#xe65e;</i>
                <p class="info">我的</p>
            </a>
        </li>
    </ul>
    <script>
    	$(function(){
    		$(".btnGroup").children().click(function(){
    			$(this).addClass('current').siblings().removeClass('current');
    			if ($(this).index()==1) {
    				$(this).parents('li').remove()
    			}
    		})
    	})
    </script>
</body>
</html>