<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
	<title>我的发布</title>
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
    <link rel="stylesheet" type="text/css" href="../com/css/admin.css">
    <script type="text/javascript" src="../com/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
    <script type="text/javascript">checkLogin();</script>
     <script type="text/javascript">
       function delrdc(rdcid,em){
  	               if(confirm("确定要删除数据吗？"))
					{
// 					  var strjson=jQuery.param({'name':'china','pwd':'200009'});
					  var data={"rdcID":rdcid};
					    $.ajax({url: ER.root+"/i/rdc/deleteByRdcID",type:"post",data:data,success: function(data) { 
						    if(data.status==0){
	  	           	        	 $(em).parents('li').remove();
	  	           	          }else{
	  	           	            alert("s删除失败！亲稍后重试！");
	  	           	          }
						 } });
					 }
  	    }
        $().ready(function() { 
               var ul_select=$("#ul_rdcsL_list");
               var isLoadRB=false, maxSize=10, totalPages=  currentPage=  1;  // 当前页
               function setuserinfo(){
                  var html="<div class='img fl'><img src='"+window.user.avatar+"'/></div><div class='name'><p class='nameinfo'>"+window.user.nickname+"</p><p class='position'><i class='iconfont'>&#xe66e;</i>"+window.user.address+"</p></div>";
                  $("#user_info").html(html);
                }
                function initevg(){
//                    $(".btnGroup").children().click(function(){
//     	         		$(this).addClass('current').siblings().removeClass('current');
//     	         		if ($(this).index()==1) {$(this).parents('li').remove();}
//     	         	});
    	         	  $(window).scroll(function(){
			     	    var scrollTop = $(this).scrollTop();
				     	var scrollHeight = $(document).height();
				     	var windowHeight = $(this).height();
				     	if(scrollTop + windowHeight > scrollHeight-30){
				     		if(isLoadRB==false&&currentPage<totalPages){
				     		   getPageData();
				     		}
				     	};
			     	 });
                }
                function gethtml(rdc){
                       return "<li class='clearfix'><div class='img fl' onclick='location.href='colddetail.html''><img src='"+rdc.logo+"'/></div><p class='company'>"+rdc.name+"</p><p class='position'><i class='iconfont'>&#xe66e;</i>"+rdc.address+"</p><p class='btnGroup'><button onclick='location.href='editkutable.htmlid="+rdc.id+"''>修改</button><button onclick='delrdc("+rdc.id+",this);'>删除</button></p></li>";
  	            }
  	            
                function getPageData(){//启用无限加载
  		            isLoadRB=true;//
  		            var _filter={pageNum : currentPage,pageSize : maxSize,userID:window.user.id};
  		            $.get(ER.root+"/i/rdc/findRDCDTOByUserId", _filter, function(data) {	
  	           	          if(data.success&&data.data.length>0){
  	           	        	  totalPages=data.totalPages;
  	           	         	  currentPage++; var html=[];var rdcsList = data.data;//
  	           	              $.each(rdcsList, function(index, item) {html.push( gethtml(item)); });
  	           	              ul_select.append(html.join(""));
  	           	              $(".nodata").hide();
  	           	          }else{
  	           	              $(".nodata").show();
  	           	          }
  	           	     isLoadRB=false;
  		             });
  	            };
           setuserinfo();
           getPageData();
           initevg();
       
    	});
    </script>
</head>
<body>
    <header>
    	<div class="area fl">
    		<a onclick="goback()"><i class="iconfont">&#xe60e;</i></a>
    	</div>
    	<div class="txt">
    		我的发布
    	</div>
    </header>
    <section class="clearfix">
    	<div class="img fl">
    		<img src="../com/img/fruit_15.png"/>
    	</div>
    	<!--<div class="name" onclick="location.href='personal.html'">-->
    	<div class="name">
    		<p class="nameinfo">Andy</p>
    		<p class="position">
    			<i class="iconfont">&#xe66e;</i>
				上海-长宁区-中山公园
    		</p>
    	</div>
    </section>
    <ul class="commentList">
    	<li class="clearfix">
    		<div class="img fl" onclick="location.href='colddetail.html'"><img src="../com/img/list_03.png"/></div>
    		<p class="company">莱芜嘉禾冷链物流有限公司</p>
    		<p class="position">
    			<i class="iconfont">&#xe66e;</i>
				上海-长宁区-中山公园
    		</p>
    		<p class="btnGroup">
    			<button onclick="location.href='releasekutable.html'">修改</button>
    			<button>删除</button>
    		</p>
    	</li>
    	<li class="clearfix">
    		<div class="img fl" onclick="location.href='colddetail.html'"><img src="../com/img/list_03.png"/></div>
    		<p class="company">青岛恒路物流有限公司</p>
    		<p class="position">
    			<i class="iconfont">&#xe66e;</i>
				青岛正阳西路物流分拨中心大户区三号库东侧
    		</p>
    		<p class="btnGroup">
    			<button onclick="location.href='releasekutable.html'">修改</button>
    			<button>删除</button>
    		</p>
    	</li>
    </ul>
    
    <ul class="footer">
        <li>           
            <a href="index.html">
                <i class="iconfont">&#xe65a;</i>
                <p class="info">首页</p>
            </a>
        </li>
        <li>            
            <a href="release.html">
                <i class="iconfont">&#xe6ff;</i>
                <p class="info">发布</p>
            </a>
        </li>
        <li>          
            <a href="news.html">
                <i class="iconfont">&#xe6f8;</i>
                <p class="info">资讯</p>
            </a>
        </li>
        <li class="active">            
            <a href="user.html">
                <i class="iconfont">&#xe6fd;</i>
                <p class="info">我的</p>
            </a>
        </li>
    </ul>
    <script>
    	$(function(){
    		$(".btnGroup").children().click(function(){
    			$(this).addClass('current').siblings().removeClass('current');
    			if ($(this).index()==1) {
    				$(this).parents('li').remove()
    			}
    		})
    	})
    </script>
</body>
</html>