<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-widtd, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>告警</title>
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
    <link rel="stylesheet" href="../com/css/cold360.css" />
    <script type="text/javascript" src="../com/js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="../com/js/angular.min.js"></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
</head>
<body>
    <!-- header -->
         <header class="one">
            <div class="area fl">
                <a onclick="goback();"><i class="iconfont">&#xe60e;</i></a>
            </div>
            <div class="zoom fr">
                <a class="transion"><i class="iconfont">&#xe73c;</i></a>
            </div>
            <div class="txt omg">
                告警
            </div>
        </header>
    <!-- header end-->
    <section class="warn_sec">
    	<p class="actually">制冷告警统计</p>
    	<table class="cold_warn">
			<tbody>
				<tr>
					<th colspan="3">高危报警统计</th>
				</tr>
				<tr>
					<td></td>
					<td>上月累计次数</td>
					<td>本月累计次数</td>
				</tr>
				<tr>
					<td>高压报警</td>
					<td><i>0</i></td>
					<td><i>0</i></td>
				</tr>
				<tr>
					<td>电源报警</td>
					<td><i>0</i></td>
					<td><i>0</i></td>
				</tr>
				<tr>
					<td>缺油报警</td>
					<td><i>0</i></td>
					<td><i>0</i></td>
				</tr>
				<tr><th colspan="3">常规报警统计</th></tr>
				<tr>
					<td></td>
					<td>上月累计次数</td>
					<td>本月累计次数</td>
				</tr>
				<tr>
					<td>常规报警</td>
					<td><i>0</i></td>
					<td><i>0</i></td>
				</tr>
			</tbody>
		</table>
    </section>

    <ul class="footer">
        <li>           
            <a href="cold360.html">
                <i class="iconfont">&#xe68d;</i>
                <p class="info">监控</p>
            </a>
        </li>
        <li>           
            <a href="analysisQuery.html">
                <i class="iconfont">&#xe7c6;</i>
                <p class="info">查询</p>
            </a>
        </li>
        <li>            
            <a href="analysis.html">
                <i class="iconfont">&#xe682;</i>
                <p class="info">分析</p>
            </a>
        </li>
        <li class="active">       
            <a href="alarmLog.html">
                <i class="iconfont"><!--&#xe698;-->&#xe697;</i>
                <p class="info">告警</p>
                <span class="countNum">99</span>
            </a>
        </li>
        <li>            
            <a href="maintain.html">
                <i class="iconfont">&#xe6a5;</i>
                <p class="info">维护</p>
            </a>
        </li>
    </ul>
</body>
</html>