<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartcold.bgzigbee.manage.dao.store360.CompanyStoreMapper" >
    <insert id="insertCompany">
        insert into smartstore.Company
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="address != null" >
                address,
            </if>
            <if test="addtime != null" >
                addtime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="address != null" >
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="addtime != null" >
                #{addtime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective">
        update smartstore.Company
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="address != null" >
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="addtime != null" >
                addtime = #{addtime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <delete id="deleteCompany">
        DELETE FROM smartstore.Company WHERE `id` = #{id}
    </delete>

    <select id="findCompanyByWords" resultType="com.smartcold.bgzigbee.manage.entity.store360.CompanyStoreEntity">
        SELECT * FROM smartstore.company
        <where>
            <if test="keyword != null">
                AND name like "%"#{keyword}"%"
            </if>
        </where>
        order by `addtime` desc
    </select>
    <select id="selectByPrimaryKey"
            resultType="com.smartcold.bgzigbee.manage.entity.store360.CompanyStoreEntity">
        select *
        from smartstore.company
        where id = #{id,jdbcType=INTEGER}
    </select>
</mapper>