<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartcold.bgzigbee.manage.dao.store360.UserStoreMapper" >
    <insert id="insertUser">
        INSERT INTO `smartstore`.`suser`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">`username`,</if>
            <if test="nickname != null">`nickname`,</if>
            <if test="password != null">`password`,</if>
            <if test="realname != null">`realname`,</if>
            <if test="telephone != null">`telephone`,</if>
            <if test="email != null">`email`,</if>
            <if test="avatar != null">`avatar`,</if>
            <if test="role != null">`role`,</if>
            <if test="address != null">`address`,</if>
            <if test="updateTime != null">`updateTime`,</if>
            <if test="addTime != null">`addTime`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">#{username},</if>
            <if test="nickname != null">#{nickname},</if>
            <if test="password != null">#{password},</if>
            <if test="realname != null">#{realname},</if>
            <if test="telephone != null">#{telephone},</if>
            <if test="email != null">#{email},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="role != null">#{role},</if>
            <if test="address != null">#{address},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="addTime != null">#{addTime},</if>
        </trim>
    </insert>
    <update id="updateUser">
        UPDATE `smartstore`.`suser`
        <set>
            <if test="username != null">`username`=#{username},</if>
            <if test="nickname != null">`nickname`=#{nickname},</if>
            <if test="password != null">`password`=#{password},</if>
            <if test="telephone != null">`telephone`=#{telephone},</if>
            <if test="email != null">`email`=#{email},</if>
            <if test="avatar != null">`avatar`=#{avatar},</if>
            <if test="role != null">`role`=#{role},</if>
            <if test="address != null">`address`=#{address},</if>
            <if test="updateTime != null">`updateTime`=#{updateTime},</if>
            <if test="addTime != null">`addTime`=#{addTime},</if>
        </set>
        WHERE `id`=#{id}
    </update>

    <delete id="delUser">
        DELETE FROM `smartstore`.`suser` WHERE `id`=#{uid}
    </delete>
    <select id="findUserByName" resultType="com.smartcold.bgzigbee.manage.entity.store360.UserStoreEntity">
        SELECT * FROM `smartstore`.`suser` WHERE `username`=#{username}
    </select>
    <select id="findUserByFilter" resultType="com.smartcold.bgzigbee.manage.entity.store360.UserStoreEntity">
        SELECT * FROM `smartstore`.`suser`
        <where>
            <if test="words!=null and words!=''">
                `username` LIKE "%"#{words}"%"
            </if>
            <if test="role != null">
                and `role` = #{role}
            </if>
        </where>
    </select>
</mapper>