<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>求购货源</title>
	    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
	    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
	    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
	    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
		<link rel="stylesheet" type="text/css" href="../com/css/reset.css">
	    <link rel="stylesheet" href="../com/css/coldlist.css" />
	    <script type="text/javascript" src="../com/js/jquery-1.12.0.min.js"></script>
	    <script type="text/javascript" src="../com/js/common.js"></script>
		<script type="text/javascript" src="../com/js/layer.js"></script>
	    <script type="text/javascript" src="../com/js/index.js" ></script>
	    <script type="text/javascript" src="../app/js/salegoodslist.js"></script>
	</head>
	<body class="lookRdc">
	<input type="hidden" id="rdcType" value="2">
		<!-- header -->
		     <header class="one">
				 <div class="area fl">
					 <a onclick="goWhere()"><i class="iconfont">&#xe602;</i></a>
				 </div>
	        	<div class="zoom fr"><!-- <a href="search.html"><i class="iconfont">&#xe62f;</i></a> -->
	        		<a class="transion"><i class="iconfont">&#xe62f;</i></a>
	        	</div>
	        	<div class="txt">求购货源</div>
		    </header>
		     <header class="two">
	        	<div class="area fl">
	        		<a class="cancel"><i class="iconfont">&#xe602;</i></a>
	        	</div>
	        	
	        	<div id="searchDara_div" class="search" style="margin-right:0">
	        		<input type="text" placeholder="请输入搜索内容..."/>
	        		<i class="iconfont" onclick="searchFilters()">&#xe62f;</i>
	        	</div>
		    </header>
		<!-- header end-->
		<section id="filter_section" class="fixed">
			<div class="droplist">
				<a href="javascript:;"><span>区域</span><i class="iconfont">&#xe62d;</i></a>
				<div class="listcontain">
					<div class="type">区域</div>
					<ul id="ul_hascar_list" class="list">
						<li class="active" value="">不限</li>
					</ul>
				</div>
			</div>
			<div class="droplist">
				<a href="javascript:;"><span>品类</span><i class="iconfont">&#xe62d;</i></a>
				<div class="listcontain">
					<div class="type">
						品类
					</div>
					<ul id="ul_goodtype_list" class="list">
						<li class="active">不限</li>
					</ul>
				</div>
			</div>
		</section>
		<!--黑色遮罩-->
		<div class="backDrop"></div>
		<!--出租/求租切换按钮-->
		<!--<div id="tool_but" class="rent fixtop">
			<button class="rentKId btn" value="1">出售</button><button class="wanted" value="2">求购</button>
		</div>-->
		<!--coldlist-->
        <div class="coldlist">
	        <ul id="ul_goodlist_list" class="imgTable">
	        </ul>
        </div>
        <div class="nodata">
			<img src="../com/img/nodata.gif" alt="" />
			<p>没有符合筛选条件的数据哦~~</p>
		</div>
	</body>
</html>
