<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>求租冷库</title>
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
    <link rel="stylesheet" href="../com/css/reset.css"/>
    <link rel="stylesheet" href="../com/css/coldlist.css"/>
    <script type="text/javascript" src="../com/js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
    <script type="text/javascript" src="../com/js/layer.js"></script>
    <script type="text/javascript" src="../com/js/index.js"></script>
    <script type="text/javascript" src="../app/js/lookRdc.js"></script>
</head>
<body class="lookRdc">
<!-- header -->
<header class="one">
    <div class="area fl">
        <a href="../index.html"><i class="iconfont">&#xe602;</i></a>
    </div>
    <div class="zoom fr">
        <a class="transion"><i class="iconfont">&#xe62f;</i></a>
    </div>
    <div class="txt">求租冷库</div>
</header>
<header class="two">
    <div class="area fl">
        <a class="cancel"><i class="iconfont">&#xe602;</i></a>
    </div>
    <div id="searchDara_div" class="search" style="margin-right:0">
        <input type="text" onkeyup="searchFilter()" placeholder="请输入搜索内容..."/>
        <i class="iconfont" onclick="searchFilters()">&#xe62f;</i>
    </div>
</header>
<!-- header end-->
<section id="filter_section" class="fixed">
    <div class="droplist">
        <a href="javascript:;"><span>区域</span><i class="iconfont">&#xe62d;</i></a>
        <div class="listcontain">
            <div class="type">区域</div>
            <ul id="ul_hascar_list" class="list">
                <li class="active" value="">不限</li>
            </ul>
        </div>
    </div>
    <div class="droplist">
        <a href="javascript:;"><span>经营类型</span><i class="iconfont">&#xe62d;</i></a>
        <div class="listcontain">
            <div class="type">
                经营类型
            </div>
            <ul id="ul_mtty_list" class="list">
                <li class="active">不限</li>
            </ul>
        </div>
    </div>
    <div class="droplist">
        <a href="javascript:;"><span>温度类型</span><i class="iconfont">&#xe62d;</i></a>
        <div class="listcontain">
            <div class="type">温度类型</div>
            <ul id="ul_stty_list" class="list">
                <li class="active">不限</li>
            </ul>
        </div>
    </div>
    <div class="droplist">
        <a href="javascript:;"><span>面积</span><i class="iconfont">&#xe62d;</i></a>
        <div class="listcontain">
            <div class="type">
                面积·㎡
            </div>
            <ul id="ul_sqm_list" class="list">
                <li class="active" value=""> 不限</li>
                <li value="<1000">1000以下</li>
                <li value="1000~3000">1000~3000</li>
                <li value="3000~6000">3000~6000</li>
                <li value="6000~12000">6000~12000</li>
                <li value="12000~20000">12000~20000</li>
                <li value=">20000">20000以上</li>
            </ul>
        </div>
    </div>
</section>
<!--黑色遮罩-->
<div class="backDrop"></div>
<div class="coldlist">
    <!--<ul class="imgTable">
        <li class="imgCell">
            <a href="storehousedetail.html">
                <span>求租冷库</span>
                <div>
                    <p class='ellipsis'>仓库出租</p>
                    <p class='position omg orange'>
                        <i class="iconfont">&#xe673;</i>1000-1500㎡
                    </p>
                    <span class="grab green" onclick="location.href='confirm.html'">[刚刚发布]</span>
                </div>
                <div class="flex">
                    <div class="item">
                        <h4>三年以上</h4>
                        <p>租期</p>
                    </div>
                    <div class="item">
                        <h4>2017-07-20</h4>
                        <p>报价截止日</p>
                    </div>
                    <div class="item">
                        <h4>刘经理</h4>
                        <p>发布者</p>
                    </div>
                </div>
            </a>
        </li>
    </ul>-->
    <ul id="ul_rdcsL_list" class="imgTable"></ul>
</div>
<div class="nodata">
    <img src="../com/img/nodata.gif" alt=""/>
</div>
<footer class="flex">
    <div class="item">
        <a href="../index.html">
            <i class="iconfont">&#xe601;</i>
            <p>首页</p>
        </a>
    </div>
    <div class="item">
        <a href="release.html">
            <i class="iconfont">&#xe614;</i>
            <p>发布</p>
        </a>
    </div>
    <div class="item">
        <a href="messages.html">
            <i class="iconfont">&#xe6ea;</i>
            <p>消息</p>
        </a>
    </div>
    <div class="item">
        <a href="usercenter.html">
            <i class="iconfont">&#xe600;</i>
            <p>我的</p>
        </a>
    </div>
</footer>
</body>
</html>