<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>我的消息</title>
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
    <link rel="stylesheet" type="text/css" href="../com/css/admin.css">
    <link rel="stylesheet" type="text/css" href="../com/css/reset.css">
    <script type="text/javascript" src="../com/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
    <!--     <script src="../bower_components/angular/angular.min.js"></script> -->
    <script type="text/javascript"> $.ajax({
        url: ER.root + "/i/UtilController/setVisited",
        type: "POST",
        data: {type: 13}
    }); </script>
    <script type="text/javascript" src="../app/js/message.js"></script>
</head>
<body style="background-color: #f6f5fa;">
<!-- header -->
<header>
    <div class="zoom fr">
        <a class="myedit" onclick="deleteShow(this)">编辑</a>
    </div>
    <div class="txt">
        我的消息
    </div>
</header>
<!-- header end-->
<div class="body obody">
    <ul id="ul_msgsL_list"></ul>
</div>
<!--消息列表无数据时显示下面图片-->
<div class="nodata">
    <img src="../com/img/nodata.jpg" alt=""/>
    <p>暂时还没有消息通知哦~~</p>
</div>
<div class="deleteAll">
    全部删除
</div>
<!--消息列表无数据时显示下面图片end-->
<footer class="flex black">
    <div class="item">
        <a href="../index.html">
            <i class="iconfont">&#xe601;</i>
            <p>首页</p>
        </a>
    </div>
    <div class="item">
        <a href="release.html">
            <i class="iconfont">&#xe614;</i>
            <p>发布</p>
        </a>
    </div>
    <div class="item active" id="msgTotalNumReset">
        <a href="messages.html">
            <i class="iconfont">&#xe6ea;</i>
            <p>消息</p>
        </a>
    </div>
    <div class="item">
        <a href="usercenter.html">
            <i class="iconfont">&#xe600;</i>
            <p>我的</p>
        </a>
    </div>
</footer>
</body>
</html>
