<!DOCTYPE html>
<html ng-app="app" ng-controller="colddetail" on-finish-render-filters>
<head>
    <meta charset="UTF-8">
    <title ng-bind="vo.name+'·冷库详情'"></title>
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
    <link rel="stylesheet" type="text/css" href="../com/css/layer.css">
    <link rel="stylesheet" type="text/css" href="../com/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../com/css/baguettebox.min.css">
    <link rel="stylesheet" type="text/css" href="../com/css/coldlist.css"/>
    <script type="text/javascript" src="../com/js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="../com/js/angular.min.js"></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
    <script type="text/javascript" src="../com/js/layer.js"></script>
    <script type="text/javascript" src="../com/js/baguettebox.min.js"></script>
    <script type="text/javascript" src="../app/js/rdcdetail.js"></script>
</head>
<body class="rdcDetail">
<!-- header -->
<header>
    <div class="area fl"><a href="rdclist.html"><i class="iconfont">&#xe602;</i></a></div>
    <div class="zoom fr"><a href="../index.html"> <i class="iconfont">&#xe65a;</i> </a></div>
    <div class="txt">冷库详情</div>
</header>
<!-- header end-->
<div class="rdcpadding" ng-if="vo.storagePics&&vo.storagePics.length>0">
    <!--点击图片循环展示-->
    <div class="baguetteBoxOne gallery">
        <a ng-repeat="fl in vo.storagePics" href="{{fl.location}}" data-caption="{{($index+1)+'/'+vo.storagePics.length}}"><img
                ng-src="{{fl.location}}"/></a>
    </div>
</div>
<!--new=========================================-->
<div class="rdcpadding rdcDetailName">
    <h1>{{vo.name}}</h1>
    <div class="flex">
        <div class="item">
            <em ng-if="vo.audit==2"><i class="iconfont green">&#xe6ac;</i><i class="green">已认证</i></em>
            <em ng-if="vo.istemperaturestandard==1"><i class="iconfont orange">&#xe6e9;</i><i class="orange">冷链委温度达标库</i></em>
            <em ng-if="vo.audit!=2"><i class="iconfont orange">&#xe63b;</i><i class="orange">未认证</i></em>
            <em ng-if="user.vipType!=0&&user"><a class="blue" href="coldStorageAuth.html?id={{rdcid}}" style="font-size: .6rem">认证该冷库</a></em>
        </div>
    </div>
    <div class="flex" ng-if="user&&user.vipType!=0">
        <div class="item"><span>联系电话</span><b class="blue">
            <!--<a href="login.html" class="blue" ng-if="checkUserLogin()==false">登录后显示</a>
            <a href="login.html" class="grey" ng-if="user.vipType==0">实名认证后可见</a>-->
            <em ng-if="user.vipType!=0">{{vo.phoneNum}}</em>
        </b></div>
        <div class="item">
            <ul class='star fl' value="{{vo.score}}">
                <li class="{{vo.score>=1?'filled':''}}">★</li>
                <li class="{{vo.score>=2?'filled':''}}">★</li>
                <li class="{{vo.score>=3?'filled':''}}">★</li>
                <li class="{{vo.score>=4?'filled':''}}">★</li>
                <li class="{{vo.score>=5?'filled':''}}">★</li>
            </ul>
            </p>
        </div>
    </div>
</div>
<div class="rdcpadding rdcDetailMainInfo" ng-if="user&&user.vipType!=0">
    <div class="flex">
        <div class="item">
            <span>总面积</span>
            {{vo.area}}㎡
        </div>
        <div class="item">
            <span>空置面积</span>
            {{vo.rentSqm}}㎡
        </div>
    </div>
    <div class="flex">
        <div class="item" ng-if="vo.unitPrice">
            <span>价格</span>
            {{vo.unitPrice}}元/㎡/天
        </div>
        <div class="item">
            <span>信息完整度</span>
            {{vo.infoIntegrity}}%
        </div>
    </div>
</div>
<div class="rdcpadding" ng-if="user">
    <div class="flex">
        <div class="item flex">
            <span class="item">地址</span>
            <p class="item">{{vo.address}}</p>
        </div>
    </div>
</div>
<div class="rdcpadding" ng-if="user&&user.vipType==0">
    <h1>认证用户方可看到更多信息！<b><a href="approve.html" class="blue">去实名认证</a></b></h1>
</div>
<div class="rdcpadding" ng-show="user==null">
    <h1>登录之后可看到更多信息！<b><a href="login.html" class="blue">去登录</a></b></h1>
</div>
<div class="rdcpadding rdcDetailOtherInfo" ng-if="user&&user.vipType!=0">
    <h2>
        <i class="iconfont blue">&#xe60b;</i>
        &nbsp;冷库信息<span class="fr blue" ng-click="on_off($event)">展开</span>
    </h2>
    <p><span>经营类型</span>{{manageType[vo.manageType]}}</p>
    <p><span>温度类型</span>{{tempType[vo.temperType]}}</p>
    <p><span>存放类型</span>{{saveType[vo.storageType]}}</p>
    <div ng-if="oSwitch">
        <p ng-hide="vo.coldTruck1==0&&vo.coldTruck2==0&&vo.coldTruck3==0&&vo.coldTruck4==0"><span>冷藏车数量</span></p>
        <p ng-if="vo.coldTruck1>0"><span>小于&nbsp;1.8T:</span>{{vo.coldTruck1}}辆</p>
        <p ng-if="vo.coldTruck2>0"><span>1.8T&nbsp;~&nbsp;6T:</span>{{vo.coldTruck2}}辆</p>
        <p ng-if="vo.coldTruck3>0"><span>6T&nbsp;~&nbsp;14T:</span>{{vo.coldTruck3}}辆</p>
        <p ng-if="vo.coldTruck4>0"><span>大于&nbsp;&nbsp;14T:</span>{{vo.coldTruck4}}辆</p>
        <p ng-if="vo.structure"><span>建筑结构</span>{{struct[vo.structure]}}</p>
        <p ng-if="vo.platform"><span>有无月台</span>{{vo.platform==1?'有':'无'}}</p>
        <p ng-if="vo.lihuoRoom"><span>有无理货区</span>{{vo.lihuoRoom==1?'有':'无'}}</p>
        <p ng-if="vo.lihuoRoom==1"><span>理货区面积</span>{{vo.lihuoArea==0?'未填写':vo.lihuoArea}}</p>
        <p ng-if="vo.lihuoRoom"><span>有无温控</span>{{vo.lihuoTemperCtr==1?'有':'无'}}</p>
        <p ng-hide="vo.coldTruck1==0&&vo.coldTruck2==0&&vo.coldTruck3==0&&vo.coldTruck4==0"><span>冷库容积</span></p>
        <p ng-if="vo.capacity1*vo.height1>0"><span>8&nbsp;~&nbsp;25℃:</span>{{vo.capacity1*vo.height1}}m³</p>
        <p ng-if="vo.capacity2*vo.height2>0"><span>2&nbsp;~&nbsp;8℃:</span>{{vo.capacity2*vo.height2}}m³</p>
        <p ng-if="vo.capacity3*vo.height3>0"><span>-2&nbsp;~&nbsp;-18℃:</span>{{vo.capacity3*vo.height3}}m³</p>
        <p ng-if="vo.capacity4*vo.height4>0"><span>-18&nbsp;~&nbsp;-30℃:</span>{{vo.capacity4*vo.height4}}m³</p>
        <p ng-if="vo.capacity5*vo.height5>0"><span>小于&nbsp;-50℃:</span>{{vo.capacity5*vo.height5}}m³</p>
        <div ng-if="vo.facility" class="flex"><span class="item">周边设施</span><p class="item">{{vo.facility}}</p></div>
    </div>
</div>

<!--<div class="rdcpadding">
    <ul class="infolist clearfix">
        <li><span class="type">经营类型：</span><span class="text"></span></li>
        <li><span class="type">温度类型：</span><span class="text">{{vo.storagetempertype}}</span></li>
        <li><span class="type">存放类型：</span><span class="text">{{vo.storagetype}}</span></li>
        <li><span class="type">面积：</span><span class="text">{{vo.sqm}}㎡</span></li>
        &lt;!&ndash; <li ng-if="vo.capacity!=0"><span class="type">吨位：</span><span class="text">{{vo.capacity}}</span></li> &ndash;&gt;
        <li class="myphone"><span class="type">电话：</span><span class="text">{{vo.cellphone}}</span></li>
        <li class="myphonedis"><span class="type">电话：</span><span style="color:#438BCB;" class="text"
                                                                  onclick="gologin()">请登录显示</span></li>
        &lt;!&ndash; <li><span class="type">冷链设施：</span><span class="text">{{vo.storagetruck!=null?'自有冷藏车':'无'}}</span></li> &ndash;&gt;
    </ul>
    &lt;!&ndash;双箭头下拉&ndash;&gt;
    <ul class="infolist nextList clearfix black">
        <li><span class="type">冷藏车数量：</span></li>
        <li><span class="type">　&lt;!&ndash;纯粹为了占位，请勿删除：&ndash;&gt;</span><span class="text"></span></li>
        <li><span class="type compare">&lt;1.8T:</span><span class="type numl">{{vo.storagetruck0}}</span><span
                class="type">辆</span></li>
        <li><span class="type compare">1.8T-6T:</span><span class="type numl">{{vo.storagetruck1}}</span><span
                class="type">辆</span></li>
        <li><span class="type compare">6T-14T:</span><span class="type numl">{{vo.storagetruck2}}</span><span
                class="type">辆</span></li>
        <li><span class="type compare">&gt;14T:</span><span class="type numl">{{vo.storagetruck3}}</span><span
                class="type">辆</span></li>
        <li ng-if="vo.struct"><span class="type">建筑结构：</span><span class="text">{{vo.struct}}</span></li>
        <li><span class="type">添加时间：</span><span class="text">{{vo.addtime }}</span></li>
        &lt;!&ndash;                  <li ng-if="vo.storagetype"><span class="type">冷库类型：</span><span class="text">{{vo.storagetype}}</span></li>  &ndash;&gt;
        <li ng-if="vo.coldtype"><span class="type">存储类型：</span><span class="text">{{vo.coldtype}}</span></li>
        <li ng-if="auth_show" style="width: 100%;"><a href="coldStorageAuth.html?id={{rdcid}}" class="mybtn"
                                                      style="margin: 0;display: block;width: 100%;line-height: 1.8;background: #0CB78A;">冷库认证</a>
        </li>
    </ul>
    <div class="next"><i class="iconfont">&#xe68b;</i></div>
</div>-->

<!--仓位列表展示-->
<section class="more" ng-if="rdctotal">
    <ul class="listDad clearfix">
        <li class="fl">仓位&nbsp;(<span id="num">{{rdctotal}}</span>)</li>
        <li class="fr"><a href="rentstorage.html?rdcid={{rdcid}}"><i class="iconfont">&#xe697;</i></a></li>
    </ul>
    <div class="coldlist">
        <ul class="imgTable">
            <li class="imgCell" ng-repeat="rdc in rdcList">
                <a href="rentstorage.html?id={{rdc.id}}">
                    <img class="fl" ng-src="{{rdc.logo}}">
                    <div>
                        <p class='ellipsis'>【{{rdc.typeText}}】 {{rdc.title}} </p>
                        <p class='position'><i class="iconfont">&#xe66e;</i>{{rdc.detlAddress}}</p>
                        <ul class='star'>
                            <li class="filled">★</li>
                            <li class="filled">★</li>
                            <li class="filled">★</li>
                            <li class="filled">★</li>
                            <li class="filled">★</li>
                        </ul>
                        <!--<button class="grab">立即抢单</button>-->
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>
<!--货品列表展示-->
<section class="more" ng-if="gdtotal">
    <ul class="listDad clearfix">
        <li class="fl">货品&nbsp;(<span id="num">{{gdtotal}}</span>)</li>
        <li class="fr"><a href="salegoodslist.html?rdcid={{rdcid}}"><i class="iconfont">&#xe697;</i></a></li>
    </ul>
    <div class="coldlist">
        <ul class="imgTable">
            <li class="imgCell" ng-repeat="good in goodList">
                <a href="storehousedetail.html?id={{good.id}}">
                    <img class="fl" ng-src="{{good.logo}}">
                    <div class="">
                        <p class='ellipsis'>【{{good.typeText}}】{{good.title}}</p>
                        <p class='position'><i class="iconfont">&#xe66e;</i>{{good.detlAddress}}</p>
                        <ul class='star'>
                            <li class="filled">★</li>
                            <li class="filled">★</li>
                            <li class="filled">★</li>
                            <li class="filled">★</li>
                            <li class="filled">★</li>
                        </ul>
                        <!--<button class="grab">立即抢单</button>-->
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>
<!--车辆列表展示-->
<section class="more" ng-if="pstotal">
    <ul class="listDad clearfix">
        <li class="fl">车辆&nbsp;(<span id="num">{{pstotal}}</span>)</li>
        <li class="fr"><a href="coldtransportlist.html?rdcid={{rdcid}}"><i class="iconfont">&#xe697;</i></a></li>
    </ul>
    <div class="coldlist">
        <ul class="imgTable">
            <li class="imgCell" ng-repeat="ps in pslist">
                <a href="storehousedetail.html?id={{ps.id}}">
                    <img class="fl" ng-src="{{ps.logo}}">
                    <div class="">
                        <p class='ellipsis'>【{{ps.typeText}}】{{ps.title}}</p>
                        <p class='position'><i class="iconfont">&#xe66e;</i>{{ps.detlAddress}}</p>
                        <ul class='star'>
                            <li class="filled">★</li>
                            <li class="filled">★</li>
                            <li class="filled">★</li>
                            <li class="filled">★</li>
                            <li class="filled">★</li>
                        </ul>
                       <!-- <button class="grab">立即抢单</button>-->
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>
<!--用户点评-->

<section class="more" ng-if="evatotal">
    <ul class="listDad clearfix">
        <li class="fl">用户点评&nbsp;(<span id="num">{{evatotal}}</span>)</li>
        <li class="fr"><a href="comment_list.html?id={{rdcid}}"><i class="iconfont">&#xe697;</i></a></li>
    </ul>
    <ul class="borderlist clearfix black">
        <li><span>全部</span>&nbsp;(<span id="num">642</span>)</li>
        <li><span>值得推荐</span>&nbsp;(<span id="num">343</span>)</li>
        <li><span>有待改善</span>&nbsp;(<span id="num">56</span>)</li>
        <li><span>信誉好</span>&nbsp;(<span id="num">123</span>)</li>
        <li><span>性价比高</span>&nbsp;(<span id="num">120</span>)</li>
    </ul>
    <!--具体评论区域-->
    <ul class="commentArea" ng-repeat="eva in evaList" ng-hide="($index>1)?true:false">
        <li class="fl">
            <img ng-src="{{eva.avatar}}" alt=""/>
        </li>
        <li>
            <p class='ellipsis'>{{(eva.commerName.trim()==undefined ||
                eva.commerName.trim()=="")?eva.nickname:eva.commerName}}</p>
            <div class="equal clearfix">
                <span class="fl">打分</span>
                <ul class='star fl'>
                    <li class="{{eva.grade>=1?'filled':''}}">★</li>
                    <li class="{{eva.grade>=2?'filled':''}}">★</li>
                    <li class="{{eva.grade>=3?'filled':''}}">★</li>
                    <li class="{{eva.grade>=4?'filled':''}}">★</li>
                    <li class="{{eva.grade>=5?'filled':''}}">★</li>
                </ul>
                <span class="fr">{{eva.addTime}}</span>
            </div>
            <p class="commentTxt">{{eva.content}}</p>
            <div class="baguetteBoxOne gallery" ng-if="eva.reviewPics.length>0">
                <a ng-repeat="fl in eva.reviewPics" href="{{fl.location}}"
                   data-caption="{{($index+1)+'/'+eva.reviewPics.length}}"><img ng-src="{{fl.location}}" alt=""/></a>
            </div>
        </li>
    </ul>
</section>
<div class="commentFix"><a href="commentdetail.html?id={{rdcid}}">立即评价</a></div>
</body>
</html>
