<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>信息发布</title>
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
    <link rel="stylesheet" type="text/css" href="../com/css/release.css">
    <script type="text/javascript" src="../com/js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
    <script type="text/javascript"> $.ajax({ url: ER.root+"/i/UtilController/setVisited",type: "POST",data:{type:-6}}); </script>
</head>
<body>
    <!-- header -->
        <header>
        	<div class="area fl">
                <a href="../index.html"><i class="iconfont">&#xe60e;</i></a>
            </div>
            <div class="txt">
                信息发布
            </div>
        </header>
    <!-- header end-->
    
    <section class="grid grid_4">
        <div class="grid_kid">
            <a ng-login="releasekutable.html">
                <i class="iconfont blueI">&#xe669;</i>
                <p class="info">冷库</p>
            </a>
        </div>
        <div class="grid_kid">
            <a ng-login="releasestorage.html">                  
                <i class="iconfont redI">&#xe661;</i>
                <p class="info">仓位</p>                  
            </a>
        </div>
        <div class="grid_kid">
            <a ng-login="releasegoods.html">                   
                <i class="iconfont goldI">&#xe667;</i>
                <p class="info">货品</p>
            </a>
        </div>
        <div class="grid_kid">
            <a ng-login="releasecoldtransport.html">
                <i class="iconfont blueI">&#xe66b;</i>
                <p class="info">冷运</p>              
            </a>
        </div>
    </section>

    <!--<ul class="footer">
        <li>           
            <a href="../index.html">
                <i class="iconfont">&#xe65a;</i>
                <p class="info">首页</p>
            </a>
        </li>
        <li>          
             <a href="news.html">
                <i class="iconfont">&#xe6f8;</i>
                <p class="info">资讯</p>
            </a>
        </li>
        <li class="active">            
            <a href="">
                <i class="iconfont">&#xe71c;</i>
                <p class="info">消息</p>
            </a>
        </li>
        <li>            
            <a href="user.html">
                <i class="iconfont">&#xe6fd;</i>
                <p class="info">我的</p>
            </a>
        </li>
    </ul>-->
</body>
</html>