<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartcold.manage.cold.dao.newdb.DeviceObjectMappingMapper">

 
    
    <select id="findByTypeOid" resultType="com.smartcold.manage.cold.entity.newdb.DeviceObjectMappingEntity">
        SELECT * FROM `deviceObjectMapping`  WHERE `type`=#{type} and `oid`=#{oid}
    </select>
    
    <select id="findByTypeOids" resultType="com.smartcold.manage.cold.entity.newdb.DeviceObjectMappingEntity">
        SELECT * FROM `deviceObjectMapping`  WHERE `type`=#{type} and `oid` in(${oid})
    </select>
    
    <select id="findInfoByfilter" parameterType="map" resultType="com.smartcold.manage.cold.entity.newdb.DeviceObjectMappingEntity" >
           select *  from `deviceobjectmapping` d WHERE 1=1 
         <if test="type!=null and type!=''"> and d.`type` in(${type})</if> 
         <if test="oid !=null and oid !=''"> and d.`oid`  in(${oid})</if>  
         <if test="status !=null and status !=''"> and d.`status` = #{status} </if> 
         <if test="rdcid !=null and rdcid !=''"> and d.`rdcid`  in(${rdcid})</if> 
    </select>
    
    <select id="findInfoByDeviceId" resultType="DeviceObjectMappingEntity" parameterType="map">
        SELECT * FROM `deviceObjectMapping` WHERE `deviceid` = #{deviceId} LIMIT 1;
    </select>

    
    
     <select id="findByTypeDeviceId" resultType="com.smartcold.manage.cold.entity.newdb.DeviceObjectMappingEntity">
        SELECT * FROM `deviceObjectMapping`
        WHERE `type`=#{type} and `deviceid`=#{deviceid}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `deviceObjectMapping` (`deviceid`, `oid`, `type`,`rdcid`)
        VALUES (#{deviceid}, #{oid}, #{type},#{rdcid})
    </insert>

    <update id="upDeviceObjectMapping" parameterType="com.smartcold.manage.cold.entity.newdb.DeviceObjectMappingEntity" >
      update `deviceObjectMapping` 
      <set >
   		<if test="deviceid!=null and deviceid!=''">deviceid =#{deviceid},</if>
   		<if test="type    !=null and type    !=''"> type    =#{type},    </if>
   		<if test="oid     !=null and oid     !=''">oid      =#{oid},     </if>
   		<if test="rdcid   !=null and rdcid   !=''">rdcid    =#{rdcid},   </if>
   		<if test="addtime !=null and addtime !=''">addtime  =#{addtime}  </if>
   		<if test="status  !=null and status  !=''">status   =#{status}   </if>
   		<if test="addtime !=null and addtime !=''">addtime  =#{addtime } </if>
      </set>
      where id = #{id};
    </update>
    
    <update id="resetDevByID" parameterType="map">
      update `deviceObjectMapping`  set `status` =0 where `id` in(${ids});
    </update>
  
	<update id="upDeviceObjectStatus" parameterType="map" >
	    update deviceobjectmapping set `status`=#{status} where rdcid=#{rdcid} and deviceid in(${deviceids});
	</update>
	  
    <delete id="delById">
        DELETE FROM `deviceObjectMapping` WHERE `id`=#{id}
    </delete>
    
    <select id="getLowPower" resultType="map" parameterType="map">
     SELECT `deviceid` ,`value`  from devstatus where   `key`='DU' and `value` &lt;3 and `addtime` >#{starttime} GROUP BY `deviceid`  ORDER BY `addtime` desc  ;
    </select>
    
</mapper>