<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.manage.cold.dao.newdb.DFSDataCollectionMapper">

	<insert id="additem" parameterType="com.smartcold.manage.cold.entity.comm.ItemValue">
		   INSERT INTO `${table}` (`oid`,`key`,`value`,`addtime`)VALUES (#{oid},#{key},#{value}, #{time});
	</insert>
	<insert id="adddataList" parameterType="map">
		INSERT INTO `${table}`(`oid`,`key`,`value`,`addtime`)VALUES
		<foreach collection="list" item="model" separator=","> 
        (           
            #{model.id}, 
            #{model.key}, 
            #{model.value}, 
            #{model.time}   
        )
    </foreach>
	</insert>
	

</mapper>