<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.manage.cold.dao.newdb.MaintenanceInfoMapper">
 <insert id="addMaintenanceInfo" parameterType="MaintenanceInfo" useGeneratedKeys="true" keyProperty="id">
	INSERT INTO `maintenance` (`rdcId` ,`warmappid` ,`faultmapper` ,`note` ,`repairtime` ,`bookingtime` ,`cost` ,`servertype`  ,`addtime`)VALUES(#{rdcId},#{warmappid},#{faultmapper},#{note}, #{repairtime},#{bookingtime},#{cost},#{servertype},now());
 </insert>
 <update id="upMaintenancesCoreById" parameterType="map">
   update maintenance set score=#{score},evaluate=#{evaluate} where id = #{id};
 </update>
 
 
 
 <delete id="delMaintenanceById" parameterType="map">
   DELETE from `maintenance` where `id`=#{id};
 </delete>
 
 <select id="getMaintenanceById" resultType="MaintenanceInfo">
  select * from `maintenance` where `id`=#{id};
 </select>
 <select id="getMaintenanceByWId" resultType="MaintenanceInfo">
  select * from `maintenance` where `warmappid`=#{wid};
 </select>
 
	<select id="getMaintconFirmaByMid" parameterType="map" resultType="MaintconFirma">
		 select * from maintconfirma where maintid=#{maintid};
	</select>
	<select id="getMaintorderByMid" parameterType="map" resultType="MaintorderEntity">
		 select * from maintorder where maintid=#{maintid};
	</select>
	


</mapper>