<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartcold.manage.cold.dao.newdb.QuantityMapper">
	
	<update id="updateTaskStatus" parameterType="Integer" flushCache="true">
		update queue_task sk set  LastRunTim=DATE_FORMAT(now(), '%Y-%m-%d %H:%i:00') where id=#{id} and LastRunTim + interval intervalTime MINUTE &lt;= now() ;
	</update>
	
	<!-- 360体检  -->
	<select id="getAVGTempYinZi" parameterType="map" resultType="map">
		select   `key` ,  avg(`value`) as vl from `coldstorageanalysis` where `type` =1 and oid in(${oid}) and `key` in('ChaoWenYinZi','BaoWenYinZi','JiangWenYinZi') and `date` BETWEEN #{stTime} and #{edTime} GROUP BY `key` ;
	</select>
	
		<!-- 判断压缩机状态   -->
    <select id="getcoldstoraginfo" parameterType="map" resultType="com.smartcold.manage.cold.entity.olddb.CompressorSetEntity">
		select id,`maintenancetime` ,`lastMaintainTime`  from `smartcold`.compressorset where `compressorgroupid` in(${oids}) and `maintenancetime` IS NOT NULL and `lastMaintainTime` IS NOT NULL ;
	</select>
	<select id="getSumRunTime" parameterType="map" resultType="java.lang.Double">
	    select SUM(`value`) vl  from `sc360`.`coldstorageanalysis` where `oid` =#{oid} and `type` =5 and `key` ='RunningTime' and `date` >=#{stTime} GROUP BY `oid`;
	</select>
	
	
	<!-- 检查是否有设备 -->
	<select id="getCountBykey" parameterType="map" resultType="java.lang.Integer">
		  SELECT  COUNT(*) FROM  ${table} where `oid`in (${oid}) and `key` =#{key} and `addtime` BETWEEN #{stTime} and #{edTime} GROUP BY `oid`;  
	</select>
	<select id="getCountBydevkey" parameterType="map" resultType="java.lang.Integer">
		  select  COUNT(*)  FROM storagedatacollection where `deviceid`in (${deviceid}) and `key` =#{key} and `time` BETWEEN #{stTime} and #{edTime} GROUP BY `oid`) as c
	</select>
	
	<!-- 获得冷库最高温度 -->
	<select id="getSisBayKey" parameterType="map" resultType="java.lang.Double">
		select avg(`value`)  from `coldstorageanalysis`  where type=#{type}  and `oid`in (${oid}) and `key` =#{key} and `date`   BETWEEN #{stTime} and #{edTime}; 
	</select>
	<!-- 获得货物信息-->
	<select id="getGoodQuantit" parameterType="map" resultType="map">
		SELECT avg(`inputQuantity`-`outputQUantity` )  quantit , avg(`inputTemperature`)temp  FROM `goodscoldstorage` where `coldstorageid` =#{oid} and `date`   BETWEEN #{stTime} and #{edTime};
	</select>
	<!-- 获得信息-->
	<select id="getQuantitsis" parameterType="map" resultType="map">
		SELECT `key`,date ,SUM(`value`) sumq from `sc360`.`coldstorageanalysis` sis where sis.`oid` IN (SELECT id FROM `smartcold`.`coldstorageset` cs WHERE  cs.`RDCID` =rdcId) and  sis.`type`= 1 and sis.`key` in( 'QFrost','GoodsHeat','QForklift','WallHeat','Qblower','Qctdoor','Qlighting' )and sis.`date`>=#{stTime} GROUP BY date,`key`;
	</select>
	<!--系统效率分析  Q->E->QE  -->
	<select id="getsumEByRdcid" parameterType="map" resultType="map">
			SELECT `date` ,SUM(`value`)sume  FROM `coldstorageanalysis`  WHERE `type` =10 and `key` ='TotalPWC' and `oid` in(select id from `smartcold`.powerset where rdcid=#{rdcId}) and `date` >=#{stTime} 
			<if test="endTime!=null"> and `date` &lt;=#{endTime} </if>
			 GROUP BY `date` ;
	</select>
	<select id="getsumQByRdcid" parameterType="map" resultType="map">
		SELECT `date` ,SUM(`value`) sumq from `sc360`.`coldstorageanalysis` sis where sis.`oid` IN (SELECT id FROM `smartcold`.`coldstorageset` cs WHERE  cs.`RDCID` =#{rdcId}) and  sis.`type`= 1 and sis.`key` in( 'QFrost','GoodsHeat','QForklift','WallHeat','Qblower','Qctdoor','Qlighting' )and sis.`date`>=#{stTime}
		<if test="endTime!=null"> and `date` &lt;=#{endTime} </if>
		 GROUP BY `date`;
	</select>
	<!-- 门报警         -->
	<select id="getDoorDevMapper" parameterType="map" resultType="DeviceObjectMappingEntity">
       SELECT  dev.`oid` ,dev.`deviceid`  ,cs.`overtempdelay` status,cs.`rdcid` ,cs.`name`  from `deviceobjectmapping` dev LEFT JOIN  `smartcold`.`coldstoragedoorset`  cs on(cs.id=dev.`oid` ) where dev.type=2;
    </select>
	<select id="getSwitchTime" parameterType="map" resultType="java.lang.Double">
        SELECT COUNT(*) FROM `storagedatacollection`  where  deviceid=#{deviceid} and `key` ='Switch' and `addtime` >= #{stTime}  <if test="value!=null">   and `value` =1   </if>;
    </select>
	
	
</mapper>