<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.manage.cold.dao.newdb.ReportDailyMapper">

	<select id="findByStorageIdDate" parameterType="map"
		resultType="ReportDailyEntity">
		SELECT *
		FROM `ReportDaily` WHERE `storageID` = #{storageid}
		and `date` = #{day}
	</select>

	<select id="findReportsByStorageId" parameterType="map"
		resultType="ReportDailyEntity">
		SELECT *
		FROM `ReportDaily` WHERE `storageID` = #{storageid}
		and `date` >= #{begin} and #{end} >`date` order by `date`
	</select>

</mapper>