<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartcold.manage.cold.dao.newdb.StorageKeysMapper">
	<select id="findAll" resultType="StorageKeysEntity" parameterType="String">
		select * from storagekeys  ORDER BY type asc;
	</select>
	<select id="findbyFilter" resultType="StorageKeysEntity" parameterType="map">
		select * from storagekeys  where 1=1 <if test="keys!=null and keys!=''"> and `key` in( ${keys}) </if>   <if test="types!=null and types!=''"> and type in(${types}) </if>  ;
	</select>

	<insert id="save" parameterType="StorageKeysEntity" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO storagekeys
			(`type`,`key`, `desc`, `unit`) VALUES
			(#{type},#{key}, #{desc}, #{unit})
	</insert>

	<delete id="deleteById">
		DELETE FROM storagekeys WHERE id=#{id}
	</delete>
</mapper>