<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartcold.manage.cold.dao.newdb.StorageKeyValueMapper">
	<select id="findByTime" resultType="StorageKeyValue">
		select * from ${table}
		where `key`=#{key} AND oid=#{oid} AND
		`addtime` >= #{startTime} AND `addtime` <![CDATA[ < ]]> #{endTime}
        order by `addtime` desc
	</select>
	<select id="findByTimeFormat" resultType="StorageKeyValue">
		select `value`,`addtime` from ${table}
		where `key`=#{key} AND oid=#{oid} AND
		`addtime` >= #{startTime} AND `addtime` <![CDATA[ < ]]> #{endTime}
        order by `addtime` ${orderBy}
	</select>
<!-- 	<select id="findByTimeFormat1" resultType="StorageKeyValue"> -->
<!-- 		select avg(`value`) VALUE ,DATE_FORMAT(`addtime`,#{dateFormat}) as grouptime ,addtime  from ${table} -->
<!-- 		where `key`=#{key} AND oid=#{oid} AND `addtime` >= #{startTime} AND `addtime` <![CDATA[ < ]]> #{endTime} -->
<!-- 		GROUP BY grouptime -->
<!--          ORDER BY grouptime  ${orderBy} -->
<!-- 	</select> -->
 
 	<select id="findByNums" resultType="StorageKeyValue" >
		select * from ${table}
		where `key`=#{key} and oid=#{oid}
        order by `addtime` desc
        limit #{nums}
	</select>
	
	<select id="haveKey" resultType="boolean">
 		SELECT EXISTS(SELECT * FROM ${table} WHERE `key`=#{key});
 	</select>
</mapper>