<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartcold.manage.cold.dao.newdb.SysWarningsInfoMapper">

	<insert id="addSyswarningsinfo" parameterType="SysWarningsInfo">
		INSERT INTO `syswarningsinfo` (
			`rdcid`,
			`oid`,
			`type`,
			`level`,
			`starttime`,
			`endtime`,
			`longtime`,
			`title`,
			`warnigmsg`,
			`addtime`
		)VALUES
		 <foreach collection="list" item="model" index="index"  separator="," >  
		  (#{model.rdcid}, #{model.objid}, #{model.type},#{model.level}, #{model.starttime}, #{model.endtime},#{model.longtime}, #{model.title}, #{model.warnigmsg}, #{model.addtime})
		 </foreach>
	</insert>
	
	
	<select id="getTempWanningCoun" resultType="map">
	  SELECT `oid` ,COUNT(`id`) longcou, SUM(`longtime`) lontime  FROM `syswarningsinfo`  where `type`=1 and `addtime` >#{starttime} GROUP BY `oid`;
	</select>
	
	<select id="getSysWarningByFilter" parameterType="map" resultType="SysWarningsInfo">
		SELECT * from `syswarningsinfo` where `rdcid`=#{rdcid}
		<if test="oids!=null and oids!=''"> and `oid` in (${oids}) </if>
		<if test="type!=null"> and `type`=#{type} </if>
		<if test="level!=null"> and `level`=#{level} </if>
		<if test="starttime!=null and starttime!=''"> and `addtime` >#{starttime} and `addtime` &lt;#{endtime} </if>
	</select>
	
</mapper>