<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartcold.manage.cold.dao.newdb.TempWarningMapper">
	
	
	<select id="getAllMonitorTempSet" resultType="com.smartcold.manage.cold.entity.olddb.ColdStorageSetEntity">
		  SELECT t.id,
		       t.`rdcid`,
		       d.`deviceid` ,
		       t.`coldstorageid`,
		       c.`name` ,
		       c.`startTemperature`,
		       c.`tempdiff`
		  FROM `smartcold`.`tempset` t
		  LEFT JOIN `smartcold`.`coldstorageset` c on t.`coldstorageid`= c.`id`
		  LEFT JOIN `sc360`.`deviceobjectmapping` d on d.`oid` =t.id  and d.`type` =18
		 where `startTemperature`!= 0
		   AND `tempdiff`!=0  ;
	</select>
	
	<select id="getMAITempData" parameterType="map" resultType="com.smartcold.manage.cold.entity.comm.ItemValue">
	     SELECT `id`,  `value` , <if test="table=='storagedatacollection'">`time`</if> `addtime`  FROM `${table}` where 
	     <if test="deviceid!=null and deviceid!=''">`deviceid` =#{deviceid} and </if>
	     <if test="deviceid==null or deviceid==''"> `oid` = #{oid} and </if>
	      `key` ='Temp' and `addtime` >#{starttime} and `addtime` &lt;#{endtime}
	      and `value`=(SELECT ${mv} `value`   FROM `${table}`   where
	        <if test="deviceid!=null and deviceid!=''">`deviceid` =#{deviceid} and </if>
	     <if test="deviceid==null or deviceid==''"> `oid` = #{oid} and </if>   `key` ='Temp' and  `addtime` >#{starttime} and `addtime` &lt;#{endtime})  LIMIT 1
	      ; 
	</select>	

	<select id="getOverStrtTime" parameterType="map" resultType="com.smartcold.manage.cold.entity.comm.ItemValue">
	     SELECT MIN(`id`) id, `value`  ,<if test="table=='storagedatacollection'">`time`</if> `addtime` FROM ${table} where 
	     <if test="deviceid!=null and deviceid!=''">`deviceid` =#{deviceid} and </if>
	     <if test="deviceid==null or deviceid==''"> `oid` = #{oid} and </if>
	      `value`>#{minTemp} and  `key` ='Temp'  and `addtime` >#{starttime} and `addtime` &lt;#{endtime}; 
	</select>	
	
	<select id="getOverTempList" parameterType="map" resultType="com.smartcold.manage.cold.entity.comm.ItemValue">
	     SELECT `id`,  `value` ,<if test="table=='storagedatacollection'">`time`</if> `addtime` FROM ${table} where 
	     <if test="deviceid!=null and deviceid!=''">`deviceid` =#{deviceid} and </if>
	     <if test="deviceid==null or deviceid==''"> `oid` = #{oid} and </if>
	     <if test="minTemp!=null ">  `value`>#{minTemp} and</if>
	       `key` ='Temp'  and `addtime` >#{starttime} and `addtime` &lt;#{endtime}; 
	</select>	
	
	
	<select id="getOverTempByDevId" parameterType="map" resultType="StorageKeyValue" >
	     SELECT * FROM `storagedatacollection`  where `deviceid` =#{deviceid} and `key` ='Temp' 
	     <if test="minvalue!=null">  and `value`   &gt;#{minvalue}</if>    
	     <if test="maxvalue!=null">  and `value`   &lt;#{maxvalue}</if>    
	     <if test="starttime!=null"> and `addtime` &gt;#{starttime}</if>    
	     <if test="endtime!=null">   and `addtime` &lt;#{endtime}</if>; 
	</select>	
	
	
	
	
	
</mapper>