<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.manage.cold.dao.newdb.WarningLogMapper">

   
	<insert id="addWarningLog" parameterType="WarningsInfo">
		INSERT INTO `warninglog` (rdcid,oid,Msg)VALUES
		<foreach collection="list" item="model" separator=",">  ( #{model.rdcId}, #{model.refrsysId},  #{model.warningname}) </foreach>
	</insert>
	

</mapper>