<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.manage.cold.dao.newdb.WarningLogMapper">

   
	<insert id="addWarningLog">
		INSERT INTO `warninglog` (`rdcid`,`oid`,`Msg`)VALUES
		 <foreach collection="list" item="model" index="index"  separator="," >  
		  (#{model.rdcid}, #{model.oid}, #{model.msg})
		 </foreach>
	</insert>
	<insert id="addWREerrByTime" parameterType="map" >
	   INSERT INTO `sc360`.`warninglog` (`rdcid`,  `Msg`)  SELECT `rdcid` ,`warningname` as msg FROM `warningsinfo`  where `level`!=0 and `addtime` >= #{startTime};
	</insert>
	<!-- 檢查DEV->U  PLC->U -->
	<insert id="addSUerrByTime" parameterType="map" >
	    INSERT INTO `sc360`.`warninglog` (`rdcid`, oid, `Msg`) 
		SELECT
			pw.`rdcid`,
			pw.`id` oid,
			 CONCAT(pw.`name`, sn.`key`,"电压缺相") as Msg 
		FROM
			`sc360`.`storagedatacollection` sn
		LEFT JOIN `sc360`.`deviceobjectmapping` dv ON dv.`deviceid` = sn.`deviceid`
		LEFT JOIN `smartcold`.`powerset` pw ON dv.`oid` = pw.id
		WHERE
			dv.`type` = 10
		AND sn.`value` = 0
		AND sn.`key` IN ('AU', 'BU', 'CU')
		AND sn.`addtime` >=  #{startTime}
		GROUP BY
			pw.`id`;
	</insert>
	<insert id="addscollPUerrByTime" parameterType="map" >
	   INSERT INTO `sc360`.`warninglog` (`rdcid`, oid, `Msg`) 
		 select ps.`rdcid` ,ps.id oid,  CONCAT(ps.`name`,pw.`key` ,"电压缺相") as Msg  
          from `sc360`.`power`  pw 
         LEFT JOIN `smartcold`.`powerset` ps on ps.id=pw.`oid`  where pw.`value` =0 and  pw.`key` in('AU','BU','CU') and pw.`addtime` >= #{startTime};
	</insert>
	<!-- 檢查DEV->I  PLC->I -->
	<insert id="addSIerrByTime" parameterType="map" >
	 INSERT INTO `sc360`.`warninglog` (`rdcid`, oid, `Msg`) 
	      select `rdcid`, oid, `Msg` FROM ( SELECT
			pw.`rdcid`,
			pw.`id` oid,
            CASE WHEN ( (MAX(`value`) - MIN(`value`)) / MAX(`value`) * 100 ) > 15 THEN 1 ELSE 0 END AS vl,
			CONCAT(pw.`name`, sn.`key`,"电流不平衡") as Msg 
		FROM
			`sc360`.`storagedatacollection` sn
		LEFT JOIN `sc360`.`deviceobjectmapping` dv ON dv.`deviceid` = sn.`deviceid`
		LEFT JOIN `smartcold`.`powerset` pw ON dv.`oid` = pw.id
		WHERE
            pw.`iunbalance` >0
		AND	dv.`type` = 10
		AND sn.`key` IN ('AI', 'BI', 'CI')
		AND sn.`addtime` >= #{startTime} GROUP BY sn.`addtime`,sn.`deviceid` ) as c where c.vl=1;
	</insert>
	<insert id="addscollPIerrByTime" parameterType="map" >
	  INSERT INTO `sc360`.`warninglog` (`rdcid`, oid, `Msg`) 
	  SELECT  `rdcid`, oid, CONCAT(`name`, `key`,"电流不平衡") as Msg 
       FROM
			(
				SELECT
				    ps.`rdcid` ,
					pw.`key`,
		        	pw.`oid` ,
					ps.`name` ,
					CASE
				WHEN (
					(MAX(pw.`value`) - MIN(pw.`value`)) / MAX(pw.`value`) * 100
				) > ps.`iunbalance` THEN
					1
				ELSE
					0
				END AS vl
				FROM
					`sc360`.`power` pw
		        LEFT JOIN  `smartcold`.`powerset` ps on ps.id=pw.`oid`  
				WHERE
		         ps.`iunbalance` >0
				and	pw.oid = 13
				AND pw.`key` in ('_I')
				AND pw.`value` > 10
				AND pw.`addtime` >= #{startTime} GROUP BY pw.`addtime`, pw.`oid` ORDER BY pw.`addtime` ASC ) as c WHERE c.vl = 1;
	</insert>
	
	<!-- 温度 dev-> temp  PLC-> TEMP  -->
	  <insert id="addHTCLogbyTime" parameterType="map" >
	   INSERT INTO `sc360`.`warninglog` (`rdcid`, oid, `Msg`) 
	SELECT
			cs.`rdcid`,
			cs.`id` AS oid,
			CONCAT(
				cs. `NAME`,
				'温度过高，超过预设值',
				cs.`overtempalarm`,
				',内容：',
				group_concat('{温度：',sn.`VALUE`,' 时间：',sn.`addtime`,'}')
			) AS msg
		FROM
			`smartcold`.`ColdStorageSet` cs
        LEFT JOIN  `sc360`.`deviceobjectmapping`   dv  on (dv.`oid` =cs.`id` and dv.`type` =1)
		LEFT JOIN  `sc360`.`storagedatacollection` sn ON (sn.`deviceid`=dv.`deviceid` and sn.`key` ='Temp')
		WHERE
			cs.`overtempalarm` IS NOT NULL
		AND cs.`overtempalarm` != 0
        AND dv.`id` IS NOT NULL 
		AND sn.`addtime` >= #{startTime}
		AND sn.`VALUE` >= cs.`overtempalarm` GROUP BY cs.id;
	</insert>
	<insert id="addwaringLogbyTime" parameterType="map" >
		INSERT INTO `sc360`.`warninglog` (`rdcid`, oid, `Msg`) SELECT
			cs.rdcid,
			cs.id AS oid,
			CONCAT(
				cs. NAME,
				'温度过高，超过预设值',
				cs.overtempalarm,
				',内容：',
				group_concat(
					'{温度：',
					ct.
				VALUE
					,
					' 时间：',
					ct.addtime,
					'}'
				)
			) AS msg
		FROM
			`smartcold`.`ColdStorageSet` cs
		LEFT JOIN `sc360`.`coldstorage` ct ON ct.`oid` = cs.`id`
		WHERE
			cs.overtempalarm IS NOT NULL
		AND cs.overtempalarm != 0
		AND ct.`addtime` >= #{startTime}
		AND ct.`key` = 'Temp'
		AND ct.`VALUE`>= cs.`overtempalarm`
		GROUP BY
			cs.`id`;
	</insert>
	
	
	
	
	<select id="findAllWarningLog" parameterType="map" resultType="WarningsLog">
      select * from `warninglog` where rdcid=#{rdcId} order by addtime desc  LIMIT 100;
    </select>
</mapper>