<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>冷库360-冷库能效在线管理系统</title>
	<meta charset="utf-8" name="keywords" content="冷库360,冷库监控,冷库智能管理,冷库能效评估，冷库认证与能耗管理" />
	<meta charset="utf-8" name="description" content="冷库360-冷库能效在线管理系统" />
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="shortcut icon" href="assets/img/favicon.ico" />
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/plugins/select2/select2.min.css">
	<link rel="stylesheet" href="assets/plugins/jquery-step/css/jquery.step.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
</head>
<body ng-app="app" ng-controller="autIdentity">
<div class="step-body" id="myStep">

	<div class="step-header" style="width:80%">
		<ul class="clearfix">
			<li><p class="roleName">角色选择</p></li>
			<li><p>冷库认证</p></li>
			<li><p>完成,等待审核</p></li>
		</ul>
	</div>
	<div class="step-content">
		<div class="step-list btn_c">
			<div class="pull-left"><a ng-click="setType(0)"></a></div>
			<div class="pull-left"><a ng-click="setType(1)"></a></div>
			<div class="pull-left"><a ng-click="setType(2)"></a></div>
		</div>
		<div class="step-list">
			  <div class="coldDiv">
				  <div class="pull-left">
					  <p>说明：如果您有冷库，请找到您的冷库进行认证；否则，请先添加冷库！</p>
					  <strong>选择冷库：</strong>
					  <select id="rdcShow" class="select_gallery" style="width:50%;"></select>
					  <div ng-if="user.type==0">
						  <div class="text-left">
							  <h4>温馨提示：</h4>
							  <p>1、为提高冷库信息质量，如果您是冷库负责人，请上传该冷库的<b>营业执照</b>。经审核通过后，你的账号即为认证账号，并会成为该冷库的管理者。</p>
							  <p>2、认证通过的用户，即可修改对应冷库，同时可以在冷库发布库、仓位、货品交易和租赁信息，同时账号认证，也是接入冷库360的全方位智能管理和云服务的前提。</p>
							  <p>3、账号认证时间为1~3工作日，请您耐心等待。</p>
							  <p>4、任何问题，请随时拨打客服电话 021-23560068，或发邮件至kefu@smartcold.cn，我们将第一时间解决。</p>
						  </div>

					  </div>
					  <div ng-if="user.type!=0">
						  <div class="text-left">
							  <p>温馨提示：</p>
							  <p>1、该认证需要库主授权，授权后方可进行操作。</p>
							  <p>2、账号认证时间为1~3工作日，请您耐心等待。</p>
							  <p>3、任何问题，请随时拨打客服电话 021-23560068，或发邮件至kefu@smartcold.cn，我们将第一时间解决。</p>
						  </div>
					  </div>
				  </div>
				  <div class="pull-left" ng-if="user.type==0">
					  <div class="dotbg">
						  <div class="upbg"></div>
						  <p>*仅一张(必须为.jpg,.png,.jpeg格式)</p>
						  <label for="">
							  <input type="file" ngf-select="addAuthFiles($files)" ng-model="authfiles" name="authfiles" value="">上传营业执照
						  </label>
					  </div>
					  <div class="imgcontainer">
						  <img id="img0">
						  <label ng-repeat="authfile in totalauthfiles">
							  <!--<span ng-bind="authfile.name"></span>-->
							  <i class="fa fa-times danger" ng-click="dropauth(authfile)"></i>
						  </label>
					  </div>
				  </div>

				  <div class="pull-left" style="width: 100%">
					  <div class="clearfix btn_c">
						  <span class="btn_prep bp"><button type="button" class="preBtn">上一步</button></span>
						  <span class="btn_back bp"><button type="button" id="attestationRdc" ng-click="submit()">提交</button type="button"></span>
					  </div>
				  </div>
			</div>
		</div>
		<div class="step-list">
			<div class="apply-finish text-center">
				<div class="apply-finish-header">
					<img src="assets/plugins/jquery-step/images/success.png">
					<p class="apply-finish-msg">恭喜您，提交成功！</p>
				</div>
				<div class="apply-finish-footer">
					<p id="auCode">
						尊敬的用户，您已提交成功，受理编号为<span id="proNo">LS23423432</span>。
					</p>
					<p class="btn_p"><a href="login.html" class="btn gohome">返回登录页</a></p>
				</div>
			</div>
		</div>

	</div>

</div>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular/ng-file-upload.min.js"></script>
<script src="bower_components/angular/ng-file-upload-shim.min.js"></script>
<script src="assets/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script src="assets/plugins/select2/select2.min.js"></script>
<script src="assets/plugins/jquery-step/js/jquery.step.js"></script>
<script type="text/javascript">
        var step= $("#myStep").step({  animate:true,initStep:1,  speed:1000 });
        $(".btn_prep>button").click(function(event) { step.preStep(); });
        $("#applyBtn,#submitBtn").click(function(event) { step.nextStep(); });
        $("#goBtn").click(function(event) { step.goStep(3);});
       function addMore(){ $(".moreInfo").toggle(); }
       $(".select_gallery").select2({ ajax: {cache: true, url: "/i/rdc/getRdcByName",dataType: 'json',delay: 250,  data: function (params) {  return {  keywords: params.term, }; }, processResults: function (data) { return { results: data }; } }  });
       var app=angular.module('app',['ngFileUpload']);
        app.controller("autIdentity", function ($rootScope, $scope, $http, Upload) {
    	$scope.user=undefined;
    	$scope.words=null;
   		$scope.setType=function(type){$scope.user.type=type;step.nextStep();	};	
    	$scope.finduser=function(){ $http({method:'GET',url:'/i/user/findUser'}).success(function (data) {if(data.id!=0){ $scope.user=data;}else{window.location.href ="login.html";return; }}); };
       	
        $scope.totalauthfiles = [];
        $scope.isDisabled = false;
        $scope.addAuthFiles = function (files) {
            for(var j=0,fileLen=files.length;j<fileLen;j++){
                var _file=files[j].name;
                var i=_file.lastIndexOf('.');
                var len=_file.length;
                var extEndName=_file.substring(i+1, len);
                var extName="GIF,BMP,JPG,JPEG,PNG";
                //首先对格式进行验证
                if(extName.indexOf(extEndName.toUpperCase())==-1) {
                    alert("只能上传"+extName+"格式的文件");
                    return false;
                }else if(files[j].size > 10485760){
                    alert("最大只能上传10M的图片");
                    return false;
                }else{
                    if ($scope.totalauthfiles.length + files.length > 1) {
                        $scope.totalauthfiles = [];
                    }
                    $scope.totalauthfiles = $scope.totalauthfiles.concat(files);
                    var objUrl = getObjectURL(files[0]) ;
                    if (objUrl) {
                        $("#img0").attr("src", objUrl) ;
                    }
                }
            }

        };

        $scope.dropauth = function (authfile) {
            angular.forEach($scope.totalauthfiles, function (item, key) {
                if (item == authfile) {
                    $scope.totalauthfiles.splice(key, 1);
                    $("#img0").removeAttr("src") ;
                }
            });
        };

        //建立一个可存取到该file的url
        function getObjectURL(file) {
            var url = null ;
            if (window.webkitURL!=undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file) ;
            } else if (window.createObjectURL!=undefined) { // basic
                url = window.createObjectURL(file) ;
            } else if (window.URL!=undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file) ;
            }
            return url ;
        }

        function checkCommit(){
            if($scope.totalauthfiles.length !== 1)
                return false;
            else
                return true;
        }

        $scope.submit = function () {
        	if($scope.isDisabled){return;}
             var $rdcShow=  $("#rdcShow").val();
            if( $rdcShow==null){
            	alert("请选择认证的冷库！");return;
            }
            if($scope.user.type==0&&$scope.totalauthfiles.length==0){alert("请提交证书！");return;}
            if(!confirm("您确定要提交申请吗？")){return ;};
      			   $scope.isDisabled = true;
                     var data = {
                         rdcId:$rdcShow,
                         type:$scope.user.type,
                         userId:$scope.user.id,
                         userName:$scope.user.username,
                     };
                     if($scope.user.type==0){
                       data.authfile = $scope.totalauthfiles[0];
                     }
                     Upload.upload({
                         data: data,
                         url: '/i/authenUser/attestationRdc',
                         headers: {'Content-Transfer-Encoding': 'utf-8'}
                     }).then(function (resp) {
                         $scope.isDisabled = false;
                         $("#auCode").html(resp.data.message);
                         step.nextStep();    
                     });
        };
        $scope.finduser();
       });
</script>
</body>
</html>