<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta name="renderer" content="webkit|ie-stand" />
<meta name="renderer" content="webkit" />
<title>冷库360-冷库能效在线管理系统</title>
<meta charset="utf-8" name="keywords" content="冷库360,冷库监控,冷库智能管理,冷库能效评估，冷库认证与能耗管理" />
<meta charset="utf-8" name="description" content="冷库360-冷库能效在线管理系统" />
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
<link rel="shortcut icon" href="assets/img/favicon.ico" />
<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="assets/css/font-awesome.min.css" />
<link rel="stylesheet" href="assets/fonts/iconfont.css" />
<!-- <link rel="stylesheet" href="assets/css/ionicons.min.css" /> -->
<link rel="stylesheet" href="assets/css/AdminLTE.min.css" />
<link rel="stylesheet" href="assets/css/skins/diaodiao-skin.css" />
<link rel="stylesheet" href="app/css/physical.css" />
<!-- <link rel="stylesheet" href="bower_components/highlightjs/styles/default.css" /> -->
<link rel="stylesheet" href="bower_components/pace/themes/white/pace-theme-flash.css" />
<link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css" />
<link rel="stylesheet" href="bower_components/angucomplete-alt/angucomplete-alt.css" />
<link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.min.css" />
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-table.min.css" />
<link rel="stylesheet" href="assets/plugins/daterangepicker/daterangepicker-bs3.css" />
<link rel="stylesheet" href="assets/plugins/layer/skin/default/layer.css" />
<script id="ckecklogin" type="text/javascript"> if(window.sessionStorage.sikey==undefined){document.location.href = "/login.html";}</script>
<style type="text/css">

.menu-title { margin-left: 10px; font-weight: 500; color: white;}
a.disabled{color:#aaa!important;text-decoration:none;cursor:not-allowed;pointer-events:none}.iconfont{font-style:normal;font-size:1pc;font-family:iconfont!important;-webkit-font-smoothing:antialiased;-webkit-text-stroke-width:.2px;-moz-osx-font-smoothing:grayscale}.omg{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.tooltip-inner{background:rgba(0,0,0,.8);color:#fff;text-align:left}.angucomplete-dropdown{padding:0 0 0 6px;width:230px;max-height:280px;font-size:9pt}.quanxian{cursor:not-allowed}.quanxian:hover>a:hover,.quanxian>a,.quanxian>a i,.quanxian>a span{color:#444!important;pointer-events:none}.skin-blue .sidebar-menu>li.quanxian:hover>a{background:transparent!important;border-left-color:transparent!important}

</style>
</head>
<body class="hold-transition skin-blue sidebar-mini" oncontextmenu=self.event.returnValue=false onselectstart="return false">
	<div class="wrapper">
		<!-- Main Header -->
		<header class="main-header">
			<div class="ring" ng-if="alarmMsgCount.alarmCount>0" ng-click="toalarmTemp()">
				<span class="ringBox"><i class="iconfont">&#xe6f0;</i></span>
				<span>{{alarmMsgCount.alarmCount}}</span>
			</div>
			<a href="#/cold360Physical" class="logo"> 
				<span class="logo-mini"><span class="glyphicon glyphicon-home"></span></span> 
				<span class="logo-lg"><b><span class="glyphicon glyphicon-home"></span>&nbsp;SMART</b>COLD</span>
			</a>
			<!-- Header Navbar -->
			<nav class="navbar navbar-static-top" role="navigation">
				<!-- Sidebar toggle button-->
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas"
					role="button"> <span class="sr-only">Toggle navigation</span>
				</a>
				<!-- Navbar Right Menu -->
				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<!-- Messages: style can be found in dropdown.less-->
						<li class="dropdown messages-menu">
							<!-- Menu toggle button --> <a href="#" class="dropdown-toggle"
							data-toggle="dropdown"> <i class="fa fa-envelope-o" style="color: #fff"></i> <span class="label label-success">{{notReadMessage}}</span>
						</a>
							<ul class="dropdown-menu">
								<li class="header">你有 {{notReadMessage}} 条信息</li>
								<li>
									<!-- inner menu: contains the messages -->
									<ul class="menu">
										<li ng-repeat="item in messageList">
											<a href="#/message" style="padding: 5px 10px;">
												<div class="pull-left"><i class="fa fa-envelope-o" style="color: #f39c12;font-size: 20px;"></i></div>
												<h4 style="line-height: normal;">{{item.title}}</h4>
											</a>
										</li>
									</ul> <!-- /.menu -->
								</li>
								<li class="footer" ng-if="notReadMessage>0"><a href="#/message">查看全部</a></li>
								<li class="footer" ng-if="notReadMessage==0"><a href="#/message">查看历史消息</a></li>
							</ul>
						</li>
						<!-- /.messages-menu -->
						<!-- Notifications Menu -->
						<li class="dropdown notifications-menu">
							<!-- Menu toggle button --> <a href="#" class="dropdown-toggle"
							data-toggle="dropdown"> <i class="fa fa-bell-o"
								style="color: #fff"></i> <span class="label label-warning">{{alarmMsgCount.alarmCount}}</span>
						</a>
							<ul class="dropdown-menu">
								<li class="header">您有{{alarmMsgCount.alarmCount}}条最新报警信息</li>
								<li>
									<!-- Inner Menu: contains the notifications -->
									<ul class="menu">
										<li><a href="#/warningMsg"> <i class="fa fa-users text-red"></i> 今天有五条报警</a>
										</li>
										<!-- end notification -->
									</ul>
								</li>
								<li class="footer"><a href="#/alarmTemp">浏览全部</a></li>
							</ul>
						</li>
						<!-- Tasks Menu -->
						<li class="dropdown tasks-menu">
							<!-- Menu Toggle Button --> <a href="#" class="dropdown-toggle"
							data-toggle="dropdown"> <i class="fa fa-flag-o"
								style="color: #fff"></i> <span class="label label-danger">0</span>
						</a>
							<ul class="dropdown-menu">
								<li class="header">You have 9 tasks</li>
								<li>
									<!-- Inner menu: contains the tasks -->
									<ul class="menu">
										<li>
											<!-- Task item --> <a href="#"> <!-- Task title and progress text -->
												<h3>
													Design some buttons <small class="pull-right">20%</small>
												</h3> <!-- The progress bar -->
												<div class="progress xs">
													<!-- Change the css width attribute to simulate progress -->
													<div class="progress-bar progress-bar-aqua"
														style="width: 20%" role="progressbar" aria-valuenow="20"
														aria-valuemin="0" aria-valuemax="100">
														<span class="sr-only">20% Complete</span>
													</div>
												</div>
										</a>
										</li>
										<!-- end task item -->
									</ul>
								</li>
								<li class="footer"><a href="#/coldStorageDiv">View all tasks</a></li>
							</ul>
						</li>
						<!-- User Account Menu -->
						<li class="dropdown user user-menu">
							<!-- Menu Toggle Button --> <a href="#" class="dropdown-toggle"
							data-toggle="dropdown"> <span class="hidden-xs text-white"
								ng-bind="user.username"></span>
						</a>
							<ul class="dropdown-menu">
								<!-- The user image in the menu -->
								<li class="user-header">
									<img src="assets/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
									<p>
										{{user.username}}<small>Smart Cold Nov. 2016</small>
									</p>
									
								</li>
								<!-- Menu Body -->
								<li class="user-body">
									<div class="col-xs-6 text-center" style="padding: 0;">
										<a href="#/personInfo">个人中心</a>
									</div>
									<div class="col-xs-6 text-center" style="padding: 0;">
										<a href="#editPassword" data-toggle="modal">修改密码</a>
									</div>
									<!-- <div class="col-xs-4 text-center" style="padding: 0;">
										<a href="#">Friends</a>
									</div> -->
								</li>
								<!-- Menu Footer-->
								<li class="user-footer">
									<div>
										<a href="#" style="display: block;"
											class="btn btn-default btn-flat" ng-click="logout()">退出</a>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<aside id="lefaside" class="main-sidebar hide">        
			<section class="sidebar">
				<div>
					<select ng-if="user.role == 2 || user.role==1" class="form-control"
						ng-options="rdc.name for rdc in vm.allUserRdcs"
						ng-model="vm.choserdc" ng-change="initAllByRdcId(vm.choserdc.id)"></select>
				</div>
				<div ng-if="user.role == 3" angucomplete-alt="" id="members"
					placeholder="查找RDC" pause="100" selected-object="changeRdc"
					remote-url="/i/rdc/searchRdc?type=1&amp;&amp;filter="
					title-field="name" minlength="0" clear-selected="true"
					match-class="highlight"
					input-class="form-control form-control-small"></div>
				<ul class="sidebar-menu text-white my_sidebar">
					<li ng-if="user.role == 3"><a
						class="text-white omg" style="font-family: cursive;"
						title="{{vm.choserdc.name}}" ng-bind="vm.choserdc.name"></a></li>
				</ul>
			</section>
			<section class="sidebar">
				<ul id="lfmenu" class="sidebar-menu text-white my_sidebar">
					<li  class="treeview"><a href="#/cold360Physical"><i class="iconfont" style="color:#ffffff">&#xe71b;</i><span class="menu-title text-white" style="font-size: large">体检</span></a></li>
					<!--1. 监控 -->
					<li mid="ml_acl1" class="treeview"><a href=""><i class="icon iconfont" style="color:#ffffff"></i> <span class="menu-title text-white" style="font-size: large">监控</span></a>
						<ul class="treeview-menu">
							<li mid="ml_acl10" class="treeview"><a href=""> <i class="icon iconfont"></i><span class="menu-title">温度</span><i class="fa fa-angle-left pull-right"></i></a>
								<ul class="treeview-menu">
									<li ng-repeat="storage in mystorages" onclick="activeLi(this)"><a href="#/coldStorageTemper/{{storage.id}}"> <i class="fa fa-circle-o"></i>{{storage.name}} </a></li>
								</ul>
						    </li>
							<li mid="ml_acl20" class="treeview "><a href="#/about"> <i class="icon iconfont"></i><span class="menu-title">能耗</span><i class="fa fa-angle-left pull-right"></i> </a>
								<ul class="treeview-menu">
									<li mid="ml_acl21" class="treeview"><a href="#/about"> <i class="icon iconfont">&#xe689;</i> <span class="menu-title">耗电量</span><i class="fa fa-angle-left pull-right"> </i> </a>
										<ul class="treeview-menu">
											<li ng-repeat="power in powers" onclick="activeLi(this)"><a 	href="#/power/{{power.id}}"><i class="fa fa-circle-o"></i>{{power.name}}</a> </li>
										</ul>
									</li>
									<!-- 耗水量二级菜单 -->
									<li mid="ml_acl22"><a href="#"><i class="icon iconfont"></i><span class="menu-title">耗水量</span><i class="fa fa-angle-left pull-right"></i></a>
										<ul class="treeview-menu">
											<li ng-repeat="compressorGroup in compressorGroups" onclick="activeLi(this)"><a href="#/cpswaterCost/{{compressorGroup.id}}" class="omg" title="{{compressorGroup.name}}"><i class="fa fa-circle-o"></i> {{compressorGroup.name}}</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li  class="treeview" mid="ml_acl120"> <a href="#/about"> <i class="iconfont">&#xe7c1;</i><span class="menu-title">运管</span><i class="fa fa-angle-left pull-right"></i> </a>
								<ul class="treeview-menu">
										       <!-- 门  二级菜单 -->
												<li mid="ml_acl30" class="treeview"><a href="#/about"><i class="iconfont">&#xe76d;</i><span class="menu-title">门</span><i class="fa fa-angle-left pull-right"></i></a>
													<ul class="treeview-menu">
														<li mid="ml_acl31"><a><i class="fa fa-circle-o"></i>冷库门<i 	class="fa fa-angle-left pull-right"></i></a>
															<ul class="treeview-menu">
																<li ng-repeat="storage in hasDoorStorages" onclick="activeLi(this)"><a ng-click="toMyStorageDoor(storage.id)"> <i class="fa fa-circle-o"></i>{{storage.name}} </a></li>
															</ul></li>
														<li mid="ml_acl32"><a><i class="fa fa-circle-o"></i>月台门<i 	class="fa fa-angle-left pull-right"></i></a>
															<ul class="treeview-menu">
																<li ng-repeat="platformDoor in platformDoors" onclick="activeLi(this)"><a href="#/platformDoor/{{platformDoor.id}}"> <i class="fa fa-circle-o"></i>{{platformDoor.name}}</a></li>
															</ul></li>
													</ul>
												</li>
												<!-- 门  二级菜单end -->
												<!-- 库内设施  二级菜单 -->
												<li mid="ml_acl40" class="treeview"><a href="#/about"><i class="icon iconfont"></i><span class="menu-title">库内设施</span><i class="fa fa-angle-left pull-right"></i></a>
													<ul class="treeview-menu">
														<li mid="ml_acl41" onclick="activeLi(this)"><a href="#/otherDevice"><i class="fa fa-circle-o"></i>其他设施</a></li>
														<li mid="ml_acl42" onclick="activeLi(this)"><a href="#/lightGroup"><i class="fa fa-circle-o"></i>照明</a></li>
													</ul></li>
												<!-- 库内设施  二级菜单 end-->
												<li mid="ml_acl50" class="treeview"><a href="#/about"><i class="icon iconfont"></i><span class="menu-title">货物</span><i class="fa fa-angle-left pull-right"></i></a>
													<ul class="treeview-menu">
														<li mid="ml_acl51" onclick="activeLi(this)"><a href="#/coldStorageInOutGoods"><i class="fa fa-circle-o"></i>货物流通量及温度</a></li>
													</ul>
												</li>
								</ul>
							</li>
							<li mid="ml_acl60" class="treeview"><a href="#/about"><i class="icon iconfont"></i><span class="menu-title">制冷系统</span><i class="fa fa-angle-left pull-right"></i></a>
								<ul class="treeview-menu">
									<li mid="ml_acl61"><a><i class="fa fa-circle-o"></i>制冷机组<i 	class="fa fa-angle-left pull-right"></i></a>
										<ul class="treeview-menu" style="display: none;">
											<li ng-repeat="compressorGroup in compressorGroups" onclick="activeLi(this)" title="{{compressorGroup.name}}"><a href="" class="omg" ng-click="toMyCompressor(compressorGroup.id)"> <i class="fa fa-circle-o"></i> {{compressorGroup.name}}</a></li>
										</ul>
									</li>
									<!-- <li><a><i class="fa fa-circle-o"></i>冷凝系统</a></li> -->
									<li mid="ml_acl62" onclick="activeLi(this)"><a href="#/compressorBlower/{{rdcId}}"><i class="fa fa-circle-o"></i>蒸发系统(冷风机)</a></li>
								</ul>
							</li>
							<li mid="ml_acl70" onclick="activeLi(this)"><a href="#/historyData"><i class="icon iconfont"></i><span class="menu-title">历史曲线查询</span></a></li>
							<li mid="ml_acl80" onclick="activeLi(this)"><a href="#/exphistoryData" ng-click=""><i class="icon iconfont"></i><span class="menu-title">历史数据导出</span></a></li>
						</ul>
					</li>
					<!--2.分析及报告 -->
					<li mid="ml_acl100" class="treeview"><a href=""><i class="icon iconfont" style="color:#ffffff"></i> <span class="menu-title text-white" style="font-size: large">分析及报告</span></a>
						<ul id="mlul2" class="treeview-menu">
							<li mid="ml_acl110"><a href="#"><i class="icon iconfont"></i><span class="menu-title">温度分析</span><i 	class="fa fa-angle-left pull-right"></i></a>
								<ul class="treeview-menu">
									<li mid="ml_acl111" onclick="activeLi(this)"><a href="#/overTempCountAndTime/{{rdcId}}"><i class="fa fa-circle-o"></i>超温时长及次数统计</a></li>
									<li mid="ml_acl112" onclick="activeLi(this)"><a href="#/overTemperatureYZ/{{rdcId}}"><i class="fa fa-circle-o"></i>超温比例统计</a></li>
								</ul>
							</li>
							<li mid="ml_acl20" ><a href="#"><i class="iconfont">&#xe7cf;</i><span class="menu-title">能耗分析</span><i 	class="fa fa-angle-left pull-right"></i></a>
								<ul class="treeview-menu">
									<li mid="ml_acl21" onclick="activeLi(this)"><a href="#/powerAnalysis/{{rdcId}}"><i class="fa fa-circle-o"></i>电耗分析</a></li>
									<li mid="ml_acl22" onclick="activeLi(this)"><a href="#/waterAnalysis/{{rdcId}}"><i class="fa fa-circle-o"></i>水耗分析</a></li>
								</ul>
							</li>
							<!-- 运管分析 -->
							<li mid="ml_acl120"><a href="#"><i class="icon iconfont"></i><span class="menu-title">运管分析</span><i class="fa fa-angle-left pull-right"></i></a>
								<ul class="treeview-menu">
									<li mid="ml_acl121" onclick="activeLi(this)"><a href="#/doorAnalysis/{{rdcId}}"><i class="fa fa-circle-o"></i>冷库门运行分析</a></li>
									<li mid="ml_acl122" onclick="activeLi(this)"><a href="#/goodsYzAnalysis/{{rdcId}}"><i class="fa fa-circle-o"></i>货物因子分析</a></li>
									<li mid="ml_acl123" onclick="activeLi(this)"><a href="#/hotAnalysis"><i class="fa fa-circle-o"></i>冷库日热量分析</a></li>
								</ul>
							</li>
							<!-- 运管分析end -->
							<!-- 制冷系统分析 -->
							<li mid="ml_acl130"><a href="#"><i class="icon iconfont"></i><span class="menu-title">制冷系统分析</span><i class="fa fa-angle-left pull-right"></i></a>
								<ul class="treeview-menu">
									<li mid="ml_acl131" onclick="activeLi(this)"><a href="#/runningAnalysis/{{rdcId}}"><i 	class="fa fa-circle-o"></i>运行分析</a></li>
									<li mid="ml_acl132" onclick="activeLi(this)"><a href="#/coolingAnalysis/{{rdcId}}"><i class="fa fa-circle-o"></i>效率分析</a></li>
								</ul>
							</li>
							<!-- 制冷系统分析end -->
							<li mid="ml_acl140" onclick="activeLi(this)"><a href="#/reportsAnalysis/{{rdcId}}"><i class="icon iconfont"></i><span class="menu-title">报表功能</span></a></li>
							<li mid="ml_acl150" onclick="activeLi(this)"><a href="#/tempReport/{{rdcId}}"><i class="icon iconfont"></i><span class="menu-title">分析报告</span></a></li>
						</ul>
					</li>
					<li mid="ml_acl200" class="treeview"><a href="#/about"><i class="icon iconfont" style="color:#ffffff"></i> <span 	class="menu-title text-white" style="font-size: large">报警管理</span></a>
						<ul mid="mlul3" class="treeview-menu">
<!-- 	                                <li mid="ml_acl211" ><a 	href="#/"><i class="icon iconfont"></i><span class="menu-title ">温度报警</span><i class="fa fa-angle-left pull-right"></i></a> -->
<!-- 		                                 <ul class="treeview-menu" > -->
                                           <li mid="ml_acl211" onclick="activeLi(this)"><a 	href="#/alarmTemp"><i class="iconfont">&#xe6f2;</i><span class="menu-title">温度报警</span></a></li>
<!-- 										</ul> -->
<!-- 									</li> -->
<!-- 									 <li id="ml_acl211" onclick="activeLi(this)" ><a href="#"><i class="icon iconfont" ></i><span class="menu-title">运管报警</span></a></li> -->
<!-- 									 <li id="ml_acl211" onclick="activeLi(this)"> <a href="#"><i class="icon iconfont" ></i><span class="menu-title">制冷报警</span></a></li> -->
						</ul>
					</li>
					<li mid="ml_acl300" class="treeview"><a href="#/about"><i
							class="icon iconfont" style="color:#ffffff"></i> <span
							class="menu-title text-white" style="font-size: large">维护管理</span></a>

						<ul class="treeview-menu" ng-if="user.type==2">
					       <li  onclick="activeLi(this)"><a href="#/maintenancenotice"><i class="icon iconfont"></i><span class="menu-title">维修状态</span></a></li> 
					       <li  onclick="activeLi(this)"><a ng-click="tomaintenancehist()" ><i class="iconfont">&#xe7a4;</i><span class="menu-title">维修历史</span></a></li>
						   <li  onclick="activeLi(this)"><a href="#/baoyangReminder"><i class="icon iconfont">   </i><span class="menu-title">设备保养提醒</span></a></li>
						   <li  onclick="activeLi(this)"><a href="#/baoyangReminder"><i class="icon iconfont">   </i><span class="menu-title">巡检与回访</span></a></li>
						</ul> 
						<ul class="treeview-menu" ng-if="user.type!=2">
						   <li onclick="activeLi(this)"><a ng-click="tomaintenancealarm()"><i class="icon iconfont"></i><span class="menu-title">维修告警</span></a></li>  
<!-- 					       <li onclick="activeLi(this)"><a href="#/maintenancenotice"><i class="icon iconfont"></i><span class="menu-title">维修管理</span></a></li>  -->
						    <li  onclick="activeLi(this)"><a ng-click="tomaintenancehist()" ><i class="iconfont">&#xe7a4;</i><span class="menu-title">维修历史</span></a></li>
						   <li onclick="activeLi(this)"><a href="#/baoyangReminder"><i class="icon iconfont"></i><span class="menu-title">机组维护提醒</span></a></li>
						</ul> 
					</li>
					<li mid="ml_acl400" class="treeview"><a href="#designStorage"><i class="icon iconfont" style="color:#ffffff"></i> <span id="mlul5" class="menu-title text-white" style="font-size: large">选型</span></a></li>
				</ul>
			</section>
		</aside>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper body-color">
			<div class="main-content body-color text-white">
				<div ui-view=""></div>
			</div>
		</div>
		<!-- 模态框（Modal） -->
		<div class="modal fade" id="editPassword" tabindex="-1" role="dialog" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                <h4 class="modal-title" id="myModalLabel">修改密码</h4>
		            </div>
		            <div class="modal-body form-horizontal">
		            	<div class="form-group">
							<label class="col-sm-2 control-label">旧密码</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" placeholder="请输旧密码">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">新密码</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" placeholder="请输入新密码">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">再次输入</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" placeholder="请再次输入新密码">
							</div>
						</div>
		            </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
		                <button type="button" class="btn btn-primary">提交更改</button>
		            </div>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal -->
		</div>
		
		
		<footer class="main-footer text-white"><strong>Copyright &copy; 2016 <a href="#">SmartCold</a>.</strong>备案号：沪ICP备 16004753</footer>
		<div class="control-sidebar-bg"></div>
	</div>
	<script type="text/javascript">
		document.write("<scr"+"ipt src=\"assets/plugins/jQuery/jQuery-2.1.4.min.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"assets/js/bootstrap.min.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"assets/js/app.min.js\"></sc"+"ript>");
// 		document.write("<scr"+"ipt src=\"bower_components/pace/pace.min.js\"></sc"+"ript>");//
		document.write("<scr"+"ipt src=\"bower_components/angular/angular.min.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"bower_components/angular-sanitize/angular-sanitize.min.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"bower_components/angular-ui-router/release/angular-ui-router.min.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"bower_components/angular-cookies/angular-cookies.min.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"bower_components/angular-bootstrap/ui-bootstrap.min.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js\"></sc"+"ript>");//
		document.write("<scr"+"ipt src=\"bower_components/highlightjs/highlight.pack.js\"></sc"+"ript>");//
		document.write("<scr"+"ipt src=\"bower_components/angular-bootstrap-checkbox/angular-bootstrap-checkbox.js\"></sc"+"ript>");//
		document.write("<scr"+"ipt src=\"bower_components/angular-xeditable/dist/js/xeditable.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"bower_components/angucomplete-alt/angucomplete-alt.js\"></sc"+"ript>");//
		document.write("<scr"+"ipt src=\"bower_components/at-table/dist/angular-table.min.js\"></sc"+"ript>");//
		document.write("<scr"+"ipt src=\"bower_components/angular-ui-select/dist/select.min.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"bower_components/bootstrap/dist/js/bootstrap-table.js\"></sc"+"ript>");//
		document.write("<scr"+"ipt src=\"bower_components/angular/bootstrap-table-angular.min.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"bower_components/angular/ng-file-upload.min.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"bower_components/angular/ng-file-upload-shim.min.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"assets/js/three.min.js\"></sc"+"ript>");//
		document.write("<scr"+"ipt src=\"assets/js/OrbitControls.js\"></sc"+"ript>");//
		document.write("<scr"+"ipt src=\"assets/js/stats.min.js\"></sc"+"ript>");
        document.write("<scr"+"ipt src=\"bower_components/angular-bootstrap/ui-bootstrap.min.js\"></sc"+"ript>");
        document.write("<scr"+"ipt src=\"bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js\"></sc"+"ript>");
		//  <!-- document.write("<scr"+"ipt src=\"assets/js/star.js\"></sc"+"ript>")-->                                                       ;
// 		 document.write("<scr"+"ipt src=\"assets/js/echarts-all.js\"></sc"+"ript>")                                             ;
		document.write("<scr"+"ipt src=\"assets/js/highcharts.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"assets/plugins/layer/layer.js\"></sc"+"ript>");
		
		document.write("<scr"+"ipt src=\"app/js/app.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/threeTemplate.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/controller-base.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/myColdStorage.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/preview.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/coldStorageMap.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/coldStorageMonitor.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/coldStorageDoor.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/coldStorageTemper.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/coldStorageInOutGoods.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/compressorMonitor.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/compressorPressure.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/compressorBlower.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/designStorage.js\"></sc"+"ript>");
// 		document.write("<scr"+"ipt src=\"app/js/report.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/basicReport.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/historyData.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/exphistoryData.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/rdcPower.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/warn.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/light.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/power.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/waterCost.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/warncoldAnalysis.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/platformDoor.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/other.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/coolingAnalysis.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/reportsAnalysis.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/analysis.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/alarmLog.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/waterCostGroup.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/monthReport.js\"></sc"+"ript>");
        document.write("<scr"+"ipt src=\"app/js/tempReport.js\"></sc"+"ript>");
        document.write("<scr"+"ipt src=\"app/js/wiseReport.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/baoyangWeixiuApply.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/baoyangWeixiuRecords.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/cold360Physical.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/lightGroup.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/maintainComfirm.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/maintenancealarm.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/maintenancenotice.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/maintainRequest.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/maintainRepair.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"app/js/message.js\"></sc"+"ript>");
		
		document.write("<scr"+"ipt src=\"assets/plugins/chartjs/Chart.min.js\"></sc"+"ript>");//
		document.write("<scr"+"ipt src=\"assets/plugins/fastclick/fastclick.min.js\"></sc"+"ript>");//
		document.write("<scr"+"ipt src=\"assets/js/demo.js\"></sc"+"ript>");//
		document.write("<scr"+"ipt src=\"assets/plugins/flot/jquery.flot.min.js\"></sc"+"ript>");
// 		document.write("<scr"+"ipt src=\"assets/plugins/flot/jquery.flot.resize.min.js\"></sc"+"ript>");
// 		document.write("<scr"+"ipt src=\"assets/plugins/flot/jquery.flot.pie.min.js\"></sc"+"ript>");
// 		document.write("<scr"+"ipt src=\"assets/plugins/flot/jquery.flot.categories.min.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"assets/plugins/daterangepicker/moment.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"assets/plugins/daterangepicker/daterangepicker.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"assets/plugins/daterangepicker2/bootstrap-datetimepicker.js\"></sc"+"ript>");
		document.write("<scr"+"ipt src=\"../../assets/js/jQuery.print.js\"></sc"+"ript>");
	</script>
</body>
</html>