<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:task="http://www.springframework.org/schema/task"
	   xmlns:cache="http://www.springframework.org/schema/cache"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-4.1.xsd
           http://www.springframework.org/schema/task
           http://www.springframework.org/schema/task/spring-task-4.1.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
        <property name="maxUploadSize" value="104857600" />
    </bean>
	<bean  class="org.springframework.web.client.RestTemplate"> 
		<constructor-arg>
			<bean class="org.springframework.http.client.HttpComponentsClientHttpRequestFactory">
				<property name="readTimeout" value="5000" />
				<property name="connectTimeout" value="5000" />
			</bean>
		</constructor-arg>
	</bean>
	<bean id="loadPush" class="com.smartcold.zigbee.manage.util.push.BaseTest" init-method="beforeClass"></bean>
	<!-- 设置使用注解的类所在的jar包 -->
	<context:component-scan base-package="com.smartcold.zigbee.manage.controller"/>
	<context:component-scan base-package="com.smartcold.zigbee.manage.service" />
	<!-- enable autowire --> 
	<context:annotation-config />
	<!-- 默认的注解映射的支持 -->  
	<mvc:annotation-driven />
	<!-- 支持缓存 -->
	<cache:annotation-driven/>
	
	 <!-- 处理定时任务并发性操作。。 -->
	<task:annotation-driven scheduler="myScheduler"/>   
	<task:scheduler id="myScheduler" pool-size="20"/>  
	
</beans>