<div>
    <section>
        <div class="row" style="height: 75px;width: 100%"></div>
    </section>
    <section class="content">
        <div class="row" style="height: 20px;width: 100%;position: relative;top: 10px;">
            <ul class="breadcrumb" style="padding-left: 45px">
                <li class="active">
                    <a ng-click="goRdcList()">冷库列表</a>
                </li>
                <li class="active">
                    冷库地图
                </li>
                <a style="position:relative;margin-left: 80%" ng-click="goAddRdc()">添加冷库</a>
            </ul>
        </div>
        <div class="row" style="position:relative;top: 20px;width: 100%">
            <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12" style="margin-top:0px;margin-bottom: 0px">
                        <div class="chart" id="rdcMapChart"
                             style="height:480px;width: 98%;margin-left: 2%;margin-top: 2%;margin-bottom: 3%;"></div>
                    </div>
        </div>
    </section>
</div>