<div  style="background-color: #F1F1F1;">
	<div class="addcold">
		<div class="well well-sm" style="text-align:center"> 
			<strong>修改冷库(<em>*</em>为必填选项)</strong>
		</div>
		<div class="wrapper">
			<table class="table">
				<tr>
					<td>名称：<em>*</em></td>
					<td><input type="text" ng-model="name" ng-disabled="editable"></td>
				</tr>
				<tr>
					<td>省：<em>*</em></td>
					<td>
						<select ng-model="provinceId" ng-change="provinceSelected(provinceId)">
                            <option value="">-- 请选择 --</option>
                            <option ng-repeat="x in provinces" value="{{x.provinceId}}">{{x.provinceName}}</option>
                        </select>
					</td>
				</tr>
				<tr>
					<td>市：<em>*</em></td>
					<td>
						<select ng-model="cityId" ng-change="citySelected(cityId)" ng-options="x.cityID as x.cityName for x in citys"></select>
					</td>
				</tr>
				<tr>
					<td>地理位置：<em>*</em></td>
					<td>
						 <input type="text" ng-model="address" ng-disabled="editable">
					</td>
				</tr>
				<tr>
					<td>面积：<em>*</em></td>
					<td>
						  <input type="text" placeholder="冷库面积（平方米）"  ng-model="area" ng-disabled="editable">
					</td>
				</tr>
				<tr>
					<td>冷库经营类型：<em>*</em></td>
					<td>
						  <select ng-model="manageType" ng-change="ManageTypeSelected(manageType)" ng-options="x.id as x.type for x in manageTypes"></select>
					</td>
				</tr>				
				<tr>
					<td>商品存放类型：<em>*</em></td>
					<td>
						  <select ng-model="storageType" ng-change="StorageTypeSelected(storageType)" ng-options="x.id as x.type for x in storageTypes"></select>
					</td>
				</tr>				
				<tr>
					<td>冷库温度类型：<em>*</em></td>
					<td>
						  <select ng-model="temperType" ng-change="TemperTypeSelected(temperType)" ng-options="x.id as x.type for x in temperTypes"></select>
					</td>
				</tr>			
				<tr>
					<td>冷藏车数量：<em>*</em></td>
					<td>
						<div class="input-group">
						  <span class="input-group-addon" id="sizing-addon2">＜1.8T</span>
						  <input type="text" class="form-control" placeholder="0" aria-describedby="sizing-addon2">
						  <span class="input-group-addon" id="sizing-addon2">辆</span>
						  <span class="input-group-addon" id="sizing-addon2">1.8～6T</span>
						  <input type="text" class="form-control" placeholder="0" aria-describedby="sizing-addon2">
						  <span class="input-group-addon" id="sizing-addon2">辆</span>
						</div>
						<div class="input-group" style="margin-top:20px;">
						  <span class="input-group-addon" id="sizing-addon2">6～14T</span>
						  <input type="text" class="form-control" placeholder="0" aria-describedby="sizing-addon2">
						  <span class="input-group-addon" id="sizing-addon2">辆</span>
						  <span class="input-group-addon" id="sizing-addon2">＞14T</span>
						  <input type="text" class="form-control" placeholder="0" aria-describedby="sizing-addon2">
						  <span class="input-group-addon" id="sizing-addon2">辆</span>
						</div>
					</td>
				</tr>
				<tr>
					<td>手机号：<em>*</em></td>
					<td>
						<input type="text" ng-model="phoneNum" ng-disabled="editable">
					</td>
				</tr>
				<tr>
					<td>备注：</td>
					<td>
						<textarea type="text" ng-model="remark" ng-disabled="editable"></textarea>
						<div class="addMore">
		                    <a onclick="addMore(this)">添加更多...</a>
		                </div>
					</td>
				</tr>
				<tr>
					<td>吨位：</td>
					<td><input type="text" ng-model="tonnage" ng-disabled="editable"></td>
				</tr>
				<tr>
					<td>结构：</td>
					<td><input type="text" ng-model="structure" ng-disabled="editable"></td>
				</tr>
				<tr>
					<td>冷链设施类型：</td>
					<td>
						<select ng-model="companyDevice" ng-change="CompanyDeviceSelected(companyDevice)" ng-options="x.id as x.type for x in companyDevices"></select>
					</td>
				</tr>
				<tr>
					<td>是否有月台：</td>
					<td>
						<select ng-model="platform">
                            <option value="0" selected>无</option>
                            <option value="1">有</option>
                        </select>
					</td>
				</tr>
				<tr>
					<td>是否有理货间：</td>
					<td>
						<select ng-model="lihuoRoom" ng-change="ChangLihuoState(lihuoRoom)">
                            <option value="0">无</option>
                            <option value="1">有</option>
                        </select>
					</td>
				</tr>
				<tr>
					<td>理货区面积：</td>
					<td><input type="text" ng-model="lihuoArea" ng-disabled="editable"></td>
				</tr>
				<tr>
					<td>理货区有无温控：</td>
					<td>
						<select ng-model="lihuoTemperCtr">
                            <option value="0" selected>无</option>
                            <option value="1">有</option>
                        </select>
					</td>
				</tr>
				<tr>
					<td>制冷剂类型：</td>
					<td>
						<select ng-model="storageRefreg" ng-change="StorageRefregSelected(storageRefreg)" ng-options="x.id as x.type for x in storageRefregs"></select>
					</td>
				</tr>
				<tr>
					<td>有无温度记录：</td>
					<td>
						<select ng-model="temperRecord">
                            <option value="0" selected>无</option>
                            <option value="1">有</option>
                        </select>
					</td>
				</tr>
				<tr>
					<td>冷库容量：</td>
					<td>
						<div class="input-group">
						  <span class="input-group-addon" id="sizing-addon2">12度至25度 </span>
						  <input type="text" class="form-control" placeholder="0" aria-describedby="sizing-addon2">
						  <span class="input-group-addon" id="sizing-addon2">吨</span>
						  <span class="input-group-addon" id="sizing-addon2">12度至-2度</span>
						  <input type="text" class="form-control" placeholder="0" aria-describedby="sizing-addon2">
						  <span class="input-group-addon" id="sizing-addon2">吨</span>
						</div>
						<div class="input-group" style="margin-top:20px;">
						  <span class="input-group-addon" id="sizing-addon2">-18度至-22度</span>
						  <input type="text" class="form-control" placeholder="0" aria-describedby="sizing-addon2">
						  <span class="input-group-addon" id="sizing-addon2">吨</span>
						  <span class="input-group-addon" id="sizing-addon2">-22至-30度</span>
						  <input type="text" class="form-control" placeholder="0" aria-describedby="sizing-addon2">
						  <span class="input-group-addon" id="sizing-addon2">吨</span>
						</div>	
						<div class="input-group" style="margin-top:20px;">
						  <span class="input-group-addon" id="sizing-addon2">-30度以下 </span>
						  <input type="text" class="form-control" placeholder="0" aria-describedby="sizing-addon2">
						  <span class="input-group-addon" id="sizing-addon2">吨</span>
						</div>		
					</td>
				</tr>
				<tr>
					<td>周边设施：</td>
					<td>
						<textarea type="text" ng-model="facility" placeholder="交通、加油站、宾馆、银行、餐饮、距市区和高速的距离等.." ng-disabled="editable"></textarea>
					</td>
				</tr>
				<tr>
					<td>资质&荣誉：</td>
					<td><input type="file" ng-model="honorPic" name="honorPic" ngf-select="addHonorPic($honorPic)" ngf-multiple="true"></td>
				</tr>
				<tr>
					<td>功能平面布置图：</td>
					<td><input type="file" ng-model="arrangePic" name="arrangePic" ngf-select="addArrangePic($arrangePic)" ngf-multiple="true"></td>
				</tr>
				<tr>
					<td>冷库图片：</td>
					<td>
						<input type="file" ngf-select="addFiles($files)" ng-model="files" ngf-multiple="true" name="files">
						<div class="col-sm-6 divCSS">
                            <small class="text-warning" style="width: 100px">*最多五张</small>
                        </div>
                        <div class="col-lg-12 col-lg-offset-2">
		                    <label ng-repeat="file in totalfiles" style="margin-left:20px"><span ng-bind="file.name"></span>
		                        <i class="icon-remove-sign danger" style="margin-right:10px;color:red;" ng-click="drop(file)"></i>
		                    </label>
		                </div>
					</td>
				</tr>
			</table>
			<button class="btn btn-primary" ng-click="submit()" style="margin:0 0 20px 90%;">保存</button>
		</div>
	</div>
</div>
    	