 <style type="text/css">
     button{display: inline-block;background-color: #337AB7;padding: 3px 5px;margin-bottom: 3px;color: #fff;border-radius: 4px;}
     #myTabContent{margin-top: 10px;}
     em{color: red;font-size: 12px;}
     .form-horizontal .control-label{text-align: left;text-indent: 2em;padding: 7px 0 0 0;min-width:92px;}
     .checkbox-inline{padding: 0 20px 0 0;}
     .checkbox-inline input[type='radio']{margin:0 3px;}
     .myTop{padding: 4px 40px;margin-top: 10px;}
     .imgList{width:48%;margin-right:1%; box-sizing:border-box;}
    .imgList li {overflow: hidden; margin: 10px 0; padding: 10px; vertical-align: middle; position: relative;background: #fff;}
    .img { width: 100px; height: 80px; background-size: cover; position: relative; *overflow: hidden; margin-right: 20px; }
    .img img { position: relative; z-index: 1; width: 100%; height: 100%; }
    .title_news { font-size: 14px; color: #333; margin-top: 10px; }
    .time_news { font-size: 12px; color: #999; }
    .title_news a{display:block;}
    .title_news a:focus{outline: 0;}
    .title_news a:hover{color: #f40;}
    .p_bottom{position: absolute;bottom: 0;left: 140px;}
    .time_news>.glyphicon { color: #f40; margin-right: 10px; }
    .info_edit, .info_delete { color: #418ACA; display: inline-block; padding-left: 20px; cursor: pointer; }
    #file0{padding-top:7px;}
    #img0{max-width:100px;max-height:80px;}
    .modal-body { max-height: 500px; overflow-y: scroll; }
 </style>
 <div style="padding: 28px 30px 0 30px;background-color: #F1F1F1;">
    <div>
    	<!-- tab栏切换=========================================================================================== -->
        <ul id="myTab" class="nav nav-tabs">
    		<li class="active"><a href="#addNews" data-toggle="tab"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;发布信息</a></li>
    		<li><a href="#alreadyRel" data-toggle="tab"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;已发布({{bigTotalItems}})</a></li>
    		<li><a href="#looking" data-toggle="tab"><span class="glyphicon glyphicon-retweet"></span>&nbsp;&nbsp;审核中(0)</a></li>
    		<li><a href="#notPass" data-toggle="tab"><span class="glyphicon glyphicon-floppy-remove"></span>&nbsp;&nbsp;未通过(0)</a></li>
    		<li><a href="#overstay" data-toggle="tab"><span class="glyphicon glyphicon-eye-close"></span>&nbsp;&nbsp;已过期(0)</a></li>
    	</ul>
        <div id="myTabContent" class="tab-content">
    		<div class="tab-pane fade in active" id="addNews">
            	<!-- 信息类型=========================================================================================== -->
    			<div class="newsTyps">
                    <form class="form-horizontal" role="form"> 
        				<div class="form-group clearfix"> 
    				        <label class="col-sm-1 control-label">信息类型<em>*</em></label> 
    				        <div class="col-sm-6"> 
    				            <select class="form-control" ng-model="inforCategory"
                                    ng-options="x.id as x.categoryname for x in inforCategorys"></select>
    				        </div> 
    				    </div>
                    </form>   
                </div>
                <!-- 信息标题=========================================================================================== -->
                <div class="newsTitle">
                    <form class="form-horizontal" role="form"> 
                        <div class="form-group clearfix"> 
    				        <label class="col-sm-1 control-label">信息标题<em>*</em></label> 
    				        <div class="col-sm-6"> 
    				            <input type="text" ng-model="title" class="form-control" placeholder="请输入信息标题（2-30个字）"> 
    				        </div> 
    				    </div> 
                    </form>
                </div>
                 <!-- 上传封面图片=========================================================================================== -->
                <div class="newsCoverImg">
                    <form class="form-horizontal" role="form"> 
                        <div class="form-group clearfix"> 
    				        <label class="col-sm-1 control-label">封面图片<em>*</em></label> 
    				        <div class="col-sm-6"> 
    				            <form name="form0" id="form0" >
									<input type="file" name="file0" id="file0"  ng-model="coverpic"  ngf-select="addCoverPic($coverpic)" /><img src="" id="img0" >
								</form>
    				        </div> 
    				    </div> 
                    </form>
                </div>
                <script>	
					$("#file0").change(function(){
						var objUrl = getObjectURL(this.files[0]) ;
						console.log("objUrl = "+objUrl) ;
						if (objUrl) {
							$("#img0").attr("src", objUrl) ;
						}
					}) ;
					//建立一個可存取到該file的url
					function getObjectURL(file) {
						var url = null ; 
						if (window.createObjectURL!=undefined) { // basic
							url = window.createObjectURL(file) ;
						} else if (window.URL!=undefined) { // mozilla(firefox)
							url = window.URL.createObjectURL(file) ;
						} else if (window.webkitURL!=undefined) { // webkit or chrome
							url = window.webkitURL.createObjectURL(file) ;
						}
						return url ;
					}
				</script>
				<!-- 上传封面图片 end=========================================================================================== -->
                <!-- 信息关键词=========================================================================================== -->
                <div class="keyWords">
                    <form class="form-horizontal" role="form"> 
                        <div class="form-group clearfix"> 
                            <label class="col-sm-1 control-label">关键词</label> 
                            <div class="col-sm-6"> 
                                <input type="text" ng-model="mainwords" class="form-control" placeholder="(选填)请输入信息关键词，以“,”隔开"> 
                            </div> 
                        </div> 
                    </form>
                </div>
                <!-- 信息说明=========================================================================================== -->
                <div class="newsInfo">
                    <form class="form-horizontal" role="form"> 
                        <div class="form-group clearfix"> 
                            <label class="col-sm-1 control-label">信息说明<em>*</em></label> 
                            <div class="col-sm-6"> 
                                <script id="editor" type="text/plain" style="width:888px;height:300px;"></script> 
                                <div class="btn btn-success myTop" ng-click="inforSubmit()">提交</div>
                                <div class="btn btn-default myTop">置顶</div>
                            </div> 
                        </div> 
                    </form>
                </div>
                
                <div id="btns">
                    <div>
                        <button ng-click="getAllHtml()">获得整个html的内容</button>
                        <button onclick="getContent()">获得内容</button>
                        <button onclick="setContent()">写入内容</button>
                        <button onclick="setContent(true)">追加内容</button>
                        <button onclick="getContentTxt()">获得纯文本</button>
                        <button onclick="getPlainTxt()">获得带格式的纯文本</button>
                        <button onclick="hasContent()">判断是否有内容</button>
                        <button onclick="setFocus()">使编辑器获得焦点</button>
                        <button onmousedown="isFocus(event)">编辑器是否获得焦点</button>
                        <button onmousedown="setblur(event)" >编辑器失去焦点</button>
                    </div>
                    <div>
                        <button onclick="getText()">获得当前选中的文本</button>
                        <button onclick="insertHtml()">插入给定的内容</button>
                        <button id="enable" onclick="setEnabled()">可以编辑</button>
                        <button onclick="setDisabled()">不可编辑</button>
                        <button onclick=" UE.getEditor('editor').setHide()">隐藏编辑器</button>
                        <button onclick=" UE.getEditor('editor').setShow()">显示编辑器</button>
                        <button onclick=" UE.getEditor('editor').setHeight(300)">设置高度为300默认关闭了自动长高</button>
                    </div>

                    <div>
                        <button onclick="getLocalData()" >获取草稿箱内容</button>
                        <button onclick="clearLocalData()" >清空草稿箱</button>
                    </div>
                </div>
                <div>
                    <button onclick="createEditor()">
                    创建编辑器</button>
                    <button onclick="deleteEditor()">
                    删除编辑器</button>
                </div>
    		</div>
<!-- ==============================已发布信息================================================= -->
    		<div class="tab-pane fade clearfix" id="alreadyRel">
    			<ul class="imgList pull-left" ng-repeat="information in AllInformation">
                    <li>
                        <div class="img pull-left"><img src="{{information.coverpic}}"></div>
                        <p class="title_news omg"><a data-toggle="modal" href="#myModal" ng-click="goDetail(information.id)">{{information.title}}</a></p>
                        <p class="time_news p_bottom">
                            {{information.posttime}}
                            <span class="info_edit" ng-click="goEdit(information.id)">修改</span>
                            <span class="info_delete" ng-click="goDelete(information.id)">删除</span>
                        </p>
                    </li>
                </ul>
               <div class="page pull-left" style="text-align:center;width:100%;">
	               <!-- 翻页功能 -->	               
	                    <pagination ng-change="pageChanged()" total-items="bigTotalItems"
	                             ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm"
	                             boundary-links="true" rotate="false" num-pages="numPages"></pagination>	                
			  </div>
    		</div>
    		<!-- 模态框（Modal） --> 
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
				    <div class="modal-dialog" style="width:888px;"> 
				        <div class="modal-content"> 
				            <div class="modal-header"> 
				                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> 
				                <h4 class="modal-title" id="myModalLabel">{{informationDetail.title}}</h4> 
				            </div> 
				            <div id="content" class="modal-body">
				            </div> 
				            <div class="modal-footer"> 
				                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				            </div> 
				        </div><!-- /.modal-content --> 
				    </div><!-- /.modal --> 
				</div>
    		<div class="tab-pane fade" id="looking">
    			<p>审核中----正在开发中，敬请期待……</p>
    		</div>
    		<div class="tab-pane fade" id="notPass">
    			<p>未通过----正在开发中，敬请期待……</p>
    		</div>
    		<div class="tab-pane fade" id="overstay">
    			<p>已过期----正在开发中，敬请期待……</p>
    		</div>
<!-- ==============================正在开发中================================================= -->
    	</div>
        
    </div>
</div>
