<!--params name, objectSets, objectKeys-->
<table class="table table-striped table-bordered ng-pristine ng-untouched">
    <thead>
    <tr>
        <th>{{name}}</th>
        <th>采集数据描述名</th>
        <th>采集数据存储名(唯一)</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody ng-repeat="item in objectSets">
    <tr ng-if="!objectLength(item.mapping) && !item.addItem">
        <td>{{item.name}}</td>
        <td></td>
        <td></td>
        <td>
            <a class="btn btn-success btn-xs" ng-click="item.addItem=true"><span
                    class="glyphicon glyphicon-plus"></span></a>
        </td>
    </tr>
    <tr ng-repeat="(key,value) in item.mapping">
        <td rowspan="{{objectLength(item.mapping) + (item.addItem?1:0)}}" ng-if="$index == 0">
            {{item.name}}{{Object.keys(item).length}}
        </td>
        <td>{{value}}</td>
        <td>{{key}}</td>
        <td>
            <a class="btn btn-danger btn-xs" ng-click="deleteKey(item.mapping,key)"><span
                    class="glyphicon glyphicon-minus"></span></a>
            <a class="btn btn-success btn-xs" ng-click="item.addItem=true"><span
                    class="glyphicon glyphicon-plus"></span></a>
        </td>
    </tr>
    <tr ng-if="item.addItem">
        <td ng-if="!objectLength(item.mapping)">{{item.name}}</td>
        <td><input ng-model="itemInput" class="form-control"/></td>
        <td><select ng-options="item.key for item in objectKeys" ng-model="choseKey"
                    class="form-control"></select></td>
        <td>
            <a class="btn btn-primary btn-xs" ng-disabled="!itemInput" ng-click="addKey(item.mapping, choseKey.key, itemInput);
			             	 	resetItem('choseKey',item)">
                <span class="glyphicon glyphicon-check"></span></a>
            <a class="btn btn-danger btn-xs" ng-click="resetItem('choseKey',item)"><span
                    class="glyphicon glyphicon-minus"></span></a>
        </td>
    </tr>
    </tbody>
</table>
<button class="btn btn-primary pull-right" ng-click="save()" ng-if="table.length">保存</button>