<div style="padding: 28px 30px 0 30px;background-color: #F1F1F1;">
	<div id="search" class="btn-group pull-left monthAll" style="margin-left:0">		
	    <select class="monthSelect"    ng-change="changeType(x)" ng-model="x">
	      <option value="">全部</option> <option value="0">DEV</option> <option value="1">PLC</option>
	    </select>						
	</div>			
	<div class="pull-left monthSearch">
		<input  id="myText"  type="text" ng-model="keyword" placeholder="请输入冷库名或冷库ID" ng-keyup="searchData($event);"/>
		<div id="searchImg" ng-click="initdata();" > <span class="glyphicon glyphicon-search"></span> </div>
	</div>
	<!-- 表格操作区域开始 -->
	<div class="tableArea" >
		<table class="table table-striped table-bordered" id="tableArea" ng-model="rdcs">
		   <thead>
		      <tr>
		         <th>
		         	<div>
		         		<input type="checkbox" ng-checked="isChecked()" ng-click="toggleAll()" class="checkBox"  > <label for="allSecSon" style="font-size:16px;font-weight:400" ng-click="toggleAll()">全选</label>
		         	</div>
		         </th>
		         <th>冷库ID</th>
		         <th>类型</th>
		         <th>冷库名</th>
		         <th>操作</th>
		      </tr>
		   </thead>
		   <tbody>
		      <tr ng-repeat="item in rdcList">
		         <td>
					<input type="checkbox" ng-checked="exists(item, selected)" ng-click="toggle(item, selected)"/>
		         </td>
		         <td>{{item.id}}</td>
		         <td>{{item.type==0?"DEV":"PLC"}}</td>
		         <td>{{item.name}}</td>
		         <td>
	              <a  ng-click="goreport(item)" title="详细"><span class="edit" ></span></a>
		         </td>
		      </tr>
		   </tbody>
		</table>
		<div class="page">
	        <!-- 翻页功能 -->
	         <div class="row" style="text-align:center">
	               <pagination ng-change="initdata()" total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm"  boundary-links="true" rotate="false" num-pages="numPages"></pagination>
	          </div>
		</div>
	</div>
</div>