      <link rel="stylesheet" type="text/css" media="all" href="assets/jedate/skin/jedate.css" />
      <script type="text/javascript" src="assets/jedate/jquery.jedate.js"></script>
      <style>
      	.jedateblue .jedatebot .jedatebtn span{
			width:46%!important;
		}
      </style>
      <!-- 分析週期日起查詢 -->
     
<div id="rpt_asis_coment" class="page-content" style="padding: 0 10px">
	<div class="page-header row" style="padding-top: 5px;">
		<div class="col-lg-4">
				&nbsp;&nbsp;月报表&nbsp;&nbsp;
				<button class="btn btn-info myPrint left" ng-click="savesis()">保存 </button>
		</div>
		<div class="col-lg-4"></div>
		<div class="col-lg-4 text-right" style="color:#333;font-size: 14px;line-height: 2;">
			  <input class="datainp wicon" id="date04" type="text" placeholder="YYYY-MM"  readonly>
			<button class="btn btn-info myPrint" ng-click="getreport()">查询 </button>
		</div>
	</div>

	<div id="print" ng-show="!isloaderr">
	    <!-- 报表标题  -->
	    <div class="print_title">
	    	<h2 class="tac" style="margin: 0"><strong>冷库综合运行系统月度分析报告</strong></h2>
	    	<div class="print_name clearfix">
	    		<div class="pull-left">
	    			<span>客户名称：</span><input type="text" value="{{pysicaldata.compName}}">
	    		</div>
	    		<div class="pull-left">
	    			<span>DC(冷库)名称：</span><input type="text" value="{{rdcname}}">
	    		</div>
	    		<div class="pull-left input-group date">
	    			<span>分析周期：</span><input type="text" value="{{timeuRange}}">
	    			
	    		</div>
	    	</div>
	    </div>
	    <!-- DC(冷库)综合评分分值（满分为100分）  -->
	    <div class="print_part">
	    	<h4><strong>DC(冷库)综合评分分值(满分为100分):</strong></h4>
			<div id="physicalstep2" class="sys_group">
				<!-- 温度系统 -->
				<div class="box bg-gray" ng-if="pysicaldata.ishasTempDEV">
					<div class="box-header with-border">
						<h3 class="box-title">温度系统</h3>
					</div>
					<div class="box-body">
						<!-- 有设备 -->
						<div class="haveDevice">
							<div class="circle nobg fontBlue">
								<img class="no-print" src="../../assets/img/blue_circle.png" height="160" width="160" alt="">
								{{pysicaldata.avgTempScores}}<span>分</span>
							</div>
						</div>
					</div>
				</div>
				<!-- 运管系统 -->
				<div class="box bg-gray" ng-if="pysicaldata.ishasTempDEV">
					<div class="box-header with-border">
						<h3 class="box-title">运管系统</h3>
					</div>
					<div class="box-body">
						<!-- 有设备 -->
						<div class="haveDevice">
							<div class="circle nobg fontGold">
								<img class="no-print" src="../../assets/img/gold_circle.png" height="160" width="160" alt="图片丢失了~">
								{{pysicaldata.avgTransportScores}}<span>分</span>
							</div>
						</div>
					</div>
				</div>
				<!-- 制冷系统 -->
				<div class="box bg-gray" ng-if="pysicaldata.ishasplc">
					<div class="box-header with-border">
						<h3 class="box-title">制冷系统</h3>
					</div>
					<div class="box-body">
						<!-- 有设备 -->
						<div class="haveDevice ">
							<div class="circle nobg fontGreen">
								<img class="no-print" src="../../assets/img/green_circle.png" height="160" width="160" alt="">
								{{pysicaldata.coldStorage}}<span>分</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- DC(冷库)月度运行状况分析结论  -->
		<div class="print_part partP">
	    	<h4><strong>DC(冷库)月度运行状况分析结论:</strong></h4>
	    	<textarea ng-model="rdcsis.rdcsis"></textarea>
	    	<p class="text-right"><button class="btn btn-success" ng-click="savesis()">保存</button></p>
	    </div>
	    
	    <!-- DC(冷库)月度运行分析详情技术附件及结论：  -->
	    <!-- 温度分析部分 -->
	    <div class="print_part chart_gap">
	    	<h4><strong>DC(冷库)月度运行分析详情技术附件及结论:</strong></h4>
	    	<p class="tac w60"><span class="bgBlue">温度分析</span></p>
	    	<div class="clearfix">
	    		<div class="chartPart w60">
	    			<div id="tempertureId" class="chartHight" ng-show="isnotprint"></div>
	    			<div id="tempertureId_img"  ng-show="!isnotprint"></div>
	    		</div>
	    		<div class="textPart w40">
	    			<p><strong>超温时长（综合大数据纵环比分析）</strong></p>
	    			<p ng-repeat="obj in charrestmsg[0]"><span >{{obj.msg}}</span></p>
	    		</div>
	    	</div>
	    	<hr>
	    	<div class="clearfix">
	    		<div class="chartPart w60">
	    			<div id="cwyzId" class="chartHight" ng-show="isnotprint"></div>
	    			<div id="cwyzId_img"  ng-show="!isnotprint"></div>
	    		</div>
	    		<div class="textPart w40">
	    			<p><strong>超温因子（综合大数据纵环比分析）</strong></p>
	    		    <p ng-repeat="obj in charrestmsg[1]"><span >{{obj.msg}}</span></p>
<!-- 	    			<p><span class="intro">**判断优良标准逻辑：平均每天2.0以下“优良”，2.0~5属“一般”，5以上属“不理想”**<span ></p> -->
	    		</div>
	    	</div>
	    	<hr>
	    	<div class="clearfix">
	    		<div class="chartPart w60">
	    			<div id="bwyzId" class="chartHight" ng-show="isnotprint"></div>
	    			<div id="bwyzId_img"  ng-show="!isnotprint"></div>
	    		</div>
	    		<div class="textPart w40">
	    			<p><strong>保温因子（综合大数据纵环比分析）</strong></p>
	    			<p ng-repeat="obj in charrestmsg[2]"><span >{{obj.msg}}</span></p>
<!-- 	    			<p><span class="intro">**判断优良标准逻辑：平均每天0.1以下“优良”，0.1~0.15属“一般”，0.15以上属“不理想”**</span></p> -->
	    		</div>
	    	</div>
	    </div>
	    <!-- 运管分析部分 -->
	    <hr>
	    <div class="print_part chart_gap">
	    	<p class="tac w60"><span class="bgGold">运管分析</span></p>
	    	<div class="clearfix">
	    		<div class="chartPart w60">
	    			<div id="openDoorTimesId" class="chartHight" ng-show="isnotprint"></div>
	    			<div id="openDoorTimesId_img"  ng-show="!isnotprint"></div>
	    		</div>
	    		<div class="textPart w40">
	    			<p><strong>开门次数（综合大数据纵环比分析）</strong></p>
	    			<p ng-repeat="obj in charrestmsg[3]"><span >{{obj.msg}}</span></p>
<!-- 	    			<p><span class="intro">**判断优良标准逻辑：平均每天30以下“规范”，30~50属“一般”，50以上属“频繁”**</span></p> -->
	    		</div>
	    	</div>
	    	<hr>
	    	<div class="clearfix">
	    		<div class="chartPart w60">
	    			<div id="singleOpenDoorId" class="chartHight" ng-show="isnotprint"></div>
	    			<div id="singleOpenDoorId_img"  ng-show="!isnotprint"></div>
	    		</div>
	    		<div class="textPart w40">
	    			<p><strong>单次开门时长(综合大数据纵比分析）</strong></p>
	    		    <p ng-repeat="obj in charrestmsg[4]"><span >{{obj.msg}}</span></p>
<!-- 	    			<p><span class="intro">**判断优良标准逻辑：平均每次开门时长3以下“规范”，3~5属“一般”，5以上属“不规范”**</span></p> -->
	    		</div>
	    	</div>
	    	<hr>
	    	<div class="clearfix">
	    		<div class="chartPart w60">
	    			<div id="goodsId" class="chartHight" ng-show="isnotprint"></div>
	    			<div id="goodsId_img"  ng-show="!isnotprint"></div>
	    		</div>
	    		<div class="textPart w40">
	    			<p><strong>货物流通因子(综合大数据纵环比分析）</strong></p>
	    			 <p ng-repeat="obj in charrestmsg[5]"><span >{{obj.msg}}</span></p>
<!-- 	    			<p><span class="intro">**文本框处根据月度平均货物因子值自动判断“低于”“符合””超过”**</span></p> -->
	    		</div>
	    	</div>
	    </div>
	    <!-- 制冷分析部分 -->
	    <hr>
	    <div class="print_part chart_gap">
	    	<p class="tac w60"><span class="bgGreen">制冷分析</span></p>
	    	<div class="clearfix partP">
	    		<div class="chartPart w50">
	    			<div id="ysjRunningTimeId" class="chartHight" ng-show="isnotprint"></div>
	    			<div id="ysjRunningTimeId_img"  ng-show="!isnotprint"></div>
	    		</div>
	    		<div class="chartPart w50" style="border-left: 0;">
	    			<div id="onOffCycleId" class="chartHight" ng-show="isnotprint"></div>
	    			<div id="onOffCycleId_img"  ng-show="!isnotprint"></div>
	    		</div>
	    	</div>
	    	<textarea ng-model="rdcsis.chillersis"></textarea>
	    	<p class="text-right"><button class="btn btn-success" ng-click="savesis()">保存</button></p>
	    </div>
	    <!-- 热量分析部分 -->
	    <hr>
	    <div class="print_part chart_gap">
	    	<p class="tac w60"><span class="bgPurple">热量分析</span></p>
	    	<div class="clearfix">
	    		<div class="chartPart w60">
	    			<div id="hotId" class="chartHight" ng-show="isnotprint"></div>
	    			<div id="hotId_img"  ng-show="!isnotprint"></div>
	    		</div>
	    		<div class="textPart w40">
    				<p><strong >本DC（冷库）的月平均热量分布</strong></p>
    				<ul> 
    					<li  ng-repeat="obj in charrestmsg[8]">
    						<span >{{obj.key}}-{{obj.zb}}%-{{obj.zbm}}-{{obj.yhm}}</span>
						</li>
    				</ul>
	    		</div>
	    	</div>
	    </div>
	    <!-- 能耗分析部分 -->
	    <hr>
	    <div class="print_part chart_gap">
	    	<p class="tac w60"><span class="bgRed">能耗分析</span></p>
	    	<div class="clearfix partP">
	    		<div class="chartPart w50">
	    			<div id="electricId" class="chartHight w100" ng-show="isnotprint"></div>
	    			<div id="electricId_img" class=" w100" ng-show="!isnotprint"></div>
	    		</div>
	    		<div class="chartPart w50">
	    			<div id="waterId" class="chartHight w100" ng-show="isnotprint"></div>
	    			<div id="waterId_img" class=" w100"  ng-show="!isnotprint"></div>
	    		</div>
	    		<div class="textPart w100">
	    			<p class="w50" style="margin-top: 20px;margin-right: 100px;"><strong>本DC（冷库）的月累计能耗统计</strong></p>
    				<ul class="w50"> 
    					<li ng-repeat="obj in charrestmsg[9]">
    						<span >{{obj.name}}-累计电耗-{{obj.value  | number:2}}kwh</span>
						</li>
    				</ul>
    				<ul class="w50"> 
						<li ng-repeat="obj in charrestmsg[10]">
    						<span >{{obj.name}}-累计水耗-{{obj.value | number:2}}t</span>
						</li>
    				</ul>
				</div>
	    	</div>
	    </div>
	    <!-- 能效分析部分 -->
	    <hr>
	    <div class="print_part chart_gap">
	    	<p class="tac w60"><span class="bgPink">能效分析</span></p>
	    	<div class="clearfix partP">
	    		<div class="chartPart w60">
	    			<div id="energyEfficiencyId" class="chartHight" ng-show="isnotprint"></div>
	    			<div id="energyEfficiencyId_img"  ng-show="!isnotprint"></div>
	    		</div>
	    		<div class="textPart w40">
	    			<p><strong >本DC（冷库）的月累计能耗统计</strong></p>
    				<ul> 
    					<li ng-repeat="obj in charrestmsg[9]">
    						<span >{{obj.name}}-累计电耗-{{obj.value  | number:2}}kwh</span>
						</li>
    				</ul>
				</div>
	    	</div>
	    </div>
	</div>
	<div class="col-lg-12 text-center" ng-show="isloaderr">
	  <div class="alert alert-info text-center">没有查到当前月份的分析数据哦</div>
   </div>
</div>
<div id="loding" class="cover_bg black" ng-hide="loadindex>=11">
	<div class="loader">
        <div class="loader-inner line-scale">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <br/>
                                正在生成报表，请稍后！
      </div>
</div>
<script type="text/javascript" src="../../assets/js/echarts-all.js"></script>