<style>
.fillwith{width: 100%;}
.fltit{ width: 5%;text-align: center; line-height: 31px;}
.multiSelect > button {width: 100%;    min-height: 33px !important;}
.multiSelect .checkboxLayer {width: 100%;}
.role_seclect{margin-bottom: 0px;}
.myText{
width: 100%;
    height: 32px;
    border: 1px solid #767e81;
    border-radius: 3px;
    line-height: 32px;
    padding-left: 10px;
    color: #555;
    outline: none;
}
.searchImg {
    position: absolute;
    top: 0;
    right: 20px;
    line-height: 32px;
}
</style>
  <link rel="stylesheet" href="app/bower_components/zTree/css/zTreeStyle/zTreeStyle.css" type="text/css">
<script type="text/javascript" src="app/bower_components/zTree/js/jquery.ztree.all.min.js"></script>
<div style="padding: 28px 30px 0 30px;background-color: #F1F1F1;">
	<!-- tab栏切换=========================================================================================== -->
	<ul id="myTab" class="nav nav-tabs">
		<li class="active"><a href="#rdc_limit" data-toggle="tab"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;权限管理</a></li>
		<li ><a href="#acl_sys" data-toggle="tab" ng-click="inittre()"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;权限设置</a></li>
		<li><a href="#rdc_role" data-toggle="tab"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;角色</a></li>
		<li><a href="#rdc_group" data-toggle="tab"><span class="glyphicon glyphicon-paperclip"></span>&nbsp;&nbsp;组</a></li>
		<li><a href="#rdc_user" data-toggle="tab"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;用户</a></li>
	</ul>
	<div id="myTabContent" class="tab-content role_limit">
	<!-- 权限配置=========================================================================================== -->
		<div class="tab-pane fade in active clearfix" id="rdc_limit">
		
		
		   <div class="alert alert-warning" style="font-size: 14px"> <a href="#" class="close" data-dismiss="alert">&times;</a>权限级别：RDC>RUA>User>Role>Group</div>
			<div class="row form-group">
		        <div class="col-md-1 fltit" >对    象:</div>
		        <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10" style="width: 95%;   padding-right: 0px;">
		               <div class="btn-group role_seclect text-left text-nowrap row">
						 <select class="col-lg-10" ng-model="type"  ng-change="initData()" ><option ng-repeat="x in slmode" value="{{x.value}}">{{x.name}}</option></select>
					  </div>
		        </div>
		    </div>
		    <div ng-if="type==1"  class="row form-group">
		         <div class="role_table col-lg-5 col-lg-md-5 col-sm-12 col-xs-12">
					<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<thead>
							   <tr>
							     <th colspan="2">
									 <div class="btn-group fillwith">
										<input type="text" placeholder="请输入关键词" class="myText" ng-model="ruukeyword"  ng-change="initruacluser(ruukeyword)" />
										<div class="searchImg"><span class="glyphicon glyphicon-search"></span></div>
									 </div>
							     </th>
							   </tr>
								<tr style="background: #E4E4E4;">
									<th >ID</th>
									<th >用户名</th>
								</tr>
							</thead>
							<tbody id="tb_ruu_body">
								<tr  ng-repeat="ruu in ruusers" id="tr_ruu_{{ruu.id}}"  ng-click="changenaclruMode(ruu)"  >
									<td>{{ruu.id}}</td>
									<td>{{ruu.name}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				 <div class="role_table col-lg-5 col-lg-md-5 col-sm-12 col-xs-12">
					<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<thead>
							   <tr>
							     <th colspan="2">
									 <div class="btn-group fillwith">
										<input type="text" placeholder="请输入关键词" class="myText" ng-model="rurkeyword" ng-change="initruaclrdc(rurkeyword)" />
										<div class="searchImg"><span class="glyphicon glyphicon-search"></span></div>
									 </div>
							     </th>
							   </tr>
								<tr style="background: #E4E4E4;">
									<th >ID</th>
									<th >冷库名称</th>
								</tr>
							</thead>
							<tbody id="tb_rur_body">
								<tr  ng-repeat="rurdc in rurdcs"  id="td_rur_{{rurdc.id}}"  ng-click="changenaclrdMode(rurdc)"   >
									<td>{{rurdc.id}}</td>
									<td>{{rurdc.name}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div> 
				 <div class="role_table col-lg-2 col-lg-md-2 col-sm-12 col-xs-12">
				  <button type="button" class="btn btn-info" ng-disabled="gluser==null||glrdc==null" ng-click="addruacl()">加权</button>
				 </div>
		    </div>
		    
			
			<div class="role_table col-lg-6 col-lg-md-6 col-sm-12 col-xs-12">
				<div class="table-responsive">
					<table class="table table-bordered table-hover">
						<thead>
						   <tr>
						     <th colspan="{{type==1?3:2}}">
								 <div class="btn-group fillwith">
									<input type="text" placeholder="请输入关键词" id="myText" ng-model="keyword" ng-change="initData()" />
									<div id="searchImg" ng-click="initData()"><span class="glyphicon glyphicon-search"></span></div>
								 </div>
						     </th>
						   </tr>
							<tr style="background: #E4E4E4;">
								<th >ID</th>
								<th >{{tablemode[type][1][0]}}</th>
								<th ng-if="type==1" >{{tablemode[type][1][1]}}</th>
							</tr>
						</thead>
						<tbody id="tb_body">
							<tr ng-if="type!=1"  ng-repeat="obj in objDataList"  id="tr_row_{{obj.id}}" ng-click="changenaclMode( obj.id)" >
								<td>{{obj.id}}</td>
								<td>{{obj[colem1]}}</td>
								<td ng-if="type==1" >{{obj[colem2]}}</td>
							</tr>
							<tr ng-if="type==1"  ng-repeat="obj in objDataList"  id="tr_row_{{obj.id}}" ng-click="changenaclMode( obj.id)" >
								<td>{{obj.id}}</td>
								<td>{{obj.uname}}</td>
								<td>{{obj.cname}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="role_tree col-lg-6 col-lg-md-6 col-sm-12 col-xs-12">
				<div id="div_ml" class="box">

					<div  id="mid_1" class="filter current">
						<!-- 一级过滤：仅仅用来显示隐藏二级过滤 -->
						<div class="oneFilter">
							<span class="role_on_off"></span>
							<label><input mid="1" aid="1" pid="0" type="checkbox" value="">监控</label>
						</div>
						<!-- 二级过滤：用来刷新页面内容 -->
						<ul class="role_list">
							<li><label><input mid="1" aid="10" pid="1" type="checkbox" value="">温度</label></li>
							<li><label><input mid="1" aid="20" pid="1" type="checkbox" value="">能耗</label></li>
							<li><label><input mid="1" aid="30" pid="1" type="checkbox" value="">门</label></li>
							<li><label><input mid="1" aid="40" pid="1" type="checkbox" value="">库内设施</label></li>
							<li><label><input mid="1" aid="50" pid="1" type="checkbox" value="">货物</label></li>
							<li><label><input mid="1" aid="60" pid="1" type="checkbox" value="">制冷系统</label></li>
							<li><label><input mid="1" aid="70" pid="1" type="checkbox" value="">历史曲线查询</label></li>
							<li><label><input mid="1" aid="80" pid="1" type="checkbox" value="">历史数据查询</label></li>
						</ul>
					</div>

					<div id="mid_100"  class="filter">
						<!-- 一级过滤：仅仅用来显示隐藏二级过滤 -->
						<div class="oneFilter">
							<span class="role_on_off"></span>
							<label><input mid="100" aid="100" pid="0" type="checkbox" value="">分析及报告</label>
						</div>
						<!-- 二级过滤：用来刷新页面内容 -->
						<ul class="role_list">
							<li><label><input mid="100"  aid="110" pid="100" type="checkbox" value="">温度分析</label></li>
							<li><label><input mid="100"  aid="120" pid="100" type="checkbox" value="">运管分析</label></li>
							<li><label><input mid="100"  aid="130" pid="100" type="checkbox" value="">制冷系统分析</label></li>
							<li><label><input mid="100"  aid="140" pid="100" type="checkbox" value="">报表功能</label></li>
							<li><label><input mid="100"  aid="150" pid="100" type="checkbox" value="">分析报告</label></li>
						</ul>
					</div>

					<div  id="mid_200"  class="filter">
						<!-- 一级过滤：仅仅用来显示隐藏二级过滤 -->
						<div class="oneFilter">
							<span class="role_on_off"></span>
							<label><input mid="200" aid="200" pid="0" type="checkbox" value="">实时报警</label>
						</div>
						<!-- 二级过滤：用来刷新页面内容 -->
						<ul class="role_list">
							<li><label><input mid="200"  aid="210" pid="200" type="checkbox" value="">报警日志</label></li>
						</ul>
					</div>

					<div  id="mid_300"  class="filter">
						<!-- 一级过滤：仅仅用来显示隐藏二级过滤 -->
						<div class="oneFilter">
							<span class="role_on_off"></span>
							<label><input  mid="300" aid="300" pid="0" type="checkbox" value="">维护管理</label>
						</div>
						<!-- 二级过滤：用来刷新页面内容 -->
						<ul class="role_list">
							<li><label><input  mid="300" aid="310" pid="300" type="checkbox" value="">机组维护提醒</label></li>
							<li><label><input  mid="300" aid="320" pid="300" type="checkbox" value="">故障维修提醒</label></li>
							<li><label><input  mid="300" aid="330" pid="300" type="checkbox" value="">故障维修记录</label></li>
						</ul>
					</div>

					<div  id="mid_400"  class="filter">
						<!-- 一级过滤：仅仅用来显示隐藏二级过滤 -->
						<div class="oneFilter">
							<span class="role_on_off"></span>
							<label><input  mid="400" aid="400" pid="0" type="checkbox" value="">选型</label>
						</div>
					</div>
                    <div class="filter text-center">
                       <button type="button" class="btn btn-success" ng-click="saveacl()" style="width: 100%;" ng-disabled="!objnacl">保存</button>
                    </div>
				</div>
			</div>
		</div>
	<!-- 角色=========================================================================================== -->
		<div class="tab-pane fade" id="acl_sys">
    		 <div class="role_table col-lg-12 col-lg-md-12 col-sm-12 col-xs-12">
    		 <!-- 标准的按钮 -->
				<!-- 表示一个成功的或积极的动作 -->
				<button type="button" class="btn btn-success">添加</button>
				<!-- 信息警告消息的上下文按钮 -->
				<button type="button" class="btn btn-info">删除</button>
				<!-- 表示应谨慎采取的动作 -->
				
    		 </div>
    		 <div class="role_table col-lg-5 col-lg-md-5 col-sm-12 col-xs-12">
    		       <ul id="treeDemo" class="ztree"></ul>
    		 </div>
    		 <div class="role_table col-lg-2 col-lg-md-2 col-sm-12 col-xs-12">
    		     
    		     <p> <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-arrow-left"></span></button></p>
				<!-- 信息警告消息的上下文按钮 -->
				<p><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-arrow-right"></span></button></p>
    		      
    		 </div>
    		 <div class="role_table col-lg-5 col-lg-md-5 col-sm-12 col-xs-12">
    		 	<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<thead>
							   <tr>
							     <th colspan="2">
									 <div class="btn-group fillwith">
										<input type="text" placeholder="请输入关键词" class="myText" ng-model="truukeyword"  ng-change="inittru(truukeyword)" />
										<div class="searchImg"><span class="glyphicon glyphicon-search"></span></div>
									 </div>
							     </th>
							   </tr>
								<tr style="background: #E4E4E4;">
									<th >ID</th>
									<th >用户名</th>
								</tr>
							</thead>
							<tbody id="stb_ruu_body">
								<tr  ng-repeat="ruu in susers" id="stting_ruu_{{ruu.id}}" ng-click="cksuser(ruu)"  >
									<td>{{ruu.id}}</td>
									<td>{{ruu.name}}</td>
								</tr>
							</tbody>
						</table>
					</div>
    		 
    		 </div>
    		
    		
    		
    		
    		
    		
    		
    		
    		
    		
    		
    	
 

   		</div>
	<!-- 角色=========================================================================================== -->
		<div class="tab-pane fade" id="rdc_role">
    		<p>角色</p>
   		</div>
    <!-- 组=========================================================================================== -->
   		<div class="tab-pane fade" id="rdc_group">
   			<p>组</p>
   		</div>
   	<!-- 用户=========================================================================================== -->
   		<div class="tab-pane fade" id="rdc_user">
   			<p>用户</p>
   		</div>
	</div>
</div>
