<div style="padding: 28px 30px 0 30px;background-color: #F1F1F1;">
    <!-- 按钮操作区域开始 -->
    <div class="operation">
        <div class="pull-left">
            <label style="font-size: 20px">集团:{{companyName}}</label>
        </div>
        <div class="btn-group pull-left" id="status">
            <select ng-model="optAudit" ng-change="auditChanged(optAudit)">
                <option value="8">所有</option>
                <option value="0">待审核</option>
                <option value="1">已审核</option>
                <option value="-1">未通过</option>
                <option value="2">已认证</option>
            </select>
        </div>
        <div id="search">
            <input type="text" ng-model="keyword" placeholder="请输入关键词" id="myText"/>

            <div id="searchImg" ng-click="goSearch()">
                <span class="glyphicon glyphicon-search"></span>
            </div>
        </div>
    </div>
    <!-- 按钮操作区域结束 -->
    <!-- 表格操作区域开始 -->
    <div class="tableArea">
        <table class="table table-striped table-bordered" id="tableArea" ng-model="rdcs">
            <thead>
            <tr>
                <th>id</th>
                <th>冷库名称</th>
                <th>添加人</th>
                <th style="width:120px;">联系方式</th>
                <th style="width:190px;">添加时间</th>
                <th style="width:66px;">状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rdc in rdcs">
                <td>{{rdc.id}}</td>
                <td>{{rdc.name}}</td>
                <td>{{rdc.username || '管理员'}}</td>
                <td>{{rdc.cellphone}}</td>
                <td>{{rdc.addtime}}</td>
                <td ng-bind="getAudit(rdc.audit)"></td>
                <td style="width:18%;min-width:142px;">
                    <button class="btn btn-primary btn-sm" ng-click="addCompanyRdc(rdc)">绑定</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="page">
            <div class="row" style="text-align:center">
                <pagination ng-change="pageChanged()" total-items="bigTotalItems"
                            ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm"
                            boundary-links="true" rotate="false" num-pages="numPages"></pagination>
            </div>
        </div>
    </div>

    <!--已关联的RDC-->
    <div class="tableArea">
        <label style="text-align: center">已关联冷库</label>
        <table class="table table-striped table-bordered" ng-model="relatedRdcs">
            <thead>
            <tr>
                <th>id</th>
                <th>冷库名称</th>
                <th>添加人</th>
                <th style="width:120px;">联系方式</th>
                <th style="width:190px;">添加时间</th>
                <th style="width:66px;">状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="relatedRdc in relatedRdcs">
                <td>{{relatedRdc.id}}</td>
                <td>{{relatedRdc.name}}</td>
                <td>{{relatedRdc.username || '管理员'}}</td>
                <td>{{relatedRdc.cellphone}}</td>
                <td>{{relatedRdc.addtime}}</td>
                <td ng-bind="getAudit(relatedRdc.audit)"></td>
                <td style="width:18%;min-width:142px;">
                    <button class="btn btn-primary btn-sm" ng-click="delCompanyRdc(relatedRdc)">解绑</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>