 <div style="padding: 28px 30px 0 30px;background-color: #F1F1F1;">
 	<!-- 按钮操作区域开始 -->
	<div class="operation">
		<a  href="#/coldStorageAdd" class="btn btn-default pull-left" id="plusCold">
			<span class="glyphicon glyphicon-plus"></span>添加冷库
		</a>
		<div class="btn-group pull-left" id="status">
		  <select ng-model="optAudit" ng-change="auditChanged(optAudit)">
		  	<option value="8">所有</option>
		  	<option value="0">待审核</option>
		  	<option value="1">已审核</option>
		  	<option value="-1">未通过</option>
		  </select>
		</div>
		<div id="search">								
			<input type="text" ng-model="keyword" placeholder="请输入关键词" id="myText" />
			<div id="searchImg" ng-click="goSearch()" >
				<span class="glyphicon glyphicon-search"></span>
			</div>
		</div>							
	</div>
<!-- 按钮操作区域结束 -->
<!-- 表格操作区域开始 -->
<div class="tableArea" >
	<table class="table table-striped table-bordered" id="tableArea" ng-model="rdcs">
	   <thead>
	      <tr>
	         <th style="width:80px;">
	         	<div>
	         		<input type="checkbox" ng-checked="isChecked()" ng-click="toggleAll()" class="checkBox" >
	         		<label style="font-weight:400;" for="allSecSon" >全选</label>
	         	</div>
	         </th>
	         <th>id</th>
	         <th>冷库名称</th>
	         <!--<th>冷库地址</th>-->
	         <th>添加人</th>
	         <th style="width:120px;">联系方式</th>
	         <th style="width:190px;">添加时间</th>
	         <th style="width:66px;">状态</th>
	         <th>操作</th>
	      </tr>
	   </thead>
	   <tbody>
	      <tr ng-repeat="rdc in rdcs">
	         <td>
				<input type="checkbox" ng-checked="exists(rdc, selected)"
                    				ng-click="toggle(rdc, selected)"/>
	         </td>
	         <td>{{rdc.id}}</td>
	         <td>{{rdc.name}}</td>
	         <!--<td>{{rdc.address}}</td>-->
	         <td>{{rdc.username || '管理员'}}</td>
	         <td>{{rdc.cellphone}}</td>
	         <td>{{rdc.addtime}}</td>
	         <td ng-bind="getAudit(rdc.audit)"></td>
	         <td style="width:18%;min-width:142px;">
	         	<span class="edit"  ng-click="goEditRdc(rdc.id)"></span>
	         	<span class="delete" ng-click="deleteRdc(rdc.id)"></span>
	         	<button class="btn btn-primary btn-sm" ng-click="changeAudit(rdc)">审核</button>
				<button class="btn btn-primary btn-sm" ng-click="authAudit(rdc)">认证</button>
	         </td>
	      </tr>
	   </tbody>
	</table>
	<div class="page">
		<!-- 翻页功能 -->
<!-- 			        <div id="green" class="myGreen"></div> -->
        <!-- 翻页功能 -->
         <div class="row">
                    <pagination style="margin-left: 30%" ng-change="pageChanged()" total-items="bigTotalItems"
                             ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm"
                             boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                </div>
	</div>
</div>
<!-- 表格操作区域结束 -->
<div class="three">
	<div class="btn-group" role="group">
	  <button type="button" class="btn btn-default" ng-click="changeAudits()">审核</button>
	  <button type="button" class="btn btn-default" ng-click="deleteRdcs()">删除</button>
	</div>
</div>
 </div>  