<style>
.operation select{width:auto;height: 30px;border-radius: 4px;}
.operation>div{width: 20%;float: left;}
.operation>div>span{line-height: 2.5;font-size: 14px;}
</style>
<div style="padding: 28px 30px 0 30px;background-color: #F1F1F1;">
    <div class="operation">
        <div>
            <span>消息类型：</span>
             <select id="sl_msgtype" ng-model="type" ng-options="obj.val as obj.text for obj in MsgtypeMode" ng-change="getSystemInform()"></select>
        </div>
       <div>
            <span>通知类型：</span>
             <select id="sl_msstype" ng-model="stype" ng-options="obj.val as obj.text for obj in MsgstypeMode[type]" ng-change="getSystemInform()">
				<option value="" selected="selected">===全部===</option>
			 </select>
        </div>
         <div>
            <span>阅读状态：</span>
            <select id="sl_msgisRead" ng-model="isRead" ng-options="obj.val as obj.text for obj in isredMode" ng-change="getSystemInform()">
				<option value="" selected="selected">===全部===</option>
			 </select>
        </div>
        <div>
            <span>处理情况：</span>
             <select id="sl_mssstatus" ng-model="status" ng-options="obj.val as obj.text for obj in isHandleMode" ng-change="getSystemInform()">
				<option value="" selected="selected">===全部===</option>
			 </select>
        </div>
      
        <div id="search" style="width: 20%!important;margin-left: 0;">
            <input type="text" ng-model="keyword" placeholder="请输入关键词" id="myText" >
            <div id="searchImg" ng-click="getSystemInform()">
                <span class="glyphicon glyphicon-search"></span>
            </div>
        </div>
    </div>


  <div class="tableArea" >
        <table class="table table-striped table-bordered" id="tableArea" style="word-break: break-all;">
            <thead>
            <tr>
                <th></th>
<!--                 <th>消息类型</th> -->
<!--                 <th>通知类型</th> -->
<!--                 <th>级别</th> -->
                <th>ID</th>
                <th>标题</th>
                <th>内容</th>                
<!--                 <th>处理者</th> -->
                <th>是否已读</th>
                <th>是否处理</th>
                <th>时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in systemInform">
                <td style="width: 2vw;"><input type="checkbox" value="{{item.id}}"></td>
                <td style="width: 3vw;">{{item.id}}62</td>
                <td style="width: 10vw;">{{item.tit}}</td>
                <td style="text-align: left;width:35vw;">{{item.msg}}</td>
                <td style="width: 5vw;">{{isredMode[item.isread].text}}</td>
                <td style="width: 5vw;">{{isHandleMode[item.state].text}}未读</td>
                <td style="width: 7vw;">{{item.addtime}}</td>
                <td style="width: 8vw;">
                    <button type="button" class="btn btn-info" ng-click="readSystemInform(item.id)">查看详情</button>
                    <button type="button" class="btn btn-success" ng-disabled="item.state==-1" ng-click="manage(item.id)">处理</button>
                </td>
            </tr>
            </tbody>
        </table>
        <button class="btn btn-default" type="button" ng-click="manage()">合并处理</button>
        <div class="page">
            <!-- 翻页功能 -->
            <!-- 			        <div id="green" class="myGreen"></div> -->
            <!-- 翻页功能 -->
            <div class="row" style="text-align:center">
                <pagination ng-change="pageChanged()" total-items="bigTotalItems"
                            ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm"
                            boundary-links="true" rotate="false" num-pages="numPages"></pagination>
            </div>
        </div>
    </div>
</div>

