<style>
	.row .well{padding: 0;}
	.well-blue{background: #3598DC;}
	.well-blue-txt{border-color: #3598DC;color:#3598DC;}
	.well-red{background: #E7505A;}
	.well-col4{background: #6AF9C4;}
	.well-red-txt{border-color: #E7505A;color:#E7505A;}
	.well-green{background: #32C5D2;}
	.well-green-txt{border-color: #32C5D2;color:#32C5D2;}
	.well-purple{background: #8E44AD;}
	.well-purple-txt{border-color: #8E44AD;color:#8E44AD;}
	.wellHeader{background: #303a44;color:#fff;font-size: 16px;margin-bottom: 15px;padding: 10px 19px;}
	.wellBody{height:60px;color:#fff;text-align: right;line-height: 60px;font-size: 2em;padding: 0 19px;}
	.wellFooter{height:30px;color:#fff;text-align: left;line-height: 30px;font-size: 14px;padding: 0 19px;background: rgba(0,0,0,0.2)}
	#main1,#main2,#main3{width: 100%;height:300px;;}
	.chartBg{background: #F2F2E6;border:1px solid #ddd;border-radius:5px;margin-top: 15px;}
	.well-mark{display: inline-block;text-align: center;margin-right: 2.5vw;}
	.well-mark>p{font-size: 14px;line-height: 2}
	.well-circle{min-width:85px;height:85px;line-height: 85px;border-radius: 50%;border-style: solid;border-width: 2px;font-size: 2em;padding: 0 3px}
</style>
<div style="padding: 28px 30px 0 30px;background-color: #F1F1F1;">
	<!-- 网站概况 -->
	<div class="well wellHeader">网站概况</div>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="well well-blue">
				<div class="wellBody">{{webMLCount.VS}}/{{websv.SWK}}</div>
				<div class="wellFooter">总访问量/本周访问量</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="well well-green">
				<div class="wellBody">{{webMLCount.US}}/{{websv.SMS}}</div>
				<div class="wellFooter">用户总注册量/本周注册量</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="well well-purple">
				<div class="wellBody">{{webMLCount.RS}}/{{webMLCount.WR}}</div>
				<div class="wellFooter">冷库数量/本周增长量</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="well well-col4">
				<div class="wellBody">{{webMLCount.PLC}}/{{webMLCount.DEV}}</div>
				<div class="wellFooter">DEV冷库数量/PLC冷库数量</div>
			</div>
		</div>
	</div>
	<!-- 网站各版块访问热度 -->
	<div class="well wellHeader">网站各版块历史访问量</div>
	<div class="well-mark">
		<div class="well-circle well-blue-txt" data-text="">{{webModular.coldlist}}</div>
		<p>冷库资源</p>
	</div>
	<div class="well-mark">
		<div class="well-circle well-blue-txt" data-text="">{{webModular.map}}</div>
		<p>冷库地图</p>
	</div>
	<div class="well-mark">
		<div class="well-circle well-blue-txt" data-text="">{{webModular.traces}}</div>
		<p>温度追溯</p>
	</div>
	<div class="well-mark">
		<div class="well-circle well-blue-txt" data-text="{{webModular.sc360}}">{{webModular.sc360}}</div>
		<p>冷库360</p>
	</div>
	<div class="well-mark">
		<div class="well-circle well-purple-txt" data-text="{{webModular.news}}">{{webModular.news}}</div>
		<p>资讯</p>
	</div>
	<div class="well-mark">
		<div class="well-circle well-purple-txt" data-text="{{webModular.msg}}">{{webModular.msg}}</div>
		<p>消息</p>
	</div>
	<div class="well-mark">
		<div class="well-circle well-red-txt" data-text="{{webModular.position}}">{{webModular.position}}</div>
		<p>仓位-共享</p>
	</div>
	<div class="well-mark">
		<div class="well-circle well-red-txt" data-text="{{webModular.good}}">{{webModular.good}}</div>
		<p>货品-共享</p>
	</div>
	<div class="well-mark">
		<div class="well-circle well-red-txt" data-text="{{webModular.car}}">{{webModular.car}}</div>
		<p>冷运-共享</p>
	</div>
	<div class="well-mark">
		<div class="well-circle well-green-txt" data-text="{{webModular.rrdc}}">{{webModular.rrdc}}</div>
		<p>冷库-发布</p>
	</div>
	<div class="well-mark">
		<div class="well-circle well-green-txt" data-text="{{webModular.rposition}}">{{webModular.rposition}}</div>
		<p>仓位-发布</p>
	</div>
	<div class="well-mark">
		<div class="well-circle well-green-txt" data-text="{{webModular.rgood}}">{{webModular.rgood}}</div>
		<p>货品-发布</p>
	</div>
	<div class="well-mark">
		<div class="well-circle well-green-txt" data-text="{{webModular.rcar}}">{{webModular.rcar}}</div>
		<p>冷运-发布</p>
	</div>
	<!-- 网站趋势图 -->
	<div class="well wellHeader">网站趋势图</div>
	<div class="chartBg"><div id="main1"></div></div>
	<div class="chartBg"><div id="main2"></div></div>
	<div class="chartBg"><div id="main3"></div></div>
</div>
<script src="assets/js/echarts-all.js"></script>