 /*
* @Author: Administrator
* @Date:   2016-06-27 10:12:44
* @Last Modified by:   jinghaiyang
* @Last Modified time: 2016-07-03 15:52:40
*/
.shareMain{
	margin:90px 0px;
    width: 100%;
    min-height:560px;
    
}
.tab,.filter,.tableInfo,nav{
    width: 90%;
    margin: 20px auto;
}
.tabSon li{
    float: left;
    min-width:10%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-right: 20px;
}
.tabSon li:last-child{
    float: right;
    margin-right: 0;   
}
.tabSon li:hover a{
}
.tabSon li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #B0B0B0;
    font-size: 14px;
    border: 1px solid #ccc;
    text-decoration: none;
    padding:0 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.tabSon li:last-child a{
     background-color: #F5FAFF;
     color: #7E807F;
     border: 1px solid #448BCB;
}
li.current a{
    background-color: #448BCB;
    color: #fff;
}
.tabSon li a:hover{
    text-decoration: none;
	background-color: #448BCB;
    color: #fff;
}
.filter{
    border: 1px solid #CCCCCC;
}
.filterSon{
    border-bottom: 1px solid #E3E3E3;
    background-color: #F7F7F7;
    padding: 10px 20px;
    width:100%;
    font-size: 12px;
    font-weight: 600;
    color: #717171;
}
.select{
    min-width: 200px;  
    height: 26px;
}
.select select{
    min-width: 80px;
    line-height: 20px;
    margin-left: 10px;
    font-size:12px;
}
.select select option{
    text-align: center;
}
div.select_2 select{
	font-size:12px;
}
#search{
    width: 20%;
    position: relative;
    font-size: 12px;
}
.myText{
    width: 100%;
    height: 26px;
    border: 1px solid #ccc;
    border-radius: 3px;
    line-height: 26px;
    padding-left: 10px;
    color: #666;
    outline: none;
    font-weight: 400;
}
.searchImg{
    position: absolute;
    top: 0;
    right: 20px;
    line-height: 32px;
}
.searchImg span{
    cursor: pointer;
    color: #448BCB;
}
.list .type{
    float: left;
    width: 8%;
    margin-top: 8px;
    text-align: right;
    color: #757575;
    font-size: 12px;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.list .type:nth-child(2){
    width: 5%;
    display: inline-block;
    padding:1px 10px;
    cursor: pointer;
}
.list ul{
    width: 85%;
    float: left;
    margin-bottom: 0;
}
.list li{
    float: left;
    padding:1px 10px;
    margin: 7px 10px;
    color: #757575;
    font-size: 12px;
    cursor: pointer;
    border:1px solid #ddd;
    border-radius:3px;
}
.list li:hover{
	background-color: #448BC9;
    color: #fff;
    border-radius: 2px;
    text-align: center!important;
    color: #fff!important;
}
.active{
    background-color: #448BC9;
    color: #fff;
    border-radius: 2px;
    text-align: center!important;
    color: #fff!important;
}
.tableInfo thead th{
    background-color: #F7F7F7;
    text-align: center;
    font-size: 12px;
    color: #333;
    border: 0!important;
}
.tableInfo tbody tr{
    text-align: center;
    color: #707070;
    border-bottom: 8px solid #F9F9F9;
}
.tableInfo tbody tr td{
    padding-top:20px;
    border-top: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.tableInfo tbody tr td:first-child{
     padding-top:8px;
}
.image{
    width: 80px;
    height: 70px;
    background-color: pink;
    position: relative;
}
.image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.position span:first-child{
    color: #f40;
}
.company,.position{
    text-align: left;
    line-height: 24px;
}
nav{
    text-align: center;
}
/* ========================================== */
/*货品区域*/
.goods{
    width: 90%;
    height: 40px;
    margin:10px auto;
    padding-left: 100px;
}
.goods>span{
    position: relative;
    display: inline-block;
    width: 120px;
    text-align: center;
    height: 33px;
    line-height: 33px;
    font-size: 14px;
    cursor: pointer;
    color: #333;
}
.goods>span:before{
    content: "";
    position: absolute;
    top: 7px;
    left: 15px;
    width: 19px;
    height: 16px;
    color: #333;
    background: url(../img/shareitem/out-offer.fw.png) no-repeat 0 0;
}
.goods>span:nth-child(2):before{
    background: url(../img/shareitem/out-offer.fw.png) no-repeat 0 -16px;
}
.goods>span.outCur{
    color: #438BCB;
}
.goods>span.outCur:before{
    background: url(../img/shareitem/out-offer.fw.png) no-repeat -19px 0;
}

.goods>span.offerCur{
     color: #438BCB;
}
.goods>span.offerCur:before{
    background: url(../img/shareitem/out-offer.fw.png) no-repeat -19px -16px;
}
em{
    color: red;
    font-size: 14px;
    padding-right: 5px;
    vertical-align: middle;
    font-style: normal;
}
.formInfo{
    width: 90%;
    margin:0 auto;
}
.formInfo .infoList{
    width: 600px;
    margin-bottom: 10px;
}
.infoList>div:nth-child(1){
    width:120px;
    text-align: right;
    padding-right: 20px;
}
.infoList>div:nth-child(2){
    width: 480px;
}
.infoList>div:nth-child(2) input,.infoList>div:nth-child(2) select,.infoList>div:nth-child(2) textarea{
    border: 1px solid #ccc;
    width: 450px;
    margin-bottom: 10px;
}
.infoList.infoDate>div input{
    width:209px;
}
.formInfo button{
    margin-left: 120px;
}
.count{
    margin:0 10px;
}
.outSon{
    margin-bottom: 20px;
    padding-left: 110px;
}
.outSon .company,.outSon .position{
    display: inline-block;
    margin-right: 20px;
}
.outSon .company{
    font-size: 14px;
}
.outSon .textInfo{
    color: #999;
}
.img{
    float: left;
    width: 160px;
    height: 92px;
    overflow: hidden;
    margin-left: 10px;
}
.img img{
    width: 100%;
    height: 100%;
    background-size: cover;
}
