 /*
* @Author: Administrator
* @Date:   2016-06-27 10:12:44
* @Last Modified by:   jinghaiyang
* @Last Modified time: 2016-07-03 15:52:40
*/
#release_main{margin-top: 90px;}
.main{
	width:90%;
	margin:20px auto;
}
.main .h4{
	color: #428bca;
}
.lists{
	width: 780px;
	height: 200px;
	overflow: hidden;
	position: relative;
}
.lists ul{
	width:100000px;
	height: 200px;
	position: absolute;
	top: 0;
	left: 0;
}
.lists ul li{
	float: left;
	width:260px;
	padding:0 10px;
	height:200px;
	background-size:cover;
	*overflow: hidden;
}
.lists ul li>img{
	width:100%;
	height:100%;
}
.lists i{
	width: 26px;
	height: 62px;
	background: #000 ;
	position: absolute;
	top: 50px;
	color: #fff;
	text-align: center;;
	font-size: 24px;
	line-height: 62px;
	display: none;
	cursor: pointer;
}
 i.fl{left: 0;}
 i.fr{right: 0;}
 .lists:hover i{display: block;}

 .info{
 	width:100%;
 	margin:10px 0;
 }
 .info tr{
	border-bottom:1px dashed #e0e2e4;
    height:30px;
    line-height:30px;
    font-size:14px;
	text-align: left;
 }
 .info tr th{
	    width: 180px;
	table-layout: fixed;
 }
 .info caption{
 	color: #00a7d0;
 	font-size:16px;
 	text-align: left;
 }
 /*手机验证码*/
 .input{
  margin: 30px 0;
  background-color: #fff;
  display: table;
  table-layout: fixed;
  width:100%
}
.tel{
  width:600px;
  box-sizing: border-box;
  border-bottom: 3px solid #F6F5FA;
  position:relative;
}
.tel>.btn.btn-primary{
	position:absolute;
	top:3px;
	    margin-left: -97px;

}
.tel i{
  font-size: 20px;
  color: #B4B4B4;
  vertical-align: middle;
}
.tel input{
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  color: #333;
  width:90%
}
.shar_none {
	display: none;
}

.houseinfo .control-label {
	line-height: 32px;
}

.houseinfo .form-control {
	display: inline-block;
}

.houseinfo .input-group-addon {
	display: block;
	height: 34px;
	float: left;
	width: 49px;
}

.houseinfo .form-control:FOCUS {
	box-shadow: 0 0 2px #00A6FF !important;
	border-color: #00A6FF !important;
}

.houseinfo .sp_radio {
	margin-right: 10px;
}

.houseinfo .sp_radio input {
	width: 20px !important;
}

.shareMain #files {
	width: 65px;
	border: medium none;
	margin-top: -10px;
}

.shareMain .img_list {
	width: 1000px;
	overflow: hidden;
}

.shareMain .img_list span img {
	height: 100px;
	width: auto;
	margin-left: 10px;
	margin-bottom: 10px;
}

.shareMain .img_list span i {
	position: absolute;
	cursor: pointer;
	color: #fff;
	border-radius: 3px;
	background: rgba(0, 0, 0, .5);
	margin-left: -21px;
	width: 18px;
	height: 18px;
	text-align: center;
	opacity: .6;
	line-height: 13px;
	font: normal normal normal 18px/1 FontAwesome
}

.shareMain .file {
	position: relative;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	overflow: hidden;
	line-height: 29px;
	width: 85px;
	height: 29px;
	text-indent: 2em;
	font-size: 9pt;
	background: url(../img/image-upload.png) no-repeat center
}

.shareMain .file:hover {
	text-decoration: none
}

.shareMain .file input {
	position: absolute;
	font-size: 75pt;
	right: 0;
	top: 0;
	opacity: 0
}
/*错误提示样式*/
.shareMain label.success {
	display: none;
}

.shareMain input.error {
	box-shadow: 0 0 5px #d74f5a !important;
	border: 1px solid red !important;
}

.shareMain input.error:FOCUS {
	box-shadow: 0 0 5px #00A6FF !important;
	border-color: #00A6FF !important;
}

.shareMain input.error:FOCUS+label.error {
	border-color: #00A6FF;
	color: #00A6FF;
	box-shadow: 0 0 5px #00A6FF !important;
}

.shareMain input.error:FOCUS+label.error::before {
	border-color: #00A6FF;
}

.shareMain label.error::before {
	content: "";
	padding: 0px;
	margin: 0px;
	width: 10px;
	height: 10px;
	position: absolute;
	border-left: 1px solid red;
	border-bottom: 1px solid red;
	background-color: white;
	left: -6px;
	top: 10px;
	transform: rotate(45deg);
}

.shareMain label.error {
	float: left;
	position: absolute;
	color: red;
	border: 1px solid red;
	border-radius: 5px;
	padding: 5px 20px;
	text-align: left;
	margin-left: 10px;
	background-color: white;
	box-shadow: 0 0 5px #d74f5a !important;
}
/*修改发布 2016-11-29*/
.houseinfo li{
	margin-bottom: 10px;
}
.houseinfo .infoList{
	background: transparent;
}
.houseinfo li>label{
	width:120px;
	font-size: 14px;
	text-align: right;
	font-weight: 400;
}
.houseinfo li>label.text-center{
	text-align: center;
	width: 80px;
}
.houseinfo li>input,.houseinfo li>select{
	margin-left:20px;
	border: 1px solid #ccc;
    width: 450px;
    margin-bottom: 10px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border-radius: 4px;
}
.img_list .thumb{
	height: 100px;
    width: auto;
    margin-left: 10px;
    margin-bottom: 10px;
}
.img_list span{
	display: inline-block;
}
.img_list span:hover i{
	color:red;
	opacity:1;
}
.coldlist .imgCell{
	 color:#428bca;
	 padding-left: 145px;
}