#cnt1 {            
     width:90%;
     margin-bottom:40px;
 }
  
 .feature{
     padding: 20px 0;
    text-align: center;
 }
 .feature > div > div{
    padding: 0px;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #dddddd;
    transition: 0.2s;
 }
 .feature > div:hover > div{
    margin-top: -10px;
    border: 1px solid rgb(155, 194, 0);
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 5px; */
    background: #2d3d50; 
    transition: 0.3s;
    width:105%;
    color: #ffffff;
 }
 .feature-item{
 }