body
{
    font-family: Muli,'Helvetica Neue','Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft Yahei',sans-serif !important;
    /*font-family: 'ff-tisa-web-pro-1', 'ff-tisa-web-pro-', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, 'Microsoft YaHei', 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'WenQuanYi Micro Hei', sans-serif !important;*/
    font-size: 14px;
    font-weight: 400;
    font-style: normal;

    min-width: 1025px;
    margin: 0;
    padding: 0;

    color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: Muli,'Helvetica Neue','Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft Yahei',sans-serif;
}
*
{
    box-sizing: border-box;
}
/*header*/
header
{
    position: fixed;
    z-index: 1001;

    display: -webkit-box;

    display: -webkit-flex;

    display: -ms-flexbox;

    display: flex;

    width: 100%;
    height: 75px;

    -webkit-box-pack: justify;

    -webkit-justify-content: space-between;

        -ms-flex-pack: justify;

            justify-content: space-between;
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
}
header .mw-8
{
    min-width: 800px;
}
header .nav-left
{
    float: left;
}
header .nav-right
{
    float: right;
}
header a.logo
{
    line-height: 75px;

    display: block;

    width: 147px;
    height: 75px;
    margin-left: 60px;

    background: url(../img/logo-light.png) no-repeat;
    background-position: left center;
}

header a
{
    text-decoration: none;

    color: white;
}
header .nav
{
    margin: 0;
    padding: 0;

    list-style: none;
}
header .nav > li
{
    font-size: 16px;
    line-height: 75px;

    display: inline-block;

    width: 108px;
    height: 75px;

    text-align: center;
}
header .nav > li > a
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 44px;
    margin-top: 15px;
    padding:0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align:center;
    -webkit-align-items:center;
        -ms-flex-align:center;
            align-items:center;
}
header .nav > li:hover > a
{
    background-color: rgba(0,0,0,.95);
}
header .unauthenticated
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    height: 75px;
    margin: 0 50px 0 40px;

    -webkit-box-align: center;

    -webkit-align-items: center;

        -ms-flex-align: center;

            align-items: center;
}
header .unauthenticated > a
{
    font-size: 14px;

    display: inline-block;

    padding: 8px 22px;

    color: white;
    border: 1px solid;
    border-radius: 3px;
    text-decoration: none;
}
header .unauthenticated > a:hover
{
    color: #9bc200;
    border-color: #9bc200;
    text-decoration: none;
}
header .unauthenticated > a:last-child
{
    border-color: #89AE00;
    color: white !important;
    background-color: #89AE00;
}
header .unauthenticated > a:last-child:hover
{
    background: #9bc200;
    border-color: #9bc200;
}
header .unauthenticated > span
{
    width: 10px;
}
header .nav > li:hover .nav-list
{
    display: block;
}
header .nav-list
{
    line-height: 100%;

    position: absolute;
    top: 59px;

    display: none;

    margin: 0;
    padding: 0;

    list-style: none;

    text-align: left;
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
}
header .nav-list > .nav-list-item
{
    position: relative;

    display: -webkit-box;

    display: -webkit-flex;

    display: -ms-flexbox;

    display: flex;

    width: 230px;
    height: 76px;
    margin-top: 1px;

    color: white;
    background-color: rgba(0,0,0,.95);

    -webkit-box-align: center;

    -webkit-align-items: center;

        -ms-flex-align: center;

            align-items: center;
}
header .nav-list.single > .nav-list-item
{
    width: 108px;
    height: 44px;
}

header .nav-list > .nav-list-item .nav-left.icon
{
    padding-right: 16px;
    padding-left: 22px;
}

header .nav-list > .nav-list-item .nav-link
{
    position: relative;
    z-index: 1;

    display: -webkit-box;

    display: -webkit-flex;

    display: -ms-flexbox;

    display: flex;

    width: 100%;
    height: 76px;
}
header .nav-list.single > .nav-list-item .nav-link
{
    height: 44px;
}
header .nav-list > .nav-list-item > a
{
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
}
header .nav-list > .nav-list-item > a:hover
{
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;

    background-color: rgba(255,255,255,0.2);
    text-decoration: none;
}
header .nav-list > .nav-list-item .nav-title
{
    font-size: 14px;

    display: inline-block;

    margin-bottom: 6px;
}
header .nav-list.single > .nav-list-item .nav-link
{
    font-size: 14px;

    margin-bottom: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    
}
header .nav-list > .nav-list-item .nav-description
{
    font-size: 12px;

    display: inline-block;
}
header .i_superwebview
{
    display: inline-block;

    width: 30px;
    height: 30px;

    background-image: url(../new/subment-icon.pngg');
    background-position: 0 -30px;
}
header .i_deepengine
{
    display: inline-block;

    width: 30px;
    height: 30px;

    background-image: url(../new/subment-icon.pngg');
    background-position: -30px -30px;
}
header .i_cloudservice
{
    display: inline-block;

    width: 30px;
    height: 30px;

    background-image: url(../new/subment-icon.pngg');
    background-position: -60px -30px;
}
header .authenticated
{
    width:164px;
    position: relative;

    display: -webkit-box;

    display: -webkit-flex;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 15px;
    height: 75px;
    margin: 0 40px 0 30px;

    cursor: pointer;

    -webkit-box-pack: center;

    -webkit-justify-content: center;

        -ms-flex-pack: center;

            justify-content: center;
}
header .authenticated .profile
{
    line-height: 30px;

    display: -webkit-box;

    display: -webkit-flex;

    display: -ms-flexbox;

    display: flex;

    padding: 0 10px;
    padding-left: 20px;
    color: white;

    -webkit-box-align: center;

    -webkit-align-items: center;

        -ms-flex-align: center;

            align-items: center;
    height: 44px;
    margin-bottom: 1px;
    font-size: 14px;
}
header .authenticated .profile img
{
    width: 30px;
    height: 30px;
    margin-right: 3px;
    border-radius: 15px;
}
header .authenticated .profile .name{
    width:80px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    font-size: 14px;
}
header .authenticated  .arr-b
{
    display: inline-block;

    width: 19px;
    height: 18px;
    margin-left: 10px;

    vertical-align: middle;

    background: rgba(0, 0, 0, 0) url(../img/arr_b.pngg') no-repeat scroll 0 0;
}
header .authenticated:hover .profile
{
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;

    background-color: rgba(0,0,0,.5);
}
header .authenticated:hover .nav-list
{
    left: 0;

    display: block;
}
header .authenticated .nav-list .nav-list-item
{
    width: 164px;
}
header .authenticated .nav-list .nav-list-item > a
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    padding: 0 22px;

    -webkit-box-align: center;

    -webkit-align-items: center;

        -ms-flex-align: center;

            align-items: center;
}
header .authenticated .nav-list .nav-list-item > a i
{
    font-size: 20px;

    margin-top: 3px;
}

header .authenticated .nav-list .nav-list-item > a span
{
    font-size: 14px;

    margin-left: 7px;
}
header.light
{
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}
header.light
{
    background-color: rgba(255, 255, 255, .97);
}
header.light a
{
    color: #666;
}
header.light a.logo
{
    background: url(../img/logo-dark.png) no-repeat left center;
}
header.light .i_superwebview{
    background-position: 0 0;
}
header.light .i_deepengine{
    background-position: -30px 0;
}
header.light .i_cloudservice
{
    background-position: -60px 0;
}
header.light .link-group .links
{
    color: #ababab;
}
header.light .link-group a,
header .link-group span
{
    color: #61685b;
}
header.light .nav > li:hover > a
{
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
    background-color: rgba(0,0,0,.02);
}
header.light .link-group a:hover{
    color: #9bc200;
}
header.light .authenticated:hover .profile
{
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;

    background-color: rgba(0,0,0,.02);
}
header.light .nav-list
{
    top: 75px;

    overflow: hidden;

    border-radius: 0 0 3px 3px;
    background-color: white;
    box-shadow: 0 7px 21px rgba(0, 0, 0, .1);
}
header.light .nav-list.single > .nav-list-item
{
    height: 44px;
}
header.light .nav-list > .nav-list-item
{
    background-color: rgba(255,255,255,.97);
}
header.light .nav-list > .nav-list-item > a:hover
{
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;

    background-color: rgba(0,0,0,.1);
}
header.light .authenticated .profile
{
    color: #666;
}

header.dark{
    background-color: rgba(0,0,0,.2);
}
header.dark .nav > li:hover > a{
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
    background-color: rgba(255,255,255,.02);
}
header.dark .nav-list
{
    top: 75px;
}
header.dark .authenticated:hover .profile
{
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;

    background-color: rgba(255,255,255,.02);
}
/*footer*/
footer
{
    min-height: 284px;

    text-align: left;

    background-color: #000;
}
footer dl
{
    font-size: 14px;

    display: inline-block;
    float: left;

    width: 16%;
    margin-top: 46px;

    text-align: left;
    vertical-align: top;
}
footer dt
{
    font-weight: normal;

    margin: 5px 0;

    color: #fff;
}
footer dd
{
    margin: 5px 0;
}
footer dd a
{
    text-decoration: none;

    color: #666;
}
footer section
{
    width: 900px;
    margin: 0 auto;
}
footer .footer-right
{
    display: inline-block;
    float: right;

    width: 20%;

    text-align: right;
}
footer .footer-right .share
{
    font-size: 0;

    margin: 46px 0 0;

    text-align: right;
}
footer .footer-right .share-links
{
    display: inline-block;

    width: 30px;
    height: 30px;
    margin-left: 12px;
}
.weixinImg
{
    background: rgba(0, 0, 0, 0) url(../img/media/appoverview.pngg') no-repeat scroll -326px -285px;
}
.weiboImg
{
    background: rgba(0, 0, 0, 0) url(../img/media/appoverview.pngg') no-repeat scroll -404px -285px;
}
.facebook
{
    background: rgba(0, 0, 0, 0) url(../img/media/appoverview.pngg') no-repeat scroll -366px -285px;
}
.twitter
{
    background: rgba(0, 0, 0, 0) url(../img/media/appoverview.pngg') no-repeat scroll -285px -285px;
}
footer .footer-right .copyright
{
    font-size: 12px;

    margin-top: 64px;

    text-align: right;

    color: #454545;
}
footer .footer-right .qrcode
{
    margin-top: 30px;
}
footer .copyright
{
    font-size: 14px;
    line-height: 71px;

    clear: both;

    width: 100%;
    height: 72px;
    margin-top: 40px;

    text-align: center;

    color: #999;
    border-top: 1px solid #222;
}
footer .copyright label{
    margin-bottom: 0px;
}
footer .link-exchange-box
{
    clear: both;
}
footer .link-exchange
{
    font-size: 12px;

    margin: 0 auto;
}
footer .link-exchange h5
{
    font-size: 16px;
    font-weight: bolder;

    display: inline-block;

    margin: 0;

    color: #999;
}
footer .link-exchange h5 + span
{
    line-height: 22px;

    display: inline-block;

    margin-left: 5px;

    vertical-align: text-top;

    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent transparent #656565;
}
footer .link-exchange h5 + span.active
{
    margin-top: 4px;

    border-color: #656565 transparent transparent transparent;
}
footer .link-exchange p
{
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
    display: none;
}
footer .link-exchange a
{
    line-height: 14px;

    display: inline-block;

    margin-top: 8px;
    margin-bottom: 8px;

    text-decoration: none;
    text-indent: 4px;

    color: #666;
    border-left: 1px solid #666;
}
footer .link-exchange a:first-child
{
    margin-left: 0;

    text-indent: 0;

    border-left: medium none;
}
/*err-top*/
header .err-top{
    position: absolute;
    width: 100%;
    z-index: 1;
    display: none;
    margin:0 auto;
    left: 0;
    right: 0;
    width: 518px;
}
header .err-top.succ,header .err-top.fail{
    display: block;
}

header .err-top .err-close{
    width: 18px;
    height: 18px;
    display: block;
    line-height: 18px;
    position: absolute;
    right: 15px;
    top: 10px;
}
header .err-top:hover .err-close{
    display: block;
}
header .err-top .icon-remove{
    margin-right: 10px;
    line-height: 18px;
    height: 18px;
    cursor: pointer;
}
header .err-top.fail .icon-remove{
    color: #D9626E;
}
header .err-top.succ .icon-remove{
    color: #248060;
}
header .err-top .err-out{
    width: 518px;
    height: 44px;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
}
header .err-top.fail .err-out{
    background-color: #F7CBD0;
}
header .err-top.fail .err-out i,header .err-top.fail .err-out span{
    color: #D9626E;
}
header .err-top.succ .err-out i,header .err-top.succ .err-out span{
    color: #248060;
}
header .err-top.succ .err-out{
    background-color: #6FE8BF;
}
header .err-top .err-switch{
    text-align: center;
}
header .err-top .err-switch-i{
    font-size: 23px;
    line-height: 46px;
    height: 46px;
    display: none;
    margin-right: 20px;
}
header .err-top.succ .icon-smile,header .err-top.fail .icon-frown{
    display: inline-block;
}
header .err-top .err-content{
    font-size: 12px;
    line-height: 46px;
    height: 46px;
    display: inline-block;
    vertical-align: bottom;
}
/*err-top end*/

.blogtips{
    width: 0;
    height: 0;
    position: relative;
    border-right:5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #656565;
    border-top:5px solid transparent;
    margin-left: 35px;
    margin-top: -14px;
    transition: all 0.3s;
    -moz-transition: all 0.3s;  /* Firefox 4 */
    -webkit-transition: all 0.3s;   /* Safari å’Œ Chrome */
    -o-transition: all 0.3s;
    /*position: relative;*/
    /*padding-bottom: 10px;*/
}
.blogtips:hover{
    /*filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -moz-transform: rotate(90deg);
   -moz-transform-origin:25% 25%;*/
   border-right:5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top:5px solid #656565;
    margin-top: -10px;
}
.blog1{
    width: 300px;
   /*padding-top:10px;*/
   display: none;
   position: relative;
    left:-39px;
    top:-5px;
}
.blogtitle{
    width: 300px;
    background: #1C1C1C;
    line-height: 32px;
    color: #737373;
    overflow: hidden;
    padding-left: 10px;
    height: 32px;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*position: absolute;*/
    /*left: 0px;*/
    /*margin-top:10px;*/
    /*display: none;*/
}
