    .bigicon {
        padding:10px;
        font-size: 47px;
        color: white;
    }

    .medicon {
        font-size: 22px;
        color: white;
        padding-top:20px;
    }

    .header-item {
        font-size: 17px;
        color: white;
    }

    .data-item {
        font-size: 19px;
        color: white;
    }

    .contents {
        padding-top: 10px;
        background-color: black;
    }

    .panel{
        border-radius:0;
        border-width:0;
        margin-bottom:0;
    }

    .panel1 {
        background-color: #E8C259;
        height: 50px;
    }

    .panel2 {
        background-color: #E7B872;
        height: 50px;
    }
    .panel3 {
        background-color: #B6AAAA;
        height: 50px;
    }
    .last {       
        margin-bottom:10px;
    }