@charset "utf-8";
*{font-size: 12px;}
body{
	margin: 0;
	padding: 0;
	font: "微软雅黑", "Arial";
	font-size: 12px;
}


img {
	border: 0;
	opacity: 0.5;
}

.clear {
	clear: both
}

.indexBody {
	background: url(img/bg.png) repeat-x #3a90e6
}

.LoginBox {
	width: 545px;
	height: auto;
	position: absolute;
	top: 25%;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}

.LoginBoxSub {
	width: 545px;
	height: 299px;
	background: url(img/LoginBox.png)
}

.LoginBoxSub .SubTitle {
	width: 545px;
	height: 98px;
	line-height: 98px;
	text-align: center;
	font-size: 30px;
	color: #fff;
	font-family: "微软雅黑";
	text-shadow: 1px 1px #002b61
}

.LoginBoxSub .subContent {
	width: 545px;
	height: auto;
	margin-top:-10px;
}

.LoginBoxSub .subContent .subteable {
	width: 100%;
	height: auto;
	float: left;
}

.LoginBoxSub .subContent .subteable .text {
	color: #FFF;
	text-align: right
}

.LoginBoxSub .subContent .subteable .input2 {
	width: 132px;
	height: 22px;
	line-height: 22px;
	background: url(img/yg_input.png) no-repeat;
	_background-attachment: fixed;
	border: 0;
	padding-left: 24px; *
}

.LoginBoxSub .subContent .subteable .input3 {
	width: 132px;
	height: 22px;
	background: url(img/mima_input.png) no-repeat;
	_background-attachment: fixed;
	border: 0;
	padding-left: 24px; *
	line-height: 22px
}

.LoginBoxSub .subContent .subteable .validateImg {
	width: 60px;
	height: 24px;
	cursor: pointer;
	display: inline-block
}

.LoginBoxSub .subContent .loginButton {
	width: 170px;
	height: 100px;
	padding-top: 25px;
	float: left
}

.LoginBoxSub .subContent .loginButton {
	color: #fff
}

.LoginBoxSub .subContent .loginButton a {
	color: #fff
}

.LoginBoxSub .subContent .loginButton a:hover {
	color: #b4ddfa
}

.LoginBoxSub .shadow {
	padding-left: 1px
}

.LoginBoxSub .totalError {
	line-height: 30px;
	padding-left: 203px;
	color: #cfe3f8;
	padding-top: 45px
}
.showmsg{width: 200px; overflow: hidden;}
.onShow{background:url(img/reg_bg.png) no-repeat ; padding-left:34px; font-size: 12px; height:26px;padding-top:2px; width:120px; background-position:0px -300px; display:inline-block; line-height:25px;  vertical-align:middle; overflow:hidden;}
.onFocus{background-position:0px -34px; color:#104587; border: 1px solid #0976C0;border-radius:5px;border-left: none;}
.onError{background-position:0px -67px; color:red;border: 1px solid #0976C0;border-radius:5px;border-left: none;}
.onError1{background-position:0px -67px; color:red;	 width: 230px;position: absolute;margin-top: -12px;border: 1px solid #0976C0;border-radius:5px;border-left: none; }
.onok{background-position:0px 0; text-indent:-9000px;}
.tblg{width:105px; height:36px;margin-left:10px; background:url(img/dllgbtn.png) no-repeat left top; border:none; cursor:pointer;}
.tblg:HOVER{opacity: 0.8;}