@charset "utf-8";
.panel-icon, .panel-tool { height: 20px;}
.icon{ background:url(img/icons.png)  no-repeat scroll -601px -2px rgba(0, 0, 0, 0);width:20px; margin-right:5px; line-height:20px; display:inline-block;}    /*默认图标*/
.icon-reload{background:url('icons/refresh.gif') no-repeat;}                         /*默认刷新*/
.icon_search,.icon-search{background:url('icons/search.png' ) no-repeat;}                         /*默认搜索*/



/*main*/
.icon-tb{width: 20px;height: 20px; margin-top: 2px;display: inline-block;}
.icon-online{background:url('icons/ok.png') no-repeat;}    
.icon-offline{background:url('icons/2.png') no-repeat;}    
         

.icon-user{background:url('icons/user.gif') no-repeat;}                              /*用户*/
.icon-cold{background:url('icons/4.png') no-repeat;}                                 /*冷库图标*/
.icon-authe{background: url(img/icons.png) no-repeat scroll -540px -632px rgba(0, 0, 0, 0);}                                /*认证图标*/
.icon-coldcf{background:url('icons/6.png') no-repeat;}                               /*冷库选型*/
.icon-sel{background:url('icons/7.png') no-repeat;}                                  /*默认查看*/
.icon_filter{background: url(img/icons.png) no-repeat scroll -1201px -602px rgba(0, 0, 0, 0);}

.icon_add   {background:url('icons/1.png') no-repeat;}                               /*添加按钮1*/
.icon_add1  {background:url('icons/1_1.png') no-repeat;}                             /*添加按钮2*/
.icon_rem   {background:url('icons/2.png') no-repeat;}                               /*删除按钮1*/
.icon_rem2  {background:url('icons/2_1.png') no-repeat;}                             /*删除按钮2*/
.icon-delete{ background:url('icons/delete.png') no-repeat center center;}           /*删除按钮3*/
.icon_edit  {background:url('icons/3.png') no-repeat;background-size:14px 15px;}     /*编辑按钮1*/
.icon-ok{ background:url('icons/ok.png') no-repeat center center; }                     
.icon-ok1{ background: url(img/icons.png) no-repeat scroll -1021px -661px rgba(0, 0, 0, 0); }                     
.icon-cancel{ background:url('icons/cancel.png') no-repeat center center; }           /*取消按钮1*/            
.icon-cancel1 {background: url(img/icons.png) no-repeat scroll -991px -661px rgba(0, 0, 0, 0);}
.icon-cancel2 {background: url(img/icons.png) no-repeat scroll -421px -691px rgba(0, 0, 0, 0);}


/*=====================================main导航=====================================================*/
.main_platform {background: url(img/icons.png) no-repeat scroll -481px -242px rgba(0, 0, 0, 0);}/*平台管理*/
.main_dev {background: url(img/icons.png) no-repeat scroll -660px -32px rgba(0, 0, 0, 0);}/*设备管理*/
.main_360 {background: url(img/icons.png) no-repeat scroll -961px -423px rgba(0, 0, 0, 0);}/*冷库360*/
.main_coun {background: url(img/icons.png) no-repeat scroll -1px -361px rgba(0, 0, 0, 0);}/*网站统计*/
.main_sys {background: url(img/icons.png) no-repeat scroll -60px -270px rgba(0, 0, 0, 0);}/*系统管理*/
.main_fwq {background: url(img/icons.png) no-repeat scroll -960px -60px rgba(0, 0, 0, 0);}/*服务管理*/
.main_debug {background: url(img/icons.png) no-repeat scroll -1172px -62px rgba(0, 0, 0, 0);}/*服务管理*/
.main_ad {background: url(img/icons.png) no-repeat scroll -781px -569px rgba(0, 0, 0, 0);}/*服务管理*/

.main_share {background: url(img/icons.png) no-repeat scroll -1440px -455px rgba(0, 0, 0, 0);}/*共享*/
.main_infmation {background: url(img/icons.png) no-repeat scroll -631px -571px rgba(0, 0, 0, 0);}/*资讯*/

.main_relating {background: url(img/icons.png) no-repeat scroll -1141px -629px rgba(0, 0, 0, 0);}/*关联管理*/

.dev_warning {background: url(img/icons.png) no-repeat scroll -1082px -30px rgba(0, 0, 0, 0);}/*设备告警*/
.dev_data {background: url(img/icons.png) no-repeat scroll -990px -29px rgba(0, 0, 0, 0);}/*设备数据*/

/*=====================================用户图标=====================================================*/
.user_audit{background: url(img/icons.png) no-repeat scroll -961px -659px rgba(0, 0, 0, 0);}
.user_add {background: url(img/icons.png) no-repeat scroll -121px -241px rgba(0, 0, 0, 0);}
.user_edit{background: url(img/icons.png) no-repeat scroll -422px -241px rgba(0, 0, 0, 0);}
.user_del {background: url(img/icons.png) no-repeat scroll -391px -241px rgba(0, 0, 0, 0);}

/*====================================rdc图标=====================================================*/
.rdc_add {background: url(img/icons.png) no-repeat scroll -1052px -392px rgba(0, 0, 0, 0);}
.rdc_del {background: url(img/icons.png) no-repeat scroll -1082px -393px rgba(0, 0, 0, 0);}
/*====================================共享信息图标=====================================================*/
.rdcShare_del {background: url(img/icons.png) no-repeat scroll -1412px -183px rgba(0, 0, 0, 0);}
/*消息中心*/
.objicon{display: inline-block;width: 20px;height: 20px;}
.icon-msgType{    background: url(img/icos.png) no-repeat scroll -1350px -391px rgba(0, 0, 0, 0);}


