/*冷库列表页  
 * administrator:jinghiayang
 * date:2016.7.14
 */
header{
	width: 100%;
	height: 2.2rem;
	background-color: #438BCB;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	padding:0.3rem 0.9rem;
	box-sizing:border-box;
	text-align: center;
	color: #fff;
	line-height: 1.6rem;
}
header>div>a{
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
	line-height: 1.6rem;
	font-size: 1rem;
}
header>div>a>.iconfont{
	font-size: 1rem;
}
.txt{
	height: 100%;
	margin:0 1rem;
}
.footer{
	width: 100%;
	height: 2.45rem;
	background: rgba(255,255,255,.9);
	font-size: 0.5rem;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9999;
	border-top: 1px solid #ccc;
}
.footer>li{
	float: left;
	width: 25%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}
.footer>li>a{
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #898989;
	padding-top: 0.2rem;
	box-sizing: border-box;
}
.footer>.active>a{
	color: #428BCA;
}
.footer i{
	font-size: 1.2rem;
}
.info{
	font-size: 0.6rem;
	margin-top: -0.1rem;
}
section{
	margin: 2.5rem 0 0.1rem;
	height: 2rem;
	display: table;
	table-layout: fixed;
	width:100%;
	position: relative;
	z-index: 2;
	padding:0 0.9rem;
	box-sizing: border-box;
}
/*温度、电耗、开门样式*/
.toggle{
	padding: 0;
	box-sizing: border-box;
	background-color: #fff;
	margin-bottom: 0.5rem;
	font-size: 0.8rem;
	text-align: center;
	width: 100%;
	display: table;
	table-layout: fixed;
	position: relative;
	z-index: 3;
}
.toggle>div{
	display: table-cell;
	height: 2rem;
	line-height: 2rem;
	border-bottom: 3px solid #BDBDBD;
}
.toggle i{
	font-size: 1.2rem;
	margin: 0.1rem 0.2rem 0;
}
.tempture i{
	color: #EB5A4A;
}
.light i{
	color: #5BB789;
}
.door i{
	color: #448BCB;
}
.other{
	/*position: relative;*/
}
.other i{
	color: #33788E;
}
.tempture.current{
	color: #EB5A4A;
	border-bottom: 3px solid #438BCB;
}
.light.current{
	color: #5BB789;
	border-bottom: 3px solid #438BCB;
}
.door.current{
	color: #448BCB;
	border-bottom: 3px solid #438BCB;
}
.other.current{
	color: #33788E;
	border-bottom: 3px solid #438BCB;
}
.otherList{
	background: #fff;
	width: 100%;	
	position: absolute;
	top: 100%;
	left: 0;	
}
.otherList li{
	border-bottom: 1px solid #eee;
}
.otherList{
	box-shadow: 0 4px 10px #999;
}
.otherList li a{
	color: #333;
	
	display: block;
	width: 100%;
	height: 100%;
	text-align: left;
	text-indent: 0.9rem;
}
/*图标区域样式*/
.chart{
	background-color: #fff;
	padding: 0.2rem 0.9rem;
	box-sizing: border-box;
	min-height: 22rem;
	margin-bottom: 3rem;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 0.9rem;
    background: #fff;
}
.swiper-button-next,.swiper-button-prev{
	background-color: transparent;
	background-image: none;
	width: 1.8rem;
	height: 1.8rem;
	text-align: center;
}
.swiper-button-next i,.swiper-button-prev i{
	font-size: 1.5rem;
	color: #ccc;
	line-height: 1.8rem;
}
#main{
	width: 90%;
	min-height: 15rem;
	margin: 0 auto;
}
.actually{
	text-align: left;
	font-size: 16px;
	font-weight: normal;
	color: #333;
	line-height: 1.5rem;
	text-indent: 1.5em;
}
.temperaturenum{
	padding:0.2rem 0.8rem;
	margin: 0.3rem 0 1rem;
	text-align: left;	
	color: #EC594A;
	font-size: 2rem;
}
