<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
		<title>冷库能效在线管理系统</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--标准mui.css-->
		<link rel="stylesheet" href="css/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="css/style/common.css"/>
		<link rel="stylesheet" type="text/css" href="css/style/monitor.css"/>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-icon mui-pull-left userImg" href="setting.html"><img src="images/cbd.jpg"/></a>
			<h1 class="mui-title">上海众萃冷链物流有限公司合肥RDC</h1>
			<a class="mui-pull-right"><span class="mui-icon iconfont">&#xe73d;</span></a>
		</header>
		<div class="mui-content" id="uiView">
			<div ng-if="tab==1" class="mui-control-content mui-active"><!--监控路由-->
				<nav class="mui-bar mui-bar-tab topTab">
					<a class="mui-tab-item omg mui-active" href="#/monitor">
						<span class="mui-icon iconfont">&#xe67f;</span>温度
					</a>
					<a class="mui-tab-item omg" href="#Popover_0">
						<span class="mui-icon iconfont">&#xe78b;</span>能耗
					</a>
					<a class="mui-tab-item omg" href="#Popover_1">
						<span class="mui-icon iconfont">&#xe6ed;</span>运管
					</a>
					<a class="mui-tab-item omg" href="#Popover_2">
						<span class="mui-icon iconfont">&#xe7b6;</span>制冷
					</a>
				</nav>
				<div id="Popover_0" class="mui-popover mui-bar-popover">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell"><a href="#/monitor_electric">电耗</a></li>
						<li class="mui-table-view-cell"><a href="#/monitor_water">水耗</a></li>
					</ul>
				</div>
				<div id="Popover_1" class="mui-popover mui-bar-popover">
					<div class="mui-popover-arrow"></div>
					<ul class="mui-table-view">
						<li class="mui-table-view-cell"><a href="#">冷库门</a></li>
						<li class="mui-table-view-cell"><a href="#">月台门</a></li>
						<li class="mui-table-view-cell"><a href="#">货物</a></li>
						<li class="mui-table-view-cell"><a href="#">照明</a></li>
						<li class="mui-table-view-cell"><a href="#">其他设施</a></li>
					</ul>
				</div>
				<div id="Popover_2" class="mui-popover mui-bar-popover">
					<div class="mui-popover-arrow"></div>
					<ul class="mui-table-view">
						<li class="mui-table-view-cell"><a href="#">制冷机组</a></li>
						<li class="mui-table-view-cell"><a href="#">排气温度及液位</a></li>
						<li class="mui-table-view-cell"><a href="#">冷凝系统</a></li>				
						<li class="mui-table-view-cell"><a href="#">蒸发系统</a></li>
					</ul>
				</div>
			</div>
			<div ng-if="tab==2" class="mui-control-content"></div><!--查询路由-->
			<div ng-if="tab==3" class="mui-control-content"><!--分析路由-->
				<nav class="mui-bar mui-bar-tab topTab">
					<a class="mui-tab-item omg mui-active" href="#Popover_3">
						<span class="mui-icon iconfont">&#xe67f;</span>温度
					</a>
					<a class="mui-tab-item omg" href="#Popover_4">
						<span class="mui-icon iconfont">&#xe78b;</span>能耗
					</a>
					<a class="mui-tab-item omg" href="#Popover_5">
						<span class="mui-icon iconfont">&#xe6ed;</span>运管
					</a>
					<a class="mui-tab-item omg" href="#Popover_6">
						<span class="mui-icon iconfont">&#xe7b6;</span>制冷
					</a>
				</nav>
				
				<div id="Popover_3" class="mui-popover mui-bar-popover">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell"><a href="#/monitor.electric">超温时长及次数统计</a></li>
						<li class="mui-table-view-cell"><a href="#/monitor.water">超温比例统计</a></li>
					</ul>
				</div>
				<div id="Popover_4" class="mui-popover mui-bar-popover">
					<div class="mui-popover-arrow"></div>
					<ul class="mui-table-view">
						<li class="mui-table-view-cell"><a href="#/monitor.electric">电耗</a></li>
						<li class="mui-table-view-cell"><a href="#/monitor.water">水耗</a></li>
					</ul>
				</div>
				<div id="Popover_5" class="mui-popover mui-bar-popover">
					<div class="mui-popover-arrow"></div>
					<ul class="mui-table-view">
						<li class="mui-table-view-cell"><a href="#">冷库门运行分析</a></li>
						<li class="mui-table-view-cell"><a href="#">货物因子分析</a></li>
						<li class="mui-table-view-cell"><a href="#">冷库日热量分析</a></li>
					</ul>
				</div>
				<div id="Popover_6" class="mui-popover mui-bar-popover">
					<div class="mui-popover-arrow"></div>
					<ul class="mui-table-view">
						<li class="mui-table-view-cell"><a href="#">效率分析</a></li>
						<li class="mui-table-view-cell"><a href="#">运行分析</a></li>
					</ul>
				</div>
			</div>
			<div ng-if="tab==4" class="mui-control-content"></div><!--告警路由-->
			<div ng-if="tab==5" class="mui-control-content"><!--维护路由-->
				<nav class="mui-bar mui-bar-tab topTab">
					<a class="mui-tab-item omg mui-active">
						<span class="mui-icon iconfont">&#xe67f;</span>维护提醒
					</a>
					<a class="mui-tab-item omg">
						<span class="mui-icon iconfont">&#xe78b;</span>维修
					</a>
					<a class="mui-tab-item omg">
						<span class="mui-icon iconfont">&#xe6ed;</span>维修记录
					</a>
				</nav>
			</div>

			<div ui-view></div>
		</div>	 <!--底部菜单-->
		<nav class="mui-bar mui-bar-tab">
			<a class="mui-tab-item mui-active" href="#/monitor">
				<span class="mui-icon iconfont">&#xe68d;</span>
				<span class="mui-tab-label">监控</span>
			</a>
			<a class="mui-tab-item" href="#/query">
				<span class="mui-icon iconfont">&#xe709;</span>
				<span class="mui-tab-label">查询</span>
			</a>
			<a class="mui-tab-item" href="#/analysis">
				<span class="mui-icon iconfont">&#xe682;</span>
				<span class="mui-tab-label">分析</span>
			</a>
			<a class="mui-tab-item" href="#/warning">
				<span class="mui-icon iconfont">&#xe697;</span>
				<span class="mui-tab-label">告警</span>
			</a>
			<a class="mui-tab-item" href="#/maintain">
				<span class="mui-icon iconfont">&#xe6a5;</span>
				<span class="mui-tab-label">维护</span>
			</a>
		</nav>
	</body>
	<script src="js/components/mui.min.js"></script>
	<script src="js/components/angular.min.js" type="text/javascript"></script>
	<script src="js/components/angular-ui-router.js" type="text/javascript"></script>
	<script src="js/components/angular-cookies.min.js" type="text/javascript"></script>
	<script src="js/controller/app.js" type="text/javascript"></script>
	<script src="js/controller/monitor.js" type="text/javascript"></script>
	<script src="js/controller/monitor_electric.js" type="text/javascript"></script>
	<script src="js/controller/monitor_water.js" type="text/javascript"></script>
	<script src="js/controller/query.js" type="text/javascript"></script>
	<script src="js/controller/analysis.js" type="text/javascript"></script>
	<script src="js/controller/warning.js" type="text/javascript"></script>
	<script src="js/controller/maintain.js" type="text/javascript"></script>
	<script>
		//mui.init();
	</script>
</html>