/*冷库列表页  
 * administrator:jinghiayang
 * date:2016.7.9 
 */
header{
	width: 100%;
	height: 2.2rem;
	background-color: #438BCB;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	padding:0.3rem 0.9rem;
	box-sizing:border-box;
	text-align: center;
	color: #fff;
	line-height: 1.6rem;
}
header>div>a{
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
	line-height: 1.6rem;
	font-size: 1rem;
}
header>div>a>.iconfont{
	font-size: 1rem;
}
.txt{
	height: 100%;
	margin:0 1rem;
}
section{
	margin: 2.2rem 0 0.1rem;
	height: 2rem;
	background-color: #fff;
	display: table;
	table-layout: fixed;
	width:100%;
	position: relative;
	z-index: 3;
}
.fixed{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	border-bottom: 1px solid #CACACA;
}
.droplist{
	display: table-cell;
	box-sizing: border-box;
	padding:0.4rem 0;
}
.fixtop{
	margin-top:4.5rem
}
.droplist>a{
	display: block;
	width: 100%;
	height: 100%;
	color:#636363;
	font-size: 0.7rem;
	text-align: center;
	border-right: 1px solid #CACACA;
	position: relative;
}
.droplist>a>span{
	display: inline-block;
	max-width: 80%;
	vertical-align: middle;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.droplist:last-child>a{
	border-right: 0;
}
.current{
	color: #438BCB!important;
}
.droplist>a>i{
	display: inline-block;
	vertical-align: middle;
	max-width: 15%;
	color:#CACACA;
	margin-left: 1%;
	font-size: 0.9rem;
}
.listcontain{
	position: absolute;
	top: 2rem;
	left: 0;
	width:100%;
	display: none;
	padding:0.2rem 0.9rem 3rem;	
	background-color: #fff;
	box-sizing: border-box;
	box-shadow: 0 2px 5px #111;
}
.type{
	line-height: 1.2rem;
	font-size: 0.7rem;
	text-indent: 0.2rem;
}
.type.fl{
	text-indent: 0;
}
.droplist .list>li{
	float: left;
	border:1px solid #ccc;
	margin:0.25rem;
	padding:0.15rem 0.3rem;
	font-size: 0.7rem;
	cursor: pointer;
	position: relative;
}
.active{
	background-color:#438BCB;
	color: #fff;
}
/*图文列表*/
.coldlist{
	background-color: #fff;
}
.two{
	display: none;
}	
.gpy{
	display: inline-block;
	width:0.45rem;
	height: 0.6rem;
	background: url(../img/gpy.gif) no-repeat center;
	background-size: cover;
}
.imgCell .ellipsis{
	margin-bottom: 0.2rem;
	color: #333;
	font-size: 0.7rem;
	/*text-indent: -0.05rem;*/
}
.position{
	color: #999;
	font-size: 0.6rem;
}
.star{
	font-size: 0.8rem;
	margin: 0.1rem;
	color: #CACACA;
	overflow: hidden;
}
.star li{
	float: left;	
}
/*黄色星星*/
.filled{
	color: #F59000;
	background-size: cover;
}
/*黄色星星*/
.imgCell{
	border-bottom: 4px solid #F5F5F9;
	padding:0.2rem 0.9rem; 
	position: relative;
}
.imgCell:last-child{
	border-bottom: 0;
}
.imgCell a{
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	vertical-align: middle;
	color: #333;
}
.imgCell a>img{
	line-height: 3rem;
	max-width: 3rem;
	height: 3rem;
	margin: 0 0.5rem 0 0.25rem;
}
.imgCell a>img+div{
	font-size: 0.5rem;
	text-indent: 0.25rem;
}
.grab{
	width: 4rem;
	height: 1.2rem;
	font-size: 0.75rem;
	text-align: center;
	line-height: 0.9rem;
	color: #fff;
	background-color: #428BCA;
	border-radius: 3px;
	margin-right: 0.9rem;
	position: absolute;
	bottom: 0.4rem;
	right: 0;
}
.ellipsis{
	color: #999;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/*仓位样式*/
.rent{
	width: 100%;
	background: #fff;
	padding: 0.3rem 0.9rem;
	text-align: center;
	box-sizing: border-box;
	margin-bottom: 0.3rem;
}
.rent .btn{
	background-color: #438BCB;
	color: #fff;
}
.rent button{
	padding:0.3rem 2.5rem;
	border:1px solid #ccc;
	background:#fff;
	font-size: 0.8rem;
	color: #636363;
}
.rent button:first-child{
	border-right: 0;
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
}
.rent button:last-child{
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
/*冷库详情页*/
.main,.more{
	padding:0.5rem 0.9rem;
	box-sizing: border-box;
}
.commentlist{
	margin-top: 2.2rem!important;
}
.compantDetail .ellipsis{
	color: #000;
	font-size: 0.8rem;
	margin-bottom: 0.3rem;
}
.compantDetail .position{
	font-size: 0.7rem;
}
.compantDetail .position i{
	font-size: 0.8rem;
}
.imglist{
	display: flex;
	margin: 0.3rem 0;
	display: -webkit-flex;
}
.imglist li{
	flex: 1;
	margin: 0.5rem 0.3rem 0.5rem 0;
	height: 4.5rem;
	background-size: cover;
	position: relative;
	text-align: center;
}
.gallery{
	height: 4.5rem;
	overflow: hidden;
	margin: 0.3rem 0;
}
.gallery a{
	float: left;
	width: 33%;
	padding: 0 0.1rem;
	box-sizing: border-box;
	height: 4.5rem;
	background-size: cover;
	text-align: center;
}

.infolist{
	width: 100%;
}
.infolist>li{
	float: left;
	width: 50%;
	font-size: 0.7rem;
	color: #666;	
	margin-bottom: 0.5rem;
	/*border-bottom: 1px dotted #ddd;*/
}
.text{
	color: #999;
}
.type+div div{
	width:90%;
	border: 1px solid #ddd;
	border-radius: 4px;
	line-height: 1rem;
	margin-bottom: 0.1rem;
}
.type~div span{
	display: inline-block;
	width:40%;
	background-color: #DDDDDD;
	text-align: center;
}
.type~div span:last-child{
	width:15%;
	color: #999;
	background-color: transparent;
}
.type~div input{
	width: 40%;
	font-size: 0.7rem;
	text-indent:10px;
}
.next{
	width: 100%;
	padding: 0.4rem 0;
	height: 1rem;
	line-height: 1rem;
	text-align: center;
}
.next>i{	
	font-size: 1.5rem;
	color: #CCCCCC;
	cursor: pointer;
	-webkit-animation:mynext 2s alternate ease-in-out infinite;
	animation: mynext 2s alternate ease-in-out infinite;
	position: relative;
	top: 0;
	right: 0.5rem;
	
}
@-webkit-keyframes mynext{
	0%{top: -0.2rem;}
	50%{top:0.3rem;}
	100%{top: -0.2rem;}
}
@keyframes mynext{
	0%{top: -0.2rem;}
	50%{top:0.3rem;}
	100%{top: -0.2rem;}
}
.nextList li{
	display: table;
}
.nextList li .type{
	display: table-cell;
	text-indent: 0;
}
.nextList li .compare{
	width: 3.5rem;
}
.nextList li .numl{
	width: 3rem;
	color: #438BCB;
}
.more{
	margin-top: .4rem;
	padding-bottom: 0;
}
.more li{
	padding:0;
}
.listDad{
	margin: 0.4rem 0 0.6rem;
}
.listDad li{
	font-size: 0.8rem;
}
.listDad li i{
	font-size: 0.8rem;
}
.borderlist{
	border-bottom: 1px solid #ccc;
	padding-bottom: 0.3rem;
}
.borderlist li{
	float: left;
	padding: 0.2rem 0.4rem;
	border: 1px solid #aaa;
	cursor: pointer;
	font-size: 0.7rem;
	margin:0.2rem 0.4rem 0.2rem 0;
	border-radius: 4px;
}
.commentArea{
	padding: 0.8rem 0 0.5rem;
	border-bottom: 1px solid #ccc;
}
.commentArea>li:nth-child(1){
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 1.25rem;
	overflow: hidden;
	text-align: center;
	background-size: cover;
	margin-right: 0.5rem;
}
.commentArea>li:nth-child(2){
	margin-left: 2.8rem;
}
.commentArea>li:nth-child(2) .ellipsis{
	color: #428BCA;
	font-size: 0.7rem;
}
.commentArea .imglist>li{
	width: 4rem;
	height: 3.5rem;
}
.equal{
	height: 1rem;
	line-height: 1rem;
	overflow: hidden;
	margin-bottom: 0.3rem;
}
.equal>span{
	font-size: .6rem;
	color: #999;
	margin: 0.1rem;
}
.commentTxt{
	font-size: .6rem;
	color: #666;
}
/*仓位详情*/
.gold{
	font-size: .6rem;
	color: #F59001;
	margin-left: 0.2rem;
}
.dateline{
	font-size: 0.7rem;
}
.mybtn{
	display: block;
	padding:0;
	font-size: 0.8rem;
	line-height: 2rem;
	width: 90%;
	margin: 3rem auto;
	box-sizing: border-box;
}
/*确认抢单*/
.input{
	/*margin: 2.6rem 0 0.5rem;*/
	margin: 1.6rem 0 0.5rem;
	background-color: #fff;
	display: table;
	table-layout: fixed;
	width:100%;
}
.idcode{
	padding: 0 0.8rem;
	height: 1.6rem;
	box-sizing: border-box;
	line-height: 1.6rem;
	margin-top: 0.2rem;
	background-color: #438BCB;
	font-size: 0.7rem;
	color: #fff;
	text-align: center;
	border-radius: 4px;
	outline: none;
}
.tel{
	padding: 0.2rem 0;
	box-sizing: border-box;
	border-bottom: 2px solid #F6F5FA;
	margin-bottom: 0.5rem;
}
.tel:first-child{
	margin-bottom: 0;
}
.tel i{
	font-size: 1rem;
	color: #B4B4B4;
	vertical-align: middle;
}
.tel input{
	height: 2rem;
	font-size: 0.8rem;
	line-height: 2rem;
	color: #333;
}
.input+button{	
	display: block;
	padding:0;
	font-size: 0.8rem;
	line-height: 2rem;
	width: 90%;
	margin: 3rem auto;
	box-sizing: border-box;
}
/*抢单成功页面*/
.victory{
	text-align: center;
	padding-top: 3rem;;
}
.victory>img{
	margin:2rem auto;
	width: 6.5rem;
	height: 6.5rem;
	
}
.success{
	font-size: 1rem;
	margin-bottom: 0.5rem;
}
.backhome a{
	display: block;
	width: 100%;
	font-size: 0.9rem;
	color: #458DCA;
	cursor: pointer;
}
.fail>img{
	width: 6.4rem;
	height: 5.325rem;
}
/*发布样式*/
.release>img{
	width: 6.675rem;
	height: 7.9rem;
}
.releasefail>img{
	width: 5.625rem;
	height: 6.925rem;
}
/*search样式*/
.search{
	height: 100%;
	margin:0 1.5rem;
	position: relative;
	line-height: 1.9rem;
}
.search input{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	padding-left: 10px;
	box-sizing: border-box;
	z-index: 0;
	font-size: 0.7rem;
}
.search i{
	font-size: 0.8rem;
	color: #438BCB;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 0.5rem;
	z-index: 1;
	background-size: cover;
}
.delete{
	text-align: center;
	font-size: 0.8rem;
	color: #999;
	line-height: 2rem;
}
.nodata{
	text-align: center;
	font-size: 0.8rem;
	display: none;
}
.nodata img{
	margin: 2rem auto;
	width: 6.5rem;
	height: 6.5rem;
}
.gray{background-color: #ccc;}