/*冷库列表页  
 * administrator:jinghiayang
 * date:2016.7.14
 */
body{
	background-color: #eee;
}
.info{
	font-size: 0.6rem;
}
header .txt{
	font-size: .75rem;
}
section{
	margin: 2.5rem 0 0.1rem;
	height: 2rem;
	display: table;
	table-layout: fixed;
	width:100%;
	position: relative;
	z-index: 2;
	padding:0 0.9rem;
	box-sizing: border-box;
}
/*温度、电耗、开门样式*/
.rdcDropList{
    position: absolute;
    top: 102%;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px #111;
    display: none;
}
.rdcDropList li{
    font-size: 0.75rem;
    color: #666;
    line-height: 1.8rem;
    width:100%;
    text-align:left;
    padding: 0 .9rem;
    border-bottom:1px solid #eee;
    box-sizing:border-box;
}
.toggle{
	padding: 0;
	box-sizing: border-box;
	background-color: #fff;
	margin-bottom: 0.1rem;
	margin-top:2.2rem;
	font-size: 0.7rem;
	text-align: center;
	width: 100%;
	height:auto;
	display: table;
	table-layout: fixed;
	position: relative;
	z-index: 3;
}
.toggle>div{
	display: table-cell;
	height: 1.6rem;
	line-height: 1.6rem;
	border-bottom: 3px solid #BDBDBD;
}
.toggle>div>i{
	font-size: 0.8rem;
}
.tempture>i{
	color: #EB5A4A;
}
.light>i{
	color: #5BB789;
}
.door>i{
	color: #448BCB;
}
.tempture.other>i{
	color: #EB5A4A;
}
.light.other>i{
	color: #5BB789;
}
.door.other>i{
	color: #F39826;
}
.other{
	/*position: relative;*/
}
.other>i{
	color: #448BCB;
}
.tempture.current{
	color: #EB5A4A;
	border-bottom: 3px solid #438BCB;
}
.light.current{
	color: #5BB789;
	border-bottom: 3px solid #438BCB;
}
.door.current{
	color: #448BCB;
	border-bottom: 3px solid #438BCB;
}
.tempture.other.current{
	color: #EB5A4A;
	border-bottom: 3px solid #438BCB;
}
.light.other.current{
	color: #5BB789;
	border-bottom: 3px solid #438BCB;
}
#ml_acl120.light.other.current,#ml_acl120.light.other>i,#ml_acl120.light>i,#runCooling.light>i{
	color: #F39826;
}
.door.other.current{
	color: #F39826;
	border-bottom: 3px solid #438BCB;
}
#ml_acl130.door.other>i{
	color: #448BCB;
}
#ml_acl140.other>i{
	color: #5BB789;
}
#ml_acl130.door.other.current{
	color: #448BCB;
}
.other.current{
	color: #448BCB;
	border-bottom: 3px solid #438BCB;
}
#ml_acl140.other.current{
	color: #5BB789;
}
.otherList{
	background: #fff;
	width: 100%;	
	position: absolute;
	top: 100%;
	left: 0;	
}
.otherList li{
	border-bottom: 1px solid #eee;
}
.otherList{
	box-shadow: 0 4px 10px #999;
}
.otherList li a{
	color: #333;
	
	display: block;
	width: 100%;
	height: 100%;
	text-align: left;
	text-indent: 0.9rem;
}
/*图标区域样式*/
.chart{
	background-color: #fff;
	padding: 0.2rem 0.9rem;
	box-sizing: border-box;
	min-height: 21rem;
	margin-bottom: 2.5rem;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.pressureImg,.evawater{text-align: center;}
.swiper-slide {
    font-size: 0.9rem;
    background: #fff;
}
.swiper-button-next,.swiper-button-prev{
	background-color: transparent;
	background-image: none;
	width: 1.8rem;
	height: 1.8rem;
	text-align: center;
}
.swiper-button-next i,.swiper-button-prev i{
	font-size: 1.5rem;
	color: #888;
	line-height: 1.8rem;
}
#main{
	width: 90%;
	min-height: 15rem;
	margin: 0 auto;
}
.actually{
	text-align: left;
	font-size: 0.75rem;
	font-weight: normal;
	color: #438BCB;
	line-height: 1.5rem;
}
.temperaturenum{
	padding:0 0 0.8rem .2rem;
	text-align: left;	
	color: #EC594A;
	font-size: 1.8em;
	word-wrap:break-word;
}
div[id^="main"],.actually+div[id]{
	min-height:17rem;
	
}
.inner{
	padding-left: 2rem;
	background: #f3f3f3;
}
.inner>li{
	border-color: #fff;
}
.inner>li:last-child{
	border: 0;
}

.echarts-tooltip{
	text-align: left;
}
.inner>li>a{
	color: #333;
	font-size: 0.75rem;
	text-indent: 1rem;
	position: relative;
}
b{
	font-weight: 400;
	display: inline-block;
	vertical-align: middle;
	width: 2rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/*搜索RDC样式*/
.two{
	display: none;
}
.search{
	height: 100%;
	margin:0 0 0 1.5rem;
	position: relative;
	line-height: 1.9rem;
}
.search input{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	padding:0 1.4rem 0 10px;
	box-sizing: border-box;
	z-index: 0;
	font-size: 0.7rem;
}
.search i{
	font-size: 0.8rem;
	color: #438BCB;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 0.5rem;
	z-index: 1;
	background-size: cover;
}
.searchTop{
	display: none;
	position: fixed;
	top: 2.2rem;
	left: 0;
	background-color: #fff;
	z-index: 10000;
	margin: 0;
	padding: 0;
	height: 100%;
}
.searchTop p{
	font-size: .75rem;
	line-height: 2;
	display: none;
}
.rdcList{
	height: 100%;
	overflow-y: scroll;
	padding:0 .9rem 1.5rem;
	box-sizing: border-box;
}
.rdcList li{
	font-size: 0.7rem;
	line-height: 1.5rem;
	border-bottom: 1px solid #e6e6e6;
	color: #666;
}
.rdcList li i{
	font-size: 0.7rem;
	color: #999;
	margin-right: .3rem;
}
.transion i{
	font-size: 1.3rem!important;
}
/* other */
.zhengFaSys{
	min-height: 4rem;
	margin-bottom:.5rem;
	background-color: #CCE8CF;
}
.zhengFaSys .info-box-icon{
	height: 4rem;
	width: 4rem;
	line-height:4rem;
}
.zhengFaSys .info-box-content{
	padding-left: 2px;
	padding-right: 0;
	margin-left:4.2rem;
	text-align:left;
}
.zhengFaSys .info-box-text>span{
	color:coral;
	font-size: .7rem;
}
.zhengFaSys .info-box-text>span:nth-child(2){
	font-size: 1.2rem;
}
.fengji{
	font-size: .7rem;
	margin-top:.3rem;
	word-wrap: break-word;
	color:#333;
}
.fengji span{
	white-space: nowrap;
}
.runImg{
	margin-top:10px;float:left;font-size:.7rem;width:33%;
}
.runImg img{
	width: 30px;
	height: 20px;
	vertical-align: middle;
}
.pressureImg{
	font-size:.7rem;
}
.pressureImg img,.evawaterP img{
	height: 12px;
	width: 20px;
}
.evawaterP{
	font-size:.7rem;
	margin-top:1.5rem;
}
.myImg1{
	margin-top:10px;
	width:10.2rem;
	height:6rem;
}
.myImg2{
	float:left;
	width: 3rem;
	height: 3rem;
}
/*告警*/
.warn_sec{
	background: #fff;
	padding-bottom: 3rem;
	padding-top: 1rem;
}
.warn_sec .actually{
	line-height: 2rem;
}
.cold_warn{
	width:100%;
	border-collapse: collapse;
	border:1px solid #337ab7;
}
.wxRecords .cold_warn{
	word-break:keep-all;
	white-space: nowrap;
}
.cold_warn td,.cold_warn th{
	border:1px solid #337ab7;
	text-align:left;
	font-size: .75rem;
	line-height: 2;
	padding: 2px 0;
}
.analysis .cold_warn td{
	line-height: 1;
}
.cold_warn th[colspan="3"]{
	height:2.5rem;
	line-height:2.5rem;
}
.cold_warn td>i{
	display:inline-block;
	vertical-align:middle;
	width:4rem;
	color:#fff;
	height:1.5rem;
	line-height:1.5rem;
	text-align:center;
	background:#00acd6;
	border-radius:3px;
	font-style: italic;
}
/*alarmLog*/
.alarmLog td{
	color:#333;
	font-size: .7rem
}
.alarmLog th{
	font-size: .7rem
}
/*查询*/
.historyData{
	font-size: .7rem;
}
.historyData strong{
	font-weight: 700;
	font-size: .7rem;
}
.historyData p{
	margin-bottom: .2rem;
}
.default{
	float:left;
	min-width:20%;
	background:#f2f2f2;
	padding:.2rem;
	text-align:center;
	margin: 0 2% .5rem 0;
	border-radius:3px;
}
.defaultSelect{
	background:#F39826;
	color:#fff;
}
.my_list ul .selectLi{
	background:#F39826;
	color:#fff;
}
.selectInfo{
	
}
.coverBg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.7);
	z-index:10000;
	padding: 3rem .9rem;
	display:none;
}
.my_list{
	color:#000;
	display:none;
}
.my_list ul li{
	background:#f2f2f2;
	display:inline-block;
	width:30%;
	padding:5px;
	margin:.3rem 2% .5rem 0;	
	border-radius:3px;
	text-align: center;
	font-size: .7rem;
	color:#555;
}
.coverBg .bottomBtn{
	position: fixed;
	bottom: 0;
	right: 0;
	width:100%;
	background: red;
	text-align: right;
}
.bottomBtn .mybtn{
	width:100%;
	font-size: .8rem;
}
.my_list input[type='radio']{
	width: 0.8rem;
	height: 0.8rem;
	-webkit-appearance:none;
	appearance:none;
	border: 1px solid #ccc;
	background-color: #fff;
	box-sizing: border-box;
	border-radius: 50%;
	position: relative;	
	top: -0.1rem;
	margin-right: .2rem;
}
.my_list input[type='radio']:checked:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	width: 70%;
	height: 70%;
	background-color: #438BCB;
	border-radius: 50%;
	border: 0;
}
.my_list input[type='radio'].blue{
	border-color: #438BCB;
}
.my_list label{
	display: inline-block;
	width:40%;
	text-align: center;
	font-size: .7rem;
	color:#555;
	background:#f2f2f2;
	padding:5px 0;
	border-radius:4px;
	margin-bottom: .5rem;
}
.ysjList ul li{
	width:80%;
	text-align: left;
}
.ysjPqList label{
	width:90%;
	margin-bottom: .5rem;
	text-align: left;
	text-indent: 1em;
}
.chaxun{
	text-align: right;
	margin-top: .5rem
	margin-bottom: .8rem
}
.chaxun button{
	width:100%;
	display: inline-block;
}
.closeCover{
	position: fixed;
	top:.3rem;
	right:20px;
	color:#fff;
	font-size: 2rem;
}
.historyData .br{
	margin-bottom: .8rem;
    color: #438BCB;
}
.datainp{
	width:12rem;
	height:2rem;
	line-height: 2rem;
	border:1px solid #ccc;
	text-indent: 10px;
	margin-left: .2rem;
	color:#555;
	-webkit-appearance: none;
	appearance: none;
	font-size: .75rem;
}
/*报表功能*/
.analysis{
	overflow-x: auto;
	overflow-y: hidden;
	width: 100%;
	border: 1px solid #ddd;
	margin-bottom: 1rem;
}
.analysis caption{
	text-align:left;
	text-indent:2rem;
}
.analysis thead th,.analysis thead td,.analysis tbody tr td:first-child,.analysis tbody tr td:last-child{
	white-space: nowrap;
	padding:5px 8px;
}
.analysis td{
	padding:5px 8px;
}
#rpt_asistb_tit {
	line-height: 2rem;
	text-align: center;
}

#rpt_asis_coment {
	min-height: 5rem;
}

#rpt_asis_table {
	border: 2px solid #337ab7;
	text-align: center;
}
/*保养提醒*/
.maintain{
	text-align: left;
}
.maintain .actually{
	margin-bottom: 1.2rem
}
.alarm_bg{
	float:left;
	width: 50%;
	height: 2.96rem; 
	background: url(../img/alarm.png);
	background-size: cover;
	margin-bottom:2.5rem;
	text-align: center;
}
.remain{
	display: inline-block;
	width: 7.2rem;
	height: 3.5rem;
	line-height: 3.9rem;
	text-align: left;
	text-indent:1.8rem;
	font-size: .6rem;
	color:#fff;
	font-weight: 700
}
.remain+p{
	font-size: .7rem;
	color: #2b3046;
	text-align: center;
}
.goTop{
	width:2rem;
	height: 2rem;
	position: fixed;
	right: 1rem;
	bottom: 4rem;
	cursor: pointer;
	display: none;
	text-align: center;
	line-height: 2rem;
	z-index: 10;
	background: #438BCB;
	border-radius:4px;
}
.goTop i{
	color: #fff;
	font-size: 2rem;	
}
/*维修*/
.mainTainBottomL{
	margin-bottom: 3rem;
	background: #fff;
	min-height: 22rem;
}
.applyKid{
	margin-bottom: .3rem;
}
.applyKid .datainp{
	width:100%;
	color:#000;
}
.applyKid p{
	font-size: .75rem;
	font-weight: 800;
	line-height: 2;
}
.mainTainBottomL~.jedatebox {
	width: 90%;
}

#applyTime {
	width: 100%;
	font-size: .75rem;
}

.applyKid textarea{
	border:1px solid #ccc;
	resize:vertical;
	min-height:4rem;
	width:100%;
	-webkit-appearance: none;
	appearance: none;
	font-size: .75rem;
}
.textA.applyKid  textarea{
	min-height:2rem;
}
.mainApply button{
	width:100%;
	margin-top: 1rem;
}
.current.applyLog{
	color:#438BCB;
    border-bottom: 3px solid #438BCB;
}
.current.apply_log{
	color:#F39826;
    border-bottom: 3px solid #438BCB;
}
.wxRecords,.mainApply{
	padding:0 0.9rem 0.5rem;
}
.wxRecords>p {
	padding-top: .5rem;
	text-align: center;
	font-size: 0.8rem;
	color: #438BCB;
}
#jedatebox{
	z-index: 10000!important;
}
.analysis textarea{
	width:10rem;
	overflow: visible;
	height: 100%!important;
} 
.myTd{
	max-width: 15rem;
	min-width: 12rem;
	word-break: break-all;	
	white-space: normal;
}
.myNote{
	min-width: 6rem;
}
.applyKid .checkbox-inline {
	margin: 0 .5rem .5rem 0
}
.addSeclect {
	margin-bottom: 1rem
}
.addSeclect select {
	width: 42%;
	display: inline-block
}
.addBtn {
	width: 10%;
	padding: 0;
	height: 1.2rem;
	line-height: 1.2rem;
	font-size: 1rem;
	float: right
}
#star {
	width: auto !important;
	text-align: center
}
#star img {
	height: 1.5rem;
	width: auto !important
}

#txt_evaluate {
	width: 100%;
	height: 3rem
}
.check_icon{
    height: 1.2rem; 
    border: 0.5px solid #DADADA;
    border-radius: .2rem;
    position: relative;
    padding: 0;
    overflow: hidden;
}
.check_icon input {
    width: 100%;
    height: 100%;
    margin: 0!important;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    filter: alpha(opacity=0);
    opacity: 0;
    cursor: pointer;
    display: block;
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    box-sizing: border-box!important;
}
.check_icon i {
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    display: inline-block;   
    background-color: #fff;
    text-align: center;
    font-size: 0.8rem;
    color: #DFDFDF;
    text-align: center;
    float: left;
}
.check_icon.on i {
    background-color: #fff;
    color: #5eb95e;
}
.check_icon.on{
	border-color:#5eb95e;
	color: #5eb95e;
}
.check_icon.on .check-text{
	background-color: #5eb95e;
    color: #ffffff;
}
.check-text{
	height: 1.2rem;
    line-height: 1.2rem;
    display: inline-block;
    float: left;
    padding: 0 0.3rem;
    background-color: #F6F6F6;
    overflow: hidden;
}
.userRadio{
	margin: 1rem 0;
}
input[type='radio']{
	width: 0.8rem;
	height: 0.8rem;
	-webkit-appearance:none;
	appearance:none;
	border: 1px solid #ccc;
	background-color: #fff;
	box-sizing: border-box;
	border-radius: 50%;
	position: relative;	
	margin: 0 .5rem 0 0!important;
}
input[type='radio']:checked:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	width: 70%;
	height: 70%;
	background-color: #5eb95e;
	border-radius: 50%;
	border: 0;
}
input[type='radio']:checked{
	border-color: #5eb95e;
}
/*照明*/
.light_show .swiper-slide>p span{
	font-size: .75rem;
}
.light_show .swiper-slide>div.fl{
	width: 33.333%;
	padding: 0.5rem 2%;
	text-align: center;
	box-sizing: border-box;
	font-size: .6rem;
}
.light_show .swiper-slide>div.fl b{
	width:100%;
}
.light_show{
	display: none;
}
/**
*
* 针对权限设置的特殊样式  
* 2017-3-15
* jhy
*
*/
.role_limit{
	pointer-events:none!important;
	background-color: grey!important;
	color: #ccc!important;
}
.role_limit>i{
	color: #ccc!important;
}









