/*
* @Author: jinghaiyang
* @Date:   2016-07-05 10:46:19
* @Last Modified by:   wellsea
* @Last Modified time: 2016-08-04 11:57:20
*/
html{
	font-size: 20px;
}
.header{
	width: 100%;
	height: 2.2rem;
	background-color: #438BCB;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	padding:0.3rem 0.9rem;
	box-sizing:border-box;
	 display: -webkit-box;
    display: -ms-flexbox;
}
.area{
	height: 100%;
}
.barCode{
	height: 100%;
	line-height: 1.9rem;
}
.barCode a{
	display: inline-block;
    height: 100%;
    line-height: 1.9rem;
    text-align: right;
    width: 1.5rem;
}
.barCode i{
	font-size: 1rem;
	color: #fff;
	position: relative;
	top: -0.15rem;
	display: inline-block;
    height: 100%;
    line-height: 1.9rem;
}
.city{
	display: block;
	height: 100%;
	color: #fff;
	font-size: 0.7rem;	
	line-height: 1.9rem;
	position: relative;
	top: -0.15rem;
}
.nav-city{
	line-height: 1.9;
	color: #fff;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-right: .2rem;
    margin-left: .2rem;
    font-size: .7rem;
}
.area i{
	color: #fff;
	padding-right:0.3rem;
	font-size: 0.75rem;	
	position: relative;
    display: inline-block;
    vertical-align: middle;
}
.search{
	-webkit-box-flex: 1;
    -ms-flex: 1;
    border-radius: .06rem;
    background: rgba(0,0,0,.15);
    height: 1.6rem;
    line-height: 1.6rem;
    -webkit-box-sizing: border-box;
    position: relative;
}
.search input{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	padding:0 1.4rem 0 10px;
	box-sizing: border-box;
	z-index: 0;
	font-size: 0.7rem;
    line-height: 1.6rem;
}
.search i{
	font-size: 0.8rem;
	color: #438BCB;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 0.5rem;
	z-index: 1;
	background-size: cover;
}
.section{
	margin-top: 2.2rem;
	margin-bottom: 3rem;
}
/*swiper================================================*/
.banner{
	width: 100%;
	height: 8.375rem;
	margin: 0 auto;
}
.banner .swiper-slide{	
	background-size: cover;
}
.blue-slide {
	background: url(../img/banner3.jpg) no-repeat center;
}
.red-slide {
	background: url(../img/banner2.jpg) no-repeat center;
}
.orange-slide {
	background: url(../img/banner1.jpg) no-repeat center;
}
.swiper-slide {
	line-height: 100px;
	color: #fff;
	font-size: 36px;
	text-align: center;
}
.pagination {
  position: absolute;
  z-index: 20;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background: #000;
  margin: 0 5px;
  opacity: 0.2;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper-active-switch {
  background: #007aff;
  opacity: 1;
}
/*swiper====================================================*/
/*touchslide=================================================*/
/* 本例子css -------------------------------------- */
.focus{ 
	width:100%; 
	height: 8rem;
	margin:0 auto; 
	position:relative; 
	overflow:hidden; 
}
.focus .hd{ 
	width:100%; 
	height:0.5rem; 
	position:absolute; 
	z-index:1; 
	bottom:5px; 
	text-align:center;  
}
.focus .hd ul {
    display: inline-block;
    height: 0.5rem;
	font-size: 0;
	vertical-align: top;
}
.focus .hd ul li{ 
	display:inline-block; 
	width:0.5rem; 
	height:0.5rem; 
	-webkit-border-radius:50%;
	border-radius:50%; 
	background:#000;
	opacity: 0.3; 
	margin:0 5px;
	text-indent: -99rem;  
}
.focus .hd ul .on{ 
	background:#007AFF; 
	opacity: 1; 
}

.focus .bd li{
	width:100%;
	height:8rem;
	background-size: cover;
}
.focus .bd li img{ 
	width:100%;
	height:100%; 
	background:url(../img/load.gif) center center no-repeat; 
}
/* touchslide css -------------------------------------- */
/*grid*/
.grid{
	width: 100%;
	margin-bottom: 0.5rem;
	overflow: hidden;
}
.grid_kid{
	float: left;
	width: 50%;
	height: 5rem;
	background: #fff;
	box-sizing: border-box;
	text-align: center;
	font-size: 0.7rem;
}
.grid_kid a{
	display: block;
	width: 100%;
	height: 100%;
	padding-top: .4rem;
	box-sizing: border-box;
}
.grid_kid .info{
	margin-top: 0.3rem;
	color: #222;
	font-size: 0.8rem;
}
/* .grid_kid:nth-child(3){
	border-left:3px solid #F4F4F4;
} */
.grid_kid:nth-child(2n+1){	
	border-right:3px solid #F4F4F4;
	border-bottom:3px solid #F4F4F4;	
}
.grid_kid:nth-child(2n){
	border-bottom:3px solid #F4F4F4;	
}
.grid_kid i{
	font-size: 1.8rem;
}
.blueI{
	color:#438BCA
}
.goldI{
	color:#F39826; 
}
.redI{
	color:#F1594B;
}
.greenI{
	color:#0CB78A;
}
/*图文列表*/
.coldlist{
	background-color: #fff;
}
.gpy{
	display: inline-block;
	width:0.45rem;
	height: 0.6rem;
	background: url(../img/gpy.gif) no-repeat center;
	background-size: cover;
}
.imgCell .ellipsis{
	margin-bottom: 0.2rem;
	color: #333;
	font-size: 0.7rem;
	text-indent: -0.1rem;
}
.imgCell .position{
	color: #999;
	font-size: 0.65rem;
}
.star{
	font-size: 0.8rem;
	margin: 0.1rem;
	color: #CACACA;
	overflow: hidden;
}
.star li{
	float: left;
}
/*黄色星星*/
.filled{
	color: #F59000;
	background-size: cover;
}
/*黄色星星*/
.imgCell{
	border-bottom: 4px solid #F5F5F9;
	padding:0.2rem 0.9rem; 
	position: relative;
}
.imgCell a{
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	vertical-align: middle;
	color: #333;
}
.imgCell a>img{
	line-height: 3rem;
	max-width: 3rem;
	height: 3rem;
	margin: 0 0.5rem 0 0.25rem;
}
.grab{
	width: 4rem;
	height: 1.2rem;
	font-size: 0.75rem;
	text-align: center;
	line-height: 0.9rem;
	color: #fff;
	background-color: #428BCA;
	border-radius: 3px;
	margin-right: 0.9rem;
	position: absolute;
	bottom: 0.4rem;
	right: 0;
}
.ellipsis{
	color: #999;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/*城市列表*/
#PoPy{
	top:2.2rem!important;
	left: 0!important;
	/*z-index: 1000!important;*/
	width: 100%!important;
	background-color: #fff!important;
	box-shadow:0 6px 10px ##656363;
}
._citys { width: 100%; display: inline-block; border: 2px solid #eee; padding: 5px; position: relative; box-sizing: border-box;}
._citys span { color: #56b4f8; height: 1rem; width: 1rem; font-size:0.8rem; line-height: 0.95rem; text-align: center; border-radius: 3px; position: absolute; right: 0.9rem; top: 0.5rem; border: 1px solid #56b4f8; cursor: pointer; }
._citys0 { width: 100%; height: 1.5rem; display: inline-block; border-bottom: 0.1rem solid #56b4f8; padding: 0; margin: 0;}
._citys0 li { display: inline-block; line-height: 1.6rem; font-size: 0.7rem; color: #888; width: 4rem;text-align: center; cursor: pointer; }
.citySel { background-color: #56b4f8; color: #fff !important; }
._citys1 { width: 100%; display: inline-block; padding: 10px 0; }
._citys1 a { width: 4rem; height: 1.5rem; display: inline-block; background-color: #f5f5f5; color: #666; margin-left: 0.5rem; margin-top: 0.4rem; line-height: 1.5rem; text-align: center; cursor: pointer; font-size:0.7rem; overflow: hidden; 
	white-space: nowrap;
	text-overflow: ellipsis;}
._citys1 a:hover { color: #fff; background-color: #56b4f8; }
.AreaS { background-color: #56b4f8 !important; color: #fff !important; }
/*搜索*/
 .main{
	padding:0.5rem 0.9rem;
	box-sizing: border-box;
}
.listDad{
	margin: 0.4rem 0 0.6rem;
}
.listDad li{
	font-size: 0.7rem;
	line-height: 1.5rem;
	border-bottom: 1px solid #e6e6e6;
	color: #666;
}
.listDad li.fl{
	border:0;
}
.listDad li i{
	font-size: 0.7rem;
	color: #999;
	margin-right: .3rem;
}
.borderlist{
	border-bottom: 1px solid #ccc;
	padding-bottom: 0.3rem;
}
.borderlist li{
	float: left;
	padding: 0.2rem 0.4rem;
	border: 1px solid #aaa;
	cursor: pointer;
	font-size: 0.7rem;
	margin:0.2rem 0.4rem 0.2rem 0;
	border-radius: 4px;
}
#rdctitle,#shartitle{
	font-size: 0.8rem;
	color: #438BCB;
	line-height: 2;
}
.delete{
	text-align: center;
	font-size: 0.8rem;
	color: #999;
	line-height: 2rem;
}
#nochdata{
	color: #666;
	font-size: .75rem;
}
