html{
	height: 100%;;
}
body{
	width: 100%;
	height: 100%;
    background: #F4F8FB;
}
.login{
	margin-top: 2rem;
    padding: 0 0.9rem;
    box-sizing: border-box;
}
.inputBd{
	position: relative;
}
.inputBd input{
	display: block;
	width: 100%;
	text-indent: 2rem;
	padding: 0.8rem 0;
	font-size: 0.8rem;
	border-bottom: 1px solid #E1E4E5;
	background-color: transparent;
}
.inputBd>i{
	position: absolute;
	top: 50%;
	left: 0.5rem;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 1rem;
	color: #BDBDBE;
}
.mybtn{
	display: block;
	width: 100%;
	margin: 1.5rem auto 0.5rem;
	font-size: 0.8rem;
}
.register{
	height: 2rem;
	margin-top: 0.5rem;
	line-height: 2rem;
	display: flex;
	display: -webkit-flex;
}
.register div{
	flex: 1;
	-webkit-flex: 1;
}
.register div:last-child{
	text-align: right;
}
.register div a{
	display: block;
	font-size: .8rem;
	color: #8D8D8E;
}
footer{
	width: 100%;
	margin-top: 6rem;
    padding: 0 0.9rem;
    box-sizing: border-box;
}
.line{
	width: 60%;
	margin: 0 auto 1.5rem;
	border-bottom: 1px solid #E1E4E5;
	text-align: center;
}
.line span{
	display: inline-block;
	font-size: .8rem;
	color: #8D8D8E;
	padding: 0.5rem 2rem;
	background-color: #F4F8FB;
	position: relative;
	top: 1rem;
}
.three{
	display: flex;
	display: -webkit-flex;
}
.three>div{
	flex: 1;
	-webkit-flex: 1;
	text-align: center;
}
.three>div a{
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
	background-color: #F1594B;
	border-radius: 50%;
	line-height: 2.5rem;
	text-align: center;
	color: #fff;
}
.three>div:nth-child(2) a{
	background-color: #F39826;
}
.three>div:nth-child(3) a{
	background-color: #448BCB;
}
.three>div a i{
	font-size: 1.5rem;
}
/*注册*/
header{
	width: 100%;
	height: 2.2rem;
	padding:0.3rem 0.9rem;
	box-sizing:border-box;
	text-align: center;
	color: #fff;
	line-height: 1.6rem;
}
header>div>a{
	display: block;
	width: 100%;
	height: 100%;
	color: #448BCB;
	line-height: 1.6rem;
	font-size: 1rem;
}
header>div>a>.iconfont{
	font-size: 1rem;
}
.txt{
	height: 100%;
	margin:0 1rem;
	color: #333;
	font-size:1rem;
}
section{
	padding:0.3rem 0.9rem;
	box-sizing:border-box;	
	width:100%;
	position: relative;
	z-index: 3;
	margin-top: .3rem;
}
section .inputBd input{
	text-indent: 0;
}
#yzm{
	padding-right: 4rem;
	box-sizing: border-box;
}
.notTop{
	margin-top: 0.3rem;
}
.getNum{
	position: absolute;
	top: 50%;
	right: 0.2rem;
	transform: translateY(-50%);
	font-size: 0.8rem;
	color: #448BCB;
	padding:0.3rem 0.5rem;
	border-radius:4px;
	color:#333;
}
.blueBg{
	background-color: #438BCB;
}
.blueBg .txt,.blueBg div>a>.iconfont{
	color: #fff;
}
.telShow{
	font-size: 0.8rem;
	color: #666;
	margin-bottom: 0.5rem;
}
.warnInfo{
	text-indent:2rem;
	margin-top:0.5rem;
}
.warnInfo a{
	color:#f80;
	font-size:0.75rem;
}