/*冷库列表页  
 * administrator:jinghiayang
 * date:2016.7.14
 */
section{
	margin: 2.5rem 0 0.1rem;
	height: 2rem;
	display: table;
	table-layout: fixed;
	width:100%;
	position: relative;
	z-index: 2;
	padding:0 0.9rem;
	box-sizing: border-box;
}
/*grid*/
.grid{
	width: 100%;
	margin-bottom: 0.5rem;
	overflow: hidden;
	box-sizing: border-box;
}
.grid_kid{
	float: left;
	width: 50%;
	height: 6rem;
	background-color: #fff;
	box-sizing: border-box;
	text-align: center;
	font-size: 0.7rem;
}
.grid_kid a{
	display: block;
	width: 100%;
	height: 100%;
	padding-top: 1.2rem;
	box-sizing: border-box;
	border:5px solid #F4F4F4;
}
.grid_kid .info{
	margin-top: 0.5rem;
	color: #222;
	font-size: 0.8rem;
}
.grid_kid i{
	font-size: 1.5rem;
	color:#438BCA;
}
.grid_kid:nth-child(2) i{
	color:#F1594B;
}
.grid_kid:nth-child(3) i{
	color:#F39826;
}
.left,.right{
	width: 49%;
	text-align: center;
	color: #fff;
}
.up a,.right a,.down a{
	display: inline-block;
	width: 100%;
	height: 100%;
	color: #222;
}
.up a:link,.right a:link,.down a:link,
.up a:hover,.right a:hover,.down a:hover
.up a:active,.right a:active,.down a:active
.up a:visited,.right a:visited,.down a:visited{
	color: #222;
}
.left{	
	height:12rem;
	margin-right: 2%;
}
.right{
	height:12rem;
	background: #fff;
}
.up,.down{
	background: #fff;
	height: 5.8rem;	
}
.up a,.down a{
	padding-top: 1.3rem;
	box-sizing: border-box;	
}
.right a{
	padding-top: 4.2rem;
	box-sizing: border-box;	
}
.up{
	margin-bottom: 0.4rem;
}
.up i,.down i,.right i{
	font-size: 1.5rem;
	margin-top: 1.6rem;
}
.up i{
	color:#F1594B ;
}
.down i{
	color:#F39826 ;
}
.right i{
	color:#438BCA ;
}
.iconTxt{
	font-size: 0.8rem;
	margin-top: 0.3rem;
}
/*.grid_kid.share_cold i{
	color:#438BCA;
}
.grid_kid.share_goods i{
	color:#F39826;
}
.grid_kid.share_store i{
	color:#F1594B;
}
.share_cold,.share_goods,.share_store{
	width: 100%;
	height: 4rem;
}
.share_cold i,.share_goods i,.share_store i{
	float: left;
	width: 30%;
	text-align: center;
}
.share_cold p.info,.share_goods p.info,.share_store p.info{
	margin-top: 0;
	text-align: left;
}
.share_cold a,.share_goods a,.share_store a{
	padding-top: 0;
	line-height: 3.5rem;
}*/
/*发布库*/
.main{
	padding:0.5rem 0.9rem;
	box-sizing: border-box;
	background-color: #fff;
	margin-bottom: 3rem;
}
.houseinfo>li{
	margin: 0.2rem 0;
	border-bottom: 1px solid #eaeae9;
	line-height: 2rem;
	font-size: 0.75rem;
	width: 100%;
}
.houseinfo>li:first-child input{
	width:85%;
}
input[type="text"]:disabled{
	background:transparent
}
.houseinfo>li label{
	display: inline-block;
	color: #999;
}
.mySelect{
	min-width: 60%;
	height: 100%;
	display: inline-block;
	/* overflow: hidden; */
	border: 1px solid transparent;
	vertical-align: middle;
	/* height: 2rem; */
    line-height: 2rem;
}
.mySelect textarea{
	width:120%;
	height:2.5rem;
	vertical-align:middle;
	border:1px solid #ccc;
	resize:none;
}
body,html{
	overflow-x:hidden;
	width:100%;
}
.houseinfo>li select{
	width:150%;
	height: 100%;
	font-size: 0.75rem;
	color: #555;
	vertical-align: middle;
	outline: none;
    line-height: 2rem;
    text-indent: 1rem;
	/*666*/
	-webkit-appearance:none;
	appearance:none;
	border:none;
	display:block;
	background-color: transparent
}
.houseinfo>li>input[type='text'],
.houseinfo>li>input[type='date'],
.houseinfo>li>.mySelect>input[type='text']{
	text-indent: 10px;
	display: inline-block;
	vertical-align:middle;
	min-width: 60%;
	font-size: 0.75rem;
	color: #555;
    line-height: 2rem;
}
.houseinfo>li .bg{
	position: relative;
}
.houseinfo>li .bg:before{
	content: "";
	position: absolute;
	width: 120%;
	height: 20%;
	background: #fff;
	bottom: -5%;
	left: 0;
}
input[type='radio']{
	width: 0.8rem;
	height: 0.8rem;
	-webkit-appearance:none;
	appearance:none;
	border: 1px solid #ccc;
	background-color: #fff;
	box-sizing: border-box;
	border-radius: 50%;
	position: relative;	
}
input[type='radio']:checked:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	width: 70%;
	height: 70%;
	background-color: #438BCB;
	border-radius: 50%;
	border: 0;
}
input[type='radio'].blue{
	border-color: #438BCB;
}
.iconfont.fr{
	display: inline-block;
	width: 1.5rem;
	height: 2rem;
	line-height: 2rem;
	font-size: 0.9rem;
	color: #999;
	text-align: center;
}
.number{
	display: table;
}
.number>div{
	display: table-cell;	
	position: relative;
}
.number>div>div{
	margin:0.3rem 0.5rem;
	border: 1px solid #ddd;
	border-radius: 4px;
	line-height: 1.5rem;
}
.number>div span{
	display: inline-block;
	width:4rem;
	background-color: #DDDDDD;
	text-align: center;
}
.number>div span:last-child{
	width:1rem;
	color: #999;
	background-color: transparent;
}
.number>div input{
	width: 6rem;
	font-size: 0.75rem;
}
.num:before{
	content: "辆";
	position: absolute;
	width: 1rem;
	height: 100%;
	top: 0;
	right: 0;
}
.next{
	width: 100%;
	padding: 0.4rem 0;
	height: 1rem;
	line-height: 1rem;
	text-align: center;
}
.next>i{	
	font-size: 1.5rem;
	color: #CCCCCC;
	cursor: pointer;
	-webkit-animation:mynext 2s alternate ease-in-out infinite;
	animation: mynext 2s alternate ease-in-out infinite;
	position: relative;
	top: 0;
}
@-webkit-keyframes mynext{
	0%{top: -0.2rem;}
	50%{top:0.3rem;}
	100%{top: -0.2rem;}
}
@keyframes mynext{
	0%{top: -0.2rem;}
	50%{top:0.3rem;}
	100%{top: -0.2rem;}
}
form+.mybtn,.next+.mybtn{	
	display: block;
	padding:0.3rem 0;
	font-size: 0.9rem;
	line-height: 1.5rem;
	width: 90%;
	margin: 0.5rem auto;
	box-sizing: border-box;
}
/*发布仓位样式*/
.toggle{
	padding: 0;
	box-sizing: border-box;
	background-color: #fff;
	margin-bottom: 0.5rem;
	font-size: 0.8rem;
	text-align: center;
}
.toggle>div{
	width: 50%;
	height: 2rem;
	line-height: 2rem;
	border-bottom: 3px solid #BDBDBD;
	color: #BDBDBD;
}
.toggle i{
	font-size: 1.2rem;
	margin: 0.1rem 0.5rem 0;
}
.rent>i{
	line-height: 2.1rem;
}
.toggle>.current{
	color: #438BCB;
	border-bottom: 3px solid #438BCB;
}
/*图文列表*/
.coldlist{
	background-color: #fff;
	margin-bottom: 3rem;
}
.gpy{
	display: inline-block;
	width:0.45rem;
	height: 0.6rem;
	background: url(../img/gpy.gif) no-repeat center;
	background-size: cover;
}
.imgCell .ellipsis{
	margin: 0.2rem;
	color: #333;
	font-size: 0.7rem;
	/*text-indent: -0.05rem;*/
}
.position{
	color: #999;
	font-size: 0.6rem;
}
.star{
	font-size: 0.8rem;
	margin: 0.1rem;
	color: #CACACA;
	overflow: hidden;
}
.star li{
	float: left;
}
/*黄色星星*/
.filled{
	color: #F59000;
}
/*黄色星星*/
.imgCell{
	border-bottom: 4px solid #F5F5F9;
	padding:0.2rem 0.9rem; 
	position: relative;
}
.imgCell a{
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	vertical-align: middle;
	color: #333;
}
.imgCell a>img{
	line-height: 3rem;
	max-width: 3rem;
	height: 3rem;
	margin: 0 0.5rem 0 0.25rem;
}
.imgCell a>img+div{
	font-size: 0.5rem;
	text-indent: 0.25rem;
}
.grab{
	width: 4rem;
	height: 1.2rem;
	font-size: 0.75rem;
	text-align: center;
	line-height: 0.9rem;
	color: #fff;
	background-color: #428BCA;
	border-radius: 3px;
	margin-right: 0.9rem;
	position: absolute;
	bottom: 0.4rem;
	right: 0;
}
.ellipsis{
	color: #999;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/*图文列表*/
/*发布库图片样式*/
.nostorage{
	text-align: center;
	font-size: 1rem;
	margin-bottom: 0.5rem;	
}
.nostorage>img{	
	width: 7.075rem;
	height: 6.125rem;
}
.success{
	font-size: 0.8rem;
	margin: 1.5rem 0;
}
.nostorage .mybtn{
	display: inline-block;
	width: 4rem;
	padding: 0.3rem 0.8rem;
}
.nostorage .mybtn i{
	font-size: 1.0rem;
	margin: 0 0.3rem;
}
.toggle+.coldlist,.radiocar+.coldlist{
	margin-bottom: 0;
}
.maindetail{
	margin-top: 0;
}
/*发布冷运样式*/
.radiocar{
	display: table;
	table-layout: fixed;
	text-align: center;
	width: 100%;
	vertical-align: middle;
	margin: 0.3rem 0;
	background-color: #fff;
	padding: 0.5rem 0.9rem;
	box-sizing: border-box;
}
.radiocar button{
	width:90%;
}
.radiocar input{
	width: 0.8rem;
	height: 0.8rem;
}
.relate,.norelate{
	display: table-cell;
	font-size: 0.8rem;
}
/*map*/
#main{
	width: 90%;
	min-height: 15rem;
	margin: 0 auto;
}
.pic{
	display: inline-block;
	width: 3rem;
	height: 3rem;
	margin-top:0.3rem;
	border: 3px dotted #ccc;
	background: url(../img/plus.png) no-repeat center;
}
.pic+span{
	position:relative;
	font-size:0.8rem;
	color:#aaa;
	top:0.5rem;
}
.pic input{
	width: 0;
	height:0;
}
em{
	color: red;
	font-size: 0.8rem;
}
.newsList{
	padding-left: 0.5rem;
}
.newsList li{
	line-height: 1.5rem;
	list-style: circle;
	font-size: 0.8rem;
}
.text-warning{
	font-size:0.6rem;
	color:#8a6d3b;
}
.sorry{
    text-align: center;
    font-size: 0.7rem;
    margin: 0.5rem 0;
    padding:0 0.9rem;
}