<!DOCTYPE HTML>
<html>
<head>
    <title>海量冷库地图</title>
    <meta charset="utf-8" name="keywords" content="找冷库，上链库，出租、求租、出售、求购；冷链物流；冷库360,冷库监控,冷库智能管理,冷库能效评估；"/>
    <meta charset="utf-8" name="description" content="找冷库，上链库，链库是一个冷库智能管理与云服务平台。它拥有海量冷库数据资源与需求信息，针对冷库仓位，你可以在我们的平台出租、求租、出售和求购，
        让您在第一时间找到你需要的内容，为您提供最及时全面的信息。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="../img/favicon.ico" />
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/media.css" />
    <style type="text/css">
        html, body {
            margin: 0;
            width: 100%;
            height: 100%;
            background: #ffffff;
        }

        #map {
            width: 100%;
            height: 100%;
        }
        #r-result {
            position: fixed;
            top: 10%;
            right: 50%;
            margin-right: -20%;
            width: 40%;
            height: 40px;
            z-index: 20;
        }

        #r-result input {
            width: 100%;
            padding: 10px;
            border: 1px solid #d0d4da;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
    </style>
    <script type="text/javascript" src="../plugins/jquery-3.2.1.min.js"></script>
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=2.0&ak=PljdkOFpwmjpU00lFQhakTbjilGaH0or"></script>
    <script type="text/javascript"
            src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css"/>
</head>
<body>
<div class="header">
    <div class="hotLine">
        <h2 class="fl">冷库物联网大数据平台</h2>
        <div class="fr">
            <span>客服热线：<span class="orange">400-853-5606</span></span>
            <a href="#QRcode">
                APP下载<i class="iconfont orange">&#xe642;</i>
            </a>
        </div>
    </div>
    <div class="nav">
        <h1 class="fl"><a href="../../index.html" target="_blank"></a></h1>
        <ul id="noLoginUser" class="fr navLogin">
            <li><a href="../../login.html"><i class="iconfont">&#xe715;</i>&nbsp;登录</a></li>
            <li><a href="register.html"><i class="iconfont">&#xe60f;</i>&nbsp;注册</a></li>
        </ul>
        <div id="loginUser" class="fr">
            <div class="nameDiv">
                <img src="" onclick="window.location.href='usercenter.html'">
            </div>
            <dl class="hide">
                <li><a href="usercenter.html">个人中心</a></li>
                <li><a onclick="logout()">退出</a></li>
            </dl>
        </div>
        <ul class="fr navUl">
            <li><a href="../../index.html">首　　页</a></li>
            <li><a href="rdclist.html">冷库商情</a></li>
            <li><a href="standrdclist.html">达标冷库</a></li>
            <li><a href="rdcprice.html">冷库价格</a></li>
            <li><a href="rdcmatch.html">需求匹配</a></li>
            <li><a href="rdctrace.html">温度追溯</a></li>
            <li><a href="http://www.smartcold.org.cn/">冷库360</a></li>
            <li><a href="map.html">冷库地图</a></li>
        </ul>
    </div>
</div>
<div id="r-result">
    <input type="text" id="suggestId" size="20" placeholder="请输入冷库名称关键词"/>
</div>
<div id="searchResultPanel" style="border:1px solid #C0C0C0;width:296px;height:auto; display:none;"></div>
<div id="map"></div>
<script type="text/javascript">
    var map = undefined, defrdc = [], autrdc = [], temsrrdc = [];
    var options1 = {//达标冷库配置  //绿色
            size: BMAP_POINT_SIZE_BIG,
            shape: BMAP_POINT_SHAPE_CIRCLE,
            color: '#7FFF00'
        },
        options2 = {//认证冷库配置 //
            size: BMAP_POINT_SIZE_BIG,
            shape: BMAP_POINT_SHAPE_CIRCLE,
            color: '#00B2EE'
        }
        ,
        options3 = {//
            size: BMAP_POINT_SIZE_BIG,
            shape: BMAP_POINT_SHAPE_CIRCLE,
            color: '#8B8878'
        };

    function initdata() {
        $.ajax({
            type: "GET",
            url: "../../i/rdc/finRdcdMapData",
            data: {audit: null, istemperaturestandard: null},//
            success: function (data) {
                rdcdata = data;
                initMap();
            }
        });
    }

    function initMap() {
        map = new BMap.Map("map", {});                        // 创建Map实例
        map.centerAndZoom(new BMap.Point(105.000, 38.000), 5);     // 初始化地图,设置中心点坐标和地图级别
        map.enableScrollWheelZoom();                        //启用滚轮放大缩小
        if (document.createElement('canvas').getContext) {  // 判断当前浏览器是否支持绘制海量点
            allrdc();
        } else {
            alert('请在chrome、safari、IE8+以上浏览器查看本示例');
        }
    }

    function allrdc() {
        var point = undefined;  // 添加海量点数据
        for (var i = 0; i < rdcdata.length; i++) {
            rdc = rdcdata[i];
            point = new BMap.Point(rdc.x, rdc.y);
            rdc.url = rdc.url ? 'http://139.196.189.93:8089/' + rdc.url : 'http://139.196.189.93:8089/app/rdcHeader.jpg';
            point.data = rdc;
            if (rdc.db == 1) {
                point.msg = '达标冷库';
                temsrrdc.push(point);
            } else if (rdc.audit == 1) {
                point.msg = '已认证';
                autrdc.push(point);
            } else {
                point.msg = '未认证';
                defrdc.push(point);
            }
            ;
        }
        var pointCollection = new BMap.PointCollection(defrdc, options3);  // 初始化PointCollection--其他冷库
        pointCollection.addEventListener('click', function (e) {
            showrdcinfo(e.point);
        });
        map.addOverlay(pointCollection);  // 添加Overlay

        pointCollection = new BMap.PointCollection(autrdc, options2);  // 初始化PointCollection--认证冷库
        pointCollection.addEventListener('click', function (e) {
            showrdcinfo(e.point);
        });
        map.addOverlay(pointCollection);  // 添加Overlay

        pointCollection = new BMap.PointCollection(temsrrdc, options1);  // 初始化PointCollection--达标冷库
        pointCollection.addEventListener('click', function (e) {
            showrdcinfo(e.point);
        });
        map.addOverlay(pointCollection);  // 添加Overlay mouseover

    }

    function showrdcinfo(point) {
        var content = ['<div style="margin:0;line-height:20px;padding:2px;">',
            '<img src="', point.data.url, '"  style="float:right;zoom:1;overflow:hidden;width:100px;height:100px;margin-left:3px;"/>',
            '地址：', point.data.ad, '</br>', '状态：', point.msg, '</br>', ' <a href="rdcinfo.html?rdcId=', point.data.id, '">查看详情</a>',
            '</div>'].join('');
        var searchInfoWindow = null;
        searchInfoWindow = new BMapLib.SearchInfoWindow(map, content, {
            title: point.data.name,      //标题
            width: 290,             //宽度
            height: 105,              //高度
            panel: "panel",         //检索结果面板
            enableAutoPan: true,     //自动平移
            searchTypes: [
                BMAPLIB_TAB_SEARCH,   //周边检索
                BMAPLIB_TAB_TO_HERE,  //到这里去
                BMAPLIB_TAB_FROM_HERE //从这里出发
            ]
        });
        searchInfoWindow.open(point);
    }

    function search() {
        var keyword = document.getElementById("keyword").value;
        var local = new BMap.LocalSearch(map, {
            renderOptions: {map: map}
        });
        local.search(keyword);
    }
    initdata();

    //搜索事件 ********************************************************************************
    function G(id) {
        return document.getElementById(id);
    }

    // 初始化地图,设置城市和地图级别。

    var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
        {
            "input": "suggestId"
            , "location": map
        });

    ac.addEventListener("onhighlight", function (e) {  //鼠标放在下拉列表上的事件
        var str = "";
        var _value = e.fromitem.value;
        var value = "";
        if (e.fromitem.index > -1) {
            value = _value.province + _value.city + _value.district + _value.street + _value.business;
        }
        str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

        value = "";
        if (e.toitem.index > -1) {
            _value = e.toitem.value;
            value = _value.province + _value.city + _value.district + _value.street + _value.business;
        }
        str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
        G("searchResultPanel").innerHTML = str;
    });

    var myValue;
    ac.addEventListener("onconfirm", function (e) {    //鼠标点击下拉列表后的事件
        var _value = e.item.value;
        myValue = _value.province + _value.city + _value.district + _value.street + _value.business;
        G("searchResultPanel").innerHTML = "onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;

        setPlace();
    });

    function setPlace() {
        //map.clearOverlays();    //清除地图上所有覆盖物
        function myFun() {
            var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
            map.centerAndZoom(pp, 18);
            map.addOverlay(new BMap.Marker(pp));    //添加标注
        }

        var local = new BMap.LocalSearch(map, { //智能搜索
            onSearchComplete: myFun
        });
        local.search(myValue);
    }


</script>
</body>
</html>

