<!DOCTYPE HTML>
<html>
<head>
  <title>加载海量点</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <style type="text/css">
    html,body{
        margin:0;
        width:100%;
        height:100%;
        background:#ffffff;
    }
    #map{
        width:100%;
        height:100%;
    }
    #panel {
        position: absolute;
        top:30px;
        left:10px;
        z-index: 999;
        color: #fff;
    }
    #login{
        position:absolute;
        width:300px;
        height:40px;
        left:50%;
        top:50%;
        margin:-40px 0 0 -150px;
    }
    #login input[type=password]{
        width:200px;
        height:30px;
        padding:3px;
        line-height:30px;
        border:1px solid #000;
    }
    #login input[type=submit]{
        width:80px;
        height:38px;
        display:inline-block;
        line-height:38px;
    }
  </style>
  <script src="../plugins/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=PljdkOFpwmjpU00lFQhakTbjilGaH0or"></script>
  	<script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
	<link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
<!--   <script type="text/javascript" src="http://lbsyun.baidu.com/jsdemo/data/points-sample-data.js"></script> -->
</head>
<body>
   <div id="map"></div>
       <div id="content" class="content">
        <input type="text" value="" id="keyword" />
        <input type="button" name="" id="" value="查询" onclick="search()" />
        <div style="width:600px;height:500px;border:0px solid gray" id="container"></div>
       
    </div>
    <script type="text/javascript">
     var map=undefined ,
     defrdc=[], autrdc=[],temsrrdc=[] ;
     var options1 = {//达标冷库配置  //绿色
           size: BMAP_POINT_SIZE_BIG,
           shape: BMAP_POINT_SHAPE_STAR,
           color: 'Green'
       },
       options2 = {//认证冷库配置 //
               size: BMAP_POINT_SIZE_BIG,
               shape: BMAP_POINT_SHAPE_STAR,
               color: '#CD00CD'
           }
     ,
     options3 = {//
             size: BMAP_POINT_SIZE_BIG,
             shape: BMAP_POINT_SHAPE_STAR,
             color: '#76EE00'
         }
     , options = {
               fillStyle: 'rgba(255, 50, 50, 0.6)',
               shadowColor: 'rgba(255, 50, 50, 1)',
               shadowBlur: 100,
               globalCompositeOperation: 'lighter',
               methods: {
                   click: function (item) {
                       console.log(item);
                   }
               },
               size: 100,
               draw: 'simple'
           };
    
    
    function initdata(){
    	 $.ajax({
             type: "GET",
             url:"../../i/rdc/finRdcdMapData",
             data:{audit:null,istemperaturestandard:null},//
             success: function(data) {
            	 rdcdata=data;
            	 initMap();
             }
         });
      }
    
    function initMap(){
            map = new BMap.Map("map", {});                        // 创建Map实例
    	    map.centerAndZoom(new BMap.Point(105.000, 38.000), 5);     // 初始化地图,设置中心点坐标和地图级别
    	    map.enableScrollWheelZoom();                        //启用滚轮放大缩小
    	    //添加缩略图控件
            map.addControl(new BMap.OverviewMapControl({isOpen:false,anchor:BMAP_ANCHOR_BOTTOM_RIGHT}));
            //添加缩放平移控件
            map.addControl(new BMap.NavigationControl());
            //添加比例尺控件
            map.addControl(new BMap.ScaleControl());
    	    if (document.createElement('canvas').getContext) {  // 判断当前浏览器是否支持绘制海量点
    	    	allrdc();
    	    } else {
    	        alert('请在chrome、safari、IE8+以上浏览器查看本示例');
    	    }
    }
    
    function allrdc(){
    	   var point=undefined;  // 添加海量点数据
	        for (var i = 0; i <rdcdata.length; i++) {
	        	rdc=rdcdata[i];
	        	point=new BMap.Point(rdc.x, rdc.y);
	        	rdc.url=rdc.url?'http://139.196.189.93:8089/'+rdc.url:'http://139.196.189.93:8089/app/rdcHeader.jpg';
	        	point.data=rdc;
	        	if(rdc.db==1){
	        		point.msg='达标冷库';
	        		temsrrdc.push(point);
	        	}else if(rdc.audit==1){
	        		point.msg='已认证';
	        		autrdc.push(point);
	        	}else{
	        		point.msg='未认证';
	        		defrdc.push(point);
	        	};
	        }
	        var pointCollection = new BMap.PointCollection(temsrrdc, options1);  // 初始化PointCollection--达标冷库
	        pointCollection.addEventListener('mouseover', function (e) {showrdcinfo(e.point);});
	        map.addOverlay(pointCollection);  // 添加Overlay
	        pointCollection = new BMap.PointCollection(autrdc, options2);  // 初始化PointCollection--认证冷库
	        pointCollection.addEventListener('mouseover', function (e) {showrdcinfo(e.point);});
	        map.addOverlay(pointCollection);  // 添加Overlay
	        pointCollection = new BMap.PointCollection(defrdc, options3);  // 初始化PointCollection--其他冷库
	        pointCollection.addEventListener('mouseover', function (e) {showrdcinfo(e.point);});
	        map.addOverlay(pointCollection);  // 添加Overlay
    }
    
    function showrdcinfo(point){
    	   var content = ['<div style="margin:0;line-height:20px;padding:2px;">' ,
    	                    '<img src="',point.data.url,'"  style="float:right;zoom:1;overflow:hidden;width:100px;height:100px;margin-left:3px;"/>' ,
    	                    '地址：',point.data.ad ,'</br>','状态：',point.msg,
    	                  '</div>'].join('');
    	    var searchInfoWindow = null;
    	    searchInfoWindow = new BMapLib.SearchInfoWindow(map, content, {
    	    	title  : point.data.name,      //标题
    	    	width  : 290,             //宽度
    			height : 105,              //高度
    			panel  : "panel",         //检索结果面板
    			enableAutoPan : true,     //自动平移
    			searchTypes   :[
    							BMAPLIB_TAB_SEARCH,   //周边检索
    							BMAPLIB_TAB_TO_HERE,  //到这里去
    							BMAPLIB_TAB_FROM_HERE //从这里出发
    						]
    	    });
    	    searchInfoWindow.open(point);
    }
    
    function search(){
        var keyword = document.getElementById("keyword").value;
        var local = new BMap.LocalSearch(map, {
        renderOptions:{map: map}
     });
      local.search(keyword);
    }
    
    
    initdata();
    
    
    
    
    
   
  </script>
</body>
</html>

