<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id="pageTitle">链库-添加冷库</title>
    <meta charset="utf-8" name="keywords" content="找冷库，上链库，出租、求租、出售、求购；冷链物流；冷库360,冷库监控,冷库智能管理,冷库能效评估；"/>
    <meta charset="utf-8" name="description" content="找冷库，上链库，链库是一个冷库智能管理与云服务平台。它拥有海量冷库数据资源与需求信息，针对冷库仓位，你可以在我们的平台出租、求租、出售和求购，
        让您在第一时间找到你需要的内容，为您提供最及时全面的信息。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="../img/favicon.ico" />
    <!--引入样式包-->
    <link rel="stylesheet" href="../plugins/css/layui.css"/>
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/rdcinfo.css" />
    <link rel="stylesheet" href="../css/media.css" />
</head>
<body>
<!--=============================header 导航栏========================-->
<div class="header">
    <div class="hotLine">
        <h2 class="fl">全国最大的冷库数据与交易平台</h2>
        <div class="fr">
            <span>客服热线：<span class="orange">400-853-5606</span></span>
            <a href="#QRcode">
                APP下载<i class="iconfont orange">&#xe642;</i>
            </a>
        </div>
    </div>
    <div class="nav">
        <h1 class="fl"><a href="liankur.com">找冷库&nbsp;&nbsp;上链库</a></h1>
        <ul id="noLoginUser" class="fr navLogin">
            <li><a href="login.html"><i class="iconfont">&#xe715;</i>&nbsp;登录</a></li>
            <li><a href="register.html"><i class="iconfont">&#xe60f;</i>&nbsp;注册</a></li>
        </ul>
        <div id="loginUser" class="fr">
            <div class="nameDiv">
                <img src="" onclick="window.location.href='usercenter.html'">
            </div>
            <dl class="hide">
                <li><a href="usercenter.html">个人中心</a></li>
                <li><a onclick="logout()">退出</a></li>
            </dl>
        </div>
        <ul class="fr navUl">
            <li><a href="../../index.htm">首　　页</a></li>
            <li><a href="rdclist.html">冷库商情</a></li>
            <li><a href="rdcprice.html">冷库价格</a></li>
            <li><a href="rdcmatch.html">需求匹配</a></li>
            <li><a href="rdctrace.html">温度追溯</a></li>
            <li><a href="http://www.smartcold.org.cn/">冷库360</a></li>
            <li><a href="rdccooperation.html">企业专区</a></li>
        </ul>
    </div>
</div>
<div class="section rdcAdd">
    <form id="submitRdc" onsubmit="return false">
        <table>
            <caption id="submitTitle">添加冷库 (带*为必填项)</caption>
            <tbody>
            <tr>
                <td>名称：<b class="blue">*</b></td>
                <td><input type="text" name="name" id="name" placeholder="请输入冷库名称" ></td>
            </tr>
            <tr>
                <td>省：<b class="blue">*</b></td>
                <td>
                    <select name="provinceId" id="provinceId"  name="province" id="province">
                    </select>
                </td>
            </tr>
            <tr>
                <td>市：<b class="blue">*</b></td>
                <td>
                    <select  name="cityId" id="cityId">
                    </select>
                </td>
            </tr>
            <tr>
                <td>地理位置：<b class="blue">*</b></td>
                <td><input name="address" id="address" type="text" placeholder="请输入冷库地址" ></td>
            </tr>
            <tr>
                <td>总面积：<b class="blue">*</b></td>
                <td><input name="area" id="area" type="number" step="0.01" placeholder="请输入冷库面积(只能输数字)/㎡" ></td>
            </tr>
            <tr>
                <td>可出租面积：<b class="blue">*</b></td>
                <td><input name="rentSqm" type="number" step="0.01" placeholder="请输入冷库可出租面积(只能输数字)/㎡,没有填写0" ></td>
            </tr>
            <tr>
                <td>冷库净高：<b class="blue">*</b></td>
                <td><input name="height" id="rdcHeight" step="0.01" type="number" placeholder="请输入冷库净高(只能输数字)/m" ></td>
            </tr>
            <tr>
                <td>经营类型：<b class="blue">*</b></td>
                <td>
                    <select name="manageType" id="manageType" >

                    </select>
                </td>
            </tr>
            <tr>
                <td>商品存放类型：<b class="blue">*</b></td>
                <td>
                    <select name="storageType" id="storageType" >

                    </select>
                </td>
            </tr>
            <tr>
                <td>温度类型：<b class="blue">*</b></td>
                <td>
                    <select name="temperType" id="temperType"  placeholder="可多选" >

                    </select>
                </td>
            </tr>
            <!--上传图片-->
            <tr>
                <td>冷库图片：<b class="blue">*</b></td>
                <td class="rdcImg">
                    <a href="javascript:;" class="ofile"><input onchange="storagePicChange(this)" type="file" id="storageFile" accept="image/gif, image/bmp, image/jpg, image/jpeg, image/png" multiple>上传图片</a>
                    <span>最多五张(上传3-5张实体图片，且不能一张图片重复上传，图片每张小于10M)</span>
                </td>
            </tr>
            <tr class="imgTd">
                <td colspan="2">
                    <ul class="clearfix" id="storagePics">
                    </ul>
                </td>
            </tr>
            <tr>
                <td>冷链委温度达标冷库：<b class="blue">*</b></td>
                <td class="rdcImg">
                    <div id="tempStandDiv">
                        <label><input value="1" type="radio" name="isJoinStand">是</label>
                        <label><input value="2" type="radio" onclick="delstandard()"  name="isJoinStand">愿意申报</label>
                        <label><input value="3" type="radio" onclick="delstandard()" name="isJoinStand">否</label>
                    </div>
                <div id="successStand" style="display: none">
                    <label class="orange ng-scope">已通过</label>
                </div>
                <div id="StandAuditing" style="display: none">
                    <label class="orange ng-scope">审核中</label>
                </div>
                    <ul id="tempStandUl">
                        <li class="hide" id="li1">
                            <a href="javascript:;" class="ofile"><input id="storageStandPic" type="file" accept="image/gif, image/bmp, image/jpg, image/jpeg, image/png" onchange="standPicChange(this)">上传图片</a>
                            <span>请上传温度达标冷库认证铜牌或证书，小于10M</span>
                        </li>
                        <li class="hide" id="li2">
                            <span>请拨打010-88120448 或者400-1234567 申报</span>
                        </li>
                    </ul>
                    <div>
                        <span>是否愿意公开冷库温度曲线</span>
                        <label><input value="1" type="radio" name="openLIne">是</label>
                        <label><input value="2" type="radio" name="openLIne">否</label>
                    </div>
                </td>
            </tr>
            <tr class="imgTd">
                <td colspan="2">
                    <ul class="clearfix" id="standardPic">
                    </ul>
                </td>
            </tr>
            <!--上传图片end-->
            <tr>
                <td>联系电话：<b class="blue">*</b></td>
                <td><input type="tel" placeholder="请输入联系电话" name="phoneNum" id="phoneNum"></td>
            </tr>
            <tr><td colspan="2"><div class="oBtn moreBtn">更多信息+</div></td></tr>
            </tbody>
            <!--以上为必填项====================================================================-->
            <!--以下非必填======================================================================-->
            <tbody class="moreInfo hide">
            <tr>
                <td>冷藏车数量：</td>
                <td class="oTd">
                          <div class="oInline"><span class="compare"><1.8T</span><input name="coldTruck1" id="coldTruck1" step="1" type="number"><span class="oUnit">辆</span>
                    </div><div class="oInline"><span class="compare">1.8~6T</span><input name="coldTruck2" id="coldTruck2" step="1" type="number"><span class="oUnit">辆</span>
                    </div><div class="oInline"><span class="compare">6~14T</span><input name="coldTruck3" id="coldTruck3" step="1" type="number"><span class="oUnit">辆</span>
                    </div><div class="oInline"><span class="compare"><14T</span><input name="coldTruck4" id="coldTruck4" step="1" type="number"><span class="oUnit">辆</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>备注：</td>
                <td>
                    <textarea placeholder="备注" name="remark" id="remark"></textarea>
                </td>
            </tr>
            <tr>
                <td>建筑结构：</td>
                <td>
                    <select name="structure" id="structure">

                    </select>
                </td>
            </tr>
            <tr>
                <td>有无封闭月台：</td>
                <td>
                    <select name="platform" id="platform">
                        <option value="0"></option>
                        <option value="1">有</option>
                        <option value="2">无</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>有无理货区：</td>
                <td>
                    <select name="lihuoRoom" id="lihuoRoom">
                        <option value="0"></option>
                        <option value="1">有</option>
                        <option value="2">无</option>
                    </select>
                </td>
            </tr>
            <tr id="lihuoAreaTr" style="display: none">
                <td>理货区面积：</td>
                <td>
                    <input name="lihuoArea" id="lihuoArea" type="number" placeholder="请输入冷库面积(只能输数字)/㎡">
                </td>
            </tr>
            <tr>
                <td>理货区有无温控：</td>
                <td>
                    <select name="lihuoTemperCtr" id="lihuoTemperCtr">
                        <option value="0"></option>
                        <option value="1">有</option>
                        <option value="2">无</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>制冷剂类型：</td>
                <td>
                    <select name="storageRefreg" id="storageRefreg">

                    </select>
                </td>
            </tr>
            <tr>
                <td>有无温度记录：</td>
                <td>
                    <select name="temperRecord" id="temperRecord">
                        <option value="0"></option>
                        <option value="1">有</option>
                        <option value="2">无</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>周边设施：</td>
                <td>
                    <textarea placeholder="周边设施" name="facility" id="facility"></textarea>
                </td>
            </tr>
            <tr>
                <td>冷库容积：</td>
                <td class="oTd oC">
                      <div class="oInline"><span class="compare">8~25℃</span><input type="number" step="0.01" name="capacity1" id="capacity1"><span class="oUnit">面积/㎡</span><input type="number" step="0.01" name="height1" id="height1"><span class="oUnit">高/m</span>
                </div><div class="oInline"><span class="compare">2~8℃</span><input type="number" step="0.01" name="capacity2" id="capacity2"><span class="oUnit">面积/㎡</span><input type="number" step="0.01" name="height2" id="height2"><span class="oUnit">高/m</span>
                </div><div class="oInline"><span class="compare">-2~-18℃</span><input type="number" step="0.01" name="capacity3" id="capacity3"><span class="oUnit">面积/㎡</span><input type="number" step="0.01" name="height3" id="height3"><span class="oUnit">高/m</span>
                </div><div class="oInline"><span class="compare">-18~-30℃</span><input type="number" step="0.01" name="capacity4" id="capacity4"><span class="oUnit">面积/㎡</span><input type="number" step="0.01" name="height4" id="height4"><span class="oUnit">高/m</span>
                </div><div class="oInline"><span class="compare"><-50℃</span><input type="number" step="0.01" name="capacity5" id="capacity5"><span class="oUnit">面积/㎡</span><input type="number" step="0.01" name="height5" id="height5"><span class="oUnit">高/m</span>
                </div>
                </td>
            </tr>
            <tr >
                <td>冷库认证：</td>
                <td class="rdcImg" id="coldAudit">
                    <a href="javascript:;" class="ofile"><input type="file" accept="image/gif, image/bmp, image/jpg, image/jpeg, image/png" id="authPic" onchange="auditPicChange(this)">上传图片</a>
                    <span>请上传企业营业执照图片，小于10M</span>
                    <p class="blue">冷库认证通过之后，将显示绿色盾牌标识，提高信任度和搜索排名</p>
                </td>
                <td id="successCold" style="display: none">
                    <label class="orange ng-scope">已通过</label>
                </td>
                <td id="coldAuditing" style="display: none">
                    <label class="orange ng-scope">审核中</label>
                </td>
            </tr>
            <tr class="imgTd">
                <td colspan="2">
                    <ul class="clearfix" id="auditPic">

                    </ul>
                </td>
            </tr>
            <tr>
                <td>资质荣誉图：</td>
                <td class="rdcImg">
                    <a href="javascript:;" class="ofile"><input type="file" accept="image/gif, image/bmp, image/jpg, image/jpeg, image/png" id="honorFile" onchange="honorPicChange(this)" multiple>上传图片</a>
                    <span>最多八张(每张小于10M)</span>
                </td>
            </tr>
            <tr class="imgTd">
                <td colspan="2">
                    <ul class="clearfix" id="honorPics">

                    </ul>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr id="submitButton"><td colspan="2"><button class="oBtn" onclick="addColdSubmit()">提交</button></td></tr>
            </tfoot>
        </table>
    </form>

</div>
<!--===========================版权区域===============================-->
<div class="footer" id="QRcode">
    <dl class="clearfix">
        <li class="fl">
            <p>©2016 Smartcold    沪ICP备 16004753</p>
            <p>为了您可以获取更佳的浏览效果</p>
            <p>本站推荐使用
                <a href="http://sw.bos.baidu.com/sw-search-sp/software/ba34c905dbdd4/ChromeStandalone_57.0.2987.98_Setup.exe">谷歌浏览器
                </a>、<a href="http://sw.bos.baidu.com/sw-search-sp/software/4cee66da4242e/Firefox_52.0.1.6284_setup.exe">火狐浏览器
                </a>或者<a href="http://down.360safe.com/se/360se8.1.1.250.exe">360浏览器极速模式</a>
            </p>
        </li>
        <li class="fr">
            <div class="codeImg">
                <img src="../img/ios.png" alt="开小差了~~~">
                <p>iPhone下载</p>
            </div>
            <div class="codeImg">

                <img src="../img/android.png" alt="开小差了~~~">
                <p>Android下载</p>
            </div>
            <div class="codeImg">
                <img src="../img/weixin_lianku.jpg" alt="开小差了~~~">
                <p>链库公众号</p>
            </div>
        </li>
    </dl>
</div>
<script src="../plugins/jquery-1.12.0.min.js"></script>
<script src="../plugins/layui.all.js"></script>
<script src="../plugins/bannerFocus/foucs.js"></script>
<script src="../js/common.js"></script>
<script src="../js/rdcaddcold.js"></script>
</body>
</html>