<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>链库-冷库商情</title>
    <meta charset="utf-8" name="keywords" content="链库,冷链物流,冷库360,冷库监控,冷库智能管理,冷库能效评估"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="../img/favicon.ico" />
    <!--引入样式包-->
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../plugins/bannerFocus/foucs.css" />
    <link rel="stylesheet" href="../css/rdcinfo.css" />
    <link rel="stylesheet" href="../css/media.css" />
</head>
<body>
<!--header 导航栏-->
<div class="header">
    <div class="hotLine">
        <h2 class="fl">全国最大的冷库数据与交易平台</h2>
        <div class="fr">
            <span>客服热线：<span class="orange">400-853-5606</span></span>
            <a href="#QRcode">
                APP下载<i class="iconfont orange">&#xe642;</i>
            </a>
        </div>
    </div>
    <div class="nav">
        <h1 class="fl"><a href="liankur.com">找冷库&nbsp;&nbsp;上链库</a></h1>
        <ul id="noLoginUser" class="fr navLogin">
            <li><a href="javascript:;"><i class="iconfont">&#xe715;</i>&nbsp;登录</a></li>
            <li><a href="javascript:;"><i class="iconfont">&#xe60f;</i>&nbsp;注册</a></li>
        </ul>
        <div id="loginUser" class="fr navLogin">
            <div class="nameDiv">
                <img src="">
            </div>
            <dl class="hide">
                <li><a href="javascript:;">个人中心</a></li>
                <li><a href="javascript:;">退出</a></li>
            </dl>
        </div>
        <div class="navSmall fr"><!--小屏幕显示-->
            <span><i class="iconfont">&#xe62d;</i></span>
            <ul class="navUlList">
                <li><a href="../../index.htm">首　　页</a></li>
                <li><a href="rdclist.html">冷库商情</a></li>
                <li><a href="javascript:;">冷库价格</a></li>
                <li><a href="javascript:;">需求匹配</a></li>
                <li><a href="javascript:;">温度追溯</a></li>
                <li><a href="javascript:;">冷库360</a></li>
                <li><a href="javascript:;">企业专区</a></li>
            </ul>
        </div>
        <ul class="fr navUl">
            <li><a href="../../index.htm">首页</a></li>
            <li><a href="rdclist.html">冷库商情</a></li>
            <li><a href="javascript:;">冷库价格</a></li>
            <li><a href="javascript:;">需求匹配</a></li>
            <li><a href="javascript:;">温度追溯</a></li>
            <li><a href="javascript:;">冷库360</a></li>
            <li><a href="javascript:;">企业专区</a></li>
        </ul>
    </div>
</div>
<div class="section clearfix rdcInfo">
    <div class="rdcInfoLeft">
        <div class="mod_focus_show" id="divimgplay">
            <ul class="mod_focus_pic" id="divimginfog_imgPlayer">
                <li><a href="javascript:;" target="_blank">
                    <img src="images/b01.jpg" alt="" width="700" height="320"/></a></li>
                <li><a href="javascript:;" target="_blank">
                    <img src="images/b02.jpg" alt="" width="700" height="320"/></a></li>
                <li><a href="javascript:;" target="_blank">
                    <img src="images/b03.jpg" alt="" width="700" height="320"/></a></li>
                <li><a href="javascript:;" target="_blank">
                    <img src="images/b04.jpg" alt="" width="700" height="320"/></a></li>
                <li><a href="javascript:;" target="_blank">
                    <img src="images/b05.jpg" alt="" width="700" height="320"/></a></li>
                <li><a href="javascript:;" target="_blank">
                    <img src="images/b06.jpg" alt="" width="700" height="320"/></a></li>
                <li><a href="javascript:;" target="_blank">
                    <img src="images/b07.jpg" alt="" width="700" height="320"/></a></li>
                <li><a href="javascript:;" target="_blank">
                    <img src="images/b08.jpg" alt="" width="700" height="320"/></a></li>
            </ul>
            <ul class="mod_focus_title hide" id="ptitleg_imgPlayer">
                <li class="current">
                    <h3><a href="javascript:;" target="_blank"></a></h3>
                    <p></p>
                </li>
            </ul>
            <div class="focus_switch">
                <a href="javascript:;" class="icon_prev"></a>
                <a href="javascript:;" class="icon_next"></a>
            </div>
            <ul class="mod_focus_list" id="divpageinfog_imgPlayer">
                <li class="current"><a href="javascript:;" target="_blank">
                    <img src="images/small01.jpg"/><span
                        class="border"></span><span class="mask"></span></a></li>
                <li><a href="javascript:;" target="_blank">
                    <img src="images/small02.jpg"/><span
                        class="border"></span><span class="mask"></span></a></li>
                <li><a href="javascript:;" target="_blank">
                    <img src="images/small03.jpg"/><span
                        class="border"></span><span class="mask"></span></a></li>
                <li><a href="javascript:;" target="_blank">
                    <img src="images/small04.jpg"/><span
                        class="border"></span><span class="mask"></span></a></li>
                <li><a href="javascript:;" target="_blank">
                    <img src="images/small05.jpg"/><span
                        class="border"></span><span class="mask"></span></a></li>
                <li><a href="javascript:;" target="_blank">
                    <img src="images/small06.jpg"/><span
                        class="border"></span><span class="mask"></span></a></li>
                <li><a href="javascript:;" target="_blank">
                    <img src="images/small07.jpg"/><span
                        class="border"></span><span class="mask"></span></a></li>
                <li><a href="javascript:;" target="_blank">
                    <img src="images/small08.jpg"/><span
                        class="border"></span><span class="mask"></span></a></li>
            </ul>
        </div>

    </div>
    <div class="rdcInfoRight">
        <h2><b class="blue">国药控股福州物流有限公司</b><b class="approve"><i class="iconfont">&#xe6ac;</i>已认证</b></h2>
        <table>
            <tr>
                <td>信息完整度</td>
                <td>72%</td>
            </tr>
            <tr>
                <td>地址</td>
                <td>上海市长宁区天山路600号捷运大厦11楼d座研发部办公室最近有点忙，这个段落太长了</td>
            </tr>
            <tr>
                <td>价格</td>
                <td>面议</td>
            </tr>
            <tr>
                <td>总面积/空置面积</td>
                <td>22500㎡/6500㎡</td>
            </tr>
            <tr>
                <td>联系电话</td>
                <td class="orange">
                    <b>15256001236</b>
                    <i class="blue">企业</i>
                </td>
            </tr>
            <tr>
                <td>实时温度</td>
                <td class="blue">-16℃</td>
            </tr>
            <tr>
                <td colspan="2">
                    <button class="oBtn">预约订库</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="rdcCode">
        <img src="../img/weixin_lianku.jpg" alt="">
        <p>扫一扫</p>
        <p class="orange">分享给好友</p>
    </div>
</div>
<div class="section rdcInfoTxt">
    <table>
        <caption>仓库信息</caption>
        <tbody>
            <tr>
                <td>
                    <span>仓库类型：</span>
                    医药型
                </td>
                <td>
                    <span>建筑面积：</span>
                    医药型
                </td>
            </tr>
            <tr>
                <td>
                    <span>仓库类型：</span>
                    医药型
                </td>
                <td>
                    <span>建筑面积：</span>
                    医药型
                </td>
            </tr>
            <tr>
                <td>
                    <span>仓库类型：</span>
                    医药型
                </td>
                <td>
                    <span>建筑面积：</span>
                    医药型
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!--版权区域-->
<div class="footer" id="QRcode">
    <dl class="clearfix">
        <li class="fl">
            <p>©2016 Smartcold    沪ICP备 16004753</p>
            <p>为了您可以获取更佳的浏览效果</p>
            <p>本站推荐使用
                <a href="http://sw.bos.baidu.com/sw-search-sp/software/ba34c905dbdd4/ChromeStandalone_57.0.2987.98_Setup.exe">谷歌浏览器
                </a>、<a href="http://sw.bos.baidu.com/sw-search-sp/software/4cee66da4242e/Firefox_52.0.1.6284_setup.exe">火狐浏览器
                </a>或者<a href="http://down.360safe.com/se/360se8.1.1.250.exe">360浏览器极速模式</a>
            </p>
        </li>
        <li class="fr">
            <div class="codeImg">
                <img src="../img/ios.png" alt="开小差了~~~">
                <p>iPhone下载</p>
            </div>
            <div class="codeImg">

                <img src="../img/android.png" alt="开小差了~~~">
                <p>Android下载</p>
            </div>
            <div class="codeImg">
                <img src="../img/weixin_lianku.jpg" alt="开小差了~~~">
                <p>链库公众号</p>
            </div>
        </li>
    </dl>
</div>
<script src="../plugins/jquery-1.12.0.min.js"></script>
<script src="../plugins/bannerFocus/foucs.js"></script>
<script src="../js/common.js"></script>
<script src="../js/rdcinfo.js"></script>
</body>
</html>