<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>链库-冷库详情</title>
    <meta charset="utf-8" name="keywords" content="找冷库，上链库，出租、求租、出售、求购；冷链物流；冷库360,冷库监控,冷库智能管理,冷库能效评估；"/>
    <meta charset="utf-8" name="description" content="找冷库，上链库，链库是一个冷库智能管理与云服务平台。它拥有海量冷库数据资源与需求信息，针对冷库仓位，你可以在我们的平台出租、求租、出售和求购，
        让您在第一时间找到你需要的内容，为您提供最及时全面的信息。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="../img/favicon.ico" />
    <!--引入样式包-->
    <link rel="stylesheet" href="../plugins/css/layui.css"/>
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../plugins/bannerFocus/foucs.css" />
    <link rel="stylesheet" href="../css/rdcinfo.css" />
    <link rel="stylesheet" href="../css/media.css" />
</head>
<body>
<!--header 导航栏-->
<div class="header">
    <div class="hotLine">
        <h2 class="fl">冷库物联网大数据平台</h2>
        <div class="fr">
            <span>客服热线：<span class="orange">400-853-5606</span></span>
            <a href="#QRcode">
                APP下载<i class="iconfont orange">&#xe642;</i>
            </a>
        </div>
    </div>
    <div class="nav">
        <h1 class="fl"><a href="../../index.html" target="_blank"></a></h1>
        <ul id="noLoginUser" class="fr navLogin">
            <li><a href="../../login.html"><i class="iconfont">&#xe715;</i>&nbsp;登录</a></li>
            <li><a href="register.html"><i class="iconfont">&#xe60f;</i>&nbsp;注册</a></li>
        </ul>
        <div id="loginUser" class="fr">
            <div class="nameDiv">
                <img src="" onclick="window.location.href='usercenter.html'">
            </div>
            <dl class="hide">
                <li><a href="usercenter.html">个人中心</a></li>
                <li><a onclick="logout()">退出</a></li>
            </dl>
        </div>
        <ul class="fr navUl">
            <li><a href="../../index.html">首　　页</a></li>
            <li><a href="rdclist.html">冷库商情</a></li>
            <li><a href="standrdclist.html">达标冷库</a></li>
            <li><a href="rdcprice.html">冷库价格</a></li>
            <li><a href="rdcmatch.html">需求匹配</a></li>
            <li><a href="rdctrace.html">温度追溯</a></li>
            <li><a href="http://www.smartcold.org.cn/">冷库360</a></li>
        </ul>
    </div>
</div>
<div class="section clearfix rdcInfo">
    <div class="rdcInfoLeft">
        <div class="mod_focus_show" id="divimgplay">
            <ul class="mod_focus_pic layer-photos-demo" id="divimginfog_imgPlayer">

            </ul>
            <ul class="mod_focus_title hide" id="ptitleg_imgPlayer">
                <li class="current">
                    <h3><a href="javascript:;" target="_blank"></a></h3>
                    <p></p>
                </li>
            </ul>
            <div class="focus_switch">
                <a href="javascript:;" class="icon_prev"></a>
                <a href="javascript:;" class="icon_next"></a>
            </div>
            <ul class="mod_focus_list" id="divpageinfog_imgPlayer">

            </ul>
        </div>

    </div>
    <div class="rdcInfoRight" id="baseInfo"></div>
    <div class="rdcCode">
        <div id="qrcode"></div>
        <p>扫一扫</p>
        <p class="orange">分享给好友</p>
    </div>
</div>
<div class="section rdcInfoTxt" id="otherInfo"></div>
<!--版权区域-->
<div class="footer" id="QRcode">
    <dl class="clearfix">
        <li class="fl">
            <p><a href="aboutlianku.html">关于我们</a></p>
            <p>©2016 Smartcold    沪ICP备 16004753</p>
            <p>为了您可以获取更佳的浏览效果</p>
            <p>本站推荐使用
                <a href="http://sw.bos.baidu.com/sw-search-sp/software/ba34c905dbdd4/ChromeStandalone_57.0.2987.98_Setup.exe">谷歌浏览器
                </a>、<a href="http://sw.bos.baidu.com/sw-search-sp/software/4cee66da4242e/Firefox_52.0.1.6284_setup.exe">火狐浏览器
                </a>或者<a href="http://down.360safe.com/se/360se8.1.1.250.exe">360浏览器极速模式</a>
            </p>
        </li>
        <li class="fr">
            <div class="codeImg">
                <img src="../img/ios.png" alt="开小差了~~~">
                <p>iPhone下载</p>
            </div>
            <div class="codeImg">

                <img src="../img/android.png" alt="开小差了~~~">
                <p>Android下载</p>
            </div>
            <div class="codeImg">
                <img src="../img/weixin_lianku.jpg" alt="开小差了~~~">
                <p>链库公众号</p>
            </div>
        </li>
    </dl>
</div>
<script src="../plugins/jquery-1.12.0.min.js"></script>
<script src="../plugins/layui.all.js"></script>
<script src="../plugins/qrcode.min.js"></script>
<script src="../plugins/bannerFocus/foucs.js"></script>
<script src="../js/common.js"></script>
<script src="../js/rdcinfo.js"></script>
</body>
</html>