<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>链库-冷库商情</title>
    <meta name="renderer" content="webkit">
    <meta charset="utf-8" name="keywords" content="找冷库，上链库，出租、求租、出售、求购；冷链物流；冷库360,冷库监控,冷库智能管理,冷库能效评估；"/>
    <meta charset="utf-8" name="description" content="找冷库，上链库，链库是一个冷库智能管理与云服务平台。它拥有海量冷库数据资源与需求信息，针对冷库仓位，你可以在我们的平台出租、求租、出售和求购，
        让您在第一时间找到你需要的内容，为您提供最及时全面的信息。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="../img/favicon.ico" />
    <!--引入样式包-->
    <link rel="stylesheet" href="../plugins/css/layui.css"/>
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/rdclist.css" />
    <link rel="stylesheet" href="../css/media.css" />
</head>
<body>
<div id="containBox">
    <div id="containBody">
        <!--header 导航栏-->
        <div class="header">
            <div class="hotLine">
                <h2 class="fl">冷库物联网大数据平台</h2>
                <div class="fr">
                    <span>客服热线：<span class="orange">400-853-5606</span></span>
                    <a href="#QRcode">
                        APP下载<i class="iconfont orange">&#xe642;</i>
                    </a>
                </div>
            </div>
            <div class="nav">
                <h1 class="fl"><a href="../../index.html" target="_blank"></a></h1>
                <ul id="noLoginUser" class="fr navLogin">
                    <li><a href="../../login.html"><i class="iconfont">&#xe715;</i>&nbsp;登录</a></li>
                    <li><a href="register.html"><i class="iconfont">&#xe60f;</i>&nbsp;注册</a></li>
                </ul>
                <div id="loginUser" class="fr">
                    <div class="nameDiv">
                        <img src="" onclick="window.location.href='usercenter.html'">
                    </div>
                    <dl class="hide">
                        <li><a href="usercenter.html">个人中心</a></li>
                        <li><a onclick="logout()">退出</a></li>
                    </dl>
                </div>
                <ul class="fr navUl">
                    <li><a href="../../index.html">首　　页</a></li>
                    <li class="activeNav"><a href="rdclist.html">冷库商情</a></li>
                    <li><a href="standrdclist.html">达标冷库</a></li>
                    <li><a href="rdcprice.html">冷库价格</a></li>
                    <li><a href="rdcmatch.html">需求匹配</a></li>
                    <li><a href="rdctrace.html">温度追溯</a></li>
                    <li><a href="http://www.smartcold.org.cn/">冷库360</a></li>
                    <li><a href="map.html">冷库地图</a></li>
                </ul>
            </div>
        </div>
        <div class="section clearfix oFilter">
            <!--<select id="ul_provinceid" class="select fl">
            </select>-->
            <a href="rdcaddcold.html" onclick="getAddStatus()" class="oBtn fr">添加冷库</a>
            <div class="search fr">
                <input id="ul_keyword" type="text" class="fl" placeholder="请输入关键字……">
                <i class="iconfont">&#xe609;</i>
                <span class="oBtn fl" id="search">搜索</span>
            </div>
        </div>
        <div class="section oType">
            <div class="typeList clearfix">
                <span class="fl">区域:</span>
                <ul id="ul_provinceid" class="clearfix">
                    <li value="-100" class="fl activeType" type="radio">不限</li>
                </ul>
                <ul id="ul_cityid" class="clearfix">
                </ul>
            </div>
            <div class="typeList clearfix">
                <span class="fl">经营类型:</span>
                <ul id="ul_managetype" class="clearfix">
                    <li value="-100" class="fl activeType">不限</li>
                </ul>
            </div>
            <div class="typeList clearfix">
                <span class="fl">冷库温度类型:</span>
                <ul id="ul_storagetempertype" class="clearfix">
                    <li value="-100" class="fl activeType">不限</li>
                </ul>
            </div>
            <div class="typeList clearfix">
                <span class="fl">温度达标情况:</span>
                <ul id="ul_istemperaturestandard" class="clearfix">
                    <li value="-100" class="fl activeType">不限</li>
                    <li value="1" class="fl" type="radio">已达标</li>
                    <li value="0" class="fl" type="radio">未达标</li>
                </ul>
            </div>
            <div class="moreType hide">
                <div class="typeList clearfix">
                    <span class="fl">冷库认证情况:</span>
                    <ul id="ul_audit" class="clearfix">
                        <li  value="-100" class="fl activeType">不限</li>
                        <li  value="2" class="fl" type="radio">已认证</li>
                        <li  value="0" class="fl" type="radio">未认证</li>
                    </ul>
                </div>
                <div class="typeList clearfix">
                    <span class="fl">商品存放形式:</span>
                    <ul id="ul_goodSaveType" class="clearfix">
                        <li type="goodSave" value="-100" class="fl activeType">不限</li>
                        <!--                 <li type="goodSave" value="1" class="fl">货架存放</li> -->
                        <!--                 <li type="goodSave" value="2" class="fl">非货架存放</li> -->
                    </ul>
                </div>
                <div class="typeList clearfix">
                    <span class="fl">冷库总面积:</span>
                    <ul id="ul_rdcsqm" class="clearfix">
                        <li value="-100" class="fl activeType">不限</li>
                        <li value="1" class="fl">&lt;1000㎡</li>
                        <li value="2" class="fl">1000~3000㎡</li>
                        <li value="3" class="fl">3000~6000㎡</li>
                        <li value="4" class="fl">6000~12000㎡</li>
                        <li value="5" class="fl">12000~20000㎡</li>
                        <li value="6" class="fl">&gt;20000㎡</li>
                    </ul>
                </div>
                <div class="typeList clearfix">
                    <span class="fl">配备冷藏车情况:</span>
                    <ul id="ul_hasCar" class="clearfix">
                        <li  value="-100" class="fl activeType">不限</li>
                        <li  value="1" class="fl" type="radio">有</li>
                        <li  value="2" class="fl" type="radio">无</li>

                    </ul>
                </div>
            </div>
            <div class="moreBtn">
                <span>更多筛选</span>
                <i class="iconfont">&#xe62e;</i>
            </div>
        </div>
        <!--广告轮播-->
        <div class="section">
            <div class="clearfix adbanner">
                <div class="picScroll-left">
                    <a class="next"><i class="iconfont">&#xe64a;</i></a>
                    <a class="prev"><i class="iconfont">&#xe64b;</i></a>
                    <div class="bd">
                        <ul class="picList">
                            <!--冷链委下公司-->
                            <li><div class="pic"><a href="http://www.hflchina.com/" title="恒孚物流" target="_blank"><img src="../img/hfwl.png" /></a></div></li>
                            <li><div class="pic"><a href="http://www.zjhwwl.com/" title="恒伟供应链" target="_blank"><img src="../img/hwgyl.png" /></a></div></li>
                            <li><div class="pic"><a href="http://www.etoo.net.cn/" title="华夏易通物流" target="_blank"><img src="../img/hxyt.png" /></a></div></li>
                            <li><div class="pic"><a href="http://www.nbportll.com/" title="宁波兴港货柜" target="_blank"><img src="../img/glwl.png" /></a></div></li>
                            <li><div class="pic"><a href="http://www.rokin.cn/" title="荣庆物流" target="_blank"><img src="../img/rqwl.png" /></a></div></li>
                            <li><div class="pic"><a href="http://www.hnxianyi.com/index.html" title="鲜易供应链" target="_blank"><img src="../img/xygyl.png" /></a></div></li>
                            <li><div class="pic"><a href="http://www.cmac.com.hk/" title="招商美冷" target="_blank"><img src="../img/zsml.png" /></a></div></li>
                            <li><div class="pic"><a href="http://www.whstwl.com/" title="五环顺通" target="_blank"><img src="../img/whst.png" /></a></div></li>
                            <li><div class="pic"><a href="http://coldchain.sinotrans.com/" title="中外运冷链" target="_blank"><img src="../img/zwy.png" /></a></div></li>
                            <li><div class="pic"><a href="javascript:;" title="铁越集团" target="_blank"><img src="../img/tyjt.jpg" /></a></div></li>
                            <li><div class="pic"><a href="javascript:;" title="众惠供应链" target="_blank"><img src="../img/zhgyl.jpg" /></a></div></li>
                            <li><div class="pic"><a href="http://www.zzdcs.com/" title="獐子岛中央冷藏" target="_blank"><img src="../img/zzd.jpg" /></a></div></li>
                            <!--逸励五家公司-->
                            <li><div class="pic"><a href="ad/aboutyt.html" title="逸腾远东制冷（江苏）有限公司"><img src="../img/yiteng.png" /></a></div></li>
                            <li><div class="pic"><a href="ad/aboutylk.html" title="逸励柯环境科技（江苏）有限公司"><img src="../img/yilike.png" /></a></div></li>
                            <li><div class="pic"><a href="ad/aboutyili.html" title="逸励实业（上海）有限公司"><img src="../img/yili.png" /></a></div></li>
                            <li><div class="pic"><a href="ad/aboutby.html" title="常州市贝源冷冻设备有限公司"><img src="../img/beiyuan.png" /></a></div></li>
                            <li><div class="pic"><a href="ad/aboutyuli.html" title="苏州和风煜立冷冻设备有限公司"><img src="../img/yuli.png" /></a></div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--rdclist -->
        <ul id="rdcRentList" class="rdcCol section">
        </ul>
        <div id="demo2" class="txt-center section"></div>
    </div>
    <!--版权区域-->
    <div class="footer" id="QRcode">
        <dl class="clearfix">
            <li class="fl">
                <p><a href="aboutlianku.html">关于链库</a></p>
                <p>©2016 Smartcold    沪ICP备 16004753</p>
                <p>为了您可以获取更佳的浏览效果</p>
                <p>本站推荐使用
                    <a href="http://sw.bos.baidu.com/sw-search-sp/software/ba34c905dbdd4/ChromeStandalone_57.0.2987.98_Setup.exe">谷歌浏览器
                    </a>、<a href="http://sw.bos.baidu.com/sw-search-sp/software/4cee66da4242e/Firefox_52.0.1.6284_setup.exe">火狐浏览器
                    </a>或者<a href="http://down.360safe.com/se/360se8.1.1.250.exe">360浏览器极速模式</a>
                </p>
            </li>
            <li class="fr">
                <div class="codeImg">
                    <img src="../img/ios.png" alt="开小差了~~~">
                    <p>iPhone下载</p>
                </div>
                <div class="codeImg">

                    <img src="../img/android.png" alt="开小差了~~~">
                    <p>Android下载</p>
                </div>
                <div class="codeImg">
                    <img src="../img/weixin_lianku.jpg" alt="开小差了~~~">
                    <p>链库公众号</p>
                </div>
            </li>
        </dl>
    </div>
</div>
<script src="../plugins/jquery-1.12.0.min.js"></script>
<script src="../plugins/jquery.SuperSlide.2.1.1.js"></script>
<script src="../plugins/layui.all.js"></script>
<script src="../js/common.js"></script>
<script src="../js/rdclist.js"></script>
</body>
</html>