<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>链库-冷库商情</title>
    <meta charset="utf-8" name="keywords" content="链库,冷链物流,冷库360,冷库监控,冷库智能管理,冷库能效评估"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="../img/favicon.ico" />
    <!--引入样式包-->
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/rdclist.css" />
    <link rel="stylesheet" href="../css/media.css" />
</head>
<body>
<!--header 导航栏-->
<div class="header">
    <div class="hotLine">
        <h2 class="fl">全国最大的冷库数据与交易平台</h2>
        <div class="fr">
            <span>客服热线：<span class="orange">400-853-5606</span></span>
            <a href="#QRcode">
                APP下载<i class="iconfont orange">&#xe642;</i>
            </a>
        </div>
    </div>
    <div class="nav">
        <h1 class="fl"><a href="liankur.com">找冷库&nbsp;&nbsp;上链库</a></h1>
        <ul class="fr navLogin">
            <li><a href="javascript:;"><i class="iconfont">&#xe715;</i>&nbsp;登录</a></li>
            <li><a href="javascript:;"><i class="iconfont">&#xe60f;</i>&nbsp;注册</a></li>
        </ul>
        <div class="navSmall fr"><!--小屏幕显示-->
            <span><i class="iconfont">&#xe62d;</i></span>
            <ul class="navUlList">
                <li><a href="../../index.htm">首　　页</a></li>
                <li><a href="rdclist.html">冷库商情</a></li>
                <li><a href="javascript:;">冷库价格</a></li>
                <li><a href="javascript:;">需求匹配</a></li>
                <li><a href="javascript:;">温度追溯</a></li>
                <li><a href="javascript:;">冷库360</a></li>
                <li><a href="javascript:;">企业专区</a></li>
            </ul>
        </div>
        <ul class="fr navUl">
            <li><a href="../../index.htm">首页</a></li>
            <li><a href="rdclist.html">冷库商情</a></li>
            <li><a href="javascript:;">冷库价格</a></li>
            <li><a href="javascript:;">需求匹配</a></li>
            <li><a href="javascript:;">温度追溯</a></li>
            <li><a href="javascript:;">冷库360</a></li>
            <li><a href="javascript:;">企业专区</a></li>
        </ul>
    </div>
</div>
<div class="section clearfix oFilter">
    <select name="" id="" class="select fl">
        <option value="北京">北京</option>
        <option value="上海">上海</option>
        <option value="天津">天津</option>
    </select>
    <button class="oBtn fr">添加冷库</button>
    <div class="search fr">
        <input type="text" class="fl" placeholder="请输入关键字……">
        <i class="iconfont">&#xe609;</i>
        <span class="oBtn fl">搜索</span>
    </div>
</div>
<div class="section oType">
    <div class="typeList clearfix">
        <span class="fl">经营类型:</span>
        <ul class="clearfix">
            <li class="fl activeType">不限</li>
            <li class="fl">产地型</li>
            <li class="fl">市场型</li>
            <li class="fl">仓储型</li>
            <li class="fl">配送型</li>
            <li class="fl">生产型</li>
            <li class="fl">中央厨房</li>
            <li class="fl">医药型</li>
            <li class="fl">其他</li>
        </ul>
    </div>
    <div class="typeList clearfix">
        <span class="fl">冷库温度类型:</span>
        <ul class="clearfix">
            <li class="fl activeType">不限</li>
            <li class="fl">冷藏库</li>
            <li class="fl">冷冻库</li>
            <li class="fl">超低温库</li>
            <li class="fl">恒温库</li>
            <li class="fl">多温区库</li>
        </ul>
    </div>
    <div class="typeList clearfix">
        <span class="fl">温度达标情况:</span>
        <ul class="clearfix">
            <li class="fl activeType">不限</li>
            <li class="fl">已达标</li>
            <li class="fl">未达标</li>
        </ul>
    </div>
    <div class="moreType hide">
        <div class="typeList clearfix">
            <span class="fl">冷库认证情况:</span>
            <ul class="clearfix">
                <li class="fl activeType">不限</li>
                <li class="fl">已认证</li>
                <li class="fl">未认证</li>
            </ul>
        </div>
        <div class="typeList clearfix">
            <span class="fl">商品存放形式:</span>
            <ul class="clearfix">
                <li class="fl activeType">不限</li>
                <li class="fl">货架存放</li>
                <li class="fl">非货架存放</li>
            </ul>
        </div>
        <div class="typeList clearfix">
            <span class="fl">冷库总面积:</span>
            <ul class="clearfix">
                <li class="fl activeType">不限</li>
                <li class="fl"><1000㎡</li>
                <li class="fl">1000~3000㎡</li>
                <li class="fl">3000~5000㎡</li>
            </ul>
        </div>
        <div class="typeList clearfix">
            <span class="fl">配备冷藏车情况:</span>
            <ul class="clearfix">
                <li class="fl activeType">不限</li>
                <li class="fl">有</li>
                <li class="fl">无</li>
            </ul>
        </div>
    </div>
    <div class="moreBtn">
        <span>更多筛选</span>
        <i class="iconfont">&#xe62e;</i>
    </div>
</div>
<!--广告轮播-->
<div class="section">
    <div class="picScroll-left">
        <a class="next"><i class="iconfont">&#xe60e;</i></a>
        <a class="prev"><i class="iconfont">&#xe60d;</i></a>
        <div class="bd">
            <ul class="picList">
                <li><div class="pic"><a href="javascript:;"><img src="../img/yiteng.png" /></a></div></li>
                <li><div class="pic"><a href="javascript:;"><img src="../img/yilike.png" /></a></div></li>
                <li><div class="pic"><a href="javascript:;"><img src="../img/yili.png" /></a></div></li>
                <li><div class="pic"><a href="javascript:;"><img src="../img/beiyuan.png" /></a></div></li>
                <li><div class="pic"><a href="javascript:;"><img src="../img/360.png" /></a></div></li>
                <li><div class="pic"><a href="javascript:;"><img src="../img/yiteng.png" /></a></div></li>
                <li><div class="pic"><a href="javascript:;"><img src="../img/yilike.png" /></a></div></li>
                <li><div class="pic"><a href="javascript:;"><img src="../img/yili.png" /></a></div></li>
                <li><div class="pic"><a href="javascript:;"><img src="../img/beiyuan.png" /></a></div></li>
                <li><div class="pic"><a href="javascript:;"><img src="../img/360.png" /></a></div></li>
            </ul>

        </div>
    </div>
</div>
<!--rdclist -->
<ul class="rdcCol section">
    <li>
        <div class="rdcImg">
            <a href="javascript:;"><img src="../img/demo1.png" alt=""></a>
            <i>温度达标冷库</i>
        </div>
        <div class="rdcInfo">
            <div class="rdcTxt clearfix">
                <span class="rdcName omg fl"><a href="javascript:;">国药控股福州五六有限公司</a></span>
                <span class="infoPercenty fl">信息完整度:<b>72%</b></span>
                <ul class="stars clearfix fl">
                    <li><i class="iconfont">&#xe60c;</i></li>
                    <li><i class="iconfont">&#xe60c;</i></li>
                    <li><i class="iconfont">&#xe60c;</i></li>
                    <li><i class="iconfont">&#xe604;</i></li>
                    <li><i class="iconfont">&#xe604;</i></li>
                </ul>
            </div>
            <div class="rdcApprove">
                <b class="approve"><i class="iconfont">&#xe6ac;</i>已认证</b>
                <b class="reachStand"><i class="iconfont">&#xe6e9;</i>冷链委温度达标库</b>
                <i>3号库实时温度：-17.6℃</i>
            </div>
            <div class="rdcArea">
                <span>总面积22500㎡</span>|
                <span>建筑标准</span>
                <span>单层库</span>
            </div>
            <div class="rdcPosition">
                <b><i class="iconfont">&#xe648;</i>
                    佛山市 邓城区
                </b>
            </div>
        </div>
        <div class="rdcPrice">
            <p>可用面积<i class="orange">6500</i>㎡</p>
            <p class="rdcPriceNum blue">30.00</p>
            <p>元/㎡/天</p>
        </div>
        <div class="rdcBtn">
            <button class="collect"><i class="iconfont orange">&#xe639;</i>收藏</button>
            <!--<button class="ask"><i class="iconfont blue">&#xe66e;</i>咨询</button>-->
            <button class="look"><i class="iconfont">&#xe610;</i>查看</button>
        </div>
    </li>
    <li>
        <div class="rdcImg">
            <a href="javascript:;"><img src="../img/demo2.png" alt=""></a>
            <i>温度达标冷库</i>
        </div>
        <div class="rdcInfo">
            <div class="rdcTxt clearfix">
                <span class="rdcName omg fl"><a href="javascript:;">国药控股福州五六有限公司</a></span>
                <span class="infoPercenty fl">信息完整度:<b>72%</b></span>
                <ul class="stars clearfix fl">
                    <li><i class="iconfont">&#xe60c;</i></li>
                    <li><i class="iconfont">&#xe60c;</i></li>
                    <li><i class="iconfont">&#xe60c;</i></li>
                    <li><i class="iconfont">&#xe604;</i></li>
                    <li><i class="iconfont">&#xe604;</i></li>
                </ul>
            </div>
            <div class="rdcApprove">
                <b class="reachStand"><i class="iconfont">&#xe63b;</i>未认证</b>
                <b class="reachStand"><i class="iconfont">&#xe6e9;</i>冷链委温度达标库</b>
                <i>3号库实时温度：-17.6℃</i>
            </div>
            <div class="rdcArea">
                <span>总面积22500㎡</span>|
                <span>建筑标准</span>
                <span>单层库</span>
            </div>
            <div class="rdcPosition">
                <b><i class="iconfont">&#xe648;</i>
                    佛山市 邓城区
                </b>
            </div>
        </div>
        <div class="rdcPrice">
            <p>可用面积<i class="orange">6500</i>㎡</p>
            <p class="rdcPriceNum blue">30.00</p>
            <p>元/㎡/天</p>
        </div>
        <div class="rdcBtn">
            <button class="collect"><i class="iconfont orange">&#xe639;</i>收藏</button>
            <!--<button class="ask"><i class="iconfont blue">&#xe66e;</i>咨询</button>-->
            <button class="look"><i class="iconfont">&#xe610;</i>查看</button>
        </div>
    </li>
    <li>
        <div class="rdcImg">
            <a href="javascript:;"><img src="../img/demo2.png" alt=""></a>
            <i>温度达标冷库</i>
        </div>
        <div class="rdcInfo">
            <div class="rdcTxt clearfix">
                <span class="rdcName omg fl"><a href="javascript:;">国药控股福州五六有限公司</a></span>
                <span class="infoPercenty fl">信息完整度:<b>72%</b></span>
                <ul class="stars clearfix fl">
                    <li><i class="iconfont">&#xe60c;</i></li>
                    <li><i class="iconfont">&#xe60c;</i></li>
                    <li><i class="iconfont">&#xe60c;</i></li>
                    <li><i class="iconfont">&#xe604;</i></li>
                    <li><i class="iconfont">&#xe604;</i></li>
                </ul>
            </div>
            <div class="rdcApprove">
                <b class="reachStand"><i class="iconfont">&#xe63b;</i>未认证</b>
                <b class="reachStand"><i class="iconfont">&#xe6e9;</i>冷链委温度达标库</b>
                <i>3号库实时温度：-17.6℃</i>
            </div>
            <div class="rdcArea">
                <span>总面积22500㎡</span>|
                <span>建筑标准</span>
                <span>单层库</span>
            </div>
            <div class="rdcPosition">
                <b><i class="iconfont">&#xe648;</i>
                    佛山市 邓城区
                </b>
            </div>
        </div>
        <div class="rdcPrice">
            <p>可用面积<i class="orange">6500</i>㎡</p>
            <p class="rdcPriceNum blue">30.00</p>
            <p>元/㎡/天</p>
        </div>
        <div class="rdcBtn">
            <button class="collect"><i class="iconfont orange">&#xe639;</i>收藏</button>
            <!--<button class="ask"><i class="iconfont blue">&#xe66e;</i>咨询</button>-->
            <button class="look"><i class="iconfont">&#xe610;</i>查看</button>
        </div>
    </li>
    <li>
        <div class="rdcImg">
            <a href="javascript:;"><img src="../img/demo2.png" alt=""></a>
            <i>温度达标冷库</i>
        </div>
        <div class="rdcInfo">
            <div class="rdcTxt clearfix">
                <span class="rdcName omg fl"><a href="javascript:;">国药控股福州五六有限公司</a></span>
                <span class="infoPercenty fl">信息完整度:<b>72%</b></span>
                <ul class="stars clearfix fl">
                    <li><i class="iconfont">&#xe60c;</i></li>
                    <li><i class="iconfont">&#xe60c;</i></li>
                    <li><i class="iconfont">&#xe60c;</i></li>
                    <li><i class="iconfont">&#xe604;</i></li>
                    <li><i class="iconfont">&#xe604;</i></li>
                </ul>
            </div>
            <div class="rdcApprove">
                <b class="reachStand"><i class="iconfont">&#xe63b;</i>未认证</b>
                <b class="reachStand"><i class="iconfont">&#xe6e9;</i>冷链委温度达标库</b>
                <i>3号库实时温度：-17.6℃</i>
            </div>
            <div class="rdcArea">
                <span>总面积22500㎡</span>|
                <span>建筑标准</span>
                <span>单层库</span>
            </div>
            <div class="rdcPosition">
                <b><i class="iconfont">&#xe648;</i>
                    佛山市 邓城区
                </b>
            </div>
        </div>
        <div class="rdcPrice">
            <p>可用面积<i class="orange">6500</i>㎡</p>
            <p class="rdcPriceNum blue">30.00</p>
            <p>元/㎡/天</p>
        </div>
        <div class="rdcBtn">
            <button class="collect"><i class="iconfont orange">&#xe639;</i>收藏</button>
            <!--<button class="ask"><i class="iconfont blue">&#xe66e;</i>咨询</button>-->
            <button class="look"><i class="iconfont">&#xe610;</i>查看</button>
        </div>
    </li>
    <li>
        <div class="rdcImg">
            <a href="javascript:;"><img src="../img/demo2.png" alt=""></a>
            <i>温度达标冷库</i>
        </div>
        <div class="rdcInfo">
            <div class="rdcTxt clearfix">
                <span class="rdcName omg fl"><a href="javascript:;">国药控股福州五六有限公司</a></span>
                <span class="infoPercenty fl">信息完整度:<b>72%</b></span>
                <ul class="stars clearfix fl">
                    <li><i class="iconfont">&#xe60c;</i></li>
                    <li><i class="iconfont">&#xe60c;</i></li>
                    <li><i class="iconfont">&#xe60c;</i></li>
                    <li><i class="iconfont">&#xe604;</i></li>
                    <li><i class="iconfont">&#xe604;</i></li>
                </ul>
            </div>
            <div class="rdcApprove">
                <b class="reachStand"><i class="iconfont">&#xe63b;</i>未认证</b>
                <b class="reachStand"><i class="iconfont">&#xe6e9;</i>冷链委温度达标库</b>
                <i>3号库实时温度：-17.6℃</i>
            </div>
            <div class="rdcArea">
                <span>总面积22500㎡</span>|
                <span>建筑标准</span>
                <span>单层库</span>
            </div>
            <div class="rdcPosition">
                <b><i class="iconfont">&#xe648;</i>
                    佛山市 邓城区
                </b>
            </div>
        </div>
        <div class="rdcPrice">
            <p>可用面积<i class="orange">6500</i>㎡</p>
            <p class="rdcPriceNum blue">30.00</p>
            <p>元/㎡/天</p>
        </div>
        <div class="rdcBtn">
            <button class="collect"><i class="iconfont orange">&#xe639;</i>收藏</button>
            <!--<button class="ask"><i class="iconfont blue">&#xe66e;</i>咨询</button>-->
            <button class="look"><i class="iconfont">&#xe610;</i>查看</button>
        </div>
    </li>
</ul>
<!--版权区域-->
<div class="footer" id="QRcode">
    <!--<ul class="clearfix">
        <li class="fl txt-center">
            <div>
                <i class="iconfont">&#xe625;</i>
                <p>找库</p>
            </div>
            <ol>
                <li><a href="javascript:;">冷库详情</a></li>
                <li><a href="javascript:;">冷库点评</a></li>
                <li><a href="javascript:;">冷库地图</a></li>
            </ol>
        </li>
        <li class="fl txt-center">
            <div>
                <i class="iconfont">&#xe61f;</i>
                <p>共享</p>
            </div>
            <ol>
                <li><a href="javascript:;">配货信息</a></li>
                <li><a href="javascript:;">订仓信息</a></li>
                <li><a href="javascript:;">商品信息</a></li>
            </ol>
        </li>
        <li class="fl txt-center">
            <div>
                <i class="iconfont">&#xe63a;</i>
                <p>追溯</p>
            </div>
            <ol>
                <li><a href="javascript:;">批次查询</a></li>
                <li><a href="javascript:;">物流追踪</a></li>
                <li><a href="javascript:;">温度分析</a></li>
            </ol>
        </li>
        <li class="fl txt-center">
            <div>
                <i class="iconfont">&#xe61b;</i>
                <p>冷库360</p>
            </div>
            <ol>
                <li><a href="javascript:;">在线评估</a></li>
                <li><a href="javascript:;">能耗分析</a></li>
                <li><a href="javascript:;">动态管理</a></li>
            </ol>
        </li>
    </ul>-->
    <dl class="clearfix">
        <li class="fl">
            <p>©2016 Smartcold    沪ICP备 16004753</p>
            <p>为了您可以获取更佳的浏览效果</p>
            <p>本站推荐使用
                <a href="http://sw.bos.baidu.com/sw-search-sp/software/ba34c905dbdd4/ChromeStandalone_57.0.2987.98_Setup.exe">谷歌浏览器
                </a>、<a href="http://sw.bos.baidu.com/sw-search-sp/software/4cee66da4242e/Firefox_52.0.1.6284_setup.exe">火狐浏览器
                </a>或者<a href="http://down.360safe.com/se/360se8.1.1.250.exe">360浏览器极速模式</a>
            </p>
        </li>
        <li class="fr">
            <div class="codeImg">
                <img src="../img/ios.png" alt="开小差了~~~">
                <p>iPhone下载</p>
            </div>
            <div class="codeImg">

                <img src="../img/android.png" alt="开小差了~~~">
                <p>Android下载</p>
            </div>
            <div class="codeImg">
                <img src="../img/weixin_lianku.jpg" alt="开小差了~~~">
                <p>链库公众号</p>
            </div>
        </li>
    </dl>
</div>
<script src="../plugins/jquery-1.12.0.min.js"></script>
<script src="../plugins/jquery.SuperSlide.2.1.1.js"></script>
<script src="../js/common.js"></script>
<script src="../js/rdclist.js"></script>
<script>

</script>
</body>
</html>