<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>链库-需求匹配详情</title>
    <meta charset="utf-8" name="keywords" content="找冷库，上链库，出租、求租、出售、求购；冷链物流；冷库360,冷库监控,冷库智能管理,冷库能效评估；"/>
    <meta charset="utf-8" name="description" content="找冷库，上链库，链库是一个冷库智能管理与云服务平台。它拥有海量冷库数据资源与需求信息，针对冷库仓位，你可以在我们的平台出租、求租、出售和求购，
        让您在第一时间找到你需要的内容，为您提供最及时全面的信息。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="../img/favicon.ico"/>
    <!--引入样式包-->
    <link rel="stylesheet" href="../plugins/css/layui.css"/>
    <link rel="stylesheet" href="../css/common.css"/>
    <link rel="stylesheet" href="../css/media.css"/>
    <link rel="stylesheet" href="../css/rdcMatch.css"/>
</head>
<body>
<div id="containBox">
    <div id="containBody">
        <!--header 导航栏-->
        <div class="header">
            <div class="hotLine">
                <h2 class="fl">冷库物联网大数据平台</h2>
                <div class="fr">
                    <span>客服热线：<span class="orange">400-853-5606</span></span>
                    <a href="#QRcode">
                        APP下载<i class="iconfont orange">&#xe642;</i>
                    </a>
                </div>
            </div>
            <div class="nav">
                <h1 class="fl"><a href="../../index.html" target="_blank"></a></h1>
                <ul id="noLoginUser" class="fr navLogin">
                    <li><a href="../../login.html"><i class="iconfont">&#xe715;</i>&nbsp;登录</a></li>
                    <li><a href="register.html"><i class="iconfont">&#xe60f;</i>&nbsp;注册</a></li>
                </ul>
                <div id="loginUser" class="fr">
                    <div class="nameDiv">
                        <img src="" onclick="window.location.href='usercenter.html'">
                    </div>
                    <dl class="hide">
                        <li><a href="usercenter.html">个人中心</a></li>
                        <li><a onclick="logout()">退出</a></li>
                    </dl>
                </div>
                <ul class="fr navUl">
                    <li><a href="../../index.html">首　　页</a></li>
                    <li><a href="rdclist.html">冷库商情</a></li>
                    <li><a href="standrdclist.html">达标冷库</a></li>
                    <li><a href="rdcprice.html">冷库价格</a></li>
                    <li class="activeNav"><a href="rdcmatch.html">需求匹配</a></li>
                    <li><a href="rdctrace.html">温度追溯</a></li>
                    <li><a href="http://www.smartcold.org.cn/">冷库360</a></li>
                </ul>
            </div>
        </div>

        <div class="section clearfix" style="position: relative;">
            <div class="fl" id="localHtml" style="width: 83%"></div>
            <div class="rdcCode">
                <div id="qrcode"></div>
                <p>扫一扫</p>
                <p class="orange">分享给好友</p>
            </div>
        </div>
    </div>
    <!--版权区域-->
    <div class="footer" id="QRcode">
        <!--<ul class="clearfix">
            <li class="fl txt-center">
                <div>
                    <i class="iconfont">&#xe625;</i>
                    <p>找库</p>
                </div>
                <ol>
                    <li><a href="javascript:;">冷库详情</a></li>
                    <li><a href="javascript:;">冷库点评</a></li>
                    <li><a href="javascript:;">冷库地图</a></li>
                </ol>
            </li>
            <li class="fl txt-center">
                <div>
                    <i class="iconfont">&#xe61f;</i>
                    <p>共享</p>
                </div>
                <ol>
                    <li><a href="javascript:;">配货信息</a></li>
                    <li><a href="javascript:;">订仓信息</a></li>
                    <li><a href="javascript:;">商品信息</a></li>
                </ol>
            </li>
            <li class="fl txt-center">
                <div>
                    <i class="iconfont">&#xe63a;</i>
                    <p>追溯</p>
                </div>
                <ol>
                    <li><a href="javascript:;">批次查询</a></li>
                    <li><a href="javascript:;">物流追踪</a></li>
                    <li><a href="javascript:;">温度分析</a></li>
                </ol>
            </li>
            <li class="fl txt-center">
                <div>
                    <i class="iconfont">&#xe61b;</i>
                    <p>冷库360</p>
                </div>
                <ol>
                    <li><a href="javascript:;">在线评估</a></li>
                    <li><a href="javascript:;">能耗分析</a></li>
                    <li><a href="javascript:;">动态管理</a></li>
                </ol>
            </li>
        </ul>-->
        <dl class="clearfix">
            <li class="fl">
                <p><a href="aboutlianku.html">关于链库</a></p>
                <p>©2016 Smartcold 沪ICP备 16004753</p>
                <p>为了您可以获取更佳的浏览效果</p>
                <p>本站推荐使用
                    <a href="http://sw.bos.baidu.com/sw-search-sp/software/ba34c905dbdd4/ChromeStandalone_57.0.2987.98_Setup.exe">谷歌浏览器
                    </a>、<a href="http://sw.bos.baidu.com/sw-search-sp/software/4cee66da4242e/Firefox_52.0.1.6284_setup.exe">火狐浏览器
                    </a>或者<a href="http://down.360safe.com/se/360se8.1.1.250.exe">360浏览器极速模式</a>
                </p>
            </li>
            <li class="fr">
                <div class="codeImg">
                    <img src="../img/ios.png" alt="开小差了~~~">
                    <p>iPhone下载</p>
                </div>
                <div class="codeImg">

                    <img src="../img/android.png" alt="开小差了~~~">
                    <p>Android下载</p>
                </div>
                <div class="codeImg">
                    <img src="../img/weixin_lianku.jpg" alt="开小差了~~~">
                    <p>链库公众号</p>
                </div>
            </li>
        </dl>
    </div>
</div>
<script src="../plugins/jquery-1.12.0.min.js"></script>
<script src="../plugins/qrcode.min.js"></script>
<script src="../plugins/layui.all.js"></script>
<script src="../js/common.js"></script>
<script>
    $(function(){
        function infoMsg(id) {
            $.ajax({url:"/i/ShareRdcController/getSEByID.json",type:"get",data:{id:id},success:function (data) {
                var share=data.entity;
                var modalHtml=['<div class="infoModal"><ul id="infoImg" class="infoImg clearfix layer-photos-demo">'];
                if(share.files){
                    $.each(share.files,function (index, file) {
                        modalHtml.push('<li><img src="'+file+'" alt=""></li>');
                    });
                }else {
                    modalHtml.push('<li><img src="'+share.logo+'" alt=""></li>');
                }
                var phone;
                if(window.lkuser){
                    phone=share.telephone;
                }else {
                    localStorage.OURL=window.location.href;
                    phone=telMd5(share.telephone)+' <a href="../../login.html" class="blue">[去登录]</a>';
                }
                var baseInfo='</ul><h3 class="orange">基本信息------><strong>'+share.typeText+'</strong></h3><ol><li><div>描述:</div><div>'+share.title+'</div></li>' +
                    '<li><div>地址:</div><div>'+share.detlAddress+'</div></li><li><div>联系电话:</div><div class="orange">'+phone+'</div></li>';
                if(share.rdcID&&share.rdcID!=0){
                    var address=["["];
                    $.ajax({url:"/i/city/findProvinceById",type:"get",data:{provinceId:share.provinceid},async:false,success:function (data) {
                        address.push(data.provinceName);
                    }});
                    $.ajax({url:"/i/city/findCityById",type:"get",data:{CityID:share.cityid},async:false,success:function (data) {
                        if(data&&data.cityName){
                            address.push("-"+data.cityName);
                        }
                    }});
                    address.push(']');
                    baseInfo='</ul><h3 class="orange">基本信息------><strong>'+share.typeText+'</strong></h3><ol><li><div>描述:</div><div>'+share.title+'</div></li>' +
                        '<li><div>地址:</div><div>'+address.join('')+share.detlAddress+'</div></li><li><div>联系电话:</div><div class="orange">'+phone+'</div></li>';
                    modalHtml.push(baseInfo);
                    var isAudit='<b class="reachStand"><i class="iconfont">&#xe63b;</i>未认证</b>';
                    var isStand='';
                    if(share.audit==2){isAudit='<b class="approve"><i class="iconfont">&#xe6ac;</i>已认证</b>';}
                    if(share.rdcID==1878){isAudit='';}
                    if(share.istemperaturestandard==1){isStand='<b class="reachStand"><i class="iconfont">&#xe6e9;</i>冷链委温度达标库</b>';}
                    modalHtml.push('<li><div>关联冷库:</div><div>'+share.name+'</div>'+isAudit+isStand+'</li>');
                    modalHtml.push('<li><div>信息完整度:</div><div>'+share.infoIntegrity+'%</div></li></ol>');

                }else {
                    modalHtml.push(baseInfo);
                }
                modalHtml.push('<h3 class="orange">其他信息</h3><ol>');
                var note=clearUndefined(share.note);
                if(share.dataType==3){
                    var price="";
                    if(share.unit1&&share.unit2&&share.unit1!=""&&share.unit2!=""){
                        var price=share.unitPrice==0?"面议":share.unitPrice+"元/"+share.unit1+"·"+share.unit2;
                    }else {
                        var price=share.unitPrice==0?"面议":share.unitPrice+"元/天·平方米";
                    }
                    if(share.typeCode==1){
                        share.codeLave4==undefined?share.codeLave4='暂无信息':share.codeLave4=share.codeLave4+'m';
                        modalHtml.push('<li><div>出租面积:</div><div>'+share.sqm+'㎡</div></li><li><div>出租库高:</div><div>'+share.codeLave4+'</div></li>');
                    }else {
                        share.codeLave4==undefined?share.codeLave4='暂无信息':share.codeLave4=share.codeLave4+'㎡';
                        modalHtml.push('<li><div>存放产品:</div><div>'+share.codeLave4+'</div></li><li><div>求租面积:</div><div>'+share.sqm+'</div></li>');
                    }
                    modalHtml.push('<li><div>单价:</div><div>'+price+'</div></li>');
                    modalHtml.push('<li><div>租期:</div><div>'+rentDates[share.rentdate]+'</div></li>');
                    modalHtml.push('<li><div>经营类型:</div><div>'+share.codeLave1+'</div></li>');
                    modalHtml.push('<li><div>温度类型:</div><div>'+share.codeLave2+'</div></li>');
                }
                if(share.dataType==1){
                    var price=share.unitPrice==0?"面议":share.unitPrice+"元/"+unitPush[share.publishunit];
                    modalHtml.push('<li><div>品类:</div><div>'+share.codeLave1+'</div></li>');
                    modalHtml.push('<li><div>数量:</div><div>'+share.sqm+unitPush[share.publishunit]+'</div></li>');
                    modalHtml.push('<li><div>单价:</div><div>'+price+'</div></li>');
                }
                modalHtml.push('<li><div>开始时间:</div><div>'+share.validStartTime+'</div></li>');
                modalHtml.push('<li><div>结束时间:</div><div>'+share.validEndTime+'</div></li>');
                modalHtml.push('<li><div>备注:</div><div>'+note+'</div></li></ol></div>');
                $('#localHtml').html(modalHtml.join(''));
                layer.photos({
                    photos: '#infoImg'
                    ,anim:5
                });
            }});
        }
        var elText = document.URL;
        var ret = elText.split("=")[1];
        var rentDates=['','1个月以下','1~3个月','3~6个月','6~9个月','1年以上','两年以上','三年以上','五年以上'];
        var unitPush=['吨','kg','吨'];
        infoMsg(ret);
        var qrcode = new QRCode(document.getElementById("qrcode"), {
            width : 88,
            height : 88
        });

        function makeCode () {
            var elText = document.URL;
            var ret = 'http://m.liankur.com/view/storehousedetail.html?id='+elText.split("=")[1];
            if (!elText) {
                layer.alert("二维码生成失败……", {icon:5});
                return;
            }
            qrcode.makeCode(ret);
        }
        makeCode ();
        /*生成二维码 end*/
    })
</script>
</body>
</html>