#addCold{
    padding: 15px 5%;
}
#coldButton{
    width: 50%;
    border-radius: 4px;
    height: 30px;
    line-height: 30px;
    background-color: #00a7d0;
    color: #fff;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
#coldButton:hover{
    background-color: #00a7d0;
    color: #fff;
}
.formCtr b{
    color: red;
    font-size: 16px;
}
.formCtr em{
    color: #f00;
}
.formCtr{
    display: inline-block;
    width:47%;
}
.formCtr:nth-child(2n+1){
    margin-right: 3%;
}
.formTitle{
    margin-bottom:5px;
}
.formContain{
    margin-bottom: 10px;
    width: 100%;
}
.formContain input,
.formContain select,
.formContain textarea{
    width: 100%;
    border: 1px solid #95B8E7;
    background-color: #fff;
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.formContain input{
    height: 28px;
    line-height: 28px;
}
.formContain .textbox.combo input{
    height: 26px!important;
    line-height: 26px!important;
    box-sizing: border-box;
    cursor: pointer;
}
.formContain .textbox{
    margin-left: 0;
    box-sizing: border-box;
}
.formContain .textbox.combo{
    width: 100% !important;
    box-sizing: border-box;
}
.formContain textarea{
    min-height: 26px;
    resize: vertical;
}
.input_group{
    height:24px;
    float: left;
    margin:0 15px 10px 0;
}
.bgFl,.bgFr,.bgCenter{
    border:1px solid #95B8E7;
    box-sizing: border-box;
    height: 28px;
    line-height:28px;
}
.bgFr,.bgFl{
    background-color: #ecf4ff;
}
.bgFl{
    width: 66px;
    border-right: 0;
    text-align: right;
    padding-right: 5px;
}
.bgFr{
    width: 46px;
    text-align: center;
    border-left: 0;
}
.bgCenter{
    width: 50px!important;
    text-align: center;
}
.bgFr + .bgCenter{
    border-left:0;
}
.imgBox{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right:10px;
    position: relative;
}
.imgBox img{
    width: 100%;
    height: 100%;
}
.imgClose{
    position: absolute;
    top:0px;
    right:0px;
    width: 20px;
    height: 20px;
    background-color: rgba(0,0,0,.6);
    color: red;
    font-size: 20px;
    text-align: center;
    line-height:20px;
    font-style: normal;
    cursor: pointer;
}