<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<title>链库-找回密码-冷库智能管理与云服务平台</title>
<meta charset="utf-8" name="keywords"
	content="链库,冷链物流,冷库360,冷库监控,冷库智能管理,冷库能效评估" />
<meta charset="utf-8" name="description"
	content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。" />
<link rel="stylesheet" href="assets/css/bootstrap.css" />
<link rel="stylesheet" href="assets/css/signin.css">
<link rel="stylesheet" href="assets/css/homenewlayout.css" />
<script src="assets/plugins/jQuery/jQuery-2.1.4.min.js"></script>
</head>
<body class="home-layout">

	<header class="light">
		<div class="nav-left">
			<h1 style="text-indent:-9999em;font-size:0;margin:0;'">
				链库-冷库智能管理与云服务平台-冷链行业最权威的信息平台 <a href="http://www.liankur.com/#/home"
					class="logo" title='链库 -冷库智能管理与云服务平台-冷链行业最权威的信息平台'> </a>
			</h1>
		</div>
		<div class="nav-right mw-8" style="margin-right:40px;">
			<ul class="nav nav-right black-850">
				<li><a href="http://www.liankur.com/#/home"> 首页 </a></li>
				<li><a href="http://www.liankur.com/#/coldStoragelist">
						冷库资源 </a></li>
				<li><a href="http://www.liankur.com/#/coldShareComment">
						信息共享 </a></li>
				<li><a href="http://www.liankur.com/#/search"> 温度追溯 </a></li>
				<li><a href="" ng-click="gotoSmartCold()" target="view_frame">
						冷库360 </a></li>
			</ul>
			<ul class="navShow navPo show-850">
				<li class="oneNav"><span
					class="glyphicon glyphicon-align-justify"></span>
					<ol class="twoNav">
						<li><a href="#/home"> 首页 </a></li>
						<li><a href="" ng-click="toColdStorageList()"> 冷库资源 </a></li>
						<li><a href="" ng-click="toColdShareComment()"> 信息共享 </a></li>
						<li><a href="#/search"> 温度追溯 </a></li>
						<li><a href="" ng-click="gotoSmartCold()" target="view_frame">
								冷库360 </a></li>
					</ol></li>
			</ul>
		</div>
	</header>

	<div class="wrapper">
		<div class="wrapper user-common-wrapper">
			<div class="main-center">
				<h1 class="user-common-title" style="color: #428bca" > 找回密码</h1>
				<div class="main-form-container">
					<form class="user-common-form findWord" role="form">
						<h4 class="user-common-h4"></h4>
						<div class="input-group">
				            <input id="telNum" type="text" class="form-control" placeholder='请输入注册时的手机号' required onkeyup="vertelephone()">
				            <span id="but_vercode" class="input-group-addon btn" disabled onclick="getVerCode()">获取验证码</span>
				        </div>
				        <div class="input-group" style="position: relative;">
				            <input id="code2" type="text" class="form-control" placeholder='请输入验证码' style="border-radius: 6px;" required onkeyup="veteleCode()">
				            <span class="glyphicon glyphicon-ok ok"></span>
				            <span class="glyphicon glyphicon-remove no"></span>
				        </div>
				        <div class="input-group">
				            <input id="txt_password" onblur="checkData()" type="password" class="form-control" placeholder='请输入新密码' style="border-radius: 6px;" required>
				        </div>
				        <div class="input-group">
				            <input id="txt_repsword" onblur="checkData()" type="password" class="form-control" placeholder='确认新密码' style="border-radius: 6px;" required>
				        </div>
				        <div class="input-group">
				            <button id="app_but1" class="btn btn-form-common" style="width: 100%;" disabled onclick ="savedata()">找回密码</button>
				            <div><a style="color:red;font-size:12px;" id="mention1"></a></div>
				            <div><a style="color:red;font-size:12px;" id="mention2"></a></div>
				        </div>
				        <div class="input-group">
				             <a href="login.html" class="a text-left">登录</a>
                   			 <a href="signup.html" class="a pull-right">注册</a>
				        </div>
				        
					</form>
				</div>
			</div>

		</div>
	</div>
	<script type="text/javascript">
	var _sysconfig={countdown:60,isdebug:true,resize:true};
	var telephone = verrcode = null;
	function vsphone(telephone) {// 验证手机号码
		var length = (telephone + '').length;
		var mobile = /^1[3|4|5|7|8][0-9]\d{4,8}$/;
		return telephone && length == 11&& mobile.test(telephone);
	};
	function vertelephone() {// 验证手机号码
		telephone = $("#telNum").val().trim();
		console.log(telephone);
		var ct = vsphone(telephone);
		if(ct){
				$.post( "/i/user/existenceUserName", {userName: telephone}, function(data) {
	                if(data){
	                	$("#mention1").html("");
	                	$("#but_vercode").attr("disabled", !ct).css({'background':'#428BCA',color:'#fff'});
					}else{
						$("#mention1").html("系统未找到该用户信息！");
					}
				});
		}else{
			$("#mention1").html("");
			$("#but_vercode").attr("disabled", true);
		}
	};
	function setTime(obj) {
		if (_sysconfig.countdown == 0) {
			obj.removeAttribute("disabled");
			obj.innerHTML = "获取验证码";
			_sysconfig.countdown = 60;
			return;
		} else {
			if ($(obj).siblings("input").val().trim().length == 0) {
				alert("输入不能为空哦~");
				return false;
			} else {
				obj.setAttribute("disabled", true);
				obj.innerHTML = "重新发送(" + _sysconfig.countdown + ")";
				_sysconfig.countdown--;
			}
		}
		setTimeout(function() {
			setTime(obj);
		}, 1000);
	};
	function getVerCode() {
			setTime(document.getElementById("but_vercode"));
			getMobileCode('user_findwpd', telephone, '#but_vercode');
		};
		var getMobileCode = function(key, telephone, vcid) {//获取验证码
			$.ajax({
			    url: "/i/ShareRdcController/sharvistPhone.json",
			    dataType: 'json',
			    data: {key : 'user_findwpd',telephone : telephone}
			})
			.done(function(data) {
				if (data.success) {
					mtvarcode = data.entity;
					$(vcid).data('vc', true);
				}
				alert(data.message);
			})
			.fail(function() {
			    console.log("验证码error");
			})
			.always(function() {
			    console.log("验证码complete");
			});
		};
		function veteleCode() {// 验证码
			verrcode = $("#code2").val().trim();
			if ($("#but_vercode").data('vc') == true) {
				var ct = verrcode && mtvarcode && (mtvarcode.toLowerCase() == verrcode.toLowerCase());
				if(ct){
					$(".ok").show();
					$(".no").hide();
				}else{
					$(".no").show();
					$(".ok").hide();
				}
			}
		};
		function checkData() {
			var password = $("#txt_password").val().trim();
			var repsword = $("#txt_repsword").val().trim();
            if(password == ''){
                $("#mention2").html("密码不能为空");
                return false;
            }else if (/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}$/.test(password)){
                if(password != repsword){
                    $("#mention2").html("两次密码输入不一致，请重新输入");
                    $('#app_but1').attr("disabled",true);
                    return false;
                }else{
                    $("#mention2").html("");
                    $('#app_but1').attr("disabled",false);
                    return true
                }
            }else{
                $("#mention2").html("密码长度6-16位,必须是数字字母组合");
                return false;
            }
		};
		function savedata() {// 修改密码
			if(checkData()){
				$.ajax({
				    url: "/i/user/upPwdByTelephone",
				    type: 'POST',
				    data: {
				    	key : 'user_findwpd',
						username : telephone,
						toke : verrcode,
						password : $("#txt_repsword").val().trim()
					},
				})
				.done(function(data) {
				    console.log("success");
				    if (data.success) {
						alert("密码重置成功！");
						window.location.href = "http://"+ window.location.host + "/login.html";
	// 					window.location.href = "login.html";
					} else {
						$("#mention2").html("修改失败~请稍后重试~");
					}
				})
				.fail(function() {
				    console.log("pwd  error");
				})
				.always(function() {
				    console.log("pwd  complete");
				});
			}else{
				$("#mention2").html("输入有误，请重新输入");
			}
		};
		
		$(document).on({
			keyup : function(e) {
				if (e.keyCode == '13') {
                    savedata();
				}
			}
		});
	</script>
</body>
</html>
