<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <title>链库-注册-冷库智能管理与云服务平台</title>
	<meta charset="utf-8" name="keywords" content="链库,冷链物流,冷库360,冷库监控,冷库智能管理,冷库能效评估"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <link rel="stylesheet" href="assets/css/bootstrap.css"/>
    <link rel="stylesheet" href="assets/css/signin.css">
    <link rel="stylesheet" href="assets/css/homenewlayout.css"/>
	<script src="assets/plugins/jQuery/jQuery-2.1.4.min.js"></script>
	<style type="text/css">
		.form-group{margin: 15px 0 3px;}
	</style>
</head>
<body class="home-layout ">
	<header class="light">
	     <div class="nav-left">
	     <h1 style="text-indent:-9999em;font-size:0;margin:0;'">链库-冷库智能管理与云服务平台-冷链行业最权威的信息平台
	         <a href="http://www.liankur.com/#/home" class="logo" title='链库 -冷库智能管理与云服务平台-冷链行业最权威的信息平台'>
	         </a>
	     </h1>
	     </div>
	     <div class="nav-right mw-8" style="margin-right:40px;">
	         <ul class="nav nav-right  black-850">
	             <li>
	                 <a href="http://www.liankur.com/#/home">
	                     首页
	                 </a>
	             </li>
	             <li>
	                 <a href="http://www.liankur.com/#/coldStoragelist">
	                     冷库资源
	                 </a>
	             </li>
	             <li>
	                 <a href="http://www.liankur.com/#/coldShareComment" >
	                     信息共享
	                 </a>
	             </li>
	             <li>
	                 <a href="http://www.liankur.com/#/search">
	                    温度追溯
	                 </a>
	             </li>
	             <li>
	                 <a href="http://smartcold.org.cn/">
	                     冷库360
	                 </a>
	             </li>
	         </ul>
	         <ul class="navShow navPo show-850">        
	                        <li class="oneNav">
	                            <span class="glyphicon glyphicon-align-justify"></span>
	                            <ol class="twoNav">
	                                <li>
			                            <a href="#/home">
			                                首页
			                            </a>
			                        </li>
			                        <li>
			                            <a href="" ng-click="toColdStorageList()">
			                                冷库资源
			                            </a>
			                        </li>
			                        <li>
			                            <a href="" ng-click="toColdShareComment()">
			                               信息共享
			                            </a>
			                        </li>
			                        <li>
			                            <a href="#/search">
			                                温度追溯
			                            </a>
			                        </li>
			                        <li>
			                            <a href="http://smartcold.org.cn/">
	                                        冷库360
			                            </a>
			                        </li>
	                            </ol>
	                        </li>
	                    </ul>
	      </div>
	</header>
	<div class="wrapper">
	 <div class="wrapper user-common-wrapper">
	    <div class="main-center">
	        <h1 class="user-common-title" style="color: #428bca" >
	          注册
	        </h1>
	        <div class="main-form-container">
	            <form id="loginFrm" class="user-common-form" role="form" method="post" onsubmit="return false;">
	                <h4 class="user-common-h4 text-center">链库注册</h4>
	                <div class="form-group">
	                    <input type="text" class="form-control" name="username" id="username" placeholder='用户名'>
	                </div>
	                <!-- 错误信息 popover -->
	                    <div>
	                        <div style="font-size: 12px;">
	                            <div class="text-danger" id="username_error"></div>
	                        </div>
	                    </div>
	                    <!-- 错误信息 popover end -->
	                 <!-- <div class="form-group">
	                    <input type="text" class="form-control" name="email" id="email" placeholder='电子邮箱'>
	                    错误信息 popover
	                    <div class="err-popover-out">
	                        <div class="">
	                            <div class="text-danger" id="email_error"></div>
	                        </div>
	                    </div>
	                    错误信息 popover end
	                </div>  -->
	                <div class="form-group">
	                    <input type="password" class="form-control password" name="password" placeholder='密码' onblur="checkPassword()">
	                </div>
	                <div style="font-size: 12px;">
	                        <div class="">
	                            <div class="text-danger" id="password_error"></div>
	                        </div>
	                    </div>
	                <div class="form-group">
	                    <input type="password" class="form-control password" name="password1" placeholder='重复密码' onblur="checkPassword()">
	                </div>
	                <!-- 错误信息 popover -->
	                    <div style="font-size: 12px;">
	                        <div class="">
	                            <div class="text-danger" id="password_error1"></div>
	                        </div>
	                    </div>
	                    <!-- 错误信息 popover end -->
	                <div class="form-group">
	                    <input id="text_telephone" type="text" class="form-control" name="telephone" placeholder='手机号'>
	                    
	                </div>
	                <!-- 错误信息 popover -->
	                    <div style="font-size: 12px;">
	                        <div class="">
	                            <div class="text-danger" id="phone"></div>
	                        </div>
	                    </div>
	                    <!-- 错误信息 popover end -->
	                <div class="form-group clearfix">
	                	<div class="">
		                	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding: 0 5px 0 0">
		                    	<input type="text" class="form-control" name="signUpCode" placeholder='验证码'>
		                    </div>
		                    <button id="authcode" class="btn btn-primary col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding: 11px 0;">获取验证码</button>
	                	</div>
	                </div>
	                 <!-- 错误信息 popover -->
	                    <div style="font-size: 12px;">
	                        <div class="">
	                            <div class="text-danger" id="password_error1"></div>
	                        </div>
	                    </div>
	                    <!-- 错误信息 popover end -->
	                <button type="submit" id="submit" class="btn btn-form-common form-control" style="margin-top: 15px;"><span>注册</span></button>
	                <div class="checkbox no-padding">
	                    <a href="login.html" class="a pull-right">已经注册</a>
	                </div>
	            </form>
	            
	        </div>
	    </div>
	
	 </div>
	</div>
</body>
<script>
$(function(){
	$('#username').blur(function(){
	    var flag;
	    $.post('/i/user/userNameVerify',{
			username:$('input[name=username]').val()
		}, function(data){
			if(!data)
			  $("#username_error")[0].innerText = "用户名已存在";
		});
		if($("#username")[0].value == ""){
		    $("#username_error")[0].innerText = "用户名不能为空";
		    }
		else{
			$("#username_error")[0].innerText = "";
		}
	});
	function vsphone(telephone) {// 验证手机号码
		var length = (telephone + '').length;
		var mobile = /^1[3|4|5|7|8][0-9]\d{4,8}$/;
		return telephone && length == 11&& mobile.test(telephone);
	};
	var victdata={victtl:false,extname:false,victyzm:false,victpwd:false,tel:null};
	$('#text_telephone').blur(function(){
		var telephone = $(this).val();
		var ct = vsphone(telephone);
	    if(ct){
			victdata.victtl=true;
			$.post( "/i/user/existenceUserName", {userName: telephone}, function(data) {
                victdata.extname=!data;
                $("#phone").html(data?"该手机已经注册":"");
                $('#authcode').attr('disabled',data);
			});
		}else{
			 victdata.victtl=false;
			 $("#phone").html("请输入正确手机号码");
		}
	});
	/* $('#email').blur(function(){
		if($("#email")[0].value == ""){
		    $("#email_error")[0].innerText = "邮箱不能为空";
		}else{
			$("#email_error")[0].innerText = "";
		}
	}); */
	$('#authcode').click(function(){
		$(this).attr('disabled','disabled');
		$.post('/i/user/telephoneVerify',{
			telephone:$('input[name=telephone]').val()
		}, function(){
			
		});
	})
	$('#submit').click(function(){
		userName = $("#username")[0].value;
		var password = $('input[name=password]').val();
		var password1 = $('input[name=password1]').val();
		//email = $('#email')[0].value;
		/* if(email==undefined)
		 email = ""; */
		$.post('/i/user/userNameVerify',{
			username:$('input[name=username]').val()
		}, function(data){
			if(!data)
			 alert("用户名已存在");
		});
		//if(userName == "" || checkPassword() || email == ""){
		if(userName == "" || checkPassword()){
			alert("用户名、密码输入有误");
		}else{
	    	$.ajax({
	    		type:"POST",
	    		data:{username:userName,
	    				password:password,
	    				password1:password1,
// 	    				email:email,
	    				telephone:$("#text_telephone").val(),
	    				signUpCode:$('input[name=signUpCode]').val()
	    		},
	    		url:"/i/user/signup?",
	    				async:false}).success(function(data){
	    					alert(data.message);
	    					if(data.status == "0"){
	    						window.location.href = "http://" + window.location.host + "/login.html";
	    						window.event.returnValue=false;
	    					}
	    				}).error(function(data){
	    					alert("系统错误");
	    		})
		}
	});
})
//返回true 表示有问题  $("#phone").html(data?"该手机已经注册":"");
function checkPassword(){
	var password = $('input[name=password]').val();
	var password1 = $('input[name=password1]').val();
	if(password == ''){
		$("#password_error").html("密码不能为空");
		return false;
	}else if(password.length<6){
		$("#password_error").html("密码长度最少六位");
		return false;
	}else if(password.length>=6){
		$("#password_error").html("");
		if(password1.length<6){
			$("#password_error1").html("密码长度最少六位");
			return false;
		}else if(password1.length>=6){
			if(password != password1){
				$("#password_error1").html("两次密码不一样");
				return false;
			}else{
				$("#password_error1").html("");
			}
		}
	}
	return true;
}
 $(function() {
        $('.navShow>li').hover(function() {
            
            $(this).children('ol').stop().toggle();

        });
    });
</script>
    </body>
</html>
