body
{
    font-family: Muli,'Helvetica Neue','Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft Yahei',sans-serif !important;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    min-width: 1025px;
    margin: 0;
    padding: 0;
    color: #333;
}

header .mw-8
{
    min-width: 800px;
}
header .nav-left
{
    float: left;
}
header .nav-right
{
    float: right;
}
header a.logo
{
    line-height: 75px;
    display: block;
    width: 147px;
    height: 75px;
    margin-left: 60px;
    background: url(/img/logo.png) no-repeat;
    background-position: left center;
}

header a
{
    text-decoration: none;

    color: white;
}
header .nav
{
    margin: 0;
    padding: 0;

    list-style: none;
}

header.light
{
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}
header.light
{
    background-color: rgba(255, 255, 255, .97);
}
header.light a
{
    color: #666;
}
header.light a.logo
{
    background: url(/img/logo.png) no-repeat left center;
}
footer section
{
    width: 900px;
    margin: 0 auto;
}
footer .copyright label{
    margin-bottom: 0px;
}
footer
{
    min-height: 284px;

    text-align: left;

    background-color: #000;
}
footer .copyright
{
    font-size: 14px;
    line-height: 71px;

    clear: both;

    width: 100%;
    height: 72px;
    margin-top: 40px;

    text-align: center;

    color: #999;
    border-top: 1px solid #222;
}