/**
*
* 权限设置样式  
* 2017-3-19
* jhy
*
*/

.role_limit>.tab-pane{
	padding: 10px 0;
}
.role_seclect{
	height:32px;
	width:100%;
	margin-bottom: 20px;
}
.role_seclect select{
	width:100%;
	height:100%;
	outline:none;
	border-radius:3px;
}
.role_table .table{
	background: #fff;
}
.role_table{
	padding: 0
} 
@media (min-width: 768px) {
	.role_tree{
		padding:0;
		margin-top: 10px;
	}
}
@media (max-width: 768px) {
	.role_tree{
		padding:0;
		margin-top: 10px;
	}
}
@media (min-width: 992px) {
	.role_tree{
		padding:0 0 0 10px;
		margin-top: 0;
	}
}

.role_table thead>tr>th{
	text-align: center;
}
/*折叠选项卡*/
.box{
	min-width: 150px;
	background-color: #fff;
	/* margin: 100px auto 0;
	padding: 20px 0; */
}
.oneFilter,.role_list li{
	height: 35px;
	width: 100%;
	color: #333;
	line-height: 35px;
}
.oneFilter .role_on_off{
	display:inline-block;
	vertical-align: text-bottom;
	width:22px;
	height:22px;
	cursor: pointer;
	background: url(../img/close.gif) no-repeat 8px center;
}
.role_list li:hover{
	background: #fdf59a;
}
.role_list li label{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 35px;
	padding-left: 30px;
	width: 100%;
}
.box input[type='checkbox']{
	vertical-align: sub;
	margin-right: 8px;
}
.role_list{
	display: none;
}
.filter.current{
	background: #fcf8e3;
}
.filter.current .role_list{
	display: block;
}
.filter.current .oneFilter .role_on_off{
	background-image: url(../img/open.gif);
}
