<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>逸励实业</title>
    <meta charset="utf-8" name="keywords" content="找冷库，上链库，冷库出租、冷库求租、货品出售、货品求购；冷链物流；冷库360,冷库监控,冷库智能管理,冷库能效评估；"/>
    <meta charset="utf-8" name="description" content="找冷库，上链库，链库是一个冷库智能管理与云服务平台。它拥有海量冷库数据资源与需求信息，针对冷库仓位，你可以在我们的平台出租、求租、出售和求购，
        让您在第一时间找到你需要的内容，为您提供最及时全面的信息。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="../../img/favicon.ico" />
    <!--引入样式包-->
    <link rel="stylesheet" href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../css/common.css" />
    <link rel="stylesheet" href="../../css/media.css" />
    <link rel="stylesheet" href="ad.css" />
</head>
<body>
<div id="containBox">
    <div id="containBody">
        <!--header 导航栏-->
        <div class="header">
            <div class="hotLine">
                <h2 class="fl" style="line-height: 28px;">冷库物联网大数据平台</h2>
                <div class="fr">
                    <span>客服热线：<span class="orange">400-853-5606</span></span>
                    <a href="#QRcode">
                        APP下载<i class="iconfont orange">&#xe642;</i>
                    </a>
                </div>
            </div>
            <div class="nav">
                <h1 class="fl"><a href="../../../index.html" target="_blank"></a></h1>
                <ul id="noLoginUser" class="fr navLogin">
                    <li><a href="../../../login.html"><i class="iconfont">&#xe715;</i>&nbsp;登录</a></li>
                    <li><a href="../register.html"><i class="iconfont">&#xe60f;</i>&nbsp;注册</a></li>
                </ul>
                <div id="loginUser" class="fr">
                    <div class="nameDiv">
                        <img src="" onclick="window.location.href='../usercenter.html'">
                    </div>
                    <dl class="hide">
                        <li><a href="../usercenter.html">个人中心</a></li>
                        <li><a onclick="logout()">退出</a></li>
                    </dl>
                </div>
                <ul class="fr navUl">
                    <li><a href="../../../index.html">首　　页</a></li>
                    <li><a href="../rdclist.html">冷库商情</a></li>
                    <li><a href="../standrdclist.html">达标冷库</a></li>
                    <li><a href="../rdcprice.html">冷库价格</a></li>
                    <li><a href="../rdcmatch.html">需求匹配</a></li>
                    <li><a href="../rdctrace.html">温度追溯</a></li>
                    <li><a href="http://www.smartcold.org.cn/">冷库360</a></li>
                </ul>
            </div>
        </div>
        <div class="adInfo section">
            <h2>
                <img src="../../img/yili.png" alt="" style="width: 280px;">
            </h2>
            <p>逸励实业（上海）有限公司创立于国家十三五规划的开局之年，是一家中新合资企业，专注于制冷行业新技术、新产品的研发、制造、推广及应用。集贸易、制造、工程服务、投资为一体，致力于打造成冷链行业发展的旗舰。</p>
            <p>
                逸励实业整合了国内外非常优秀的团队，每个团队各自经过多年布局，建成了自己完善的冷链服务体系。整合后的逸励，总部设在上海，服务网络覆盖了上海、北京、广州、深圳、南宁、昆明、呼和浩特、长春、沈阳、银川、无锡、海口、香港，东南亚地区包括新加坡、马来西亚、印尼等国家都有办事机构。工程技术及服务人员达到220多人。整个网络为沃尔玛、家乐福、大润发、华润万家、百佳等大型卖场提供及时周到的工程安装及维修保养；同时公司承接各大中小型冷库工程，从前期规划、设计到施工、验收交付使用。涉及领域包括冷链物流、食品速冻与加工、医药、果蔬气调、菌菇培养、环境气候模拟实验室等。网络成员此前分别为康新物流、普洛斯、东方航空食品配餐中心、丰驰物流、波隆冷链、恒伟物流、润恒物流、新发地批发市场、南京众彩物流等大型物流冷库项目提供冷库产品和工程服务；为艾莱发喜食品、安井食品、宁波申洲、厦门联华食品、棒约翰中央厨房、内蒙科尔沁、蒙都肉业、小肥羊、清华大学中央厨房、海丰渔业等大型食品加工型冷库提供冷库产品及工程服务；为康美药业、东宝药业、金马药业、紫鑫药业、帝斯曼药厂、兴齐眼药厂、东阳光、苏州国药、江西药械厂等制药企业提供冷库产品及工程服务；在农产品气调保鲜领域，为沃田农业、众仁果业、榕福气调库、万吉冷藏、平乐气调库等项目提供制冷、气调产品及工程服务。
            </p>
            <p>
                逸励实业供链业务板块，代理经销各种制冷产品配件、耗材、代理BITZER、PANASONIC、YORK、CARRIER、HITACHI等品牌压缩机及机组；代理经销EDEN、PANASONIC、GUNTER、ECO、GEA等品牌的蒸发器和冷凝器；代理经销DANFOSS、PARKER、PARKER、EMERSON等品牌的阀件及电气控制。
            </p>
            <p>
                逸励实业自主研发的制冷系列产品也将逐步推向市场。在行业发展中争取一席之地。逸励实业将秉承“脚踏实地、步步为营；锐意进取、勇于创新；友爱合作、和谐发展；立足业内、放眼世界”的方针策略，发挥我们自身的优势，充分利用现有资源，借助于行业蓬勃发展的大好时机，开拓出逸励实业自己的发展之路。努力实现“组织系统化、决策科学化、管理规范化、工作程序化、效率标准化”的发展目标。
            </p>
            <p>我们坚信，只要以市场为导向，以创新为动力，以质量求生存，以发展求壮大，我们就一定会赢得逸励更美好的明天。</p>
            <p> <span class="blue">全国400电话：400-662-2298</span></p>
            <hr>
            <strong>企业宣传图片</strong>
            <div class="adimg text-center">
                <img src="img/adyili.png" alt="">
            </div>
        </div>
    </div>

    <!--版权区域-->
    <div class="footer" id="QRcode">
        <dl class="clearfix">
            <li class="fl">
                <p><a href="aboutlianku.html">关于链库</a></p>
                <p>©2016 Smartcold    沪ICP备 16004753</p>
                <p>为了您可以获取更佳的浏览效果</p>
                <p>本站推荐使用
                    <a href="http://sw.bos.baidu.com/sw-search-sp/software/ba34c905dbdd4/ChromeStandalone_57.0.2987.98_Setup.exe">谷歌浏览器
                    </a>、<a href="http://sw.bos.baidu.com/sw-search-sp/software/4cee66da4242e/Firefox_52.0.1.6284_setup.exe">火狐浏览器
                    </a>或者<a href="http://down.360safe.com/se/360se8.1.1.250.exe">360浏览器极速模式</a>
                </p>
            </li>
            <li class="fr">
                <div class="codeImg">
                    <img src="../../img/ios.png" alt="开小差了~~~">
                    <p>iPhone下载</p>
                </div>
                <div class="codeImg">

                    <img src="../../img/android.png" alt="开小差了~~~">
                    <p>Android下载</p>
                </div>
                <div class="codeImg">
                    <img src="../../img/weixin_lianku.jpg" alt="开小差了~~~">
                    <p>链库公众号</p>
                </div>
            </li>
        </dl>
    </div>
</div>

<script src="../../plugins/jquery-1.12.0.min.js"></script>
<script src="../../plugins/bootstrap.min.js"></script>
<script src="../../js/common.js"></script>
<script>

</script>
</body>
</html>