<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>常州市贝源冷冻设备有限公司</title>
    <meta charset="utf-8" name="keywords" content="找冷库，上链库，冷库出租、冷库求租、货品出售、货品求购；冷链物流；冷库360,冷库监控,冷库智能管理,冷库能效评估；"/>
    <meta charset="utf-8" name="description" content="找冷库，上链库，链库是一个冷库智能管理与云服务平台。它拥有海量冷库数据资源与需求信息，针对冷库仓位，你可以在我们的平台出租、求租、出售和求购，
        让您在第一时间找到你需要的内容，为您提供最及时全面的信息。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="../../img/favicon.ico" />
    <!--引入样式包-->
    <link rel="stylesheet" href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../css/common.css" />
    <link rel="stylesheet" href="../../css/media.css" />
    <link rel="stylesheet" href="ad.css" />
</head>
<body>
<div id="containBox">
    <div id="containBody">
        <!--header 导航栏-->
        <div class="header">
            <div class="hotLine">
                <h2 class="fl" style="line-height: 28px;">冷库物联网大数据平台</h2>
                <div class="fr">
                    <span>客服热线：<span class="orange">400-853-5606</span></span>
                    <a href="#QRcode">
                        APP下载<i class="iconfont orange">&#xe642;</i>
                    </a>
                </div>
            </div>
            <div class="nav">
                <h1 class="fl"><a href="../../../index.html" target="_blank"></a></h1>
                <ul id="noLoginUser" class="fr navLogin">
                    <li><a href="../../../login.html"><i class="iconfont">&#xe715;</i>&nbsp;登录</a></li>
                    <li><a href="../register.html"><i class="iconfont">&#xe60f;</i>&nbsp;注册</a></li>
                </ul>
                <div id="loginUser" class="fr">
                    <div class="nameDiv">
                        <img src="" onclick="window.location.href='../usercenter.html'">
                    </div>
                    <dl class="hide">
                        <li><a href="../usercenter.html">个人中心</a></li>
                        <li><a onclick="logout()">退出</a></li>
                    </dl>
                </div>
                <ul class="fr navUl">
                    <li><a href="../../../index.html">首　　页</a></li>
                    <li><a href="../rdclist.html">冷库商情</a></li>
                    <li><a href="../standrdclist.html">达标冷库</a></li>
                    <li><a href="../rdcprice.html">冷库价格</a></li>
                    <li><a href="../rdcmatch.html">需求匹配</a></li>
                    <li><a href="../rdctrace.html">温度追溯</a></li>
                    <li><a href="http://www.smartcold.org.cn/">冷库360</a></li>
                </ul>
            </div>
        </div>
        <div class="adInfo section">
            <h2>
                <img src="../../img/beiyuan.png" alt="" style="width: 280px;">
            </h2>
            <p>科技推动革命，创新占有先机。公司提倡“以新来做，用心经营”，充分理解“科学技术是第一生产力”的指导思想，
                为年轻的团队搭建起实现创业梦想的舞台。我们坚信：
                有梦想、有机会、有奋斗，一切美好的东西都能够创造出来。  </p>
            <p> 常州市贝源冷冻设备有限公司是由无锡倍源冷冻设备有限公司与逸励实业（上海）有限公司就冷库板业务进行整合，并注入资金，投入全新的自动化发泡设备，建设的一个现代化聚氨酯夹芯板加工厂。生产能力从年产1 5万平方扩到年产50万平方。
                新工厂位于江苏省常州市武进开发区，总投资1000万。
                生产50mm、75mm、1OOmm、120mm、150mm、200mm厚度的聚氨酯冷库板，面板可以按照用户的需求制作彩钢板、不锈钢板、压花铝板、花纹钢板等。板材连接型式包括偏心钩与非偏心钩连接。公司从德国引进先进的生产技术，
                向市场提供各种高端的冷库门，包括手动平移门、电动平移门、铰链门、车间用防撞自由门等。</p>
            <p>公司产品广泛应用于商超、食品工厂、冷链物流、医药仓储及工厂、环境模拟室、农产品保鲜等领域。
                从2013年投向市场以来受到广泛好评。</p>
            <p>公司秉承”用户第一，客户至上”的原则，开发及生产市场上需要的各类产品。以质量求生存，不断追求卓越，贝源团队呈献给您最细致周到的服务和最好的产品。
                对完美产品的追求会督促我们不断努力向前，为了做好行业发展的开拓先锋，我们将一直在路上．</p>
            <hr>
            <strong>企业宣传图片</strong>
            <div class="adimg text-center">
                <img src="img/by1.png" alt="">
                <img src="img/by2.png" alt="">
                <img src="img/by3.png" alt="">
                <img src="img/by4.png" alt="">
            </div>
        </div>
    </div>

    <!--版权区域-->
    <div class="footer" id="QRcode">
        <dl class="clearfix">
            <li class="fl">
                <p><a href="aboutlianku.html">关于链库</a></p>
                <p>©2016 Smartcold    沪ICP备 16004753</p>
                <p>为了您可以获取更佳的浏览效果</p>
                <p>本站推荐使用
                    <a href="http://sw.bos.baidu.com/sw-search-sp/software/ba34c905dbdd4/ChromeStandalone_57.0.2987.98_Setup.exe">谷歌浏览器
                    </a>、<a href="http://sw.bos.baidu.com/sw-search-sp/software/4cee66da4242e/Firefox_52.0.1.6284_setup.exe">火狐浏览器
                    </a>或者<a href="http://down.360safe.com/se/360se8.1.1.250.exe">360浏览器极速模式</a>
                </p>
            </li>
            <li class="fr">
                <div class="codeImg">
                    <img src="../../img/ios.png" alt="开小差了~~~">
                    <p>iPhone下载</p>
                </div>
                <div class="codeImg">

                    <img src="../../img/android.png" alt="开小差了~~~">
                    <p>Android下载</p>
                </div>
                <div class="codeImg">
                    <img src="../../img/weixin_lianku.jpg" alt="开小差了~~~">
                    <p>链库公众号</p>
                </div>
            </li>
        </dl>
    </div>
</div>

<script src="../../plugins/jquery-1.12.0.min.js"></script>
<script src="../../plugins/bootstrap.min.js"></script>
<script src="../../js/common.js"></script>
<script>

</script>
</body>
</html>