<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartcold.bgzigbee.manage.sc360.dao.ReportMapper" >
    <select id="findDLRDCByFilter" parameterType="map" resultType="map">
		   SELECT * FROM ( 
		     (select  rc.id ,0 as type,  rc.`name`,dev.`addtime`  from `deviceobjectmapping` dev  LEFT JOIN `smartcold`.`rdc` rc on(dev.`rdcid`= rc.`id`)  where dev.`rdcid`!= 0  and dev.`rdcid` IS NOT NULL  and rc.`name` IS NOT NULL  GROUP BY dev.`rdcid` ) 
		   UNION 
		      (SELECT sp.`rdcid` id,1 as type,rc.`name`,sp.`addTime`  FROM `smartcold`.`spidercollectionconfig` sp  LEFT JOIN `smartcold`.`rdc` rc  on (sp.`rdcid` =rc.id ) where rc.`name` IS NOT NULL ) 
		    ) A1 where 1=1 <if test="keyword!=null"> and `name` like '%${keyword}%' or id  like '%${keyword}%'</if><if test="type!=null"> type= #{type}</if> GROUP BY  id ORDER BY `addtime` desc
    </select>
</mapper>