<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" name="keywords" content="链库,链库网,冷库360,冷库,冷链,智慧冷库,冷库节能,冷库监控,冷库智能管理,冷库能效评估,温度追溯,冷链物流,冷链电商"/>
    <meta charset="utf-8" name="description" content="冷库智能管理与云服务平台。国内最大、最权威的冷库信息平台，以及冷库管理可视化与能效在线评估系统。"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>实时报警</title>
    <link rel="stylesheet" type="text/css" href="../com/css/common.css">
     <link rel="stylesheet" href="../com/css/swiper.min.css" />
    <link rel="stylesheet" href="../com/css/cold360.css" />
    <script type="text/javascript" src="../com/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="../com/js/echarts-all.js" ></script>
	<script type="text/javascript" src="../com/js/angular.min.js"></script>
    <script type="text/javascript" src="../com/js/common.js"></script>
    <script type="text/javascript" src="../com/js/swiper.min.js" ></script>
    <script type="text/javascript" src="../com/js/cold360.js" ></script>
    <script type="text/javascript" src="../app/js/alarmLog.js"></script>
</head>
<body ng-app="app" ng-controller="alarmLog" ng-cloak>
    <!-- header -->
         <header class="one">
            <div class="area fl">
                <a href="../view/personal.html"><img class="userImg"></a>
            </div>
            <div class="zoom fr" ng-show="user.roleid == 2 || user.roleid == 3">
                <a class="transion"><i class="iconfont">&#xe73c;</i></a>
            </div>
            <div class="txt omg">
                {{rdcName}}
            </div>
            <ul class="rdcDropList" ng-repeat="storage in storages">
                <li ng-click="viewStorage(storage.id)">{{storage.name}}</li>
            </ul>
        </header>
        <header class="two">
        	<div class="area fl">
        		<a class="cancel"><i class="iconfont">&#xe60e;</i></a>
        	</div>

        	<div id="searchDara_div" class="search">
        		<input type="text" placeholder="查找RDC..." ng-model="searchContent" ng-change="searchRdcs(searchContent)" ng-model-options="{debounce: 700}"/>
        		<i class="iconfont" >&#xe62f;</i>
        	</div>
	    </header>
    <!-- header end-->
    <section class="toggle">
    </section>
    <div class="warn_sec alarmLog" style="padding: .9rem;min-height: 66vh;">
        <div class="swiper-container chart temperature">
            <div class="swiper-wrapper" id="chartView">
                <div class="swiper-slide" ng-repeat="storage in mystorages">
                    <p style="font-size: 0.75rem;">{{storage.name}}告警信息</p>
                    <div id="tem_div_{{storage.id}}" style="height:12.5rem;"></div>
                    <div id="timeline">
                        <div class="timeline-block" ng-repeat="obj in tempwarLog[storage.id]"><!-- time  start -->
                            <div class="timeline-dot" style="{{obj.style}}"></div>
                            <div class="timeline-content">
                                <div class="timeline-title">
                                    <div class="clearfix">
                                        <span class="fl" style="font-size: .6rem;">{{obj.time}}</span>
                                        <h4 ng-if="obj.count" class="fr">
                                            <button class="show-more mybtn" style="padding: 0.1rem 0.5rem;"
                                                    ng-click="showdatil(obj,storage.id)"
                                                    ng-init="model[obj.isshow]='详细'">
                                                {{model[obj.isshow]}}
                                            </button>
                                        </h4>
                                    </div>
                                    <h4>{{obj.msg}}</h4>
                                </div>
                                <div class="timeline-content-more" ng-if="obj.isshow==1">
                                    <ul>
                                        <li ng-repeat="obj in obj.datilList">
                                            <p>{{$index+1+'、'+obj.warnigmsg}}</p>
                                            <p>{{" 开始超温时间："+obj.starttime}}</p>
                                            <p>{{" 结束超温时间："+obj.endtime}}</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination" style="bottom: auto;top:2rem;"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next" style="position: fixed;"><i class="iconfont">&#xe691;</i></div>
            <div class="swiper-button-prev" style="position: fixed;"><i class="iconfont">&#xe692;</i></div>
        </div>
        <!--<div class="black">运管告警</div>
        <div class="black">制冷告警</div>-->
        <div class="black">
            <p class="actually">报警日志</p>
            <table class="cold_warn">
                <tbody>
                <tr>
                    <th>序号</th>
                    <th>报警信息</th>
                    <th>报警时间</th>
                </tr>
                <tr ng-repeat="alarmMsg in warLog">
                    <td>{{$index+1}}</td>
                    <td>{{alarmMsg.msg}}</td>
                    <td>{{alarmMsg.addtime}}</td>
                </tr>
                <tr ng-repeat="info in warInfo">
                    <td>{{$index+1}}</td>
                    <td>{{info.warningname}}</td>
                    <td>{{info.addtime}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
<!--rdc列表-------------------------------------------------->
	 <section class="searchTop">
	 	<ul class="rdcList">
	 		<li class="omg" ng-repeat="rdclist in storages | filter:searchContent" ng-click="changeRdc(rdclist)"><i class='iconfont'>&#xe62f;</i><span>{{rdclist.name}}</span></li>
	 	</ul>
	 	<p>没有找到您要的信息~~~<br />请检查您的输入条件是否有误^_^</p>
	 </section>
	 <!--rdc列表----------------------------------------------->
    <ul class="footer">
        <li id="ml_acl1">
            <a href="cold360.html">
                <i class="iconfont">&#xe68d;</i>
                <p class="info">监控</p>
            </a>
        </li>
        <li id="ml_acl70">
            <a href="analysisQuery.html">
                <i class="iconfont">&#xe7c6;</i>
                <p class="info">查询</p>
            </a>
        </li>
        <li class="active" id="ml_acl200">
            <a href="alarmLog.html">
                <i class="iconfont"><!--&#xe698;-->&#xe697;</i>
                <p class="info">告警</p>
                <span class="countNum" ng-if="alarmTotalCnt > 0" ng-bind="alarmTotalCnt"></span>
            </a>
        </li>
    </ul>
    <div class="goTop"><i class="iconfont">&#xe747;</i></div>
</body>
</html>