<link rel="stylesheet" href="assets/plugins/datatables/dataTables.bootstrap.css">
<div class="page-header">
  &nbsp;&nbsp;告警
</div>
<div class="box" style="color:#333">
  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#TC" data-toggle="tab">超温报警</a></li>
    <li><a href="#CC" data-toggle="tab">操作不当</a></li>
    <li><a href="#SC" data-toggle="tab">系统告警</a></li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="TC">
      <div class="box-body table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
          <tr class="row">
            <th class="col-lg-1 col-md-1 col-sm-1 text-center">序号</th>
            <th class="col-lg-6 col-md-6 col-sm-5">标题</th>
            <th class="col-lg-2 col-md-4 col-sm-3 text-center">内容</th>
            <th class="col-lg-1 col-md-1 col-sm-1 text-center">开始时间</th>
            <th class="col-lg-1 col-md-1 col-sm-1 text-center">结束时间</th>
            <th class="col-lg-1 col-md-1 col-sm-1 text-center">持续时长</th>
          </tr>
          </thead>
          <tbody>
          <tr class="row" ng-repeat="obj in warLog">
            <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{$index+1}}</td>
            <td class="col-lg-6 col-md-6 col-sm-5">{{obj.msg}}</td>
            <td class="col-lg-2 col-md-4 col-sm-3 text-center">{{ obj.addtime }}</td>
            <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{ obj.addtime }}</td>
            <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{ obj.addtime }}</td>
            <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{ obj.addtime }}</td>
          </tr>
          <tr class="row" ng-repeat="info in warInfo">
            <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{$index+1}}</td>
            <td class="col-lg-6 col-md-6 col-sm-5">{{info.warningname}}</td>
            <td class="col-lg-2 col-md-4 col-sm-3 text-center">{{info.addtime }}</td>
            <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{info.addtime }}</td>
            <td
        </table>
      </div>
    </div>
    <div class="tab-pane fade" id="CC">
      <div class="box-body table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
          <tr class="row">
            <th class="col-lg-1 col-md-1 col-sm-1 text-center">序号</th>
            <th class="col-lg-6 col-md-6 col-sm-5">标题</th>
            <th class="col-lg-2 col-md-4 col-sm-3 text-center">内容</th>
            <th class="col-lg-1 col-md-1 col-sm-1 text-center">开始时间</th>
            <th class="col-lg-1 col-md-1 col-sm-1 text-center">结束时间</th>
            <th class="col-lg-1 col-md-1 col-sm-1 text-center">持续时长</th>
          </tr>
          </thead>
          <tbody>
          <tr class="row" ng-repeat="obj in warLog">
            <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{$index+1}}</td>
            <td class="col-lg-6 col-md-6 col-sm-5">{{obj.msg}}</td>
            <td class="col-lg-2 col-md-4 col-sm-3 text-center">{{ obj.addtime }}</td>
            <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{ obj.addtime }}</td>
            <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{ obj.addtime }}</td>
            <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{ obj.addtime }}</td>
          </tr>
          <tr class="row" ng-repeat="info in warInfo">
            <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{$index+1}}</td>
            <td class="col-lg-6 col-md-6 col-sm-5">{{info.warningname}}</td>
            <td class="col-lg-2 col-md-4 col-sm-3 text-center">{{info.addtime }}</td>
            <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{info.addtime }}</td>
            <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{info.addtime }}</td>
            <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{info.addtime }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane fade" id="SC">
      <div class="box-body table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
          <tr class="row">
            <th class="col-lg-1 col-md-1 col-sm-1 text-center">序号</th>
            <th class="col-lg-6 col-md-6 col-sm-5">标题</th>
            <th class="col-lg-2 col-md-4 col-sm-3 text-center">内容</th>
            <th class="col-lg-1 col-md-1 col-sm-1 text-center">开始时间</th>
            <th class="col-lg-1 col-md-1 col-sm-1 text-center">结束时间</th>
            <th class="col-lg-1 col-md-1 col-sm-1 text-center">持续时长</th>
          </tr>
          </thead>
          <tbody>
          <tr class="row" ng-repeat="obj in warLog">
            <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{$index+1}}</td>
            <td class="col-lg-6 col-md-6 col-sm-5">{{obj.msg}}</td>
            <td class="col-lg-2 col-md-4 col-sm-3 text-center">{{ obj.addtime }}</td>
            <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{ obj.addtime }}</td>
            <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{ obj.addtime }}</td>
            <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{ obj.addtime }}</td>
          </tr>
          <tr class="row" ng-repeat="info in warInfo">
            <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{$index+1}}</td>
            <td class="col-lg-6 col-md-6 col-sm-5">{{info.warningname}}</td>
            <td class="col-lg-2 col-md-4 col-sm-3 text-center">{{info.addtime }}</td>
            <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{info.addtime }}</td>
            <td
        </table>
      </div>
    </div>
  </div>


  <!-- /.box-body -->
</div>
<script src="assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="assets/plugins/datatables/dataTables.bootstrap.min.js"></script>

<!-- SlimScroll -->
<script src="assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="assets/plugins/fastclick/fastclick.js"></script>
