<link rel="stylesheet" href="assets/plugins/datatables/dataTables.bootstrap.css">
<div class="page-header">
  &nbsp;&nbsp;报警日志
</div>
<div class="box baoyang_bg slideInDown animated" style="color:#333">
  <div class="box-body table-responsive">
    <table id="alarmLog" class="table table-bordered table-striped">
      <thead>
        <tr class="row">
          <th class="col-lg-1 col-md-1 col-sm-1 text-center">序号</th>
          <th class="col-lg-9 col-md-8 col-sm-7">报警信息</th>
          <th class="col-lg-2 col-md-3 col-sm-4 text-center">报警时间</th>
        </tr>
      </thead>
      <tbody>
        <tr class="row" ng-repeat="obj in warLog">
          <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{$index+1}}</td>
          <td class="col-lg-9 col-md-8 col-sm-7">{{obj.msg}}</td>
          <td class="col-lg-2 col-md-3 col-sm-4 text-center">{{ obj.addtime }}</td>
        </tr>
         <tr class="row" ng-repeat="info in warInfo">
          <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{$index+1}}</td>
          <td class="col-lg-9 col-md-8 col-sm-7">{{info.warningname}}</td>
          <td class="col-lg-2 col-md-3 col-sm-4 text-center">{{info.addtime }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
</div>
<script src="assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="assets/plugins/datatables/dataTables.bootstrap.min.js"></script>

<!-- SlimScroll -->
<script src="assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="assets/plugins/fastclick/fastclick.js"></script>
