<link rel="stylesheet" href="assets/plugins/datatables/dataTables.bootstrap.css">
<div class="box myrecord" style="color:#333;background: #D1D5DE;margin: 0 15px;padding-right:15px;">
  <div class="box-header with-border">
  	<h3 class="box-title">维修完结记录</h3>
  	<div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div>
  </div>
  <div class="box-body">
    <table id="records" class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th class="text-center">序号</th>
          <th>机组名称</th>
          <th>维修原因/保养要求</th>
          <th>预约维修时间</th>
          <th>实际维修时间</th>
          <th>维修详情</th>
          <th>备注</th>
          <th>维修评价</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          	<td class="text-center">1</td>
          	<td>机组1，1号压缩机</td>
          	<td>常规检查，更换冷冻油</td>
          	<td>2016-07-02</td>
          	<td>2016-07-03</td>
          	<td>油污染已更换，其他过滤器已检查</td>
          	<td></td>
          	<td contenteditable="true">服务好</td>          	
        </tr>
        
        <tr>
          	<td class="text-center">2</td>
          	<td>机组1，2号压缩机</td>
          	<td>常规检查，更换冷冻油，压缩机排温高</td>
          	<td>2016-07-02</td>
          	<td>2016-07-03</td>
          	<td>油污染已更换，吸气过滤芯已清洗，其他过滤器已检查</td>
          	<td>下次藏堵需更换新的吸气过滤芯</td>
          	<td contenteditable="true"></td>          	
        </tr>
        
        <tr>
          	<td class="text-center">3</td>
          	<td>机组2，1号压缩机</td>
          	<td>常规检查，油压差报警</td>
          	<td>2016-07-29</td>
          	<td>2016-07-30</td>
          	<td>油槽过滤网已清洗</td>
          	<td></td>
          	<td contenteditable="true">现场测试正常</td>          	
        </tr>
        
        <tr>
          	<td class="text-center">4</td>
          	<td>机组2，2号压缩机</td>
          	<td>常规检查</td>
          	<td>2016-08-05</td>
          	<td>2016-08-06</td>
          	<td>已更换干燥过滤芯</td>
          	<td></td>
          	<td contenteditable="true">服务好</td>          	
        </tr>
        
        <tr>
          	<td class="text-center">5</td>
          	<td>机组2，3号压缩机</td>
          	<td>低油位报警</td>
          	<td>2016-09-15</td>
          	<td>2016-09-17</td>
          	<td>已检查，清洗油过滤器，测试油位控制器性能</td>
          	<td></td>
          	<td contenteditable="true">现场测试正常</td>          	
        </tr>
        <tr>
          	<td class="text-center">6</td>
          	<td>机组2，4号压缩机</td>
          	<td>接触器吸合时有杂音</td>
          	<td>2016-09-15</td>
          	<td>2016-09-17</td>
          	<td>已检查，接触器松动，积灰导致线圈衔铁接触面毛糙，已更换新接触器。</td>
          	<td></td>
          	<td contenteditable="true">现场测试正常</td>          	
        </tr>
        <tr>
          	<td class="text-center">7</td>
          	<td>机组2</td>
          	<td>储液器液位低，各项保护是否有效</td>
          	<td>2016-09-15</td>
          	<td>2016-09-17</td>
          	<td>已检查，增补制冷剂</td>
          	<td></td>
          	<td contenteditable="true">服务好，收费合理。</td>          	
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
</div>
<!-- 故障申请记录 -->
<div class="box myrecord" style="color:#333;background: #D1D5DE;margin:15px;padding-right:15px;">
  <div class="box-header with-border">
  	<h3 class="box-title">维修申请记录</h3>
  	<div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div>
  </div>
  <div class="box-body">
    <table id="applyRecords" class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th class="text-center">序号</th>
          <th>机组名称</th>
          <th>维修原因/保养要求</th>
          <th>预约维修时间</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          	<td class="text-center">1</td>
          	<td>机组1，1号压缩机</td>
          	<td>常规检查，更换冷冻油</td>
          	<td>2016-07-02</td>       	
        </tr>
        
        <tr>
          	<td class="text-center">2</td>
          	<td>机组1，2号压缩机</td>
          	<td>常规检查，更换冷冻油，压缩机排温高</td>
          	<td>2016-07-02</td>        	
        </tr>
        
        <tr>
          	<td class="text-center">3</td>
          	<td>机组2，1号压缩机</td>
          	<td>常规检查，油压差报警</td>
          	<td>2016-07-29</td>        	
        </tr>
        <tr>
          	<td class="text-center">4</td>
          	<td>机组2，2号压缩机</td>
          	<td>常规检查</td>
          	<td>2016-08-05</td>        	
        </tr>
        
        <tr>
          	<td class="text-center">5</td>
          	<td>机组2，3号压缩机</td>
          	<td>低油位报警</td>
          	<td>2016-09-15</td>        	
        </tr>
        <tr>
          	<td class="text-center">6</td>
          	<td>机组2，4号压缩机</td>
          	<td>接触器吸合时有杂音</td>
          	<td>2016-09-15</td>       	
        </tr>
        <tr>
          	<td class="text-center">7</td>
          	<td>机组2</td>
          	<td>储液器液位低，各项保护是否有效</td>
          	<td>2016-09-15</td>        	
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
</div>
<script src="assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="assets/plugins/datatables/dataTables.bootstrap.min.js"></script>

<!-- SlimScroll -->
<script src="assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="assets/plugins/fastclick/fastclick.js"></script>
<script type="text/javascript">
	$(function(){
		$("#records,#applyRecords").DataTable(); 
		var addTr = '<tr class="row">'+
          	'<td contenteditable>3</td>'+
          	'<td contenteditable></td>'+
          	'<td contenteditable></td>'+
          	'<td contenteditable></td>'+ 
          	'<td><button class="btn btn-success btn-xs">查看</button></td>'+
        '</tr>'
		$(".applyBtn").click(function(){
			$("#applyRecords tbody").append(addTr)
		})
	})
</script>
