
<div class="page-header">
  &nbsp;&nbsp;故障维修申请
</div>

<div class="box myrecord" style="color:#333;background: #D1D5DE;margin:15px;padding-right:15px;">
  <div class="box-header with-border">
  	<h3 class="box-title">故障申请</h3>
  	<div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div>
  </div>
	<div class="box-body">
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-sm-2 control-label">机组名称</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" ng-model="unitname" placeholder="请输入需要维修机组的名称">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">维修原因/保养要求</label>
			<div class="col-sm-10">
				<textarea  class="form-control" ng-model="reason" placeholder="请输入维修原因/保养要求"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">预约维修时间</label>
			<div class="col-sm-10">
				<div class="input-group col-md-5">
					<input ng-model="ordertime" class="form-control"  type="date" value=""
						 placeholder="请选择时间">
				</div>
			</div>
			
		</div>
		<div class="form-group">
			<div class="col-sm-4 col-sm-offset-4">
				<input type="submit" class="btn btn-primary form-control" ng-click="addMaintenance()" value="提交">
			</div>
		</div>
		</form>
	</div>
	<!-- /.box-body -->
</div>

