<div class="clearfix mainHeight">
  <div class="baoyang_bg" style="min-height:100%;">
  		<div class="binglian">
  			<p><span class="blysj">二并联压缩机</span></p>
  			<div class="row">
  				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 alarm_bg">
  					<strong class="remain"><i>还剩&nbsp;4天</i></strong>
  					<p><b>二并联压缩机1距离下次定期保养</b></p>
  				</div>
  				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 alarm_bg">
  					<strong class="remain"><i>还剩&nbsp;21天</i></strong>
  					<p><b>二并联压缩机2距离下次定期保养</b></p>
  				</div>
  				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 alarm_bg">
  					<strong class="remain"><i>还剩&nbsp;6天</i></strong>
  					<p><b>二并联压缩机3距离下次定期保养</b></p>
  				</div>
  			</div>
  		</div>
  		<div class="binglian">
  			<p><span class="blysj">三并联压缩机</span></p>
  			<div class="row">
  				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 alarm_bg">
  					<strong class="remain"><i>还剩&nbsp;2天</i></strong>
  					<p><b>三并联压缩机1距离下次定期保养</b></p>
  				</div>
  				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 alarm_bg">
  					<strong class="remain"><i>还剩&nbsp;11天</i></strong>
  					<p><b>三并联压缩机2距离下次定期保养</b></p>
  				</div>
  				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 alarm_bg">
  					<strong class="remain"><i>还剩&nbsp;3天</i></strong>
  					<p><b>三并联压缩机3距离下次定期保养</b></p>
  				</div>
  				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 alarm_bg">
  					<strong class="remain"><i>还剩&nbsp;12天</i></strong>
  					<p><b>三并联压缩机4距离下次定期保养</b></p>
  				</div>
  			</div>
  		</div>
  		<div class="binglian">
  			<p><span class="blysj">四并联压缩机</span></p>
  			<div class="row">
  				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 alarm_bg">
  					<strong class="remain"><i>还剩&nbsp;5天</i></strong>
  					<p><b>四并联压缩机1距离下次定期保养</b></p>
  				</div>
  				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 alarm_bg">
  					<strong class="remain"><i>还剩&nbsp;7天</i></strong>
  					<p><b>四并联压缩机2距离下次定期保养</b></p>
  				</div>
  				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 alarm_bg">
  					<strong class="remain"><i>还剩&nbsp;11天</i></strong>
  					<p><b>四并联压缩机3距离下次定期保养</b></p>
  				</div>
  				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 alarm_bg">
  					<strong class="remain"><i>还剩&nbsp;3天</i></strong>
  					<p><b>四并联压缩机4距离下次定期保养</b></p>
  				</div>
  				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 alarm_bg">
  					<strong class="remain"><i>还剩&nbsp;1天</i></strong>
  					<p><b>四并联压缩机5距离下次定期保养</b></p>
  				</div>
  			</div>
  		</div>
  </div> 
</div>
<script>
	$(function(){
      var mainHeight = $(".content-wrapper").height();
      $(".mainHeight").height(mainHeight);
  })
</script>