<div class="page-content">
    <div class="page-header">

    </div>

    <section class="content">
        <div class="row">

            <div class="col-md-12">
                <!-- Temperature now CHART -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">冷库温度监控</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <div id="temperatureNowChart" style="height:400px"></div>
                        </div>
                    </div>
                </div><!-- 1 -->

                <!-- Temperature CHART -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">冷库温度监控</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <div id="temperatureChart" style="height:300px"></div>
                        </div>
                    </div>
                </div><!-- 1 -->

                <!-- Energy CHART -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">冷库能耗监控</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <div id="energyChart" style="height:300px"></div>
                        </div>
                    </div>
                </div><!-- 2 -->

                <!--&lt;!&ndash; Pressure CHART &ndash;&gt;-->
                <!--<div class="box box-info">-->
                    <!--<div class="box-header with-border">-->
                        <!--<h3 class="box-title">压缩机组压力监控</h3>-->
                        <!--<div class="box-tools pull-right">-->
                            <!--<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>-->
                            <!--<button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="box-body">-->
                        <!--<div class="chart">-->
                            <!--<div id="pressureChart" style="height:300px"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>&lt;!&ndash; 2 &ndash;&gt;-->

                <!--&lt;!&ndash; Pressure CHART &ndash;&gt;-->
                <!--<div class="box box-info">-->
                    <!--<div class="box-header with-border">-->
                        <!--<h3 class="box-title">压缩机组温度监控</h3>-->
                        <!--<div class="box-tools pull-right">-->
                            <!--<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>-->
                            <!--<button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="box-body">-->
                        <!--<div class="chart">-->
                            <!--<div id="compressorTemperChart" style="height:300px"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>&lt;!&ndash; 2 &ndash;&gt;-->

                <!-- Pressure CHART -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">冷库门开关监控</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <div id="storageDoorChart" style="height:300px"></div>
                        </div>
                    </div>
                </div><!-- 2 -->

                <!-- Storage CHART -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">冷库进出货监控</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <div id="barChart" style="height:300px"></div>
                        </div>
                    </div>
                </div><!-- 2 -->

            </div>
        </div>
    </section>
</div>