<div class="sys_group"  >
	<div class="page-header goback">
		<a href="#/cold360Physical"><i class="icon iconfont">&#xe64a;</i> 返回</a>
    </div>
	<!-- 温度系统 -->
	<div class="box bg-gray">
	    <div class="box-header with-border">
	        <h3 class="box-title">温度系统</h3>
	    </div>
	    <div class="box-body">
	   		<!-- 有设备 -->
	   		<div class="haveDevice">
	   			<div class="circle fontBlue">
	   				78<span>分</span>
	   			</div>
	   			<a href="#/cold360PhysicalDetail"><button class="btn bgBlue">查看详情</button></a>
	   		</div>
	   		<!-- 建议安装设备 -->
	   		<div class="noDevice black">
	   			<div class="circle bluePlus"></div>
	   			<a href="javascript:;"><button class="btn bgBlue disabled">建议安装监控设备</button></a>
	   		</div>
	    </div>
	</div>
	<!-- 运管系统 -->
	<div class="box bg-gray">
	    <div class="box-header with-border">
	        <h3 class="box-title">运管系统</h3>
	    </div>
	    <div class="box-body">
			<!-- 有设备 -->
	   		<div class="haveDevice">
	   			<div class="circle fontGold">
	   				70<span>分</span>
	   			</div>
	   			<a href="#/cold360PhysicalDetail"><button class="btn bgGold">查看详情</button></a>
	   		</div>
	   		<!-- 建议安装设备 -->
	   		<div class="noDevice black">
	   			<div class="circle goldPlus"></div>
	   			<a href="javascript:;"><button class="btn bgGold disabled">建议安装监控设备</button></a>
	   		</div>
	    </div>
	</div>
	<!-- 制冷系统 -->
	<div class="box bg-gray">
	    <div class="box-header with-border">
	        <h3 class="box-title">制冷系统</h3>
	    </div>
	    <div class="box-body">
   			<!-- 有设备 -->
	   		<div class="haveDevice black">
	   			<div class="circle fontGreen">
	   				100<span>分</span>
	   			</div>
	   			<a href="#/cold360PhysicalDetail"><button class="btn bgGreen">查看详情</button></a>
	   		</div>
	   		<!-- 建议安装设备 -->
	   		<div class="noDevice">
	   			<div class="circle greenPlus"></div>
	   			<a href="javascript:;"><button class="btn bgGreen disabled">建议安装监控设备</button></a>
	   		</div>
	    </div>
	</div>
</div>
<!-- loading 遮罩html -->
<div class="cover_bg black">
	<div class="loader">
        <div class="loader-inner line-scale">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <br/>
        加载中，请稍后 ^_^……
      </div>
</div>
