<div class="page-content">
    <div class="page-header">

    </div>

    <section class="content">
        <div class="row">
            <div class="col-md-4">
                <!-- AREA CHART -->
                <div class="box bg-gray">
                    <div class="box-header with-border">
                        <h3 class="box-title">冷库实时温度</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <div id="temperatureNowChart" style="height:300px"></div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col (LEFT) -->
            <div class="col-md-8">
                <!-- LINE CHART -->
                <div class="box bg-gray">
                    <div class="box-header with-border">
                        <h3 class="box-title">冷库历史温度</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <div id="temperatureChart" style="height:300px"></div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col (RIGHT) -->
        </div><!-- /.row -->

    </section><!-- /.content -->
</div>