<div id="physicalstep1" class="clearfix mainHeight">
  <div class="cold_bg" style="height:100%;">
  		<h1>{{msg}}</h1>
  		<div class="radius_bg">  			
  			<a href="#/cold360Physical" ng-click="physical()">一键检测<i class="icon iconfont">&#xe62f;</i></a>
  		</div>
  </div>
</div>
<div id="physicalstep2" class="sys_group black"  >
	<div class="page-header goback">
<!-- 		<a href="#/cold360Physical" ng-click="showpage(1);"><i class="icon iconfont">&#xe64a;</i> 返回</a> -->
    </div>
	<!-- 温度系统 -->
	<div class="box bg-gray">
	    <div class="box-header with-border">
	        <h3 class="box-title">温度系统</h3>
	    </div>
	    <div class="box-body">
	   		<!-- 有设备 -->
	   		<div class="haveDevice" ng-if="data.ishasTempDEV">
	   			<div class="circle fontBlue">
	   				{{data.avgTempScores}}<span>分</span>
	   			</div>
	   			<a href="#/cold360Physical" ng-click="showsg(3,'grouppan1')"><button class="btn bgBlue">查看详情</button></a>
	   		</div>
	   		<!-- 建议安装设备 -->
	   		<div class="noDevice " ng-if="!data.ishasTempDEV">
	   			<div class="circle bluePlus"></div>
	   			<a href="javascript:;"><button class="btn bgBlue disabled">建议安装监控设备</button></a>
	   		</div>
	    </div>
	</div>
	<!-- 运管系统 -->
	<div class="box bg-gray">
	    <div class="box-header with-border">
	        <h3 class="box-title">运管系统</h3>
	    </div>
	    <div class="box-body">
			<!-- 有设备 -->
	   		<div class="haveDevice" ng-if="data.ishasTempDEV">
	   			<div class="circle fontGold">
	   				{{data.avgTransportScores}}<span>分</span>
	   			</div>
	   			<a href="#/cold360Physical" ng-click="showsg(3,'grouppan2')"><button class="btn bgGold">查看详情</button></a>
	   		</div>
	   		<!-- 建议安装设备 -->
	   		<div class="noDevice " ng-if="!data.ishasTempDEV">
	   			<div class="circle goldPlus"></div>
	   			<a href="javascript:;"><button class="btn bgGold disabled">建议安装监控设备</button></a>
	   		</div>
	    </div>
	</div>
	<!-- 制冷系统 -->
	<div class="box bg-gray">
	    <div class="box-header with-border">
	        <h3 class="box-title">制冷系统</h3>
	    </div>
	    <div class="box-body">
   			<!-- 有设备 -->
	   		<div class="haveDevice " ng-if="data.ishasTempDEV">
	   			<div class="circle fontGreen">
	   				{{data.avgColdStorageScores}}<span>分</span>
	   			</div>
	   			<a href="#/cold360Physical" ng-click="showsg(3,'grouppan3')"><button class="btn bgGreen">查看详情</button></a>
	   		</div>
	   		<!-- 建议安装设备 -->
	   		<div class="noDevice " ng-if="!data.ishasTempDEV">
	   			<div class="circle greenPlus"></div>
	   			<a href="javascript:;"><button class="btn bgGreen disabled">建议安装监控设备</button></a>
	   		</div>
	    </div>
	</div>
	<!-- loading 遮罩html -->

</div>
<div id="physicalstep3" class="score_list black" >
	<div class="page-header goback">
		<a href="#/cold360Physical" ng-click="showpage(2);"><i class="icon iconfont">&#xe64a;</i> 返回</a>
    </div>
	<!-- 温度系统 -->
	<div id="phsg_sour3">
				<div  id="grouppan1"  class="box bg-gray">
				    <div class="box-header with-border">
				        <h3 class="box-title">温度系统</h3>
				         <div class="box-tools pull-right">
				             <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
				             <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
				         </div>
				    </div>
				    <div class="box-body">
				    	<ul>
				    		<li class="row" ng-repeat="obj in mystorages"  >
					    		<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 coldName">{{obj.name}}</div>
					    		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-5 progress ">	    		
								    <div class="progress-bar progress-bar-{{data.TempScores[obj.id][0]}}" role="progressbar" aria-valuenow="{{data.TempScores[obj.id][1]}}" aria-valuemin="0" aria-valuemax="100" style="width: {{data.TempScores[obj.id][1]}}%;">
								    </div>
								</div>
								<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 coldName coldName-{{data.TempScores[obj.id][0]}}"><b>{{data.TempScores[obj.id][1]}}分</b></div>
				    		</li>
				    	</ul>
				    </div>
				</div>
				<!-- 运管系统 -->
				<div  id="grouppan2"  class="box bg-gray">
				    <div class="box-header with-border">
				        <h3 class="box-title">运管系统</h3>
				         <div class="box-tools pull-right">
				             <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
				             <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
				         </div>
				    </div>
				    <div class="box-body">
				    	<ul>
				    		<li class="row" ng-repeat="obj in mystorages">
					    		<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 coldName">{{obj.name}}</div>
					    		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-5 progress ">	    		
								    <div class="progress-bar progress-bar-{{data.TransportScores[obj.id][0]}}" role="progressbar" val="" aria-valuenow="{{data.TransportScores[obj.id][1]}}" aria-valuemin="0" aria-valuemax="100" style="width: {{data.TransportScores[obj.id][1]}}%;">
								    </div>
								</div>
								<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 coldName coldName-{{data.TransportScores[obj.id][0]}}"><b>{{data.TransportScores[obj.id][1]}}分</b></div>
				    		</li>
				    	</ul>
				    </div>
				</div>
				<!-- 制冷系统 -->
				<div id="grouppan3" class="box bg-gray">
				    <div class="box-header with-border">
				        <h3 class="box-title">制冷系统</h3>
				         <div class="box-tools pull-right">
				             <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
				             <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
				         </div>
				    </div>
				    <div class="box-body">
				    	<ul>
				    		<li class="row"   ng-repeat="obj in mystorages">
					    		<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 coldName">{{obj.name}}</div>
					    		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-5 progress ">	    		
								    <div class="progress-bar progress-bar-{{data.ColdStorageScores[obj.id][0]}}" role="progressbar" aria-valuenow="{{data.ColdStorageScores[obj.id][1]}}" aria-valuemin="0" aria-valuemax="100" style="width: {{data.ColdStorageScores[obj.id][1]}}%;">
								    </div>
								</div>
								<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 coldName coldName-{{data.ColdStorageScores[obj.id][0]}}"><b>{{data.ColdStorageScores[obj.id][1]}}分</b></div>
				    		</li>
				    	</ul>
				    </div>
	      </div>
	</div>
</div>
<div id="physicalstep4" class="score_list black" >

</div>
<div id="loding" class="cover_bg black">
	<div class="loader">
        <div class="loader-inner line-scale">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <br/>
                                正在体检，请稍后！
      </div>
</div>



