<div class="page-content">
    <div class="page-header">

    </div>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- MarkPoint Map CHART -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">冷库温度地图</h3>

                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="chart" id="mapChart" style="height:500px"></div>
   <!--                     <div>
                            <input type="text" value="" id="keyword"/>
                            <input type="button" name="" id="" value="查询" ng-click="search()"/>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>