<div class="score_list" >
	<!-- 温度系统 -->
	<div class="box bg-gray">
	    <div class="box-header with-border">
	        <h3 class="box-title">温度系统</h3>
	         <div class="box-tools pull-right">
	             <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
	             <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
	         </div>
	    </div>
	    <div class="box-body">
	    	<ul>
	    		<li class="row">
		    		<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 coldName">冷库1</div>
		    		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-5 progress ">	    		
					    <div class="progress-bar progress-bar-60" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
					        <span class="sr-only">60% 完成</span>
					    </div>
					</div>
					<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 coldName coldName-60"><b>60分</b></div>
	    		</li>
	    		<li class="row">
		    		<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 coldName">冷库2</div>
		    		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-5 progress ">	    		
					    <div class="progress-bar progress-bar-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
					        <span class="sr-only">70% 完成</span>
					    </div>
					</div>
					<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 coldName coldName-70"><b>70分</b></div>
	    		</li>
	    		<li class="row">
		    		<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 coldName">冷库2</div>
		    		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-5 progress ">	    		
					    <div class="progress-bar progress-bar-80" role="progressbar"aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
					        <span class="sr-only">80% 完成</span>
					    </div>
					</div>
					<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 coldName coldName-80"><b>80分</b></div>
	    		</li>
	    		<li class="row">
		    		<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 coldName">冷库4</div>
		    		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-5 progress ">	    		
					    <div class="progress-bar progress-bar-90" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
					        <span class="sr-only">90% 完成</span>
					    </div>
					</div>
					<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 coldName coldName-90"><b>90分</b></div>
	    		</li>
	    		<li class="row">
		    		<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 coldName">冷库5</div>
		    		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-5 progress ">	    		
					    <div class="progress-bar progress-bar-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
					        <span class="sr-only">100% 完成</span>
					    </div>
					</div>
					<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 coldName coldName-100"><b>100分</b></div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 coldName coldName-100">
						<a href="#/overTemperature">查看详情&gt;&gt;</a>
					</div>
	    		</li>
	    	</ul>
	    </div>
	</div>
	<!-- 运管系统 -->
	<div class="box bg-gray">
	    <div class="box-header with-border">
	        <h3 class="box-title">运管系统</h3>
	         <div class="box-tools pull-right">
	             <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
	             <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
	         </div>
	    </div>
	    <div class="box-body">
	    	<ul>
	    		<li class="row">
		    		<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 coldName">冷库1</div>
		    		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-5 progress ">	    		
					    <div class="progress-bar progress-bar-60" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
					        <span class="sr-only">60% 完成</span>
					    </div>
					</div>
					<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 coldName coldName-60"><b>60分</b></div>
	    		</li>
	    		<li class="row">
		    		<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 coldName">冷库2</div>
		    		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-5 progress ">	    		
					    <div class="progress-bar progress-bar-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
					        <span class="sr-only">70% 完成</span>
					    </div>
					</div>
					<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 coldName coldName-70"><b>70分</b></div>
	    		</li>
	    		<li class="row">
		    		<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 coldName">冷库2</div>
		    		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-5 progress ">	    		
					    <div class="progress-bar progress-bar-80" role="progressbar"aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
					        <span class="sr-only">80% 完成</span>
					    </div>
					</div>
					<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 coldName coldName-80"><b>80分</b></div>
	    		</li>
	    		<li class="row">
		    		<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 coldName">冷库4</div>
		    		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-5 progress ">	    		
					    <div class="progress-bar progress-bar-90" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
					        <span class="sr-only">90% 完成</span>
					    </div>
					</div>
					<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 coldName coldName-90"><b>90分</b></div>
	    		</li>
	    		<li class="row">
		    		<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 coldName">冷库5</div>
		    		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-5 progress ">	    		
					    <div class="progress-bar progress-bar-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
					        <span class="sr-only">100% 完成</span>
					    </div>
					</div>
					<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 coldName coldName-100"><b>100分</b></div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 coldName coldName-100">
						<a href="#/doorAnalysis">查看详情&gt;&gt;</a>
					</div>
	    		</li>
	    	</ul>
	    </div>
	</div>
	<!-- 制冷系统 -->
	<div class="box bg-gray">
	    <div class="box-header with-border">
	        <h3 class="box-title">制冷系统</h3>
	         <div class="box-tools pull-right">
	             <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
	             <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
	         </div>
	    </div>
	    <div class="box-body">
	    	<ul>
	    		<li class="row">
		    		<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 coldName">机组1</div>
		    		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-5 progress ">	    		
					    <div class="progress-bar progress-bar-60" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
					        <span class="sr-only">60% 完成</span>
					    </div>
					</div>
					<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 coldName coldName-60"><b>60分</b></div>
	    		</li>
	    		<li class="row">
		    		<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 coldName">机组2</div>
		    		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-5 progress ">	    		
					    <div class="progress-bar progress-bar-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
					        <span class="sr-only">70% 完成</span>
					    </div>
					</div>
					<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 coldName coldName-70"><b>70分</b></div>
	    		</li>
	    		<li class="row">
		    		<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 coldName">机组3</div>
		    		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-5 progress ">	    		
					    <div class="progress-bar progress-bar-80" role="progressbar"aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
					        <span class="sr-only">80% 完成</span>
					    </div>
					</div>
					<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 coldName coldName-80"><b>80分</b></div>
	    		</li>
	    		<li class="row">
		    		<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 coldName">机组4</div>
		    		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-5 progress ">	    		
					    <div class="progress-bar progress-bar-90" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
					        <span class="sr-only">90% 完成</span>
					    </div>
					</div>
					<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 coldName coldName-90"><b>90分</b></div>
	    		</li>
	    		<li class="row">
		    		<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 coldName">机组5</div>
		    		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-5 progress ">	    		
					    <div class="progress-bar progress-bar-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
					        <span class="sr-only">100% 完成</span>
					    </div>
					</div>
					<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 coldName coldName-100"><b>100分</b></div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 coldName coldName-100">
						<a href="#/coolingAnalysis">查看详情&gt;&gt;</a>
					</div>
	    		</li>
	    	</ul>
	    </div>
	</div>
</div>
