<div class="sys_group" >
	<!-- 温度系统 -->
	<div class="box bg-gray">
	    <div class="box-header with-border">
	        <h3 class="box-title">温度系统</h3>
	    </div>
	    <div class="box-body">
	   		<!-- 有设备 -->
	   		<div class="haveDevice">
	   			<div class="circle fontBlue">
	   				100<b>分</b>
	   			</div>
	   			<button class="btn bgBlue">查看详情</button>
	   		</div>
	   		<!-- 建议安装设备 -->
	   		<div class="noDevice">
	   			
	   		</div>
	    </div>
	</div>
	<!-- 运管系统 -->
	<div class="box bg-gray">
	    <div class="box-header with-border">
	        <h3 class="box-title">运管系统</h3>
	    </div>
	    <div class="box-body">
			<!-- 有设备 -->
	   		<div class="haveDevice">
	   			<div class="circle fontGold">
	   				100<b>分</b>
	   			</div>
	   			<button class="btn bgGold">查看详情</button>
	   		</div>
	   		<!-- 建议安装设备 -->
	   		<div class="noDevice">
	   			
	   		</div>
	    </div>
	</div>
	<!-- 制冷系统 -->
	<div class="box bg-gray">
	    <div class="box-header with-border">
	        <h3 class="box-title">制冷系统</h3>
	    </div>
	    <div class="box-body">
   			<!-- 有设备 -->
	   		<div class="haveDevice">
	   			<div class="circle fontGreen">
	   				100<b>分</b>
	   			</div>
	   			<button class="btn bgGreen">查看详情</button>
	   		</div>
	   		<!-- 建议安装设备 -->
	   		<div class="noDevice">
	   			
	   		</div>
	    </div>
	</div>
</div>
