<div class="page-content">
    <div class="page-header">

    </div>

    <section class="content">
        <div class="row" style="height: 500px">
            <div class="col-lg-12">
                <div class="row">
                    <!--风机监控-->
                    <div class="col-lg-3">
                        <div class="box bg-gray">
                            <div class="box-header with-border">
                                <h3 class="box-title">1号风机</h3>

                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                        <span class="info-box-icon bg-green" style="height: 85px;width: 85px;"><i
                                class="fa fa-life-ring bg-green"></i></span>

                                <div class="info-box-content" style="padding-left: 2px">
                                    <span class="info-box-text">化霜温度:10℃</span>
                                    <span class="info-box-text">制冷累计时间:12h</span>
                                    <span class="info-box-text">化霜累计时间:15h</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="box bg-gray">
                            <div class="box-header with-border">
                                <h3 class="box-title">2号风机</h3>

                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                        <span class="info-box-icon bg-red" style="height: 85px;width: 85px;"><i
                                class="fa fa-life-ring bg-red"></i></span>

                                <div class="info-box-content" style="padding-left: 2px">
                                    <span class="info-box-text">化霜温度:10℃</span>
                                    <span class="info-box-text">制冷累计时间:12h</span>
                                    <span class="info-box-text">化霜累计时间:15h</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="box bg-gray">
                            <div class="box-header with-border">
                                <h3 class="box-title">3号风机</h3>

                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                        <span class="info-box-icon bg-yellow" style="height: 85px;width: 85px;"><i
                                class="fa fa-life-ring bg-yellow"></i></span>

                                <div class="info-box-content" style="padding-left: 2px">
                                    <span class="info-box-text">化霜温度:10℃</span>
                                    <span class="info-box-text">制冷累计时间:12h</span>
                                    <span class="info-box-text">化霜累计时间:15h</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="box bg-gray">
                            <div class="box-header with-border">
                                <h3 class="box-title">4号风机</h3>

                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                        <span class="info-box-icon bg-yellow" style="height: 85px;width: 85px;"><i
                                class="fa fa-life-ring bg-yellow"></i></span>

                                <div class="info-box-content" style="padding-left: 2px">
                                    <span class="info-box-text">化霜温度:10℃</span>
                                    <span class="info-box-text">制冷累计时间:12h</span>
                                    <span class="info-box-text">化霜累计时间:15h</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="box bg-gray">
                            <div class="box-header with-border">
                                <h3 class="box-title">5号风机</h3>

                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                        <span class="info-box-icon bg-red" style="height: 85px;width: 85px;"><i
                                class="fa fa-life-ring bg-red"></i></span>

                                <div class="info-box-content" style="padding-left: 2px">
                                    <span class="info-box-text">化霜温度:10℃</span>
                                    <span class="info-box-text">制冷累计时间:12h</span>
                                    <span class="info-box-text">化霜累计时间:15h</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="box bg-gray">
                            <div class="box-header with-border">
                                <h3 class="box-title">6号风机</h3>

                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                        <span class="info-box-icon bg-green" style="height: 85px;width: 85px;"><i
                                class="fa fa-life-ring bg-green"></i></span>

                                <div class="info-box-content" style="padding-left: 2px">
                                    <span class="info-box-text">化霜温度:10℃</span>
                                    <span class="info-box-text">制冷累计时间:12h</span>
                                    <span class="info-box-text">化霜累计时间:15h</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="box bg-gray">
                            <div class="box-header with-border">
                                <h3 class="box-title">7号风机</h3>

                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                        <span class="info-box-icon bg-green" style="height: 85px;width: 85px;"><i
                                class="fa fa-life-ring bg-green"></i></span>

                                <div class="info-box-content" style="padding-left: 2px">
                                    <span class="info-box-text">化霜温度:10℃</span>
                                    <span class="info-box-text">制冷累计时间:12h</span>
                                    <span class="info-box-text">化霜累计时间:15h</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="box bg-gray">
                            <div class="box-header with-border">
                                <h3 class="box-title">8号风机</h3>

                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                        <span class="info-box-icon bg-green" style="height: 85px;width: 85px;"><i
                                class="fa fa-life-ring bg-green"></i></span>

                                <div class="info-box-content" style="padding-left: 2px">
                                    <span class="info-box-text">化霜温度:10℃</span>
                                    <span class="info-box-text">制冷累计时间:12h</span>
                                    <span class="info-box-text">化霜累计时间:15h</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="box bg-gray">
                            <div class="box-header with-border">
                                <h3 class="box-title">9号风机</h3>

                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                        <span class="info-box-icon bg-red" style="height: 85px;width: 85px;"><i
                                class="fa fa-life-ring bg-red"></i></span>

                                <div class="info-box-content" style="padding-left: 2px">
                                    <span class="info-box-text">化霜温度:10℃</span>
                                    <span class="info-box-text">制冷累计时间:12h</span>
                                    <span class="info-box-text">化霜累计时间:15h</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="box bg-gray">
                            <div class="box-header with-border">
                                <h3 class="box-title">10号风机</h3>

                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                        <span class="info-box-icon bg-green" style="height: 85px;width: 85px;"><i
                                class="fa fa-life-ring bg-green"></i></span>

                                <div class="info-box-content" style="padding-left: 2px">
                                    <span class="info-box-text">化霜温度:10℃</span>
                                    <span class="info-box-text">制冷累计时间:12h</span>
                                    <span class="info-box-text">化霜累计时间:15h</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="box bg-gray">
                            <div class="box-header with-border">
                                <h3 class="box-title">11号风机</h3>

                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                        <span class="info-box-icon bg-green" style="height: 85px;width: 85px;"><i
                                class="fa fa-life-ring bg-green"></i></span>

                                <div class="info-box-content" style="padding-left: 2px">
                                    <span class="info-box-text">化霜温度:10℃</span>
                                    <span class="info-box-text">制冷累计时间:12h</span>
                                    <span class="info-box-text">化霜累计时间:15h</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="box bg-gray">
                            <div class="box-header with-border">
                                <h3 class="box-title">12号风机</h3>

                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                        <span class="info-box-icon bg-green" style="height: 85px;width: 85px;"><i
                                class="fa fa-life-ring bg-green"></i></span>

                                <div class="info-box-content" style="padding-left: 2px">
                                    <span class="info-box-text">化霜温度:10℃</span>
                                    <span class="info-box-text">制冷累计时间:12h</span>
                                    <span class="info-box-text">化霜累计时间:15h</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-gray">
            <div class="col-lg-4">
                <span class="info-box-icon bg-green" style="height: 85px;width: 85px;"><i
                        class="fa fa-life-ring bg-green"></i></span>

                <div class="info-box-content" style="padding-left: 2px">
                    <span class="info-box-text">7个</span>
                    <span class="info-box-text">制冷状态</span>
                </div>
            </div>
            <div class="col-lg-4">
                <span class="info-box-icon bg-yellow" style="height: 85px;width: 85px;"><i
                        class="fa fa-life-ring bg-yellow"></i></span>

                <div class="info-box-content" style="padding-left: 2px">
                    <span class="info-box-text">2个</span>
                    <span class="info-box-text">化霜状态</span>
                </div>
            </div>
            <div class="col-lg-4">
                <span class="info-box-icon bg-red" style="height: 85px;width: 85px;"><i
                        class="fa fa-life-ring bg-red"></i></span>

                <div class="info-box-content" style="padding-left: 2px">
                    <span class="info-box-text">3个</span>
                    <span class="info-box-text">待机状态</span>
                </div>
            </div>
        </div>
    </section>
</div>