<div class="page-content">
    <div class="page-header">

    </div>

    <section class="content">
        <div class="row">

            <div class="col-md-12">

                <!-- Pressure CHART -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">压缩机组压力监控</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <div id="pressureChart" style="height:330px;width: 330px" class=" col-md-4"></div>
                            <div id="pressure1Chart" style="height:330px;width: 330px" class=" col-md-4"></div>
                            <div id="pressure2Chart" style="height:330px;width: 330px" class=" col-md-4"></div>
                        </div>
                    </div>
                </div><!-- 2 -->

                <!-- Pressure CHART -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">压缩机组温度监控</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <div id="compressorTemperChart" style="height:330px" class=" col-md-4"></div>
                            <div id="compressor1TemperChart" style="height:330px" class=" col-md-4"></div>
                            <div id="compressor2TemperChart" style="height:330px" class=" col-md-4"></div>
                            <div id="compressor3TemperChart" style="height:330px" class=" col-md-4"></div>
                            <div id="compressor4TemperChart" style="height:330px" class=" col-md-4"></div>
                        </div>
                    </div>
                </div><!-- 2 -->

            </div>

        </div>
    </section>
</div>