<div class="page-content">
    <div class="page-header">

    </div>

    <section class="content">
        <div class="row">

            <div class="col-md-12">

                <!-- Pressure CHART -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">压缩机组压力监控</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <div id="pressureChart" style="height:300px"></div>
                        </div>
                    </div>
                </div><!-- 2 -->

                <!-- Pressure CHART -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">压缩机组温度监控</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <div id="compressorTemperChart" style="height:300px"></div>
                        </div>
                    </div>
                </div><!-- 2 -->

            </div>

            <!--风机监控-->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">1号风机</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <span class="info-box-icon bg-green"><i class="fa fa-empire bg-green"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">化霜温度:10℃</span>
                            <span class="info-box-text">制冷累计时间:12h</span>
                            <span class="info-box-text">化霜累计时间:15h</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">2号风机</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <span class="info-box-icon bg-red"><i class="fa fa-chrome bg-red"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">化霜温度:10℃</span>
                            <span class="info-box-text">制冷累计时间:12h</span>
                            <span class="info-box-text">化霜累计时间:15h</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">3号风机</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <span class="info-box-icon bg-yellow"><i class="fa fa-life-ring bg-yellow"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">化霜温度:10℃</span>
                            <span class="info-box-text">制冷累计时间:12h</span>
                            <span class="info-box-text">化霜累计时间:15h</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">3号风机</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <span class="info-box-icon bg-maroon"><i class="fa fa-cog bg-maroon"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">化霜温度:10℃</span>
                            <span class="info-box-text">制冷累计时间:12h</span>
                            <span class="info-box-text">化霜累计时间:15h</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">3号风机</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <span class="info-box-icon bg-aqua"><i class="fa fa-futbol-o bg-aqua"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">化霜温度:10℃</span>
                            <span class="info-box-text">制冷累计时间:12h</span>
                            <span class="info-box-text">化霜累计时间:15h</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">3号风机</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <span class="info-box-icon bg-blue"><i class="fa fa-cogs bg-blue"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">化霜温度:10℃</span>
                            <span class="info-box-text">制冷累计时间:12h</span>
                            <span class="info-box-text">化霜累计时间:15h</span>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>
</div>