<div class="page-content">
    <div class="page-header">

    </div>

    <section class="content">
        <div class="row">
            <div class="col-lg-12 col-sm-8 col-xs-8 col-md-8">
                <!-- LINE CHART -->
                <div class="box bg-gray">
                    <div class="box-header with-border">
                        <h3 class="box-title">制冷系统运行效率趋势</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <div id="temperatureChart" style="height:300px"></div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
                <div class="box bg-gray">
                    <div class="box-header with-border">
                        <h3 class="box-title">制冷告警统计</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-lg-13">
			<div class="panel">
				<div class="panel-body">
					<div class="line-group full-width text-center js_status">
						<div class="line-group-item" style="width: 12.5%;">
							<div style="padding:10px;">
								<div class=" hover-pointer relative"  onclick="scrm_comm.showptlist(0);">
									<span style="color: #f79859; font-size: 28px;" class="js_status_1">0</span><br>
									<span>客户总数</span>
									<div class="right-line absolute border-box only-right" style=" right:0;top:18px;height: 30px;"></div>
								</div>
							</div>
						</div>
						<div class="line-group-item" style="width: 12.5%;">
							<div style="padding:10px;">
								<div class=" hover-pointer relative"  onclick="scrm_comm.showptlist(1);" >
									<span style="color: #f79859; font-size: 28px;" class="js_status_2 ">0</span><br>
									<span>新增客户/年</span>
									<div class="right-line absolute border-box only-right" style=" right:0;top:18px;height: 30px;"></div>
								</div>
							</div>
						</div>
						<div class="line-group-item" style="width: 12.5%;">
							<div style="padding:10px;">
								<div class=" hover-pointer relative"  onclick="scrm_comm.showptlist(2);">
									<span style="color: #f79859; font-size: 28px;"
										class="js_status_3 ">0</span><br>
									<span>潜在客户</span>
									<div class="right-line absolute border-box only-right" style=" right:0;top:18px;height: 30px;"></div>
								</div>
							</div>
						</div>
						<div class="line-group-item" style="width: 12.5%;">
							<div style="padding:10px;">
								<div class=" hover-pointer relative" onclick='$("#module-wrap").load("action/platform_partner/usercenter/implement/caseimplement.htm");'>
									<span style="color: #f79859; font-size: 28px;" class="js_status_4 ">0</span><br>
									<span>案件总数</span>
									<div class="right-line absolute border-box only-right" style=" right:0;top:18px;height: 30px;"></div>
								</div>
							</div>
						</div>
						<div class="line-group-item" style="width: 12.5%;">
							<div style="padding:10px;">
								<div class=" hover-pointer relative" onclick='$("#module-wrap").load("action/platform_partner/usercenter/implement/caseimplement.htm");'>
									<span style="color: #f79859; font-size: 28px;" class="js_status_5 ">0</span><br>
									<span>在实施案件</span>
									<div class="right-line absolute border-box only-right" style=" right:0;top:18px;height: 30px;"></div>
								</div>
							</div>
						</div>
						<div class="line-group-item" style="width: 12.5%;">
							<div style="padding:10px;">
								<div class=" hover-pointer relative" onclick='$("#module-wrap").load("action/platform_partner/usercenter/implement/caseimplement.htm");'>
									<span style="color: #f79859; font-size: 28px;" class="js_status_6 ">0</span><br>
									<span>新增案件/月</span>
									<div class="right-line absolute border-box only-right" style=" right:0;top:18px;height: 30px;"></div>
								</div>
							</div>
						</div>
						<div class="line-group-item" style="width: 12.5%;">
							<div style="padding:10px;">
								<div class=" hover-pointer relative">
									<span style="color: #f79859; font-size: 28px;" class="js_status_7 ">0</span><br>
									<span>付款订单</span>
									<div class="right-line absolute border-box only-right" style=" right:0;top:18px;height: 30px;"></div>
								</div>
							</div>
						</div>
						<div class="line-group-item" style="width: 12.5%;">
							<div style="padding:10px;">
								<div class=" hover-pointer relative">
									<span style="color: #f79859; font-size: 28px;" class="js_status_8 ">0</span><i style="color:#f79859 ">万</i><br>
									<span>交易总额</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
                        
                        
                        
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col (RIGHT) -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div>