<div>
  <section class="content-header">
    <h1>冷库选型</h1>
  </section>
  
  <section class="content">
  <div class="row">
  <!-- 冷库参数 -->
    <div class="col-md-12">
	  <div class="box box-gray bg-gray text-black">
	  <!-- head -->
	  <div class="box-header with-border">
	    <h3 class="box-title">冷库参数</h3>
      </div>
	  <div class="box-body">
	    <div class="row">
	      <div class="col-md-12">
	        <table class="table table-striped table-bordered">
	          <tr>
	            <td>冷库长度L(m)</td>
	            <td>{{infos.length}}</td>
	            <td>冷库宽度W(m)</td>
	            <td>{{infos.weight}}</td>
	          </tr>
	          <tr>
	            <td>冷库高度H(m)</td>
	            <td>{{infos.height}}</td>
	            <td>流通量()</td>
	            <td>{{infos.circulation}}</td>
	          </tr>
	          <tr>
	            <td>外界温度(°C)</td>
	            <td>{{infos.outsideTemperature}}</td>
	            <td>库房温度(°C)</td>
	            <td>{{infos.insideTemperature}}</td>
	          </tr>
	          <tr>
	            <td>库外相对湿度(%)</td>
	            <td>{{infos.outsideHumidity}}</td>
	            <td>库内相对湿度(%)</td>
	            <td>{{infos.insideHumidity}}</td>
	          </tr>
	          <tr>
	            <td>负荷温度(°C)</td>
	            <td>{{infos.loadTemperature}}</td>
	            <td>冷却时间(h)</td>
	            <td>{{infos.freezingHour}}</td>
	          </tr>
	        </table>
	      </div>
	    </div>

	  </div>	  

	</div>
  </div>
  
<!-- 材料选择 -->
	<div class="col-md-12">
	  <div class="box box-gray bg-gray text-black">
	  <!-- head -->
	  <div class="box-header with-border">
	    <h3 class="box-title">墙体材料选择</h3>
      </div>
	  <div class="box-body">
	    <div class="row">
	      <div class="col-md-12">
	        <table class="table table-striped table-bordered">
	          <thead>
	            <tr>
	            <th>墙体</th>
	            <th>绝热材料</th>
	            <th>导热系数(单位/W/m*°C)</th>
	            <th>墙体厚度(单位/mm)</th>
	            <th>墙外温度(单位/°C)</th>
		        </tr>
	          </thead>
	          <tbody>
	            <tr>
	            <td>正面墙</td>
	            <td>{{infos.frontWall.material.name}}</td>
	            <td>{{infos.frontWall.material.thermalConductivity}}</td>
	            <td>{{infos.frontWall.thickness}}</td>
	            <td>{{infos.frontWall.outTemperature}}</td> 
	            </tr>
	            <tr>
	            <td>左面墙</td>
	            <td>{{infos.leftWall.material.name}}</td>
	            <td>{{infos.leftWall.material.thermalConductivity}}</td>
	            <td>{{infos.leftWall.thickness}}</td>
	            <td>{{infos.leftWall.outTemperature}}</td> 
	            </tr>
	            <tr>
	            <td>右面墙</td>
	            <td>{{infos.rightWall.material.name}}</td>
	            <td>{{infos.rightWall.material.thermalConductivity}}</td>
	            <td>{{infos.rightWall.thickness}}</td>
	            <td>{{infos.rightWall.outTemperature}}</td> 
	            </tr>
	            <tr>
	            <td>背面墙</td>
	            <td>{{infos.behindWall.material.name}}</td>
	            <td>{{infos.behindWall.material.thermalConductivity}}</td>
	            <td>{{infos.behindWall.thickness}}</td>
	            <td>{{infos.behindWall.outTemperature}}</td> 
	            </tr>
	            <tr>
	            <td>天花板</td>
	            <td>{{infos.ceiling.material.name}}</td>
	            <td>{{infos.ceiling.material.thermalConductivity}}</td>
	            <td>{{infos.ceiling.thickness}}</td>
	            <td>{{infos.ceiling.outTemperature}}</td> 
	            </tr>
	            <tr>
	            <td>地板</td>
	            <td>{{infos.floor.material.name}}</td>
	            <td>{{infos.floor.material.thermalConductivity}}</td>
	            <td>{{infos.floor.thickness}}</td>
	            <td>{{infos.floor.outTemperature}}</td> 
	            </tr>
	          </tbody>
	        </table>
	      </div>
	    </div>
	  </div>
	  
	  </div>
	</div>
<!-- 存储物选择 -->
<div class="col-md-12">
	  <div class="box box-gray bg-gray text-black">
	  <!-- head -->
	  <div class="box-header with-border">
	    <h3 class="box-title">存储物选择</h3>
      </div>
	  <div class="box-body">
	    <div class="row">
	      <div class="col-md-12">
	        <table class="table table-striped table-bordered">
	          <thead>
	            <tr>
	            <td>存储物类型：</td>
	            <td>{{infos.goodsTypeName}}</td>
	            <td>存储物：</td>
	            <td>{{infos.goods.name}}</td>
		        </tr>
	          </thead>
	          <tbody>
	            <tr>
	             <td>冰点(°C)</td>
	             <td>{{infos.goods.freezingPoint}}</td>
	             <td>冷冻显热(KJ/(kg*°C))</td>
	             <td>{{infos.goods.freezingHeat}}</td>
	            </tr>
	            <tr>
	             <td>含水量(%)</td>
	             <td>{{infos.goods.water}}</td>
	             <td>冷却显热(KJ/(kg*°C))</td>
	             <td>{{infos.goods.coolingHeat}}</td>
	            </tr>
	            <tr>
	             <td>呼吸热(W/kg*24h)</td>
	             <td>{{infos.goods.breathHeat}}</td>
	             <td>冷冻潜热(KJ/kg)</td>
	             <td>{{infos.goods.latentHeat}}</td>
	            </tr>
	            <tr>
	             <td>存储物总重量</td>
	             <td>{{infos.goodsTotalWeight}}</td>
	             <td>每日进货量</td>
	             <td>{{infos.goodsWeight}}</td>
	            </tr>
	            <tr>
	             <td>货物初始温度</td>
	             <td>{{infos.goodsFromTemperature}}</td>
	             <td>设计保存温度</td>
	             <td>{{infos.goodsToTemperature}}</td>
	            </tr>
	          </tbody>
	        </table>
	      </div>
	    </div>
	  </div>
	  
	  </div>
	</div>
<!-- 其它选择 -->
<div class="col-md-12">
	  <div class="box box-gray bg-gray text-black">
	  <!-- head -->
	  <div class="box-header with-border">
	    <h3 class="box-title">其它选择</h3>
      </div>
	  <div class="box-body">
	    <div class="row">
	      <div class="col-md-12">
	        <table class="table table-striped table-bordered">
	          <tbody>
	            <tr>
	            <td>冷冻模式</td>
	            <td>{{infos.mode}}</td>
	            <td>密度(kg/m³)</td>
	            <td>{{infos.density}}</td>
		        </tr>
		        <tr>
	            <td>包装</td>
	            <td>{{infos.pack.name}}</td>
	            <td>导热系数(KJ/kg*°C)</td>
	            <td>{{infos.pack.thermalConductivity}}</td>
		        </tr>
	            <tr>
	             <td>库房制冷量(kg)</td>
	             <td>{{infos.refrigeration}}</td>
	             <td>日负荷(kg)</td>
	             <td>{{infos.dailyLoad}}</td>
	            </tr>
	            <tr>
	             <td>照明负荷(W/㎡)</td>
	             <td>{{infos.lightLoad}}</td>
	             <td>其它负荷(Watt)</td>
	             <td>{{infos.otherLoad}}</td>
	            </tr>
	            <tr>
	             <td>库房工作人数</td>
	             <td>{{infos.people}}</td>
	             <td>库房逗留时间(h)</td>
	             <td>{{infos.costTime}}</td>
	            </tr>
	          </tbody>
	        </table>
	      </div>
	    </div>
	  </div>
	  
	  </div>
	</div>
<!-- 热量结果 -->
<div class="col-md-12">
	  <div class="box box-gray bg-gray text-black">
	  <!-- head -->
	  <div class="box-header with-border">
	    <h3 class="box-title">发出热量</h3>
      </div>
	  <div class="box-body">
	    <div class="row">
	      <div class="col-md-12">
	        <table class="table table-striped table-bordered">
	        <tr>
             <td>放出热量(KJ)</td>
             <td>{{infos.result}}</td>
            </tr>
	        </table>
	        </div>
	    </div>
	  </div>
	  </div>
</div>
    <div class="col-md-12">	
	  <button type="submit" class="btn btn-info pull-left" ng-click="print()">打印</button>
	  <button type="submit" class="btn btn-info pull-right" ng-click="close()">关闭</button>
	</div>
	</div>
  </section>		
</div>