<div>
  <section class="content-header">
    <h1>冷库选型</h1>
  </section>
  
  <section class="content">
  <div class="row">
  <!-- 冷库参数 -->
    <div class="col-md-12">
	  <div class="box box-gray bg-gray text-black">
	  <!-- head -->
	  <div class="box-header with-border">
	    <h3 class="box-title">冷库参数</h3>
	    <div class="pull-right box-tools">
          <button class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip" title=""><i class="fa fa-minus"></i></button>
        </div><!-- /. tools -->
      </div>
	  <div class="box-body">
	    <div class="row">
	      <div class="col-md-12">
	        <table class="table table-striped table-bordered">
	          <tr>
	            <td>冷库长度L(m)</td>
	            <td><input class="col-md-6" ng-model="infos.length" ng-change="change()"></input></td>
	            <td>冷库宽度W(m)</td>
	            <td><input class="col-md-6" ng-model="infos.weight" ng-change="change()"></input></td>
	          </tr>
	          <tr>
	            <td>冷库高度H(m)</td>
	            <td><input class="col-md-6" ng-model="infos.height" ng-change="change()"></input></td>
	            <td>流通量()</td>
	            <td><input class="col-md-6" ng-model="infos.circulation"></input></td>
	          </tr>
	          <tr>
	            <td>外界温度(°C)</td>
	            <td><input class="col-md-6" ng-model="infos.outsideTemperature"></input></td>
	            <td>库房温度(°C)</td>
	            <td><input class="col-md-6" ng-model="infos.insideTemperature"></input></td>
	          </tr>
	          <tr>
	            <td>库外相对湿度(%)</td>
	            <td><input class="col-md-6" ng-model="infos.outsideHumidity"></input></td>
	            <td>库内相对湿度(%)</td>
	            <td><input class="col-md-6" ng-model="infos.insideHumidity"></input></td>
	          </tr>
	          <tr>
	            <td>负荷温度(°C)</td>
	            <td><input class="col-md-6" ng-model="infos.loadTemperature"></input></td>
	            <td>冷却时间(h)</td>
	            <td><input class="col-md-6" ng-model="infos.freezingHour"></input></td>
	          </tr>
	        </table>
	      </div>
	      <div class="col-md-6" ng-show="false">
	          <!-- <img class="img-responsive pad" src="assets/img/coldStorage.png"> -->
	          <div id="canvas" style="width: 100%;height: 255px;" ></div>
	      </div>
	    </div>

	  </div>	  

	</div>
  </div>
  
<!-- 材料选择 -->
	<div class="col-md-12">
	  <div class="box box-gray bg-gray text-black">
	  <!-- head -->
	  <div class="box-header with-border">
	    <h3 class="box-title">墙体材料选择</h3>
        <div class="pull-right box-tools">
          <button class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip" title=""><i class="fa fa-minus"></i></button>
        </div><!-- /. tools -->
      </div>
	  <div class="box-body">
	    <div class="row">
	      <div class="col-md-12">
	        <table class="table table-striped table-bordered">
	          <thead>
	            <tr>
	            <th>墙体</th>
	            <th>绝热材料</th>
	            <th>导热系数(单位/W/m*°C)</th>
	            <th>墙体厚度(单位/mm)</th>
	            <th>墙外温度(单位/°C)</th>
		        </tr>
	          </thead>
	          <tbody>
	            <tr>
	            <td>正面墙</td>
	            <td>
	            <select class="form-control" ng-model="infos.frontWall.material" ng-options="material.name for material in materials">
	            </select>
	            </td>
	            <td>{{infos.frontWall.material.thermalConductivity}}</td>
	            <td><input class="form-control" ng-model="infos.frontWall.thickness"/></td>
	            <td><input class="form-control" ng-model="infos.frontWall.outTemperature"/></td> 
	            </tr>
	            <tr>
	            <td>左面墙</td>
	            <td>
	              <select class="form-control" ng-model="infos.leftWall.material" ng-options="material.name for material in materials">
	              </select>
	            </td>
	            <td>{{infos.leftWall.material.thermalConductivity}}</td>
	            <td><input class="form-control" ng-model="infos.leftWall.thickness"/></td>
	            <td><input class="form-control" ng-model="infos.leftWall.outTemperature"/></td> 
	            </tr>
	            <tr>
	            <td>右面墙</td>
	            <td>
	              <select class="form-control" ng-model="infos.rightWall.material" ng-options="material.name for material in materials">
	              </select>
	            </td>
	            <td>{{infos.rightWall.material.thermalConductivity}}</td>
	            <td><input class="form-control" ng-model="infos.rightWall.thickness"/></td>
	            <td><input class="form-control" ng-model="infos.rightWall.outTemperature"/></td> 
	            </tr>
	            <tr>
	            <td>背面墙</td>
	            <td>
	              <select class="form-control" ng-model="infos.behindWall.material" ng-options="material.name for material in materials">
	              </select>
	            </td>
	            <td>{{infos.behindWall.material.thermalConductivity}}</td>
	            <td><input class="form-control" ng-model="infos.behindWall.thickness"/></td>
	            <td><input class="form-control" ng-model="infos.behindWall.outTemperature"/></td> 
	            </tr>
	            <tr>
	            <td>天花板</td>
	            <td>
	              <select class="form-control" ng-model="infos.ceiling.material" ng-options="material.name for material in materials">
	              </select>
	            </td>
	            <td>{{infos.ceiling.material.thermalConductivity}}</td>
	            <td><input class="form-control" ng-model="infos.ceiling.thickness"/></td>
	            <td><input class="form-control" ng-model="infos.ceiling.outTemperature"/></td> 
	            </tr>
	            <tr>
	            <td>地板</td>
	            <td>
	              <select class="form-control" ng-model="infos.floor.material" ng-options="material.name for material in materials">
	              </select>
	            </td>
	            <td>{{infos.floor.material.thermalConductivity}}</td>
	            <td><input class="form-control" ng-model="infos.floor.thickness"/></td>
	            <td><input class="form-control" ng-model="infos.floor.outTemperature"/></td> 
	            </tr>
	          </tbody>
	        </table>
	      </div>
	    </div>
	  </div>
	  
	  </div>
	</div>
<!-- 存储物选择 -->
<div class="col-md-12">
	  <div class="box box-gray bg-gray text-black">
	  <!-- head -->
	  <div class="box-header with-border">
	    <h3 class="box-title">存储物选择</h3>
        <div class="pull-right box-tools">
          <button class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip" title=""><i class="fa fa-minus"></i></button>
        </div><!-- /. tools -->
      </div>
	  <div class="box-body">
	    <div class="row">
	      <div class="col-md-12">
	        <table class="table table-striped table-bordered">
	          <thead>
	            <tr>
	            <td>存储物类型：</td>
	            <td><select class="form-control" ng-model="goodsModel"
	             ng-options="goods.name for goods in allGoods"></select></td>
	            <td>存储物：</td>
	            <td><select class="form-control" ng-model="infos.goods"
	             ng-options="kind.name for kind in goodsModel.goodsEntity"></select></td>
		        </tr>
	          </thead>
	          <tbody>
	            <tr>
	             <td>冰点(°C)</td>
	             <td>{{infos.goods.freezingPoint}}</td>
	             <td>冷冻显热(KJ/(kg*°C))</td>
	             <td>{{infos.goods.freezingHeat}}</td>
	            </tr>
	            <tr>
	             <td>含水量(%)</td>
	             <td>{{infos.goods.water}}</td>
	             <td>冷却显热(KJ/(kg*°C))</td>
	             <td>{{infos.goods.coolingHeat}}</td>
	            </tr>
	            <tr>
	             <td>呼吸热(W/kg*24h)</td>
	             <td>{{infos.goods.breathHeat}}</td>
	             <td>冷冻潜热(KJ/kg)</td>
	             <td>{{infos.goods.latentHeat}}</td>
	            </tr>
	            <tr>
	             <td>存储物总重量</td>
	             <td><input class="form-control" ng-model="infos.goodsTotalWeight"></td>
	             <td>每日进货量</td>
	             <td><input class="form-control" ng-model="infos.goodsWeight"></td>
	            </tr>
	            <tr>
	             <td>货物初始温度</td>
	             <td><input class="form-control" ng-model="infos.goodsFromTemperature"></td>
	             <td>设计保存温度</td>
	             <td><input class="form-control" ng-model="infos.goodsToTemperature"></td>
	            </tr>
	          </tbody>
	        </table>
	      </div>
	    </div>
	  </div>
	  
	  </div>
	</div>
<!-- 其它选择 -->
<div class="col-md-12">
	  <div class="box box-gray bg-gray text-black">
	  <!-- head -->
	  <div class="box-header with-border">
	    <h3 class="box-title">其它选择</h3>
        <div class="pull-right box-tools" >
          <button class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip" title=""><i class="fa fa-minus"></i></button>
        </div><!-- /. tools -->
      </div>
	  <div class="box-body">
	    <div class="row">
	      <div class="col-md-12">
	        <table class="table table-striped table-bordered">
	          <tbody>
	            <tr>
	            <td>冷冻模式</td>
	            <td><select class="form-control" ng-model="infos.mode"
	             ng-options="mode.name for mode in usages"></select></td>
	            <td>密度(kg/m³)</td>
	            <td><input ng-model="infos.density"/></td>
		        </tr>
		        <tr>
	            <td>包装</td>
	            <td><select class="form-control" ng-model="infos.pack"
	             ng-options="pack.name for pack in packs"></select></td>
	            <td>导热系数(KJ/kg*°C)</td>
	            <td>{{infos.pack.thermalConductivity}}</td>
		        </tr>
	            <tr>
	             <td>库房制冷量(kg)</td>
	             <td><input class="form-control" ng-model="infos.refrigeration"/></td>
	             <td>日负荷(kg)</td>
	             <td><input class="form-control" ng-model="infos.dailyLoad"/></td>
	            </tr>
	            <tr>
	             <td>照明负荷(W/㎡)</td>
	             <td><input class="form-control" ng-model="infos.lightLoad"/></td>
	             <td>其它负荷(Watt)</td>
	             <td><input class="form-control" ng-model="infos.otherLoad"/></td>
	            </tr>
	            <tr>
	             <td>库房工作人数</td>
	             <td><input class="form-control" ng-model="infos.people"/></td>
	             <td>库房逗留时间(h)</td>
	             <td><input class="form-control" ng-model="infos.costTime"/></td>
	            </tr>
	          </tbody>
	        </table>
	      </div>
	    </div>
	  </div>
	  
	  </div>
	</div>
    <div class="col-md-12">	
	  <button type="submit" class="btn btn-info pull-right" ng-click="submit()">确定</button>
	</div>
	</div>
  </section>		
</div>