<div class="page-content">
    <div class="page-header">

    </div>
	<!-- demo 页面-->
    <section class="content">        
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                <!-- LINE CHART -->
                <div class="box bg-gray">
                    <div class="box-header with-border">
                        <h3 class="box-title">货物因子</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <div id="goodsYz" style="height:300px"></div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box --> 
            </div><!-- /.col (RIGHT) -->
        </div>
    </section><!-- /.content -->
</div>
<script src="../../assets/js/echarts.min.js"></script>
<script>
	$(function(){		
		var myChart2 = echarts.init(document.getElementById('goodsYz'));
		option = {
		    tooltip : {
		        trigger: 'axis'
		    },
		    xAxis : [
		        {
		            type: 'category',
		            data : ['2016-09-18','2016-09-19','2016-09-20','2016-09-21','2016-09-22','2016-09-23','2016-09-24','2016-09-25','2016-09-26','2016-09-27','2016-09-28','2016-09-29','2016-09-30','2016-10-01','2016-10-02','2016-10-03','2016-10-04','2016-10-05','2016-10-06','2016-10-07','2016-10-08','2016-10-09','2016-10-10','2016-10-11','2016-10-12','2016-10-13','2016-10-14','2016-10-15','2016-10-16','2016-10-17','2016-10-18']
		        }
		    ],
		    yAxis : [
		        {
		            type : 'value',
		            name : '货物因子'
		        }
		    ],
		    series : [
		        {
		            name:'货物因子',
		            type:'bar',
		            data:[502.0, 534.9, 487.0, 523.2, 425.6, 576.7, 635.6, 562.2, 332.6, 420.0, 526.4, 533.3,502.0, 534.9, 487.0, 523.2, 425.6, 576.7, 635.6, 562.2, 332.6, 420.0, 526.4, 533.3,502.0, 534.9, 487.0, 523.2, 425.6, 576.7]
		        }
		    ]
		};
		myChart2.setOption(option);
	})
	
</script>
