    <style type="text/css">
.groupobj .sl_group_obj{width: 350px;border-radius: 3px;background-color: #f4f4f4;cursor: pointer;} 
.groupobj .sl_drop{    float: right;position: relative; margin: -24px 10px 0px 0px; color: #000000;font-size: 10px;}
.groupobj .sl_drop_data{  position: absolute;z-index: 2;background: white; border: 1px solid #ccc;width: 452px;color: black;}
#filter_div ul{padding: 0px;}
#filter_div li{list-style-type:none; display: block;border: 2px solid #CCCCCC; margin-top: 5px;cursor: pointer;}
.ul_key_list{display: block;height: 50px;}
.ul_key_list li{float: left;margin:5px;padding: 5px 5px;}
#filter_div li.select{border-color:#0095FF !important;}
#filter_div li.select:AFTER{} 
#val_list_div ul{float: left;width: 100%;height: 100%;overflow: hidden;    display: block; }

.ng-hide {
  height: 0;
  width: 0;
  background-color: transparent;
 
  left: -200px;
  height:100px;
}
</style>
<div>
	<section class="content-header">
		<h1 class="page-header">历史数据查询</h1>
	</section>
	<section class="content">
		<div class="row">
			<div class="col-md-12">
				<!-- 查询数据展示  -->
				<div class="col-lg-12">
					<div class="col-lg-12">
						<div id="filter_sl_div" class="pull-left groupobj">
						  <span><span class="form-control sl_group_obj" ng-click='slgroupsl()'></span><i class="sl_drop" >▼</i></span>
						  <div id="filter_div" class="pull-left sl_drop_data" ng-show="showobjgroup">
						     <ul id="ul_key_list" class="ul_key_list">
						       <li ng-repeat="(key,value) in  keylist" id="li_key_{{key}}" value="{{key}}" ng-click="showkeyli(key)">{{value}}</li>
						     </ul>
						     <div id="val_list_div">
						        <ul  ng-repeat="(key,value) in  keydata"  id="{{key}}_ul_val" class="hide">
						         <li ng-repeat="obj in  value" value="{{obj.oid}}" ng-click="selkeyvl($event)" class="select">{{obj.oidDesc}}</li>
						       </ul>
						     </div>
						  </div>
						</div>
						<form class="navbar-form navbar-left " style="margin-top: 0px;" >
	
							&nbsp;&nbsp;
							<div class="form-group">
								<label>时间范围：</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-clock-o"></i>
									</div>
									<input type="text" class="form-control pull-right"
										style="width: 270px;" id="reservationtime" ng-model="picktime">
								</div>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-default" ng-click="search()">查询</button>
								<button id="but_expdata" type="button" class="btn btn-success" ng-click="expdata()">导出</button>
							</div>
						</form>
					</div>
					<div class="col-lg-12">
						<div class="box box-gray">
							<div class="bg-gray" id="data-chart" style="height: 300px;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<!--
   IE8 support, see AngularJS Internet Explorer Compatibility http://docs.angularjs.org/guide/ie
   For Firefox 3.6, you will also need to include jQuery and ECMAScript 5 shim
 -->
 <!--[if lt IE 9]>
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
   <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.js"></script>
   <script>
     document.createElement('ui-select');
     document.createElement('ui-select-match');
     document.createElement('ui-select-choices');
   </script>
 <![endif]-->
<script src="../../assets/js/echarts.min.js"></script>