<div class="">
	<div class="page-header"></div>
	<div class="content clearfix">
		<!-- start -->
		<div class="box bg-gray fadeIn animated">
			<div class="box-header with-border">
				<h3 class="box-title">热量输入分布图</h3>
				<div class="box-tools pull-right">
					<button class="btn btn-box-tool" data-widget="collapse">
						<i class="fa fa-minus"></i>
					</button>
					<button class="btn btn-box-tool" data-widget="remove">
						<i class="fa fa-times"></i>
					</button>
				</div>
			</div>
			<div class="box-body row">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 slideInRight animated">
					<div class="box bg-gray" style="background-color: #fff!important;">
						<div class="box-header with-border">
							<h3 class="box-title">最新热量分布图</h3>
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-lg-12 col-sm-12 col-xs-12 col-md-12"
									style="position: relative;">
									<div class="col-lg-12 col-sm-12 col-xs-12 col-md-12"
										style="position: relative;">
										<div id="hotPie" style="height:400px;"></div>
									</div>
								</div>
							</div>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->
				</div>
				<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 slideInLeft animated">
					<div class="box bg-gray"style="background-color: #fff!important;">
						<div class="box-header with-border">
							<h3 class="box-title">近30日热量分布图</h3>
						</div>
						<div class="box-body">
							<div class="chart">
								<div id="hotColumn" style="height:400px;"></div>
							</div>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->
				</div>
			</div>
		</div>
		<!-- end -->
	</div>
</div>
<script type="text/javascript" src="assets/js/highcharts-3d.js"></script>
