	<style>
		.dbc{position: relative;}
		._error{position: absolute;top: 9px;right:8px;font-size: 12px;color:red;}
	</style>
	<form id="div_maintainRequest" onsubmit="return false;" class="form-horizontal applyConfirm" role="form" name="oForm" novalidate>
		<fieldset  class="clearfix applyTable" style="margin-top: 15px;">
	    	<legend>维修通知单</legend>
			<div class="form-group db" style="width: 100%;">
				<label class="control-label dbc" style="width: 10%;">单位名称&nbsp;</label>
				<div class="dbc" style="width: 40%;">
					<input type="text" class="form-control" placeholder="请输入单位名称" name="name" ng-model="company.name" required>
					<span class="_error" ng-show="oForm.name.$dirty && oForm.name.$invalid">单位名称是必须的</span>
				</div>
				<label class="dbc control-label" style="width: 10%;">单位地址&nbsp;</label>
				<div class="dbc" style="width: 40%;">
					<input type="text" class="form-control" placeholder="请输入单位地址" name="address" ng-model="company.address" required>
					<span class="_error" ng-show="oForm.address.$dirty && oForm.address.$invalid">单位地址是必须的</span>
				</div>
			</div>
			<div class="form-group db" style="width: 100%;">
				<label class="dbc control-label" style="width: 10%;">联系人&nbsp;</label>
				<div class="dbc" style="width: 40%;">
					<input type="text" placeholder="请选择" class="form-control" name="username" ng-model="wuser.username" required>
					<span class="_error" ng-show="oForm.username.$dirty && oForm.username.$invalid">联系人是必须的</span>
				</div>
				<label class="dbc control-label" style="width: 10%;">联系电话&nbsp;</label>
				<div class="dbc" style="width: 40%;">
					<input type="text" class="form-control" placeholder="请输入联系电话" name="tel" 
					ng-pattern="/(^1\d{10}$)|(^0\d{2,3}-?\d{7,8}$)/" 
					ng-model="wuser.telephone" required>
					<span class="_error" ng-show="oForm.tel.$dirty && oForm.tel.$invalid">联系电话必须合法</span>
				</div>
			</div>
			<div class="form-group db" style="width: 50%;">
				<label for="wx" class="dbc control-label" style="width: 20%;">报修时间&nbsp;</label>
				<div class="dbc" style="width: 80%;">
					<input id="wx" type="text" placeholder="请选择"  readonly class="form-control" ng-mode="maintenance.repairtime">
				</div>
			</div>
			
			<div class="form-group db" style="width: 100%;">
				<label class="control-label dbc" style="vertical-align: top;width: 10%;">故障现象&nbsp;</label>
				<div class="dbc" style="overflow: hidden;">
				    <div class="addSeclect form-inline" ng-repeat="item in wardata">
						<span ng-repeat="item in wardata">
							<select  class="form-control" disabled="disabled">
								<option value="0">{{item.analysismsg}}</option>
							</select>
							<select  class="form-control" disabled="disabled">
								<option value="0">{{item.warningmsg}}</option>
							</select>
                          </span>
						<span ng-if="st==0&&userType==2" class="addBtn form-control" ng-click="addSelect(this)">+</span>
					</div>
					<div class="addSeclect form-inline" ng-repeat="item in nwardata" >
						<span >
							<select  class="form-control" ng-model="item.pid"  ng-options="obj.id as obj.name for obj in pwartype" ng-change="changepwartype($index,item)" ng-disabled="st==1"></select>
							<select  class="form-control" ng-model="item.id"   ng-options="obj.id as obj.name for obj in swartype[$index]" ng-disabled="st==1"></select>
                         </span>
						<span ng-if="st==0&&userType==2" class="addBtn form-control" ng-click="removerSelect($index)">-</span>
					</div>
				</div>
			</div>
			<div class="form-group db" style="width: 50%;">
				<label for="wx" class="dbc control-label" style="width: 20%;">故障补充&nbsp;</label>
				<div class="dbc" style="width: 80%;">
					<input type="text" placeholder="请输入文字/选填" class="form-control"  ng-model="maintenance.note">
				</div>
			</div>
			<div class="form-group db" style="width: 100%;">
				<label for="orderTime" class="dbc control-label" style="width: 10%;">预约上门时间&nbsp;</label>
				<div class="dbc" style="width: 40%;">
					<input id="orderTime" type="text" placeholder="请选择"  readonly class="form-control" ng-mode="maintenance.bookingtime" >
				</div>
				<label class="dbc control-label" style="width: 10%;">预估维修费用&nbsp;</label>
				<div class="input-group" style="width: 100%;">
					<input type="number" placeholder="预估维修金额" class="form-control"  ng-model="maintenance.cost">
					<span class="input-group-addon">¥</span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label" style="width: 10%;">选择服务性质&nbsp;</label>
				<label class="checkbox-inline"><input id="ck_server1" type="checkbox" name="service" checked value="1">三包</label>
				<label class="checkbox-inline"><input id="ck_server2" type="checkbox" name="service" value="2">改造</label>
				<label class="checkbox-inline"><input id="ck_server3" type="checkbox" name="service" value="3">维修</label>
				<label class="checkbox-inline"><input id="ck_server4" type="checkbox" name="service" value="4">零件</label>
				<label class="checkbox-inline"><input id="ck_server5" type="checkbox" name="service" value="5">保养</label>
				<label class="checkbox-inline"><input id="ck_server6" type="checkbox" name="service" value="6">巡检</label>
				<label class="checkbox-inline"><input id="ck_server7" type="checkbox" name="service" value="7">移交</label>
<!-- 				<p>备注：三包内免费，其他性质填写，也可以待填</p> -->
			</div>
			<div class="form-group" style="width: 100%;">
				<label class="control-label" style="width: 10%; ">流程当前状态:&nbsp;</label>
				<span style="color: green;">{{stmode[cuttstatus]}}</span>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
				<button ng-if="st==0&&userType==2" class="btn btn-success col-lg-6 col-md-6 col-sm-6 col-xs-6 col-md-offset-3"
				ng-disabled="oForm.name.$dirty && oForm.name.$invalid ||
				 oForm.address.$dirty && oForm.address.$invalid ||
				 oForm.username.$dirty && oForm.username.$invalid || 
				 oForm.tel.$dirty && oForm.tel.$invalid"
				 ng-click="submit()">发送维修申请</button>
				<button ng-if="st==1&&userType!=2" class="btn btn-success col-lg-4 col-md-4 col-sm-12 col-xs-12 col-md-offset-1" style="margin-bottom: 5px;" ng-click="tol_advice(false,3,'您确定要提交该维修确认单吗？')">同意</button>
				<button ng-if="st==1&&userType!=2" class="btn btn-danger col-lg-4 col-md-4 col-sm-12 col-xs-12 col-md-offset-2" ng-click="tol_advice(true,2,'您确定驳回该维修确认单吗？')">驳回</button>
			</div>
		</fieldset>
		
	</form>
<script type="text/javascript" src="assets/plugins/jedate/jquery.jedate.js"></script>
<link type="text/css" rel="stylesheet" href="assets/plugins/jedate/skin/jedate.css">
