<div>
	<div class="form-horizontal applyConfirm" role="form" >
		<fieldset  class="clearfix applyTable" style="margin-top: 15px;">
	    	<legend>维修确认单</legend>
			<div class="form-group db" style="width: 100%;">
				<label class="control-label dbc" style="width: 10%;">单位名称&nbsp;</label>
				<div class="dbc" style="width: 40%;">
					<input type="text" class="form-control" placeholder="请输入单位名称" ng-model="company.name">
				</div>
				<label class="dbc control-label" style="width: 10%;">单位地址&nbsp;</label>
				<div class="dbc" style="width: 40%;">
					<input type="text" class="form-control" placeholder="请输入单位地址" ng-model="company.address">
				</div>
			</div>
			<div class="form-group db" style="width: 100%;">
				<label class="dbc control-label" style="width: 10%;">联系人&nbsp;</label>
				<div class="dbc" style="width: 40%;">
					<input type="text" placeholder="请选择" class="form-control" ng-model="wuser.username">
				</div>
				<label class="dbc control-label" style="width: 10%;">联系电话&nbsp;</label>
				<div class="dbc" style="width: 40%;">
					<input type="text" class="form-control" placeholder="请输入联系电话" ng-model="wuser.telephone">
				</div>
			</div>
			<div class="form-group db" style="width: 100%;">
				<label for="begin" class="dbc control-label" style="width: 10%;">开工时间&nbsp;</label>
				<div class="dbc" style="width: 40%;">
					<input id="begin" type="text" placeholder="请选择"  readonly class="form-control">
				</div>
				<label for="end" class="dbc control-label" style="width: 10%;">结束时间&nbsp;</label>
				<div class="dbc" style="width: 40%;">
					<input id="end" type="text" placeholder="请选择"  readonly class="form-control">
				</div>
			</div>
			<div class="form-group db" style="width: 100%;">
				<label class="control-label dbc" style="vertical-align: top;width: 10%;">实际故障现象&nbsp;</label>
				<div class="dbc" style="overflow: hidden;">
					<div class="addSeclect form-inline">
						<select  class="form-control">
							<option value="1">温度超温过长</option>
							<option value="2">机组故障</option>
							<option value="3">油压过低</option>
						</select><select  class="form-control">
							<option value="11">压缩机超温过长</option>
							<option value="22">电表超温过长</option>
							<option value="33">电池超温过长</option>
						</select>
						<span class="addBtn form-control" onclick="addSelect(this)">+</span>
						<span class="addBtn form-control" onclick="removerSelect(this)">-</span>
					</div>
				</div>
			</div>
			<div class="form-group db" style="width: 100%;">
				<label class="control-label dbc" style="vertical-align: top;width: 10%;">维修处理结果&nbsp;</label>
				<div class="dbc" style="overflow: hidden;">
					<div class="addSeclect form-inline">
						<span ng-repeat="item in wardata">
							<select  class="form-control" >
								<option value="0">{{item.analysismsg}}</option>
							</select>
							<select  class="form-control">
								<option value="0">{{item.warningmsg}}</option>
							</select>
                          </span>
						<span class="addBtn form-control" onclick="addSelect(this)">+</span>
						<span class="addBtn form-control" onclick="removerSelect(this)">-</span>
					</div>
				</div>
			</div>
			<div class="form-group db" style="width: 100%;">
				<label class="control-label dbc" style="vertical-align: top;width: 10%;">维修费用清单&nbsp;</label>
				<table class="table table-bordered">
				  <thead>
				    <tr class="success">
				      <th>序号</th>
				      <th>一级项目</th>
				      <th>二级项目</th>
				      <th>数量</th>
				      <th>单位</th>
				      <th>单价/元</th>
				      <th>小计金额</th>
				      <th>操作<span class="addBtn form-control" ng-click="uplist(true,$index)">+</span></th>
				   </tr>
				  </thead>
					<tbody>
						<tr class="warning" ng-repeat="obj in detailedList">
							<td>{{$index+1}}</td>
							<td>
							<select ng-model="obj.pid"  class="form-control">
									<option value="1">温度超温过长</option>
									<option value="2">机组故障</option>
									<option value="3">油压过低</option>
							</select>
							</td>
							<td><select ng-model="obj.id" class="form-control">
									<option value="1">温度超温过长</option>
									<option value="2">机组故障</option>
									<option value="3">油压过低</option>
							</select>
							</td>
							<td><input type="number" class="form-control" placeholder="1" ng-model="obj.number"></td>
							<td>
							  <select ng-model="obj.unit" class="form-control">
									<option value="1">个</option>
									<option value="2">套</option>
									<option value="3">台</option>
							
							 </select>
							</td>
							<td><input type="number" class="form-control" placeholder="0" ng-model="obj.price"></td>
							<td  ng-init="obj.xj=obj.number*obj.price">{{obj.number*obj.price}}<span class="hide" > </span></td>
							<td>
                                 <span class="addBtn form-control" ng-click="uplist(true,$index)">+</span>
                                 <span class="addBtn form-control" ng-click="uplist(false,$index)">-</span>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr class="success">
							<td>合计金额</td>
							<td colspan="8">{{cost}}</td>
						</tr>
					</tfoot>
				</table>
			</div>
			<div class="form-group db" style="width: 50%;">
				<label for="wx" class="dbc control-label" style="width: 20%;">维修补充&nbsp;</label>
				<div class="dbc" style="width: 80%;">
					<input type="text" placeholder="请输入文字/选填" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label" style="width: 10%;">选择服务性质&nbsp;</label>
				<label class="checkbox-inline">
				    <input type="checkbox" name="service" value="1">三包，工作完成
				</label>
				<label class="checkbox-inline">
				    <input type="checkbox" name="service" value="2">维修，工作完成，不收费
				</label>
				<label class="checkbox-inline">
				    <input type="checkbox" name="service" value="3">维修，工作完成，待开票
				</label>
				<label class="checkbox-inline">
				    <input type="checkbox" name="service" value="4">维修，工作完成，现场支付
				</label>
			</div>
			<div class="form-group db" style="width: 100%;">
				<label class="dbc control-label" style="width: 10%;">维修发送&nbsp;</label>
				<div class="dbc" style="width: 40%;">
					<input type="text" placeholder="发送人姓名" class="form-control" ng-model="maintuser.username">
				</div>
				<label class="dbc control-label" style="width: 10%;">使用单位确认&nbsp;</label>
				<div class="dbc" style="width: 40%;">
					<input type="text" placeholder="使用单位确认人姓名" class="form-control" ng-model="wuser.username">
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-md-offset-5">
				<button class="btn btn-success col-lg-6 col-md-6 col-sm-6 col-xs-6">提交维修申请</label>
			</div>
		</fieldset>
		
	</div>
</div>
<!-- <script type="text/javascript" src="assets/plugins/jedate/jquery-1.7.2.js"></script> -->
<script type="text/javascript" src="assets/plugins/jedate/jquery.jedate.js"></script>
<link type="text/css" rel="stylesheet" href="assets/plugins/jedate/skin/jedate.css">
<script type="text/javascript">
	$("#begin,#end").jeDate({
		isinitVal:true,
	    skinCell:"jedateblue",
	    festival: true,
	    minDate: '2016-01-01 00:00:00', 
	    format: 'YYYY年MM月DD日 hh:mm'
	});
	
	
	$(function(){
		$(".stars li").click(function(){
			$(this).toggleClass("gold");
		})
	})
</script>