<div>
	<div ng-if="setp==1" class="form-horizontal row applyConfirm row" role="form" >
		<fieldset  class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	    	<legend>告警列表</legend>
	    	<div class="table-responsive">
			  <table class="table table-bordered table-striped table-condensed">
			    <thead>
			      <tr>
			        <th><input  type="checkbox"  > </th>
			        <th>告警ID</th>
			        <th>告警消息</th>
			        <th>分析结果</th>
			        <th>告警时间</th>
			        <th>状态</th>
			        <th >操作</th>
			     </tr>
			    </thead>
			    <tbody>
			      <tr ng-repeat="obj in maintdata">
			        <td><input id="ckobj_{{obj.id}}" type="checkbox" ></td>
			        <td>{{obj.id}}</td>
			        <td>{{obj.warningmsg}}</td>
			        <td>{{obj.analysismsg}}</td>
			        <td>{{obj.addtime.substring(0,19)}}</td>
			        <td>{{stmode[obj.status]}}</td>
			        <td class="text-center">
			           <span ng-if="obj.status==0">
					        <button class="btn btn-xs btn-primary " ng-click="tol_forMaint(obj)">申维</button>
					        <button class="btn btn-xs btn-danger  "  ng-click="tol_del(obj.id)">删除</button>
					        <button class="btn btn-xs btn-default "  ng-click="tol_ignore(obj.id,4,'您确信要忽略这条告警吗？')">忽略</button>
			           </span>
			           <span  ng-if="obj.status==1">
			             <button class="btn btn-xs btn-warning "  ng-click="tol_ignore(obj.id,0,'您确定要撤回这条维修申请吗？')">撤回</button>
			           </span>
			        </td>
			      </tr>
			    </tbody>
			    <tr>
			  </table>
			</div>
			<button  ng-click="tol_batch()">合并申维</button>
	 	</fieldset>		
	</div>
	<div ng-if="setp==2" class="form-horizontal row applyConfirm row" role="form" >
				<form class="form-horizontal" role="form">
				  <div class="form-group">
				    <label class="col-sm-2 control-label">告警消息</label>
				    <div class="col-sm-8">
				      <input class="form-control"  type="text" value="{{sqobj.warningmsg}}" disabled="disabled">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="inputPassword" class="col-sm-2 control-label">分析结果</label>
				    <div class="col-sm-8">
				      <input class="form-control" id="disabledInput" type="text" value="{{sqobj.analysismsg}}" disabled>
				    </div>
				  </div>
			    <div class="form-group">
			      <label for="disabledTextInput" class="col-sm-2 control-label">告警时间</label>
			      <div class="col-sm-8">
			        <input type="text" class="form-control" value="{{sqobj.addtime.substring(0,19)}}" disabled>
			      </div>
			    </div>
			     <div class="form-group">
			      <label for="disabledTextInput" class="col-sm-2 control-label">附件</label>
			      <div class="col-sm-7">
			        <input type="text" class="form-control"  >
			      </div>
			      <div class="col-sm-1">
			        <input type="file">
			      </div>
			    </div>
			     <div class="form-group">
			      <label for="disabledTextInput" class="col-sm-2 control-label">备注</label>
			      <div class="col-sm-8">
			        <textarea  class="form-control" >
			        </textarea>
			      </div>
			    </div>
			    <div class="form-group">
			       <button class="btn  btn-primary " ng-click="tol_submit()">提交</button>
			       <button class="btn  btn-primary " ng-click="tol_back()">返回</button>
			    </div>
			</form>	
	</div>
	<div id="msgdiv">
<!-- 	    <div id="msg_submsg" class="alert alert-info hide"> <a href="#" class="close" data-dismiss="alert">&times;</a>维修信息已经提交！等待维修商处理</div> -->
	</div>
</div>
