<div>
	<div  class="form-horizontal row applyConfirm row" role="form" >
		<fieldset  class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	    	<legend>维修管理</legend>
	    	<div class="table-responsive">
			  <table class="table table-bordered table-striped table-condensed">
			    <thead>
			      <tr>
			        <th><input  type="checkbox"  > </th>
			        <th>序号</th>
			        <th>故障消息</th>
			        <th>分析结果</th>
			        <th>状态</th>
			        <th>告警时间</th>
			        <th >操作</th>
			     </tr>
			    </thead>
			    <tbody>
			      <tr ng-repeat="obj in maintdata">
			        <td><input id="ckobj_{{obj.id}}" type="checkbox" ></td>
			        <td>{{obj.id}}</td>
			        <td>{{obj.warningmsg}}</td>
			        <td>{{obj.analysismsg}}</td>
			        <td>{{stmode[obj.status]}}</td>
			        <td>{{obj.addtime.substring(0,19)}}</td>
			        <td class="text-center">
					        <button class="btn btn-xs btn-primary " ng-click="tol_forMaint(obj)">维修确认</button>
					        <button class="btn btn-xs btn-warning " ng-click="">忽略维修</button>
			        </td>
			      </tr>
			    </tbody>
			    <tr>
			  </table>
			</div>
			<button  ng-click="tol_batch()">合并维修</button>
	 	</fieldset>		
	</div>
</div>
