<style>
    #msgdialog *{color: black;}
    .modal-footer button{    color: white;}
    .sysUi{
        background-color: #f7f7f7;
        min-height: 80vh;
        padding: 20px;
        box-sizing: border-box;
    }
    .sysTab{
        height:90px;
        -webkit-box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2);
        background-color: #fff;
        margin-bottom: 15px;
        width: 48%;
        color: #0A0A0A;
    }
    .sysTab .iconfont{
        font-size: 2.5em;
        color: #2393cb;
    }
    .sysTab p{
        font-size: 14px;
    }
    .sysTab ul{
        padding:0;
    }
    .sysTab li{
        float: left;
        padding-top: 10px;
        width: 33%;
        box-sizing: border-box;
        text-align: center;
        cursor: pointer;
        position: relative;
    }
    .dotCount{
        position: absolute;
        top:12px;
        right:45px;
        font-size: 12px;
        background-color: #f00;
        color: #fff;
        padding: 0 5px;
        border-radius: 50%;
    }
    .sysTab li:nth-child(1):before,
    .sysTab li:nth-child(2):before{
        content: '';
        width: 2px;
        height: 46px;
        background-color: #f1f1f1;
        position: absolute;
        top:22px;
        right: 0;
    }

    @media (max-width: 768px) {
        .sysTab{
            width: 100%;
        }
    }
    .sysTable{
        padding: 20px;
        background-color: #fff;
        -webkit-box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2);
    }
    .sysTable tbody{

    }
    .sysTable tbody td{
        text-align: center;
        border-top: 0;
        border-bottom: 1px solid #dbdee5;
    }
    .sysTr{
        background-color: #a3b5be;
        color: #fff;
    }
    .sysTr>th{
        text-align: center;
        font-weight:400;
    }
    .sysTr>th:first-child{
        border-bottom-left-radius: 4px;
        border-top-left-radius:4px;
    }
    .sysTr>th:last-child{
        border-bottom-right-radius: 4px;
        border-top-right-radius:4px;
    }
</style>
<!--新设计page-->
<div class="sysUi">
    <div class="clearfix">
        <div class="pull-left sysTab">
            <ul class="clearfix">
                <li ng-click="allmsg($event)"><i class="iconfont">&#xe808;</i><p>全部消息</p>
                    <span class="dotCount" ng-if="notReadMessage>0">{{notReadMessage}}</span>
                </li>
                <li ng-click="changstatus(0,$event)"><i class="iconfont">&#xe7fd;</i><p>未读消息</p></li>
                <li ng-click="changstatus(0,$event)"><i class="iconfont">&#xe802;</i><p>已读消息</p></li>
            </ul>
        </div>
        <div class="pull-right sysTab">
            <ul class="clearfix">
                <li ng-click="allmsg($event)"><i class="iconfont">&#xe6ef;</i><p>系统消息</p>
                    <span class="dotCount" ng-if="notReadMessage>0">{{notReadMessage}}</span>
                </li>
                <li ng-click="changstatus(0,$event)"><i class="iconfont">&#xe806;</i><p>系统警告</p></li>
                <li ng-click="changstatus(0,$event)"><i class="iconfont">&#xe6e5;</i><p>其他告警</p></li>
            </ul>
        </div>

    </div>
    <div class="sysTable">
        <table class="table">
            <thead>
                <tr class="sysTr">
                    <th>序号</th>
                    <th>请求认证</th>
                    <th>内容</th>
                    <th>状态</th>
                    <th>时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="msg in msgList" ng-click="showmsg($index)" ng-hide="msg.state==-1">
                    <td><input type="checkbox" name="" id=""></td>
                    <td><a href="#">{{msg.title}}</a></td>
                    <td style="text-align: left;"><a href="#">{{msg.message}}</a></td>
                    <td>
                        <a href="#" ng-if="msg.state==1">{{modestate[msg.state]}}</a>
                        <a href="#" ng-if="msg.state==0" style="color: red;">{{modestate[msg.state]}}</a>
                    </td>
                    <td><a href="#">{{msg.addTime}}</a></td>
                    <td><i class="fa fa-trash-o" style="color:#a3b5be;cursor: pointer;font-size: 18px"></i></td>
                </tr>
               <!-- <tr>
                    <td class="text-center" colspan="7">
                        <img src="assets/img/nomsg.png" style="width: 20%;">
                    </td>
                </tr>-->
            </tbody>
        </table>
        <div class="text-center" colspan="7" style="margin: 100px 0"  ng-if="msgList.length==0">
            <img src="assets/img/nomsg.png" style="width: 350px;">
        </div>
    </div>
</div>


<!--新设计page-->
<div class="" style="min-height: 946px;" ng-if="msgList.length==-1">
	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-md-3">
				<div class="box box-solid">
					<div class="box-header with-border">
						<h3 class="box-title">消息中心</h3>
						<div class="box-tools">
							<button type="button" class="btn btn-box-tool"
								data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div>
					<div class="box-body no-padding">
						<ul id="ul_msgtype" class="nav nav-pills nav-stacked">
							<li class="active"  ng-click="allmsg($event)"><a href="#"><i class="fa fa-inbox"></i>全部消息 <span class="label label-primary pull-right">{{notReadMessage}}</span></a></li>
							<li          ng-click="changstatus(0,$event)"><a href="#"><i class="fa fa-envelope-o"></i>未读消息</a></li>
							<li          ng-click="changstatus(0,$event)"><a href="#" ><i class="fa fa-file-text-o"></i>已读消息</a></li>
						</ul>
					</div>
					<!-- /.box-body -->
				</div>
				<div class="box box-solid">
					<div class="box-header with-border">
						<h3 class="box-title">消息分类</h3>
						<div class="box-tools">
							<button type="button" class="btn btn-box-tool"
								data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div>
					<div class="box-body no-padding">
						<ul id="ul_msgtype" class="nav nav-pills nav-stacked">
							<li class="active"  ng-click="allmsg($event)"><a href="#"><i class="fa fa-inbox"></i>系统消息 <span class="label label-primary pull-right">{{notReadMessage}}</span></a></li>
							<li          ng-click="changstatus(0,$event)"><a href="#"><i class="fa fa-envelope-o"></i>系统告警</a></li>
							<li          ng-click="changstatus(0,$event)"><a href="#" ><i class="fa fa-file-text-o"></i>其他告警</a></li>
						</ul>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /. box -->
			</div>
			<!-- /.col -->
			<div class="col-md-9">
				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title">Inbox</h3>

						<div class="box-tools pull-right">
							<div class="has-feedback">
								<input type="text" class="form-control input-sm"
									placeholder="Search Mail"> <span
									class="glyphicon glyphicon-search form-control-feedback"></span>
							</div>
						</div>
						<!-- /.box-tools -->
					</div>
					<!-- /.box-header -->
					<div class="box-body no-padding">
						<div class="table-responsive mailbox-messages">
							<table class="table table-hover table-striped">
								<tbody>
									<tr ng-repeat="msg in msgList" ng-click="showmsg($index)">
										<td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
										<td class="mailbox-name"><a href="#">{{msg.title}}</a></td>
										<td class="mailbox-name"><a href="#">{{msg.message}}</a></td>
										<td class="mailbox-name"><a href="#">{{modestate[msg.state]}}</a></td>
										<td class="mailbox-name"><a href="#">{{msg.addTime}}</a></td>
									</tr>
									<tr ng-if="msgList.length==0">
									   <td><div class="alert alert-info">暂无消息！</div></td>
									</tr>

								</tbody>
							</table>
							<!-- /.table -->
						</div>
						<!-- /.mail-box-messages -->
					</div>
					<!-- /.box-body -->
					<div class="box-footer no-padding">
						<div class="mailbox-controls">
							<!-- Check all button -->
							<button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>
							<div class="btn-group">
								<button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
								<button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
								<button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
							</div>
							<!-- /.btn-group -->
							<button type="button" class="btn btn-default btn-sm">
								<i class="fa fa-refresh"></i>
							</button>
							<div class="pull-right">
								1-50/200
								<div class="btn-group">
									<button type="button" class="btn btn-default btn-sm">
										<i class="fa fa-chevron-left"></i>
									</button>
									<button type="button" class="btn btn-default btn-sm">
										<i class="fa fa-chevron-right"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<div style="height: 0px;">
	<div class="modal fade" id="msgdialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">{{currmsg.title}}</h4>
				</div>
				<div class="modal-body">
					{{currmsg.message}}
				</div>
				<div ng-if="currmsg.type==1&&currmsg.sType==1" >
				    <ul id="ul_storage" class="treeview-menu">
						<li ng-repeat="storage in mystorages" >
								     	<label class="checkbox-inline"> <input type="checkbox"  value="{{storage.id}}">{{storage.name}}</label>
						</li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button ng-if="currmsg.type==1" type="button" class="btn btn-primary" ng-click="agree()">同意</button>
					<button ng-if="currmsg.type==1" type="button" class="btn btn-danger" ng-click="refuse()">拒绝</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
</div>