<style>
#msgdialog *{color: black;}
.modal-footer button{    color: white;}
</style>
<div class="" style="min-height: 946px;">
	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-md-3">
				<div class="box box-solid">
					<div class="box-header with-border">
						<h3 class="box-title">消息中心</h3>
						<div class="box-tools">
							<button type="button" class="btn btn-box-tool"
								data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div>
					<div class="box-body no-padding">
						<ul id="ul_msgtype" class="nav nav-pills nav-stacked">
							<li class="active"  ng-click="allmsg($event)"><a href="#"><i class="fa fa-inbox"></i>全部消息 <span class="label label-primary pull-right">{{notReadMessage}}</span></a></li>
							<li          ng-click="changstatus(0,$event)"><a href="#"><i class="fa fa-envelope-o"></i>未读消息</a></li>
							<li          ng-click="changstatus(0,$event)"><a href="#" ><i class="fa fa-file-text-o"></i>已读消息</a></li>
						</ul>
					</div>
					<!-- /.box-body -->
				</div>
				<div class="box box-solid">
					<div class="box-header with-border">
						<h3 class="box-title">消息分类</h3>
						<div class="box-tools">
							<button type="button" class="btn btn-box-tool"
								data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div>
					<div class="box-body no-padding">
						<ul id="ul_msgtype" class="nav nav-pills nav-stacked">
							<li class="active"  ng-click="allmsg($event)"><a href="#"><i class="fa fa-inbox"></i>系统消息 <span class="label label-primary pull-right">{{notReadMessage}}</span></a></li>
							<li          ng-click="changstatus(0,$event)"><a href="#"><i class="fa fa-envelope-o"></i>系统告警</a></li>
							<li          ng-click="changstatus(0,$event)"><a href="#" ><i class="fa fa-file-text-o"></i>其他告警</a></li>
						</ul>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /. box -->
			</div>
			<!-- /.col -->
			<div class="col-md-9">
				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title">Inbox</h3>

						<div class="box-tools pull-right">
							<div class="has-feedback">
								<input type="text" class="form-control input-sm"
									placeholder="Search Mail"> <span
									class="glyphicon glyphicon-search form-control-feedback"></span>
							</div>
						</div>
						<!-- /.box-tools -->
					</div>
					<!-- /.box-header -->
					<div class="box-body no-padding">
						<div class="table-responsive mailbox-messages">
							<table class="table table-hover table-striped">
								<tbody>
									<tr ng-repeat="msg in msgList" ng-click="showmsg($index)">
										<td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
										<td class="mailbox-name"><a href="#">{{msg.title}}</a></td>
										<td class="mailbox-name"><a href="#">{{msg.message}}</a></td>
										<td class="mailbox-name"><a href="#">{{modestate[msg.state]}}</a></td>
										<td class="mailbox-name"><a href="#">{{msg.addTime}}</a></td>
									</tr>
									<tr ng-if="msgList.length==0">
									   <td><div class="alert alert-info">暂无消息！</div></td>
									</tr>

								</tbody>
							</table>
							<!-- /.table -->
						</div>
						<!-- /.mail-box-messages -->
					</div>
					<!-- /.box-body -->
					<div class="box-footer no-padding">
						<div class="mailbox-controls">
							<!-- Check all button -->
							<button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>
							<div class="btn-group">
								<button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
								<button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
								<button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
							</div>
							<!-- /.btn-group -->
							<button type="button" class="btn btn-default btn-sm">
								<i class="fa fa-refresh"></i>
							</button>
							<div class="pull-right">
								1-50/200
								<div class="btn-group">
									<button type="button" class="btn btn-default btn-sm">
										<i class="fa fa-chevron-left"></i>
									</button>
									<button type="button" class="btn btn-default btn-sm">
										<i class="fa fa-chevron-right"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<div style="height: 0px;">
	<div class="modal fade" id="msgdialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">{{currmsg.title}}</h4>
				</div>
				<div class="modal-body">
					{{currmsg.message}}
				</div>
				<div ng-if="currmsg.type==1&&currmsg.sType==1" >
				    <ul id="ul_storage" class="treeview-menu">
						<li ng-repeat="storage in mystorages" >
								     	<label class="checkbox-inline"> <input type="checkbox"  value="{{storage.id}}">{{storage.name}}</label>
						</li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button ng-if="currmsg.type==1" type="button" class="btn btn-primary" ng-click="agree()">同意</button>
					<button ng-if="currmsg.type==1" type="button" class="btn btn-danger" ng-click="refuse()">拒绝</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
</div>