<style>
    .sysUi{background-color: #f7f7f7;min-height: 80vh;padding: 20px;box-sizing: border-box;color: #777;}
    .sysTab{height:90px;-webkit-box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2);-moz-box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2);box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2);background-color: #fff;margin-bottom: 15px;width: 48%;color: #0A0A0A;}
    .sysTab .iconfont{font-size: 2.5em;color: #2393cb;}
    .sysTab p{font-size: 14px;}
    .sysTab ul{padding:0;}
    .sysTab li{float: left;padding-top: 10px;width: 33%;box-sizing: border-box;text-align: center;cursor: pointer;position: relative;}
    .dotCount{position: absolute;top:12px;right:45px;font-size: 12px;background-color: #f00;color: #fff;padding: 0 5px;border-radius: 50%;}
    .sysTab li:nth-child(1):before, .sysTab li:nth-child(2):before{content: '';width: 2px;height: 46px;background-color: #f1f1f1;position: absolute;top:22px;right: 0;}
    @media (max-width: 768px){.sysTab{width: 100%;}} .sysTable{padding: 20px;background-color: #fff;-webkit-box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2);-moz-box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2);box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2);}
    .sysTable tbody{}
    .sysTable tbody td{text-align: center;border-top: 0;border-bottom: 1px solid #dbdee5;}
    .sysTr{background-color: #a3b5be;color: #fff;}
    .sysTr>th{text-align: center;font-weight:400;}
    .sysTr>th:first-child{border-bottom-left-radius: 4px;border-top-left-radius:4px;}
    .sysTr>th:last-child{border-bottom-right-radius: 4px;border-top-right-radius:4px;}
    .sysModal{width: 100vw;height:100vh;background-color: rgba(0,0,0,.6);position: absolute;top:0;left:0;z-index:820;}
    .sysModalMain{position: absolute;top: 20%;left: 50%;width: 450px;margin-left: -225px;border-radius: 8px;background: #fff;color: #000;font-size: 14px;}
    .sysModalHeader{width: 380px;margin: 0 auto;}
    .sysModalHeader h4{font-weight:700;font-size: 16px;}
    .sysModalHeader img{border-bottom: 2px solid #696868;}
    .sysModalBody{min-height: 20px;padding: 8px 0;}
    .sysModalFooter{border-top:1px solid #c5c5c5;width: 100%;height: 40px;line-height:40px;text-align: center;}
    .sysModalFooter>div{width: 33.3333%;color:#2e8bbb;font-size: 16px;cursor: pointer;box-sizing: border-box;}
    .sysModalFooter>div:nth-child(1), .sysModalFooter>div:nth-child(2){border-right:1px solid #c5c5c5;}
    .sysClose{position: absolute;top: -20px;right: -20px;width: 40px;height: 40px;line-height: 40px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;background-color: #fff;color: #a0cfe7;font-weight: 700;font-size: 38px;text-align: center;cursor: pointer;}
    .sysFoot .btn-warning{padding: 2px 15px;margin-left: 10px;}
    .sysFoot{padding-left: 18px;}
    .sysFoot ul{margin: 0;}
</style>
<!--新设计page-->
<div class="sysUi">
    <div class="clearfix">
        <div class="pull-left sysTab">
            <ul class="clearfix">
                <li ng-click="allmsg($event)"><i class="iconfont">&#xe808;</i><p>全部消息</p>
                    <span class="dotCount" ng-if="notReadMessage>0">{{notReadMessage}}</span>
                </li>
                <li ng-click="changstatus(0,$event)"><i class="iconfont">&#xe7fd;</i><p>未读消息</p></li>
                <li ng-click="changstatus(1,$event)"><i class="iconfont">&#xe802;</i><p>已读消息</p></li>
            </ul>
        </div>
        <div class="pull-right sysTab">
            <ul class="clearfix">
                <li ng-click="allmsg($event)"><i class="iconfont">&#xe6ef;</i><p>系统消息</p>
                    <span class="dotCount" ng-if="notReadMessage>0">{{notReadMessage}}</span>
                </li>
                <li ng-click="changstatus(0,$event)"><i class="iconfont">&#xe806;</i><p>系统警告</p></li>
                <li ng-click="changstatus(1,$event)"><i class="iconfont">&#xe6e5;</i><p>其他告警</p></li>
            </ul>
        </div>

    </div>
    <div class="sysTable">
        <table class="table">
            <thead>
                <tr class="sysTr">
                    <th>序号</th>
                    <th>请求认证</th>
                    <th>内容</th>
                    <th>状态</th>
                    <th>时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="msg in msgList">
                    <td><input type="checkbox" name="" id=""></td>
                    <td>{{msg.title}}</td>
                    <td style="text-align: left;"  ng-click="showmsg($index)"><a href="#">{{msg.message}}</a></td>
                    <td>
                        <span ng-if="msg.state==1">{{modestate[msg.state]}}</span>
                        <span ng-if="msg.state==0" style="color: red;">{{modestate[msg.state]}}</span>
                        <span ng-if="msg.state==-1">已拒绝</span>
                    </td>
                    <td>{{msg.addTime}}</td>
                    <td><i class="fa fa-trash-o" style="color:#a3b5be;cursor: pointer;font-size: 18px"></i></td>
                </tr>
            </tbody>
        </table>
        <div class="sysFoot clearfix">
            <div class="pull-left">
                <input type="checkbox" name="" >
                <button class="btn btn-warning">批量删除</button>
            </div>
            <div class="pull-right">
                <pagination ng-change="pageChanged()" total-items="params.total"
                            ng-model="params.page" class="pagination-sm"
                            boundary-links="true" rotate="false" ></pagination>
            </div>
        </div>
        <div class="text-center" style="margin: 100px 0"  ng-if="msgList.length==0">
            <img src="assets/img/nomsg.png" style="width: 350px;">
        </div>
    </div>
</div>
<div class="sysModal black"><!--遮罩层-->
    <div class="sysModalMain"><!--主题区域显示-->
        <div class="sysModalHeader text-center">
            <img src="assets/img/modalBg.png" style="width: 340px;" alt="">
            <h4>{{currmsg.title}}</h4>
            <p>{{currmsg.message}}</p>
        </div>
        <div class="sysModalBody">
            <div ng-if="currmsg.type==1&&currmsg.sType==1" >
                <ul id="ul_storage" class="clearfix">
                    <li ng-repeat="storage in mystorages" class="pull-left" style="width: 33.33%;">
                        <label class="checkbox-inline"> <input type="checkbox"  value="{{storage.id}}">{{storage.name}}</label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sysModalFooter clearfix">
            <div class="pull-left" ng-click="off()">关闭</div>
            <div class="pull-left" ng-if="currmsg.type==1" ng-click="agree()">同意</div>
            <div class="pull-left" ng-if="currmsg.type==1" ng-click="refuse()">拒绝</div>
        </div>
        <div class="sysClose" ng-click="off()">&times;</div>
    </div>
</div>

<!--新设计page-->