<div class="page-content" style="padding: 0 10px">
	<div class="page-header">
	  &nbsp;&nbsp;月报表
	  <button class="btn btn-primary" onclick="window.print();return">打 印</button>
	</div>
	<div id="print">
		<div class="print_header">
	        <h3>
	            <img src="../../assets/img/logo_home.png" class="lianku_logo">睿冷信息技术（上海）有限公司
	        </h3>
	        <hr>
	    </div>
	    <!-- 报表标题  -->
	    <div class="print_title">
	    	<h2 class="tac"><strong>冷库综合运行系统月度分析报告</strong></h2>
	    	<div class="print_name clearfix">
	    		<div class="pull-left">
	    			<span>客户名称：</span><input type="text">
	    		</div>
	    		<div class="pull-left">
	    			<span>DC(冷库)名称：</span><input type="text">
	    		</div>
	    		<div class="pull-left">
	    			<span>分析周期：</span><input type="text">
	    		</div>
	    	</div>
	    </div>
	    <!-- DC(冷库)综合评分分值（满分为100分）  -->
	    <div class="print_part">
	    	<h4><strong>DC(冷库)综合评分分值(满分为100分):</strong></h4>
			<div id="physicalstep2" class="sys_group">
				<!-- 温度系统 -->
				<div class="box bg-gray">
					<div class="box-header with-border">
						<h3 class="box-title">温度系统</h3>
					</div>
					<div class="box-body">
						<!-- 有设备 -->
						<div class="haveDevice">
							<div class="circle fontBlue">
								89<span>分</span>
							</div>
							<a href="#/cold360Physical"><button class="btn bgBlue">查看详情</button></a>
						</div>
						<!-- 建议安装设备 -->
						<div class="noDevice black">
							<div class="circle bluePlus"></div>
							<a href="javascript:;"><button class="btn bgBlue disabled">建议安装监控设备</button></a>
						</div>
					</div>
				</div>
				<!-- 运管系统 -->
				<div class="box bg-gray">
					<div class="box-header with-border">
						<h3 class="box-title">运管系统</h3>
					</div>
					<div class="box-body">
						<!-- 有设备 -->
						<div class="haveDevice">
							<div class="circle fontGold">
								87<span>分</span>
							</div>
							<a href="#/cold360Physical"><button class="btn bgGold">查看详情</button></a>
						</div>
						<!-- 建议安装设备 -->
						<div class="noDevice black">
							<div class="circle goldPlus"></div>
							<a href="javascript:;"><button class="btn bgGold disabled">建议安装监控设备</button></a>
						</div>
					</div>
				</div>
				<!-- 制冷系统 -->
				<div class="box bg-gray">
					<div class="box-header with-border">
						<h3 class="box-title">制冷系统</h3>
					</div>
					<div class="box-body">
						<!-- 有设备 -->
						<div class="haveDevice ">
							<div class="circle fontGreen">
								65<span>分</span>
							</div>
							<a href="#/cold360Physical"><button class="btn bgGreen">查看详情</button></a>
						</div>
						<!-- 建议安装设备 -->
						<div class="noDevice black">
							<div class="circle greenPlus"></div>
							<a href="javascript:;"><button class="btn bgGreen disabled">建议安装监控设备</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- DC(冷库)月度运行状况分析结论  -->
		<div class="print_part partP">
	    	<h4><strong>DC(冷库)月度运行状况分析结论:</strong></h4>
	    	<p>该文本框显示内容为分析人员可手动输入，如不输入按预设文本自动显示。该文本框显示内容为分析人员可手动输入，如不输入按预设文本自动显示。该文本框显示内容为分析人员可手动输入，如不输入按预设文本自动显示。该文本框显示内容为分析人员可手动输入，如不输入按预设文本自动显示。（预设温度设几个引导判断因素，随后提供文本内容）</p>
	    </div>
	    
	    <!-- DC(冷库)月度运行分析详情技术附件及结论：  -->
	    <!-- 温度分析部分 -->
	    <div class="print_part chart_gap">
	    	<h4><strong>DC(冷库)月度运行分析详情技术附件及结论:</strong></h4>
	    	<p class="tac col-lg-8"><span class="bgBlue">温度分析</span></p>
	    	<div class="row">
	    		<div class="chartPart col-lg-8">
	    			<div id="tempertureId" class="chartHight"></div>
	    		</div>
	    		<div class="textPart col-lg-4">
	    			<p><strong>超温时长（综合大数据纵环比分析）</strong></p>
	    			<p>低温库  平均日超温时长62min，温控优良</p>
	    			<p>变温库  平均日超温时长68min，温控优良</p>
	    			<p>高温库  平均日超温时长72min，温控优良</p>
	    			<p class="intro">**判断优良标准逻辑：平均每天75min以下“优良”，75~120min属“一般”，150min以上属“不理想”**</p>
	    		</div>
	    	</div>
	    	<hr>
	    	<div class="row">
	    		<div class="chartPart col-lg-8">
	    			<div id="cwyzId" class="chartHight"></div>
	    		</div>
	    		<div class="textPart col-lg-4">
	    			<p><strong>超温因子（综合大数据纵环比分析）</strong></p>
	    			<p>低温库  平均日超温因子1.68，温控优良</p>
	    			<p>变温库  平均日超温因子1.12，温控优良</p>
	    			<p class="intro">**判断优良标准逻辑：平均每天2.0以下“优良”，2.0~5属“一般”，5以上属“不理想”**</p>
	    		</div>
	    	</div>
	    	<hr>
	    	<div class="row">
	    		<div class="chartPart col-lg-8">
	    			<div id="bwyzId" class="chartHight"></div>
	    		</div>
	    		<div class="textPart col-lg-4">
	    			<p><strong>保温因子（综合大数据纵环比分析）</strong></p>
	    			<p>预冷间  平均日保温因子0.042，温控优良</p>
	    			<p>冰鲜库 平均日保温因子0.045，温控优良</p>
	    			<p class="intro">**判断优良标准逻辑：平均每天0.1以下“优良”，0.1~0.15属“一般”，0.15以上属“不理想”**</p>
	    		</div>
	    	</div>
	    </div>
	    <!-- 运管分析部分 -->
	    <hr>
	    <div class="print_part chart_gap">
	    	<p class="tac col-lg-8"><span class="bgGold">运管分析</span></p>
	    	<div class="row">
	    		<div class="chartPart col-lg-8">
	    			<div id="openDoorTimesId" class="chartHight"></div>
	    		</div>
	    		<div class="textPart col-lg-4">
	    			<p><strong>开门次数（综合大数据纵环比分析）</strong></p>
	    			<p>低温库  平均日开门次数15，库门操作规范</p>
	    			<p>变温库  平均日开门次数33，库门操作规范</p>
	    			<p class="intro">**判断优良标准逻辑：平均每天30以下“规范”，30~50属“一般”，50以上属“频繁”**</p>
	    		</div>
	    	</div>
	    	<hr>
	    	<div class="row">
	    		<div class="chartPart col-lg-8">
	    			<div id="singleOpenDoorId" class="chartHight"></div>
	    		</div>
	    		<div class="textPart col-lg-4">
	    			<p><strong>单次开门时长(综合大数据纵比分析）</strong></p>
	    			<p>低温库  平均单次开门时长5，库门操作规范</p>
	    			<p>变温库  平均单次开门时长6，库门操作规范</p>
	    			<p class="intro">**判断优良标准逻辑：平均每次开门时长3以下“规范”，3~5属“一般”，5以上属“不规范”**</p>
	    		</div>
	    	</div>
	    	<hr>
	    	<div class="row">
	    		<div class="chartPart col-lg-8">
	    			<div id="goodsId" class="chartHight"></div>
	    		</div>
	    		<div class="textPart col-lg-4">
	    			<p><strong>货物流通因子(综合大数据纵环比分析）</strong></p>
	    			<p>本DC（冷库）的月平均货物因子为**.**表明本DC（冷库）货物流通情况符合规设计条件。</p>
	    			<p class="intro">**文本框处根据月度平均货物因子值自动判断“低于”“符合””超过”**</p>
	    		</div>
	    	</div>
	    </div>
	    <!-- 制冷分析部分 -->
	    <hr>
	    <div class="print_part chart_gap">
	    	<p class="tac col-lg-8"><span class="bgGreen">制冷分析</span></p>
	    	<div class="row partP">
	    		<div class="chartPart col-lg-6">
	    			<div id="ysjRunningTimeId" class="chartHight"></div>
	    		</div>
	    		<div class="chartPart col-lg-6">
	    			<div id="onOffCycleId" class="chartHight"></div>
	    		</div>
	    		<p class="col-lg-12" style="margin: 20px 0;">该文本框显示内容为分析人员可手动输入，如不输入按预设文本自动显示。该文本框显示内容为分析人员可手动输入，如不输入按预设文本自动显示。该文本框显示内容为分析人员可手动输入，如不输入按预设文本自动显示。该文本框显示内容为分析人员可手动输入，如不输入按预设文本自动显示。（预设温度设几个引导判断因素，随后提供文本内容）</p>
	    	</div>
	    </div>
	    <!-- 热量分析部分 -->
	    <hr>
	    <div class="print_part chart_gap">
	    	<p class="tac col-lg-8"><span class="bgPurple">热量分析</span></p>
	    	<div class="row">
	    		<div class="chartPart col-lg-8">
	    			<div id="hotId" class="chartHight"></div>
	    		</div>
	    		<div class="textPart col-lg-4">
	    			<table class="table table-bordered">
	    				<caption>本DC（冷库）的月平均热量分布</caption>
	    				<tbody>
	    				<tr>
	    					<td>货物热量</td>
	    					<td>20%</td>
	    					<td>偏小</td>
	    					<td>有增加空间</td>
	    				</tr>
	    				<tr>
	    					<td>化霜热量</td>
	    					<td>26.8%</td>
	    					<td>严重偏大</td>
	    					<td>需优化</td>
	    				</tr>
	    				<tr>
	    					<td>叉车热量</td>
	    					<td>12.8%</td>
	    					<td>严重偏大</td>
	    					<td>需优化</td>
	    				</tr>
	    				<tr>
	    					<td>照明热量</td>
	    					<td>8.5%</td>
	    					<td>严重偏大</td>
	    					<td>需优化</td>
	    				</tr>
	    				<tr>
	    					<td>维护侵入热量</td>
	    					<td>10%</td>
	    					<td>良好</td>
	    					<td>无需优化</td>
	    				</tr>
	    				<tr>
	    					<td>风机运行热量</td>
	    					<td>15%</td>
	    					<td>严重偏大</td>
	    					<td>需优化</td>
	    				</tr>	    				
	    				</tbody>
	    				<tfoot class="intro">
	    					<tr><td colspan="4">**文本框处预设占比值自动判断形成结果**</td></tr>
	    				</tfoot>
	    			</table>
	    		</div>
	    	</div>
	    </div>
	    <!-- 能耗分析部分 -->
	    <hr>
	    <div class="print_part chart_gap">
	    	<p class="tac col-lg-8"><span class="bgRed">能耗分析</span></p>
	    	<div class="row partP">
	    		<div class="chartPart col-lg-8">
	    			<div id="electricId" class="chartHight col-lg-6"></div>
	    			<div id="waterId" class="chartHight col-lg-6"></div>
	    		</div>
	    		<div class="textPart col-lg-4">
	    			<table class="table table-bordered">
	    				<caption>本DC（冷库）的月累计能耗统计</caption>
	    				<tbody>
		    				<tr>
		    					<td>电表1</td>
		    					<td>累计电耗</td>
		    					<td>32149kwh</td>
		    				</tr>
		    				<tr>
		    					<td>电表2</td>
		    					<td>累计电耗</td>
		    					<td>1026kwh</td>
		    				</tr>
		    				<tr>
		    					<td>电表3</td>
		    					<td>累计电耗</td>
		    					<td>843kwh</td>
		    				</tr>
		    				<tr>
		    					<td>电表4</td>
		    					<td>累计电耗</td>
		    					<td>8492kwh</td>
		    				</tr>
		    				<tr>
	    					<td>机组1</td>
	    					<td>累计水耗</td>
	    					<td>162.8t</td>
	    				</tr>
	    				<tr>
	    					<td>机组2</td>
	    					<td>累计水耗</td>
	    					<td>2.7t</td>
	    				</tr>
	    				<tr>
	    					<td>机组3</td>
	    					<td>累计水耗</td>
	    					<td>0.0t</td>
	    				</tr>	 
	    				</tbody>
	    			</table>
				</div>
	    	</div>
	    </div>
	    <!-- 能效分析部分 -->
	    <hr>
	    <div class="print_part chart_gap">
	    	<p class="tac col-lg-8"><span class="bgPink">能效分析</span></p>
	    	<div class="row partP">
	    		<div class="chartPart col-lg-8">
	    			<div id="energyEfficiencyId" class="chartHight"></div>
	    		</div>
	    		<div class="textPart col-lg-4">
	    			<table class="table table-bordered">
	    				<caption>本DC（冷库）的月累计能耗统计</caption>
	    				<tbody>
		    				<tr>
		    					<td>电表1</td>
		    					<td>累计电耗</td>
		    					<td>32149kwh</td>
		    				</tr>
		    				<tr>
		    					<td>电表2</td>
		    					<td>累计电耗</td>
		    					<td>1026kwh</td>
		    				</tr>
		    				<tr>
		    					<td>电表3</td>
		    					<td>累计电耗</td>
		    					<td>843kwh</td>
		    				</tr>
		    				<tr>
		    					<td>电表4</td>
		    					<td>累计电耗</td>
		    					<td>8492kwh</td>
		    				</tr> 
	    				</tbody>
	    			</table>
				</div>
	    	</div>
	    </div>
	</div>
</div>

<script type="text/javascript" src="../../assets/js/echarts-all.js"></script>
<script type="text/javascript">
var myChart1 = echarts.init(document.getElementById('tempertureId')),
    myChart2 = echarts.init(document.getElementById('cwyzId')),
    myChart3 = echarts.init(document.getElementById('bwyzId')),
    myChart4 = echarts.init(document.getElementById('openDoorTimesId')),
    myChart5 = echarts.init(document.getElementById('singleOpenDoorId')),
    myChart6 = echarts.init(document.getElementById('goodsId')),
    myChart7 = echarts.init(document.getElementById('ysjRunningTimeId')),
    myChart8 = echarts.init(document.getElementById('onOffCycleId')),
    myChart9 = echarts.init(document.getElementById('hotId')),
    myChart10 = echarts.init(document.getElementById('electricId')),
    myChart11 = echarts.init(document.getElementById('waterId')),
    myChart12 = echarts.init(document.getElementById('energyEfficiencyId'));

	var option1 = {
		title : {
			text : '超温时长(min/day)',
			x : 'center',
			y : 20
		},
		tooltip : {
			trigger : 'axis'
		},
		legend : {
			data : [ '低温库', '高温库' ],
			y : 'bottom'
		},
		xAxis : [ {
			type : 'category',  
            splitLine:{  
                show:false  
            }, 
			axisLabel : {
				rotate : '60',
				interval : 0
			},
			data : [ '2016-10-01', '2016-10-02', '2016-10-03', '2016-10-04',
					'2016-10-05', '2016-10-06', '2016-10-07', '2016-10-08',
					'2016-10-09', '2016-10-10', '2016-10-11', '2016-10-12',
					'2016-10-13', '2016-10-14', '2016-10-15', '2016-10-16',
					'2016-10-17', '2016-10-18', '2016-10-19', '2016-10-20',
					'2016-10-21', '2016-10-22', '2016-10-23', '2016-10-24',
					'2016-10-25', '2016-10-26', '2016-10-27', '2016-10-28',
					'2016-10-29', '2016-10-30', '2016-10-31' ]
		} ],
		grid : {
			y2 : 110,
			width : '80%'
		},
		yAxis : [ {
			type : 'value',
			axisLabel : {
				formatter : '{value}'
			}
		} ],
		series : [
				{
					name : '低温库',
					type : 'line',
					data : [ 11, 16, 15, 13, 12, 13, 10, 11, 15, 13, 19, 13,
							10, 11, 15, 13, 12, 13, 8, 11, 15, 13, 12, 13, 10,
							6, 15, 13, 12, 13, 10 ],
				},
				{
					name : '高温库',
					type : 'line',
					data : [ 16, 15, 13, 12, 13, 10, 11, 15, 13, 19, 13, 10,
							11, 15, 13, 12, 13, 8, 11, 15, 13, 12, 13, 10, 6,
							15, 13, 12, 13, 10, 20 ],
				} ]
	};
	var option2 = {
		title : {
			text : '超温因子(ε)',
			x : 'center',
			y : 20
		},
		tooltip : {
			trigger : 'axis'
		},
		legend : {
			data : [ '低温库', '变温库' ],
			y : 'bottom'
		},
		xAxis : [ {
			type : 'category',  
            splitLine:{  
                show:false  
            }, 
			axisLabel : {
				rotate : '60',
				interval : 0
			},
			data : [ '2016-10-01', '2016-10-02', '2016-10-03', '2016-10-04',
					'2016-10-05', '2016-10-06', '2016-10-07', '2016-10-08',
					'2016-10-09', '2016-10-10', '2016-10-11', '2016-10-12',
					'2016-10-13', '2016-10-14', '2016-10-15', '2016-10-16',
					'2016-10-17', '2016-10-18', '2016-10-19', '2016-10-20',
					'2016-10-21', '2016-10-22', '2016-10-23', '2016-10-24',
					'2016-10-25', '2016-10-26', '2016-10-27', '2016-10-28',
					'2016-10-29', '2016-10-30', '2016-10-31' ]
		} ],
		grid : {
			y2 : 110,
			width : '80%'
		},
		yAxis : [ {
			type : 'value',
			axisLabel : {
				formatter : '{value}'
			}
		} ],
		series : [
				{
					name : '低温库',
					type : 'line',
					data : [ 13, 11, 12, 11, 15, 18, 10, 11, 15, 13, 11, 13,
							16, 11, 15, 13, 17, 13, 8, 11, 15, 13, 11, 13, 10,
							6, 15, 13, 16, 13, 18 ],
				},
				{
					name : '变温库',
					type : 'line',
					data : [ 12, 13, 14, 12, 23, 10, 11, 15, 13, 19, 13, 10,
							11, 15, 13, 12, 13, 18, 11, 15, 13, 12, 13, 13, 60,
							15, 11, 12, 52, 20, 10 ],
				} ]
	};
	var option3 = {
		title : {
			text : '保温因子(τ)',
			x : 'center',
			y : 20
		},
		tooltip : {
			trigger : 'axis'
		},
		legend : {
			data : [ '预冷间', '冰鲜库' ],
			y : 'bottom'
		},
		xAxis : [ {
			type : 'category',  
            splitLine:{  
                show:false  
            }, 
			axisLabel : {
				rotate : '60',
				interval : 0
			},
			data : [ '2016-10-01', '2016-10-02', '2016-10-03', '2016-10-04',
					'2016-10-05', '2016-10-06', '2016-10-07', '2016-10-08',
					'2016-10-09', '2016-10-10', '2016-10-11', '2016-10-12',
					'2016-10-13', '2016-10-14', '2016-10-15', '2016-10-16',
					'2016-10-17', '2016-10-18', '2016-10-19', '2016-10-20',
					'2016-10-21', '2016-10-22', '2016-10-23', '2016-10-24',
					'2016-10-25', '2016-10-26', '2016-10-27', '2016-10-28',
					'2016-10-29', '2016-10-30', '2016-10-31' ]
		} ],
		grid : {
			y2 : 110,
			width : '80%'
		},
		yAxis : [ {
			type : 'value',
			axisLabel : {
				formatter : '{value}'
			}
		} ],
		series : [
				{
					name : '预冷间',
					type : 'line',
					data : [ 0.11, 0.16, 0.15, 0.13, 0.12, 0.13, 0.10, 0.11,
							0.15, 0.13, 0.19, 0.13, 0.10, 0.11, 0.15, 0.13,
							0.12, 0.13, 0.08, 0.11, 0.15, 0.13, 0.12, 0.13,
							0.10, 0.06, 0.15, 0.13, 0.12, 0.13, 0.10 ],
				},
				{
					name : '冰鲜库',
					type : 'line',
					data : [ 0.16, 0.15, 0.13, 0.12, 0.13, 0.10, 0.11, 0.15,
							0.13, 0.19, 0.16, 0.15, 0.13, 0.12, 0.13, 0.10,
							0.11, 0.15, 0.13, 0.19, 0.16, 0.15, 0.13, 0.12,
							0.13, 0.10, 0.11, 0.15, 0.13, 0.19, 0.23 ],
				} ]
	};
	var option4 = {
		title : {
			text : '日开门次数',
			x : 'center',
			y : 20
		},
		tooltip : {
			trigger : 'axis'
		},
		legend : {
			data : [ '低温库-门1', '变温库-门2' ],
			y : 'bottom'
		},
		xAxis : [ {
			type : 'category',  
            splitLine:{  
                show:false  
            }, 
			axisLabel : {
				rotate : '60',
				interval : 0
			},
			data : [ '2016-10-01', '2016-10-02', '2016-10-03', '2016-10-04',
					'2016-10-05', '2016-10-06', '2016-10-07', '2016-10-08',
					'2016-10-09', '2016-10-10', '2016-10-11', '2016-10-12',
					'2016-10-13', '2016-10-14', '2016-10-15', '2016-10-16',
					'2016-10-17', '2016-10-18', '2016-10-19', '2016-10-20',
					'2016-10-21', '2016-10-22', '2016-10-23', '2016-10-24',
					'2016-10-25', '2016-10-26', '2016-10-27', '2016-10-28',
					'2016-10-29', '2016-10-30', '2016-10-31' ]
		} ],
		grid : {
			y2 : 110,
			width : '80%'
		},
		yAxis : [ {
			type : 'value',
			axisLabel : {
				formatter : '{value}'
			}
		} ],
		series : [
				{
					name : '低温库-门1',
					type : 'line',
					data : [ 011, 016, 015, 013, 012, 013, 010, 011, 015, 013,
							019, 013, 010, 011, 015, 013, 012, 013, 008, 011,
							015, 013, 012, 013, 010, 006, 015, 013, 012, 013,
							010 ],
				},
				{
					name : '变温库-门2',
					type : 'line',
					data : [ 016, 015, 013, 012, 013, 010, 011, 015, 013, 019,
							016, 015, 013, 012, 013, 010, 011, 015, 013, 019,
							016, 015, 013, 012, 013, 010, 011, 015, 013, 019,
							023 ],
				} ]
	};
	var option5 = {
		title : {
			text : '单次开门时长',
			x : 'center',
			y : 20
		},
		tooltip : {
			trigger : 'axis'
		},
		legend : {
			data : [ '低温库-门1', '变温库-门2' ],
			y : 'bottom'
		},
		xAxis : [ {
			type : 'category',  
            splitLine:{  
                show:false  
            }, 
			axisLabel : {
				rotate : '60',
				interval : 0
			},
			data : [ '2016-10-01', '2016-10-02', '2016-10-03', '2016-10-04',
					'2016-10-05', '2016-10-06', '2016-10-07', '2016-10-08',
					'2016-10-09', '2016-10-10', '2016-10-11', '2016-10-12',
					'2016-10-13', '2016-10-14', '2016-10-15', '2016-10-16',
					'2016-10-17', '2016-10-18', '2016-10-19', '2016-10-20',
					'2016-10-21', '2016-10-22', '2016-10-23', '2016-10-24',
					'2016-10-25', '2016-10-26', '2016-10-27', '2016-10-28',
					'2016-10-29', '2016-10-30', '2016-10-31' ]
		} ],
		grid : {
			y2 : 110,
			width : '80%'
		},
		yAxis : [ {
			type : 'value',
			axisLabel : {
				formatter : '{value}'
			}
		} ],
		series : [
				{
					name : '低温库-门1',
					type : 'line',
					data : [ 011, 016, 015, 013, 012, 013, 010, 011, 015, 013,
							019, 013, 010, 011, 015, 013, 012, 013, 008, 011,
							015, 013, 012, 013, 010, 006, 015, 013, 012, 013,
							010 ],
				},
				{
					name : '变温库-门2',
					type : 'line',
					data : [ 016, 015, 013, 012, 013, 010, 011, 015, 013, 019,
							016, 015, 013, 012, 013, 010, 011, 015, 013, 019,
							016, 015, 013, 012, 013, 010, 011, 015, 013, 019,
							023 ],
				} ]
	};
	var option6 = {
		title : {
			text : '货物因子',
			x : 'center',
			y : 20
		},
		tooltip : {
			trigger : 'axis'
		},
		xAxis : [ {
			type : 'category',  
            splitLine:{  
                show:false  
            }, 
			axisLabel : {
				rotate : '60',
				interval : 0
			},
			data : [ '2016-10-01', '2016-10-02', '2016-10-03', '2016-10-04',
					'2016-10-05', '2016-10-06', '2016-10-07', '2016-10-08',
					'2016-10-09', '2016-10-10', '2016-10-11', '2016-10-12',
					'2016-10-13', '2016-10-14', '2016-10-15', '2016-10-16',
					'2016-10-17', '2016-10-18', '2016-10-19', '2016-10-20',
					'2016-10-21', '2016-10-22', '2016-10-23', '2016-10-24',
					'2016-10-25', '2016-10-26', '2016-10-27', '2016-10-28',
					'2016-10-29', '2016-10-30', '2016-10-31' ]
		} ],
		grid : {
			y2 : 110,
			width : '80%'
		},
		yAxis : [ {
			type : 'value',
			axisLabel : {
				formatter : '{value}'
			}
		} ],
		series : [ {
			name : '货物因子',
			type : 'bar',
			data : [ 016, 015, 013, 012, 013, 010, 011, 015, 013, 019, 016,
					015, 013, 012, 013, 010, 011, 015, 013, 019, 016, 015, 013,
					012, 013, 010, 011, 015, 013, 019, 023 ],
		} ]
	};
	var option7 = {
			title : {
				text : '压缩机运行时间',
				x : 'center',
				y : 20
			},
			tooltip : {
				trigger : 'axis'
			},
			xAxis : [ {
				type : 'category',
				name:'min', 
                splitLine:{  
                    show:false  
                }, 
				axisLabel : {
					interval : 0
				},
				data : [ '<5', '5-9', '10-19', '20-29','30-59', '60-119', '120-300', '>300']
			} ],
			grid : {
				x:40,
				y2 : 110,
				width : '80%'
			},
			yAxis : [ {
				name:'%',
				type : 'value',
				axisLabel : {
					formatter : '{value}'
				}
			} ],
			series : [ {
				name : '运行时间',
				type : 'bar',
				data : [ 68,40,10,15,9,2,1,1 ],
			} ]
		};
	var option8 = {
			title : {
				text : '设备的开关周期',
				x : 'center',
				y : 20
			},
			tooltip : {
				trigger : 'axis'
			},
			legend : {
				data : [ '每天或现行小时的次数', '每小时最高次数' ],
				y : 'bottom'
			},
			xAxis : [ {
				type : 'category',  
                splitLine:{  
                    show:false  
                }, 
				axisLabel : {
					interval : 0,
					formatter:function(params){
						var newParamsName = "";// 最终拼接成的字符串
					    var paramsNameNumber = params.length;// 实际标签的个数
					    var provideNumber = 4;// 每行能显示的字的个数
					    var rowNumber = Math.ceil(paramsNameNumber / provideNumber);// 换行的话，需要显示几行，向上取整
					    /**
					     * 判断标签的个数是否大于规定的个数， 如果大于，则进行换行处理 如果不大于，即等于或小于，就返回原标签
					     */
					    // 条件等同于rowNumber>1
					    if (paramsNameNumber > provideNumber) {
					        /** 循环每一行,p表示行 */
					        for (var p = 0; p < rowNumber; p++) {
					            var tempStr = "";// 表示每一次截取的字符串
					            var start = p * provideNumber;// 开始截取的位置
					            var end = start + provideNumber;// 结束截取的位置
					            // 此处特殊处理最后一行的索引值
					            if (p == rowNumber - 1) {
					                // 最后一次不换行
					                tempStr = params.substring(start, paramsNameNumber);
					            } else {
					                // 每一次拼接字符串并换行
					                tempStr = params.substring(start, end) + "\n";
					            }
					            newParamsName += tempStr;// 最终拼成的字符串
					        }

					    } else {
					        // 将旧标签的值赋给新标签
					        newParamsName = params;
					    }
					    //将最终的字符串返回
					    return newParamsName
				    }
				},
				data : [ '已55分钟','已08小时55分钟','-1天','-2天','-3天','-4天','-5天','-6天' ]
			} ],
			grid : {
				x:'40',
				y2 : 110,
				width : '80%'
			},
			yAxis : [ {
				type : 'value',
				name:'次数',
				axisLabel : {
					formatter : '{value}'
				}
			} ],
			series : [ {
				name : '每天或现行小时的次数',
				type : 'bar',
				data : [ 0,0,255,125,110,130,110,90 ],
			}, {
				name : '每小时最高次数',
				type : 'bar',
				data : [ 0,0,10,15,10,8,7,12 ],
			} ]
		};
	var option9 = {
			title : {
		        text: '月平均热量分布',
		        x:'center',
				y : 20
		    },
		    tooltip : {
		        trigger: 'item',
		        formatter: "{a} <br/>{b} : {c} ({d}%)"
		    },
		    legend: {
		    	y: 'bottom',
		        data:['冷风机风扇','保温','开门','照明','叉车','货物','化霜']
		    },
		    series : [
		        {
		            type:'pie',
		            radius : '55%',
		            center: ['50%', '60%'],
		            data:[
		                {value:15, name:'冷风机风扇'},
		                {value:10, name:'保温'},
		                {value:6.9, name:'开门'},
		                {value:8.5, name:'照明'},
		                {value:12.8, name:'叉车'},
		                {value:20, name:'货物'},
		                {value:26.8, name:'化霜'},
		            ]
		        }
		    ]
		};
	var option10 = {
			title : {
		        text: '月累计耗电占比',
		        x:'center',
				y : 20
		    },
		    tooltip : {
		        trigger: 'item',
		        formatter: "{a} <br/>{b} : {c} ({d}%)"
		    },
		    legend: {
		        y: 'bottom',
		        data:['电表1','电表2','电表3','电表4']
		    },
		    series : [
		        {
		            type:'pie',
		            radius : '55%',
		            center: ['50%', '60%'],
		            data:[
		                {value:32149, name:'电表1'},
		                {value:1026, name:'电表2'},
		                {value:843, name:'电表3'},
		                {value:8492, name:'电表4'}
		            ]
		        }
		    ]
		};
	var option11 = {
			title : {
		        text: '月累计水耗占比',
		        x:'center',
				y : 20
		    },
		    tooltip : {
		        trigger: 'item',
		        formatter: "{a} <br/>{b} : {c} ({d}%)"
		    },
		    legend: {
		    	y: 'bottom',
		        data:['机组1','机组2','机组3']
		    },
		    series : [
		        {
		            type:'pie',
		            radius : '55%',
		            center: ['50%', '60%'],
		            data:[
		                {value:162.8, name:'机组1'},
		                {value:2.7, name:'机组2'},
		                {value:0.0, name:'机组3'},
		            ]
		        }
		    ]
		};
	var option12 = {
			title : {
				text : '制冷系统运行效率趋势',
				x : 'center',
				y : 20
			},
			tooltip : {
				trigger : 'axis'
			},
			xAxis : [ {
				type : 'category',  
	            splitLine:{  
	                show:false  
	            }, 
				axisLabel : {
					rotate : '60',
					interval : 0
				},
				data : [ '2016-10-01', '2016-10-02', '2016-10-03', '2016-10-04',
						'2016-10-05', '2016-10-06', '2016-10-07', '2016-10-08',
						'2016-10-09', '2016-10-10', '2016-10-11', '2016-10-12',
						'2016-10-13', '2016-10-14', '2016-10-15', '2016-10-16',
						'2016-10-17', '2016-10-18', '2016-10-19', '2016-10-20',
						'2016-10-21', '2016-10-22', '2016-10-23', '2016-10-24',
						'2016-10-25', '2016-10-26', '2016-10-27', '2016-10-28',
						'2016-10-29', '2016-10-30', '2016-10-31' ]
			} ],
			grid : {
				y2 : 110,
				width : '80%'
			},
			yAxis : [ {
				type : 'value',
				axisLabel : {
					formatter : '{value}'
				}
			} ],
			series : [ {
				name : '系统效率',
				type : 'line',
				data : [ 0.16, 0.15, 0.13, 0.12, 0.13, 0.10, 0.11, 0.15,
							0.13, 0.19, 0.16, 0.15, 0.13, 0.12, 0.13, 0.10,
							0.11, 0.15, 0.13, 0.19, 0.16, 0.15, 0.13, 0.12,
							0.13, 0.10, 0.11, 0.15, 0.13, 0.19, 0.23],
			} ]
		};
	myChart1.setOption(option1);
	myChart2.setOption(option2);
	myChart3.setOption(option3);
	myChart4.setOption(option4);
	myChart5.setOption(option5);
	myChart6.setOption(option6);
	myChart7.setOption(option7);
	myChart8.setOption(option8);
	myChart9.setOption(option9);
	myChart10.setOption(option10);
	myChart11.setOption(option11);
	myChart12.setOption(option12);
</script>