<div id="rpt_asis_coment" class="page-content" style="padding: 0 10px">
	<div class="page-header">
	  &nbsp;&nbsp;月报表
	  <button class="btn btn-primary" ng-click="Preview();">打 印</button>
	</div>
	<div id="print">
		<div class="print_header">
	        <h3>
	            <img src="../../assets/img/logo_home.png" class="lianku_logo">睿冷信息技术（上海）有限公司
	        </h3>
	        <hr>
	    </div>
	    <!-- 报表标题  -->
	    <div class="print_title">
	    	<h2 class="tac"><strong>冷库综合运行系统月度分析报告</strong></h2>
	    	<div class="print_name clearfix">
	    		<div class="pull-left">
	    			<span>客户名称：</span><input type="text">
	    		</div>
	    		<div class="pull-left">
	    			<span>DC(冷库)名称：</span><input type="text" value="{{vm.choserdc.name}}">
	    		</div>
	    		<div class="pull-left">
	    			<span>分析周期：</span><input type="text">
	    		</div>
	    	</div>
	    </div>
	    <!-- DC(冷库)综合评分分值（满分为100分）  -->
	    <div class="print_part">
	    	<h4><strong>DC(冷库)综合评分分值(满分为100分):</strong></h4>
			<div id="physicalstep2" class="sys_group">
				<!-- 温度系统 -->
				<div class="box bg-gray" ng-if="pysicaldata.ishasTempDEV">
					<div class="box-header with-border">
						<h3 class="box-title">温度系统</h3>
					</div>
					<div class="box-body">
						<!-- 有设备 -->
						<div class="haveDevice">
							<div class="circle fontBlue">
								{{pysicaldata.avgTempScores}}<span>分</span>
							</div>
						</div>
					</div>
				</div>
				<!-- 运管系统 -->
				<div class="box bg-gray" ng-if="pysicaldata.ishasTempDEV">
					<div class="box-header with-border">
						<h3 class="box-title">运管系统</h3>
					</div>
					<div class="box-body">
						<!-- 有设备 -->
						<div class="haveDevice">
							<div class="circle fontGold">
								{{pysicaldata.avgTransportScores}}<span>分</span>
							</div>
						</div>
					</div>
				</div>
				<!-- 制冷系统 -->
				<div class="box bg-gray" ng-if="pysicaldata.ishasTempDEV">
					<div class="box-header with-border">
						<h3 class="box-title">制冷系统</h3>
					</div>
					<div class="box-body">
						<!-- 有设备 -->
						<div class="haveDevice ">
							<div class="circle fontGreen">
								{{pysicaldata.avgColdStorageScores}}<span>分</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- DC(冷库)月度运行状况分析结论  -->
		<div class="print_part partP">
	    	<h4><strong>DC(冷库)月度运行状况分析结论:</strong></h4>
	    	<p>该文本框显示内容为分析人员可手动输入，如不输入按预设文本自动显示。该文本框显示内容为分析人员可手动输入，如不输入按预设文本自动显示。该文本框显示内容为分析人员可手动输入，如不输入按预设文本自动显示。该文本框显示内容为分析人员可手动输入，如不输入按预设文本自动显示。（预设温度设几个引导判断因素，随后提供文本内容）</p>
	    </div>
	    
	    <!-- DC(冷库)月度运行分析详情技术附件及结论：  -->
	    <!-- 温度分析部分 -->
	    <div class="print_part chart_gap">
	    	<h4><strong>DC(冷库)月度运行分析详情技术附件及结论:</strong></h4>
	    	<p class="tac col-lg-8"><span class="bgBlue">温度分析</span></p>
	    	<div class="row">
	    		<div class="chartPart col-lg-8">
	    			<div id="tempertureId" class="chartHight"></div>
	    		</div>
	    		<div class="textPart col-lg-4">
	    			<p><strong>超温时长（综合大数据纵环比分析）</strong></p>
	    			<p   ng-repeat="obj in resoverTempe">{{obj.msg}}</p>
	    			<p class="intro">**判断优良标准逻辑：平均每天75min以下“优良”，75~120min属“一般”，150min以上属“不理想”**</p>
	    		</div>
	    	</div>
	    	<hr>
	    	<div class="row">
	    		<div class="chartPart col-lg-8">
	    			<div id="cwyzId" class="chartHight"></div>
	    		</div>
	    		<div class="textPart col-lg-4">
	    			<p><strong>超温因子（综合大数据纵环比分析）</strong></p>
	    			<p>低温库  平均日超温因子1.68，温控优良</p>
	    			<p>变温库  平均日超温因子1.12，温控优良</p>
	    			<p class="intro">**判断优良标准逻辑：平均每天2.0以下“优良”，2.0~5属“一般”，5以上属“不理想”**</p>
	    		</div>
	    	</div>
	    	<hr>
	    	<div class="row">
	    		<div class="chartPart col-lg-8">
	    			<div id="bwyzId" class="chartHight"></div>
	    		</div>
	    		<div class="textPart col-lg-4">
	    			<p><strong>保温因子（综合大数据纵环比分析）</strong></p>
	    			<p>预冷间  平均日保温因子0.042，温控优良</p>
	    			<p>冰鲜库 平均日保温因子0.045，温控优良</p>
	    			<p class="intro">**判断优良标准逻辑：平均每天0.1以下“优良”，0.1~0.15属“一般”，0.15以上属“不理想”**</p>
	    		</div>
	    	</div>
	    </div>
	    <!-- 运管分析部分 -->
	    <hr>
	    <div class="print_part chart_gap">
	    	<p class="tac col-lg-8"><span class="bgGold">运管分析</span></p>
	    	<div class="row">
	    		<div class="chartPart col-lg-8">
	    			<div id="openDoorTimesId" class="chartHight"></div>
	    		</div>
	    		<div class="textPart col-lg-4">
	    			<p><strong>开门次数（综合大数据纵环比分析）</strong></p>
	    			<p>低温库  平均日开门次数15，库门操作规范</p>
	    			<p>变温库  平均日开门次数33，库门操作规范</p>
	    			<p class="intro">**判断优良标准逻辑：平均每天30以下“规范”，30~50属“一般”，50以上属“频繁”**</p>
	    		</div>
	    	</div>
	    	<hr>
	    	<div class="row">
	    		<div class="chartPart col-lg-8">
	    			<div id="singleOpenDoorId" class="chartHight"></div>
	    		</div>
	    		<div class="textPart col-lg-4">
	    			<p><strong>单次开门时长(综合大数据纵比分析）</strong></p>
	    			<p>低温库  平均单次开门时长5，库门操作规范</p>
	    			<p>变温库  平均单次开门时长6，库门操作规范</p>
	    			<p class="intro">**判断优良标准逻辑：平均每次开门时长3以下“规范”，3~5属“一般”，5以上属“不规范”**</p>
	    		</div>
	    	</div>
	    	<hr>
	    	<div class="row">
	    		<div class="chartPart col-lg-8">
	    			<div id="goodsId" class="chartHight"></div>
	    		</div>
	    		<div class="textPart col-lg-4">
	    			<p><strong>货物流通因子(综合大数据纵环比分析）</strong></p>
	    			<p>本DC（冷库）的月平均货物因子为**.**表明本DC（冷库）货物流通情况符合规设计条件。</p>
	    			<p class="intro">**文本框处根据月度平均货物因子值自动判断“低于”“符合””超过”**</p>
	    		</div>
	    	</div>
	    </div>
	    <!-- 制冷分析部分 -->
	    <hr>
	    <div class="print_part chart_gap">
	    	<p class="tac col-lg-8"><span class="bgGreen">制冷分析</span></p>
	    	<div class="row partP">
	    		<div class="chartPart col-lg-6">
	    			<div id="ysjRunningTimeId" class="chartHight"></div>
	    		</div>
	    		<div class="chartPart col-lg-6">
	    			<div id="onOffCycleId" class="chartHight"></div>
	    		</div>
	    		<p class="col-lg-12" style="margin: 20px 0;">该文本框显示内容为分析人员可手动输入，如不输入按预设文本自动显示。该文本框显示内容为分析人员可手动输入，如不输入按预设文本自动显示。该文本框显示内容为分析人员可手动输入，如不输入按预设文本自动显示。该文本框显示内容为分析人员可手动输入，如不输入按预设文本自动显示。（预设温度设几个引导判断因素，随后提供文本内容）</p>
	    	</div>
	    </div>
	    <!-- 热量分析部分 -->
	    <hr>
	    <div class="print_part chart_gap">
	    	<p class="tac col-lg-8"><span class="bgPurple">热量分析</span></p>
	    	<div class="row">
	    		<div class="chartPart col-lg-8">
	    			<div id="hotId" class="chartHight"></div>
	    		</div>
	    		<div class="textPart col-lg-4">
	    			<table class="table table-bordered">
	    				<caption>本DC（冷库）的月平均热量分布</caption>
	    				<tbody>
	    				<tr>
	    					<td>货物热量</td>
	    					<td>20%</td>
	    					<td>偏小</td>
	    					<td>有增加空间</td>
	    				</tr>
	    				<tr>
	    					<td>化霜热量</td>
	    					<td>26.8%</td>
	    					<td>严重偏大</td>
	    					<td>需优化</td>
	    				</tr>
	    				<tr>
	    					<td>叉车热量</td>
	    					<td>12.8%</td>
	    					<td>严重偏大</td>
	    					<td>需优化</td>
	    				</tr>
	    				<tr>
	    					<td>照明热量</td>
	    					<td>8.5%</td>
	    					<td>严重偏大</td>
	    					<td>需优化</td>
	    				</tr>
	    				<tr>
	    					<td>维护侵入热量</td>
	    					<td>10%</td>
	    					<td>良好</td>
	    					<td>无需优化</td>
	    				</tr>
	    				<tr>
	    					<td>风机运行热量</td>
	    					<td>15%</td>
	    					<td>严重偏大</td>
	    					<td>需优化</td>
	    				</tr>	    				
	    				</tbody>
	    				<tfoot class="intro">
	    					<tr><td colspan="4">**文本框处预设占比值自动判断形成结果**</td></tr>
	    				</tfoot>
	    			</table>
	    		</div>
	    	</div>
	    </div>
	    <!-- 能耗分析部分 -->
	    <hr>
	    <div class="print_part chart_gap">
	    	<p class="tac col-lg-8"><span class="bgRed">能耗分析</span></p>
	    	<div class="row partP">
	    		<div class="chartPart col-lg-8">
	    			<div id="electricId" class="chartHight col-lg-6"></div>
	    			<div id="waterId" class="chartHight col-lg-6"></div>
	    		</div>
	    		<div class="textPart col-lg-4">
	    			<table class="table table-bordered">
	    				<caption>本DC（冷库）的月累计能耗统计</caption>
	    				<tbody>
		    				<tr>
		    					<td>电表1</td>
		    					<td>累计电耗</td>
		    					<td>32149kwh</td>
		    				</tr>
		    				<tr>
		    					<td>电表2</td>
		    					<td>累计电耗</td>
		    					<td>1026kwh</td>
		    				</tr>
		    				<tr>
		    					<td>电表3</td>
		    					<td>累计电耗</td>
		    					<td>843kwh</td>
		    				</tr>
		    				<tr>
		    					<td>电表4</td>
		    					<td>累计电耗</td>
		    					<td>8492kwh</td>
		    				</tr>
		    				<tr>
	    					<td>机组1</td>
	    					<td>累计水耗</td>
	    					<td>162.8t</td>
	    				</tr>
	    				<tr>
	    					<td>机组2</td>
	    					<td>累计水耗</td>
	    					<td>2.7t</td>
	    				</tr>
	    				<tr>
	    					<td>机组3</td>
	    					<td>累计水耗</td>
	    					<td>0.0t</td>
	    				</tr>	 
	    				</tbody>
	    			</table>
				</div>
	    	</div>
	    </div>
	    <!-- 能效分析部分 -->
	    <hr>
	    <div class="print_part chart_gap">
	    	<p class="tac col-lg-8"><span class="bgPink">能效分析</span></p>
	    	<div class="row partP">
	    		<div class="chartPart col-lg-8">
	    			<div id="energyEfficiencyId" class="chartHight"></div>
	    		</div>
	    		<div class="textPart col-lg-4">
	    			<table class="table table-bordered">
	    				<caption>本DC（冷库）的月累计能耗统计</caption>
	    				<tbody>
		    				<tr>
		    					<td>电表1</td>
		    					<td>累计电耗</td>
		    					<td>32149kwh</td>
		    				</tr>
		    				<tr>
		    					<td>电表2</td>
		    					<td>累计电耗</td>
		    					<td>1026kwh</td>
		    				</tr>
		    				<tr>
		    					<td>电表3</td>
		    					<td>累计电耗</td>
		    					<td>843kwh</td>
		    				</tr>
		    				<tr>
		    					<td>电表4</td>
		    					<td>累计电耗</td>
		    					<td>8492kwh</td>
		    				</tr> 
	    				</tbody>
	    			</table>
				</div>
	    	</div>
	    </div>
	</div>
	<div id="imgtest">
	 <img alt="" src="">
	</div>
</div>
<div id="loding" class="cover_bg black">
	<div class="loader">
        <div class="loader-inner line-scale">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <br/>
                                正在体检，请稍后！
      </div>
</div>
<script src="assets/js/printThis.js"></script>
<script type="text/javascript" src="../../assets/js/echarts-all.js"></script>
