<div>
	<div class="col-lg-6 bounceInLeft animated">
	  <div class="box bg-gray">
         <div id="forkLiftChart" style="height:300px"></div>
	  </div>
	</div>
	<div class="col-lg-6 bounceInDown animated">
	  <div class="box bg-gray">
         <div id="windScreenChart" style="height:300px"></div>
	  </div>
	</div>
	<div class="col-lg-6 bounceInUp animated">
	  <div class="box bg-gray">
          <div id="pressurePlatformChart" style="height:300px"></div>
	  </div>
	</div>
	<div class="col-lg-6 bounceInRight animated">
	  <div class="box bg-gray">
         <div id="chargingPileChart" style="height:300px"></div>
	  </div>
	</div>
</div>
<script src="../../assets/js/echarts.min.js"></script>