<div class="" >
  <div class="col-lg-5">
   <div style="margin-top:20px;">
    <div class="col-lg-6">
    <div class="box box-primary box-solid">
      <div class="box-header with-border">
       <h3 class="box-title">A相电压{{electricMap.AU.value}}&nbsp;&nbsp;&nbsp;&nbsp;V</h3>
      </div>
     </div>
    </div>
    <div class="col-lg-6">
    <div class="box box-primary box-solid">
      <div class="box-header with-border">
       <h3 class="box-title">A相电流{{electricMap.AI.value}}&nbsp;&nbsp;&nbsp;&nbsp;A</h3>
      </div>
     </div>
    </div>
    <div class="col-lg-6">
    <div class="box box-primary box-solid">
      <div class="box-header with-border">
       <h3 class="box-title">B相电压{{electricMap.BU.value}}&nbsp;&nbsp;&nbsp;&nbsp;V</h3>
      </div>
     </div>
    </div>
    <div class="col-lg-6">
    <div class="box box-primary box-solid">
      <div class="box-header with-border">
       <h3 class="box-title">B相电流{{electricMap.BI.value}}&nbsp;&nbsp;&nbsp;&nbsp;A</h3>
      </div>
     </div>
    </div>
    <div class="col-lg-6">
    <div class="box box-primary box-solid">
      <div class="box-header with-border">
       <h3 class="box-title">C相电压{{electricMap.CU.value}}&nbsp;&nbsp;&nbsp;&nbsp;V</h3>
      </div>
     </div>
    </div>
    <div class="col-lg-6">
    <div class="box box-primary box-solid">
      <div class="box-header with-border">
       <h3 class="box-title">C相电流{{electricMap.CI.value}}&nbsp;&nbsp;&nbsp;&nbsp;A</h3>
      </div>
     </div>
    </div>
  </div>
  </div>
  <div class="col-lg-7">
    <div class="box box-gray bg-gray" style="margin-top:10px;">
      <div id="line" style="height: 300px;"></div>
    </div>
  </div>
</div>
<script src="../../assets/js/echarts.min.js"></script>