
<style>
     @-webkit-keyframes magentaPulse {
            from {color: 	#FFFAFA; !imporeat}
            50% {bcolor: #a9014b; }
            to {color: #FF0000; }
        }
        .wiltrue{-webkit-animation-iteration-count: infinite;}
        .magentaPulse.wiltrue{-webkit-animation-name:magentaPulse;-webkit-animation-duration:2s;}
        #main_count_div{width: 100%;height: 100%;}
</style>
 <div id="main_count_div" class="myBg">

 <div class="toolbar">
     <div id="tool">
         <span><input type="checkbox" checked="checked" ng-click="alarm()">告警</span>
         <span><input type="checkbox" checked="checked">轮巡</span>
         <span class="glyphicon glyphicon-repeat" title="重置"></span>
         <span ng-click="refData()" class="glyphicon glyphicon-refresh" title="刷新"></span>
         <span ng-click="fullScreen()" class="glyphicon glyphicon-fullscreen" title="全屏"></span>
     </div>
     <i class="toolI iconfont">&#xe60c;</i>
 </div>
<div class="previewBox groupModel">
 
    <!--一个模块 start--><!--温度模块================================-->
    <div class="previewModel">
        <div class="headerModel myDefault">
            <div class="previewName myColor pull-left">实时温度</div>
            <div class="previewBtn pull-right">
                <button  ng-show="mystorages.length>4" class="btn btn-success btn-xs" onclick="moreFn(this,1)">更多</button>
                <button class="btn btn-danger btn-xs" onclick="closeFn(this)">关闭</button>
            </div>
        </div>
        <div class="bodyModel clearfix">
            <div class="unitModel"ng-repeat="storage in mystorages" ng-show="$index<4">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="unitIcon"><i class="iconfont  {{isovTemp[storage.id]?'magentaPulse wiltrue':'' }} "   >&#xe67c;</i></div>
                    <p class="omg">{{storage.name}}</p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <h2 class="omg">{{cuttTemp[storage.id]}}°C</h2>
                </div>
            </div>
        </div>
    </div>
    <!--一个模块 end-->

    <!--一个模块 start--><!--温度模块================================-->
    <div class="previewModel" ng-show="powers.length>0">
        <div class="headerModel myDefault">
            <div class="previewName myColor pull-left">实时电量</div>
            <div class="previewBtn pull-right">
                <button ng-show="powers.length>4" class="btn btn-success btn-xs" onclick="moreFn(this,2)">更多</button>
                <button class="btn btn-danger btn-xs" onclick="closeFn(this)">关闭</button>
            </div>
        </div>
        <div class="bodyModel clearfix">
            <div ng-repeat="power in powers" ng-show="$index<4">
                <div class="unitModel">
                    <div class="electricModel">
                        <div class="previewName myColor">{{power.name}}</div>
                    </div>
                    <div class="txtModel">
                        <h2 class="omg">{{cuttrepwc[power.id]}}Kw·h</h2>
                    </div>
                </div>
                <div class="chartModel myDefault"  id="powerchar_{{power.id}}">

                </div>
            </div>
        </div>
    </div>
    <!--一个模块 end-->

    <!--一个模块 start--><!--压缩机模块===============================-->
    <div class="previewModel myDefault" ng-show="compressorGroups.length>0">
        <div class="headerModel">
            <div class="previewName myColor pull-left">压缩机</div>
            <div class="previewBtn pull-right">
                <button  ng-show="compressorGroups.length>4" class="btn btn-success btn-xs" onclick="moreFn(this,3)">更多</button>
                <button class="btn btn-danger btn-xs" onclick="closeFn(this)">关闭</button>
            </div>
        </div>
        <div class="bodyModel clearfix" >
            <div class="clearfix ysj" ng-repeat="compressorGroup in compressorGroups" ng-show="$index<4">
                <img ng-repeat="compressor in compressorGroup.compressors" ng-src="../assets/img/pressure{{compressor.type}}_{{compressor.status}}.png">
                <h6>{{compressorGroup.name}}</h6>
            </div>
        </div>
        <div class="text-center">
            <span><b></b>运行</span>
            <span><b></b>停止</span>
        </div>
    </div>
    <!--一个模块 end-->

    <!--一个模块 start--><!--冷风机模块================================-->
    <div class="previewModel" ng-show="blowers.length>0">
        <div class="headerModel myDefault">
            <div class="previewName myColor pull-left">冷风机</div>
            <div class="previewBtn pull-right">
                <button ng-show="blowers.length>4" class="btn btn-success btn-xs" onclick="moreFn(this,4)">更多</button>
                <button class="btn btn-danger btn-xs" onclick="closeFn(this)">关闭</button>
            </div>
        </div>
        <div class="bodyModel clearfix">
            <div ng-repeat="blower in blowers" id="blowerPage" ng-show="$index<4">
                <div class="unitModel"  >
                    <div class="electricModel myColor">
                        <div class="text-left omg">{{blower.coldStorageName}}的{{blower.name}}</div>
                    </div>
                    <div class="txtModel clearfix">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="unitIcon">
                                 <span class="unitBg {{blower.cls}}">
                                   <i  class="fa fa-support"></i>
                                </span>

                            </div>

                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <p class="omg">制冷累计：{{blower.runTime}}H</p>
                            <p class="omg">化霜累计：{{blower.defrostTime}}H</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="headerModel myDefault" style="margin-top: 1em;">
            <div class="text-center">
                <span><b style="background-color:#10c469;"></b>制冷</span>
                <span><b style="background-color:#f39938;"></b>化霜</span>
                <span><b style="background-color:#d93f3f;"></b>待机</span>
            </div>
        </div>
    </div>
    <!--一个模块 end-->
</div>
<!--更多展示HTML-->
<div class="previewBox singleModel black">
    <!--一个模块 start--><!--温度模块================================-->
    <div class="previewModel">
        <div class="headerModel myDefault">
            <div class="previewName myColor pull-left">实时温度</div>
            <div class="previewBtn pull-right">
                <button class="btn btn-success btn-xs" onclick="backFn(this,1)">返回</button>
            </div>
        </div>
        <div class="bodyModel clearfix">
            <div class="unitModel"ng-repeat="storage in mystorages" >
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="unitIcon"><i class="iconfont">&#xe67c;</i></div>
                    <p class="omg">{{storage.name}}</p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <h2 class="omg">{{cuttTemp[storage.id]}}°C</h2>
                </div>
            </div>
        </div>
    </div>
    <!--一个模块 end-->

    <!--一个模块 start--><!--温度模块================================-->
    <div class="previewModel">
        <div class="headerModel myDefault">
            <div class="previewName myColor pull-left">实时电量</div>
            <div class="previewBtn pull-right">
                <button class="btn btn-success btn-xs" onclick="backFn(this,2)">返回</button>
            </div>
        </div>
        <div class="bodyModel clearfix">
                <div ng-repeat="power in powers" >
                <div class="unitModel">
                    <div class="electricModel">
                        <div class="previewName myColor">{{power.name}}</div>
                    </div>
                    <div class="txtModel">
                        <h2 class="omg">{{cuttrepwc[power.id]}}Kw·h</h2>
                    </div>
                </div>
                <div class="chartModel myDefault" style="height: 200px;width:400px; "  id="all_powerchar_{{power.id}}">

                </div>
            </div>
        </div>
    </div>
    <!--一个模块 end-->

    <!--一个模块 start--><!--压缩机模块===============================-->
    <div class="previewModel myDefault">
        <div class="headerModel">
            <div class="previewName myColor pull-left">压缩机</div>
            <div class="previewBtn pull-right">
                <button class="btn btn-success btn-xs" onclick="backFn(this,3)">返回</button>
            </div>
        </div>
        <div class="bodyModel clearfix">
           <div class="clearfix ysj" ng-repeat="compressorGroup in compressorGroups">
                <img ng-repeat="compressor in compressorGroup.compressors" ng-src="../assets/img/pressure{{compressor.type}}_{{compressor.status}}.png">
                <h6>{{compressorGroup.name}}</h6>
            </div>
        </div>
        <div class="text-center">
            <span><b></b>运行</span>
            <span><b></b>停止</span>
        </div>
    </div>
    <!--一个模块 end-->

    <!--一个模块 start--><!--冷风机模块================================-->
    <div class="previewModel">
        <div class="headerModel myDefault">
            <div class="previewName myColor pull-left">冷风机</div>
            <div class="previewBtn pull-right">
                <button class="btn btn-success btn-xs" onclick="backFn(this,4)">返回</button>
            </div>
        </div>
        <div class="bodyModel clearfix">
            <div ng-repeat="blower in blowers" id="blowerPage" >
                <div class="unitModel"  >
                    <div class="electricModel myColor">
                        <div class="text-left omg">{{blower.coldStorageName}}的{{blower.name}}</div>
                    </div>
                    <div class="txtModel clearfix">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="unitIcon">
                                <span class="unitBg {{blower.cls}}">
                                    <i  class="fa fa-support"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <p class="omg">制冷累计：{{blower.runTime}}H</p>
                            <p class="omg">化霜累计：{{blower.defrostTime}}H</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="headerModel myDefault" style="margin-top: 1em;">
            <div class="text-center">
                <span><b style="background-color:#10c469;"></b>制冷</span>
                <span><b style="background-color:#f39938;"></b>化霜</span>
                <span><b style="background-color:#d93f3f;"></b>待机</span>
            </div>
        </div>
    </div>
    <!--一个模块 end-->
</div>
</div>
 

<script src="assets/js/echarts.min.js"></script>
<script>
    function closeFn(em) { $(em).parents('.previewModel').remove(); }
    function moreFn(em,index) { $(em).parents('.groupModel').hide();$(".singleModel").show ().children(".previewModel").eq(index-1).show().siblings().hide(); }
    function backFn(em,index) { $(em).parents('.singleModel').hide(); $(".groupModel").show (); }
</script>