
<link rel="stylesheet" href="assets/css/jquery.fullPage.css" />
<style>
     @-webkit-keyframes magentaPulse {
            from {color: 	#FFFAFA; !imporeat}
            50% {bcolor: #a9014b; }
            to {color: #FF0000; }
        }
        .wiltrue{-webkit-animation-iteration-count: infinite;}
        .magentaPulse.wiltrue{-webkit-animation-name:magentaPulse;-webkit-animation-duration:2s;}
        #main_count_div{width: 100%;height: 100%;}
        #fp-nav ul li, .fp-slidesNav ul li{width:20px;height:19px;}
        #fp-nav ul li a span, .fp-slidesNav ul li a span{width:16px;height:16px;border-color:#999;}
        #fp-nav ul li a.active span, .fp-slidesNav ul li a.active span{background:#f80;}
        #fp-nav ul li .fp-tooltip.right{right:24px;}
        #fp-nav ul li .fp-tooltip{max-width: 400px;background: rgba(0, 0, 0, 0.42);padding: 2px 4px;border-radius:2px;}
</style>
<script src="assets/plugins/fullPage/jquery.fullPage.min.js"></script>
 <div id="main_count_div" class="myBg">
	 <div class="toolbar">
	     <div id="tool">
	         <span><input type="checkbox"  ng-model="priveseting.shTemp" ng-click="changemode();">温度</span>
	         <span><input type="checkbox"  ng-model="priveseting.shpwc"  ng-click="changemode();">电量</span>
	         <span><input type="checkbox"  ng-model="priveseting.shysj"  ng-click="changemode();">机组</span>
	         <span><input type="checkbox"  ng-model="priveseting.shfolw" ng-click="changemode();">风机</span>
	          
	         <span><input type="checkbox" checked="checked" ng-click="alarm()">告警</span>
	         <span><input type="checkbox" checked="checked" ng-click="priveseting.isRoll=!priveseting.isRoll">轮巡</span>
	         <span class="glyphicon glyphicon-repeat" title="重置"></span>
	         <span ng-click="refdata()" class="glyphicon glyphicon-refresh" title="刷新"></span>
	         <span ng-click="fullScreen()" class="glyphicon glyphicon-fullscreen" title="全屏"></span>
	     </div>
	     <i class="toolI iconfont">&#xe60c;</i>
	 </div>
	 <div id="dowebok" class="hide">
			<div  ng-repeat="rdc in allrdc"   class="section myBg" style="overflow-y: scroll;max-height: 600px;">
				<h3 class="text-center">{{rdc.name}}</h3>
				<div id="rdc_datil_{{rdc.id}}" style="overflow-y: scroll;max-height: 560px;">
				      <div class="previewBox groupModel">
				      
						    <!--一个模块 start--><!--温度模块================================-->
						    <div class="previewModel" ng-show="priveseting.shTemp">
						        <div class="headerModel myDefault">
						            <div class="previewName myColor pull-left">实时温度</div>
						            <div class="previewBtn pull-right">
						                <button class="btn btn-danger btn-xs glyphicon glyphicon-remove" onclick="closeFn(this)"></button>
						            </div>
						        </div>
						        <div class="bodyModel clearfix">
						            <div class="unitModel" style="margin-bottom: 15px;" ng-repeat="storage in rdc.mystorages" >
						                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						                    <div class="unitIcon"><i class="iconfont  {{priveseting.isOverTemp&&storage.isovTemp?'magentaPulse wiltrue':'' }} "   >&#xe67c;</i></div>
						                    <p class="omg">{{storage.name}}</p>
						                </div>
						                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
						                    <h2 class="omg">{{storage.temp}}°C</h2>
						                </div>
						            </div>
						        </div>
						    </div>
						    <!--一个模块 end-->
				
				
			              <!--一个模块 start--><!--温度模块================================-->
						   <div class="previewModel" ng-show="rdc.powers.length>0&&priveseting.shpwc">
						        <div class="headerModel myDefault">
						            <div class="previewName myColor pull-left">实时电量</div>
						            <div class="previewBtn pull-right">
						                <button class="btn btn-danger btn-xs glyphicon glyphicon-remove" onclick="closeFn(this)"></button>
						            </div>
						        </div>
						        <div class="bodyModel clearfix">
						            <div ng-repeat="power in rdc.powers" >
						                <div class="unitModel">
						                    <div class="electricModel">
						                        <div class="previewName myColor">{{power.name}}</div>
						                    </div>
						                    <div class="txtModel">
						                        <h2 class="omg">{{power.pwc}}Kw·h</h2>
						                    </div>
						                </div>
						                <div class="chartModel myDefault"  id="powerchar_{{rdc.id}}_{{power.id}}">
						
						                </div>
						            </div>
						        </div>
						    </div>
						    <!--一个模块 end-->
				
						    <!--一个模块 start--><!--压缩机模块===============================-->
						    <div class="previewModel myDefault" ng-show="priveseting.shysj&&rdc.compressorGroups.length>0">
						        <div class="headerModel">
						            <div class="previewName myColor pull-left">压缩机</div>
						            <div class="previewBtn pull-right">
						                <button class="btn btn-danger btn-xs glyphicon glyphicon-remove" onclick="closeFn(this)"></button>
						            </div>
						        </div>
						        <div class="bodyModel clearfix" >
						            <div class="clearfix ysj" ng-repeat="compressorGroup in rdc.compressorGroups" style="margin-bottom: 15px;">
						                <img ng-repeat="compressor in compressorGroup.compressors" ng-src="../assets/img/pressure{{compressor.type}}_{{compressor.status}}.png">
						                <h6>{{compressorGroup.name}}</h6>
						            </div>
						        </div>
						        <div class="text-center">
						            <span><b></b>运行</span>
						            <span><b></b>停止</span>
						        </div>
						    </div>
						    <!--一个模块 end-->
						    
						    
							<!--一个模块 start--><!--冷风机模块================================-->
						    <div class="previewModel" ng-show="priveseting.shfolw&&rdc.blowers.length>0">
						        <div class="headerModel myDefault">
						            <div class="previewName myColor pull-left">冷风机</div>
						            <div class="previewBtn pull-right">
						                <button ng-show="blowers.length>4" class="btn btn-success btn-xs" onclick="moreFn(this,4)">更多</button>
						                <button class="btn btn-danger btn-xs glyphicon glyphicon-remove" onclick="closeFn(this)"></button>
						            </div>
						        </div>
						        <div class="bodyModel clearfix">
						            <div ng-repeat="blower in rdc.blowers" id="blowerPage" >
						                <div class="unitModel"  >
						                    <div class="electricModel myColor">
						                        <div class="text-left omg">{{blower.coldStorageName}}的{{blower.name}}</div>
						                    </div>
						                    <div class="txtModel clearfix">
						                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						                            <div class="unitIcon">
						                                 <span class="unitBg {{blower.cls}}">
						                                   <i  class="fa fa-support"></i>
						                                </span>
						
						                            </div>
						
						                        </div>
						                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
						                            <p class="omg">制冷累计：{{blower.runTime}}H</p>
						                            <p class="omg">化霜累计：{{blower.defrostTime}}H</p>
						                        </div>
						                    </div>
						                </div>
						            </div>
						        </div>
						        <div class="headerModel myDefault" style="margin-top: 1em;">
						            <div class="text-center">
						                <span><b style="background-color:#10c469;"></b>制冷</span>
						                <span><b style="background-color:#f39938;"></b>化霜</span>
						                <span><b style="background-color:#d93f3f;"></b>待机</span>
						            </div>
						        </div>
						    </div>
						    <!--一个模块 end-->
								    
						    
						    
						    
						</div>
				</div>
			</div>
		 </div>
</div>
<script src="assets/js/echarts.min.js"></script>