
<style>
     @-webkit-keyframes magentaPulse {
            from {color: 	#FFFAFA; !imporeat}
            50% {bcolor: #a9014b; }
            to {color: #FF0000; }
        }
        .wiltrue{-webkit-animation-iteration-count: infinite;}
        .magentaPulse.wiltrue{-webkit-animation-name:magentaPulse;-webkit-animation-duration:2s;}
        #main_count_div{width: 100%;height: 100%;}
</style>
<link rel="stylesheet" href="assets/css/jquery.fullPage.css" />
<script src="assets/plugins/fullPage/jquery.fullPage.min.js"></script>
 <div id="main_count_div" class="myBg">
	 <div class="toolbar">
	     <div id="tool">
	         <span><input type="checkbox" checked="checked" ng-click="">温度</span>
	         <span><input type="checkbox" checked="checked" ng-click="">电量</span>
	         <span><input type="checkbox" checked="checked" ng-click="">机组</span>
	         <span><input type="checkbox" checked="checked" ng-click="">风机</span>
	          
	         <span><input type="checkbox" checked="checked" ng-click="alarm()">告警</span>
	         <span><input type="checkbox" checked="checked" ng-click="priveseting.isRoll=!priveseting.isRoll">轮巡</span>
	         <span class="glyphicon glyphicon-repeat" title="重置"></span>
	         <span ng-click="refdata()" class="glyphicon glyphicon-refresh" title="刷新"></span>
	         <span ng-click="fullScreen()" class="glyphicon glyphicon-fullscreen" title="全屏"></span>
	     </div>
	     <i class="toolI iconfont">&#xe60c;</i>
	 </div>
	 <div id="dowebok" class="hide">
			<div  ng-repeat="rdc in allrdc"   class="section ">
				<h3 class="text-center">{{rdc.name}}</h3>
				<div id="rdc_datil_{{rdc.id}}" >
				      <div class="previewBox groupModel">
						    <!--一个模块 start--><!--温度模块================================-->
						    <div class="previewModel">
						        <div class="headerModel myDefault">
						            <div class="previewName myColor pull-left">实时温度</div>
						            <div class="previewBtn pull-right">
						                <button class="	glyphicon glyphicon-remove" onclick="closeFn(this)"></button>
						            </div>
						        </div>
						        <div class="bodyModel clearfix">
						            <div class="unitModel"ng-repeat="storage in rdc.mystorages" >
						                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						                    <div class="unitIcon"><i class="iconfont  {{priveseting.isOverTemp&&storage.isovTemp?'magentaPulse wiltrue':'' }} "   >&#xe67c;</i></div>
						                    <p class="omg">{{storage.name}}</p>
						                </div>
						                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
						                    <h2 class="omg">{{storage.temp}}°C</h2>
						                </div>
						            </div>
						        </div>
						    </div>
						</div>
				</div>
			</div>
		 </div>
</div>