<div class="page-content">
    <div class="page-header">

    </div>

    <section class="content">
        <div class="row">

            <div class="col-md-12">
                <!-- Pressure CHART -->
                <div class="box bg-gray">
                    <div class="box-header with-border">
                        <h3 class="box-title">RDC电量监控</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <div id="rdcPowerChart" style="height:380px" class="col-md-12"></div>
                        </div>
                    </div>
                </div><!-- 2 -->

            </div>

        </div>
    </section>
</div>