<div>
  <section class="content-header">
   <h1 class="page-header">分析</h1>
   <br>
   <div class="row">
     <!-- <div class="form-group col-lg-7">
       <form class="navbar-form navbar-left" role="search">
         <label><strong>RDC选择：</strong>&nbsp;&nbsp;</label>
		  <div class="form-group">
		    <select class="form-control" id="select" ng-options="rdc.name for rdc in rdcList | orderBy: name" 
		    ng-model="rdcModal" ng-change="search4report()">
	        </select>
		  </div>
		</form>
       <label for="select" class="col-lg-4 form-control"><strong>冷库选择</strong></label>
       <div class="col-lg-8">
       <select class="form-control" id="select">
          <option>option 1</option>
          <option>option 2</option>
          <option>option 3</option>
          <option>option 4</option>
          <option>option 5</option>
        </select>
        </div>
     </div> -->
     <div class="tabable">
	   <ul class="nav nav-tabs pull-right" ng-show="item != 'data'">
	     <li class="{{time == 'daily'?'active':''}}">
	       <a href="#/report-daily-{{item}}">日报表</a>
	     </li>
	     <li class="{{time == 'monthly'?'active':''}}">
	       <a href="#/report-monthly-{{item}}">月报表</a>
	     </li>
	   </ul>
	 </div>
   </div>
  </section>
  <section class="content">
    <div class="row">
	  <div class="col-md-12">

        <div class="col-md-12" ng-show="item == 'energy'">
          <!-- MarkPoint Map CHART -->
          <div class="box box-gray">
            <div class="box-header with-border bg-gray">
              <h3 class="box-title">能耗评分</h3>

              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body bg-gray">
              <div class="row">
                <div class="col-md-4">
                  <!--<div id="energyScoreChart" style="height:300px;width: 300px;margin: 0px auto;"></div>-->
                  <div class="col-lg-12" style="position: relative;margin-left: 10%;margin-right: 10%;margin-top: 10%;margin-bottom: 10%"><span class="col-lg-8" style="font-size: 10em;color: coral;">{{curScore}}</span><span class="col-lg-4" style="font-size: 5em;color: coral;position: relative;margin-top: 30%">分</span></div>
                </div>
                <div class="col-md-4">
                  <div ng-show="checkState" style="height:300px;width: 300px;text-align:left;">
                    <ul style="position: relative;top: 50%;left: 50%;-webkit-transform: translateX(-50%) translateY(-50%);">
                      <h2>正在评估: 综合评分</h2>
                      <p>尚未发现问题,请继续等待体验完成</p>
                    </ul>
                  </div>
                </div>
                <div class="col-md-4">
                  <div style="height:300px;width: 300px;text-align:left;">
                    <button ng-show="uncheckState" class="btn-primary" ng-click="goCheck()" style="position: relative;top: 50%;left: 50%;-webkit-transform: translateX(-50%) translateY(-50%);">
                      立即评分
                    </button>
                    <button ng-show="checkState" class="btn-danger" ng-click="stopCheck()" style="position: relative;top: 50%;left: 50%;-webkit-transform: translateX(-50%) translateY(-50%);">
                      取消评分
                    </button>
                  </div>
                </div>
                <!--<div class="overlay">-->
                <!--<i class="fa fa-refresh fa-spin"></i>-->
                <!--</div>-->
              </div>
              <div class="col-md-12 row">
                <div class="progress-group">
                  <span class="progress-text" ng-show="checkState">评估进度:</span>
                  <span class="progress-number" ng-show="checkState"><b>{{totalScore}}</b>/100</span>
                  <span ng-show="!checkState"></span>
                  <div class="progress sm bg-gray">
                    <div ng-if="checkState" class="progress-bar progress-bar-green" style="width: 80%"></div>
                    <div ng-if="!checkState" class="progress-bar progress-bar-green" style="width: 0%"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 row" style="text-align:left;">
                <p>
                  <span ng-show="checkState" class="progress-text" style="font-size: 18px">能耗评估: - 共4项</span>
                  <span ng-show="checkState">(评估是否达标)</span>
                  <span ng-show="!checkState"></span>
                </p>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <span class="info-box-icon bg-yellow"><i class="fa fa-life-ring bg-yellow"></i></span>
                  <div class="info-box-content">
                    <span class="info-box-text">风机<span ng-show="checkState">:{{blowerScore}}分</span></span>
                    <div class="progress" ng-show="checkState">
                      <div class="progress-bar" style="width: 90%"></div>
                    </div>
                    <span class="progress-description" ng-show="checkState">{{blowerScore / 25}}% 达标</span>
                  </div>
                </div><!-- ./col -->
                <div class="col-md-3">
                  <span class="info-box-icon bg-green"><i class="fa fa-lightbulb-o bg-green"></i></span>
                  <div class="info-box-content">
                    <span class="info-box-text">电灯<span ng-show="checkState">:{{lightScore}}分</span></span>
                    <div class="progress" ng-show="checkState">
                      <div class="progress-bar" style="width: 10%"></div>
                    </div>
                    <span class="progress-description" ng-show="checkState">{{lightScore / 25}}% 达标</span>
                  </div>
                </div><!-- ./col -->
                <div class="col-md-3">
                  <span class="info-box-icon bg-red"><i class="fa fa-university bg-red"></i></span>

                  <div class="info-box-content">
                    <span class="info-box-text">空调<span ng-show="checkState">:{{coldScore}}分</span></span>

                    <div class="progress" ng-show="checkState">
                      <div class="progress-bar" style="width: 40%"></div>
                    </div>
                    <span class="progress-description" ng-show="checkState">{{coldScore / 25}}% 达标</span>
                  </div>
                </div><!-- ./col -->
                <div class="col-md-3">
                  <span class="info-box-icon bg-blue"><i class="fa fa-columns bg-blue"></i></span>

                  <div class="info-box-content">
                    <span class="info-box-text">库门<span ng-show="checkState">:{{doorScore}}分</span></span>
                    <!--<span class="info-box-number">{{doorScore}}分</span>-->
                    <div class="progress" ng-show="checkState">
                      <div class="progress-bar" style="width: 70%"></div>
                    </div>
                    <span class="progress-description" ng-show="checkState">{{doorScore / 25}}% 达标</span>
                  </div>
                </div><!-- ./col -->
              </div>
            </div>
          </div>
        </div>

      <!-- 查询数据展示  -->
      <div class="col-lg-12" ng-show="item == 'data'">
        <div class="col-lg-12">
        <div class="form-group">
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <label>设备：</label> 
              <select type="text" class="form-control" placeholder="Search" 
              ng-options="option.desc for option in searchOptions" ng-model="choseOption">
              </select>
            </div>&nbsp;&nbsp;
            <div class="form-group" ng-hide="choseOption.key=='electric'">
              <label>冷库：</label> 
              <select type="text" class="form-control" placeholder="Search" 
              ng-options="storage.name for storage in mystorages" ng-model="storageModal">
              </select>
            </div>&nbsp;&nbsp;
            <div class="form-group">
              <label>时间范围：</label>
              <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-clock-o"></i>
              </div>
              <input type="text" class="form-control pull-right" style="width:270px;" 
              id="reservationtime" ng-model="picktime">
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-default" ng-click="search()">查询</button>
            </div>
          </form>
        </div>
        </div>
        <div class="col-lg-12">
          <div class="box box-gray">
          	<div class="bg-gray" id="data-chart" style="height: 300px;"></div>
          </div>
        </div>
      </div>

	  <!-- 总能耗表 -->
	  <div class="col-md-12" ng-show="item != 'energy' && item != 'data'">
	  <div class="box box-gray bg-gray">
        <div class="box-header with-border">
          <i class="fa fa-bar-chart-o"></i>
          <h3 class="box-title">总耗能趋势</h3>
          <div class="box-tools pull-right">
          		<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
               <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
          <div id="line-chart" style="height: 300px;"></div>
        </div><!-- /.box-body-->
      </div>
      </div>
      <!-- 耗能占比 -->
      <div class="col-md-12" ng-show="item != 'total'">
      <div class="box box-gray bg-gray" ng-if="item == 'energy'">
        <div class="box-header with-border">
          <i class="fa fa-bar-chart-o"></i>
          <h3 class="box-title">耗能占比</h3>
          <div class="box-tools pull-right">
          		<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
               <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
          <div id="donut-chart" style="height: 300px;"></div>
        </div><!-- /.box-body-->
      </div>
	  </div>
	  <!-- 温度能耗 -->
	  <div class="col-md-12" ng-show="item != 'total'">
      <div class="box box-gray bg-gray {{item}}" ng-show="item != 'energy' && item != 'data'">
        <div class="box-header with-border">
          <i class="fa fa-bar-chart-o"></i>
          <h3 class="box-title">温度能耗对比</h3>
          <div class="box-tools pull-right">
          		<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
               <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
          <div id="temperature-chart" style="height: 300px;"></div>
        </div><!-- /.box-body-->
      </div>
	  </div>
	  </div>
    </div>
  </section>
</div>
<script src="../../assets/js/echarts.min.js"></script>