<link type="text/css" rel="stylesheet" href="assets/plugins/jedate/skin/jedate.css">
<script type="text/javascript" src="assets/plugins/jedate/jquery.jedate.js"></script>
<script type="text/javascript" src="assets/js/html2canvas.js"></script>
<script type="text/javascript" src="assets/js/jspdf.debug.js"></script>


<style>
	.jedateblue .jedatebot .jedatebtn span{  width:46%!important;  }
	.coldName li { background: none; }
	.coldName li {
    list-style-type: none;
    border: 2px solid #ccc;
    margin-top: 5px;
    cursor: pointer;
    padding: 3px 20px;
   }
	

.coldName li.select:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background: url(../assets/img/icon-right.png);
}
	.coldName li.select {
    border-color: #0095ff!important;
    padding: 3px 20px;
    position: relative;
}
.box {
    border: 1px solid #ccc;
}
.print_name>div{
	border-bottom:1px solid #666;
}
	.print_name>div>span{
	height:22px;
	display:inline-block;
	position: relative;
	}
	.print_name>div>span:before{
		content: "";
		width: 100%;
		height: 6px;
		position: absolute;
		bottom: -12px;
		left: 0;
	background: #fff;
		
	}
	.warnmsgs{
		position: relative;
		margin-top: -42px;
		left: 20px;
		float: left;
		    font-weight: 900;
    color: #333333;
	}
	.warnmsgs er{
	color: red;
	}
	.chart_gap>p>span{width: auto;}
</style>
<div id="rpt_asis_coment" class="page-content" style="padding: 0 10px" >
	<div class="page-header row" style="padding: 5px 0px">
	  <div class="col-lg-4">
	  	&nbsp;&nbsp;{{titmode[isreportMoth?0:1]}}报表
<!-- 	  <button class="btn btn-info myPrint" ng-click="Preview()"> 打印预览 </button> -->
	  <button class="btn btn-info myPrint" ng-click="exppdf()"> 导出PDF </button>
	  </div>
	  <div class="col-lg-4"></div>
	  	<div class="col-lg-4 text-right" style="color:#333;font-size: 14px;line-height: 2;">
	  	  <button class="btn btn-info myPrint" ng-click="isreportMoth=true" class="">月报</button>
	      <button class="btn btn-info myPrint" ng-click="isreportMoth=false" >周报</button>
	  	     <span ng-show="isreportMoth">
	  	        <input class="datainp wicon" id="date04" type="text" placeholder="YYYY-MM"  readonly>
	  	    </span>
	  	   <span ng-show="!isreportMoth">
	  	                 <input class="datainp wicon" id="date05" type="text"  readonly>
	  	    </span>
	           <button class="btn btn-info myPrint" ng-click="getreport()">查询 </button>
	  	</div>
	</div>
	<div class="version">
		<div class="clearfix">
			<span class="pull-left" style="margin-top: 11px;">选择版本</span>
			<ul class="coldName version_choice clearfix pull-left">
				<li class="select" ng-click="changeversions(0,'tempReport',$event)">温度版</li>
				<li class=""       ng-click="changeversions(1,'basicReport',$event)">基本版</li>
				<li class=""       ng-click="changeversions(2,'wiseReport',$event)">聪慧版</li>
				<li class="grey">智能版</li>
				<li class="grey">维护版</li>
			</ul>
		</div>
		<div class="clearfix">
			<span class="pull-left" style="margin-top: 11px;">选择冷库</span>
			<ul class="coldName clearfix pull-left">
				<li ng-repeat="storage in mystorages" ng-click="changestorage($index,storage.id,$event)" class="{{$index==0?'select':'' }} " >{{storage.name}}</li>
			</ul>
		</div>
 	</div>
	<div id="print" ng-show="!isloaderr">
	  <div id="page1" >
	  
		<div class="print_header">
	        <h3>
	            <img src="../../assets/img/logo_home.png" class="lianku_logo fl"><span class="fr">冷库360在线管理系统</span>
	        </h3>
	        <hr>
	    </div>
	    <!-- 报表标题  -->
	    <div class="print_title">
	    	<h2 class="tac"><strong>冷库综合运行系统{{isreportMoth?titmode[0]:titmode[1]}}分析报告</strong></h2>
	    	<div class="print_name clearfix">
	    		<div class="pull-left">
	    			<span>客户名称：</span>{{pysicaldata.compName}}
	    		</div>
	    		<div class="pull-right">
	    			<span>RDC(冷库)名称：</span>{{vm.choserdc.name}}
	    		</div>
	    		<div class="pull-left input-group date">
	    			<span>分析周期：</span>{{timeuRange}}
	    		</div>
				<div class="pull-right">
					<span>{{cuttstorage.name}}（基准温度℃）：{{cuttstorage.datumTemp}}
				</div>
				<div class="pull-left">
					<span>{{isreportMoth?titmode[0]:titmode[1]}}危险告警次数：</span>{{cuttstorage.l1tailcount}}次
				</div>
				<div class="pull-right">
					<span>{{isreportMoth?titmode[0]:titmode[1]}}危险告警时长：</span>{{cuttstorage.l1tailtime}}min
				</div>
	    	</div>
	    </div>
	    <!-- 月度曲线图 -->
	    <div class="print_part chart_gap">
	    	<p class="tac"><span class="bgBlue">{{isreportMoth?titmode[0]:titmode[1]}}温度曲线图</span></p>
	    	<div>
	    		<div class="chartPart">
	    			<div id="temperatureChart" class="chartHight" ng-show="isnotprint"></div>
	    			<div id="temperatureChart_img"  ng-show="!isnotprint"></div>
	    		</div>
	    	</div>
	    </div>
	    <!-- 超温时间及次数统计表 -->
	    <div class="print_part chart_gap">
	    	<p class="tac"><span class="bgGold">超温时长及次数统计表</span></p>
	    	<div>
	    		<div class="chartPart">
	    			<div id="tempovertime" class="chartHight" ng-show="isnotprint"></div>
	    			<div id="tempovertime_img"  ng-show="!isnotprint"></div>
	    	     	<span class="warnmsgs">{{isreportMoth?titmode[0]:titmode[1]}} 超温总时长：<er>{{sumDatavalue[0][1]}}</er>分钟      超温总次数：<er>{{sumDatavalue[0][0]}} </er>次  </span>
	    		</div>
	    	</div>
	    </div>
	   </div>
	   <div id="page2">
	    <!-- 超温时间及次数统计表 -->
	    <div class="print_part chart_gap">
	    	<p class="tac"><span class="bgGold">超温报警时长及次数统计表</span></p>
	    	<div>
	    		<div class="chartPart">
	    			<div id="tempwarning" class="chartHight" ng-show="isnotprint"></div>
	    			<div id="tempwarning_img"  ng-show="!isnotprint"></div>
	    		</div>
	    	</div>
	    </div>

		
		
<!-- 		 <div class="col-lg-12 col-md-12 col-sm-12 zoomIn animated"> -->
                <!-- LINE CHART -->
                <div class="box ">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{isreportMoth?titmode[0]:titmode[1]}}温度超标报警明细</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
			                 <div class="table-responsive" style="border: 1px solid #eee;">
							<table class="table">
								<thead>
								<tr class="success">
									<th>序号</th>
									<th>级别</th>
									<th>报警信息</th>
									<th>报警时间</th>
								</tr>
								</thead>
								<tbody>
								<tr ng-repeat="item in warninglist" class="success">
									<td>{{$index+1}}</td>
									<td>{{item.level}}</td>
									<td>{{item.warnigmsg}}</td>
									<td>{{item.starttime.substring(0,19)}}</td>
								</tr>
								</tbody>
							</table>
						</div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
<!--             </div>/.col (RIGHT) -->
		
		<!--DC（冷库）系统给出本月评分分值-->
		<div class="print_part chart_gap">
			<p class="tac"><span class="bgGreen">综合评分</span></p>
			<div class="h4">360系统给出本{{isreportMoth?titmode[0]:titmode[1]}}评分分值<span style="text-decoration: underline">{{cuttstorage.score}}</span>分</div>
		</div>

		<!--结论-->
		<div class="print_part chart_gap">
			<p class="tac" ><span class="bgGold">结论</span></p>
			<div class="h4" ng-show="cuttstorage.score>90&&!note" ng-click="note=true"> {{isreportMoth?titmode[0]:titmode[1]}}库温度完全达标，能够保证库内货品质量安全。</div>		
			<div class="h4" ng-show="cuttstorage.score>70&&cuttstorage.score<90&&!note" ng-click="note=true">本{{isreportMoth?titmode[0]:titmode[1]}}冷库温度指标良好，但有一定改善空间。				</div>	
			<div class="h4" ng-show="cuttstorage.score>50&&cuttstorage.score<70&&!note"ng-click="note=true">本{{isreportMoth?titmode[0]:titmode[1]}}冷库温度指标较低，存在影响库内货品质量安全的隐患。	</div>				
			<div class="h4" ng-show="cuttstorage.score<50&&!note" ng-click="note=true">本{{isreportMoth?titmode[0]:titmode[1]}}冷库温度指标很糟糕，严重影响了食品质量安全。		</div>	
			<div ng-if="note">
			     <textarea style="width: 100%; height: 150px;"></textarea>	
			</div>
			 	
		</div>
		
	</div>
	</div>
	<div class="col-lg-12 text-center" ng-show="isloaderr">
	  <div class="alert alert-info text-center">没有查到当前{{isreportMoth?titmode[0]:titmode[1]}}份的分析数据哦</div>
   </div>
	
	
</div>
<div id="loding" class="cover_bg black" ng-hide="loadindex>=11">
	<div class="loader">
        <div class="loader-inner line-scale">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <br/>
                                正在生成报表，请稍后！
      </div>
</div>
<<script type="text/javascript">
// function exppdf(){
// 	  html2canvas($('#print'), {
//           canvas: canvas,
//           onrendered: function(canvas) {
//               var imgData = canvas.toDataURL('img/notice/png');
//               var doc = new jsPDF('p','mm','a3');
//               doc.addImage(imgData, 'PNG', 5, 5,190,280);
//               doc.save($scope.cuttstorage.name+'report.pdf');
//           }
//       });
// }
</script>


