<link type="text/css" rel="stylesheet" href="assets/plugins/jedate/skin/jedate.css">
<script type="text/javascript" src="assets/plugins/jedate/jquery.jedate.js"></script>
<script type="text/javascript" src="assets/js/html2canvas.js"></script>
<script type="text/javascript" src="assets/js/jspdf.debug.js"></script>

<style>
	.jedateblue .jedatebot .jedatebtn span {
		width: 46% !important;
	}

	.coldName li {
		list-style-type: none;
		margin-top: 5px;
		cursor: pointer;
		padding: 3px 20px;
		background: #233038;
		-webkit-border-radius:50px;
		-moz-border-radius:50px;
		-ms-border-radius:50px;
		border-radius:50px;
	}
	.coldName li.select {
		background: #1c4d5c;
	}
	.box {
		border:none;
		box-shadow: none;
	}
	.box .box-header.with-border{
		border-bottom-color: #ccc;
		font-weight: 700;
	}
	/*.print_name > div {
		border-bottom: 1px solid #666;
	}*/
	.print_name > div > span {
		height: 22px;
		display: inline-block;
		position: relative;
	}
	/*.print_name > div > span:before {
		content: "";
		width: 100%;
		height: 6px;
		position: absolute;
		bottom: -12px;
		left: 0;
		background: #fff;
	}*/
	.warnmsgs {
		position: relative;
		margin-top: -42px;
		left: 20px;
		float: left;
		font-weight: 900;
		color: #333333;
	}
	.warnmsgs er {
		color: red;
	}
	.chart_gap > p > span {
		/*width: auto;*/
	}
</style>
<div id="rpt_asis_coment" class="page-content" style="padding: 0 10px" >
	<div class="page-header row" style="padding: 5px 0px">
	  <div class="col-lg-4">
		&nbsp;&nbsp;{{titmode[reportType]}}报表
<!-- 		  <button class="btn btn-info myPrint" ng-click="Preview()"> 打印预览 </button> 	 -->
		<button class="btn btn-info myPrint" ng-click="exppdf()"> 导出PDF </button>
	</div>
	<div class="col-lg-8 text-right" style="color:#333;font-size: 14px;line-height: 2;">
	  <button class="btn btn-info myPrint" ng-click="reportType=0" >日报</button>
	  <button class="btn btn-info myPrint" ng-click="reportType=1" >周报</button>
	  <button class="btn btn-info myPrint" ng-click="reportType=2" class="">月报</button>
	    <span ng-show="reportType==0">
					 <input class="datainp wicon" id="date00" type="text"  readonly>
		</span>
	    <span ng-show="reportType==1">
					 <input class="datainp wicon" id="date01" type="text"  readonly>
		</span>
		 <span ng-show="reportType==2">
			<input class="datainp wicon" id="date02" type="text" placeholder="YYYY-MM"  readonly>
		</span>
	   
		   <button class="btn btn-info myPrint" ng-click="getreport()">查询 </button>
	</div>
	</div>
	<div class="version">
		<div class="clearfix">
			<span class="pull-left" style="margin-top: 9px;">选择版本</span>
			<ul class="coldName version_choice clearfix pull-left">
				<li class="select" ng-click="changeversions(0,'tempReport',$event)">温度版</li>
				<li class="{{aclmap[20]?'':'grey'}}"       ng-click="changeversions(1,'basicReport',$event)">基本版</li>
				<li class="{{aclmap[20]?'':'grey'}}"       ng-click="changeversions(2,'wiseReport',$event)">聪慧版</li>
				<li class="grey">智能版</li>
				<li class="grey">维护版</li>
			</ul>
		</div>
		<div class="clearfix">
			<span class="pull-left" style="margin-top: 9px;">选择冷库</span>
			<ul class="coldName clearfix pull-left">
				<li ng-repeat="storage in mystorages" ng-click="changestorage($index,storage.id,$event)" class="{{$index==0?'select':'' }} " >{{storage.name}}</li>
			</ul>
		</div>
 	</div>
	<div id="print" ng-show="!isloaderr" class="temP">
	  <div id="page1" >
	    <!-- 报表标题  -->
	    <div class="print_title newlayout">
			<div class="rightLogo">
				<p>
					<img ng-src="{{companyLoad.baobiaoLogo}}" alt="">
					<span>{{companyLoad.baobiaoText}}
						<span>在线管理系统</span>
					</span><br></p>
			</div>
			<div class="clearfix">
				<div class="col-lg-3" style="margin-top:20px;">
					<h2 class="tac"><strong>冷库</strong></h2>
					<h2 class="tac"><strong>综合运行系统{{titmode[reportType]}}</strong></h2>
					<h1 class="tac"><strong>分析报告</strong></h1>
				</div>
				<div class="print_name col-lg-9">
					<div class="pull-left">
						<span>客户名称：</span>{{compName}}
					</div>
					<div class="pull-left">
						<span>RDC(冷库)名称：</span>{{vm.choserdc.name}}
					</div>
					<div class="pull-left input-group date">
						<span>分析周期：</span>{{timeuRange}}
					</div>
					<div class="pull-left">
						<span>{{cuttstorage.name}}（基准温度℃）：</span>{{cuttstorage.datumTemp}}
					</div>
					<div class="pull-left">
						<span>{{titmode[reportType]}}危险告警次数：</span>{{cuttstorage.l1tailcount}}次
					</div>
					<div class="pull-left">
						<span>{{titmode[reportType]}}危险告警时长：</span>{{cuttstorage.l1tailtime}}min
					</div>

				</div>
			</div>
	    </div>
	    <!-- 月度曲线图 -->
	    <div class="print_part chart_gap">
	    	<p class="text-left">{{titmode[reportType]}}温度曲线图
				<button class="btn btn-info btn-xs fr">表格/图表</button>
				<button class="btn btn-success btn-xs fr" style="margin: 0 5px;">导出</button>
			</p>
	    	<div>
	    		<div class="chartPart">
	    			<div id="temperatureChart" class="chartHight" ng-show="isnotprint"></div>
	    			<div id="temperatureChart_img"  ng-show="!isnotprint"></div>
	    		</div>
	    		<div style="margin-bottom: 30px;">
	    		        {{cuttstorage.name}}基准温度：<span style="color:red;">{{cuttstorage.datumTemp}}</span> ℃     
	    		                            最高温度：<span style="color:#058DC7;">{{anysisdata.asisdata.maxval}} </span>℃
	    		                            最低温度:<span style="color:#50B432;">{{anysisdata.asisdata.minval}} </span>℃
	    		                             平均温度    <span style="color:#ED561B;">{{anysisdata.asisdata.avgTemp}} </span>℃ </div>
	    	</div>
	    </div>
	    <!-- 超温时间及次数统计表 -->
	    <div class="print_part chart_gap">
	    	<!--<p class="text-left">超温时长及次数统计表</p>-->
			<div class="chartPart">
				<div id="tempovertime" class="chartHight" ng-show="isnotprint"></div>
				<div id="tempovertime_img"  ng-show="!isnotprint"></div>
			</div>
			<div style="margin-bottom: 30px;">{{titmode[reportType]}} 超温总时长：<er>{{sumDatavalue[0][1]}}</er>分钟      超温总次数：<er>{{sumDatavalue[0][0]}} </er>次  </div>
	   </div>
	   <div id="page2">
	    <!-- 超温时间及次数统计表 -->
	    <div class="print_part chart_gap">
	    	<!--<p class="text-left">超温报警时长及次数统计表</p>-->
			<div class="chartPart">
				<div id="tempwarning" class="chartHight" ng-show="isnotprint"></div>
				<div id="tempwarning_img"  ng-show="!isnotprint"></div>
			</div>
	    </div>
		<div class="box ">
			<div class="box-header with-border">
				<h3 class="box-title" style="font-size: 16px">{{titmode[reportType]}}温度超标报警明细</h3>
				<div class="box-tools pull-right">
					<button class="btn btn-box-tool" data-widget="collapse">
						<i class="fa fa-minus"></i>
					</button>
					<button class="btn btn-box-tool" data-widget="remove">
						<i class="fa fa-times"></i>
					</button>
				</div>
			</div>
			<div class="box-body">
				<div class="table-responsive" style="border: 1px solid #eee;">
					<table class="table">
						<thead>
							<tr class="success">
								<th>序号</th>
								<th>级别</th>
								<th>报警信息</th>
								<th>报警时间</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in warninglist" class="success">
								<td>{{$index+1}}</td>
								<td>{{item.level}}</td>
								<td>{{item.warnigmsg}}</td>
								<td>{{item.starttime.substring(0,19)}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<!--DC（冷库）系统给出本月评分分值-->
		<div class="print_part chart_gap">
			<p class="tac"><span class="bgGreen">综合评分</span></p>
			<div class="h4">360系统给出本{{titmode[reportType]}}评分分值<span style="text-decoration: underline">{{cuttstorage.score}}</span>分</div>
		</div>

		<!--结论-->
		<div class="print_part chart_gap">
			<p class="tac" ><span class="bgGold">结论</span></p>
			<div class="h4" ng-show="cuttstorage.score>90&&!note" ng-click="note=true"> {{titmode[reportType]}}库温度完全达标，能够保证库内货品质量安全。</div>		
			<div class="h4" ng-show="cuttstorage.score>70&&cuttstorage.score<90&&!note" ng-click="note=true">本{{titmode[reportType]}}冷库温度指标良好，但有一定改善空间。				</div>	
			<div class="h4" ng-show="cuttstorage.score>50&&cuttstorage.score<70&&!note"ng-click="note=true">本{{titmode[reportType]}}冷库温度指标较低，存在影响库内货品质量安全的隐患。	</div>				
			<div class="h4" ng-show="cuttstorage.score<50&&!note" ng-click="note=true">本{{titmode[reportType]}}冷库温度指标很糟糕，严重影响了食品质量安全。		</div>	
			<div ng-if="note">
			     <textarea style="width: 100%; height: 150px;"></textarea>	
			</div>
		</div>
	</div>
	</div>
	<div class="col-lg-12 text-center" ng-show="isloaderr">
	  <div class="alert alert-info text-center">没有查到当前{{titmode[reportType]}}份的分析数据哦</div>
   </div>
	
	
</div>
<div id="loding" class="cover_bg black" ng-hide="loadindex>=11">
	<div class="loader">
        <div class="loader-inner line-scale">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <br/>
                                正在生成报表，请稍后！
      </div>
</div>