<style type="text/css">
   .warn_cold_table i{width: 30%;}  
      
</style>
<div style="margin:20px">
<h1 class="text-center">制冷告警统计！</h1>
	<table id="warn_cold_table" class="table table-bordered text-center warn_cold_table">
		<thead>
			<tr>
				<th>高危报警</th>
				<th ></th>
				<th></th>
			</tr>
			<tr>
				<th></th>
				<th >上月累计次数</th>
				<th>本月累计次数</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>高压报警</td>
				<td><i class="btn btn-info">0</i></td>
				<td><i class="btn btn-info">0</i></td>
			</tr>
			<tr>
				<td>电源报警</td>
				<td><i class="btn btn-info">0</i></td>
				<td><i class="btn btn-info">0</i></td>
			</tr>
			<tr>
				<td>缺油报警</td>
				<td><i class="btn btn-info">0</i></td>
				<td><i class="btn btn-info">0</i></td>
			</tr>
			<tr><td colspan="3" style="height: 45px;"></td></tr>
			<tr>
				<th></th>
				<th>上月累计次数</th>
				<th>本月累计次数</th>
			</tr>
			<tr>
				<td>常规报警</td>
				<td><i class="btn btn-info">0</i></td><td><i class="btn btn-info">0</i></td>
			</tr>
		</tbody>
	</table>

</div>