<div>
<table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <td>告警id</td>
                <td>告警类型</td>
                <td>告警级别</td>
                <td>告警时间</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="warningInfo in warningsInfo">
               <td>{{ warningInfo.id }}</td>
               <td>{{ warningInfo.warningName }}</td>
	           <td>异常</td>
	           <td>{{ warningInfo.addtime }}</td>
            </tr>
        </tbody>
    </table>
<tm-pagination conf="paginationConf"></tm-pagination>
</div>