<div class="" >
<div class="page-header"></div>
  <div class="content clearfix">
  <!-- start -->
   <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	  <div class="box bg-gray">
	     <div class="box-header with-border">
	         <h3 class="box-title">实时耗水量</h3>
	         <div class="box-tools pull-right">
	             <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
	             <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
	         </div>
	     </div>
	     <div class="box-body">
	         <div class="row" style="height:300px">
				<div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 text-center" style="position: relative;line-height: 260px;">
					<div class="col-lg-12 col-sm-12 col-xs-12 col-md-12" style="position: relative;margin-left: 1%;margin-right: 10%;margin-top: 10%;margin-bottom: 10%">
						<span class="tNum">{{currentWaterCost}}</span>
						<span class="tUiit">t</span>
					</div>						
				</div>	
			</div>
	  	</div><!-- /.box-body -->
	   </div><!-- /.box -->
  </div>
  <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
  	<div class="box bg-gray">
         <div class="box-header with-border">
             <h3 class="box-title">日实时累积耗水量</h3>
             <div class="box-tools pull-right">
                 <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                 <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
             </div>
         </div>
         <div class="box-body">
             <div class="chart">
                 <div id="bar" style="height: 300px;"></div>
             </div>
         </div><!-- /.box-body -->
     </div><!-- /.box -->
  </div>
  <!-- end -->
  </div>
</div>
<script src="../../assets/js/echarts.min.js"></script>