<link type="text/css" rel="stylesheet" href="assets/plugins/jedate/skin/jedate.css">
<script type="text/javascript" src="assets/plugins/jedate/jquery.jedate.js"></script>
<script type="text/javascript" src="assets/js/html2canvas.js"></script>
<script type="text/javascript" src="assets/js/jspdf.debug.js"></script>


<style>
	.jedateblue .jedatebot .jedatebtn span {
		width: 46% !important;
	}
	.coldName li {
		list-style-type: none;
		margin-top: 5px;
		cursor: pointer;
		padding: 3px 20px;
		background: #233038;
		-webkit-border-radius:50px;
		-moz-border-radius:50px;
		-ms-border-radius:50px;
		border-radius:50px;
	}
	.coldName li.select {
		background: #1c4d5c;
	}
	.box {
		border:none;
		box-shadow: none;
	}
	.box .box-header.with-border{
		border-bottom-color: #ccc;
		font-weight: 700;
	}
	/*.print_name > div {
		border-bottom: 1px solid #666;
	}*/
	.print_name > div > span {
		height: 22px;
		display: inline-block;
		position: relative;
	}
	/*.print_name > div > span:before {
		content: "";
		width: 100%;
		height: 6px;
		position: absolute;
		bottom: -12px;
		left: 0;
		background: #fff;

	}*/
	.warnmsgs {
		position: relative;
		margin-top: -42px;
		left: 20px;
		float: left;
		font-weight: 900;
		color: #333333;
	}
	.warnmsgs er {
		color: red;
	}
	/*.chart_gap > p > span {
		width: auto;
	}*/
	table {
		border: 1px solid #cccccc;
		width: 100%;
	}
</style>
<div id="rpt_asis_coment" class="page-content" style="padding: 0 10px" >
	<div class="page-header row" style="padding: 5px 0px">
	  <div class="col-lg-4">
	  	&nbsp;&nbsp;{{isreportMoth?titmode[0]:titmode[1]}}报表
<!-- 	  <button class="btn btn-info myPrint" ng-click="Preview()"> 打印预览 </button> -->
	  <button class="btn btn-info myPrint" ng-click="exppdf()"> 导出PDF </button>
	  </div>
	  	<div class="col-lg-8 text-right" style="color:#333;font-size: 14px;line-height: 2;">
	  	  <button class="btn btn-info myPrint" ng-click="isreportMoth=true" class="">月报</button>
	      <button class="btn btn-info myPrint" ng-click="isreportMoth=false" >周报</button>
	  	     <span ng-show="isreportMoth">
	  	        <input class="datainp wicon" id="date04" type="text" placeholder="YYYY-MM"  readonly>
	  	    </span>
	  	   <span ng-show="!isreportMoth">
	  	                 <input class="datainp wicon" id="date05" type="text"  readonly>
	  	    </span>
	           <button class="btn btn-info myPrint" ng-click="getreport()">查询 </button>
	  	</div>
	</div>
	<div class="version">
		<div class="clearfix">
			<span class="pull-left" style="margin-top: 9px;">选择版本</span>
			<ul class="coldName version_choice clearfix pull-left">
				<li class=""             ng-click="changeversions(0,'tempReport',$event)">温度版</li>
				<li class=""             ng-click="changeversions(1,'basicReport',$event)">基本版</li>
				<li class="select"       ng-click="changeversions(2,'wiseReport',$event)">聪慧版</li>
				<li class="grey">智能版</li>
				<li class="grey">维护版</li>
			</ul>
		</div>
 	</div>
	<div id="print" ng-show="!isloaderr" class="wise">
	    <!-- 报表标题  -->
	    <div class="print_title newlayout">
			<div class="rightLogo">
				<p>
					<img ng-src="{{companyLoad.baobiaoLogo}}" alt="">
					<span>{{companyLoad.baobiaoText}}
						<span>在线管理系统</span>
					</span><br></p>
				</p>

			</div>
			<div class="clearfix">
				<div class="col-lg-3">
					<h2 class="tac"><strong>冷库</strong></h2>
					<h2 class="tac"><strong>综合运行系统{{titmode[isreportMoth?0:1]}}</strong></h2>
					<h1 class="tac"><strong>分析报告</strong></h1>
				</div>
				<div class="print_name col-lg-9">
					<div class="pull-left">
						<span>客户名称：</span>{{compName}}
					</div>
					<div class="pull-left">
						<span>RDC(冷库)名称：</span>{{vm.choserdc.name}}
					</div>
					<div class="pull-left input-group date">
						<span>分析周期：</span> {{timeuRange}}

					</div>
				</div>
			</div>
	    </div>

		<!-- DC(冷库)月度运行状况分析结论  -->
<!-- 		<div class="print_part partP"> -->
<!-- 	    	<h4><strong>DC(冷库)月度运行状况分析结论:</strong></h4> -->
<!-- 	    	<p>{{rdcsis.rdcsis}}</p> -->
<!-- 	    </div> -->
	    
	    <!-- DC(冷库)月度运行分析详情技术附件及结论：  -->
	    <!-- 温度分析部分 -->
	    <div class="print_part chart_gap">
<!-- 	    	<h4><strong>DC(冷库)月度运行分析详情技术附件及结论:</strong></h4> -->
	    	<p class="tac "><span class="bgBlue">温度分析</span></p>
	    	<div class="clearfix">
	    		<div class="chartPart ">
	    			<div id="tempertureId" class="chartHight" ng-show="isnotprint"></div>
	    			<div id="tempertureId_img"  ng-show="!isnotprint"></div>
	    		</div>
	    		<div class="textPart ">
	    			<p><strong>超温时长（综合大数据纵环比分析）</strong></p>
<!-- 	    			<p ng-repeat="obj in charrestmsg[0]"><span >{{obj.msg}}</span></p> -->
<!-- 	    			<p><span class="intro">**判断优良标准逻辑：平均每天75min以下“优良”，75~120min属“一般”，150min以上属“不理想”**</span></p> -->
                      <table  class="table">
                        <tr> 
                        <td width="25%">名称</td>
                        <td width="25%">{{charresttit[0][0]+'('+charresttit[0][1]+')'}}</td>
                        <td width="50%">分析结论</td></tr>
						  <tr ng-repeat="obj in charrestmsg[0]"> <td>{{obj.name}}</td><td>{{obj.avgval}}</td>
							  <!--<td><span class="statusColor">{{obj.asis}}</span></td>-->
							  <td ng-if="obj.asis=='不理想'"><span class="statusColor noGoodStatus">{{obj.asis}}</span></td>
							  <td ng-if="obj.asis!='不理想'"><span class="statusColor goodStatus">{{obj.asis}}</span></td>
						  </tr>
                      </table>
	    		</div>
	    	</div>
	    	<hr>
	    	<div class="clearfix">
	    		<div class="chartPart ">
	    			<div id="cwyzId" class="chartHight" ng-show="isnotprint"></div>
	    			<div id="cwyzId_img"  ng-show="!isnotprint"></div>
	    		</div>
	    		<div class="textPart ">
	    			<p><strong>超温比例（综合大数据纵环比分析）</strong></p>
<!-- 	    		    <p ng-repeat="obj in charrestmsg[1]"><span >{{obj.msg}}</span></p> -->
<!-- 	    			<p><span class="intro">**判断优良标准逻辑：平均每天2.0以下“优良”，2.0~5属“一般”，5以上属“不理想”**<span ></p> -->
                   <table  class="table">
                        <tr> 
                        <td width="25%">名称</td>
                        <td width="25%">{{charresttit[1][0]+'('+charresttit[1][1]+')'}}</td>
                        <td width="50%">分析结论</td></tr>
                        <tr ng-repeat="obj in charrestmsg[1]"> <td>{{obj.name}}</td><td>{{obj.avgval}}</td>
							<!--<td><span class="statusColor">{{obj.asis}}</span></td>-->
							<td ng-if="obj.asis=='不理想'"><span class="statusColor noGoodStatus">{{obj.asis}}</span></td>
							<td ng-if="obj.asis!='不理想'"><span class="statusColor goodStatus">{{obj.asis}}</span></td>
						</tr>
                      </table>
	    		</div>
	    	</div>
	    	
	    	
	    <hr>
	    <div class="print_part chart_gap">
	    	<p class="tac"><span class="bgBlue">能耗分析</span></p>
	        <div class="clearfix">
	    		<div class="chartPart w60">
	    		<!--<div class="chartPart">-->
	    			<div id="electricId" class="chartHight" ng-show="isnotprint"></div>
	    			<div id="electricId_img"  ng-show="!isnotprint"></div>
	    		</div>
	    		<div class="textPart w40">
	    		     <p>累计耗电量：{{charressum[9] | number:2}}kw</p>
                     <ul class="w40"> 
    					<li ng-repeat="obj in charrestmsg[9]">
    						<span >{{obj.name}}-累计电耗-{{obj.value  | number:2}}kw 占比：{{obj.value/charressum[9]*100 | number:2}}%</span>
						</li>
    				</ul>
<!--                      <table  class="table">
                         <tr>
                         <td width="25%">名称</td>
                         <td width="25%">{{charresttit[9][0]+'('+charresttit[9][1]+')'}}</td>
                         <td width="50%">分析结论</td></tr>
                         <tr ng-repeat="obj in charrestmsg[9]"> <td>{{obj.name}}</td><td>{{obj.avgval}}</td><td>{{obj.name}}</td></tr>
                       </table> -->
	    		</div>
	    	</div>
	    	  <div class="clearfix">
	    		<div class="chartPart w60">
	    		<!--<div class="chartPart">-->
	    			<div id="waterId" class="chartHight" ng-show="isnotprint"></div>
	    			<div id="waterId_img"  ng-show="!isnotprint"></div>
	    		</div>
	    		<div class="textPart w40">
	    		   <p>累计耗水量：{{charressum[10] | number:2}}kw</p>
	    			<ul class="w50">
						<li ng-repeat="obj in charrestmsg[10]">
    						<span >{{obj.name}}-累计水耗-{{obj.value | number:2}}t 占比：{{obj.value/charressum[10]*100  | number:2}}%</span>
						</li>
   				    </ul>
	    		</div>
	    	</div>
	    </div>
	    </div>
	    <!-- 运管分析部分 -->
	    <hr>
	    <div class="print_part chart_gap">
	    	<p class="tac"><span class="bgBlue">运管分析</span></p>
	    	<!--<div class="clearfix">-->
	    		<div class="chartPart ">
	    			<div id="openDoorTimesId" class="chartHight" ng-show="isnotprint" style="height: 450px;"></div>
	    			<div id="openDoorTimesId_img"  ng-show="!isnotprint"></div>
	    		</div>
	    		<div class="textPart ">
	    			<p><strong>开门次数（综合大数据纵环比分析）</strong></p>
<!-- 	    			<p ng-repeat="obj in charrestmsg[3]"><span >{{obj.msg}}</span></p> -->
<!-- 	    			<p><span class="intro">**判断优良标准逻辑：平均每天30以下“规范”，30~50属“一般”，50以上属“频繁”**</span></p> -->
                        <table  class="table">
                        <tr> 
                        <td width="25%">名称</td>
                        <td width="25%">{{charresttit[3][0]+'('+charresttit[3][1]+')'}}</td>
                        <td width="50%">分析结论</td></tr>
							<tr ng-repeat="obj in charrestmsg[3]"> <td>{{obj.name}}</td><td>{{obj.avgval}}</td>
								<!--<td><span class="statusColor">{{obj.asis}}</span></td>-->
								<td ng-if="obj.asis=='不理想'"><span class="statusColor noGoodStatus">{{obj.asis}}</span></td>
								<td ng-if="obj.asis!='不理想'"><span class="statusColor goodStatus">{{obj.asis}}</span></td>
							</tr>
                      </table>
	    		</div>
	    	<!--</div>-->
	    	<!--<hr>-->
	    	<!--<div class="clearfix">-->
	    		<div class="chartPart ">
	    			<div id="singleOpenDoorId" class="chartHight" ng-show="isnotprint"></div>
	    			<div id="singleOpenDoorId_img"  ng-show="!isnotprint"></div>
	    		</div>
	    		<div class="textPart ">
	    			<p><strong>单次开门时长(综合大数据纵比分析）</strong></p>
<!-- 	    		    <p ng-repeat="obj in charrestmsg[4]"><span >{{obj.msg}}</span></p> -->
<!-- 	    			<p><span class="intro">**判断优良标准逻辑：平均每次开门时长3以下“规范”，3~5属“一般”，5以上属“不规范”**</span></p> -->
                       <table  class="table">
                        <tr> 
                        <td width="25%">名称</td>
                        <td width="25%">{{charresttit[4][0]+'('+charresttit[4][1]+')'}}</td>
                        <td width="50%">分析结论</td></tr>
						   <tr ng-repeat="obj in charrestmsg[4]"> <td>{{obj.name}}</td><td>{{obj.avgval}}</td>
							   <!--<td><span class="statusColor">{{obj.asis}}</span></td>-->
							   <td ng-if="obj.asis=='频繁'"><span class="statusColor noGoodStatus">{{obj.asis}}</span></td>
							   <td ng-if="obj.asis!='频繁'"><span class="statusColor goodStatus">{{obj.asis}}</span></td>
						   </tr>
                      </table>
	    		</div>
	    	<!--</div>-->
	    	<!--<hr>-->
	    	<div class="clearfix" ng-if="charrestmsg[5].length>0">
	    		<div class="chartPart ">
	    			<div id="goodsId" class="chartHight" ng-show="isnotprint"></div>
	    			<div id="goodsId_img"  ng-show="!isnotprint"></div>
	    		</div>
	    		<div class="textPart ">
	    			<p><strong>货物流通因子(综合大数据纵环比分析）</strong></p>
<!-- 	    			 <p ng-repeat="obj in charrestmsg[5]"><span >{{obj.msg}}</span></p> -->
<!-- 	    			<p><span class="intro">**文本框处根据月度平均货物因子值自动判断“低于”“符合””超过”**</span></p> -->
               <table  class="table">
                        <tr> 
                        <td width="25%">名称</td>
                        <td width="25%">{{charresttit[5][0]+'('+charresttit[5][1]+')'}}</td>
                        <td width="50%">分析结论</td></tr>
				   <tr ng-repeat="obj in charrestmsg[5]"> <td>{{obj.name}}</td><td>{{obj.avgval}}</td><td><span class="statusColor">{{obj.asis}}</span></td></tr>
                      </table>
	    		</div>
	    	</div>
	    </div>
	    <!-- 制冷分析部分 -->
	    <hr>
	    <div class="print_part chart_gap">
	    	<p class="tac"><span class="bgBlue">制冷分析</span></p>
	    	<div class="partP">
	    		<div class="chartPart">
	    			<div id="ysjRunningTimeId" class="chartHight" ng-show="isnotprint"></div>
	    			<div id="ysjRunningTimeId_img"  ng-show="!isnotprint"></div>
	    		</div>
	    		<div class="textPart">
	    			<p><strong>压缩机运行分析</strong></p>
	    		</div>
	    	</div>
	    	<p style="margin: 20px 0;text-indent: 2em;">{{rdcsis.chillersis}}</p>
	    </div>
	    <!-- 热量分析部分 -->
<!-- 	    <hr> -->
<!-- 	    <div class="print_part chart_gap"> -->
<!-- 	    	<p class="tac w60"><span class="bgPurple">热量分析</span></p> -->
<!-- 	    	<div class="clearfix"> -->
<!-- 	    		<div class="chartPart w60"> -->
<!-- 	    			<div id="hotId" class="chartHight" ng-show="isnotprint"></div> -->
<!-- 	    			<div id="hotId_img"  ng-show="!isnotprint"></div> -->
<!-- 	    		</div> -->
<!-- 	    		<div class="textPart w40"> -->
<!--     				<p><strong >{{titmode[isreportMoth?0:1]}}平均热量分布</strong></p> -->
<!--     				<ul>  -->
<!--     					<li  ng-repeat="obj in charrestmsg[8]"> -->
<!--     						<span >{{obj.key}}-{{obj.zb}}%-{{obj.zbm}}-{{obj.yhm}}</span> -->
<!-- 						</li> -->
<!--     				</ul> -->
<!--     				<p><span class="intro">**文本框处预设占比值自动判断形成结果**</span></p> -->
<!-- 	    		</div> -->
<!-- 	    	</div> -->
<!-- 	    </div> -->
	    <!-- 能耗分析部分 -->
	
	    <!-- 能效分析部分 -->
<!-- 	    <hr> -->
<!-- 	    <div class="print_part chart_gap"> -->
<!-- 	    	<p class="tac w60"><span class="bgPink">能效分析</span></p> -->
<!-- 	    	<div class="clearfix partP"> -->
<!-- 	    		<div class="chartPart w60"> -->
<!-- 	    			<div id="energyEfficiencyId" class="chartHight" ng-show="isnotprint"></div> -->
<!-- 	    			<div id="energyEfficiencyId_img"  ng-show="!isnotprint"></div> -->
<!-- 	    		</div> -->
<!-- 	    		<div class="textPart w40"> -->
<!-- 	    			<p><strong >{{titmode[isreportMoth?0:1]}}累计能耗统计</strong></p> -->
<!--     				<ul>  -->
<!--     					<li ng-repeat="obj in charrestmsg[9]"> -->
<!--     						<span >{{obj.name}}-累计电耗-{{obj.value  | number:2}}kwh</span> -->
<!-- 						</li> -->
<!--     				</ul> -->
<!-- 				</div> -->
<!-- 	    	</div> -->
<!-- 	    </div> -->
	     <!-- 告警分析部分 -->
	    <hr>
	    <div class="print_part chart_gap">
	    	<p class="tac"><span class="bgBlue">告警及维修服务</span></p>
	    	
	    	<table class="table">
             <tr><td>报警级别</td><td>报警内容</td><td>处理状态</td><td>维修质量</td></tr>
			</table>
	    	
<!-- 	    	<div class="clearfix partP"> -->
<!-- 	    		<div class="chartPart w60"> -->
<!-- 	    			<div id="tem_div" class="chartHight" ng-show="isnotprint"></div> -->
<!-- 	    			<div id="tem_div_img"  ng-show="!isnotprint"></div> -->
<!-- 	    		</div> -->
<!-- 	    		<div class="textPart w40"> -->
<!-- 	    			<p><strong >{{titmode[isreportMoth?0:1]}}告警统计</strong></p> -->
<!--     				<ul>  -->
<!--     					<li ng-repeat="obj in charrestmsg[9]"> -->
<!--     						<span >{{obj.name}}-累计电耗-{{obj.value  | number:2}}kwh</span> -->
<!-- 						</li> -->
<!--     				</ul> -->
<!-- 				</div> -->
<!-- 	    	</div> -->
	    </div>
	</div>
	
	<div class="col-lg-12 text-center" ng-show="isloaderr">
	  <div class="alert alert-info text-center">没有查到当前{{titmode[isreportMoth?0:1]}}的分析数据哦</div>
   </div>
	
	
</div>
<div id="loding" class="cover_bg black" ng-hide="loadindex>=11">
	<div class="loader">
        <div class="loader-inner line-scale">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <br/>
                                正在生成报表，请稍后！
      </div>
</div>
<div class="goTop" title="返回顶部"><i class="iconfont">&#xe744;</i></div>
<script type="text/javascript" src="../../assets/js/echarts-all.js"></script>