<!-- 页面主体区域开始 -->
	<link rel="stylesheet" type="text/css" href="app/css/common.css">	 
	<style>
     .select_2{margin-right: 20px;}
     .select_2 select{min-width: 80px;font-size:16px;}
     ._sh_fl_span{position: absolute;margin: 10px;}
     #reservationtime{height: 25px;}
     .daterangepicker{font-size: 9px;}
     .time_control{height: 25px;}
     .time_control *{font-size: 10px;}
     .sorry{text-align: center;font-size: 18px;margin: 120px auto;}
    .ng-gallery{ width: 940px;}
    .tableInfo tbody tr { cursor: pointer;}
    </style>
<div class="shareMain">
	<!--   货品、配送、仓库区域 start-->
		<div id="tool_div" class="tab clearfix">
			<ul class="tabSon">
				<li value="3" onclick="rdcconfig.changMode(this);"><a href="javascript:;">仓库</a></li>
				<li value="1" onclick="rdcconfig.changMode(this);"><a href="javascript:;">货品</a></li>
				<li value="2" onclick="rdcconfig.changMode(this);"><a href="javascript:;">配送</a></li>
				<li ng-click='goRelease();'><a href="javascript:" ><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>免费发布信息</a></li>
			</ul>
		</div>
	<!--   货品、配送、仓库区域 end-->
	<div id="_sh_conner_div">
		<div id="table1" class="hide" >
			  <div id="filter_div1" class="filter">
				<div class="filterSon clearfix">
					<div class="select pull-left">
						<span>冷库区域:</span>
						<select id="sl_provinceid1" name="provinceid" >
							<option value="">不限</option>
							<option ng-repeat="x in gd_provinces" value="{{x.provinceId}}">{{x.provinceName}}</option>
						</select>
					</div>
					<div class="select pull-left">
						<span>出售/求购:</span>
						<select id="sl_lktype1" name="" >
							<option value="">不限</option>
							<option value="1">出售</option>
							<option value="2">求购</option>
						</select>
					</div>				
					<div id="search" class=" pull-right">					
						<input type="text" placeholder="请输入关键词" id="myText1" class="myText" />
						<div  class="searchImg"><span class="glyphicon glyphicon-search" onclick="$scope.pageChanged1();"></span></div>
					</div>					
				</div>
				<div id="good_type_div" class="list clearfix">
					<span class="type">品类:</span>
						<span  class="type active_rdc _nonefilter">不限</span>
					   <ul class="clearfix"></ul>
				</div>
			</div>
			<table class="table tableInfo">
			   <thead>
			      <tr >
			         <th style="width:30%" colspan="2">货品信息</th>
			         <th style="width:10%" >品类</th>
			         <th style="width:10%">单价</th>
			         <th style="width:10%">数量</th>
			         <th style="width:20%">信息有效期</th>
			         <th style="width:10%"></th>
			      </tr>
			   </thead>
			   <tbody>
			      <tr  ng-click="gosharedile(rdc.id);" ng-repeat="rdc in goods" >
			         <td width="5%">
			         	<div class="image"><img ng-src="{{rdc.logo}}"></div>
			         </td>
			         <td style="max-width:410px;">
			         	<div class="company">【{{rdc.typeText}}】 {{rdc.title}}</div>
			         	<div class="position">
			         		<span class="glyphicon glyphicon-map-marker"></span>
			         		<span class="textInfo">{{rdc.detlAddress}}</span>
			         	</div>
			         </td>
			         <td>{{rdc.codeLave1}}</td> <!--  品类 -->
<!-- 			         <td>{{rdc.unitPrice}}</td> -->
			         <td>{{rdc.unitPrice == 0.00 ?"面议":rdc.unitPrice+'元/吨'}}</td>
			         <td>{{rdc.sqm}}吨</td>
			         <td>{{rdc.validStartTime}}  至 {{rdc.validEndTime}}</td>
			         <td>
			         	<button class="btn btn-primary"  >详情</button>
			         </td>
			      </tr>
			   </tbody>
			</table>
			<div class="row" style="text-align: center;">
                    <pagination  total-items="page.bigTotalItems1"  ng-change="pageChanged1()"  ng-model="page.bigCurrentPage1" max-size="maxSize" class="pagination-sm"  boundary-links="true" rotate="false" num-pages="numPages"></pagination>
            </div>
	    </div>
		<div id="table2" class="hide" >
			  <div id="filter_div2" class="filter">
				<div class="filterSon clearfix">
					<div class="select_2 pull-left">
						<span>找货/找车</span>
						<select id="sl_lktype2" >
							<option value="">不限</option>
							<option value="1">找货</option>
							<option value="2">找车</option>
						</select>
					</div>
					<div class="select_2 pull-left">
						<span>始发地：</span>
                      <select id="sl_provinceId2"  class="arrdes" style="width: 60px;"  ng-model="stprovinceID" ng-disabled="editable" ng-change="changcity1()">
                        <option value="">--不限--</option>
                        <option ng-repeat="x in gd_provinces" value="{{x.provinceId}}">{{x.provinceName}}</option>
                      </select>
<!-- 						 <input class=""  name="stprovinceID"  type="hidden" value="{{stprovinceID}}"> -->
						 <select id="sl_cityid2" name="stcityID" class="arrdes" style="width: 60px;"  >
						    <option value="">--不限--</option>
							<option ng-repeat="x in city1" value="{{x.cityID}}">{{x.cityName}}</option>
						 </select>
					</div>
					<div class="select_2 pull-left">
						<span>目的地：</span>
						<select id="sl_provinceId2_1"   class="arrdes" style="width: 60px;"  ng-model="toprovinceID" ng-disabled="editable" ng-change="changcity2()" >
							<option value="">--不限--</option>
	                        <option ng-repeat="x in gd_provinces" value="{{x.provinceId}}">{{x.provinceName}}</option>
						</select>
<!-- 						 <input  name="toprovinceID"  type="hidden" value="{{toprovinceID}}"> -->
						 <select id="sl_cityid2_2" name="tocityID"  class="arrdes" style="width: 60px;" >
						    <option value="">--不限--</option>
							<option ng-repeat="x in city2" value="{{x.cityID}}">{{x.cityName}}</option>
						 </select>
					</div>
					<div class="select_2 pull-left row" style="width: 335px;">
						<span class="col-md-2 col-xs-2" style="padding:0;width: 72px;">始发时间：</span>
		                    <div class="controls time_control" >
		                     <div class="input-prepend input-group">
		                       <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
		                       <input id="reservationtime" style="height:28px;padding:6px"  type="text" name="reservation" class="form-control" placeholder="请选择起止时间" class="span4"/>
		                     </div>
		                    </div>
					</div>
					<div id="search" class=" pull-right" style="width:13%">					
						<input type="text" placeholder="请输入关键词" id="myText2" class="myText" />
						<div class="searchImg"><span class="glyphicon glyphicon-search" onclick="$scope.pageChanged2();"></span></div>
					</div>					
				</div>
				<div id="business_type_div" class="list clearfix">
					<span class="type">业务类型:</span>
					<span  class="type active_rdc _nonefilter">不限</span>
					<ul class="clearfix">
					</ul>
				</div>
				<div id="cool_type_div" class="list clearfix">
					<span class="type">温度类型:</span>
					<span  class="type active_rdc _nonefilter">不限</span>
					<ul class="clearfix">
					</ul>
				</div>
				<div id="car_type_div" class="list clearfix">
					<span class="type">车型:</span>
					<span  class="type active_rdc _nonefilter">不限</span>
					<ul class="clearfix">
					</ul>
				</div>
			</div>
			<table class="table tableInfo">
			   <thead>
			      <tr >
			         <th style="width:30%" colspan="2">车辆信息</th>
			         <th style="width:20%">线路</th>
			         <th style="width:10%">要求</th>
			         <th style="width:30%">始发信息</th>
			         <th style="width:10%"></th>
			      </tr>
			   </thead>
			   <tbody>
			      <tr  ng-click="gosharedile(rdc.id);"   ng-repeat="rdc in pslist">
			         <td width="5%">
			         	<div class="image"><img ng-src="{{rdc.logo}}"></div>
			         </td>
			         <td style="max-width:410px;">
			         	<div class="company">【{{rdc.typeText}}】 {{rdc.title}} </div>
			         	<div class="position">&nbsp;车型：{{rdc.codeLave3}}</div>
			         </td>
		            <td> <!-- 	 线路 -->
			         	<div class="position"><span class="_sh_orang">出发地：</span>{{rdc.unit1}}</div>
			         	<div class="position"><span style="color:#707070">目的地：</span>{{rdc.unit2}}</div>
			         </td>
			         <td>{{rdc.codeLave1}}</td>
			         <td>{{rdc.validStartTime}}至{{rdc.validEndTime}}</td>
			         <td>
			         	<button class="btn btn-primary" >详情</button>
			         </td>
			      </tr>
			   </tbody>
			</table>
			<div class="row" style="text-align: center;">
                    <pagination  total-items="page.bigTotalItems2"  ng-change="pageChanged2()"  ng-model="page.bigCurrentPage2" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
            </div>
	    </div>
		<div id="table3" class="hide">
			<div id="filter_div3" class="filter">
				<div class="filterSon clearfix">
					<div class="select pull-left">
						<span>冷库区域:</span>
						<select id="sl_provinceid3" name="provinceid" >
							<option value="">不限</option>
							<option ng-repeat="x in gd_provinces" value="{{x.provinceId}}">{{x.provinceName}}</option>
						</select>
					</div>
					<div class="select pull-left">
						<span>出租/求租:</span>
						<select id="sl_lktype3" name="" >
							<option value="">不限</option>
							<option value="1">出租</option>
							<option value="2">求租</option>
						</select>
					</div>				
					<div id="search" class=" pull-right">					
						<input type="text" placeholder="请输入关键词" id="myText3"  class="myText" />
						<div class="searchImg"><span class="glyphicon glyphicon-search" onclick="$scope.pageChanged3();"></span></div>
					</div>					
				</div>
				<div id="mtfl_div" class="list clearfix">
					<span class="type">经营类型:</span>
					<span  class="type active_rdc _nonefilter">不限</span>
					<ul class="clearfix">
					</ul>
				</div>
				<div id="stfl_div" class="list clearfix">
					<span class="type">冷库温度类型:</span>
					<span  class="type active_rdc _nonefilter">不限</span>
					<ul class="clearfix">
					</ul>
				</div>
				<div id="sqm_div" class="list clearfix">
					<span class="type">所需面积:</span>
					<span  class="type active_rdc _nonefilter">不限</span>
					<ul class="clearfix">
						<li value="<1000">1000㎡以下</li>
						<li value="1000~3000" >1000~3000㎡</li>
						<li value="3000~6000">3000~6000㎡</li>
						<li value="6000~12000">6000~12000㎡</li>
						<li value="12000~20000">12000~20000㎡</li>
						<li value=">20000">20000㎡以上</li>
					</ul>
				</div>
			</div>
			<table class="table tableInfo">
			   <thead>
			      <tr >
			         <th style="width:30%" colspan="2">仓库信息</th>
			         <th style="width:10%">单价</th>
			         <th style="width:10%">数量</th>
			         <th style="width:10%">类型</th>
			         <th style="width:20%">信息有效期</th>
			         <th style="width:10%"></th>
			      </tr>
			   </thead>
			   <tbody>
			      <tr  ng-click="gosharedile(rdc.id);"   ng-repeat="rdc in rdcs">
			         <td width="5%">
			         	<div class="image"><img ng-src="{{rdc.logo}}"></div>
			         </td>
			         <td style="max-width:410px;">
			         	<div class="company">【{{rdc.typeText}}】{{rdc.title}} </div>
			         	<div class="position">
			         		<span class="glyphicon glyphicon-map-marker"></span>
			         		<span class="textInfo">{{rdc.detlAddress}}</span>
			         	</div>
			         </td>
			         <td>{{rdc.unitPrice == 0.00 ?"面议":rdc.unitPrice+rdc.unit}} </td>
			         <td>{{rdc.sqm+rdc.unit.substr(4)}}</td>
			         <td>{{rdc.codeLave2}}</td>
			         <td>{{rdc.validStartTime}}至{{rdc.validEndTime}}</td>
			         <td>
			         	<button class="btn btn-primary"  data-toggle="modal" value="{{rdc.id}}" >详情</button>
			         </td>
			      </tr>
			   </tbody>
			</table>
			<div class="row" style="text-align: center;">
                    <pagination  total-items="page.bigTotalItems3"  ng-change="pageChanged3()" 
                                ng-model="page.bigCurrentPage3" max-size="maxSize" class="pagination-sm"
                                boundary-links="true" rotate="false" num-pages="numPages"   previous-text="上一页" next-text="下一页"></pagination>
            </div>
	    </div>
    </div>
    
    
    
    <!-- 模态框（Modal） -->
<div id="shaerdailModal"  class="modal fade" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog" style="width: 725px;">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close"  data-dismiss="modal" aria-hidden="true"> &times; </button>
            <h4 class="modal-title" id="myModalLabel">{{"【"+vo.typeText+"】"+vo.title}} </h4>
         </div>
         <div class="modal-body">   
             <!-- 主体开始 -->
             <div id="release_main" style="margin-top: 0px;">
					<div class="main"  >
							<div id="dg_imglist" ng-if="storageGallery.length" class="lists" style="width: 630px;">
                                    <ng-gallery images="storageGallery" thumbs-num="10" ></ng-gallery>
							</div>
							<p class="h4" val="{{dgdatatype}}">{{appmode[0].title[dgdatatype]}}详情</p>
							<table class="info">
								<caption>基本信息</caption>
								<tbody>
									<tr ng-if="dgdatatype==2"> 
				 				         <th>冷库温度类型:</th> 
				 				        <td>{{vo.codeLave2}}</td> 
								    </tr>  
							        <tr ng-if="dgdatatype==2">
										<th>始发地:</th>
										<td>{{vo.unit1}} <span ng-if="vo.staddress">-{{vo.staddress}}</span></td>
									</tr>
									<tr ng-if="dgdatatype==2">
				 						<th>目的地:</th>
				 					   <td>{{vo.unit2}}  <span ng-if="vo.toaddress">-{{vo.toaddress}}</span></td>
				  					</tr>
				  					<tr ng-if="dgdatatype!=2">
										<th>{{appmode[dgdatatype].lab[0][0]}}:</th>
										<td>{{vo.sqm}}{{vo.unit!=null?vo.unit.substr(4):appmode[dgdatatype].lab[0][1] }}</td>
									</tr>
									<tr>
				 						 <th>{{appmode[dgdatatype].lab[1][0]}}:</th>
				  					      <td>{{vo.unitPrice == '0.00' ?"面议":vo.unitPrice}}
				  					      <span ng-if="vo.unitPrice != '0.00'"> {{vo.unit!=null?vo.unit:appmode[dgdatatype].lab[1][1] }}</span>
				  					   </td>
				  					</tr>
				  					<tr>
				  						<th>地理位置:</th>
				 						<td>{{vo.detlAddress}}</td>
				 					</tr>
									<tr>
										<th>信息有效期:</th>
										<td>{{vo.validStartTime}}至{{vo.validEndTime}}</td>
									</tr>
								</tbody>
							</table>
							<table class="info otherinfo">		
								<caption>其他信息</caption>
								<tbody>
									<tr>
										<th>备注:</th>
										<td>{{vo.note}}</td>
									</tr>
								</tbody>
							</table>
				    <button id="shar_excut_ord" class="btn btn-primary " ng-click="getOrder()" >立即联系</button>  
					</div>
				</div>
				<!-- 结束 -->
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default"  data-dismiss="modal">关闭 </button>
         </div>
      </div><!-- /.modal-content -->
 </div><!-- /.modal -->
</div>
</div>

