<div>
    <section>
        <div class="row" style="height: 75px;width: 100%"></div>
    </section>
    <section class="content">
        <div class="row" style="height: 20px;width: 100%;position: relative;top: 10px;">
            <ul class="breadcrumb" style="padding-left: 45px">
                <li>
                    <a href="#">冷库</a>
                </li>
                <li class="active">
                    冷库列表
                </li>
            </ul>
        </div>
        <div class="row" style="width: 100%">
            <div class="col-lg-9 col-sm-9 col-xs-9 col-md-9" style="position: relative;top:30px;padding-bottom: 100px;">

                <div class="row" ng-repeat="rdc in rdcs"
                     style="height: 80px;width: 95%;position: relative;top: 10px;left: 40px;border-style: none none solid none;border-bottom:1px ridge lightgrey;">
                    <div class="col-lg-9 col-sm-9 col-xs-9 col-sm-9 col-xs-9 col-md-9">
                        <a href="#" class="pull-left" style="position: relative;top: 10px;left: 0px"><img
                                src="app/img/a_002.jpg" alt=''/></a>

                        <div style="position: relative;left: 10px">
                            <h5 style="color: dodgerblue">
                                <a ng-click="goDetail(rdc.id)">{{rdc.name}}</a>
                            </h5>

                            <div style="height: 10px">
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star-half"></i>
                                <i class="icon-star-empty"></i>
                            </div>
                            <h6>该冷库位于{{rdc.address}}.</h6>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-xs-3 col-md-3" style="position: relative;top:5px;left: 10px;">
                        <div><span style="color: dodgerblue">{{rdc.score}}</span>/5分</div>
                        <h6><span>{{rdc.userRecommendPercent}}</span>%用户推荐</h6>
                        <h6 style="color: dodgerblue">源自<span>{{rdc.userRecommendCount}}</span>位用户点评</h6>
                    </div>
                </div>
                <!--分页-->
                <div class="row">
                    <pagination style="margin-left: 30%" ng-change="pageChanged()" total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-3 col-md-3"
                 style="position:relative;top:30px;left: 0px;height: 500px;padding-right: 10px;border: 1px ridge lightgrey">
                <div style="position:relative;top: 5px;">
                    <a class="btn btn-large btn-success col-lg-6 col-sm-6 col-xs-6 col-md-6" href="#">热度排行</a>
                    <a class="btn btn-large btn-default col-lg-6 col-sm-6 col-xs-6 col-md-6" href="#">评分排行</a>
                </div>
                <hr style="height:1px;border:none;border-top:1px ridge lightgrey;position: relative;top: 10px;left: 0px;width: 100%"/>

                <div class="row" ng-repeat="hotrdc in hotrdcs"
                     style="height: 70px;width: 95%;position: relative;top: 10px;left: 20px;border-style: none none solid none;border-bottom:1px ridge lightgrey;">
                    <div class="col-lg-9 col-sm-9 col-xs-9 col-md-9">
                        <a href="#" class="pull-left" style="position: relative;top: 5px;left: 0px"><img
                                src="app/img/a_002.jpg" style="width: 60px;height: 60px" alt="冷库图片"/></a>

                        <div style="position: relative;left: 5px;">
                            <span style="color: dodgerblue;font-size: 8px;top: 1px;"><a ng-click="goDetail(hotrdc.id)">{{hotrdc.name}}</a></span>

                            <div style="position:relative;height: 3px;margin-bottom: 1px">
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star-half"></i>
                                <i class="icon-star-empty"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-xs-3 col-md-3" style="position: relative;top:5px;left: 0px;">
                        <a class="btn btn-success" style="position: relative;left:0px;top: 15px;" href="#">评价</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

