<style>
.file {
    position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    line-height: 29px;
    width: 85px;
    height: 29px;
    text-indent: 2em;
    font-size: 9pt;
    background: url(app/img/image-upload.png) no-repeat center;
}
.file>input{
	    position: absolute;
    font-size: 75pt;
    right: 0;
    top: 0;
    opacity: 0;
}
</style>
<div>
    <section>
        <div class="row" style="height: 75px;width: 100%"></div>
    </section>
    <section>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-1">
                <div class="col-lg-10 col-lg-offset-2">
                    <div class="row" style="padding-top: 10px;">
                        <ul class="breadcrumb" style="padding-left: 45px;text-align: center;">
                            <strong>添加冷库（<em style="color: red">*</em>为必填选项 ）</strong>
                        </ul>
                    </div>
                </div>
                <form class="form-horizontal" name="rdcForm">
                    <div class="form-group rdc">
                        <label class="col-sm-4 control-label">名称：<em>*</em></label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" ng-model="name" ng-disabled="editable" name="name"
                                   ng-remote-validate="/i/rdc/checkName"
                                   ng-remote-method="GET">
                            <em ng-show="rdcForm.name.$error.ngRemoteValidate">冷库名已经被注册</em>
                        </div>
                    </div>

                    <div class="form-group rdc">
                        <label class="col-sm-4 control-label">省：<em>*</em></label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="provinceId" ng-disabled="editable"
                                    ng-change="provinceSelected(provinceId)"
                                    ng-options="x.provinceId as x.provinceName for x in provinces"></select>
                        </div>
                    </div>

                    <div class="form-group rdc">
                        <label class="col-sm-4 control-label">市：<em>*</em></label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="cityId"
                                    ng-disabled="editable" ng-change="citySelected(cityId)"
                                    ng-options="x.cityID as x.cityName for x in citys"></select>
                        </div>
                    </div>

                    <div class="form-group rdc">
                        <label class="col-sm-4 control-label">地理位置：<em>*</em></label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" ng-model="address">
                        </div>
                    </div>

                    <div class="form-group rdc">
                        <label class="col-sm-4 control-label">面积：<em>*</em></label>
                        <div class="col-sm-8">
                            <input class="form-control" placeholder="冷库面积（平方米）" type="number" name="area" ng-model="area"
                                   ng-remote-validate="/i/rdc/checkArea"
                                   ng-remote-method="GET">
                            <em ng-show="rdcForm.area.$error.ngRemoteValidate">请输入正确的数字，单位为（平方米）</em>
                        </div>
                    </div>

                    <div class="form-group rdc">
                        <label class="col-sm-4 control-label">冷库经营类型：<em>*</em></label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="manageType"
                                    ng-change="ManageTypeSelected(manageType)"
                                    ng-options="x.id as x.type for x in manageTypes"></select>
                        </div>
                    </div>

                    <div class="form-group rdc">
                        <label class="col-sm-4 control-label">商品存放类型：<em>*</em></label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="storageType"
                                    ng-change="StorageTypeSelected(storageType)"
                                    ng-options="x.id as x.type for x in storageTypes"></select>
                        </div>
                    </div>

                    <div class="form-group rdc">
                        <label class="col-sm-4 control-label">冷库温度类型：<em>*</em></label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="temperType"
                                    ng-change="TemperTypeSelected(temperType)"
                                    ng-options="x.id as x.type for x in temperTypes"></select>
                        </div>
                    </div>

                    <div class="form-group minInput">
                        <label class="col-sm-4 control-label">冷藏车数量：</label>
                        <div class="col-sm-8">
                            <div>
                                <div class="col-sm-9 input-group">
                                    <span class="input-group-addon">＜1.8T</span>
                                    <input class="form-control" type="number" ng-model="coldTruck1">
                                    <span class="input-group-addon">辆</span>
                                    <span class="input-group-addon">1.8～6T</span>
                                    <input class="form-control" type="number" ng-model="coldTruck2">
                                    <span class="input-group-addon">辆</span>
                                </div>
                            </div>
                            <br/>

                            <div>
                                <div class="col-sm-9 input-group">
                                    <span class="input-group-addon">6～14T</span>
                                    <input class="form-control" type="number" ng-model="coldTruck3">
                                    <span class="input-group-addon">辆</span>

                                    <span class="input-group-addon">＞14T</span>
                                    <input class="form-control" type="number" ng-model="coldTruck4">
                                    <span class="input-group-addon">辆</span>
                                </div>
                            </div>
                            <div style="width: 400px"></div>
                        </div>
                    </div>

                    <div class="form-group rdc">
                        <label class="col-sm-4 control-label">联系电话：<em>*</em></label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" name="phoneNum" ng-model="phoneNum">
                        </div>
                    </div>

                    <div class="form-group rdc">
                        <label class="col-sm-4 control-label">备注：</label>
                        <div class="col-sm-8">
                        <textarea class="form-control" type="text" ng-model="remark" name="remark"
                                  ng-remote-validate="/i/rdc/checkRemark"
                                  ng-remote-method="GET">
                        </textarea><em ng-show="rdcForm.remark.$error.ngRemoteValidate">备注不能超过250个字符</em>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-lg-8 col-lg-offset-1">
                <div class="addMore">
                    <a href="" ng-click="addMore()">添加更多...</a>
                </div>
            </div>

            <div ng-hide="moreInfos" class="row">
                <div class="col-lg-8 col-lg-offset-1">
                    <form class="form-horizontal">
                        <!-- <div class="form-group rdc">
                            <label class="col-sm-4 control-label">吨位：</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" ng-model="tonnage">
                            </div>
                        </div> -->

                        <div class="form-group rdc">
                            <label class="col-sm-4 control-label">建筑结构：</label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="structure"
                                        ng-options="x.id as x.type for x in structures"></select>
                            </div>
                        </div>

                        <!-- <div class="form-group rdc">
                            <label class="col-sm-4 control-label">冷链设施类型：</label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="companyDevice"
                                        ng-change="CompanyDeviceSelected(companyDevice)"
                                        ng-options="x.id as x.type for x in companyDevices"></select>
                            </div>
                        </div> -->

                        <div class="form-group rdc">
                            <label class="col-sm-4 control-label">是否有封闭月台：</label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="platform"
                                        ng-options="x.id as x.name for x in haveOrNots"></select>
                            </div>
                        </div>

                        <div class="form-group rdc">
                            <label class="col-sm-4 control-label">是否有理货区：</label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="lihuoRoom" ng-change="ChangLihuoState(lihuoRoom)"
                                        ng-options="x.id as x.name for x in haveOrNots"></select>
                            </div>
                        </div>

                        <div class="form-group rdc">
                            <label class="col-sm-4 control-label">理货区面积：</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="number" ng-model="lihuoArea">
                            </div>
                        </div>

                        <div class="form-group rdc">
                            <label class="col-sm-4 control-label">理货区有无温控：</label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="lihuoTemperCtr"
                                        ng-options="x.id as x.name for x in haveOrNots"></select>
                            </div>
                        </div>

                        <div class="form-group rdc">
                            <label class="col-sm-4 control-label">制冷剂类型：</label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="storageRefreg"
                                        ng-change="StorageRefregSelected(storageRefreg)"
                                        ng-options="x.id as x.type for x in storageRefregs"></select>
                            </div>
                        </div>

                        <div class="form-group rdc">
                            <label class="col-sm-4 control-label">有无温度记录：</label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="temperRecord"
                                        ng-options="x.id as x.name for x in haveOrNots"></select>
                            </div>
                        </div>

                        <div class="form-group minInput myAddon">
                            <label class="col-sm-4 control-label">冷库容积：</label>
                            <div class="col-sm-8">
                                <div class="col-sm-9 input-group">
                                    <span class="input-group-addon">12~25℃</span>
                                    <input class="form-control" type="number" ng-model="capacity1">
                                    <span class="input-group-addon">面积㎡</span>
                                     <input class="form-control" type="number" ng-model="height1">
                                    <span class="input-group-addon">高m</span>
                                </div>
                              <br/>
                                <div class="col-sm-9 input-group">
                                <span class="input-group-addon">12~-2℃</span>
                                   <input class="form-control" type="number" ng-model="capacity2">
                                    <span class="input-group-addon">面积㎡</span>
                                     <input class="form-control" type="number" ng-model="height2">
                                    <span class="input-group-addon">高m</span>
                                </div>
                                <br/>
                                <div class="col-sm-9 input-group">
                                    <span class="input-group-addon">-15~-22℃</span>
                                   <input class="form-control" type="number" ng-model="capacity3">
                                    <span class="input-group-addon">面积㎡</span>
                                     <input class="form-control" type="number" ng-model="height3">
                                    <span class="input-group-addon">高m</span>
                                </div>
                                  <br/>
                                <div class="col-sm-9 input-group">
                                <span class="input-group-addon">-22~-30℃</span>
                                   <input class="form-control" type="number" ng-model="capacity4">
                                    <span class="input-group-addon">面积㎡</span>
                                     <input class="form-control" type="number" ng-model="height4">
                                    <span class="input-group-addon">高m</span>
                                    </div>
                                <br/>
                                <div class="col-sm-9 input-group">
                                    <span class="input-group-addon">&lt;-30℃</span>
                                    <input class="form-control" type="number" ng-model="capacity5">
                                    <span class="input-group-addon">面积㎡</span>
                                     <input class="form-control" type="number" ng-model="height5">
                                    <span class="input-group-addon">高m</span>
                                </div>
                                <div style="width: 400px"></div>
                            </div>
                        </div>

                        <div class="form-group rdc">
                            <label class="col-sm-4 control-label">周边设施：</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" type="text" ng-model="facility"
                                                            placeholder="交通、加油站、宾馆、银行、餐饮、距市区和高速的距离等.."></textarea>
                            </div>
                        </div>
			
                        <div class="form-group rdc">
                            <label class="col-sm-4 control-label">资质荣誉图：</label>
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col-sm-2 divCSS">
                                    <a href="javascript:;" class="file">选择文件
                                            <input type="file" ngf-select="addHonorFiles($files)" ng-model="honorfiles"
                                                   ngf-multiple="true" name="honorfiles"></a>
                                    </div>
                                    <div class="col-sm-3 divCSS">
                                        <small class="text-warning" style="width: 100px">*最多八张</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-if="honorPicShow.length>0" style="padding-left: 20%">
                            <div class="pull-left" ng-repeat="item in honorPicShow" style="position:relative;padding:5px;width: 86px;height:48px;background-size:cover;">
                                <img ng-src="{{item.location}}" style="width:100%;height:100%" ng-click="goPicDetail(item)" alt="" />
                                <i class="fa fa-times danger" aria-hidden="true" style="color:red;cursor: pointer;position:absolute;right:0;top:0" ng-click="deleteHonorPic(item)"></i>
                            </div>
                        </div>
                        <div class="col-lg-12 col-lg-offset-2">
<!--                             <label ng-repeat="honorfile in totalhonorfiles" style="margin-left:20px"> -->
<!--                             	<span ng-bind="honorfile.name"></span> -->
<!--                                 <i class="fa fa-times danger" style="margin-right:10px;color:red;"ng-click="drophonor(honorfile)"></i> -->
<!--                             </label> -->
                            
                             <div class="form-group" style="padding-left: 20%">
	                            <div class="pull-left" ng-repeat="honorfile in totalhonorfiles" style="position:relative;padding:5px;width: 86px;height:48px;background-size:cover;">
	                                <img ngf-src="honorfile"  title="{{honorfile}}" style="width:100%;height:100%"/>
	                                <i class="fa fa-times danger" aria-hidden="true" style="color:red;cursor: pointer;position:absolute;right:0;top:0" ng-click="drophonor(honorfile)"></i>
	                            </div>
	                        </div>
                        </div>

                        <div class="form-group rdc">
                            <label class="col-sm-4 control-label">功能平面布置图：</label>
                            <div class="col-sm-8">
                                <form name="arrangeform" class="row">
                                <div class="row">
                                    <div class="col-sm-2 divCSS">
                                 <a href="javascript:;" class="file">选择文件
                                    <input type="file" ng-model="arrangePic" name="arrangePic" ngf-select="addArrangePic($files)">
                                 </a> 
                                    </div>
                                    <div class="col-sm-3 divCSS">
                                        <small class="text-warning" style="width: 100px">*最多一张</small>
                                    </div>
                                    <div class="form-group col-sm-12">
			                            <div class="pull-left" ng-repeat="arrangePic in arrangePics" style="position:relative;padding:5px;width: 86px;height:48px;background-size:cover;">
			                                <img style="width: 100%;height:100%" ngf-src="arrangePic" title="{{arrangePic.name}}"/>
			                                <i class="fa fa-times danger"  aria-hidden="true" style="color:red;cursor: pointer;position:absolute;right:0;top:0" ng-click="dropArrangePic(arrangePic)"></i>
			                            </div>
			                        </div>
                                </form>
                            </div>
                        </div>
                        <div class="form-group rdc" ng-if="arrangePicShow != null">
                            <label class="col-sm-4 control-label"></label>
                            <div class="" style="padding:5px;position:relative;display:inline-block">
                                <img style="width: 86px;height:48px" ng-src="{{arrangePicShow.location}}" ng-click="goPicDetail(arrangePicShow)" alt="" />
                                <i class="fa fa-times danger"  aria-hidden="true" style="color:red;cursor: pointer;position:absolute;right:0;top:0" ng-click="deletePic(arrangePicShow)"></i>
                            </div>
                        </div>

                        <div class="form-group rdc">
                            <label class="col-sm-4 control-label">冷库图片：</label>
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col-sm-2 divCSS">
                                    <a href="javascript:;" class="file">选择文件
                                        <input type="file" ngf-select="addFiles($files)" ng-model="files"
                                                   ngf-multiple="true" name="files">
                                    </a>
                                    </div>
                                    <div class="col-sm-3 divCSS">
                                        <small class="text-warning" style="width: 100px">*最多五张</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-if="storagePicShow.length>0" style="padding-left: 20%">
                            <div class="pull-left" ng-repeat="item in storagePicShow" style="position:relative;padding:5px;width: 86px;height:48px;background-size:cover;">
                                <img ng-src="{{item.location}}" style="width:100%;height:100%" ng-click="goPicDetail(item)" alt="" />
                                <i class="fa fa-times danger"  aria-hidden="true" style="color:red;cursor: pointer;position:absolute;right:0;top:0" ng-click="deletePic(item)"></i>
                            </div>
                        </div>
                        <div class="col-lg-12 col-lg-offset-2" style="padding-left: 20%">
                           <!--  <label ng-repeat="file in totalfiles" style="margin-left:20px"><span ng-bind="file.name"></span>
                                <i class="fa fa-times danger" style="margin-right:1px;color:red;"
                                   ng-click="drop(file)"></i>
                            </label> -->
                            <div class="pull-left" ng-repeat="file in totalfiles" style="position:relative;padding:5px;width: 86px;height:48px;background-size:cover;">
                                <img ngf-src="file" style="width:100%;height:100%" alt="" />
                                <i class="fa fa-times danger"  aria-hidden="true" style="color:red;cursor: pointer;position:absolute;right:0;top:0" ng-click="drop(file)"></i>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            
        </div>
        <div class="col-lg-8 col-lg-offset-2" style="padding-left: 30%;padding-right: 30%;padding-bottom: 10px">
                <button class="btn btn-primary mybtn" ng-click="submit()" style="margin-left:90%;" ng-disabled="isDisabled">提交</button>
            </div>
    </section>
</div>
<script type="text/ng-template" id="myModelContent.html">
    <div class="modal-body">
        <ul>
            <img src="{{itemPic.location}}" width="100%" height="100%"/>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>