<div>
    <section>
        <div class="row">
            <div class="col-lg-12">
                <img src="" style="width:100%;height: 350px;">
            </div>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-lg-8">
                <div class="row" style="height: 60px;position: relative;top: 1px;left: 0px">
                    <div class="col-lg-9">
                        <a href="#" class="pull-left" style="position: relative;top: 5px;left: 5px"><img src="app/img/a_002.jpg" alt=''/></a>
                        <div style="position: relative;left: 10px">
                            <h5 style="color: dodgerblue">
                                <span style="color: red">1.</span>上海浦东冷库
                            </h5>
                            <div style="height: 10px">
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star-half"></i>
                                <i class="icon-star-empty"></i>
                            </div>
                            <h6>该冷库位于美丽的魔都大上海,设备先进,服务一流,制冷技术先进,保证极好的冷冻效果.</h6>
                        </div>
                    </div>
                    <div class="col-lg-3" style="position: relative;top:5px;left: 10px;">
                        <div><span style="color: dodgerblue">4.6</span>/5分</div>
                        <h6><span>98</span>%用户推荐</h6>
                        <h6 style="color: dodgerblue">源自<span>9999</span>位用户点评</h6>
                    </div>
                </div>
                <hr style="height:1px;border:none;border-top:1px ridge lightgrey;position: relative;top: 1px;left: 0px"/>
                <div class="row" style="height: 60px;position: relative;top: 1px;left: 0px">
                    <div class="col-lg-9">
                        <a href="#" class="pull-left" style="position: relative;top: 5px;left: 5px"><img src="app/img/a_002.jpg" alt=''/></a>
                        <div style="position: relative;left: 10px">
                            <h5 style="color: dodgerblue">
                                <span style="color: red">2.</span>上海长宁冷库
                            </h5>
                            <div style="height: 10px">
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star-half"></i>
                                <i class="icon-star-empty"></i>
                            </div>
                            <h6>该冷库位于美丽的魔都大上海,设备先进,服务一流,制冷技术先进,保证极好的冷冻效果.</h6>
                        </div>
                    </div>
                    <div class="col-lg-3" style="position: relative;top:5px;left: 10px">
                        <div><span style="color: dodgerblue">4.6</span>/5分</div>
                        <h6><span>98</span>%用户推荐</h6>
                        <h6 style="color: dodgerblue">源自<span>9999</span>位用户点评</h6>
                    </div>
                </div>
                <hr style="height:1px;border:none;border-top:1px ridge lightgrey;position: relative;top: 1px;left: 0px"/>
                <div class="row" style="height: 60px;position: relative;top: 1px;left: 0px">
                    <div class="col-lg-9">
                        <a href="#" class="pull-left" style="position: relative;top: 5px;left: 5px"><img src="app/img/a_002.jpg" alt=''/></a>
                        <div style="position: relative;left: 10px">
                            <h5 style="color: dodgerblue">
                                <span style="color: red">3.</span>吉林长春冷库
                            </h5>
                            <div style="height: 10px">
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star-half"></i>
                                <i class="icon-star-empty"></i>
                            </div>
                            <h6>该冷库位于美丽的魔都大上海,设备先进,服务一流,制冷技术先进,保证极好的冷冻效果.</h6>
                        </div>
                    </div>
                    <div class="col-lg-3" style="position: relative;top:5px;left: 10px">
                        <div><span style="color: dodgerblue">4.6</span>/5分</div>
                        <h6><span>98</span>%用户推荐</h6>
                        <h6 style="color: dodgerblue">源自<span>9999</span>位用户点评</h6>
                    </div>
                </div>
                <hr style="height:1px;border:none;border-top:1px ridge lightgrey;position: relative;top: 1px;left: 0px"/>
                <div class="row" style="height: 60px;position: relative;top: 1px;left: 0px">
                    <div class="col-lg-9">
                        <a href="#" class="pull-left" style="position: relative;top: 5px;left: 5px"><img src="app/img/a_002.jpg" alt=''/></a>
                        <div style="position: relative;left: 10px">
                            <h5 style="color: dodgerblue">
                                <span style="color: red">4.</span>浙江杭州冷库
                            </h5>
                            <div style="height: 10px">
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star-half"></i>
                                <i class="icon-star-empty"></i>
                            </div>
                            <h6>该冷库位于美丽的魔都大上海,设备先进,服务一流,制冷技术先进,保证极好的冷冻效果.</h6>
                        </div>
                    </div>
                    <div class="col-lg-3" style="position: relative;top:5px;left: 10px">
                        <div><span style="color: dodgerblue">4.6</span>/5分</div>
                        <h6><span>98</span>%用户推荐</h6>
                        <h6 style="color: dodgerblue">源自<span>9999</span>位用户点评</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3" style="position:relative;left: 80px;height: 400px;border: 1px dotted">
                <div>
                    <span>这块区域待开发,先占坑!</span>
                </div>
            </div>
        </div>
    </section>
</div>

