<div>
    <section>
        <div class="row" style="height: 75px;width: 100%"></div>
    </section>
    <section>
        <div class="row" style="position:relative;top: 20px;min-height: 400px">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                <div class="row">
                    <div>
                        <middle>
                            <ul>温馨提示：</ul>
                            <ul>1、为提高冷库信息质量，如果您是冷库负责人，请上传该冷库的<b>营业执照</b>。经审核通过后，你的账号即为认证账号，并会成为该冷库的管理者。</ul>
                            <ul>2、认证通过的用户，即可修改对应冷库，同时可以在冷库发布库、仓位、货品交易和租赁信息，同时账号认证，也是接入冷库360的全方位智能管理和云服务的前提。</ul>
                            <ul>3、账号认证时间为1~3工作日，请您耐心等待。</ul>
                            <ul>4、任何问题，请随时拨打客服电话 021-23560068，或发邮件至kefu@smartcold.cn，我们将第一时间解决。</ul>
                        </middle>
                    </div>
                    <div style="height: 270px;">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"
                             style="position:relative;top: 100px;bottom: 100px;left: 50px">
                            <button class="btn btn-success" ngf-select="addAuthFiles($files)" type="file"
                                    ng-model="authfiles"
                                    name="authfiles">上传图片
                            </button>
                            <small class="text-warning" style="margin-left:30px;">*仅1张(必须为.jpg,.png,.jpeg格式)</small>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <img id="img0" style="position:relative;left: 80px;top: 20px;max-height: 250px;max-width: 250px;">
                        </div>
                    </div>
                    <label ng-repeat="authfile in totalauthfiles" style="margin-left: 50px"><span
                            ng-bind="authfile.name"></span>
                        <i class="fa fa-times danger" style="margin-right:10px;color:red;" ng-click="dropauth(authfile)"></i>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row" style="text-align: center;min-height: 30px;margin-top: 25px;">
            <button class="btn btn-primary" ng-click="submit()" ng-disabled="isDisabled">提交</button>
        </div>
</section>
</div>