<div>
    <section>
        <div class="row" style="height: 75px;width: 100%"></div>
    </section>
    <section class="content">
        <div class="row" style="height: 20px;width: 100%;position: relative;top: 10px;">
            <ul class="breadcrumb" style="padding-left: 45px">
                <li class="active">
                    <a href="" ng-click="toColdStorageList()">冷库</a>
                </li>
                <li class="active">
          
                </li>
                <button class="btn btn-primary btn-xs pull-right" type="button" ng-if="undefined!=user && user.id==rdcUserId" 
                 ng-click="goEditRdc(rdcId)">修改冷库</button>
            </ul>
        </div>
        <div class="row" style="width: 100%">
            <div class="col-lg-9 col-sm-9 col-xs-9 col-md-9" style="position: relative;top:30px;padding-bottom: 100px;">
                <div class="row">
                    <div class="col-lg-9 col-sm-9 col-xs-9 col-sm-9 col-xs-9 col-md-9" style="position: relative;left: 40px">
                        <h3 style="color: dodgerblue">{{rdcName}}</h3>

         <!--               <div style="height: 10px">
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star-half"></i>
                            <i class="icon-star-empty"></i>
                        </div>-->
                    </div>
                    <div class="col-lg-3 col-sm-3 col-xs-3 col-md-3 visible-lg" style="position: relative;top:5px;left: 0px;">
                        <a class="btn btn-success" style="position: relative;top:50px;left: 120px;"
                           ng-click="goComment()">立即评价</a>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-xs-3 col-md-3 visible-md" style="position: relative;top:5px;left: 0px;">
                        <a class="btn btn-success" style="position: relative;top:50px;left: 60px;"
                           ng-click="goComment()">立即评价</a>
                    </div>
                </div>
                <div class="row">
                    <!--<img src="app/img/banner.jpg" style="position:relative;left:50px;width:93%;height: 50%;">-->
                    <div class="col-lg-4 col-sm-4 col-xs-4 col-md-4">
                        <img ng-src="{{storagePics[0].location}}"
                             style="position:relative;left:40px;width:100%;height: 224px;">
                    </div>
                    <div class="col-lg-5 col-sm-5 col-xs-5 col-md-5">
                        <div class="row" style="position:relative;left:1px;">
                            <img ng-src="{{storagePics[1].location}}"
                                 style="position:relative;left:30px;width:255px;height: 109px;">
                            <img ng-src="{{storagePics[2].location}}"
                                 style="position:relative;left:30px;width:100px;height: 109px;">
                        </div>
                        <div class="row" style="position:relative;left:1px;top: 4px">
                            <img ng-src="{{storagePics[3].location}}"
                                 style="position:relative;left:30px;width:100px;height: 109px;">
                            <img ng-src="{{storagePics[4].location}}"
                                 style="position:relative;left:30px;width:255px;height: 109px;">
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-xs-3 col-md-3">
                        <!--<div class="row" style="position:relative;left:1px;">
                            <div class="col-lg-12" style="position: relative;margin-left: 1%;margin-right: 10%;margin-top: 10%;margin-bottom: 10%"><span style="font-size: 8em;color: coral">{{curtemper}}</span><span style="font-size: 4em;color: coral">℃</span></div>
                        </div>-->
                    </div>
                </div>
                <div class="row">
                    <div class="tabbable" style="position: relative;left:50px;top: 10px">
                        <ul class="nav nav-tabs" style="position:relative;left:0px;width:93%;height: 50%;">
                            <li id="detail" class="active">
                                <a href="" ng-click="goColdStorageDetail(rdcId)" data-toggle="tab">冷库详情</a>
                            </li>
                            <li id="comment">
                                <a href="" ng-click="goColdStorageComment(rdcId)" data-toggle="tab">冷库评论</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="coldStorageDetail">
                                <div class="row" style="position: relative;left: 0px;top: 10px">
                                    <h3 style="color: #00a7d0">基本信息</h3>
                                    <table style="width: 92%">
                                        <tbody>
                                        <tr style="border-bottom:1px dashed #e0e2e4; height:30px;">
                                            <td style="width: 12%">地理位置</td>
                                            <td>
                                                <ul>
                                                    <li style="float: left; padding:2px 0 2px 20px; margin-right: 10px; width: 88%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                                                        该冷库位于{{provinceName}}省,{{cityName}}市,{{rdcAddress}}
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr style="border-bottom:1px dashed #e0e2e4; height:30px;">
                                            <td style="width: 12%">冷库总面积</td>
                                            <td>
                                                <ul>
                                                    <li style="float: left; padding:2px 0 2px 20px; margin-right: 10px; width: 88%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                                                        {{area}} 平方米
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr style="border-bottom:1px dashed #e0e2e4; height:30px;">
                                            <td style="width: 12%">冷库经营类型</td>
                                            <td>
                                                <ul>
                                                    <li style="float: left; padding:2px 0 2px 20px; margin-right: 10px; width: 88%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                                                        {{manageType}}
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr style="border-bottom:1px dashed #e0e2e4; height:30px;">
                                            <td style="width: 12%">商品存放类型</td>
                                            <td>
                                                <ul>
                                                    <li style="float: left; padding:2px 0 2px 20px; margin-right: 10px; width: 88%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                                                        {{storageType}}
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr style="border-bottom:1px dashed #e0e2e4; height:30px;">
                                            <td style="width: 12%">冷库温度类型</td>
                                            <td>
                                                <ul>
                                                    <li style="float: left; padding:2px 0 2px 20px; margin-right: 10px; width: 88%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                                                        {{temperType}}
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr style="border-bottom:1px dashed #e0e2e4; height:30px;">
                                            <td style="width: 12%">冷藏车数量</td>
                                            <td>
                                                <ul>
                                                    <li style="float: left; padding:2px 0 2px 20px; margin-right: 10px; width: 88%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                                                        ●＜1.8T:{{coldTruck1}}辆&nbsp;&nbsp;&nbsp;●1.8～6T:{{coldTruck2}}辆&nbsp;&nbsp;&nbsp;●6～14T:{{coldTruck3}}辆&nbsp;&nbsp;&nbsp;●＞14T:{{coldTruck4}}辆
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr style="border-bottom:1px dashed #e0e2e4; height:30px;">
                                            <td style="width: 12%">联系电话</td>
                                            <td>
                                                <ul>
                                                    <li style="float: left; padding:2px 0 2px 20px; margin-right: 10px; width: 88%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                                                        {{phoneNum}}
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <!--<tr style="border-bottom:1px dashed #e0e2e4; height:30px;">
                                            <td style="width: 12%">座机号</td>
                                            <td>
                                                <ul>
                                                    <li style="float: left; padding:2px 0 2px 20px; margin-right: 10px; width: 88%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                                                        {{telphoneNum}}
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>-->
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row" style="position: relative;left: 0px;top: 10px">
                                    <h3 style="color: #00a7d0">其他信息</h3>
                                    <table style="width: 92%">
                                        <tbody>
                                        <tr style="border-bottom:1px dashed #e0e2e4; height:30px;" ng-hide="tonnage === undefined || tonnage === 0">
                                            <td style="width: 12%">冷库吨位</td>
                                            <td>
                                                <ul>
                                                    <li style="float: left; padding:2px 0 2px 20px; margin-right: 10px; width: 88%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                                                        {{tonnage}} 吨
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr style="border-bottom:1px dashed #e0e2e4; height:30px;" ng-hide="structure === undefined || structure === '' || structure === null">
                                            <td style="width: 12%">冷库结构</td>
                                            <td>
                                                <ul>
                                                    <li style="float: left; padding:2px 0 2px 20px; margin-right: 10px; width: 88%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                                                        {{structure}}
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr style="border-bottom:1px dashed #e0e2e4; height:30px;" ng-hide="companyDevice === undefined || companyDevice === 0">
                                            <td style="width: 12%">冷链设施类型</td>
                                            <td>
                                                <ul>
                                                    <li style="float: left; padding:2px 0 2px 20px; margin-right: 10px; width: 88%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                                                        {{companyDevice}}
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr style="border-bottom:1px dashed #e0e2e4; height:30px;" ng-hide="platform === undefined">
                                            <td style="width: 12%">是否有月台</td>
                                            <td>
                                                <ul>
                                                    <li style="float: left; padding:2px 0 2px 20px; margin-right: 10px; width: 88%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                                                        {{platform}}
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr style="border-bottom:1px dashed #e0e2e4; height:30px;" ng-hide="lihuoRoom === undefined">
                                            <td style="width: 12%">是否有理货间</td>
                                            <td>
                                                <ul>
                                                    <li style="float: left; padding:2px 0 2px 20px; margin-right: 10px; width: 88%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                                                        {{lihuoRoom}}
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr style="border-bottom:1px dashed #e0e2e4; height:30px;" ng-hide="hasLihuoRoom || lihuoArea === undefined || lihuoArea === 0">
                                            <td style="width: 12%">理货区面积</td>
                                            <td>
                                                <ul>
                                                    <li style="float: left; padding:2px 0 2px 20px; margin-right: 10px; width: 88%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                                                        {{lihuoArea}} 平方米
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr style="border-bottom:1px dashed #e0e2e4; height:30px;" ng-hide="hasLihuoRoom || lihuoTemperCtr === undefined">
                                            <td style="width: 12%">理货区有无温控</td>
                                            <td>
                                                <ul>
                                                    <li style="float: left; padding:2px 0 2px 20px; margin-right: 10px; width: 88%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                                                        {{lihuoTemperCtr}}
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr style="border-bottom:1px dashed #e0e2e4; height:30px;" ng-hide="storageRefreg === undefined || storageRefreg === 0">
                                            <td style="width: 12%">制冷剂类型</td>
                                            <td>
                                                <ul>
                                                    <li style="float: left; padding:2px 0 2px 20px; margin-right: 10px; width: 88%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                                                        {{storageRefreg}}
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr style="border-bottom:1px dashed #e0e2e4; height:30px;" ng-hide="temperRecord === undefined">
                                            <td style="width: 12%">有无温度记录</td>
                                            <td>
                                                <ul>
                                                    <li style="float: left; padding:2px 0 2px 20px; margin-right: 10px; width: 88%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                                                        {{temperRecord}}
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr style="border-bottom:1px dashed #e0e2e4; height:30px;" ng-hide="capacity1 === undefined || capacity2 === undefined || capacity3 === undefined || capacity4 === undefined || capacity5 === undefined || (capacity1 === 0 && capacity2 === 0 && capacity3 === 0 && capacity4 === 0 && capacity5 === 0)">
                                            <td style="width: 12%">冷库容量</td>
                                            <td>
                                                <ul>
                                                    <li style="float: left; padding:2px 0 2px 20px; margin-right: 10px; width: 88%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                                                        12度至25度:{{capacity1}}吨&nbsp;&nbsp;&nbsp;12度至-2度:{{capacity2}}吨&nbsp;&nbsp;&nbsp;-18度至-22度:{{capacity3}}吨&nbsp;&nbsp;&nbsp;-22至-30度:{{capacity4}}吨&nbsp;&nbsp;&nbsp;-30度以下:{{capacity5}}吨
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr style="border-bottom:1px dashed #e0e2e4; height:30px;" ng-hide="facility === undefined || facility === '' || facility === null">
                                            <td style="width: 12%">周边设施</td>
                                            <td>
                                                <ul>
                                                    <li style="float: left; padding:2px 0 2px 20px; margin-right: 10px; width: 88%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                                                        {{facility}}
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr style="border-bottom:1px dashed #e0e2e4; height:30px;" ng-hide="remark === undefined || remark === '' || remark === null">
                                            <td style="width: 12%">备注</td>
                                            <td style="word-break : break-all; float: left; padding:2px 0 2px 60px; margin-right: 10px; width: 88%;overflow:hidden;text-overflow:ellipsis;">
                                             {{remark}}
                                               <!--  <ul>
                                                    <li style="float: left; padding:2px 0 2px 20px; margin-right: 10px; width: 88%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                                                        {{remark}}
                                                    </li>
                                                </ul>  -->
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="coldStorageComment">
                                <div class="row">
                                    <div class="col-lg-8 col-sm-8 col-xs-8 col-md-8" style="position: relative;left: 10px;top: 10px;">
                                        <div class="col-lg-3 col-sm-3 col-xs-3 col-md-3">
                                            <i class="{{score < 0.5? 'icon-star-empty': score >= 0.5 && score < 1? 'icon-star-half' :'icon-star'}}"></i>
                                            <i class="{{score < 1.5? 'icon-star-empty': score >= 1.5 && score < 2? 'icon-star-half' :'icon-star'}}"></i>
                                            <i class="{{score < 2.5? 'icon-star-empty': score >= 2.5 && score < 3? 'icon-star-half' :'icon-star'}}"></i>
                                            <i class="{{score < 3.5? 'icon-star-empty': score >= 3.5 && score < 4? 'icon-star-half' :'icon-star'}}"></i>
                                            <i class="{{score < 4.5? 'icon-star-empty': score >= 4.5 && score < 5? 'icon-star-half' :'icon-star'}}"></i>
                                        </div>
                                        <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2">
                                            <span style="color: dodgerblue;font-size: 20px">{{score}}</span>/5分
                                        </div>
                                        <div class="col-lg-3 col-sm-3 col-xs-3 col-md-3">
                                            <span style="color: dodgerblue;font-size: 20px">{{userRecommendPercent}}</span>%用户推荐
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-xs-4 col-md-4">
                                        <h4>点评均来自真实用户点评！ </h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-8 col-sm-8 col-xs-8 col-md-8" style="position: relative;left: 10px;top: 15px;">
                                        <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2">
                                            <span>温度&nbsp;<span
                                                    style="color: #00a7d0">{{rdcPositionScore}}</span></span>
                                        </div>
                                        <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2">
                                            <span>设施&nbsp;<span style="color: #00a7d0">{{rdcFacility}}</span></span>
                                        </div>
                                        <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2">
                                            <span>服务&nbsp;<span style="color: #00a7d0">{{rdcService}}</span></span>
                                        </div>
                                        <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2">
                                            <span>卫生&nbsp;<span style="color: #00a7d0">{{rdcHealth}}</span></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-xs-4 col-md-4">
                                        <div class="input-group" style="width: 200px">
                                            <input type="text" ng-model="query" class="form-control"
                                                   placeholder="搜索点评关键字">
                                               <span class="input-group-btn">
                                                  <button class="btn btn-default" type="button"
                                                          style="background: #3498DB">
                                                      搜索
                                                  </button>
                                               </span>
                                        </div><!-- /input-group -->
                                    </div>
                                </div>
                                <div class="row" style="background: gainsboro;margin-top: 20px;width: 95%">
                                    <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6" style="height: 30px;margin-top: 10px;">
                                        <div>
                                            <a href="#" style="margin-left: 10px;">全部({{userCommentCount}})</a>
                                            <a href="#" style="margin-left: 10px;">值得推荐({{recommentCount}})</a>
                                            <a href="#" style="margin-left: 10px;">有待改善({{userCommentCount - recommentCount}})</a>
                                            <!-- <a href="#" style="margin-left: 10px;">有图片(55)</a> -->
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                                        <select style="width: 120px;margin-top: 10px;margin-left: 15px;">
                                            <option value="1" selected>热门排序</option>
                                            <option value="2">时间排序</option>
                                        </select>
                                        <select style="width: 120px;margin-top: 10px;margin-left: 15px;">
                                            <option value="-1" selected>全部冷库类型</option>
                                            <option value="制冷">制冷</option>
                                            <option value="保险">保险</option>
                                            <option value="储藏">储藏</option>
                                        </select>
                                        <select style="width: 120px;margin-top: 10px;margin-left: 15px;">
                                            <option value selected>全部类型</option>
                                            <option value="大冷库">大冷库</option>
                                            <option value="中冷库">中冷库</option>
                                            <option value="小冷库">小冷库</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row" ng-repeat="comment in comments"
                                     style="padding-bottom: 10px;height: auto;width: 95%;position: relative;top: 10px;left: 1px;border-style: none none solid none;border-bottom:1px ridge lightgrey;">
                                    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                        <div class="row">
                                            <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2">
                                                <a href="#" class="pull-left"
                                                   style="position: relative;top: 5px;left: 0px"><img
                                                        src="app/img/default.jpg" width="60px" height="60px"/></a>

                                                <div style="position: relative;left: 10px;top: 5px;height: 200px;">
                                                    <p style="color: dodgerblue">
                                                        <span style="color: #00b3ee">{{comment.commerName}}</span>
                                                    </p>

                                                    <p>
                                                    <h6 style="color: #8aa4af">点评总数{{comment.commentsum}}</h6>
                                                    <h6 style="color: #8aa4af">有用个数{{comment.usefulCnt}}</h6>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-lg-10 col-sm-10 col-xs-10 col-md-10" style="position: relative;top:5px;left: 10px">
                                                <div class="row">
                                                    <div class="col-lg-4 col-sm-4 col-xs-4 col-md-4">
                                                        <i class="{{ comment.grade >= 1?'icon-star':'icon-star-empty'}}"></i>
                                                        <i class="{{ comment.grade >= 2?'icon-star':'icon-star-empty'}}"></i>
                                                        <i class="{{ comment.grade >= 3?'icon-star':'icon-star-empty'}}"></i>
                                                        <i class="{{ comment.grade >= 4?'icon-star':'icon-star-empty'}}"></i>
                                                        <i class="{{ comment.grade >= 5?'icon-star':'icon-star-empty'}}"></i>
                                                        <span style="color: dodgerblue;margin-left: 10px">{{comment.grade}}</span>分
                                                    </div>
                                                    <div class="col-lg-8 col-sm-8 col-xs-8 col-md-8">
                                                        <div style="position: relative;left: 150px;">
                                                            <i class="icon-truck" style="margin-left: 20px"><span
                                                                    style="margin-left: 5px">运输</span></i>
                                                            <span style="margin-left: 20px">2016年04月浏览</span>
                                                            <span style="color: dodgerblue;margin-left: 20px">中型冷库</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                                        <p style="margin-top: 10px;width: 90%">
                                                            {{comment.content}}
                                                        </p>
                                                        <div style="margin-top: 20px">
                                                            <img ng-repeat="location in comment.piclocation" ng-src="{{location}}" width="80px" height="80px"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-4 col-sm-4 col-xs-4 col-md-4" style="margin-top: 5px">
                                                        <i class="icon-mobile-phone"></i>
                                                        <span style="color: lightgrey;margin-left: 10px;">发表于{{comment.addTime}}</span>
                                                    </div>
                                                    <div class="col-lg-8 col-sm-8 col-xs-8 col-md-8">
                                                        <div style="position: relative;left: 350px;">
                                                            <a style="display: inline-block; padding: 2px 10px;background-color: #fff; border: 1px solid #78d1ff; border-radius: 2px;"
                                                               ng-click="comment.usefulCnt = comment.usefulCnt + 1">有用({{comment.usefulCnt}})</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-3 col-md-3" style="position: relative;top:30px;">
                <div class="row"
                     style="position:relative;top:30px;left: 0px;height: 100px;padding-right: 10px;border: 1px ridge lightgrey;background-color: #f5f5f5">
                    <div style="position:relative;top: 10px;left: 10px;">
                        <div><span style="color: dodgerblue">{{score}}</span>/5分</div>
                        <h6><span>{{userRecommendPercent}}</span>%用户推荐</h6>
                        <h6 style="color: dodgerblue">源自<span>{{userCommentCount}}</span>位用户点评</h6>
                    </div>
                </div>
                <div class="row"
                     style="position:relative;top:40px;left: 0px;height: 300px;padding-right: 10px;border: 1px ridge lightgrey">
                    <div>
                        <!--<a href="#"><img src="app/img/a_002.jpg" width="320" height="300px"/></a>-->
                        <div class="chart" id="mapChart" style="height: 298px;width: 100%"></div>
                    </div>
                </div>
                <div class="row"
                     style="position:relative;top:60px;left: 0px;height: 400px;padding-right: 10px;border: 1px ridge lightgrey">
                    <div style="width: 95%;position:relative;top: 10px;left: 10px;border-style: none none solid none;border-bottom:1px ridge lightgrey;">
                        <span style="font-size: 20px;">我浏览过的冷库</span>
                    </div>

                    <div class="row" ng-repeat="lookrdc in lookrdcs"
                         style="height: 70px;width: 95%;position: relative;top: 20px;left: 30px;border-style: none none solid none;border-bottom:1px ridge lightgrey;">
                        <div class="col-lg-8 col-sm-8 col-xs-8 col-md-8">
                            <a href="#" class="pull-left" style="position: relative;top: 5px;left: 0px"><img
                                    src="app/img/rdcHeader.jpg" style="width: 60px;height: 60px" alt="冷库图片"/></a>

                            <div style="position: relative;left: 5px;">
                                <span style="color: dodgerblue;font-size: 8px;top: 1px;"><a
                                        ng-click="goDetail(lookrdc.id)">{{lookrdc.name}}</a></span>

                                <div style="position:relative;top:5px;height: 3px">
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star-half"></i>
                                    <i class="icon-star-empty"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-xs-4 col-md-4" style="position: relative;top:5px;left: 0px;">
                            <a class="btn btn-success" style="position: relative;left:10px;top: 15px;"
                               ng-click="goDetail(lookrdc.id)">查看</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script type="text/ng-template" id="myModelContent.html">
        <div class="modal-header">
            <h3 class="modal-title">添写评价内容</h3>
        </div>
        <div class="modal-body">
            <ul>
                <textarea rows="10" ng-model="commentContent" style="width:90%" placeholder="请输入您对冷库的真实评价"></textarea>
                <!--<li ng-repeat="item in items">
                    <a ng-click="selected.item = item">{{item}}</a> //显示当前点击的item
                </li>
                当前选择： <b>{{selected.item}}</b>-->
            </ul>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">
                确认
            </button>
            <button class="btn btn-warning" ng-click="cancel()">退出</button>
        </div>
    </script>

</div>

