<div>
    <div style="width:100%;" class="bs-example">
      <div id="carousel" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel" data-slide-to="1"></li>
		    <li data-target="#carousel" data-slide-to="2"></li>
		    <li data-target="#carousel" data-slide-to="3"></li>
		  </ol>
		
		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
		    <div class="item active">
		        <img src="app/img/image0.jpg" style="width:100%;height: 450px;" alt="First slide">
		    </div>
		    <div class="item">
		         <img src="app/img/image1.JPG" style="width:100%;height: 450px;" alt="Second slide">
		    </div>
		    <div class="item">
		         <img src="app/img/image2.JPG" style="width:100%;height: 450px;" alt="Third slide">
		    </div>
		    <div class="item">
		         <img src="app/img/image3.jpg" style="width:100%;height: 450px;" alt="Third slide">
		    </div>
		  </div>
		
		  <!-- Controls -->
		  
		</div>
    </div>
    <div class="content">
        <div style="height:370px;">
            <div class="col-lg-12 col-xs-12 col-xs-12 col-sm-12 col-md-12">
              <div class="col-lg-8 col-xs-8 col-sm-8 col-lg-offset-2 col-sm-offset-2 col-xs-offset-2 col-sm-offset-2 col-xs-offset-2 col-md-8 col-md-offset-2">
                <div class="col-lg-6 col-xs-6 col-sm-6 col-md-6">
                    <div class="h1 visible-lg">WHO WE ARE<br>我们是谁</div>
                    <div class="h2 visible-md">WHO WE ARE<br>我们是谁</div>
                    <div class="h3 visible-sm">WHO WE ARE<br>我们是谁</div>
                    <div class="h4 visible-xs">WHO WE ARE<br>我们是谁</div>
                    <div class="h5">
                        <p style="border-top-style: groove; margin-top: 10px;"></p>

                        <p>我们的团队由物流专家、信息化专家、制冷专家、食品专家、物联网专家组成<br></p>

                        <p>依托中国物流与采购联合会冷链物流专业委员会行业资源<br></p>

                        <p>打造集评价、认证、共享、追溯、能耗管理为一体、国内冷链行业最权威的信息公共平台</p>

                        <p style="border-top-style: groove; margin-top: 10px;"></p>
                    </div>
                    <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 ">
                        <span><li class="icon-group icon-5x"></li></span>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-6 col-sm-6 col-md-6">
                    <div class="h1 visible-lg">WHAT WE DO<br>解决什么问题</div>
                    <div class="h2 visible-md">WHAT WE DO<br>解决什么问题</div>
                    <div class="h3 visible-sm">WHAT WE DO<br>解决什么问题</div>
                    <div class="h4 visible-xs">WHAT WE DO<br>解决什么问题</div>
                    <div class="h5">
                        <p style="border-top-style: groove; margin-top: 10px;"></p>

                        <p>让农产品全冷链流通环节数据可视化，为企业提供公正、透明的数据支持<br></p>

                        <p>让您快速找到国内优秀的冷链服务商<br></p>

                        <p>让生鲜农产品提供从田间到餐桌全程温度追溯可视化，保证食品安全<br></p>

                        <p>帮助企业改善冷库操作及节能管理，有效降低冷库的运营成本，提高企业的市场竞争能力</p>

                        <p style="border-top-style: groove; margin-top: 10px;"></p>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div style="height:700px;" class="case">
            <div class="col-lg-12 col-xs-12 col-sm-12 col-sm-12 col-md-12 block-center">
                <div class="col-lg-4 col-xs-4 col-sm-4 col-sm-4 col-lg-offset-2 col-sm-offset-2 col-xs-offset-2 col-md-4 col-md-offset-2">
                    <div class="h1 visible-lg">WHAT WE SERVICE<br>我们的服务内容</div>
                    <div class="h2 visible-md">WHAT WE SERVICE<br>我们的服务内容</div>
                    <div class="h3 visible-sm">WHAT WE SERVICE<br>我们的服务内容</div>
                    <div class="h4 visible-xs">WHAT WE SERVICE<br>我们的服务内容</div>
                </div>
            </div>
            <div class="col-lg-8 col-xs-8 col-sm-8 col-lg-offset-2 col-sm-offset-2 col-xs-offset-2 col-md-8 col-md-offset-2">
                <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
                    <div class="col-lg-6 col-xs-6 col-sm-6 col-md-6">
                        <div class="h3">全冷链解决方案</div>
                        <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12"><p>温度追溯、商流信息、物流信息、冷库能耗管理的数据服务及解决方案</p></div>
                        <img src="app/img/data.jpg" class="col-lg-12 col-xs-12 col-sm-12 col-md-12" style="height:189px">
                    </div>
                    <div class="col-lg-6 col-xs-6 col-sm-6 col-md-6">
                        <div class="h3">数据托管服务</div>
                        <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12"><p>从田间到餐桌全程温度追溯数据第三方托管服务</p><br></div>
                        <img src="app/img/trusteeship.jpg" class="col-lg-12 col-xs-12 col-sm-12 col-md-12" style="height:189px">
                    </div>
                </div>
                <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
                    <div class="col-lg-6 col-xs-6 col-sm-6 col-md-6">
                        <div class="h3">冷库能耗管理</div>
                        <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12"><p>冷库多维度能耗诊断、改善、管理服务</p></div>
                        <img src="app/img/manage.jpg" class="col-lg-12 col-xs-12 col-sm-12 col-md-12" style="height:189px">
                    </div>
                    <div class="col-lg-6 col-xs-6 col-sm-6 col-md-6">
                        <div class="h3">冷库认证服务</div>
                        <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12"><p>标准化冷库及冷链物流中心认证服务</p></div>
                        <img src="app/img/certification.jpg" class="col-lg-12 col-xs-12 col-sm-12 col-md-12" style="height:189px">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div style="height:480px;" class="">
            <div class="col-lg-8 col-xs-8 col-sm-8 col-lg-offset-2 col-sm-offset-2 col-xs-offset-2 col-md-8 col-md-offset-2" style="margin-top:80px;">
                <div class="col-lg-5 col-xs-5 col-sm-5 col-md-5 bg-primary text-center"
                     style="height:350px;border: 1px solid transparent;border-radius: 4px;">
                     <br><br><br><br>
                    <p class="h1 visible-lg">睿库</p>
                    <p class="h2 visible-md">睿库</p>
                    <p class="h3 visible-sm">睿库</p>
                    <p class="h4 visible-xs">睿库</p>
                    <br><br><br>
                    <p>冷库360  星级认证</p>
                </div>
                <div class="col-lg-7 col-xs-7 col-sm-7 col-md-7 text-center"
                     style="height:350px;border: 1px solid transparent;border-radius: 4px;">
                    <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 bg-warning"
                         style="height:150px;border: 1px solid transparent;border-radius: 4px;x">
                        <p class="h1">追溯</p>
                        <br><br>
                        <p>全程温度数据托管服务</p>
                    </div>
                    <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12" style="height:175px;margin-top:25px">
                        <div class="col-lg-6 col-xs-6 col-sm-6 col-md-6"
                             style="height:175px;margin-left:-10px;border: 1px solid transparent;border-radius: 10px;background-color:#ffcc66;">
                            <p class="h2">评价与认证</p>
                            <br><br>
                            <p>冷链服务能力自主评价</p>
                        </div>
                        <div class="col-lg-6 col-xs-6 col-sm-6 col-md-6"
                             style="height:175px;margin-left:10px;border: 1px solid transparent;border-radius: 10px;background-color:#ffcc66;'">
                            <p class="h2">信息共享</p>
                            <br><br>
                            <p>找车、找库、找货</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div style="height:550px" class="case">
            <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
                <div class="col-lg-4 col-xs-4 col-sm-4 col-lg-offset-2 col-sm-offset-2 col-xs-offset-2 col-md-4 col-md-offset-2">
                    <div class="h1 visible-lg">WHO WE SERVICE<br>服务哪些企业</div>
                    <div class="h2 visible-md">WHO WE SERVICE<br>服务哪些企业</div>
                    <div class="h3 visible-sm">WHO WE SERVICE<br>服务哪些企业</div>
                    <div class="h4 visible-xs">WHO WE SERVICE<br>服务哪些企业</div>
                </div>
            </div>
            <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
                <div class="" id="cnt1">
                    <div class="row feature">
                        <div class="col-lg-2 col-xs-2 col-sm-2 col-md-2"></div>
                        <div class="col-lg-2 col-xs-2 col-sm-2 col-md-2 feature-item">
                            <div class="feature-item">
                                <img src="app/img/product.jpg" style="height:150px" alt="Texto Alternativo"
                                     class="img-circle img-thumbnail">

                                <h3>生产企业</h3>
                                <br>
                            </div>
                        </div>
                        <div class="col-lg-2 col-xs-2 col-sm-2 col-md-2 feature-item">
                            <div class="feature-item">
                                <img src="app/img/E-commerce.jpg" style="height:150px" alt="Texto Alternativo"
                                     class="img-circle img-thumbnail">

                                <h3>生鲜电商</h3>
                                <br>
                            </div>
                        </div>
                        <div class="col-lg-2 col-xs-2 col-sm-2 col-md-2">
                            <div class="feature-item">
                                <img src="app/img/food.jpg" style="height:150px" alt="Texto Alternativo"
                                     class="img-circle img-thumbnail">

                                <h3>商超及餐饮企业</h3>
                            </div>
                        </div>
                        <div class="col-lg-2 col-xs-2 col-sm-2 col-md-2 feature-item">
                            <div class="feature-item">
                                <img src="app/img/coldChain.jpg" style="height:150px" alt="Texto Alternativo"
                                     class="img-circle img-thumbnail">

                                <h3>第三方冷链物流企业</h3>
                            </div>
                        </div>
                        <div class="col-lg-2 col-xs-2 col-sm-2 col-md-2 feature-item">
                            <div class="feature-item">
                                <img src="app/img/supply-chain.jpg" style="height:150px" alt="Texto Alternativo"
                                     class="img-circle img-thumbnail">

                                <h3>供应链管理企业</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div style="height:550px;" class="row">
            <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
                <div class="col-lg-4 col-xs-4 col-sm-4 col-lg-offset-2 col-sm-offset-2 col-xs-offset-2 col-md-4 col-md-offset-2">
                    <div class="h1 visible-lg">COMPREHENSIVE POI<br>全国冷链服务商分布图</div>
                    <div class="h2 visible-md">COMPREHENSIVE POI<br>全国冷链服务商分布图</div>
                    <div class="h3 visible-sm">COMPREHENSIVE POI<br>全国冷链服务商分布图</div>
                    <div class="h4 visible-xs">COMPREHENSIVE POI<br>全国冷链服务商分布图</div>
                </div>
            </div>
            <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12" style="margin-top:0px;margin-bottom: 0px">
                <div class="chart" id="mapChart" style="height:390px;width: 80%;margin-left: 10%;margin-top: 1%;margin-bottom: 1%;"></div>
            </div>
        </div>
    </div>
    <div class="content">
        <div style="height:250px;" class="case">
          <div class="col-lg-8 col-xs-8 col-sm-8 col-lg-offset-2 col-sm-offset-2 col-xs-offset-2 col-md-8 col-md-offset-2" style="margin-top:30px">
	          <ul class="icons text-center">
				<li>
	          		<i class="i_ruileng img-responsive" style="max-width: 100%;"></i>
					<span>睿冷</span>
				</li>
				<li>
					<i class="i_ruilengyun "></i>
					<span>睿冷云</span>
				</li>
				<li>
					<i class="i_ruiku"></i>
					<span>睿库</span>
				</li>
				<li>
					<i class="i_lengku360"></i>
					<span>冷库360</span>
				</li>
			  </ul>
          </div>
        </div>
    </div>
</div>
