<div>
    <div style="width:100%;" class="bs-example">
      <div id="carousel" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel" data-slide-to="1"></li>
		    <li data-target="#carousel" data-slide-to="2"></li>
		  </ol>
		
		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
		    <div class="item active">
		        <img src="app/img/image0.jpg" style="width:100%;" alt="First slide">
		    </div>
		    <div class="item">
		         <img src="app/img/image1.jpg" style="width:100%;" alt="Second slide">
		    </div>
		    <div class="item">
		         <img src="app/img/image3.jpg" style="width:100%;" alt="Third slide">
		    </div>
		  </div>
		
		  <!-- Controls -->
		  
		</div>
    </div>
    <div class="content">
        <div style="height:400px;">
            <div class="col-lg-12 col-xs-12 col-xs-12 col-sm-12 col-md-12">
              <div class="col-lg-10 col-xs-10 col-sm-10 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1 col-sm-offset-1 col-xs-offset-1 col-md-10 col-md-offset-1">
                <div class="col-lg-6 col-xs-6 col-sm-6 col-md-6" >
                    <div class="h1 visible-lg">WHO WE ARE<br>我们是谁</div>
                    <div class="h2 visible-md">WHO WE ARE<br>我们是谁</div>
                    <div class="h3 visible-sm">WHO WE ARE<br>我们是谁</div>
                    <div class="h4 visible-xs">WHO WE ARE<br>我们是谁</div>
                    <div class="h5">
                        <p style="border-top-style: groove; margin-top: 10px;"></p>

                        <p>我们的团队由物流专家、信息化专家、制冷专家、食品专家、物联网专家组成<br></p>

                        <p>依托中国物流与采购联合会冷链物流专业委员会行业资源<br></p>

                        <p>打造集评价、认证、共享、追溯、能耗管理为一体、国内最权威的冷库智能管理与云服务平台</p>

                        <p style="border-top-style: groove; margin-top: 10px;"></p>
                    </div>
                    <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 ">
                        <img src="assets/img/people.png" style="height:100px">
                    </div>
                </div>
                <div class="col-lg-6 col-xs-6 col-sm-6 col-md-6" id="what">
                    <div class="h1 visible-lg">WHAT WE DO<br>解决什么问题</div>
                    <div class="h2 visible-md">WHAT WE DO<br>解决什么问题</div>
                    <div class="h3 visible-sm">WHAT WE DO<br>解决什么问题</div>
                    <div class="h4 visible-xs">WHAT WE DO<br>解决什么问题</div>
                    <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12" style="height:100px">
                        <img src="assets/img/cloud.png" style="height:100px">
	                    <div class="h5 col-lg-12" style="width:105%">
                            <p style="border-top-style: groove; margin-top: 10px;"></p>
	
	                        <p>让您快速找到国内优秀的标准化冷库<br></p>
	
	                        <p>为生鲜农产品提供产、配、销一站式信息对接平台，解决农产品产销信息不对称难题<br></p>
	
	                        <p>让生鲜农产品提供从田间到餐桌全程温度追溯可视化，保证食品安全<br></p>
	
	                        <p>帮助企业改善冷库操作及节能管理，有效降低冷库的运营成本，提高企业的市场竞争能力</p>
	
	                        <p style="border-top-style: groove; margin-top: 10px;"></p>
	                    </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="content main">
        <div style="height:600px;">
            <div class="col-lg-12 col-xs-12 col-sm-12 col-sm-12 col-md-12 block-center">
                <div class="titleCom fix">
                  <div class="fl line"></div>
                  <div class="fl titleMid">
                    <div class="h3 visible-lg"><h3>我们的服务内容<br>WHAT WE SERVICE</h3></div>
                    <div class="h4 visible-md">我们的服务内容<br>WHAT WE SERVICE</div>
                    <div class="h5 visible-sm">我们的服务内容<br>WHAT WE SERVICE</div>
                    <div class="h6 visible-xs">我们的服务内容<br>WHAT WE SERVICE</div>
                  </div>
                  <div class="fr line"></div>
                </div>
            </div>
            <div class="col-lg-10 col-xs-10 col-sm-10 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1 col-md-10 col-md-offset-1" style="margin-top:3%;">
                  <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3 text-center ahover"
                      style="border-right:1px dotted gray;padding-bottom:20px;">
                 <a class="h1 visible-lg strong" href="#/coldStoragelist" >找库</a>
                 <a class="h2 visible-md strong" href="#/coldStoragelist" >找库</a>
                 <a class="h3 visible-sm strong" href="#/coldStoragelist" >找库</a>
                 <a class="h4 visible-xs strong" href="#/coldStoragelist" >找库</a>
                 <br>
                 <h3 class="text-gray visible-lg">寻找标准化冷库的最佳途径</h3>
                 <h4 class="text-gray visible-md">寻找标准化冷库的最佳途径</h4>
                 <h5 class="text-gray visible-sm">寻找标准化冷库的最佳途径</h5>
                 <h6 class="text-gray visible-xs">寻找标准化冷库的最佳途径</h6>
                 <br>
                 <a href="#/coldStoragelist"><img class="img-thumbnail" style="border:0px;" src="app/img/tab1.png"></a>
                 <br>
                 <h4 class="text-gray">冷库点评，展示，地图</h4>
                 </div>
                 <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3 text-center ahover"
                      style="border-right:1px dotted gray;padding-bottom:20px;">
                   <a class="h1 visible-lg strong" href="#/coldShareComment" >信息共享</a>
                   <a class="h2 visible-md strong" href="#/coldShareComment" >信息共享</a>
                   <a class="h3 visible-sm strong" href="#/coldShareComment" >信息共享</a>
                   <a class="h4 visible-xs strong" href="#/coldShareComment" >信息共享</a>
                     <br>
                     <h3 class="text-gray visible-lg">&nbsp;&nbsp;&nbsp;车、仓、货资源共享&nbsp;&nbsp;&nbsp;</h3>
                     <h4 class="text-gray visible-md">&nbsp;&nbsp;&nbsp;车、仓、货资源共享&nbsp;&nbsp;&nbsp;</h4>
                     <h5 class="text-gray visible-sm">&nbsp;&nbsp;&nbsp;车、仓、货资源共享&nbsp;&nbsp;&nbsp;</h5>
                     <h6 class="text-gray visible-xs">&nbsp;&nbsp;&nbsp;车、仓、货资源共享&nbsp;&nbsp;&nbsp;</h6>
                     <br>
                     <a href="#/coldShareComment"><img class="img-thumbnail" style="border:0px;" src="app/img/tab2.png"></a>
                     <br>
                     <h4 class="text-gray">配送，订仓，货源&nbsp;信息发布</h4>
                 </div>
                 <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3 text-center ahover"
                      style="border-right:1px dotted gray;padding-bottom:20px;">
                     <a class="h1 visible-lg strong" href="#/search" >温度追溯</a>
                     <a class="h2 visible-md strong" href="#/search" >温度追溯</a>
                     <a class="h3 visible-sm strong" href="#/search" >温度追溯</a>
                     <a class="h4 visible-xs strong" href="#/search" >温度追溯</a>
                     <br>
                     <h3 class="text-gray visible-lg">端到端全程温度可视化系统</h3>
                     <h4 class="text-gray visible-md">端到端全程温度可视化系统</h4>
                     <h5 class="text-gray visible-sm">端到端全程温度可视化系统</h5>
                     <h6 class="text-gray visible-xs">端到端全程温度可视化系统</h6>
                     <br>
                     <a href="#/search" ><img class="img-thumbnail" style="border:0px;" src="app/img/tab3.png"></a>
                     <br>
                     <h4 class="text-gray">温度数据托管与监控</h4>
                 </div>
                 <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3 text-center ahover" style="padding-bottom:20px;">
                      <a class="h1 visible-lg strong" href="http://www.smartcold.net" >冷库360</a>
                      <a class="h2 visible-md strong" href="http://www.smartcold.net" >冷库360</a>
                      <a class="h3 visible-sm strong" href="http://www.smartcold.net" >冷库360</a>
                      <a class="h4 visible-xs strong" href="http://www.smartcold.net" >冷库360</a>
                     <br>
                     <h3 class="text-gray visible-lg">冷库能效在线管理系统</h3>
                     <h4 class="text-gray visible-md">冷库能效在线管理系统</h4>
                     <h5 class="text-gray visible-sm">冷库能效在线管理系统</h5>
                     <h6 class="text-gray visible-xs">冷库能效在线管理系统</h6>
                     <br>
                     <a href="http://www.smartcold.net" ><img class="img-thumbnail" style="border:0px;" src="app/img/tab4.png"></a>
                     <br>
                     <h4 class="text-gray">冷库认证与能耗管理</h4>
                 </div>
            </div>
        </div>
    </div>
    <div class="content">
      <div style="height:550px" class="case">
        <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
	        <div class="titleCom fix">
              <div class="fl line"></div>
                <div class="fl titleMid">
	             <div class="h3 visible-lg">智慧冷库<br>SMART COLD</div>
	             <div class="h4 visible-md">智慧冷库<br>SMART COLD</div>
	             <div class="h5 visible-sm">智慧冷库<br>SMART COLD</div>
	             <div class="h6 visible-xs">智慧冷库<br>SMART COLD</div>
	            </div>
               <div class="fr line"></div>
             </div>
             </div>
	         <div class="col-lg-10 col-xs-10 col-sm-10 col-lg-offset-1 col-sm-offset-1 
	         col-xs-offset-1 col-sm-offset-1 col-xs-offset-1 col-md-10 col-md-offset-1">
               <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7"  style="margin-top:5%">
                 <ul class="home-ul">
                   <li><h3><i class="icon-play main-color"></i>冷库能效在线评估系统</h3></li>
                   <li><h3><i class="icon-play main-color"></i>运行数据全面透明化管理</h3></li>
                   <li><h3><i class="icon-play main-color"></i>云端温度监控，数据托管服务</h3></li>
                   <li><h3><i class="icon-play main-color"></i>基于大数据的多维能效管理</h3></li>
                   <li><h3><i class="icon-play main-color"></i>远程智能故障诊断及故障预警</h3></li>
                 </ul>
               </div>
               <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="margin-top:5%">
               <img src="app/img/jiankong.png" style="width:100%;height:100%">
               </div>
             </div>
      </div>
    </div>
    <div class="content">
        <div style="height:550px" class="">
            <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
                <div class="titleCom fix">
                  <div class="fl line"></div>
                  <div class="fl titleMid">
                    <div class="h3 visible-lg">服务哪些企业<br>WHO WE SERVICE</div>
                    <div class="h4 visible-md">服务哪些企业<br>WHO WE SERVICE</div>
                    <div class="h5 visible-sm">服务哪些企业<br>WHO WE SERVICE</div>
                    <div class="h6 visible-xs">服务哪些企业<br>WHO WE SERVICE</div>
                </div>
               <div class="fr line"></div>
             </div>
             </div>
            <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 col-lg-offset-1" style="margin-left:10%;margin-top:5%">
                <div class="" id="cnt1">
                    <div class="row feature">
                        <div class="col-lg-2 col-xs-2 col-sm-2 col-md-2 ahover" >
                            <div>
                                <img src="app/img/product.jpg" alt="Texto Alternativo"
                                     class="img-thumbnail">
                                <div>
                                <p class="text-left h5">产地型企业
                                <span class="icon-angle-right" style="float:right;margin-right:10%"></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-xs-2 col-sm-2 col-md-2 ahover" >
                            <div>
                                <img src="app/img/E-commerce.jpg" alt="Texto Alternativo"
                                     class="img-thumbnail">
                                <div>
                                <p class="text-left h5">生鲜电商
                                <span class="icon-angle-right" style="float:right;margin-right:10%"></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-xs-2 col-sm-2 col-md-2 ahover" >
                            <div>
                                <img src="app/img/food.jpg" alt="Texto Alternativo"
                                     class="img-thumbnail">
                                <div>
                                <p class="text-left h5">商超及餐饮企业
                                <span class="icon-angle-right" style="float:right;margin-right:10%"></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-xs-2 col-sm-2 col-md-2 ahover" >
                            <div>
                                <img src="app/img/coldChain.jpg" alt="Texto Alternativo"
                                     class="img-thumbnail">
                                <div>
                                <p class="text-left h5">第三方冷链物流企业
                                <span class="icon-angle-right" style="float:right;margin-right:1%"></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-xs-2 col-sm-2 col-md-2 ahover" >
                            <div>
                                <img src="app/img/supply-chain.jpg" alt="Texto Alternativo"
                                     class="img-thumbnail">
                                <div>
                                <p class="text-left h5">供应链管理企业
                                <span class="icon-angle-right" style="float:right;margin-right:10%"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content" >
        <div style="height:550px;" class="case">
            <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
                <div class="titleCom fix">
                  <div class="fl line" style="width:35%"></div>
                  <div class="fl titleMid" style="width:28%">
                    <div class="h3 visible-lg">全国冷链仓配资源分布图</div>
                    <div class="h5 visible-lg">The National Map of Cold Warehousing & Distribution</div>
                    <div class="h4 visible-md">全国冷链仓配资源分布图</div>
                    <div class="h6 visible-md">The National Map of Cold Warehousing & Distribution</div>
                    <div class="h5 visible-sm">全国冷链仓配资源分布图</div>
                    <div class="h7 visible-sm">The National Map of Cold Warehousing & Distribution</div>
                    <div class="h6 visible-xs">全国冷链仓配资源分布图</div>
                    <div class="h8 visible-xs">The National Map of Cold Warehousing & Distribution</div>
                </div>
               <div class="fr line" style="width:35%"></div>
               </div>
             </div>
            <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12" style="margin-top:0px;margin-bottom: 0px">
                <div class="chart" id="mapChart" style="height:390px;width: 80%;margin-left: 10%;margin-top: 1%;margin-bottom: 1%;"></div>
            </div>
        </div>
    </div>
</div>
