<div style="width:100%;height: 150px;border:1px solid #000;" class="bs-example">
</div>
<div>
	<section class="content">
		<div style="width:80%;text-align:center;margin:auto;">
		<div class="panel panel-default">
  		<div class="panel-body">
		<tabset>
		<tab heading="单件查询">
		  <div class="tab-pane active">
		    <tabset  class="nav nav-pills nav-stacked pull-right col-lg-12">
		      <tab heading="温度">
		       <div id="wendu" class="tab-pane in active">
					<div class="col-lg-12">
						<div id="chart" style="height:250px;">
						</div>
					</div>
				</div>
		      </tab>
		      <tab heading="追踪">
		        <div id="zhuizong" class="tab-pane">
					<div class="row">
						<div class="col-lg-12">
							<!-- The time line -->
							<ul class="timeline">
								<!-- timeline time label -->
								<li class="time-label"><span class="bg-blue">
										物品开始运输 </span></li>
								<li ng-repeat="item in singleInfo.ananysis"><i
									class="fa fa-truck bg-blue"></i>
									<div class="timeline-badge {{item.highestTemperature>-9?'down':'up'}}">
									<span class="icon-truck" aria-hidden="true"></span>
									</div>
							         <div class="timeline-panel">
							           <div class="timeline-heading">
							             <h4 class="timeline-title">{{item.startTime}}</h4>
							           </div>
							           <div class="timeline-body"><!---Time Line Body&Content--->
							             <p>{{item.location}},温度&nbsp;({{item.lowestTemperature}}°C
												~ {{item.highestTemperature}}°C)</p>
							           </div>
							         </div>
								</li>
								<!-- END timeline item -->
								<li><i class="fa fa-clock-o bg-gray"></i></li>
							</ul>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
		      </tab>
		      <tab heading="分析">
		        <div id="fenxi" class="tab-pane" style="min-height: 250px;">
		        <div class="row">
		        <div class="col-lg-4 center-block">
			        <br />
			        <div class="col-lg-12">
	                    <div class="col-lg-8 stats-item bg-primary">
	                        <div class="header-item">货物流转</div>
	                        <div class="data-item"><strong>{{singleInfo.ananysis.length}}</strong><small>个冷藏点</small></div>
                    	</div>       
		            </div>
		        </div>
		        <div class="col-lg-4 text-center">
			        <br />
			        <div class="col-lg-12">
	                    <div class="col-lg-8 stats-item bg-primary">
	                        <div class="header-item">冷藏存储</div>
	                        <div class="data-item">36小时</div>
                    	</div>       
		            </div>
		        </div>
		        <div class="col-lg-4 text-center">
			        <br />
			        <div class="col-lg-12">
	                    <div class="col-lg-8 stats-item bg-primary">
	                        <div class="header-item">超标时长</div>
	                        <div class="data-item">9小时</div>
                    	</div>       
		            </div>
		        </div>
				</div>
				</div>
		        <div>					
		        <p>
					<b class="text-primary">分析结果:</b><b class="text-danger">可能存在变质风险。</b>
				</p>
				</div>
		      </tab>
		    </tabset>
		</div>
		</tab>
		<tab heading="批次查询">
		  <div class="tab-pane" id="batch" style="min-height: 300px;">
				<div class="col-sm-12">
					<div class="row">
					   <h5><strong class="col-sm-1">批次数量：</strong><b ng-bind="batchData.length"></b></h5>
					   <h5><strong class="col-sm-1">超温数量：</strong><b ng-bind="warnings"></b></h5>
					   <h5><strong class="col-sm-1">品&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</strong><b ng-bind="'未知'"></b></h5>
					   <h5><strong class="col-sm-1">生&nbsp;&nbsp;&nbsp;产&nbsp;&nbsp;商：</strong><b ng-bind="'未知'"></b></h5>
					   <h5><strong class="col-sm-1">客户编号：</strong><a href="">3021</a></h5>
					   <br>
					</div>
				</div>
				<img src="app/img/huosun.jpg" class="img-responsive">
			   <br>
				<h5 class="col-sm-1">
				   <i class="fa fa-fw fa-hand-o-right"></i>
				   <a href="#/goods-list/{{key}}">货品列表</a>
				</h5>
			</div>
		</tab>
		</tabset>
		</div>
		</div>
		</div>
	</section>
</div>