<link rel="stylesheet" type="text/css" href="app/css/personalinfo.css">
	<div class="shareMain clearfix">
	<!-- content -->
		<div class="content">
		   <p class="order">
		   		<span class="num">订单号：{{orderDto.orders.orderid}}</span>
		   		<span class="name">订单名称：{{orderDto.orders.ordername}}</span>
		   </p>
		<!-- 订单详情区域 -->
			<h4>订单详情 <span class="date">{{orderDto.orders.generatetime}}</span></h4>
			<div ng-if="orderDto.rsd.dataType==3">
			<p class="info">
				<i class="dot"></i>
				<span class="prev">订单类型:</span>
				<span class="next">[冷库]{{orderDto.rsd.typeText}}</span>
			</p>
			<p class="info">
				<i class="dot"></i>
				<span class="prev">冷库名称:</span>
				<span class="next">{{orderDto.rsd.name}}</span>
			</p>
			<p class="info">
				<i class="dot"></i>
				<span class="prev">冷库地址:</span>
				<span class="next">{{orderDto.rsd.address}}</span>
			</p>
			</div>
			
			<div ng-if="orderDto.rsd.dataType==2">
			<p class="info">
				<i class="dot"></i>
				<span class="prev">订单类型:</span>
				<span class="next">[配送]{{orderDto.rsd.typeText}}</span>
			</p>
			<p class="info">
				<i class="dot"></i>
				<span class="prev">始发地:</span>
				<span class="next">{{orderDto.rsd.unit1}}</span>
			</p>
			<p class="info">
				<i class="dot"></i>
				<span class="prev">目的地:</span>
				<span class="next">{{orderDto.rsd.unit2}}</span>
			</p>
			</div>
			
			<div ng-if="orderDto.rsd.dataType==1">
			<p class="info">
				<i class="dot"></i>
				<span class="prev">订单类型:</span>
				<span class="next">[货品]{{orderDto.rsd.typeText}}</span>
			</p>
			<p class="info">
				<i class="dot"></i>
				<span class="prev">货品类型:</span>
				<span class="next">{{orderDto.rsd.codeLave1}}</span>
			</p>
		<!-- 	<p class="info">
				<i class="dot"></i>
				<span class="prev">目的地:</span>
				<span class="next">{{orderDto.rsd.toaddress}}</span>
			</p> -->
			</div>
			
			<ul class="imgList imgShow">
				<li class="img pull-left" ng-repeat="pic in orderDto.files"><img src="{{pic}}" alt=""></li>
				<!-- <li class="img pull-left"><img src="../img/coldChain.jpg" alt=""></li>
				<li class="img pull-left"><img src="../img/coldChain.jpg" alt=""></li> -->
			</ul>
			<ul class="object clearfix">
				<li class="pull-left">
					<p>出租方</p>
					<p><span>姓名：</span>{{orderDto.orders.ownername}}</p>
					<!-- <p><span>联系电话:</span>{{orderDto.orders.ownertele}}</p> -->
					<p><span>地址:</span>{{orderDto.owneraddress}}</p>
				</li>
				<li class="pull-left">
					<p>租入方</p>
					<p><span>姓名：</span>{{orderDto.orders.username}}</p>
					<!-- <p><span>联系电话:</span>{{orderDto.orders.usertele}}</p> -->
					<p><span>地址:</span>{{orderDto.useraddress}}</p>
				</li>
			</ul>
			<button id="getTeleNum" class="btn btn-primary " ng-click="getTeleNum(orderDto.orders.ownertele,orderDto.orders.usertele)">获取联系方式</button>  
		<!-- 订单详情区域 end-->
		</div>
	<!-- content end-->
	</div>