	<link rel="stylesheet" type="text/css" href="app/css/personalinfo.css">
	<div class="shareMain clearfix">
	<!-- sidebar -->
		<div class="sidebar pull-left">
			<ul class="infoList">
				<li><a href="#/personalDetail"><font color="#418ACA">个人信息</font></a></li>
				<li> <a href="#/personalRdc"><font color="black">我的冷库</font></a></li>
				<li><a href="#/personalShare"><font color="black">我的发布</font></a></li>
				<li><a href="#/personalOrder"><font color="black">我的订单</font></a></li>
				<li><a href="#/personalComment"><font color="black">我的评价</font></a></li>
				<li>联系客服</li>
			</ul>
		</div>
	<!-- sidebar end -->
	<!-- content -->
		<div class="content">
		  	<h3><font color="#418ACA">个人信息</font></h3>
		  	<div class="editHead">
		  		<h4>修改头像</h4>
		  		<div class="uploadImg">
		  			<div class="imgBd inline">
		  			<img id="showimg"  ngf-thumbnail="avatar"></div>
		  			<div class="upload inline">
		  				<p>本地上传</p>
		  				<input id="headImg" type="file" ng-model="avatar" name="avatar">
		  				<p class="intro">图片格式:GIF、JPG、JPEG、PNG,最适合尺寸120*120 像素 </p>
		  			</div>
		  		</div>
		  	</div>
		  	
		  	<div class="editTel">
		  		<h4>修改联系方式</h4>
		  		<div id="tele1"><span>原手机号码：</span><i>{{oldTele}}</i>
		  		<button id="update" class="btn btn-primary">修改</button>
		  		</div>
		  		 <!-- <button id="authcode1" class="btn btn-primary">获取手机验证码</button></div> -->
		  		 
		  		 <!-- <div id="yzm1" class="hide">
				 	<span>验证码:</span>
			  		 <input type="text" class="newTel" placeholder="请输入您的验证码"><button id="confirm" class="btn btn-primary">确认</button>
				 </div> -->
		  		 <div class="lines" id="tele2"  style="display:none">
		  		 	<span>新手机号码：</span>
			  		 <input type="text" class="newTel"  ng-model="telephone" name="telephone" placeholder="请输入您的新手机号码">
			  		 <button id="authcode2" class="btn btn-primary">获取手机验证码</button>
		  		 </div>
		  		 <div class="lines" id="yzm" style="display:none">
				 	<span>验证码:</span>
			  		 <input type="text" ng-model="verifycode" class="newTel" placeholder="请输入您的验证码">
				 </div>
				 
		  	</div>
		  	
		  	<div class="editInfo">
		  		<h4>修改资料</h4>
		  		<div class="lines">
		  			<span>昵称：</span><i></i>
		  			<input type="text" class="newTel" ng-model="nickname" >
		  		</div>
		  		<div class="lines">
		  			<span>真实姓名：</span>
		  			 <input type="text" class="newTel" ng-model="realname">
		  		</div>
		  		<div class="lines">
		  			<span>邮箱：</span>
		  			 <input type="email" class="newTel" ng-model="email">
		  		</div>
				<div class="lines">
		  			<span>性别：</span>
		  			 <label>
		  			 	<input type="radio"  value="1"  name="sex" ng-model="sex">
		  			 	女
		  			 </label>
		  			 <label>
		  			 	<input type="radio"  value="2"  name="sex" ng-model="sex">
		  			 	男
		  			 </label>
		  			 <label>
		  			 	<input type="radio"  value="0"  name="sex" ng-model="sex" >
		  			 	保密
		  			 </label>
		  		</div>
				<div class="lines">
		  			<span>家乡：</span>
		  			   <select class="form-control" ng-model="hometownid" ng-disabled="editable"
                                    ng-options="x.provinceId as x.provinceName for x in provinces"></select>
		  		</div>
		  		<div class="lines">
		  			<span>常居地：</span>
		  			   <select class="form-control" ng-model="addressid" ng-disabled="editable"
                                    ng-options="x.provinceId as x.provinceName for x in provinces"></select>
		  		</div>
		  	</div>
		  	<div class="editPassword">
		  		<h4>修改密码</h4>
		  		<div class="lines">
		  			<span>昵称：</span><i>{{nickname}}</i>
		  		</div>
		  		<div class="lines">
		  			<span>旧密码：</span>
		  			 <input type="password" class="newTel" ng-model="oldPwd" placeholder="请输入旧密码">
		  		</div>
		  		<div class="lines">
		  			<span>新密码：</span>
		  			 <input type="password" ng-model="newPwd1" class="newTel" placeholder="6~16个字符">
		  			  <span ng-if="newPwd1!=''&&oldPwd==''"><font color="red">请输入旧密码</font></span>
		  		</div>
		  		<div class="lines">
		  			<span>确认密码：</span>
		  			 <input type="password" ng-model="newPwd2" class="newTel" placeholder="请再次输入密码">
		  			 <span ng-if="newPwd2!=''&&newPwd1!=newPwd2"><font color="red">两次密码不一致</font></span>
		  		</div>
		  	</div>
		  	<p class="ok"><button class="btn btn-success" ng-click="goUpdateUser()">完成修改</button></p>
		</div>
	<!-- content end-->
	</div>	
	<script>
	
$(function(){
$('#authcode2').click(function(){
		$(this).attr('disabled','disabled');
		$("#yzm").css("display","inline");
		$.post('/i/user/identityVerify',{
			telephone:$('input[name=telephone]').val()
		}, function(){
		});
	  });
	$('#update').click(function(){
		 $("#tele2").css("display","block");
	  });
    });
</script>