	<link rel="stylesheet" type="text/css" href="app/css/personalinfo.css">
	<div class="shareMain clearfix">
	<!-- sidebar -->
		<div class="sidebar pull-left">
			<ul class="infoList">
				<li><a href="#/personalDetail"><font color="black">个人信息</font></a></li>
				<li> <a href="#/personalRdc"><font color="black">我的冷库</font></a></li>
				<li><a href="#/personalPublish"><font color="black">我的发布</font></a></li>
				<li><a href="#/personalOrder"><font color="black">我的订单</font></a></li>
				<li><a href="#/personalComment"><font color="#418ACA">我的评价</font></a></li>
				<li>联系客服</li>
			</ul>
		</div>
	<!-- sidebar end -->
	<!-- content -->
		<div class="content">
		<!-- 图文列表区域 -->
			<ul class="imgList clearfix">
				<li ng-repeat="percommentdto in percommentsDto">
			 	<div class="img pull-left"><img src={{percommentdto.logo}}></div> 
					<p class="company">{{percommentdto.rdcname}}</p>
					<p class="company">{{percommentdto.commentdto.content}}</p>
					<p class="area">{{percommentdto.commentdto.grade}}</p>
					<p class="area">
						{{percommentdto.commentdto.addTime}}
						<span class="delete"  ng-click="goDeleteComment(percommentdto.commentdto.id)">删除</span>
					</p>
				</li>
			</ul>
			<div class="page">
               <!-- 翻页功能 -->
               <div class="row">
                    <pagination style="margin-left: 30%" ng-change="pageChanged()" total-items="bigTotalItems"
                             ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm"
                             boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                </div>
	     </div>
		<!-- 图文列表区域 end-->
		</div>
	<!-- content end-->
	</div>