<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人信息</title>
	<link rel="stylesheet" type="text/css" href="../css/common.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/personalinfo.css">
</head>
<body>
	<div class="shareMain clearfix">
	<!-- sidebar -->
		<div class="sidebar pull-left">
			<ul class="infoList">
				<li>个人信息</li>
				<li class="current">我的冷库</li>
				<li>我的发布</li>
				<li>我的订单</li>
				<li>我的评价</li>
				<li>最近浏览</li>
				<li>联系客服</li>
			</ul>
		</div>
	<!-- sidebar end -->
	<!-- content -->
		<div class="content">
		   <form class="bs-example bs-example-form" role="form">
		      <div class="input-group">
		         <input type="text" class="form-control" placeholder="输入库名">
		         <span class="input-group-addon">冷库搜索</span>
		      </div>
		   </form>
		<!-- 图文列表区域 -->
			<ul class="imgList">
				<li>
					<div class="img pull-left"><img src="../img/coldChain.jpg"></div>
					<p class="company">莱芜嘉禾冷链物流有限公司</p>
					<p class="area"><span class="glyphicon glyphicon-map-marker"></span>上海-长宁区-中山公园</p>
					<p class="area">
						2016-07-16
						<span class="edit">修改</span>
						<span class="delete">删除</span>
					</p>
				</li>
				<li>
					<div class="img pull-left"></div>
					<p class="company">莱芜嘉禾冷链物流有限公司</p>
					<p class="area"><span class="glyphicon glyphicon-map-marker"></span>上海-长宁区-中山公园</p>
					<p class="area">
						2016-07-16
						<span class="edit">修改</span>
						<span class="delete">删除</span>
					</p>
				</li>
			</ul>
		<!-- 图文列表区域 end-->
		</div>
	<!-- content end-->
	</div>
</body>
</html>