	<link rel="stylesheet" type="text/css" href="app/css/personalinfo.css">
	<div class="shareMain clearfix">
	<!-- sidebar -->
		<div class="sidebar pull-left" >
			<ul class="infoList">
				<li><a href="#/personalDetail"><font color="black">个人信息</font></a></li>
				<li> <a href="#/personalRdc"><font color="black">我的冷库</font></a></li>
				<li><a href="#/personalShare"><font color="black">我的发布</font></a></li>
				<li><a href="#/personalOrder"><font color="black">我的联络单</font></a></li>
				<li><a href="#/personalComment"><font color="#418ACA">我的点评</font></a></li>
				<li><a href="#/personalMessage"><font color="black">我的消息</font></a></li>
				<li><a onclick="alert('开发中，敬请期待...')"><font color="black">冷链保险</font></a></li>
				<li><a href="#/personalConnect"><font color="black">联系客服</font></a></li>
			</ul>
		</div>
	<!-- sidebar end -->
	<!-- content -->
		<div class="content">
		<!-- 图文列表区域 -->
			<ul class="imgList clearfix">
				<li ng-repeat="percommentdto in percommentsDto">
			 	<div class="img pull-left"><img ng-src={{percommentdto.logo}} alt="该冷库主比较懒，没有上传图片哦~~~~" /></div> 
					<p class="company omg"><span class="edit"  ng-click="goDetail(percommentdto.commentdto.rdcID)"><font color="#418ACA">{{percommentdto.rdcname}}</font></span></p>
					<p class="area omg">{{percommentdto.commentdto.content}}</p>
					<p class="area">{{percommentdto.commentdto.grade}}/5分</p> 
					<p class="area">
						{{percommentdto.commentdto.addTime}}
						<span class="delete detail_modal" data-toggle="modal" ng-click="goModal(percommentdto)">详情</span>
						<span class="delete"  ng-click="goDeleteComment(percommentdto.commentdto.id)">删除</span>
					</p>
				</li>
			</ul>
			<div class="page">
               <!-- 翻页功能 -->
               <div class="row">
                    <pagination style="margin-left: 30%" ng-change="pageChanged()" total-items="bigTotalItems"
                             ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm"
                             boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                </div>
	     </div>
		<!-- 图文列表区域 end-->
		</div>
		
		
		
		<!-- 模态框（Modal） -->
		<div class="modal fade" id="my_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                <h4 class="modal-title" id="myModalLabel">{{name}}</h4>
		                <p style="font-size:12px;">{{time}}</p>
		            </div>
		            <div class="modal-body">
		            	{{content}}
		            	<ul ng-show="pics.length" class="clearfix">
		            		<li ng-repeat="pic in pics" class="pull-left" style="width:30%;height:80px;margin:20px 1% 0 0;">
		            			<img ng-src={{pic.location}} style="width:100%;height:100%;"/>
		            		</li>
		            	</ul>
	            	</div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
<!-- 		                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="goDeleteComment(percommentdto.commentdto.id)">删除</button> -->
		            </div>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal -->
		</div>
	<!-- content end-->
	</div>