	<link rel="stylesheet" type="text/css" href="app/css/personalinfo.css">
	<div class="shareMain clearfix">
	<!-- sidebar -->
		<div class="sidebar pull-left">
			<ul class="infoList">
				<li><a href="#/personalDetail"><font color="black">个人信息</font></a></li>
				<li> <a href="#/personalRdc"><font color="black">我的冷库</font></a></li>
				<li><a href="#/personalShare"><font color="black">我的发布</font></a></li>
				<li><a href="#/personalOrder"><font color="black">我的联络单</font></a></li>
				<li><a href="#/personalComment"><font color="black">我的点评</font></a></li>
				<li><a href="#/personalMessage"><font color="#418ACA">我的消息</font></a></li>
				<li><a onclick="alert('开发中，敬请期待...')"><font color="black">冷链保险</font></a></li>
				<li><a href="#/personalConnect"><font color="black">联系客服</font></a></li>
			</ul>
		</div>
	<!-- sidebar end -->
	<!-- content -->
		<div class="content">
		<!-- 图文列表区域 -->
			<ul class="imgList clearfix">
				<li ng-repeat="msg in msgs">
					<div class="img pull-left">
					<img ng-src="app/img/message/message{{msg.msgcategory}}.png"></div>
					<p class="company" ng-if="msg.msgcategory==1">订单通知</p>
					<p class="company" ng-if="msg.msgcategory==2">告警通知</p>
					<p class="area omg">{{msg.msgdata}}</p>
					<p class="area">
						{{msg.informtime}}
						<span class="delete" ng-click="deleteMsg(msg.id)">删除</span>
					</p>
				</li>
			</ul>
			<div class="page">
               <!-- 翻页功能 -->
               <div class="row">
                    <pagination style="margin-left: 30%" ng-change="pageChanged()" total-items="bigTotalItems"
                             ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm"
                             boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                </div>
	     </div>
		<!-- 图文列表区域 end-->
		</div>
	<!-- content end-->
	</div>