	<link rel="stylesheet" type="text/css" href="app/css/personalinfo.css">
	<div class="shareMain clearfix">
	<!-- sidebar -->
		<div class="sidebar pull-left" >
			<ul class="infoList">
				<li><a href="#/personalDetail"><font color="black">个人信息</font></a></li>
				<li> <a href="#/personalRdc"><font color="black">我的冷库</font></a></li>
				<li><a href="#/personalShare"><font color="black">我的发布</font></a></li>
				<li><a href="#/personalOrder"><font color="black">我的联络单</font></a></li>
				<li><a href="#/personalComment"><font color="black">我的点评</font></a></li>
				<li><a href="#/personalMessage"><font color="black">我的消息</font></a></li>
				<li><a onclick="alert('开发中，敬请期待...')"><font color="black">冷链保险</font></a></li>
				<li><a href="#/personalConnect"><font color="#418ACA">联系客服</font></a></li>
			</ul>
		</div>
	<!-- sidebar end -->
	<!-- content -->
		<div class="content">
			<p style="line-height:3;color:">联系电话：<font color="#418ACA">021-25360067 &nbsp;&nbsp;&nbsp;&nbsp; 021-25360068</font></p>
			<p style="line-height:3;">官方网站：<a href="www.liankur.com" style="text-decoration: underline;">www.liankur.com</a></p>
			<p style="line-height:3;">电子邮箱：<font color="#418ACA">postmaster@smartcold.cn</font></p>
			<p style="line-height:3;">手机版下载：</p>
			<div class="row">
	          <div class="col-xs-2" style="text-align:center;" >
	            <img style="width:100px;margin-bottom:10px;" alt="" src="assets/img/ios.png">
	            <p style="color:#666;">iPhone版下载</p>
	          </div>
	          
	          <div class="col-xs-2" style="text-align:center;">
	            <img style="width:100px;margin-bottom:10px;" alt="" src="assets/img/android.png">
	            <p style="color:#666;">Android版下载</p>
	          </div>
	        </div>
		</div> 	
	<!-- content end-->
	</div>
</body>
</html>