	<link rel="stylesheet" type="text/css" href="app/css/personalinfo.css">
	<style>
		.infos{line-height: 1.75}
		.order_title{display: inline-block;width:100px;}
	</style>
	<div class="shareMain clearfix">
	<!-- sidebar -->
		<div class="sidebar pull-left">
			<ul class="infoList">
				<li><a href="#/personalDetail"><font color="black">个人信息</font></a></li>
				<li> <a href="#/personalRdc"><font color="black">我的冷库</font></a></li>
				<li><a href="#/personalShare"><font color="black">我的发布</font></a></li>
				<li><a href="#/personalOrder"><font color="#418ACA">我的联络单</font></a></li>
				<li><a href="#/personalComment"><font color="black">我的点评</font></a></li>
				<li><a href="#/personalMessage"><font color="black">我的消息</font></a></li>
				<li><a onclick="alert('开发中，敬请期待...')"><font color="black">冷链保险</font></a></li>
				<li><a href="#/personalConnect"><font color="black">联系客服</font></a></li>
			</ul>
		</div>
	<!-- sidebar end -->
	<!-- content -->
		<div class="content">
		   <form class="bs-example bs-example-form" role="form">
		      <div class="input-group">
		         <input type="text" ng-model="keyword"  class="form-control" placeholder="输入联络单号">
		           <button class="btn btn-default" ng-click="goSearch()">联络单搜索</button>
		      </div>
		   </form>
		<!-- 图文列表区域 -->
		<ul class="imgList clearfix">
			<li ng-repeat="orderdto in ordersDto">
				<div class="img pull-left">
					<img ng-src={{orderdto.logo}}>
				</div>
				<p class="company">{{orderdto.orders.orderid}}</p>
				<p class="area omg">{{orderdto.orders.ordername}}</p>

				<div ng-if="orderdto.rsd.dataType==3">
					<p class="area">
						<span>联络单类型:</span> <span>[冷库]{{orderdto.rsd.typeText}}</span>
					</p>
				</div>

				<div ng-if="orderdto.rsd.dataType==2">
					<p class="area">
						<span>联络单类型:</span> <span>[配送]{{orderdto.rsd.typeText}}</span>
					</p>
				</div>

				<div ng-if="orderdto.rsd.dataType==1">
					<p class="area">
						<i></i> <span>联络单类型:</span> <span>[货品]{{orderdto.rsd.typeText}}</span>
					</p>
				</div>

				<p class="area">
					{{orderdto.orders.generatetime}} <span class="delete"
						data-toggle="modal" ng-click="goShowOrder(orderdto)">详情</span> <span class="delete"
						ng-click="goDeleteOrder(orderdto.orders.id)">删除</span>
				</p>
			</li>
		</ul>
		<div class="page">
               <!-- 翻页功能 -->
               <div class="row">
                    <pagination style="margin-left: 30%" ng-change="pageChanged()" total-items="bigTotalItems"
                             ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm"
                             boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                </div>
	     </div>
		<!-- 图文列表区域 end-->
		</div>
		
		
		<!-- 模态框（Modal） -->
		<div class="modal fade" id="order_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                <h4 class="modal-title" id="myModalLabel">({{appmode[0].title[datatype]}}){{rsd.title}}</h4>
		            </div>
		            <div class="modal-body" style="padding: 10px 20px;">
		            	<h4 style="color:#999;margin: 0 0 10px 0;">联络单详情   <span style="font-size: 14px;">{{orders.generatetime}}</span></h4>
		            	<p><i class="dot"></i><span class="order_title">联络单号:</span>{{orders.orderid}}</p>
		            	<p><i class="dot"></i><span class="order_title">联络单类型:</span>{{typetitle}}</p>
					    <div ng-if="datatype==3" style="padding-left: 0">
						   <p class="infos"><i class="dot"></i><span class="order_title">温度类型:</span>{{rsd.codeLave2}}</p>
						   <p class="infos"><i class="dot"></i><span class="order_title">冷库名称:</span>{{rsd.name}}</p>
						   <p class="infos"><i class="dot"></i><span class="order_title">冷库地址:</span>{{rsd.address}}</p>
						</div>
						<div ng-if="datatype==2">
						   <p class="infos"><i class="dot"></i><span class="order_title">始发地:</span>{{rsd.unit1}}</p>
						   <p class="infos"><i class="dot"></i><span class="order_title">目的地:</span>{{rsd.unit2}}</p>
						   <p class="infos"><i class="dot"></i><span class="order_title">业务类型:</span>{{rsd.codeLave1}}</p>
						   <p class="infos"><i class="dot"></i><span class="order_title">车辆类型:</span>{{rsd.codeLave3}}</p>
						   <p class="infos"><i class="dot"></i><span class="order_title">冷库温度类型:</span>{{rsd.codeLave2}}</p>
						</div>
						
						<div ng-if="datatype==1">
					        <p class="infos"><i class="dot"></i><span class="order_title">品类:</span>{{rsd.codeLave1}}</p>
						    <p class="infos"><i class="dot"></i><span class="order_title">供应商:</span>{{rsd.unit1?rsd.unit1:'不详' }}</p>
						    <p class="infos"><i class="dot"></i><span class="order_title">最大预定量:</span>{{rsd.sqm }}吨</p>
						    <p class="infos"><i class="dot"></i><span class="order_title">单价:</span>{{rsd.unitPrice == 0.00 ?"面议":rsd.unitPrice+'元/吨'}}</p>
						</div>
		            	<h4 style="color:#999;margin: 10px 0;">其他信息</h4>
						<div>
						   <p class="infos"><i class="dot"></i><span class="order_title">有效期:</span>{{rsd.validStartTime}}至{{rsd.validEndTime}}</p>
						   <p class="infos"><i class="dot"></i><span class="order_title">备注:</span>{{rsd.note?rsd.note:'无'}}</p>
						</div>
		            	<ul ng-if="rsd.files" class="clearfix">
		            		<li ng-repeat="fl in rsd.files" class="pull-left" style="width:30%;height:80px;margin:10px 1% 0 0;">
		            			<img ng-src={{fl}} style="width:100%;height:100%;"/>
		            		</li>
		            	</ul>
		            	<ul class="object clearfix">
							<li class="pull-left">
								<p>出租方</p>
								<p><span>姓名：</span>{{orders.ownername}}</p>
								<p><span>地址:</span>{{ownerUser.address}}</p>
							</li>
							<li class="pull-left">
								<p>租入方</p>
								<p><span>姓名：</span>{{orders.username}}</p>
								<p><span>地址:</span>{{orderUser.address}}</p>
							</li>
						</ul>
	            	</div>
		            <div class="modal-footer" style="padding: 10px 20px;margin-top: 0">
		                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-if="rsd" ng-click="getTeleNum()">获取联系方式</button>
		            </div>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal -->
		</div>
	<!-- content end-->
	</div>