        <link rel="stylesheet" type="text/css" href="app/css/common.css">
        <link rel="stylesheet" type="text/css" href="app/css/share_goods.css">
        <link rel="stylesheet" type="text/css" href="assets/plugins/daterangepicker2/daterangepicker-bs3.css" />
        <style>
           .shar_none{display: none;}
           .control-label{line-height: 32px;}
           .form-control{display: inline-block;}
           .input-group-addon{display: block;height: 34px;float: left;width: 49px;}
           .form-control:FOCUS{box-shadow: 0 0 2px #00A6FF !important; border-color: #00A6FF !important;}
           .sp_radio{margin-right: 60px;}
           .sp_radio input{width: 20px !important;}
            .arrdes{padding: 6px 12px;font-size: 12px;color: #555;background-color: #fff;background-image: none;border-radius: 4px; }
/*             #rdclist_info{height: 200px;overflow-y: scroll;} */
            #files{width: 65px;border: medium none;margin-top: -10px;}
           #img_list { width: 1000px; overflow: hidden;}
           #img_list span img{height:100px;width: auto;margin-left: 10px;margin-bottom: 10px;}
           /*错误提示样式*/
           label.success{display: none; } 
 	       input.error{box-shadow: 0 0 5px #d74f5a !important;border: 1px solid red !important;} 
	       input.error:FOCUS{  box-shadow: 0 0 5px #00A6FF !important; border-color: #00A6FF !important;} 
	       input.error:FOCUS+label.error{ border-color: #00A6FF;color:#00A6FF; box-shadow: 0 0 5px #00A6FF !important;}
	       input.error:FOCUS+label.error::before{ border-color: #00A6FF;}
		   label.error::before{content:"";padding:0px;margin:0px;width:10px;height:10px;position:absolute;border-left:1px solid red;border-bottom:1px solid red;background-color:white;left:-6px;top:10px;transform:rotate(45deg);}
		   label.error{float:left;position:absolute;color:red;border:1px solid red;border-radius:5px;padding:5px 20px;text-align:left;margin-left:10px;background-color:white;box-shadow:0 0 5px #d74f5a !important;}
      </style>
    
    	<div id="" class="shareMain">
			<!-- 出售和求购 -->
			<div id="item_type_div" class="{{appmode[dataType].tolimg[0]}}">
				<span id="tool1" class="{{appmode[dataType].tolimg[1]}}"  value="{{appmode[dataType].tool[0][0]}}" ng-click="changtype('#tool1')">{{appmode[dataType].tool[0][1]}}</span>
				<span id="tool2"  value="{{appmode[dataType].tool[1][0]}}" ng-click="changtype('#tool2')">{{appmode[dataType].tool[1][1]}}</span>
			</div>
			<!-- 出售和求购 end -->
			<form id="release_item_from" name="itemform"  class="formInfo" >
			    <div id="hide_div">
			      <input type="hidden" name="dataType" value="{{dataType}}">
			      <input type="hidden" name="typeCode" value="{{typeCode}}">
			      <input type="hidden" name="typeText" value="{{typeText}}">
<!-- 			      <input type="hidden" name="attrvalue"> -->
			      <input type="hidden" name="unit1" >
			      <input type="hidden" name="unit2" >
			    </div>
			    <div  class="hide mode_hide mode_2_1 infoList clearfix" style="width: 600px;">
			       <input type="hidden" name="rdcID" ng-model="rdcID">
				    <div style="width: 100%;">
				      <div style="text-indent: 8em;"><span class="sp_radio"><input type="radio" name="ro_rdc" ng-model="gl_rdc" value="1" checked="checked">关联库</span><span class="sp_radio"><input type="radio"  name="ro_rdc" value="0" ng-model="gl_rdc">不关联库</span></div>
				      <div id="rdclist_info" ng-show="gl_rdc==1">
					         <table class="table tableInfo" >
							   <tbody>
							      <tr  ng-repeat="rdc in rdclist" >
							         <td width="50">
							         	<div class="image"><img src="{{rdc.logo}}"></div>
							         </td>
							         <td>
							         	<div class="company">{{rdc.name}}</div>
							         </td>
							         <td>
										<div class="position">
							         		<span class="glyphicon glyphicon-map-marker"></span>
							         		<span class="textInfo">{{rdc.address}}</span>
							         	</div>
							         </td>
							         <td class="sp_radio">
							         <input name="rdcID_list" type="checkbox" value="{{rdc.rdcID}}">
							         </td>
							      </tr>			      
							   </tbody>
							</table>
				       </div>
				    </div>
				</div>
				<div class="infoList clearfix">
					<div class="pull-left col-sm-4  control-label " ><em>*</em>描述:</div>
					<div class="pull-left">
						<input id="tx_title" type="text" class="form-control"  name="title" >
					</div>
				</div>
				<div class="infoList clearfix">
					<div class="pull-left col-sm-4  control-label " ><em>*</em>业务类型:</div>
					<div class="pull-left">
                       <select  id="tx_attrvalue" name="codeLave1" class="form-control" >
							<option ng-repeat="x in  codeLave1" value="{{x.type_code}}">{{x.type_name}}</option>
						</select>

					</div>
				</div>
				<div class="infoList clearfix">
					<div class="pull-left col-sm-4  control-label " ><em>*</em>温度类型:</div>
					<div class="pull-left">
                       <select  id="tx_attrvalue" name="codeLave2" class="form-control" >
							<option ng-repeat="x in  codeLave2" value="{{x.type_code}}">{{x.type_name}}</option>
						</select>
					</div>
				</div>
				<div class="infoList clearfix">
					<div class="pull-left col-sm-4  control-label " ><em>*</em>车型:</div>
					<div class="pull-left">
                       <select  id="tx_attrvalue" name="codeLave3" class="form-control" >
							<option ng-repeat="x in  ps_cr_type" value="{{x.id}}">{{x.type}}</option>
						</select>

					</div>
				</div>
			   <div class="infoList clearfix  ">
					<div class="pull-left col-sm-4 control-label ">单价:</div>
					<div class="pull-left">
						<input type="text"  class="form-control" name="unitPrice"  placeholder="面议"><span class="count">{{appmode[dataType].lab[1][1]}}</span>
					</div>
				</div>
				<div id="" >
					<div class="infoList clearfix city">
						<div class="pull-left" style="margin-top: 10px;" ><em>*</em>线路:</div>
						<div  class="pull-left" >
						    <div style="width: 600px;"> 
						             <span class="">出发地</span>
									 <select id="sl_provinceId1" name="provinceId1" class="arrdes" style="width: 100px;"   ng-model="stprovinceID" ng-disabled="editable" ng-change="changcity1()" ng-options="x.provinceId as x.provinceName for x in provinces"></select>
									 <input class=""  name="stprovinceID"  type="hidden" value="{{stprovinceID}}">
									 <select id="sl_cityid1" name="stcityID" class="arrdes" style="width: 100px;"  >
										<option ng-repeat="x in city1" value="{{x.cityID}}">{{x.cityName}}</option>
									 </select>
									 <input type="text"   name="staddress" class="arrdes" style="width:200px" >
							 </div>
							 <div style="width: 600px;">
							         <span class="">目的地</span>
									 <select id="sl_provinceId2" name="provinceId2"  class="arrdes" style="width: 100px;"  ng-model="toprovinceID" ng-disabled="editable" ng-change="changcity2()" ng-options="x.provinceId as x.provinceName for x in provinces"></select>
									 <input  name="toprovinceID"  type="hidden" value="{{toprovinceID}}">
									 <select id="sl_cityid2" name="tocityID"  class="arrdes" style="width: 100px;" >
										<option ng-repeat="x in city2" value="{{x.cityID}}">{{x.cityName}}</option>
									 </select>
									 <input type="text"  name="toaddress" class="arrdes" style="width:200px;" ><span>（选填）</span>
							 </div>
						</div>
					</div>
				</div>
				<div class="infoList clearfix infoDate">
					<div class="pull-left col-sm-4 control-label "><em>*</em>信息有效期:</div>
					<div class="pull-left">
		                       <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
		                       <input type="text" style="width: 400px" name="reservation" id="reservationtime" class="form-control"   class="span4"/>
		                       <input id="hl_validStartTime" type="hidden" name="validStartTime"/>
		                       <input id="hl_validEndTime"   type="hidden" name="validEndTime"/>
					</div>
				</div>
				<div class="infoList clearfix">
					<div class="pull-left col-sm-4 control-label "><em>*</em>联系电话:</div>
					<div class="pull-left">
						<input type="text" placeholder="" class="form-control" name="telephone" value="{{user.telephone}}">
					</div>
				</div>
				<div class="infoList clearfix">
					<div class="pull-left">备注:</div>
					<div class="pull-left">
						<textarea name="note" placehoder="可填" class="form-control"></textarea>
					</div>
				</div>
				<div class="infoList clearfix">
					<div class="pull-left">图片:</div>
					<div class="pull-left">
					    <output id="img_list"></output>
						<input type="file" id="files" ngf-select="addFiles($files)" ng-model="files"  ngf-multiple="true" name="files">
					</div>
				</div>
				<button class="btn btn-primary" ng-click="submit()">提交</button>
			</form>
    	</div>
