<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>出售</title>
        <link rel="stylesheet" type="text/css" href="app/css/common.css">
        <link rel="stylesheet" type="text/css" href="app/css/share_goods.css">
        <link rel="stylesheet" type="text/css" href="app/css/release_item_list.css">
        <style type="text/css">
            #nodata_div{ position:fixed;left:43%;top:25%;margin-left:width/2;margin-top:height/2; }
        </style>
    </head>
    <body>
    	<div id="shareMain_list" class="shareMain hide">
    	  <div id="dataList_div">
			<div id="item_type_div" class="{{appmode[dataType].tolimg[0]}}">
				<span id="tobal_1" class="{{appmode[dataType].tolimg[1]}}"  value="{{appmode[dataType].tool[0][0]}}" ng-click="changtype('#tobal_1')">{{appmode[dataType].tool[0][1]}}</span>
				<span id="tobal_2" value="{{appmode[dataType].tool[1][0]}}" ng-click="changtype('#tobal_2')">{{appmode[dataType].tool[1][1]}}</span>
			</div>
			<!-- 出货和求货 end -->
			<!-- 仓储信息区域start -->
			<div id="nodata_div" class="hide">
				<p class="sorry">抱歉！ 本地未找到您所需库的信息，如需发布出租或关联库信息请先添加冷库信息！</p>
				<p class="sorry" ><button class="btn btn-primary" ng-click="goaddrdcpag();">添加冷库信息</button>　　<button  class="btn btn-success" ng-show="{{dataType!=3}}" ng-click="simplyitem();"   >不关联库发布</button></p>
			</div>
			<table class="table tableInfo" style="width:80%;">
			   <tbody>
			      <tr  ng-repeat="rdc in rdclist" >
			         <td width="50">
			         	<div class="image"><img src="{{rdc.logo}}"></div>
			         </td>
			         <td>
			         	<div class="company">{{rdc.name}}</div>
			         </td>
			         <td>
						<div class="position">
			         		<span class="glyphicon glyphicon-map-marker"></span>
			         		<span class="textInfo">{{rdc.address}}</span>
			         	</div>
			         </td>
			         <td width="254">
			         	<button class="btn btn-primary" ng-click="releaseitem(rdc);" >{{appmode[dataType].btn}}</button>
			         </td>
			      </tr>			      
			   </tbody>
			</table>
			<div ng-if="bigTotalItems>0" class="row" style="text-align: center;margin: 0px auto;width: 80%;">
			   <pagination  total-items="bigTotalItems"  ng-change="pageChanged()" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
			     <a style="float: right;width: 254px; text-align: center;" varlue="{{dataType}}">
					  <button  class="btn btn-success" ng-show="{{dataType!=3}}" ng-click="simplyitem();" >不关联库发布</button>
				</a>
			 </div>
			
	     </div>
			 
		<div id="nologin_div" class="hide">
			<p class="sorry">抱歉！ 您还没有登录，请登录后执行该操作！</p>
			<p class="sorry" ><button class="btn btn-primary" ng-click="goLogin();">添加</button></p>
		</div>	 
    	</div>
    </body>
</html>