<div>
    <section>
      <div class="row" style="height: 75px;width: 100%"></div>
    </section>
    <section>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
	    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
        <h1>我要点评</h1>
          <div class="row">
            <ul class="breadcrumb">
                <li>
                    <a href="#/coldStorageComment/{{rdc.id}}">{{rdc.name}}</a>
                </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
          <form class="navbar-form navbar-left">
		    <div class="form-group">
		      <label>评分：</label>
              <span star rating-value="ratingVal[0]" max="max" order="0" on-click="onClick" readonly="{{readonly}}"></span>
              <label class="text-danger" ng-show="ratingMention[0]">* 综合评分不能为0</label>
		    </div>
		  </form>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
          <form class="navbar-form navbar-left">
		    <div class="form-group">
		      <label>温度：</label>
              <span star rating-value="ratingVal[0]" max="max" order="2" on-click="onClick" readonly="{{readonly}}"></span>
              <label class="text-danger" ng-show="ratingMention[2]">* 温度评分不能为0</label>
		    </div>
		  </form>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
          <form class="navbar-form navbar-left">
		    <div class="form-group">
		      <label>设施：</label>
              <span star rating-value="ratingVal[0]" max="max" order="1" on-click="onClick" readonly="{{readonly}}"></span>
              <label class="text-danger" ng-show="ratingMention[1]">* 设施评分不能为0</label>
		    </div>
		  </form>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
          <form class="navbar-form navbar-left">
		    <div class="form-group">
		      <label>服务：</label>
              <span star rating-value="ratingVal[0]" max="max" order="3" on-click="onClick" readonly="{{readonly}}"></span>
              <label class="text-danger" ng-show="ratingMention[3]">* 服务评分不能为0</label>
		    </div>
		  </form>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
          <form class="navbar-form navbar-left">
		    <div class="form-group">
		      <label>卫生：</label>
              <span star rating-value="ratingVal[0]" max="max" order="4" on-click="onClick" readonly="{{readonly}}"></span>
              <label class="text-danger" ng-show="ratingMention[4]">* 卫生评分不能为0</label>
		    </div>
		  </form>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
          <form class="navbar-form navbar-left" style="width:100%">
		      <label style="">点评：</label>
		    <div class="form-group" style="width:100%;">
              <textarea style="height:150px;width:100%;" ng-model="content" ng-blur="blur(content)" placeholder="跟大家分享一下您对我们冷库的感受吧(最多200字)~" maxlength="200">
              </textarea>
		    <label ng-bind="reviewMention" class="text-danger"></label>
		    </div>
		  </form>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
          <form class="navbar-form navbar-left">
		    <label style="">上传图片：</label>
		    <div class="form-group">
		    <form ng-app="fileUpload" name="form">
		       <button class="btn btn-success" ngf-select="addFiles($files)" 
		       ng-model="files" ngf-multiple="true" ngf-pattern="'.png,.jpg,.jpeg'">上传图片</button>
		       <small class="text-warning" style="margin-left:30px;">*最多五张(必须为.jpg,.png,.jpeg格式)</small>
            </form>  
		    </div>
		  </form>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
          <label ng-repeat="file in totalfiles" style="margin-left:20px"><span ng-bind="file.name"></span>
           <i class="icon-remove-sign danger" style="margin-right:10px;color:red;" ng-click="drop(file)"></i>
           </label>
        </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <form>
                            <button class="btn btn-primary" ng-click="submit()">提交点评</button>
                        </form>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <div class="panel panel-default" style="margin-top:100px;border-style: dotted;border-width: 1px;">
	         <div class="panel-body">
	          <div style="border-bottom-style: dotted;border-bottom-width: 1px;">
	            <h3>{{rdc.name}}</h3>
	            <p>评分：
	              <i class="{{score < 0.5? 'icon-star-empty': score >= 0.5 && score < 1? 'icon-star-half' :'icon-star'}}"></i>
                  <i class="{{score < 1.5? 'icon-star-empty': score >= 1.5 && score < 2? 'icon-star-half' :'icon-star'}}"></i>
                  <i class="{{score < 2.5? 'icon-star-empty': score >= 2.5 && score < 3? 'icon-star-half' :'icon-star'}}"></i>
                  <i class="{{score < 3.5? 'icon-star-empty': score >= 3.5 && score < 4? 'icon-star-half' :'icon-star'}}"></i>
                  <i class="{{score < 4.5? 'icon-star-empty': score >= 4.5 && score < 5? 'icon-star-half' :'icon-star'}}"></i>
	            </p>
	            <p>
	              温度:{{rdcPositionScore}} 设施:{{rdcFacility}} 服务:{{rdcService}} 卫生:{{rdcHealth}}
	            </p>
	          </div>
	          <div>
	            <h4>最新点评</h4>
	            <p><a>{{lastComment.commerName}}</a> 总体评价:{{lastComment.grade}}星</p>
	            <p>{{lastComment.content}}</p>
	          </div>
	         </div>
          </div>
        </div>
      </div>
    </section>
</div>