<div>
    <section>
      <div class="row" style="height: 75px;width: 100%"></div>
    </section>
    <section>
      <div class="row">
        <div class="col-lg-6 col-lg-offset-1">
	    <div class="col-lg-10 col-lg-offset-2">
        <h1>我要点评</h1>
          <div class="row">
            <ul class="breadcrumb" style="padding-left: 45px">
                <li>
                    <a href="#">{{rdc.name}}</a>
                </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
          <form class="navbar-form navbar-left">
		    <div class="form-group">
		      <label>评分：</label>
              <span star rating-value="ratingVal[0]" max="max" order="0" on-click="onClick" readonly="{{readonly}}"></span>
		    </div>
		  </form>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
          <form class="navbar-form navbar-left">
		    <div class="form-group">
		      <label>温度：</label>
              <span star rating-value="ratingVal[0]" max="max" order="2" on-click="onClick" readonly="{{readonly}}"></span>
		    </div>
		  </form>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
          <form class="navbar-form navbar-left">
		    <div class="form-group">
		      <label>位置：</label>
              <span star rating-value="ratingVal[0]" max="max" order="1" on-click="onClick" readonly="{{readonly}}"></span>
		    </div>
		  </form>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
          <form class="navbar-form navbar-left">
		    <div class="form-group">
		      <label>服务：</label>
              <span star rating-value="ratingVal[0]" max="max" order="3" on-click="onClick" readonly="{{readonly}}"></span>
		    </div>
		  </form>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
          <form class="navbar-form navbar-left">
		    <div class="form-group">
		      <label>卫生：</label>
              <span star rating-value="ratingVal[0]" max="max" order="4" on-click="onClick" readonly="{{readonly}}"></span>
		    </div>
		  </form>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
          <form class="navbar-form navbar-left">
		      <label style="">点评：</label>
		    <div class="form-group">
              <textarea style="height:150px;width:500px;" ng-model="content">
              </textarea>
		    </div>
		  </form>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
          <form class="navbar-form navbar-left">
		    <label style="">上传图片：</label>
		    <div class="form-group">
		    <form ng-app="fileUpload" name="form">
		       <button class="btn btn-success" ngf-select="addFiles($files)" ng-model="files" ngf-multiple="true">上传图片</button>
		       <small class="text-warning" style="margin-left:30px;">*最多五张</small>
            </form>  
		    </div>
		  </form>
        </div>
        <div class="col-lg-12 col-lg-offset-2">
          <label ng-repeat="file in totalfiles" style="margin-left:20px"><span ng-bind="file.name"></span>
           <i class="icon-remove-sign danger" style="margin-right:10px;color:red;" ng-click="drop(file)"></i>
           </label>
        </div>
         <div class="col-lg-8 col-lg-offset-2">
          <form class="navbar-form navbar-left">
		    <button class="btn btn-primary" ng-click="submit()" style="margin-left:90%;">提交点评</button>
		  </form>
        </div>
        </div>
        <div class="col-lg-3">
          <div class="panel panel-default" style="margin-top:100px;border-style: dotted;border-width: 1px;">
	         <div class="panel-body">
	          <div style="border-bottom-style: dotted;border-bottom-width: 1px;">
	            <h3>{{rdc.name}}</h3>
	            <p>评分：
	              <i class="icon-star"></i>
	              <i class="icon-star"></i>
	              <i class="icon-star"></i>
	              <i class="icon-star-half"></i>
	              <i class="icon-star-empty"></i>
	            </p>
	            <p>
	              位置:9.0 设施:9.5 服务:9.0 卫生:9.0
	            </p>
	          </div>
	          <div>
	            <h4>最新点评</h4>
	            <p><a>{{lastComment.commerName}}</a> 总体评价:{{lastComment.grade}}星</p>
	            <p>{{lastComment.content}}</p>
	          </div>
	         </div>
          </div>
        </div>
      </div>
    </section>
</div>