<div>
  <div style="width:100%;height: 150px;" class="bs-example">
    <img src="app/img/newbackground.jpg" style="width:100%;height: 150px;">
  </div>
  <div class="content">
    <div class="row" style="height:300px;">
      <div class="col-lg-3">
      </div>
      <div class="col-lg-6">
	    <div style="text-align:center;margin:auto;">
	      <img src="app/img/search.jpeg" style="height:200px;text-align:center;margin:auto;">
	      <div class="caption">
	        <div class="input-group">
			  <input type="text" class="form-control" placeholder="货物编号" aria-describedby="basic-addon2" ng-model="key">
			  <span class="input-group-btn">
		        <button class="btn btn-primary" type="button" ng-click="search()">搜索</button>
		      </span>
			</div>
	      </div>
	    </div>
	  </div>
	  <div class="col-lg-3">
      </div>
    </div>
  </div>

</div>