	<link rel="stylesheet" type="text/css" href="assets/plugins/daterangepicker2/daterangepicker-bs3.css" />
	<link rel="stylesheet" type="text/css" href="app/css/personalinfo.css">
	<div class="shareMain clearfix">
	<!-- sidebar -->
		<div class="sidebar pull-left">
			<ul class="infoList">
				<li><a href="#/personalDetail"><font color="black">个人信息</font></a></li>
				<li> <a href="#/personalRdc"><font color="black">我的冷库</font></a></li>
				<li><a href="#/personalShare"><font color="#418ACA">我的发布</font></a></li>
				<li><a href="#/personalOrder"><font color="black">我的联络单</font></a></li>
				<li><a href="#/personalComment"><font color="black">我的点评</font></a></li>
				<li><a href="#/personalMessage"><font color="black">我的消息</font></a></li>
				<li><a onclick="alert('开发中，敬请期待...')"><font color="black">冷链保险</font></a></li>
				<li><a href="#/personalConnect"><font color="black">联系客服</font></a></li>
			</ul>
		</div>
	<!-- sidebar end -->
	<!-- content -->
		<div class="content">
	<div>
	<div  ng-if="rdcsharedto.rdcID!=undefined&&rdcsharedto.rdcID!=0"  style="margin-bottom: 0;">
      <ul>
			<li>
				<div style="padding-left: 145px;margin-bottom: 20px;">
					<p>
						<img alt="" ng-src="{{rdcdto.logo}}" style="width:50px;height:50px;border-radius:50%;">
						<font color="#428bca">{{rdcdto.name}}</font>&nbsp;&nbsp;
						<font size="1"><span class="glyphicon glyphicon-map-marker"></span>{{rdcdto.address}}</font>
					</p>
				</div>
			</li>
		</ul>
    </div>
			<form id="release_item_from" name="itemform" >
            <ul class="houseinfo">
                <li>
                    <label for="name"><em>*</em>描述:</label>
                    <input type="text" ng-model="title"  id="name" placeholder="货品出售"/>
                </li>
                <li class="bossToggle" ng-if="rdcsharedto.typeCode==1">
                    <label for="boss">供应商:</label>
                    <input type="text" ng-model="unit1" id="boss"/>
                </li>
                 <li class="offershow">
                    <label for="province"><em>*</em>省:</label>
                    	<select id="province" ng-model="provinceId" ng-disabled="editable" name="provinceId"
                                    ng-change="provinceSelected(provinceId)"
                                    ng-options="x.provinceId as x.provinceName for x in provinces"></select>
                      
                 </li>
                 <li class="offershow">
                    <label for="city"><em>*</em>市:</label>
	                <select id="city" ng-model="cityId" name="cityid"
                                    ng-disabled="editable" ng-change="citySelected(cityId)"
                                    ng-options="x.cityID as x.cityName for x in citys"></select>
                      
                 </li>
                <li>
                    <label for="category"><em>*</em>品类:</label>
                    <select  id="good_type" name="codeLave11" ng-model="codeLave11">
                       <option ng-repeat="x in  good_type" value="{{x.type_code}}">{{x.type_name}}</option>
                    </select>
                     
                </li>
                <li>
                    <label for="num"><em>*</em>数量:</label>
                    <input type="text" id="num" placeholder="吨" ng-model="sqm"/>
                </li>
                <li>
                    <label for="price">单价:</label>
                    <input type="text" ng-model="unitprice" id="price" placeholder="元/吨（面议）"/>
                </li>
                <li>
                	<label for="time"><em>*</em>信息有效期:</label>
					<div style="width:450px;margin-left: 20px;display: inline-block;">
                       <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                       <input type="text" style="width: 400px" name="reservation" id="reservationtime" class="form-control "   class="span4"/>
                       <input id="hl_validStartTime" type="hidden" name="validStartTime"/>
                       <input id="hl_validEndTime"   type="hidden" name="validEndTime"/>
					</div>
                </li>
               <!--  <li>
					<label for="time"><em>*</em>有效开始时间:</label>
					<input type="text" placeholder="请选择开始时间" ng-model="validStartTime" id="sttime" class="kbtn"/>
				</li>
				
				<li>
					<label for="time"><em>*</em>有效结束时间:</label>
					<input type="text" placeholder="请选择结束时间" id="endtime" ng-model="validEndTime" class="kbtn"/>
				</li> -->
                <li>
                    <label for="phone"><em>*</em>联系电话:</label>
                    <input type="text" id="phone" ng-model="telephone" />
                </li>
                <li>
                    <label for="note">备注:</label>
                    <input type="text" ng-model="note" id="note" placeholder="（选填）"/>
                </li>
                <li class="infoList clearfix">
					<div class="pull-left" style="padding-right: 0">图片:</div>
					<div class="pull-left" style="margin-left:20px;">
						<output id="img_list1" class="img_list">
							<span ng-repeat="honorfile in totalfiles"><img class="thumb"
								ngf-src="honorfile" title="{{honorfile.name}}"><i
								ng-click="drophonor(honorfile)">×</i></span>
						</output>
						<a href="javascript:;" class="file">选择文件
							<input type="file" id="files" ngf-select="addFiles($files)" 
							ng-model="files"  ngf-multiple="true" name="files" >
						</a>
					</div>
				</li>
            </ul>
        </form>
        <button class="btn btn-primary" ng-click="goodSubmit()"  style="margin-left: 180px;">确认修改</button>
</div>
</div>
</div>