<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
				"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.manage.cold.dao.olddb.ColdstorageTempsetMapper">

	<select id="getItem" parameterType="map" resultType="String">
	  SELECT `oids` from coldstoragetempset where `rdcId`=#{rdcId} and `userid`=#{userId};
	</select>
	<delete id="delItem">
	
	</delete>
	
    <insert id="addItem" parameterType="map">
        INSERT INTO `coldstoragetempset` (`rdcId` ,`userId`,`oids`  ,`addtime`)VALUES(#{rdcId},#{userId} ,#{oids},now());
    </insert>
    
    <update id="upItem" parameterType="map">
	     update coldstoragetempset  set    `oids`=#{oids}   where `rdcId`=#{rdcId} and `userId`=#{userId} ;
    </update>
    
	
</mapper>