<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.manage.cold.dao.olddb.ColdStorageDoorMapper">

    <select id="findLastNPoint" parameterType="map" resultType="ColdStorageDoorEntity">
        SELECT *
        FROM `ColdStorageDoor` WHERE `coldStorageDoorId` = #{coldStorageDoorId}
        order by `addTime` desc
        limit #{npoint}
    </select>
    
    <select id="findInfoByIdTime" parameterType="map" resultType="ColdStorageDoorEntity">
        SELECT *
        FROM `ColdStorageDoor` WHERE 
        `coldStorageDoorId` IN 
        <foreach item="item" index="index" collection="coldStorageDoorIds"
             open="(" separator="," close=")">
          #{item}
        </foreach> 
        AND `addTime` >= #{startTime} AND `addTime` <![CDATA[ < ]]> #{endTime}
        order by `addTime` desc
    </select>

</mapper>