<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.manage.cold.dao.olddb.CompressorGroupMapper">

	<select id="findLastNPoint" parameterType="map" resultType="CompressorGroupEntity">
		SELECT *
		FROM `CompressorGroup` WHERE `groupId` = #{groupId}
		order by `addTime` desc
		limit #{npoint}
	</select>
	
	<select id="findPoitByTime" parameterType="map" resultType="CompressorGroupEntity">
		SELECT *
		FROM `CompressorGroup` WHERE `groupId` = #{groupId} AND `addTime` >= #{begin} AND #{end} >= `addTime`
		order by `addTime` desc
	</select>

</mapper>