<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.manage.cold.dao.olddb.CongfigMapper">
	<select id="getEBMappingByRdcId" parameterType="map" resultType="ConversionEntity">
	  select * from conversionset where rdcId=#{rdcId};
	</select>
	<select id="getObjMappingByRdcId" parameterType="map" resultType="map">
	  SELECT id,mapping from `${table}` where `rdcid`=#{rdcId} and `mapping`!='{}' and `mapping` is not null;
	</select>
	<select id="getBlowerMappingByRdcId" parameterType="map" resultType="map">
	 SELECT a.`id`,a.`mapping` from `blowerset` a LEFT JOIN `coldstorageset` b on a.`coldStorageId`=b.id and b.`RDCID`=#{rdcId} and a.`mapping`!='{}' and a.`mapping` is not null;
	</select>
	<select id="getWindscMappingByRdcId" parameterType="map" resultType="map">
	 SELECt a.`id`,a.`mapping` from `windscreenset` a LEFT JOIN `coldstorageset` b on a.`coldStorageId`=b.`id` and b.`rdcid`=#{rdcId} and a.`mapping`!='{}' and a.`mapping` is not null;
	</select>
	<select id="getCompreMappingByRdcId" parameterType="map" resultType="map">
	 SELECt * from `compressorset` a LEFT JOIN `compressorgroupset` b on a.compressorgroupid=b.id and b.rdcid=#{rdcId} and a.`mapping`!='{}' and a.`mapping` is not null;
	</select>
	<select id="getEvaporativeMappingByRdcId" parameterType="map" resultType="map">
	SELECt a.`id`,a.`mapping` from `evaporativewaterset` a LEFT JOIN `evaporativeset` b on a.evaporativeid=b.id and b.rdcid=#{rdcId} and a.`mapping`!='{}' and a.`mapping` is not null;
	</select>
	<select id="getEBMappingByRdcId" parameterType="map" resultType="map">
	SELECt a.`id`,a.`mapping` from `evaporativeblowerset` a LEFT JOIN `evaporativeset` b on a.evaporativeid=b.id and b.rdcid=#{rdcId} and a.`mapping`!='{}' and a.`mapping` is not null;
	</select>

</mapper>