<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.manage.cold.dao.olddb.QuantitySetMapper">
	
	
	
    <!-- 计算Q   -->
    <select id="getcoldstoragedoorset" parameterType="map" resultType="map">
		 SELECT rdcid,coldstorageid, group_concat(id) ids  FROM `coldstoragedoorset` GROUP BY coldstorageid;
	</select>
	
	<select id="findFanPower" parameterType="map" resultType="map">
		select coldStorageId,group_concat(`id`) ids ,group_concat(`fanPower`) fanPowers  from blowerset where  `fanPower` >0 
		<if test="ids!=null"> and coldStorageId in(${ids}) </if> 
		<if test="ids==null"> GROUP BY `coldStorageId` </if> 
	</select>
    <select id="findFrostPower" parameterType="map" resultType="map">
		select coldStorageId,group_concat(`id`) ids ,group_concat(`frostPower`) frostPowers  from blowerset where  `frostPower` >0 
		<if test="ids!=null"> and coldStorageId in(${ids}) </if> 
		<if test="ids==null"> GROUP BY `coldStorageId` </if> 
	</select>
	
    <select id="getPowerGroupByRDC" parameterType="map" resultType="map">
		SELECT  rdcid, group_concat(id) ids ,group_concat(power) powers
	    <if test="rdcid!=null">,sum(power)/COUNT(*) avgpower </if> 
	    FROM `${talbe}` where `power` >0 
		<if test="rdcid!=null"> and rdcid in(${rdcid}) </if> 
		GROUP BY rdcid;
	</select>
	<!-- 计算开门次数 -->
    <select id="getColdstorageset" parameterType="map" resultType="map">
	  select * from(SELECT
			ct.`id`,
			ct.`length` * ct.`width` * ct.`height` AS cgvolume,
			(
				SELECT
					enthalpy
				FROM
					sc360.airenthalpy
				WHERE
					humidity = inhumidity
				AND temperature = ceil(
					(
						SELECT
							avg(`value`)
						FROM
							`sc360`.`coldstorageanalysis` sis
						WHERE
							sis.`type` =1
						AND sis.oid = ct.id
						AND sis.`key` = "AvgTemp"
						AND TO_DAYS(NOW()) - TO_DAYS(sis.`date`) &lt;= 30
                        
					)
				)
			) AS hn,
			(
				SELECT
					enthalpy
				FROM
					sc360.airenthalpy
				WHERE
					humidity = outhumidity
				AND temperature =
				IF (
					ct.`refoid`,
					ceil(
						(
							SELECT
								avg(`value`)
							FROM
								`sc360`.`coldstorageanalysis` sis
							WHERE
								sis.`type` = 1
							AND sis.oid = ct.`refoid`
							AND sis.`key` = "AvgTemp"
							AND TO_DAYS(NOW()) - TO_DAYS(sis.`date`) &lt;= 30
						)
					),
					ct.`outtempe`
				)
			) AS hw,
			(
				SELECT
		
				IF (
					MIN(`value`) = MAX(`value`),
					MIN(`value`),
					MIN(`value`) + (MAX(`value`) - MIN(`value`)) * (6000 - MIN(`volume`)) / (
						MAX(`volume`) - MIN(`volume`)
					)
				) AS vvlue
				FROM
					`ventilationset`
				WHERE
					abs(`volume` - cgvolume) = (
						SELECT
							min(abs(`volume` - cgvolume))
						FROM
							ventilationset
					)
			) AS vvalue
		FROM
			`coldstorageset` ct
		WHERE
			ct.`length` IS NOT NULL
		AND ct.`width` IS NOT NULL
		AND ct.`height` IS NOT NULL
		AND ct.inhumidity IS NOT NULL
		AND ct.outhumidity IS NOT NULL
		AND (
			ct.refoid IS NOT NULL
			OR ct.outtempe IS NOT NULL
		))as A1 where hn IS NOT NULL and hw IS NOT NULL ;
	</select>
</mapper>