<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartcold.manage.cold.dao.olddb.RdcSensorMapper">
  <resultMap id="BaseResultMap" type="com.smartcold.manage.cold.entity.olddb.RdcSensor">
    <id column="RSID" jdbcType="INTEGER" property="rsid" />
    <result column="SID" jdbcType="INTEGER" property="sid" />
    <result column="RdcID" jdbcType="INTEGER" property="rdcid" />
    <result column="Sx" jdbcType="INTEGER" property="sx" />
    <result column="Sy" jdbcType="INTEGER" property="sy" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="oid" jdbcType="INTEGER" property="oid" />
    <result column="key" jdbcType="VARCHAR" property="key" />
  </resultMap>
  <sql id="Base_Column_List">
    RSID, SID, RdcID, Sx, Sy,`type`,`oid`,`key`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from RdcSensor
    where RSID = #{rsid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from RdcSensor
    where RSID = #{rsid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.smartcold.manage.cold.entity.olddb.RdcSensor">
    insert into RdcSensor (RSID, SID, RdcID,
    Sx, Sy, ColdStorageID, type, oid, key)
    values (#{rsid,jdbcType=INTEGER}, #{sid,jdbcType=INTEGER}, #{rdcid,jdbcType=INTEGER},
    #{sx,jdbcType=INTEGER}, #{sy,jdbcType=INTEGER}, #{coldstorageid,jdbcType=INTEGER}, 
    #{type,jdbcType=INTEGER},#{oid,jdbcType=INTEGER},#{key,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.smartcold.manage.cold.entity.olddb.RdcSensor">
    insert into RdcSensor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rsid != null">
        RSID,
      </if>
      <if test="sid != null">
        SID,
      </if>
      <if test="rdcid != null">
        RdcID,
      </if>
      <if test="sx != null">
        Sx,
      </if>
      <if test="sy != null">
        Sy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rsid != null">
        #{rsid,jdbcType=INTEGER},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="rdcid != null">
        #{rdcid,jdbcType=INTEGER},
      </if>
      <if test="sx != null">
        #{sx,jdbcType=INTEGER},
      </if>
      <if test="sy != null">
        #{sy,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smartcold.manage.cold.entity.olddb.RdcSensor">
    update RdcSensor
    <set>
      <if test="sid != null">
        SID = #{sid,jdbcType=INTEGER},
      </if>
      <if test="rdcid != null">
        RdcID = #{rdcid,jdbcType=INTEGER},
      </if>
      <if test="sx != null">
        Sx = #{sx,jdbcType=INTEGER},
      </if>
      <if test="sy != null">
        Sy = #{sy,jdbcType=INTEGER},
      </if>
    </set>
    where RSID = #{rsid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smartcold.manage.cold.entity.olddb.RdcSensor">
    update RdcSensor
    set SID = #{sid,jdbcType=INTEGER},
    RdcID = #{rdcid,jdbcType=INTEGER},
    Sx = #{sx,jdbcType=INTEGER},
    Sy = #{sy,jdbcType=INTEGER}
    where RSID = #{rsid,jdbcType=INTEGER}
  </update>

  <!-- self-->
  <select id="selectByRdcId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from RdcSensor
    where RdcID = #{rdcid,jdbcType=INTEGER}
  </select>
  <select id="selectBySID" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from RdcSensor
    where SID = #{sid,jdbcType=INTEGER}
  </select>
    <select id="findByOid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from RdcSensor
    where oid = #{oid,jdbcType=INTEGER}
  </select>
</mapper>