<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartcold.manage.cold.dao.olddb.SensorMapper">
  <resultMap id="BaseResultMap" type="com.smartcold.manage.cold.entity.olddb.Sensor">
    <id column="SID" jdbcType="INTEGER" property="sid" />
    <result column="Temp" jdbcType="INTEGER" property="temp" />
    <result column="Humi" jdbcType="INTEGER" property="humi" />
    <result column="AddTime" jdbcType="TIMESTAMP" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    SID, Temp, Humi, AddTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from Sensor
    where SID = #{sid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from Sensor
    where SID = #{sid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.smartcold.manage.cold.entity.olddb.Sensor">
    insert into Sensor (SID, Temp, Humi, 
      AddTime)
    values (#{sid,jdbcType=INTEGER}, #{temp,jdbcType=INTEGER}, #{humi,jdbcType=INTEGER}, 
      #{addtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.smartcold.manage.cold.entity.olddb.Sensor">
    insert into Sensor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        SID,
      </if>
      <if test="temp != null">
        Temp,
      </if>
      <if test="humi != null">
        Humi,
      </if>
      <if test="addtime != null">
        AddTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="temp != null">
        #{temp,jdbcType=INTEGER},
      </if>
      <if test="humi != null">
        #{humi,jdbcType=INTEGER},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smartcold.manage.cold.entity.olddb.Sensor">
    update Sensor
    <set>
      <if test="temp != null">
        Temp = #{temp,jdbcType=INTEGER},
      </if>
      <if test="humi != null">
        Humi = #{humi,jdbcType=INTEGER},
      </if>
      <if test="addtime != null">
        AddTime = #{addtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SID = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smartcold.manage.cold.entity.olddb.Sensor">
    update Sensor
    set Temp = #{temp,jdbcType=INTEGER},
      Humi = #{humi,jdbcType=INTEGER},
      AddTime = #{addtime,jdbcType=TIMESTAMP}
    where SID = #{sid,jdbcType=INTEGER}
  </update>
</mapper>