<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcold.manage.cold.dao.StorageDataCollectionMapper">


	<insert id="batchInsert" parameterType="StorageDataCollectionEntity">
		INSERT INTO `storageDataCollection`
		(
		`deviceid`,
		`apid`,
		`key`,
		`value`,
		`time`,
		`addtime`
		)
		VALUES
		<foreach collection="list" item="model" separator=","> 
        (           
            #{model.deviceid}, 
            #{model.apid}, 
            #{model.key}, 
            #{model.value}, 
            #{model.time}, 
            now()     
        )
    </foreach>
	</insert>
	
	<select id="findLastNPoint" parameterType="map" resultType="StorageDataCollectionEntity">
	    SELECT * FROM storagedatacollection
	    <if test="apid != null">
		    WHERE apid = #{apid} 
	    </if> 
	    ORDER BY addtime DESC 
	    LIMIT #{limit} 
	
	</select>

</mapper>