<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartcold.manage.cold.dao.olddb.TempSetMapper">

 
  <select id="getTempsetByRdcId" parameterType="Integer" resultType="com.smartcold.manage.cold.entity.olddb.TempSetEntity">
     SELECT * FROM `tempset` where rdcid=#{rdcId} ORDER BY coldstorageid asc;
  </select>
  
  <select id="getTempsetBycoldstorageid" parameterType="Integer" resultType="com.smartcold.manage.cold.entity.olddb.TempSetEntity">
    SELECT * FROM `tempset` where coldstorageid=#{coldstorageid} ;
  </select>

  
</mapper>